
<p>This is a page to help demonstrate routing.</p>
  <button class="btn btn-primary" (click)="open = true">Show modal</button>


<!-- <header class="header-6">
  <div class="branding">
    <a class="nav-link">
      <clr-icon shape="shield"></clr-icon>
      <span class="title">Angular CLI</span>
    </a>
  </div>
  <div class="header-nav">
    <a class="active nav-link nav-icon">
      <clr-icon shape="home"></clr-icon>
    </a>
    <a class=" nav-link nav-icon">
      <clr-icon shape="cog"></clr-icon>
    </a>
  </div>
  <form class="search">
    <label for="search_input">
      <input id="search_input" type="text" placeholder="Search for keywords...">
    </label>
  </form>
  <div class="header-actions">
    <clr-dropdown class="dropdown bottom-right">
      <button class="nav-icon" clrDropdownToggle>
        <clr-icon shape="user"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <div class="dropdown-menu">
        <a clrDropdownItem>About</a>
        <a clrDropdownItem>Preferences</a>
        <a clrDropdownItem>Log out</a>
      </div>
    </clr-dropdown>
  </div>
</header> -->
<!-- <nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Reports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Users</a>
    </li>
  </ul>
</nav> -->

<button type="button" class="btn btn-outline" (click)="showGraphs()">Show Graphs</button>

<!-- Modal Form -->
<clr-modal [(clrModalOpen)]="open">
  <h3 class="modal-title">I have a nice title</h3>
  <div class="modal-body">
    <p>But not much to say...</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="open = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="open = false">Ok</button>
  </div>
</clr-modal>


<!-- Graphs -->
<div #vis>
  <div>Vega-Lite Div</div>
</div>  
