<clr-main-container>
    <clr-header class="header-6">
        <div class="branding">
            <a href="http://clarityanalytics.xyz" class="nav-link">
                <span class="clr-icon ca-logo">
                <img src="../favicon.ico" height="35" width="35">
                </span>
                <span class="title">Clarity Analtyics</span>
            </a>
        </div>

        <div class="header-nav" [clr-nav-level]="1">
            <button type="button" (click)="menuToggle = ! menuToggle">
                Toggle
            </button>
            <div *ngIf="menuToggle">
                <a class="nav-link" href="#" [routerLink]="['/data']" routerLinkActive="active">
                    <span class="nav-text">Data</span>
                </a>

                <a class="nav-link" href="#" [routerLink]="['/explore']" routerLinkActive="active">
                    <span class="nav-text">Explore</span>
                </a>    

                <a class="nav-link" href="#" [routerLink]="['/present']" routerLinkActive="active">
                    <span class="nav-text">Present</span>
                </a>

                <a class="nav-link" href="#" [routerLink]="['/collaborate']" routerLinkActive="active">
                    <span class="nav-text">Collaborate</span>
                </a>

                <a class="nav-link" href="#" [routerLink]="['/help']" routerLinkActive="active">
                    <span class="nav-text">Help</span>
                </a>
            </div>

            <div *ngIf="!menuToggle">
                        
                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        File
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem>
                            New
                        </button>
                        <button type="button" clrDropdownItem>
                            Open
                        </button>
                        <button type="button" clrDropdownItem>
                            Rename
                        </button>
                        <button type="button" clrDropdownItem>
                            Delete
                        </button>
                        <button type="button" clrDropdownItem>
                            Save As
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem>
                            Version History >
                        </button>
                        <button type="button" clrDropdownItem>
                            Details
                        </button>
                        <button type="button" clrDropdownItem>
                            Print
                        </button>
                        <button type="button" clrDropdownItem>
                            Import
                        </button>
                        <button type="button" clrDropdownItem>
                            Export
                        </button>
                        <button type="button" clrDropdownItem>
                            Tags
                        </button>
                        <button type="button" clrDropdownItem>
                            Share
                        </button>
                        <button type="button" clrDropdownItem>
                            Settings
                        </button>
                        <button type="button" clrDropdownItem>
                            Theme
                        </button>
 
 
                    </clr-dropdown-menu>
                </clr-dropdown>


                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        Data
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="menuDataGetData()">
                            Get data
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Refresh
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        Edit
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Undo
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Redo
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Copy
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Cut
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Paste
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Select All
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Select None
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Find
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Replace
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Delete
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        View
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Edit Mode
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            View Mode
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Print layout
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Suggestions
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Show ruler
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Show grid
                        </button>
                        <div class="dropdown-divider"></div>
                            
                        <div class="dropdown open right-top">
                            <button class="dropdown-item expandable">Zoom %</button>
                            <div class="dropdown-menu">
                                <button type="button" class="dropdown-item">50%</button>
                                <button type="button" class="dropdown-item">75%</button>
                                <button type="button" class="dropdown-item">100%</button>
                                <button type="button" class="dropdown-item">150%</button>
                                <button type="button" class="dropdown-item">200%</button>
                            </div>
                        </div>

                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Zoom 100%
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            <clr-icon shape="check" size="12"></clr-icon>
                            Comments
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            <clr-icon shape="check" size="12"></clr-icon>
                            Widget Editor
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            <clr-icon shape="check" size="12"></clr-icon>
                            Palette
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        Create
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Dashboard
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Widget
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Text box
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Image
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Comment
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        Format
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Bold
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Italic
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Underline
                        </button>
                        <div class="dropdown open right-top">
                            <button class="dropdown-item expandable">Font size</button>
                            <div class="dropdown-menu">
                                <button type="button" class="dropdown-item">8</button>
                                <button type="button" class="dropdown-item">10</button>
                                <button type="button" class="dropdown-item">12</button>
                                <button type="button" class="dropdown-item">16</button>
                                <button type="button" class="dropdown-item">20</button>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown open right-top">
                            <button class="dropdown-item expandable">Border</button>
                            <div class="dropdown-menu">
                                <button type="button" class="dropdown-item">None</button>
                                <button type="button" class="dropdown-item">1px solid black</button>
                                <button type="button" class="dropdown-item">2px solid black</button>
                                <button type="button" class="dropdown-item">1px dotted black</button>
                                <button type="button" class="dropdown-item">2px dotted black</button>
                            </div>
                        </div>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        Arrange
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Backward
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Forward
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Back
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Front
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Align left
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Align center
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Align right
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Align top
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Align middle
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Align bottom
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Group
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Ungroup
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Distribute 
                            <clr-icon shape="two-way-arrows"></clr-icon>
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Distribute 
                            <clr-icon shape="two-way-arrows right"></clr-icon>
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Same size 
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        Help
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Demo
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Getting starting with Canvas
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Getting data
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Creating a Dashboard
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Creating a Widget
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Transforming data
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Tutorials
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Documentation
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Support
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>
        
            </div>
        </div>

        <div class="header-actions">
            <a class="nav-link nav-icon" href="#" [routerLink]="['/home']" routerLinkActive="active">
                <clr-icon shape="share"></clr-icon>
            </a>
            
            <clr-dropdown class="dropdown bottom-right">
                <button class="nav-icon" clrDropdownToggle>
                <clr-icon shape="user" class="is-solid has-alert"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
                </button>
                <div class="dropdown-menu">
                    <a clrDropdownItem>My Profile</a>
                    <a clrDropdownItem>New Message</a>
                    <a clrDropdownItem>Messages</a>
                    <a clrDropdownItem>Preferences</a>
                    <a clrDropdownItem>Log out</a>
                </div>
            </clr-dropdown>
            
        </div>
    </clr-header>

    <div class="content-container">
        
        <div  class="content-area" >
            <router-outlet ></router-outlet>
        </div>
        
    </div>
</clr-main-container>


<!-- Field Formatter -->
<!-- <clr-modal [(clrModalOpen)]="showModalFileFormatter" -->
    <!-- class="modal-dialog modal-xl" role="dialog" aria-hidden="true"> -->


    <landing *ngIf="showModalLanding"
        (formLandingClosed)="handleCloseModal()">landing></landing>

    <!-- <h3 class="modal-title">File selection</h3>
    <div class="modal-body">
        <p>Please select formatting options (for all available options, use the Transformation tab):</p>
        <p>Type : <input type="text" id="formFields_7" placeholder="String / Number / Boolean / Date"></p>
        <p>Format : <input type="text" id="formFields_7" placeholder="2 decimals"></p>
        <p>Filter : <input type="text" id="formFields_7" placeholder="> 100"></p>
        <p>Calc : <input type="text" id="formFields_7" placeholder="valueTrade / 100"></p>
        <p>Order: <input type="text" id="formFields_7" placeholder="Ascending / Descending"></p>
        <p>Hide : <input type="text" id="formFields_7" placeholder="Hide / Show"></p>
        <p>Reference : <input type="text" id="formFields_7" placeholder="URL to external reference document"></p>
        <br>
        <p>SaveAs : <input type="text" id="formFields_7" placeholder="Format Name"></p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="showModalFileFormatter = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="clickCloseFieldFormatter()">Ok</button>
    </div> -->
<!-- </clr-modal> -->

