.content-container {
    margin: 0;
    padding: 0;
}

.closeButton {
    background-color: transparent;
    border: none;
    left: 0;
    position: relative;
    top: 0;
}

.header-6 {
    margin: 0;
    padding: 0;
}

.content-area {
    margin: 5px 0 0 0 !important;
    padding: 0 !important;
}

.menuButton {
    color: white !important;
}

.menuButton:hover {
    color: lightgray !important;
}

.menuText {
    padding: 18px 6px 18px 4px !important;
}

.menuInput {
    font-size: .5rem !important;
    margin: 0 0 0 10px !important;
    width: 9rem !important;
}

.popupLabel {
    font-size: .5rem !important;
    margin: 0 0 0 10px !important;
    width: 3rem !important;
}

.popupInput {
    font-size: .5rem !important;
    margin: 0 0 0 10px !important;
    width: 9rem !important;
}

.formPopupDashboard {
    background-color: white;
    border: 1px solid gray;
    position: absolute;
    left: 0;
    top: 4.5em;
    z-index: 100;
}

.widgetFullScreen {
    background-color: white;
    border-radius: 6px;
    left: 1%;
    position: absolute;
    top: 1%;
    z-index: 110;
}

.widgetFullScreenClose {
    float: right;
    margin: 3px;
}


/* Palette */
.palette {
    background-color: #293841;
    border: 1px solid gray;
    float: left;
    margin-left: 0rem;
    padding: 4px;
    position: absolute;
    top: 3rem;
    z-index: 60;
}

.buttonBarIcon {
    background-color: rgb(233, 230, 230);
    border: 1px solid gray;
    margin: 1px;
    padding: 2px;
}

/* Widget */
.widgetContainerX {
    display: inline-block;
    display: grid;
    margin: 0;

    /*                     1   2   3    4    5   6    7   8    9    10  11   12   */
    grid-template-columns: 3px 4px 0px  0px  1fr 6px  1fr 0px  0px  4px 3px;
    grid-template-rows:    3px 4px 0px  0px  1fr 6px  1fr 0px  0px  4px 3px;
    position: absolute;
    padding: 0;
    }
    .widgetContainerX:hover {
        border: 1px dotted gray !important;
        box-shadow: 8px 8px gray;
    }
    .widgetContainerX:focus {
        border: 1px dotted gray;
    }

    .widgetXRelatedInfoMenu {
        display: inline-block;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: -4px 0px 0px 0px;
        padding: 0;
    }

    .widgetX {
        display: inline-block;
        grid-column-start: 1;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 12;
    }

        .widgetXTitle {
            display: inline-block;
            height: 24px;
        }
            .widgetXJumpLink {
                background-color: transparent;
                font-size: 0.7rem;
                margin: 0;
                padding: 0;
            }  
            
        .widgetXGraph {
            /* border: 1px dotted gray; */
            display: inline-block;
        }
            /* svg */
            .widgetXShapeArrow {
                margin: 0;
                padding-left: 5px;
                padding-top: 5px;
                position: relative;
            }
        .widgetXCheckpoint {
            display: grid;
        
            /*                     1   2    3    4    5    6    7    8  */
            grid-template-columns: 1fr 16px 16px 16px 16px 16px 1fr;
            grid-template-rows:    16px;
            margin: 0;
            position: absolute;
            padding: 0;
            width: 100%;
        }
            .widgetXCheckpointLeft {
                color: blue;
                font-size: 0.7rem;
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
                margin: 0;
                padding: 0;
            }
            .widgetXCheckpointCenter {
                background-color: transparent;
                font-size: 0.7rem;
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
                margin: 0;
                padding: 0;
            }
            .widgetXCheckpointShowCheckpoint {
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
                height: 12px;
                width: 12px;
            }
            .widgetXCheckpointShowWidget {
                background-color: blue;
                border-radius: 50%;
                display: inline-block;
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
                height: 12px;
                margin: 0;
                padding: 0;
                width: 12px;
            }
            .widgetXCheckpointAnimate {
                color: gray;
                font-size: 0.7rem;
                grid-column-start: 4;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 2;
                margin: 0;
                padding: 0;
            }
            .widgetXCheckpointRight {
                color: blue;
                font-size: 0.7rem;
                grid-column-start: 6;
                grid-column-end: 7;
                grid-row-start: 1;
                grid-row-end: 2;
                margin: 0;
                padding: 0;
            }

        .widgetXActionMenu {
            display: inline-block;
            grid-column-start: 11;
            grid-column-end: 12;
            grid-row-start: 2;
            grid-row-end: 3;
            margin: -4px 0px 0px -14px;
            padding: 0;
        }
  
    /* Style for Resize Handles */
    .widgetContainerXTopLeftHandle {
        background-color: #3f4041;
        cursor: nwse-resize;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0;
        padding: 0;
    }
    .widgetContainerXTopHandle {
        background-color: #3f4041;
        cursor: n-resize;
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0;
        padding: 0;
    }
    .widgetContainerXTopRightHandle {
        background-color: #3f4041;
        cursor: nesw-resize;
        grid-column-start: 10;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0;
        padding: 0;
    }
    .widgetContainerXRightTopHandle {
        background-color: #3f4041;
        cursor: nesw-resize;
        grid-column-start: 11;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 0;
        padding: 0;
    }
    .widgetContainerXRightHandle {
        background-color: #3f4041;
        cursor: e-resize;
        grid-column-start: 11;
        grid-column-end: 12;
        grid-row-start: 6;
        grid-row-end: 7;
        margin: 0;
        padding: 0;
    }
    .widgetContainerXRightBottomHandle {
        background-color: #3f4041;
        cursor: nwse-resize;
        grid-column-start: 11;
        grid-column-end: 12;
        grid-row-start: 11;
        grid-row-end: 12;
        margin: 0;
        padding: 0;
    }
    .widgetContainerXBottomRightHandle {
        background-color: #3f4041;
        cursor: nwse-resize;
        grid-column-start: 11;
        grid-column-end: 12;
        grid-row-start: 11;
        grid-row-end: 12;
        margin: 0;
        padding: 0;
    }
    .widgetContainerXBottomHandle {
        background-color: #3f4041;
        cursor: s-resize;
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 11;
        grid-row-end: 12;
        margin: 0;
        padding: 0;
    }
    .widgetContainerXBottomLeftHandle {
        background-color: #3f4041;
        cursor: nesw-resize;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 11;
        grid-row-end: 12;
        margin: 0;
        padding: 0;
    }
    .widgetContainerXLeftBottomHandle {
        background-color: #3f4041;
        cursor: nesw-resize;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 11;
        grid-row-end: 12;
        margin: 0;
        padding: 0;
    }
    .widgetContainerXLeftHandle {
        background-color: #3f4041;
        cursor: w-resize;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
        margin: 0;
        padding: 0;
    }
    .widgetContainerXLeftTopHandle {
        background-color: #3f4041;
        cursor: nwse-resize;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 0;
        padding: 0;
    }
    .widgetXTitleMenu {
        color: black;
        float: right;
        padding: 0;
        z-index: 100;
    }

.popupMessage {
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
    bottom: 50px;
    color: black;
    padding: 5px;
    position: absolute;
    right: 80px;
    width: 300px;
    z-index: 100;
}

