<clr-main-container>
    <clr-header class="header-6">
        <div class="branding">
            <a href="http://clarityanalytics.xyz" class="nav-link">
                <span class="clr-icon ca-logo">
                <img src="../favicon.ico" height="35" width="35">
                </span>
                <span class="title">Clarity Analtyics</span>
            </a>
        </div>

        <div class="header-nav" [clr-nav-level]="1">
            <div>
                        
                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        File
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickMenuFileNew()">
                            New
                        </button>
                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Recent
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" clrDropdownItem>
                                    1. Budget per Department
                                </button>
                                <button type="button" clrDropdownItem>
                                    2. Economic Overview
                                </button>
                                <button type="button" clrDropdownItem>
                                    3. Leave Summary
                                </button>
                            </clr-dropdown-menu>
                        </clr-dropdown>

                        <button type="button" clrDropdownItem (click)="clickMenuFileOpen()">
                            Open
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuFileRename()">
                            Rename
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuFileSave()">
                            Save
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuFileCheckpoints()">
                            Checkpoints
                        </button>
                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Details
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" clrDropdownItem
                                (click)="clickMenuFileDescription()">
                                    Descripton
                                </button>
                                <button type="button" clrDropdownItem
                                    (click)="showFav=!showFav">
                                    Favourite
                                    <clr-icon 
                                        shape="check" 
                                        size="12"
                                        *ngIf="showFav">
                                    </clr-icon>
                                </button>
                                <button 
                                    type="button" 
                                    clrDropdownItem
                                    (click)="clickMenuFileTags()"
                                    >
                                    Tags
                                </button>
                                <button 
                                    type="button" 
                                    clrDropdownItem
                                    (click)="clickMenuFileSettings()"
                                    >
                                    Settings
                                </button>
                                <button 
                                    type="button" 
                                    clrDropdownItem
                                    (click)="clickMenuFileTheme()"
                                    >
                                    Theme
                                </button>
                                <button 
                                    type="button" 
                                    clrDropdownItem
                                    (click)="clickMenuFileSchedule()"
                                    >
                                    Schedule
                                </button>
                            </clr-dropdown-menu>
                        </clr-dropdown>

                        <button type="button" clrDropdownItem (click)="clickMenuFilePermissions()">
                            Permissions
                        </button>
    
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem>
                            Print
                        </button>

                        <div class="dropdown-divider"></div>
                        <button 
                            type="button" 
                            clrDropdownItem
                            (click)="clickMenuFileDelete()"
                            >
                            Delete
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        Data
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Recent
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" clrDropdownItem>
                                    1. Sales per region
                                </button>
                                <button type="button" clrDropdownItem>
                                    2. Risk analysis
                                </button>
                                <button type="button" clrDropdownItem>
                                    3. Part maintenance
                                </button>
                                <button type="button" clrDropdownItem>
                                    4. Production comparison
                                </button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="menuDataFromFile()">
                            From File
                        </button>
                        <button type="button" clrDropdownItem (click)="menuDataFromServer()">
                            From Server
                        </button>

                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Samples
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" clrDropdownItem>
                                    1. Personal Budget
                                </button>
                                <button type="button" clrDropdownItem>
                                    2. Voting by gender ...
                                </button>
                                <button type="button" clrDropdownItem>
                                    3. Aging populatio...
                                </button>
                                <button type="button" clrDropdownItem>
                                    4. Gold reserves ...
                                </button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                More ...
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" clrDropdownItem>
                                    Database
                                </button>
                                <button type="button" clrDropdownItem>
                                    Service
                                </button>
                                <button type="button" clrDropdownItem>
                                    Web
                                </button>
                                <button type="button" clrDropdownItem>
                                    NoSQL
                                </button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="menuDataGetData()">
                            Edit
                        </button>
                        <button type="button" clrDropdownItem (click)="menuDataGetData()">
                            Combinations
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Permissions
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Refresh All
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        Edit
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Undo
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Redo
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Copy Format
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Paste Format
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Copy Widget
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Cut Widget
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Paste Widget
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Select All
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Select None
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Find
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Replace
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Delete
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        View
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickViewPresentation()">
                            Presention
                            <clr-icon shape="check" size="12" *ngIf="presentation"></clr-icon>
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Print layout
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickViewShowGrid()">
                            Show grid
                            <clr-icon shape="check" size="12" *ngIf="showGrid"></clr-icon>
                        </button>
                        <div class="dropdown-divider"></div>

                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Zoom %
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" class="dropdown-item" clrDropdownItem>50%</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>75%</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>100%</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>150%</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>200%</button>
                            </clr-dropdown-menu>
                        </clr-dropdown>                                

                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Zoom 100%
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickViewAllComments()">
                            All Comments
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuCreateWidget()">
                            Widget Editor
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        [disabled]="menuCreateDisabled"
                        >
                        Create
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickMenuCreateWidget()">
                            Widget
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Text box
                        </button>
                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Shape
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" class="dropdown-item" clrDropdownItem>Circle</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Rectangle</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Square</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Line</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Arrow</button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Image
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Comment
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Voice Comment
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        Format
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Bold
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Italic
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Underline
                        </button>
                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Font size
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" class="dropdown-item" clrDropdownItem>8</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>10</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>12</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>16</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>20</button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                        <div class="dropdown-divider"></div>
                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Border
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" class="dropdown-item" clrDropdownItem>None</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>1px solid black</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>2px solid black</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>1px dotted black</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>2px dotted black</button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Snap to Grid
                        </button>
                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Grid size
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" class="dropdown-item" clrDropdownItem>Small</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Medium</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Large</button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        Arrange
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Backward
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Forward
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Back
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Front
                        </button>
                        <div class="dropdown-divider"></div>

                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Align
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" class="dropdown-item" clrDropdownItem>Left</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Center</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Right</button>
                                <div class="dropdown-divider"></div>
                                <button type="button" class="dropdown-item" clrDropdownItem>Top</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Middle</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Bottom</button>
                                <div class="dropdown-divider"></div>
                                <button type="button" clrDropdownItem (click)="clickSave()">
                                    Center page
                                    <clr-icon shape="two-way-arrows down"></clr-icon>
                                </button>
                                <button type="button" clrDropdownItem (click)="clickSave()">
                                    Center page 
                                    <clr-icon shape="two-way-arrows right"></clr-icon>
                                </button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Group
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Ungroup
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Distribute 
                            <clr-icon shape="two-way-arrows"></clr-icon>
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Distribute 
                            <clr-icon shape="two-way-arrows right"></clr-icon>
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Same size 
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        Help
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Demo
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Getting starting with Canvas
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Getting data
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Creating a Dashboard
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Creating a Widget
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Transforming data
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Tutorials
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Documentation
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Support
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>
        
            </div>
        </div>

        <div class="header-actions">
            <clr-dropdown class="dropdown bottom-right">
                <button class="nav-icon" clrDropdownToggle>
                <clr-icon shape="share"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
                </button>
                <div class="dropdown-menu">
                    <a clrDropdownItem>Share</a>
                    <a clrDropdownItem>Send Email</a>
                    <a clrDropdownItem>Send Message</a>
                    <a clrDropdownItem (click)="showCollaborate = !showCollaborate">
                        Messages
                    </a>
                    <a clrDropdownItem>Alerts</a>
                    <button type="button" clrDropdownItem>
                        <clr-icon shape="check" class="btn btn-link btn-sm redButton"></clr-icon>
                        Tasks
                    </button>
                </div>
            </clr-dropdown>
            <clr-dropdown class="dropdown bottom-right">
                <button class="nav-icon" clrDropdownToggle>
                <clr-icon shape="user" class="is-solid has-alert"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
                </button>
                <div class="dropdown-menu">
                    <a clrDropdownItem (click)="menuUserLogin()">Login</a>
                    <a clrDropdownItem (click)="menuUserMyProfile()">My Profile</a>
                    <a clrDropdownItem (click)="menuUserPreferences()">Preferences</a>
                    <a clrDropdownItem (click)="menuUserLogout()">Log out</a>
                </div>
            </clr-dropdown>
            
        </div>
    </clr-header>

    <div class="content-container">
        <div  class="content-area" >
            <router-outlet ></router-outlet>
        </div>
    </div>
</clr-main-container>


<!-- Modal: landing page -->
<landing *ngIf="showModalLanding"
    (formLandingClosed)="handleCloseModal()">Load landing page ...
</landing>


<!-- Modal: new Dashboard -->
<dashboard-new
    class="formPopupDashboard"
    *ngIf="showModalDashboardNew"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardNewClosed)="handleCloseDashboardNew($event)">Load New Dashboard ...
</dashboard-new>


<!-- Modal: open Dashboard -->
<dashboard-open
    class="formPopupDashboard"
    *ngIf="showModalDashboardOpen"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardOpenClosed)="handleCloseDashboardOpen($event)">Load Open Dashboard ...
</dashboard-open>


<!-- Modal: save Dashboard -->
<dashboard-save
    class="formPopupDashboard"
    *ngIf="showModalDashboardSave"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardOpenClosed)="handleCloseDashboardSave($event)">Load Save Dashboard ...
</dashboard-save>


<!-- Modal: rename Dashboard -->
<dashboard-rename
    class="formPopupDashboard"
    *ngIf="showModalDashboardRename"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardRenameClosed)="handleCloseDashboardRename($event)">Load Rename Dashboard ...
</dashboard-rename>


<!-- Modal: Dashboard Details -->
<dashboard-details
    class="formPopupDashboard"
    *ngIf="showModalDashboardDetails"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardDetailsClosed)="handleCloseDashboardDetails($event)">Load Dashboard Details ...
</dashboard-details>


<!-- Modal: Dashboard Description -->
<dashboard-description
    class="formPopupDashboard"
    *ngIf="showModalDashboardDescription"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardDescriptionClosed)="handleCloseDashboardDescription($event)">Load Dashboard Description ...
</dashboard-description>


<!-- Modal: Checkpoints -->
<dashboard-checkpoints
    class="formPopupDashboard"
    *ngIf="showModalDashboardCheckpoints"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardCheckpointsClosed)="handleCloseDashboardCheckpoints($event)">Load Checkpoints Dashboard ...
</dashboard-checkpoints>


<!-- Modal: Dashboard Tags -->
<dashboard-tags
    class="formPopupDashboard"
    *ngIf="showModalDashboardTags"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardTagsClosed)="handleCloseDashboardTags($event)">Load Dashboard Tags ...
</dashboard-tags>


<!-- Modal: Dashboard Settings -->
<dashboard-settings
    class="formPopupDashboard"
    *ngIf="showModalDashboardSettings"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardSettingsClosed)="handleCloseDashboardSettings($event)">Load Dashboard Settings ...
</dashboard-settings>


<!-- Modal: Dashboard Theme -->
<dashboard-theme
    class="formPopupDashboard"
    *ngIf="showModalDashboardTheme"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardThemeClosed)="handleCloseDashboardTheme($event)">Load Dashboard Theme ...
</dashboard-theme>


<!-- Modal: Dashboard Schedule -->
<dashboard-schedule
    class="formPopupDashboard"
    *ngIf="showModalDashboardSchedule"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardScheduleClosed)="handleCloseDashboardSchedule($event)">Load Dashboard Schedule ...
</dashboard-schedule>


<!-- Modal: Dashboard Delete -->
<dashboard-delete
    class="formPopupDashboard"
    *ngIf="showModalDashboardDelete"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardDeleteClosed)="handleCloseDashboardDelete($event)">Load Dashboard Delete ...
</dashboard-delete>


<!-- Modal: Login -->
<login
    class="formPopupDashboard"
    *ngIf="showModalDashboardLogin"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardLoginClosed)="handleCloseDashboardLogin($event)">Load Login ...
</login>


<!-- Modal: Logout -->
<logout
    class="formPopupDashboard"
    *ngIf="showModalDashboardLogout"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardLogoutClosed)="handleCloseDashboardLogout($event)">Load Logout ...
</logout>


<!-- Modal: My Profile -->
<myprofile
    class="formPopupDashboard"
    *ngIf="showModalDashboardMyProfile"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardMyProfileClosed)="handleCloseDashboardMyProfile($event)">Load My Profile ...
</myprofile>


<!-- Modal: Preferences -->
<preferences
    class="formPopupDashboard"
    *ngIf="showModalDashboardPreferences"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardPreferencesClosed)="handleCloseDashboardPreferences($event)">Load Preferences ...
</preferences>


<!-- Modal: Comments -->
<dashboard-comments
    class="formPopupDashboard"
    *ngIf="showModalDashboardComments"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardCommentsClosed)="handleCloseDashboardComments($event)">Load Comments ...
</dashboard-comments>


<!-- Modal: widget editor -->
<widget-editor 
    *ngIf="showModalWidgetEditor"
    [currentWidgetSpec]="currentWidgetSpec"
    (formWidgetEditorClosed)="handleCloseWidgetEditor($event)">Load Widget Editor ...
</widget-editor>


<!-- Modal: Get Data -->
<data-popup 
    *ngIf="showModalDataPopup"
    (formDataPopupClosed)="handleCloseDataPopup($event)">Load Data Popup ...
</data-popup>


<!-- Overlay: Collaborate -->
<collaborate
    class="formCollaborate"
    *ngIf="showCollaborate"
    [currentWidgetSpec]="currentWidgetSpec"
    (formCollaborateClosed)="handleCloseCollaborate($event)">Load Collaborate form ...
    >
</collaborate>


