<clr-main-container>
    <clr-header class="header-6">
        <div class="branding">
            <a href="http://clarityanalytics.xyz" class="nav-link">
                <span class="clr-icon ca-logo">
                <img src="../favicon.ico" height="35" width="35">
                </span>
                <span class="title">Clarity Analtyics</span>
            </a>
        </div>

        <div class="header-nav" [clr-nav-level]="1">
            <div>
                        
                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        File
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickMenuFileNew()">
                            New
                        </button>
                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Recent
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" clrDropdownItem>
                                    1. Budget per Department
                                </button>
                                <button type="button" clrDropdownItem>
                                    2. Economic Overview
                                </button>
                                <button type="button" clrDropdownItem>
                                    3. Leave Summary
                                </button>
                            </clr-dropdown-menu>
                        </clr-dropdown>

                        <button type="button" clrDropdownItem (click)="clickMenuFileOpen()">
                            Open
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuFileEdit()">
                            Edit
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuFileRename()">
                            Rename
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuFileSave()">
                            Save
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuFileDiscard()">
                            Discard
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuFileShare()">
                            Share
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuFileCheckpoints()">
                            Checkpoints
                        </button>
                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Details
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" clrDropdownItem
                                (click)="clickMenuFileDetailDescription()">
                                    Descripton
                                </button>
                                <button type="button" clrDropdownItem
                                    (click)="showFav=!showFav">
                                    Favourite
                                    <clr-icon 
                                        shape="check" 
                                        size="12"
                                        *ngIf="showFav">
                                    </clr-icon>
                                </button>
                                <button 
                                    type="button" 
                                    clrDropdownItem
                                    (click)="clickMenuFileDetailTags()"
                                    >
                                    Tags
                                </button>
                                <button 
                                    type="button" 
                                    clrDropdownItem
                                    (click)="clickMenuFileDetailSettings()"
                                    >
                                    Settings
                                </button>
                                <button 
                                    type="button" 
                                    clrDropdownItem
                                    (click)="clickMenuFileDetailTheme()"
                                    >
                                    Theme
                                </button>
                                <button 
                                    type="button" 
                                    clrDropdownItem
                                    (click)="clickMenuFileDetailTemplate()"
                                    >
                                    Template
                                </button>
                                <button 
                                    type="button" 
                                    clrDropdownItem
                                    (click)="clickMenuFileDetailSchedule()"
                                    >
                                    Schedule
                                </button>
                            </clr-dropdown-menu>
                        </clr-dropdown>

                        <button type="button" clrDropdownItem (click)="clickMenuFilePermissions()">
                            Permissions
                        </button>
    
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem
                        (click)="clickMenuFilePrint()">
                            Print
                        </button>

                        <div class="dropdown-divider"></div>
                        <button 
                            type="button" 
                            clrDropdownItem
                            (click)="clickMenuFileDelete()"
                            >
                            Delete
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        Data
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Recent
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" clrDropdownItem>
                                    1. Sales per region
                                </button>
                                <button type="button" clrDropdownItem>
                                    2. Risk analysis
                                </button>
                                <button type="button" clrDropdownItem>
                                    3. Part maintenance
                                </button>
                                <button type="button" clrDropdownItem>
                                    4. Production comparison
                                </button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickMenuDataFromFile()">
                            From File
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuDataFromServer()">
                            From Server
                        </button>

                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Samples
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" clrDropdownItem>
                                    1. Personal Budget
                                </button>
                                <button type="button" clrDropdownItem>
                                    2. Voting by gender ...
                                </button>
                                <button type="button" clrDropdownItem>
                                    3. Aging populatio...
                                </button>
                                <button type="button" clrDropdownItem>
                                    4. Gold reserves ...
                                </button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                More ...
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" clrDropdownItem>
                                    Database
                                </button>
                                <button type="button" clrDropdownItem>
                                    Service
                                </button>
                                <button type="button" clrDropdownItem>
                                    Web
                                </button>
                                <button type="button" clrDropdownItem>
                                    NoSQL
                                </button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickMenuDataCombinations()">
                            Combinations
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickMenuDataPermissions()">
                            Permissions
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuDataRefreshAll()">
                            Refresh All
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        Edit
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickMenuEditUndo()">
                            Undo
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuEditRedo()">
                            Redo
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickMenuEditWidget()">
                            Widget
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickMenuEditWidgetCopyFormat()">
                            Copy Format
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuEditWidgetPastFormat()">
                            Paste Format
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickMenuEditWidgetCopy()">
                            Copy Widget
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuEditWidgetCut()">
                            Cut Widget
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuEditWidgetPaste()">
                            Paste Widget
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickMenuEditSelectAll()">
                            Select All
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuEditSelectNone()">
                            Select None
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickMenuEditSteps()">
                            Steps
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickMenuEditDeleteWidget()">
                            Delete Widget
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        View
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickMenuViewPresentation()">
                            Presention
                            <clr-icon shape="check" size="12" *ngIf="presentation"></clr-icon>
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickMenuViewPrintLayout()">
                            Print layout
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickMenuViewShowGrid()">
                            Show grid
                            <clr-icon shape="check" size="12" *ngIf="showGrid"></clr-icon>
                        </button>
                        <div class="dropdown-divider"></div>

                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Zoom %
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" class="dropdown-item" clrDropdownItem>50%</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>75%</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>100%</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>150%</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>200%</button>
                            </clr-dropdown-menu>
                        </clr-dropdown>                                

                        <button type="button" clrDropdownItem (click)="clickMenuViewZoom()">
                            Zoom 100%
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickMenuViewAllComments()">
                            All Comments
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuViewWidgetEditor()">
                            Widget Editor
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        Create
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button 
                            type="button" 
                            [disabled]="menuCreateDisabled"
                            clrDropdownItem (click)="clickMenuViewWidgetEditor()"
                            >
                            Widget
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="showTextBox=!showTextBox">
                            Text box
                        </button>
                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Shape
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button 
                                    type="button" 
                                    class="dropdown-item" 
                                    clrDropdownItem
                                    (click)="showCircle=!showCircle"
                                    >
                                    Circle
                                </button>
                                <button type="button" class="dropdown-item" clrDropdownItem
                                (click)="showRectangle=!showRectangle">Rectangle</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Square</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Line</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Arrow</button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                        <button type="button" clrDropdownItem (click)="showImage=!showImage">
                            Image
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuCreateComment()">
                            Comment
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        Format
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickMenuFormatBold()">
                            Bold
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuFormatItalic()">
                            Italic
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuFormatUnderline()">
                            Underline
                        </button>
                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Font size
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" class="dropdown-item" clrDropdownItem>8</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>10</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>12</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>16</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>20</button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                        <div class="dropdown-divider"></div>
                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Border
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" class="dropdown-item" clrDropdownItem>None</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>1px solid black</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>2px solid black</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>1px dotted black</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>2px dotted black</button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickMenuFormatSnapToGrid()">
                            Snap to Grid
                        </button>
                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Grid size
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" class="dropdown-item" clrDropdownItem>Small</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Medium</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Large</button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        Arrange
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickMenuArrangeBackward()">
                            Backward
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuArrangeForward()">
                            Forward
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuArrangeBack()">
                            Back
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuArrangeFront()">
                            Front
                        </button>
                        <div class="dropdown-divider"></div>

                        <clr-dropdown>
                            <button 
                                type="button" 
                                class="btn btn-link btn-sm" 
                                clrDropdownTrigger
                                >
                                Align
                            </button>
                            <clr-dropdown-menu clrPosition="right-top" *clrIfOpen>
                                <button type="button" class="dropdown-item" clrDropdownItem>Left</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Center</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Right</button>
                                <div class="dropdown-divider"></div>
                                <button type="button" class="dropdown-item" clrDropdownItem>Top</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Middle</button>
                                <button type="button" class="dropdown-item" clrDropdownItem>Bottom</button>
                                <div class="dropdown-divider"></div>
                                <button type="button" clrDropdownItem (click)="clickMenuArrangeAlignCenterPageDown()">
                                    Center page
                                    <clr-icon shape="two-way-arrows down"></clr-icon>
                                </button>
                                <button type="button" clrDropdownItem (click)="clickMenuArrangeAlignCenterPageRight()">
                                    Center page 
                                    <clr-icon shape="two-way-arrows right"></clr-icon>
                                </button>
                            </clr-dropdown-menu>
                        </clr-dropdown>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickMenuArrangeGroup()">
                            Group
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuArrangeUnGroup()">
                            Ungroup
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickMenuArrangeDistributeVertical()">
                            Distribute 
                            <clr-icon shape="two-way-arrows"></clr-icon>
                        </button>
                        <button type="button" clrDropdownItem (click)="clickMenuArrangeDistributeHorisontal()">
                            Distribute 
                            <clr-icon shape="two-way-arrows right"></clr-icon>
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickMenuArrangeSameSize()">
                            Same size 
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>

                <clr-dropdown class="menuText">
                    <button 
                        type="button" 
                        class="btn btn-link btn-sm menuButton" 
                        clrDropdownTrigger
                        >
                        Help
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                        <button type="button" clrDropdownItem (click)="clickMenuHelpDemo()">
                            Demo
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Getting starting with Canvas
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Getting data
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Creating a Dashboard
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Creating a Widget
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Transforming data
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Tutorials
                        </button>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Documentation
                        </button>
                        <div class="dropdown-divider"></div>
                        <button type="button" clrDropdownItem (click)="clickSave()">
                            Support
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>
        
            </div>
        </div>

        <div class="header-actions">
            <clr-dropdown class="dropdown bottom-right">
                <button class="nav-icon" clrDropdownToggle>
                <clr-icon shape="share"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
                </button>
                <div class="dropdown-menu">
                    <a clrDropdownItem>Send Email</a>
                    <a clrDropdownItem>Send Message</a>
                    <a clrDropdownItem (click)="showCollaborate = !showCollaborate">
                        Messages
                    </a>
                    <a clrDropdownItem>Alerts</a>
                    <button type="button" clrDropdownItem>
                        <clr-icon shape="check" class="btn btn-link btn-sm redButton"></clr-icon>
                        Tasks
                    </button>
                </div>
            </clr-dropdown>
            <clr-dropdown class="dropdown bottom-right">
                <button class="nav-icon" clrDropdownToggle>
                <clr-icon shape="user" class="is-solid has-alert"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
                </button>
                <div class="dropdown-menu">
                    <a clrDropdownItem (click)="clickMenuUserLogin()">Login</a>
                    <a clrDropdownItem (click)="clickMenuUserMyProfile()">My Profile</a>
                    <a clrDropdownItem (click)="clickMenuUserPreferences()">Preferences</a>
                    <a clrDropdownItem (click)="clickMenuUserLogout()">Log out</a>
                </div>
            </clr-dropdown>
            
        </div>
    </clr-header>

    <div class="content-container">
        <div  class="content-area" >
            <router-outlet ></router-outlet>
        </div>
    </div>
</clr-main-container>


<!-- Modal: landing page -->
<landing *ngIf="showModalLanding"
    (formLandingClosed)="handleCloseModal()">Load landing page ...
</landing>


<!-- Modal: new Dashboard -->
<dashboard-new
    class="formPopupDashboard"
    *ngIf="showModalDashboardNew"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardNewClosed)="handleCloseDashboardNew($event)">Load New Dashboard ...
</dashboard-new>


<!-- Modal: open Dashboard -->
<dashboard-open
    class="formPopupDashboard"
    *ngIf="showModalDashboardOpen"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardOpenClosed)="handleCloseDashboardOpen($event)">Load Open Dashboard ...
</dashboard-open>


<!-- Modal: save Dashboard -->
<dashboard-save
    class="formPopupDashboard"
    *ngIf="showModalDashboardSave"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardSaveClosed)="handleCloseDashboardSave($event)">Load Save Dashboard ...
</dashboard-save>


<!-- Modal: discard Dashboard -->
<dashboard-discard
class="formPopupDashboard"
*ngIf="showModalDashboardDiscard"
[currentWidgetSpec]="currentWidgetSpec"
(formDashboardDiscardClosed)="handleCloseDashboardDiscard($event)">Load Discard Dashboard ...
</dashboard-discard>


<!-- Modal: rename Dashboard -->
<dashboard-rename
    class="formPopupDashboard"
    *ngIf="showModalDashboardRename"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardRenameClosed)="handleCloseDashboardRename($event)">Load Rename Dashboard ...
</dashboard-rename>


<!-- Modal: Dashboard Details -->
<dashboard-details
    class="formPopupDashboard"
    *ngIf="showModalDashboardDetails"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardDetailsClosed)="handleCloseDashboardDetails($event)">Load Dashboard Details ...
</dashboard-details>


<!-- Modal: Dashboard Description -->
<dashboard-description
    class="formPopupDashboard"
    *ngIf="showModalDashboardDescription"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardDescriptionClosed)="handleCloseDashboardDescription($event)">Load Dashboard Description ...
</dashboard-description>


<!-- Modal: Checkpoints -->
<dashboard-checkpoints
    class="formPopupDashboard"
    *ngIf="showModalDashboardCheckpoints"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardCheckpointsClosed)="handleCloseDashboardCheckpoints($event)">Load Checkpoints Dashboard ...
</dashboard-checkpoints>


<!-- Modal: Dashboard Tags -->
<dashboard-tags
    class="formPopupDashboard"
    *ngIf="showModalDashboardTags"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardTagsClosed)="handleCloseDashboardTags($event)">Load Dashboard Tags ...
</dashboard-tags>


<!-- Modal: Dashboard Settings -->
<dashboard-settings
    class="formPopupDashboard"
    *ngIf="showModalDashboardSettings"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardSettingsClosed)="handleCloseDashboardSettings($event)">Load Dashboard Settings ...
</dashboard-settings>


<!-- Modal: Dashboard Theme -->
<dashboard-theme
    class="formPopupDashboard"
    *ngIf="showModalDashboardTheme"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardThemeClosed)="handleCloseDashboardTheme($event)">Load Dashboard Theme ...
</dashboard-theme>


<!-- Modal: Dashboard Template -->
<dashboard-template
    class="formPopupDashboard"
    *ngIf="showModalDashboardTemplate"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardTemplateClosed)="handleCloseDashboardTemplate($event)">Load Dashboard Template ...
</dashboard-template>


<!-- Modal: Dashboard Schedule -->
<dashboard-schedule
    class="formPopupDashboard"
    *ngIf="showModalDashboardSchedule"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardScheduleClosed)="handleCloseDashboardSchedule($event)">Load Dashboard Schedule ...
</dashboard-schedule>


<!-- Modal: Dashboard Delete -->
<dashboard-delete
    class="formPopupDashboard"
    *ngIf="showModalDashboardDelete"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardDeleteClosed)="handleCloseDashboardDelete($event)">Load Dashboard Delete ...
</dashboard-delete>


<!-- Modal: Login -->
<login
    class="formPopupDashboard"
    *ngIf="showModalDashboardLogin"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardLoginClosed)="handleCloseDashboardLogin($event)">Load Login ...
</login>


<!-- Modal: Logout -->
<logout
    class="formPopupDashboard"
    *ngIf="showModalDashboardLogout"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardLogoutClosed)="handleCloseDashboardLogout($event)">Load Logout ...
</logout>


<!-- Modal: My Profile -->
<myprofile
    class="formPopupDashboard"
    *ngIf="showModalDashboardMyProfile"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardMyProfileClosed)="handleCloseDashboardMyProfile($event)">Load My Profile ...
</myprofile>


<!-- Modal: Preferences -->
<preferences
    class="formPopupDashboard"
    *ngIf="showModalDashboardPreferences"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardPreferencesClosed)="handleCloseDashboardPreferences($event)">Load Preferences ...
</preferences>


<!-- Modal: Comments -->
<dashboard-comments
    class="formPopupDashboard"
    *ngIf="showModalDashboardComments"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardCommentsClosed)="handleCloseDashboardComments($event)">Load Comments ...
</dashboard-comments>


<!-- Modal: data refresh all -->
<data-refresh 
    *ngIf="showModalDataRefresh"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDataRefreshClosed)="handleCloseDataRefresh($event)">Refresh All Data ...
</data-refresh>


<!-- Modal: widget steps -->
<dashboard-print 
    *ngIf="showModalDashboardPrint"
    [currentWidgetSpec]="currentWidgetSpec"
    (formDashboardPrintClosed)="handleCloseDashboardPrint($event)">Load Dashboard Print Steps ...
</dashboard-print>


<!-- Modal: widget editor -->
<widget-editor 
    *ngIf="showModalWidgetEditor"
    [currentWidgetSpec]="currentWidgetSpec"
    (formWidgetEditorClosed)="handleCloseWidgetEditor($event)">Load Widget Editor ...
</widget-editor>


<!-- Modal: widget steps -->
<widget-steps 
    *ngIf="showModalWidgetSteps"
    [currentWidgetSpec]="currentWidgetSpec"
    (formWidgetStepsClosed)="handleCloseWidgetSteps($event)">Load Widget Steps ...
</widget-steps>


<!-- Modal: Get Data -->
<!-- <data-popup 
    *ngIf="showModalDataPopup"
    (formDataPopupClosed)="handleCloseDataPopup($event)">Load Data Popup ...
</data-popup> -->


<!-- Overlay: Collaborate -->
<collaborate
    class="formCollaborate"
    *ngIf="showCollaborate"
    [currentWidgetSpec]="currentWidgetSpec"
    (formCollaborateClosed)="handleCloseCollaborate($event)">Load Collaborate form ...
    >
</collaborate>


<div
    *ngIf="showTextBox"
    #dragCircle
    class="aTextBox"
    (dragstart)="dragStartCircle($event)"
    (dragend)="dragEndCircle($event)"
    draggable="true"
    >
    <h2>Text box</h2>
</div>

<div
    *ngIf="showCircle"
    #dragCircle
    class="aCircle"
    (dragstart)="dragStartCircle($event)"
    (dragend)="dragEndCircle($event)"
    draggable="true"
    >
    <svg height="100" width="100" >
        <circle cx="50" cy="50" r="40" stroke="red" stroke-width="1" fill="none" />
    </svg>
</div>

<div
    *ngIf="showRectangle"
    #dragCircle
    class="aRectangle"
    (dragstart)="dragStartCircle($event)"
    (dragend)="dragEndCircle($event)"
    draggable="true"
    >
    <svg width="400" height="110">
        <rect width="90" height="40" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
    </svg>
</div>

<img 
    *ngIf="showImage" 
    class="aImage"
    src="../images/Tabs.png" 
    alt="Tabs" 
    height="42" 
    width="42"
>

