.content-container {
    margin: 0;
    padding: 0;
}

.header-6 {
    margin: 0;
    padding: 0;
}

.content-area {
    margin: 5px 0 0 0 !important;
    padding: 0 !important;
}

.menuButton {
    color: white !important;
}

.menuButton:hover {
    color: lightgray !important;
}

.menuText {
    padding: 18px 6px 18px 4px !important;
}

.menuInput {
    font-size: .5rem !important;
    margin: 0 0 0 10px !important;
    width: 9rem !important;
}

.popupLabel {
    font-size: .5rem !important;
    margin: 0 0 0 10px !important;
    width: 3rem !important;
}

.popupInput {
    font-size: .5rem !important;
    margin: 0 0 0 10px !important;
    width: 9rem !important;
}

.formPopupDashboard {
    background-color: white;
    border: 1px solid gray;
    position: absolute;
    left: 0;
    top: 4.5em;
    z-index: 100;
}

/* Palette */
.palette {
    background-color: #293841;
    border: 1px solid gray;
    float: left;
    margin-left: 0.5rem;
    padding: 4px;
    position: absolute;
    top: 3rem;
    width: 1.35rem;
    z-index: 60;
}

.buttonBarIcon {
    background-color: rgb(233, 230, 230);
    border: 1px solid gray;
    margin: 1px;
    padding: 2px;
}


/* Widgets */
.widgetContainer {
    display: inline-block;
    display: grid;
    margin: 0;
    /*                     1   2   3    4    5   6    7   8    9    10  11   12   */
    grid-template-columns: 4px 9px 16px 16px 1fr 16px 1fr 16px 16px 9px 4px;
    grid-template-rows:    4px 9px 16px 16px 1fr 16px 1fr 16px 16px 9px 4px;
    position: absolute;
    padding: 0;
    }
    .widgetContainer:hover {
        border: 1px dotted gray !important;
        box-shadow: 8px 8px gray;
    }

    .widgetContainer:focus {
        border: 1px dotted gray;
    }

    .widgetTitle {
        display: inline-block;
        grid-column-start: 1;
        grid-column-end: 12;
        grid-row-start: 2;
        grid-row-end: 4;
        }
        .selectedSlicer {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            height: 0.1rem;
            left: 5px;
            width: 0.1rem;
        }
        .widgetBadge1 {
            grid-column-start: 8;
            grid-column-end: 9;
            grid-row-start: 1;
            grid-row-end: 3;
            margin-right: 10px;
            width: 0.6rem;
        }
        .widgetBadge2 {
            grid-column-start: 9;
            grid-column-end: 10;
            grid-row-start: 1;
            grid-row-end: 3;
            margin-right: 5px;
            width: 0.6rem;
        }
        .widgetBadge3 {
            grid-column-start: 10;
            grid-column-end: 11;
            grid-row-start: 1;
            grid-row-end: 3;
            float: right;
            width: 0.6rem;
        }
    

    .widget {
        /* border: 1px dotted gray; */
        display: inline-block;
        grid-column-start: 3;
        grid-column-end: 10;
        grid-row-start: 4;
        grid-row-end: 10;
    }

    .widgetSelectedDrag {
        background-color: transparent;
        border: none !important;
        top: 0;
        position: absolute;
        right: 0;
    }
    .widgetSelectedDrag:hover {
        background-color: darkgray;
        border-right: 2px solid black !important;
        border-top: 2px solid black !important;
        color: white;
    }
    .widgetSelectedResize {
        background-color: transparent;
        border: none !important;
        bottom: 0;
        right: 0;
        position: absolute;
    }
    .widgetSelectedResize:hover {
        background-color: darkgray;
        border-bottom: 2px solid black !important;
        border-right: 2px solid black !important;
        color: white;
    }
    /* Style for Resize Handles */
    .widgetContainerTopLeftHandle {
        cursor: nwse-resize;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .widgetContainerTopHandle {
        cursor: n-resize;
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .widgetContainerTopRightHandle {
        cursor: nesw-resize;
        grid-column-start: 10;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .widgetContainerRightTopHandle {
        cursor: nesw-resize;
        grid-column-start: 11;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .widgetContainerRightHandle {
        background-color: #929699;
        cursor: e-resize;
        grid-column-start: 11;
        grid-column-end: 12;
        grid-row-start: 6;
        grid-row-end: 7;
        margin: 0;
        padding: 0;
    }
    .widgetContainerRightBottomHandle {
        cursor: nwse-resize;
        grid-column-start: 11;
        grid-column-end: 12;
        grid-row-start: 10;
        grid-row-end: 12;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .widgetContainerBottomRightHandle {
        cursor: nwse-resize;
        grid-column-start: 10;
        grid-column-end: 12;
        grid-row-start: 11;
        grid-row-end: 12;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .widgetContainerBottomHandle {
        cursor: s-resize;
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 11;
        grid-row-end: 12;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .widgetContainerBottomLeftHandle {
        cursor: nesw-resize;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 11;
        grid-row-end: 12;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .widgetContainerLeftBottomHandle {
        cursor: nesw-resize;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 10;
        grid-row-end: 12;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .widgetContainerLeftHandle {
        cursor: w-resize;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 6;
        grid-row-end: 7;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .widgetContainerLeftTopHandle {
        cursor: nwse-resize;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }

.titleForm {
    background-color: rgb(226, 222, 222);
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    position: absolute;
    top: 80px;
    width: 400px;
    z-index: 100;
    }
    .titleFormHeader {
        font-size: 0.8rem;
        margin: 5px 5px 5px 15px;
        text-align: center;        
    }
    .titleFormLine {
        margin: 3px 5px 3px 15px;
    }
    .titleFormButtonLeft {
        float: left;
        margin: 15px 40px 15px 40px;
    }
    .titleFormButtonRight {
        float: right;
        margin: 15px 40px 15px 40px;
    }

.popupMessage {
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
    bottom: 50px;
    color: black;
    padding: 5px;
    position: absolute;
    right: 80px;
    width: 300px;
    z-index: 100;
}
