.content-container {
    margin: 0;
    padding: 0;
}

.header-6 {
    margin: 0;
    padding: 0;
}

.content-area {
    margin: 5px 0 0 0 !important;
    padding: 0 !important;
}

.menuButton {
    color: white !important;
}

.menuButton:hover {
    color: lightgray !important;
}

.menuText {
    padding: 18px 6px 18px 4px !important;
}


.menuInput {
    font-size: .5rem !important;
    margin: 0 0 0 10px !important;
    width: 9rem !important;
}

.popupLabel {
    font-size: .5rem !important;
    margin: 0 0 0 10px !important;
    width: 3rem !important;
}

.popupInput {
    font-size: .5rem !important;
    margin: 0 0 0 10px !important;
    width: 9rem !important;
}

.formCollaborate {
    border: 1px solid gray;
    position: absolute;
    right: 0;
    top: 4.5em;
    z-index: 22;
}

.formPopupOnDashboard {
    background-color: white;
    border: 1px solid gray;
    position: absolute;
    left: 0;
    top: 4.5em;
    z-index: 22;
}

