.dg-header {
    display: inline-block;
    height: 1.2rem;
    margin: 0px;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    width: 100%;
}

.datagrid-column {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.datagrid-foot-description {
    text-align: left !important;
}

.datagrid-foot {
    justify-content: space-between !important;
}

