<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>System messages for the current user.</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                This form shows a portion of system messages, typically 
                                displayed on the StatusBar at the bottom of the Dashboard.  
                                Currently, only a max of 100 messages are shown for the current 
                                UserID.  
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>

                </div>

                <div class="gridErrorMessage">
                    {{ errorMessage }}
                </div>

                <div class="gridTable">
                    <clr-datagrid>
                        <clr-dg-column [clrDgField]="'id'">logDateTime</clr-dg-column>
                        <clr-dg-column [clrDgField]="'dashboardTabID'">userID</clr-dg-column>
                        <clr-dg-column [clrDgField]="'dashboardID'">dashboardName</clr-dg-column>
                        <clr-dg-column [clrDgField]="'widgetID'">message</clr-dg-column>
                        <clr-dg-column [clrDgField]="'dashboardTabID'">uiArea</clr-dg-column>
                        <clr-dg-column [clrDgField]="'dashboardTabID'">classfication</clr-dg-column>
                        <clr-dg-column [clrDgField]="'dashboardTabID'">timeout</clr-dg-column>
                        <clr-dg-column [clrDgField]="'dashboardTabID'">defaultMessage</clr-dg-column>
                       
                        <clr-dg-row *clrDgItems="let row of statusBarMessages;
                            let i = index"
                            [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                            [style.color]="(i == selectedRow)? 'white' : 'gray'"
                            (click)="clickRow(i, row.id)"
                            >
                            <clr-dg-cell>{{ row.logDateTime }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.userID }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.dashboardName }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.message }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.uiArea }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.classfication }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.timeout }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.defaultMessage }}</clr-dg-cell>
                        </clr-dg-row>

                        <clr-dg-footer>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                            of {{pagination.totalItems}} rows
                            <clr-dg-pagination #pagination [clrDgPageSize]="13"></clr-dg-pagination>
                        </clr-dg-footer>

                    </clr-datagrid>
                </div>

            </div>

        </div>
    </div>
</div>

