<nav class="sidenav">
    <section class="sidenav-content">
        
    <section class="nav-group collapsible">
        <input id="tabexample1" type="checkbox">
        <label for="tabexample1">Messages</label>
        <ul class="nav-list">
            <li><a class="nav-link">John H</a></li>
            <li><a class="nav-link">Alisson</a></li>
        </ul>
    </section>
    <clr-datagrid>
        <clr-dg-column>Task</clr-dg-column>
            
            <clr-dg-row>
                <clr-dg-cell>
                    <clr-icon shape="check" size="16"></clr-icon>
                    Get outstanding data
                </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-row>
                <clr-dg-cell>Prepare</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-row>
                <clr-dg-cell>Presentation</clr-dg-cell>
            </clr-dg-row>
                    
        </clr-datagrid>
    </section>
</nav>
