<div class="modal modalBox">
        <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">


                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>

                <div class="gridOverall">

                    <div class="gridTitle">
                        <b>Activities: </b>
                    </div>
                    <div class="gridSubTitle">
                        <i>
                            Add an activity to Canvas.
                        </i>
                    </div>

                    <div class="gridToUsersTitle">
                        <b>Select an Activity Type:</b>
                    </div>

                    <div class="gridToUsers">
                        <div class="select">
                            <select id="selects_3"
                                (change)="clickSelectStep($event)"
                                autofocus
                                >
                                <option>QA a Dashboard</option>
                                <option>Investigate Data issue</option>
                                <option>Edit Dashboard</option>
                            </select>
                        </div>
                    </div>

                    <div class="gridToGroupsTitle">
                        <b>Select a UserID:</b>
                    </div>

                    <div class="gridToGroups">
                        <div class="select">
                            <select id="selects_3"
                                (change)="clickSelectStep($event)"
                                >
                                <option>KluneG</option>
                                <option>XavierdG</option>
                            </select>
                        </div>
                    </div>

                    <div class="gridSubjectTitle">
                        <b>Select an Activity Status:</b>
                    </div>

                    <div class="gridSubject">
                        <div class="select">
                            <select id="selects_3"
                                (change)="clickSelectStep($event)"
                                >
                                <option>Pending</option>
                                <option>Completed</option>
                            </select>
                        </div>
                    </div>

                    <div class="gridBodyTitle">
                        <b>Activity:</b>
                    </div>

                    <div class="gridBody">
                        <input [(ngModel)]="body"
                            type="text"
                            title="Body"
                            size="25"
                            placeholder="Activity text"
                            >
                    </div>

                    <div class="gridButtonCancel">
                            <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose('Close')"
                            >
                            Cancel
                        </button>
                    </div>

                    <div class="gridButtonSave">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickSave('Saved')"
                            >
                            Save
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>