<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">

                <div>
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
                    <div>
                        <b>Message</b>
                        <i>A list of Messages between users.</i>
                    </div>
    
                    <div *ngFor="let row of messagesNew; let i = index" class="messageBlock">
                        <div>
                            <clr-icon
                                shape="check"
                                size="12"
                                *ngIf="showFavouriteDashboard">
                            </clr-icon>
                            {{ row.sender }}
                            {{ row.subject }}
                            <clr-icon
                                shape="cog"
                                size="12"
                                *ngIf="showFavouriteDashboard">
                            </clr-icon>
                        </div>
                        <div>
                            {{ row.body }}
                            <clr-icon
                                shape="cog"
                                size="12"
                                *ngIf="showFavouriteDashboard">
                            </clr-icon>
                            {{ row.sendOn }}
                            {{ row.dashboardID }}
                            <clr-icon
                                shape="arrow right"
                                size="12"
                                *ngIf="showFavouriteDashboard">
                            </clr-icon>
                        </div>
                    </div>

    
                </div>

            </div>
        </div>
    </div>
