<div class="modal modalBox">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Send Email: </b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                This form will open a dialogue box to send an email.  The
                                dialogue box will only appear if the the email system has
                                configured on your installation.  Click the X or press
                                Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>

                <div class="gridToUsersTitle">
                    <b>To:</b>
                </div>

                <div class="gridToUsers">
                    <input [(ngModel)]="toUsers"
                        type="text"
                        title="Recipients"
                        size="25"
                        autofocus
                        >
                </div>

                <div class="gridSubjectTitle">
                    <b>Subject:</b>
                </div>

                <div class="gridSubject">
                    <input [(ngModel)]="subject"
                        type="text"
                        title="Subject"
                        size="25"
                        >
                </div>

                <div class="gridBodyTitle">
                    <b>Body:</b>
                </div>

                <div class="gridBody">
                    <input [(ngModel)]="body"
                        type="text"
                        title="Body"
                        size="25"
                        >
                </div>

                <div class="gridButtonCancel">
                        <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose('Close')"
                        >
                        Cancel
                    </button>
                </div>

                <div class="gridButtonSave">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickSave('Saved')"
                        >
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

