.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(17, 1rem);
    margin-top: 2px;
}

    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 21;
        /* autoprefixer: off */
        grid-column-end: 22;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-right: 12px;
        text-align: left;
    }
    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }

    .gridActivityTypeTitle {
        font-size: 0.65rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-left: 20px;
        text-align: left;
    }
    .gridActivityType {
        grid-column-start: 3;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-left: 20px;
        text-align: left;
    }

    .gridAssignedToUserTitle {
        font-size: 0.65rem;
        grid-column-start: 10;
        /* autoprefixer: off */
        grid-column-end: 13;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-left: 20px;
        text-align: left;
    }

    .gridAssignedToUser {
        grid-column-start: 13;
        /* autoprefixer: off */
        grid-column-end: 17;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-left: 20px;
        text-align: left;
    }
        
    .gridStatusTitle {
        font-size: 0.65rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
        margin-left: 20px;
        text-align: left;
    }

    .gridStatus {
        grid-column-start: 3;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 6;
        margin-left: 20px;
        text-align: left;
    }
 
    .gridDescriptionTitle {
        font-size: 0.65rem;
        grid-column-start: 10;
        /* autoprefixer: off */
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 6;
        margin-left: 20px;
        text-align: left;
    }
    .gridDescription {
        grid-column-start: 13;
        /* autoprefixer: off */
        grid-column-end: 20;
        grid-row-start: 5;
        grid-row-end: 6;
        margin-left: 20px;
        text-align: left;
    }

    .gridTaskCommentsTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
        margin-left: 20px;
        text-align: left;
    }
    .gridTaskComments {
        grid-column-start: 3;
        /* autoprefixer: off */
        grid-column-end: 10;
        grid-row-start: 7;
        grid-row-end: 8;
        margin-left: 20px;
        text-align: left;
    }

    .gridStartDateTitle {
        grid-column-start: 10;
        /* autoprefixer: off */
        grid-column-end: 13;
        grid-row-start: 7;
        grid-row-end: 8;
        margin-left: 20px;
        text-align: left;
    }
    .gridStartDate {
        grid-column-start: 13;
        /* autoprefixer: off */
        grid-column-end: 20;
        grid-row-start: 7;
        grid-row-end: 8;
        margin-left: 20px;
        text-align: left;
    }

    .gridDeadlineDateTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 10;
        margin-left: 20px;
        text-align: left;
    }
    .gridDeadlineDate {
        grid-column-start: 3;
        /* autoprefixer: off */
        grid-column-end: 10;
        grid-row-start: 9;
        grid-row-end: 10;
        margin-left: 20px;
        text-align: left;
    }

    .gridEndDateTitle {
        grid-column-start: 10;
        /* autoprefixer: off */
        grid-column-end: 13;
        grid-row-start: 9;
        grid-row-end: 10;
        margin-left: 20px;
        text-align: left;
    }
    .gridEndDate {
        grid-column-start: 13;
        /* autoprefixer: off */
        grid-column-end: 20;
        grid-row-start: 9;
        grid-row-end: 10;
        margin-left: 20px;
        text-align: left;
    }

    .gridDurationDaysTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 3;
        grid-row-start: 11;
        grid-row-end: 12;
        margin-left: 20px;
        text-align: left;
    }
    .gridDurationDays {
        grid-column-start: 3;
        /* autoprefixer: off */
        grid-column-end: 10;
        grid-row-start: 11;
        grid-row-end: 12;
        margin-left: 20px;
        text-align: left;
    }

    .gridPrecedingIDTitle {
        grid-column-start: 10;
        /* autoprefixer: off */
        grid-column-end: 13;
        grid-row-start: 11;
        grid-row-end: 12;
        margin-left: 20px;
        text-align: left;
    }
    .gridPrecedingID {
        grid-column-start: 13;
        /* autoprefixer: off */
        grid-column-end: 20;
        grid-row-start: 11;
        grid-row-end: 12;
        margin-left: 20px;
        text-align: left;
    }

    .gridDashboardTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 3;
        grid-row-start: 13;
        grid-row-end: 14;
        margin-left: 20px;
        text-align: left;
    }

    .gridDashboard {
        grid-column-start: 3;
        /* autoprefixer: off */
        grid-column-end: 10;
        grid-row-start: 13;
        grid-row-end: 14;
        margin-left: 20px;
        text-align: left;
    }

    .gridErrorMessage {
        color: red;
        grid-column-start: 13;
        /* autoprefixer: off */
        grid-column-end: 20;
        grid-row-start: 13;
        grid-row-end: 14;
        margin-left: 20px;
        text-align: left;
    }

    .gridButtonCancel {
        grid-column-start: 6;
        /* autoprefixer: off */
        grid-column-end: 8;
        grid-row-start: 15;
        grid-row-end: 16;
        text-align: left;
    }
    .gridButtonSave {
        grid-column-start: 13;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 15;
        grid-row-end: 16;
        text-align: left;
    }

