<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Tasks:</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;"> 
                                This form shows a list of tasks (activities) created by users. 
                                The top of the form provides various optional filters. Click the
                                FILTER button so apply.  The Gannt checkbox toggles between a Gannt
                                chart display, or the data (shown as either High Level or Detail). 
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>

                <div class="gridAssignedToUserTitle">
                    <b>Assign To:</b>
                </div>
                <div class="select gridAssignedToUser">
                    <select
                        [(ngModel)]="selectedUser"
                        >
                        <option *ngFor="let row of userNames"
                            >
                            {{ row }}
                        </option>
                    </select>
                </div>

                <div class="gridStatusTitle">
                    <b>Status:</b>
                </div>
                <div class="gridStatus">
                    <div class="select">
                        <select [(ngModel)]="selectedStatus">
                            <option></option>
                            <option>Created</option>
                            <option>Pending</option>
                            <option>Completed</option>
                        </select>
                    </div>
                </div>

                <div class="toggleDisplayTitle">
                    <b>Gannt?:</b>
                </div>
                <div class="toggleDisplay">
                    <input [(ngModel)]="displayGantt"
                        type="checkbox"
                        title="Check to show the Gannt chart"
                        >
                </div>

                <div class="gridDescriptionTitle">
                    <b>Description:</b>
                </div>
                <div class="gridDescription">
                    <input [(ngModel)]="selectedTaskText"
                        type="text"
                        title="Description of Task"
                        size="25"
                        placeholder="Activity text"
                        >
                </div>

                <div class="gridDashboardTitle">
                    <b>Linked To:</b>
                </div>
                <div class="select gridDashboard">
                    <select
                        [(ngModel)]="selectedDashboard"
                        >
                        <option *ngFor="let row of dashboardNames"
                            >
                            {{ row }}
                        </option>
                    </select>
                </div>

                <div class="gridButtonFilter">
                    <button
                        type="button"
                        class="btn btn-link"
                        (click)="clickFilter()"
                        >
                        Filter
                    </button>
                </div>

                <div class="gridGantt" [hidden]="!displayGantt"
                    >
                    <div #widgetDOM>
                    </div>
                </div>

                <div class="gridTabs" *ngIf="!displayGantt">
                    <clr-tabs>
                        <clr-tab>
                            <button clrTabLink>High Level</button>
                            <ng-template [(clrIfActive)]="dashboardActive">
                                <clr-tab-content>
                                    <clr-datagrid>

                                        <!-- Empty Message -->
                                        <clr-dg-placeholder>
                                            No Tasks created as yet
                                        </clr-dg-placeholder>

                                        <!-- Headers -->
                                        <clr-dg-column>
                                            Task
                                        </clr-dg-column>
                                        <clr-dg-column>
                                            Due
                                        </clr-dg-column>
                                        <clr-dg-column>
                                            Responsible
                                        </clr-dg-column>

                                        <!-- Each Row -->
                                        <clr-dg-row *clrDgItems="let row of canvasTasks;
                                            let i = index"
                                            [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                                            [style.color]="(i == selectedRow)? 'white' : 'gray'"
                                            (click)="clickRow(i, row.id)">
                                            <clr-dg-cell >
                                                {{ row.taskText }}
                                            </clr-dg-cell>
                                            <clr-dg-cell >
                                                {{ row.deadlineDate }}
                                            </clr-dg-cell>
                                            <clr-dg-cell >
                                                {{ row.assignedToUserID }}
                                            </clr-dg-cell>
                                        </clr-dg-row>

                                        <!-- Footer -->
                                        <clr-dg-footer>
                                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                            of {{pagination.totalItems}} records
                                            <clr-dg-pagination
                                                #pagination
                                                [clrDgPageSize]="4"
                                                >
                                            </clr-dg-pagination>
                                        </clr-dg-footer>
                                    </clr-datagrid>
                                </clr-tab-content>
                            </ng-template>
                        </clr-tab>

                        <clr-tab>
                            <button clrTabLink>Detail</button>
                            <ng-template [(clrIfActive)]="cloudActive">
                                <clr-tab-content>
                                    <clr-datagrid>

                                        <!-- Empty Message -->
                                        <clr-dg-placeholder>
                                            No Tasks created as yet
                                        </clr-dg-placeholder>

                                        <!-- Headers -->
                                        <clr-dg-column>ID</clr-dg-column>
                                        <clr-dg-column>TaskText</clr-dg-column>
                                        <clr-dg-column>ActivityType</clr-dg-column>
                                        <clr-dg-column>TaskStatus</clr-dg-column>
                                        <clr-dg-column>AssignedToUserID</clr-dg-column>
                                        <clr-dg-column>PrecedingTaskID</clr-dg-column>
                                        <clr-dg-column>LinkedDashboardID</clr-dg-column>
                                        <clr-dg-column>TaskComments</clr-dg-column>
                                        <clr-dg-column>StartDate</clr-dg-column>
                                        <clr-dg-column>DeadlineDate</clr-dg-column>
                                        <clr-dg-column>EndDate</clr-dg-column>
                                        <clr-dg-column>DurationDays</clr-dg-column>
                                        <clr-dg-column>EditedBy</clr-dg-column>
                                        <clr-dg-column>EditedOn</clr-dg-column>
                                        <clr-dg-column>CreatedBy</clr-dg-column>
                                        <clr-dg-column>CreatedOn}</clr-dg-column>

                                        <!-- Each Row -->
                                        <clr-dg-row *clrDgItems="let row of canvasTasks;
                                            let i = index"
                                            [style.background-color]="(i == selectedDetailRow)? '#123456' : 'white'"
                                            [style.color]="(i == selectedDetailRow)? 'white' : 'gray'"
                                            (click)="clickDetailRow(i)"
                                            >
                                            <clr-dg-cell> {{ row.id }} </clr-dg-cell>
                                            <clr-dg-cell> {{ row.taskText }} </clr-dg-cell>
                                            <clr-dg-cell> {{ row.activityType }} </clr-dg-cell>
                                            <clr-dg-cell> {{ row.taskStatus }} </clr-dg-cell>
                                            <clr-dg-cell> {{ row.assignedToUserID }} </clr-dg-cell>
                                            <clr-dg-cell> {{ row.precedingTaskID }} </clr-dg-cell>
                                            <clr-dg-cell> {{ row.linkedDashboardID }} </clr-dg-cell>
                                            <clr-dg-cell> {{ row.taskComments }} </clr-dg-cell>
                                            <clr-dg-cell> {{ row.startDate }} </clr-dg-cell>
                                            <clr-dg-cell> {{ row.deadlineDate }} </clr-dg-cell>
                                            <clr-dg-cell> {{ row.endDate }} </clr-dg-cell>
                                            <clr-dg-cell> {{ row.durationDays }} </clr-dg-cell>
                                            <clr-dg-cell> {{ row.editedBy }} </clr-dg-cell>
                                            <clr-dg-cell> {{ row.editedOn }} </clr-dg-cell>
                                            <clr-dg-cell> {{ row.createdBy }} </clr-dg-cell>
                                            <clr-dg-cell> {{ row.createdOn }} </clr-dg-cell>
                                        </clr-dg-row>

                                        <!-- Footer -->
                                        <clr-dg-footer>
                                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                            of {{pagination.totalItems}} records
                                            <clr-dg-pagination
                                                #pagination
                                                [clrDgPageSize]="2"
                                                >
                                            </clr-dg-pagination>
                                        </clr-dg-footer>
                                    </clr-datagrid>


                                </clr-tab-content>
                            </ng-template>
                        </clr-tab>

                    </clr-tabs>
                </div>

            </div>

        </div>
    </div>
</div>

