.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.closeButton {
    background-color: transparent;
    border: none;
    left: 0;
    position: relative;
    top: 0;
}

.propertyLine {
    margin: 5px;
}

.messageBlock {
    border: 1px solid gray;
    border-radius: 6px;
    margin: 2px;
    padding: 5px;
    overflow-y: scroll;
}

.message {
    border: 1px solid gray;
    border-radius: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px 5px 2px 5px;
}

.sender {
    color: darkgray;
}

.actions {
    color: black;
    float: right;
}

.dashboardLink {
    color: blue;
    float: right;
}

.ellipsis {
    color: black;
    float: right;
}