.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}
 
.gridOverall {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1rem);
    margin-top: 2px;
}

    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: left;
    }

    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }

    .gridToUsersTitle {
        font-size: 0.65rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: left;
    }

        .gridToUsers {
            grid-column-start: 4;
            /* autoprefixer: off */
            grid-column-end: 18;
            grid-row-start: 4;
            grid-row-end: 5;
            margin-left: 20px;
            text-align: left;
        }

    .gridSubjectTitle {
        font-size: 0.65rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 7;
        grid-row-end: 8;
        text-align: left;
    }

        .gridSubject {
            grid-column-start: 4;
            /* autoprefixer: off */
            grid-column-end: 7;
            grid-row-start: 7;
            grid-row-end: 8;
            margin-left: 20px;
            text-align: left;
        }
 
    .gridBodyTitle {
        font-size: 0.65rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 10;
        grid-row-end: 11;
        text-align: left;
    }

        .gridBody {
            grid-column-start: 4;
            /* autoprefixer: off */
            grid-column-end: 7;
            grid-row-start: 10;
            grid-row-end: 11;
            margin-left: 20px;
            text-align: left;
        }
    
    .gridButtonCancel {
        grid-column-start: 4;
        /* autoprefixer: off */
        grid-column-end: 6;
        grid-row-start: 13;
        grid-row-end: 14;
        text-align: left;
    }

    .gridButtonSave {
        grid-column-start: 10;
        /* autoprefixer: off */
        grid-column-end: 12;
        grid-row-start: 13;
        grid-row-end: 14;
        text-align: left;
    }