<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <button type="button" class="closeButton" (click)="clickClose()">
                X
            </button>
            <div class="gridOverall">

                <div class="gridTitle">
                    <b>Audit Trail:</b>
                </div>
                <div class="gridSubTitle">
                    <i>
                        Audit trail of all actions created by users.
                    </i>
                </div>                        
    
                <div class="gridUserIDTitle">
                    <b>User ID:</b>
                </div>
                <div class="gridUserID">
                    <div class="select">
                        <select id="selects_3"
                            (change)="clickSelectStep($event)"
                            >
                            <option>KluneG</option>
                            <option>XavierdG</option>
                        </select>
                    </div>
                </div>

                <div class="gridDashboardTitle">
                    <b>Dashboard:</b>
                </div>
                <div class="gridDashboard">
                    <div class="select">
                        <select id="selects_3"
                            [(ngModel)]="linkedDashboardID"
                            >
                            <option>Economic Overview</option>
                            <option>EU Indices</option>
                        </select>
                    </div>
                </div>

                <div class="gridFromTitle">
                    <b>From:</b>
                </div>
                <div class="gridFrom">
                    <input [(ngModel)]="taskText"
                        type="text"
                        title="From of Task"
                        size="25"
                        placeholder="Activity text"
                        >
                </div>

                <div class="gridToTitle">
                    <b>To:</b>
                </div>
                <div class="gridTo">
                    <input [(ngModel)]="taskText"
                        type="text"
                        title="To of Task"
                        size="25"
                        placeholder="Activity text"
                        >
                </div>

                <div class="gridButtonFilter">
                    <button
                        type="button"
                        class="btn btn-link"
                        (click)="clickFilter()"
                        >
                        Filter
                    </button>
                </div>

                <div class="gridTable">
                    <ca-datagrid
                        [datagridColumns]="datagridColumns"
                        [datagridData]="datagridData"
                        [datagridPagination]="datagridPagination"
                        [datagridPaginationSize]="datagridPaginationSize"
                        [datagridShowHeader]="datagridShowHeader"
                        [datagridShowRowActionMenu]="datagridShowRowActionMenu"
                        [datagridShowData]="datagridShowData"
                        [datagridShowFooter]="datagridShowFooter"
                        [datagridRowHeight]="datagridRowHeight"
                        [datagriduserCanChangeProperties]="uatagriderCanChangeProperties"
                        [datagridShowTotalsRow]="datagridShowTotalsRow"
                        [datagridShowTotalsCol]="datagridShowTotalsCol"
                        [datagridCanEditInCell]="datagridCanEditInCell"
                        [datagridCanExportData]="datagridCanExportData"
                        >
                    </ca-datagrid>
                </div>

            </div>

        </div>
    </div>
</div>

    