<div class="modal modalBox">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="wrapper">
                <collaborate-messageContent
                    (formMessageContentClosed)="clickClose($event)"
                    [messageAction]="messageAction"
                    [existingMessagge]="existingMessagge"
                    >
                    Send Message ...
                </collaborate-messageContent>
            </div>
        </div>
    </div>
</div>

