<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">

                <div class="overall">
                    <div class="closeButton">
                        <button type="button" class="closeButton" (click)="clickClose()">
                            X
                        </button>
                    </div>

                    Add Activity

                    <form>
                        <section>
                            <div class="form-group">
                                <label for="selects_4">Select an Activity Type:</label>
                                <div class="select">
                                    <select id="selects_3"
                                        (change)="clickSelectStep($event)"
                                        >
                                        <option>QA a Dashboard</option>
                                        <option>Investigate Data issue</option>
                                        <option>Edit Dashboard</option>
                                    </select>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="form-group">
                                <label for="selects_4">Select a UserID:</label>
                                <div class="select">
                                    <select id="selects_3"
                                        (change)="clickSelectStep($event)"
                                        >
                                        <option>KluneG</option>
                                        <option>XavierdG</option>
                                    </select>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="form-group">
                                <label for="selects_4">Select an Activity Status:</label>
                                <div class="select">
                                    <select id="selects_3"
                                        (change)="clickSelectStep($event)"
                                        >
                                        <option>Pending</option>
                                        <option>Completed</option>
                                    </select>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="form-group">
                                <label for="selects_4">Activity:</label>
                                <input type="text" id="formFields_7" placeholder="Activity text">
                            </div>
                        </section>
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose('Close')"
                            >
                            Add
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>