<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">


                <div>
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
                    <div>
                        <b>Activities</b>
                        <i>A list of activities created by users.</i>
                    </div>
     
                    <ca-datagrid
                        [datagridColumns]="datagridColumns"
                        [datagridData]="datagridData"
                        [datagridPagination]="datagridPagination"
                        [datagridPaginationSize]="datagridPaginationSize"
                        [datagridShowHeader]="datagridShowHeader"
                        [datagridShowRowActionMenu]="datagridShowRowActionMenu"
                        [datagridShowData]="datagridShowData"
                        [datagridShowFooter]="datagridShowFooter"
                        [datagridRowHeight]="datagridRowHeight"
                        [datagriduserCanChangeProperties]="uatagriderCanChangeProperties"
                        [datagridShowTotalsRow]="datagridShowTotalsRow"
                        [datagridShowTotalsCol]="datagridShowTotalsCol"
                        [datagridCanEditInCell]="datagridCanEditInCell"
                        [datagridCanExportData]="datagridCanExportData"
                        [datagridShowFields]="datagridShowFields"
                        >
                    </ca-datagrid>
    
                </div>
        
             


            </div>
        </div>
    </div>

    