<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose('Close')">
                        <b>X</b>
                    </button>
    
                    <div class="gridTitle">
                        <b>Add a Canvas Task.</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;"> 
                                    Add a task (todo item) to Canvas.  This may be assigned to 
                                    another Canvas User.  The type, status and description are 
                                    compulsory.  The rest of the fields are optional. Click the X 
                                    or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>

                    <div class="gridActivityTypeTitle">
                        <b>Activity:</b>
                    </div>
                    <div class="gridActivityType">
                        <div class="select">
                            <select [(ngModel)]="selectedActivityType"
                                autofocus
                                >
                                <option>User defined</option>
                                <option>Save (and QA) a Dashboard</option>
                                <option>Investigate Data issue</option>
                                <option>Edit Dashboard</option>
                            </select>
                        </div>
                    </div>

                    <div class="gridAssignedToUserTitle">
                        <b>Assign To:</b>
                    </div>
                    <div class="select gridAssignedToUser">
                        <select
                            [(ngModel)]="selectedAssignedToUserID"
                            >
                            <option *ngFor="let row of userNames"
                                >
                                {{ row }}
                            </option>
                        </select>
                    </div>

                    <div class="gridStatusTitle">
                        <b>Status:</b>
                    </div>
                    <div class="gridStatus">
                        <div class="select">
                            <select [(ngModel)]="selectedTaskStatus">
                                <option>Created</option>
                                <option>Pending</option>
                                <option>Completed</option>
                            </select>
                        </div>
                    </div>

                    <div class="gridDescriptionTitle">
                        <b>Description:</b>
                    </div>
                    <div class="gridDescription">
                        <input [(ngModel)]="selectedTaskText"
                            type="text"
                            title="Description of Task"
                            size="25"
                            placeholder="Activity text"
                            >
                    </div>

                    <div class="gridTaskCommentsTitle">
                        <b>Comments:</b>
                    </div>
                    <div class="gridTaskComments">
                        <input [(ngModel)]="selectedTaskComments"
                            type="text"
                            title="Task Comments"
                            size="25"
                            placeholder="Comments / feedback (immutable)"
                            >
                    </div>

                    <div class="gridStartDateTitle">
                        <b>Start Date:</b>
                    </div>
                    <div class="gridStartDate">
                        <input [(ngModel)]="selectedStartDate"
                            type="text"
                            title="When Task should start"
                            size="25"
                            placeholder="Date when Task has to start"
                            >
                    </div>

                    <div class="gridDeadlineDateTitle">
                        <b>Deadline:</b>
                    </div>
                    <div class="gridDeadlineDate">
                        <input [(ngModel)]="selectedDeadlineDate"
                            type="text"
                            title="When Task should end"
                            size="25"
                            placeholder="Date when task should end"
                            >
                    </div>

                    <div class="gridEndDateTitle">
                        <b>End Date:</b>
                    </div>
                    <div class="gridEndDate">
                        <input [(ngModel)]="selectedEndDate"
                            type="text"
                            title="When Task actualy ended"
                            size="25"
                            placeholder="Date when task ended / was completed"
                            >
                    </div>

                    <div class="gridDurationDaysTitle">
                        <b>Duration:</b>
                    </div>
                    <div class="gridDurationDays">
                        <input [(ngModel)]="selectedDurationDays"
                            type="text"
                            title="Duration in days"
                            size="25"
                            placeholder="Duration of task, measured in days"
                            >
                    </div>

                    <div class="gridPrecedingIDTitle">
                        <b>Preceding Task:</b>
                    </div>
                    <div class="select gridPrecedingID">
                        <select
                            [(ngModel)]="selectedPrecedingTaskID"
                            >
                            <option *ngFor="let row of taskIDs"
                                >
                                {{ row }}
                            </option>
                        </select>
                    </div>

                    <div class="gridDashboardTitle">
                        <b>Linked To:</b>
                    </div>
                    <div class="select gridDashboard">
                        <select 
                            [(ngModel)]="selectedLinkedDashboard"
                            >
                            <option *ngFor="let row of dashboardNames"
                                >
                                {{ row }}
                            </option>
                        </select>
                    </div>

                    <div class="gridErrorMessage">
                        {{ errorMessage }}
                    </div>
                    
                    <div class="gridButtonCancel">
                            <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose('Close')"
                            >
                            Cancel
                        </button>
                    </div>

                    <div class="gridButtonSave">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickSave('Saved')"
                            >
                            Save
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>