<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>
                <p>The custom date is {{today | date:'yyyy-MM-dd'}}</p>
                Alerts
                <div class="propertyLine">

                    From Date:
                    <input type="date" 
                        clrDate 
                        #fromDate
                        >

                    To Date:
                    <input type="date" 
                        clrDate 
                        #toDate
                        >

                    Text Contains:
                    <input type="text" 
                        placeholder="Text" 
                        [(ngModel)]="filterTextContains"
                        >

                    Read?
                    <input type="checkbox" 
                        [(ngModel)]="filterRead"
                        >

                    Recipients: 
                    <input type="text" 
                        placeholder="Text" 
                        [(ngModel)]="filterRecipient"
                        >

                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickFilter(fromDate.value, toDate.value)"
                        >
                        Filter
                    </button>
                </div>

                <clr-datagrid>
                    <clr-dg-column [clrDgField]="id">ID</clr-dg-column>
                    <clr-dg-column [clrDgField]="sentOn">Sent On</clr-dg-column>
                    <clr-dg-column [clrDgField]="recipient">Recipient</clr-dg-column>
                    <clr-dg-column [clrDgField]="read">Read?</clr-dg-column>
                    <clr-dg-column [clrDgField]="alertText">Text</clr-dg-column>

                    <clr-dg-row *ngFor="let row of canvasAlerts">
                        <clr-dg-cell>{{row.id}}</clr-dg-cell>
                        <clr-dg-cell>{{row.sentOn}}</clr-dg-cell>
                        <clr-dg-cell>{{row.recipient}}</clr-dg-cell>
                        <clr-dg-cell>{{row.read}}</clr-dg-cell>
                        <clr-dg-cell>{{row.alertText}}</clr-dg-cell>
                    </clr-dg-row>

                </clr-datagrid>

            </div>
        </div>
    </div>
</div>
