<div class="modal modalBox">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <button type="button" class="closeButton" (click)="clickClose()">
                X
            </button>

            <!-- <collaborate-messageContent
                (formMessageContentClosed)="clickClose($event)"
                >
                Add Message ...
            </collaborate-messageContent> -->

        </div>
    </div>
</div>

