.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.closeButton {
    background-color: transparent;
    border: none;
    float: right;
    right: 20;
    position: relative;
    top: 0;
}

.filterArea {
    margin-left: 30px;
}

.gridLink {
    display: inline-block;
}

.messageBlock {
    background-color: white;
    border: 2px solid gray;
    border-radius: 6px;
    margin: 2px;
    padding: 5px;
    overflow-y: scroll;
}

.message {
    border: 1px solid gray;
    border-radius: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 2px 5px 2px 5px;
}
    .replyMessage{
        border-left: 3px blue solid;
        font-size: 0.5rem;
        padding-left: 15px;
        margin: 2px 2px 4px 30px;
    }

    .sender {
        color: rgb(61, 61, 61);
    }

    .dashboardLink {
        color: blue;
        float: right;
    }

    .ellipsis {
        color: black;
        float: right;
    }

    .title {
        font-size: 0.75rem;
        margin-left: 30px;
        text-align: left;
    }
