<form #f="ngForm" role="form" novalidate>

    <div class="gridOverall">
        <button type="button" class="closeButton" (click)="clickClose('Close')">
            <b>X</b>
        </button>

        <div class="gridTitle">
            <b>Send a Message to another Canvas User.</b>
            <clr-signpost>
                <clr-icon shape="info-circle"
                    clrSignpostTrigger>
                </clr-icon>
                    <clr-signpost-content *clrIfOpen
                    [clrPosition]="'bottom-middle'">
                    <h5 style="margin-top: 0; color:gray;">
                        Help
                    </h5>
                    <p style="margin-top: 0; color:gray;"> 
                        Address the message to a user or a group.  The Subject and Body are 
                        compulsory.  One can optionally link the current Dashboard to a 
                        message (allowing the recipient to open it with one click when reading
                        the message).  New messages are indicated on the user icon in the top
                        right hand corner of the top menu bar.  Click the X or press Escape 
                        to close this form.
                    </p>
                </clr-signpost-content>
            </clr-signpost>
        </div>
    
        <div class="gridToUsersTitle">
            <b>To Users:</b>
        </div>

        <div class="select gridToUsers">
            <select
                [(ngModel)]="selectedUser"
                name="selectedUser"
                >
                <option *ngFor="let row of userNames">
                    {{ row }}
                </option>
            </select>
        </div>

        <div class="gridToGroupsTitle">
            <b>To Groups:</b>
        </div>

        <div class="select gridToGroups">
            <select
                [(ngModel)]="selectedGroup"
                name="selectedGroup"
                >
                <option *ngFor="let row of groupNames"
                    >
                    {{ row }}
                </option>
            </select>
        </div>

        <div class="gridSubjectTitle">
            <b>Subject:</b>
        </div>

        <div class="gridSubject">
            <input [(ngModel)]="subject"
                name="subject"
                type="text"
                title="Subject"
                required 
                minlength="2"
                #subjectVar="ngModel"
                [style.color]="!subjectVar.valid ? 'red' : 'gray'"
                size="25"
                >
        </div>

        <div class="gridBodyTitle">
            <b>Body:</b>
        </div>

        <div class="gridBody">
            <input [(ngModel)]="body"
                name="body"
                type="text"
                title="Body"
                required 
                minlength="2"
                #bodyVar="ngModel"
                [style.color]="!bodyVar.valid ? 'red' : 'gray'"
                size="25"
                >
        </div>

        <div class="gridLinkTitle">
            <b>Link this Dashboard and Tab:</b>
        </div>

        <div class="gridLink">
            <input [(ngModel)]="linked"
                name="linked"
                type="checkbox"
                title="Link the current Dashboard (T/F)"
                >
        </div>

        <div class="gridErrorMessage">
            <i>
                {{ errorMessage }}
            </i>
        </div>

        <div class="gridButtonCancel">
                <button
                type="button"
                class="btn btn-secondary"
                (click)="clickClose('Close')"
                >
                Cancel
            </button>
        </div>

        <div class="gridButtonSend">
            <button
                type="button"
                class="btn btn-primary"
                (click)="clickSend('Sent')"
                >
                Send
            </button>
        </div>
    </div>
</form> 