.closeButton {
    background-color: transparent;
    border: none;
    background-color: transparent;
    left: 0;
    position: relative;
    top: 0;
}

.colourpicker {
    margin: 0px;
    padding: 0px;
}