.closeButton {
    background-color: transparent;
    border: none;
    background-color: transparent;
    float: right;
    right: 20;
    position: relative;
    top: 0;
}

.colourpicker {
    margin: 0px;
    padding: 0px;
}