<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose()">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Add a New Dashboard.</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                The existing open Dashboard will be closed (all changes will be saved
                                automatically) and a new Dashboard will be opened.  It has one Tab
                                called Tab1 (shown in the Statusbar at the bottom of the screen).  A Tab can be renamed
                                by clicking on its name.  More Tabs can be added using the
                                <clr-icon shape="plus"></clr-icon> in the Statusbar. You can add
                                Dashboard properties (ie. Description) under the Dashboard ->
                                Details menu option.  After creation, the new Dashboard is only
                                visible and editable by yourself.  Other users or groups
                                have to be granted Permissions, using the Dashboard -> Share menu
                                option.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>

                <div class="gridAddCodeTitle">
                    <b>New Code:</b>
                </div>
                <div class="gridAddCode">
                    <input type="text"
                        [(ngModel)]="dashboardCode"
                        size="25"
                        autofocus
                        placeholder="New (unique) Code"
                        >
                </div>

                <div class="gridAddNameTitle">
                    <b>New Name:</b>
                </div>
                <div class="gridAddName">
                    <input type="text"
                        [(ngModel)]="dashboardName"
                        size="40"
                        placeholder="New (unique) name"
                        >
                </div>

                <div class="gridAddDescriptionTitle">
                    <b>New Description:</b>
                </div>
                <div class="gridAddDescription">
                    <input type="text"
                        [(ngModel)]="dashboardDescription"
                        placeholder="Description"
                        size="50"
                        >
                </div>

                <div class="gridErrorMessage" *ngIf="errorMessage">
                    {{ errorMessage }}
                </div>

                <div class="gridButtonBrowse">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (dblclick)="clickFileBrowse()"
                        >
                        Browse
                    </button>
                </div>
                <div class="gridButtonBrowse">
                    <input class="btn btn-primary"
                        style="background-color:brown; border:none;color:white;opacity:0;"
                        type="file"
                        name="client-file"
                        id="get-files"
                        placeholder="Browse"
                        multiple
                        (change)="clickFileBrowse()"
                        />
                </div>

                <div class="gridImportMessage">
                    When Importing a Dashboard, a brand new Dashboard is created (and new
                    permisions, etc has to be created afresh).
                </div>

                <div class="gridCancelButton">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose()"
                        >
                        Cancel
                    </button>
                </div>
                <div class="gridSaveButton">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickCreate()"
                        >
                        Create
                    </button>
                </div>
                
                <div class="gridImages">
                    <img src="../images/Dashboard Layout Blank.png"
                        alt=""
                        height="130"
                        style="border: 1px solid darkgray; margin: 2px; padding: 2px;"
                        width="210"
                        (click)="clickImage()"
                        >
                    <img src="../images/Dashboard Layout 5 x 3.png"
                        alt=""
                        height="130"
                        style="border: 1px solid darkgray; margin: 2px; padding: 2px;"
                        width="210"
                        (click)="clickImage()"
                        >
                </div>
            </div>
        </div>
    </div>
</div>
