<div class="modal modalBox">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Usage Stats: </b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                Stats of most viewed / changed Dashboards, most active users,
                                messages, etc.  This will be completed at a later stage.  Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>
                <div class="gridSubTitle">
                    <i>
                        Will be added at later stage.
                    </i>
                </div>

                <div class="gridTable">

                    <clr-datagrid>
                        <clr-dg-column>FieldName</clr-dg-column>
                        <clr-dg-column>DataType</clr-dg-column>
                        <clr-dg-column>LocalName</clr-dg-column>
                        <clr-dg-column>Filtered</clr-dg-column>
                        <clr-dg-column>Transformed</clr-dg-column>
                        <clr-dg-row *clrDgItems="let row of finalFields">
                            <clr-dg-cell>{{ row.fieldName }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.dataType }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.localName }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.filtered }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.transformed }}</clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>

                </div>
            </div>
        </div>
    </div>
</div>
