<div class="modal modalBox">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">
           
            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose()">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Import a Dashboard.</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;"> 
                                This form imports a Dashboard from a plain text file that was 
                                exported previously.  This new Dashboard is a duplication of 
                                the original, with no relationship between them.  When 
                                exporting a Dashboard, it looses all Permissions and Snapshots.  
                                After importing, the new Dashboard is only visible and editable 
                                by yourself.  You need to re-assign permissions for other users 
                                who need to view or edit it.  
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>

                </div>

                <div class="gridSubTitle">
                    This form imports a Dashboard from a plain text file that was 
                    exported previously.  This new Dashboard is a duplication of 
                    the original, with no relationship between them.  When 
                    exporting a Dashboard, it looses all Permissions and Snapshots.  
                    After importing, the new Dashboard is only visible and editable 
                    by yourself.  You need to re-assign permissions for other users 
                    who need to view or edit it.  
                    Click the X or press Escape to close this form.
                </div> 
        
                <div class="gridFolderTitle">
                    <b>Folder:</b>
                </div>  
                <div class="gridFolder">
                    <input type="text" [(ngModel)]="folderName"
                        placeholder="Folder"
                        class="selectFile"
                        >
                </div>

                <div class="gridFileTitle">
                    <b>File:</b>
                </div>
                <div class="gridFile">
                    <input type="text" [(ngModel)]="fileName"
                        placeholder="Folder/FileName"
                        class="selectFile"
                        >
                </div>  

                <div class="gridButtonBrowse">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (dblclick)="clickFileBrowse()"
                        >
                        Browse
                    </button>
                </div>
                <div class="gridButtonBrowse">
                    <input class="btn btn-primary"
                        style="background-color:brown; border:none;color:white;opacity:0;"
                        type="file"
                        name="client-file"
                        id="get-files"
                        placeholder="Browse"
                        multiple
                        (change)="clickFileBrowse()"
                        />
                </div>

                <div class="gridButtonCancel">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose()"
                        >
                        Cancel
                    </button>
                </div>

                <div class="gridButtonImport">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickImport()"
                        >
                        Import
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
