.closeButton {
    background-color: transparent;
    border: none;
    left: 0;
    position: relative;
    top: 0;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(15, 0.8rem);
    margin-top: 2px;
}

    .gridTitle {
        grid-column-start: 2;
        grid-column-end: 14;
        grid-row-start: 2;
        grid-row-end: 3;
        text-align: left;
    }

    .gridName {
        grid-column-start: 2;
        grid-column-end: 14;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: left;
    }

    .gridDescription {
        grid-column-start: 2;
        grid-column-end: 14;
        grid-row-start: 6;
        grid-row-end: 7;
        text-align: left;
    }

    .gridBgColor {
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row-start: 8;
        grid-row-end: 9;
        text-align: left;
    }

    .gridColor {
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row-start: 10;
        grid-row-end: 11;
        text-align: left;
    }

    .gridErrorMessage {
        color: red;
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row-start: 12;
        grid-row-end: 13;
        text-align: left;
    }

    .gridButtonSave {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 14;
        grid-row-end: 15;
        text-align: left;
    }