.menuItm {
    margin: auto;
}

.menuButton  {
    color: rgba(245, 116, 10, 0.527) !important;
}

.dropdown-header .dropdown-menu {
    color: rgb(255, 205, 192);
}

.header-nav .dropdown {
    color: rgb(255, 205, 192);
}

.graphy {
    float: right;
    top: 80px;
    width: 280px;
}

.tabList {
	position: absolute;
    bottom: 0;
}
 
.sidenav .sidenav-content .nav-list {
    margin: 0;
    padding: 0;
}

.clr-tabs .clr-tab-content {
    margin: 0;
    padding: 0;
}

.subnav .nav {
    margin: 0;
    padding: 0;
}

.dimensionField {
    background-color: rgb(243, 243, 247);
}

.metricField {
    background-color: rgb(238, 172, 96);
}

.dateField {
    background-color: rgb(193, 196, 197);
}

h4 {
    color: gray;
    position: relative;
    left: 50%;
    top: 50%;
}

.typeIcon {
    display: inline;
}