.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(16, 1rem);
}
    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 16;
        /* autoprefixer: off */
        grid-column-end: 17;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-right: 12px;
        text-align: left;
    }
    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }

    .gridErrorMessage {
        color: red;
        font-size: 0.6rem;
        grid-column-start: 6;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 32px;
        text-align: left;
    }

    .gridSubTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 3;
        grid-row-end: 5;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }

    .gridCurrentTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }
    .gridCurrent {
        grid-column-start: 3;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }

    .gridButtonClear {
        grid-column-start: 9;
        /* autoprefixer: off */
        grid-column-end: 11;
        grid-row-start: 4;
        grid-row-end: 5;
        margin: 12px 2px 2px 2px;
        text-align: left;
    }
    .gridButtonAdd {
        grid-column-start: 11;
        /* autoprefixer: off */
        grid-column-end: 13;
        grid-row-start: 4;
        grid-row-end: 5;
        margin: 12px 2px 2px 2px;
        text-align: left;
    }
 
    .gridRest {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 16;
        grid-row-start: 6;
        grid-row-end: 16;
        margin: 2px 2px 2px 2px;
        text-align: left;
        overflow-y: scroll;
    }

