<div class="modal modalBox">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Delete the current Dashboard: </b> {{ dashboard.name }} 
                    ({{ dashboard.state }})
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;"> 
                                The current Dashboard is linked to the entities below, ALL of 
                                which will be deleted when this Dashboard is deleted.  A 
                                deleted Dashboard can be restored via the <i>Open Dashboard</i>
                                menu option.  Click the X, click the Cancel button or press 
                                Escape to close this form (nothing will be deleted in this case).
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>

                </div>

                <div class="gridTabs"
                    title="Nr of Tabs on this Dashboard"
                    >
                    <b>Tabs:</b>
                    {{ dashboardTabs }}
                </div>
                <div class="gridWidgets"
                    title="Nr of Widgets on this Dashboard"
                    >
                    <b>Widgets:</b>
                    {{ dashboardWidgets }}
                </div>

                <div class="gridMessages"
                    title="Nr of Messages for this Dashboard"
                    >
                    <b>Messages:</b>
                    {{ dashboardMessages }}
                </div>
                <div class="gridComments"
                    title="Nr of Comments for this Dashboard"
                    >
                    <b>Comments:</b>
                    {{ dashboardComments }}
                </div>

                <div class="gridSnapshots"
                    title="Nr of Snapshots for this Dashboard"
                    >
                    <b>Snapshots:</b>
                    {{ dashboardSnapshots }}
                </div>
                <div class="gridPermissions"
                    title="Nr of Permissions (users and groups) for this Dashboard"
                    >
                    <b>Permissions:</b>
                    {{ dashboardPermissions }}
                </div>

                <div class="gridCheckpoints"
                    title="Nr of Checkpoints for this Dashboard"
                    >
                    <b>Checkpoints:</b>
                    {{ dashboardCheckpoints }}
                </div>
                <div class="gridTags"
                    title="Nr of Tags for this Dashboard"
                    >
                    <b>Tags:</b>
                    {{ dashboardTags }}
                </div>

                <div class="gridSchedules"
                    title="Nr of Schedules for this Dashboard"
                    >
                    <b>Schedules:</b>
                    {{ dashboardSchedules }}
                </div>
                <div class="gridSubscriptions"
                    title="Nr of Subscriptions for this Dashboard"
                    >
                    <b>Subscriptions:</b>
                    {{ dashboardSubscriptions }}
                </div>

                <div class="gridHyperLinks"
                    title="Nr of HyperLinks TO this Dashboard"
                    >
                    <b>HyperLinks:</b>
                    {{ dashboardHyperLinks }}
                </div>
                <div class="gridTemplates"
                    title="Nr of Templates TO this Dashboard"
                    >
                    <b>Templates:</b>
                    {{ dashboardTemplates }}
                </div>

                <div class="gridStartup"
                    title="Nr of users using it as Startup Dashboard"
                    >
                    <b>Startup:</b>
                    {{ startupDashboards }}
                </div>
                
                <div class="gridErrorMessage" *ngIf="errorMessage">
                    {{ errorMessage }}
                </div>
                <div class="gridFavourite"
                    title="Nr of users who marked this Dashboard as Favourite"
                    >
                    <b>Favourites:</b>
                    {{ favouriteDashboards }}
                </div>

                <div class="gridDesription">
                    <i>
                        {{ dashboard.description }}
                    </i>
                </div>
                <div class="gridButtonCancel">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose()"
                        >
                        Cancel
                    </button>
                </div>

                <div class="gridButtonSave">
                    <button
                        type="button"
                        class="btn btn-danger"
                        (click)="clickDelete()"
                        >
                        Delete
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
