.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.closeButton {
    background-color: transparent;
    border: none;
    left: 0;
    position: relative;
    top: 0;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-auto-rows: 0.8rem;
    margin-top: 2px;
}

.newMessageArea {
    border: 1px solid gray;
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 1;
    grid-row-end: 8;
    margin: 5px;
}

    .textHeader {
        background-color: white;
        display: inline-block;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1;
        margin-left: 10px;
        margin-top: -1.5rem;
        opacity: 1;
        text-align: left;
        z-index: 101;

    }
    .textLine {
        margin-left: 10px;
    }

    .messagesArea {
        border: 1px solid gray;
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 8;
        grid-row-end: 25;
        margin: 5px;
        overflow: scroll;
    }
