<div class="modal modalBox">
	<div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
		<div class="modal-content modalContent">
            <form #f="ngForm" role="form" novalidate>

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose('Close')">
                        <b>X</b>
                    </button>

                    <div class="colourpicker" *ngIf="colourPickerClosed">
                        <colour-picker
                            [callingRoutine]="callingRoutine"
                            [selectedColor]="selectedColour"
                            >
                        </colour-picker>
                    </div>

                    <div class="titleHeader">
                        <b>Dashboard Tab:</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    Set properties for a new Dashboard Tab.  Click the Picker
                                    button to select colours from the colour picker.
                                    Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                    </clr-signpost>

                    </div>
                    <div class="titleSubHeader">
                    </div>

                    <div class="gridName">
                        <label for="dashboardName" class="popupLabel">Name (20 char):</label>
                        <input type="text"
                            [(ngModel)]="name"
                            class="popupInput"
                            name="name"
                            placeholder="Enter short name here"
                            minlength="3"
                            maxlength="20"
                            #nameVar="ngModel"
                            required
                            [style.color]="!nameVar.valid ? 'red' : 'gray'"
                            size="25"
                            >
                    </div>

                    <div class="gridDescription">
                        <label for="dashboardName" class="popupLabel">Description :</label>
                        <input type="text"
                            [(ngModel)]="description"
                            name="description"
                            placeholder="Enter Tab description"
                            class="popupInput"
                            minlength="3"
                            maxlength="100"
                            #descriptionVar="ngModel"
                            required
                            [style.color]="!descriptionVar.valid ? 'red' : 'gray'"
                            size="45"
                            >
                    </div>

                    <div class="gridBgColorTitle">
                        Bg Colour:
                    </div>
                    <div class="select gridBgColor">
                        <select [(ngModel)]="backgroundColorName"
                            name="backgroundColorName"
                            (change)="clickSelectBgColor($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.cssCode"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>

                    <div class="gridBgColorPicker">
                        <button
                            type="button"
                            class="btn btn-link btn-sm"
                            (click)="clickSelectBgColorPicker($event)"
                            >
                            Picker
                        </button>
                        <clr-icon
                            shape="circle"
                            size="14"
                            [style.background-color]="backgroundColor"
                            [style.color]="backgroundColor"
                            >
                        </clr-icon>
                    </div>

                    <div class="gridColorTitle">
                        Colour:
                    </div>
                    <div class="select gridColor">
                        <select [(ngModel)]="colorName"
                            (change)="clickSelectColor($event)"
                            name="colorName"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.cssCode"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>

                    <div class="gridColorPicker">
                        <button
                            type="button"
                            class="btn btn-link btn-sm"
                            (click)="clickSelectColorPicker($event)"
                            >
                            Picker
                        </button>
                        <clr-icon
                            shape="circle"
                            size="14"
                            [style.background-color]="color"
                            [style.color]="color"
                            >
                        </clr-icon>
                    </div>

                    <div class="gridErrorMessage" *ngIf="showErrorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridButtonCancel">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose('Close')"
                            >
                            Cancel
                        </button>
                    </div>
                    <div class="gridButtonSave">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickSave()"
                            >
                            Save
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>