<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">

                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    X
                </button>
                <div class="gridTitle">
                    <b>Template for the current Dashboard </b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                        <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;"> 
                                A Template is a Dashboard that is displayed behind your
                                Dashboard, for example your company name and logo.  Templates
                                cannot be edited here; it can be edited at any stage, similar
                                to any other Dashboard.  Changes to the template will reflect
                                in all the Dashboards where it is used.
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>

                </div>

                <div class="gridErrorMessage">
                    {{ errorMessage }}
                </div>

                <div class="gridSubTitle">
                    Double click a Dashboard in the grid to add it as a Template to the 
                    current Dashboard.  
                    Click Clear remove a previously linked Template.
                </div>

                <div class="gridCurrentTitle">
                    <b>Current Template:</b>
                </div>
                <div class="gridCurrent">
                    <input [(ngModel)]="currentTemplateName" 
                        type="text" 
                        size="45"
                        placeholder="No Template"
                        disabled
                        >
                </div>

                <div class="gridButtonClear">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClear()"
                        >
                        Clear
                    </button>
                </div>

                <div class="gridRest">

                    <clr-datagrid>
                        <clr-dg-column>Select</clr-dg-column>
                        <clr-dg-column>ID</clr-dg-column>
                        <clr-dg-column>Name</clr-dg-column>
                        <clr-dg-column>Description</clr-dg-column>

                        <clr-dg-row *clrDgItems="let row of dashboards; let i = index"
                            [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                            [style.color]="(i == selectedRow)? 'white' : 'gray'"
                            (click)="clickRow(i)" 
                            (dblclick)="dblclickAdd(i, row.id)"
                            >
                            <clr-dg-cell>
                                <clr-icon *ngIf="row.name==currentTemplateName" 
                                    shape="check" 
                                    class="selectIcon1" 
                                    size="12"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell>{{ row.id }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.name }} ( {{ row.state }} )</clr-dg-cell>
                            <clr-dg-cell>{{ row.description }}</clr-dg-cell>
                        </clr-dg-row>

                    </clr-datagrid>
                </div>
            </div>
        </div>
    </div>
</div>
