<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <button type="button" class="closeButton" (click)="clickClose()">
                X
            </button>

            <div class="gridOverall">
                <div class="gridTitle">
                    <b>Share Dashboard</b>
                </div>
                <div class="gridSubTitle">
                    <i>
                        Indicate who can access this Dashboard, and how.  The options are Private
                        (only accesable to myself), Public (all users can view and edit it) or
                        Access List (list of users and groups shown below, each with View or
                        Edit permissions.  To change existing permissions, double click the
                        View / Edit cell in the grid below.
                    </i>
                </div>

                <div class="gridCurrentTitle">
                    Dashboard Access Type:
                </div>
                <div class="gridCurrentSelect">
                    <div class="select">
                        <select id="selects_3"
                            (change)="clickSelectStep($event)"
                            >
                            <option>Private</option>
                            <option>Public</option>
                            <option>Access List</option>
                        </select>
                    </div>
                </div>
                <div class="gridCurrentButton">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose('Close')"
                        >
                        Save
                    </button>
                </div>

                <div class="gridNewTitle">
                    <b>Add a new user:</b>
                    <input type="text" placeholder="User ID">
                </div>
                <div class="gridNewUserID">
                    <b>UserID:</b>
                    <input type="text" placeholder="User ID">
                </div>
                <div class="gridNewGroupID">
                    <b>GroupID:</b>
                    <input type="text" placeholder="Group ID">
                </div>
                <div class="gridNewCanView">
                    <b>CanView:</b>
                    <input type="text" placeholder="CanView">
                </div>
                <div class="gridNewCanEdit">
                    <b>CanEdit:</b>
                    <input type="text" placeholder="CanEdit">
                </div>
                <div class="gridNewCanDelete">
                    <b>CanDelete:</b>
                        <input type="text" placeholder="CanEdit">
                </div>
                <div class="gridNewButton">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose('Close')"
                        >
                        Add
                    </button>
                </div>
    
                <div class="gridTable">
                    <clr-datagrid>
                        <clr-dg-column [clrDgField]="userID">User ID</clr-dg-column>
                        <clr-dg-column [clrDgField]="groupID">Group ID</clr-dg-column>
                        <clr-dg-column [clrDgField]="canView">View</clr-dg-column>
                        <clr-dg-column [clrDgField]="canEdit">Edit</clr-dg-column>
                        <clr-dg-column [clrDgField]="canDelete">Delete</clr-dg-column>

                        <clr-dg-row *clrDgItems="let row of dashboardPermissions; 
                            let i = index"
                            >
                            <clr-dg-cell>{{row.userID}}</clr-dg-cell>
                            <clr-dg-cell>{{row.groupID}}</clr-dg-cell>
                            <clr-dg-cell>{{row.canView}}</clr-dg-cell>
                            <clr-dg-cell>{{row.canEdit}}</clr-dg-cell>
                            <clr-dg-cell>{{row.canDelete}}</clr-dg-cell>
                        </clr-dg-row>

                    </clr-datagrid>
                </div>
            </div>
        </div>
    </div>
</div>
