<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <button type="button" class="closeButton" (click)="clickClose()">
                X
            </button>
 

            <div class="gridAddCodeTitle">

            <div class="gridOverall">

                <div class="gridTitle">
                    <b>Dashboard Help</b>
                </div>
                <div class="gridSubTitle">
                    <i>
                        This is your Dashboard on which data can be visualised.  It 
                        can have more than one tab (like a spreadsheet), as shown 
                        at the bottom of the page.  Some actions:
                    </i>
                </div>

                <div class="gridBody">
                    <div class="helpMessageDiv">
                        1. Data (called datasources) must be linked to a Dashboard 
                        before visualizing it.  Data can come from files, databases or 
                        the web.  In a larger company, this will be done by the 
                        responsible team.  Once datasources have been added, you can 
                        add them to your dashboard. 
                    </div>
                    <div>
                        If no datasources has been created before, add a new datasource: 
                        - Click <i>Data</i> in the top menu
                        - Then select the type of source like <i>From File</i>).  
                        Once done, you will return to this Dashboard.
                    </div>
                        2. Link a datasource to this dashboard:
                        - Click <i>Data</i> in the top menu
                        - Then click <i>Add Existing</i>).  Once done, return to this 
                        dashboard.
                </div>
                <div class="helpMessageDiv">
                        2. Add a Widget to visualise the added datasource.  A widget can
                        be a Graph, Table, Slicer (filter) or a Shape (text, circle, arrow,
                        etc).  Add a graph as follows: 
                        - Cclick <i>Graph</i> in the top menu
                        - Then click <i>Add Graph</i>
                        - Select the datasource, and drag fields onto the rows and columns
                        - Return to this dashboard once done.
                    </div>
                    <div class="helpMessageDiv">
                        3. Format and arrange Widgets as necessary, using:
                        - Arrange multiple widgets with the <i>Arrange</i> option in 
                            the top menu
                        - Drag widgets by click, hold, drag and release
                        - resize widgets with the drag handles on each corner and side.
                    </div>
                    <div class="helpMessageDiv">
                        4. All changes to a dashboard is saved automatically.  These changes
                        remain in draft format, and are not visible to other users.  To make
                        it visibile, Save your new Dashboard with a name using <i>Dashboard
                        -> Save</i> menu options.
                    </div>
                    <div class="helpMessageDiv">
                    5. Existing Dashboards can be opened with <i>Dashboard -> Open Existing</i>
                        menu options.
                    </div>
                    <div class="helpMessageDiv">
                        6. Collaboration (discussions with colleagues) happens via messages and tasks (click
                            the <i>Share <clr-icon shape="share"></clr-icon> icon</i> in the top right menu).
                    </div>
                    <div class="helpMessageDiv">
                        7. Graphs and Table can be edited with the <i>Graph -> Edit</i> and
                        <i>Table -> Edit</i> menu options respectively.
                    </div>
                    <br><br>
                        <b>Got it</b>
                        <input type="checkbox" (click)="clickGotIt()">
                </div>
            </div>
        </div>
    </div>
