<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>
        
                <div class="gridTitle">
                    <b>
                        Dashboard Treeview
                    </b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;"> 
                                Readonly view of the current Dashboard.  Note that objects
                                may be duplicated for ease of reference.  
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>

                </div>

                <div class="gridErrorMessage">
                    {{ errorMessage }}
                </div>

                <div class="gridTreeView">
                    <clr-tree-node *ngFor="let row of objectTree">
                        <clr-icon [attr.shape]="row.icon"></clr-icon>
                        {{row.name}} 
                        <ng-template [(clrIfExpanded)]="row.expanded">
                            <clr-tree-node *ngFor="let child of row.children">
                                <button class="clr-treenode-link"
                                    (click)="openchild(row.name, child.name)"
                                    [class.active]="child.active"
                                    >
                                    <clr-icon [attr.shape]="child.icon"></clr-icon>
                                    {{child.name}}

                                        <ng-template [(clrIfExpanded)]="child.expanded">
                                            <clr-tree-node *ngFor="let grandchild of child.grandchildren">
                                                <button class="clr-treenode-link"
                                                    (click)="openchild(row.name, child.name, grandchild.name)"
                                                    [class.active]="grandchild.active"
                                                    >
                                                    <clr-icon [attr.shape]="grandchild.icon"></clr-icon>
                                                    {{grandchild.name}}
                                                </button>
                                            </clr-tree-node>
                                        </ng-template>
        



                                </button>
                            </clr-tree-node>
                        </ng-template>
                    </clr-tree-node>
                </div>
            </div>
        </div>
    </div>
</div>
