<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">
    
                <div>
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
    
                    Dashboard tags
                    
                    <label for="dashboardName" class="popupLabel">New Tag :</label>
                    <input type="text" id="dashboardName" placeholder="Enter new tag name here"
                        class="popupInput">
                    <button type="button" (click)="clickClose('Close')">Add</button>
                    
                    <br> <br> <br>
                    
                    <div class="wrapper">
                        <div class="gridFields">
                            <nav
                                >

                                <ul class="nav-list"
                                >
                                    <li>
                                        <div
                                            class="nav-link"
                                            draggable="true"
                                            (dragstart)="dragstart_handler($event)"
                                            (dragend)="dragend_handler($event)"
                                            *ngFor="let row of dashboardTags"
                                            id="dragtarget"
                                            >
                                            <clr-icon shape="block" class="dimensionField"></clr-icon>
                                            {{ row.tag }}
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="gridRows"
                            (drop)="drop_pivot($event);"
                            (dragover)="dragover_pivot($event);"
                            >
                            Tags
                        </div>
                    </div>
            </div>  
            </div>  
        </div>  
    </div>  
    