<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">
            <div modalContent>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>

                <div class="gridOverall">

                    <div class="gridTitle">
                        <b>Comments:</b>
                    </div>
                    <div class="gridSubTitle">
                        Manage Comments for {{ headerText }}
                    </div>

                    <div class="newMessageHeader">
                        <b>New comment:</b>
                    </div>

                    <div class="newMessageText">
                        <input type="text" 
                            size="45"
                            placeholder="Enter comment"
                            >
                            <button class="btn btn-secondary textLine"
                                type="button"
                                (click)="clickClose('Close')"
                                >
                                Add
                        </button>
                    </div>

                    <div class="gridTable">

                        <ca-datagrid
                            [datagridColumns]="datagridColumns"
                            [datagridData]="datagridData"
                            [datagridPagination]="datagridPagination"
                            [datagridPaginationSize]="datagridPaginationSize"
                            [datagridShowHeader]="datagridShowHeader"
                            [datagridShowRowActionMenu]="datagridShowRowActionMenu"
                            [datagridShowData]="datagridShowData"
                            [datagridShowFooter]="datagridShowFooter"
                            [datagridRowHeight]="datagridRowHeight"
                            [datagriduserCanChangeProperties]="uatagriderCanChangeProperties"
                            [datagridShowTotalsRow]="datagridShowTotalsRow"
                            [datagridShowTotalsCol]="datagridShowTotalsCol"
                            [datagridCanEditInCell]="datagridCanEditInCell"
                            [datagridCanExportData]="datagridCanExportData"
                            >
                        </ca-datagrid>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
