<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">
            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose()">
                    <b>X</b>
                </button>
                <div class="gridTitle">
                    <b>Data Quality Issues for {{ headerText }}</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                This form shows all the related Data Quality Issues raised.
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>
                

                <button (click)="getSelectedRows()">Get Selected Rows</button>

                <!-- <div class="gridTable">
                    <ag-grid-angular 
                        #agGrid
                        style="width: 500px; height: 500px; overflow: scroll;" 
                        class="ag-theme-balham"
                        [alwaysShowStatusBar]="true"
                        [columnDefs]="columnDefs1"
                        [enableColResize]="true"
                        [enableFilter]="true"
                        [enableSorting]="true"
                        [enableStatusBar]="true"
                        [multiSortKey]="multiSortKey"
                        [pagination]="true"
                        [paginationAutoPageSize]="true"
                        [paginationPageSize]="paginationPageSize"
                        [pinnedTopRowData]="pinnedTopRowData"
                        [pinnedBottomRowData]="pinnedBottomRowData"
                        [rowData]="datagridData" 
                        [rowSelection]="multiple"
                        [showToolPanel]="true"
                        [suppressColumnMoveAnimation]="false"
                        [suppressDragLeaveHidesColumns]="true"
                        >
                    </ag-grid-angular>
                </div> -->


                <div class="gridTable">
                    <ca-datagrid
                        [datagridColumns]="datagridColumns"
                        [datagridData]="datagridData"
                        [datagridPagination]="datagridPagination"
                        [datagridPaginationSize]="datagridPaginationSize"
                        [datagridShowHeader]="datagridShowHeader"
                        [datagridShowRowActionMenu]="datagridShowRowActionMenu"
                        [datagridShowData]="datagridShowData"
                        [datagridShowFooter]="datagridShowFooter"
                        [datagridRowHeight]="datagridRowHeight"
                        [datagriduserCanChangeProperties]="uatagriderCanChangeProperties"
                        [datagridShowTotalsRow]="datagridShowTotalsRow"
                        [datagridShowTotalsCol]="datagridShowTotalsCol"
                        [datagridCanEditInCell]="datagridCanEditInCell"
                        [datagridCanExportData]="datagridCanExportData"
                        >
                    </ca-datagrid>
                </div>
            </div>
        </div>
    </div>
</div>
