.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.closeButton {
    background-color: transparent;
    border: none;
    left: 0;
    position: relative;
    top: 0;
}
 
.colourpicker {
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 260px;
    margin: 0px;
    padding: 20px;
    width: 280px;
    z-index: 100;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(15, 0.8rem);
    margin-top: 2px;
}

    .titleHeader {
        font-size: 0.75rem;
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 2px 2px 2px 20px;
        width: 100%;
    }
    .titleSubHeader {
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 2px 2px 2px 20px;
        width: 100%;
    }

    .gridName {
        grid-column-start: 2;
        grid-column-end: 14;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: left;
    }

    .gridDescription {
        grid-column-start: 2;
        grid-column-end: 14;
        grid-row-start: 6;
        grid-row-end: 7;
        text-align: left;
    }

    .gridBgColorTitle {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 9;
        text-align: left;
    }
    .gridBgColor {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 8;
        grid-row-end: 9;
        margin-left: 20px;
        text-align: left;
    }
    .gridBgColorPicker {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 8;
        grid-row-end: 9;
        margin-left: 20px;
        text-align: left;
    }

    .gridColorTitle {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 10;
        grid-row-end: 11;
        text-align: left;
    }
    .gridColor {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 10;
        grid-row-end: 11;
        margin-left: 20px;
        text-align: left;
    }
    .gridColorPicker {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 10;
        grid-row-end: 11;
        margin-left: 20px;
        text-align: left;
    }

    .gridErrorMessage {
        color: red;
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row-start: 12;
        grid-row-end: 13;
        text-align: left;
    }

    .gridButtonCancel {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 14;
        grid-row-end: 15;
        text-align: left;
    }
    .gridButtonSave {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 14;
        grid-row-end: 15;
        text-align: left;
    }