<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">
            <form #f="ngForm" role="form" novalidate>

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose('Close')">
                        <b>X</b>
                    </button>

                    <div class="colourpicker" *ngIf="colourPickerClosed">
                        <colour-picker
                            [callingRoutine]="callingRoutine"
                            [selectedColor]="selectedColour"
                            >
                        </colour-picker>
                    </div>

                    <div class="gridTitle">
                        <b>Amend the Dashboard Description.</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    This form shows descriptive detail for the current Dashboard.
                                    Hover over fields to display field level help.  Click the X
                                    or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>

                    <div class="gridName">
                        <b>Name:</b>
                        <input [(ngModel)]="dashboardName"
                            type="text"
                            name="dashboardName"
                            placeholder="Enter Name"
                            size="25"
                            #dashboardNameVar="ngModel"
                            required
                            minlength="3"
                            maxlength="60"
                            [style.color]="!dashboardNameVar.valid ? 'red' : 'gray'"
                        >
                    </div>
                    <div class="gridDescription">
                        <b>Description:</b>
                        <input [(ngModel)]="dashboardDescription"
                            type="text"
                            name="dashboardDescription"
                            placeholder="Enter Description"
                            size="25"
                            #dashboardDescriptionVar="ngModel"
                            required
                            minlength="3"
                            maxlength="250"
                            [style.color]="!dashboardDescriptionVar.valid ? 'red' : 'gray'"
                        >
                    </div>

                    <div class="gridQArequired">
                        <b>QA Required:</b>
                        <input [(ngModel)]="dashboardQArequired"
                            type="checkbox"
                            name="dashboardQArequired"
                            title="Is QA required for this Dashboard (T/F)"
                            >
                    </div>
                    <div class="gridIsSample">
                        <b>Is Sample:</b>
                        <input [(ngModel)]="dashboardIsSample"
                            type="checkbox"
                            name="dashboardIsSample"
                            title="Is this Dashboard a Canvas Sample (T/F)"
                            >
                    </div>

                    <div class="gridCode">
                        <b>Code:</b>
                        <input [(ngModel)]="dashboardCode"
                            type="text"
                            name="dashboardCode"
                            placeholder="Enter short Code"
                            size="25"
                            #dashboardCodeVar="ngModel"
                            required
                            minlength="3"
                            maxlength="30"
                            [style.color]="!dashboardCodeVar.valid ? 'red' : 'gray'"
                        >
                    </div>
                    <div class="gridDefaultTab">
                        <b>DefaultTab:</b>
                        <input [(ngModel)]="dashboardDefaultTab"
                            type="text"
                            name="dashboardDefaultTab"
                            placeholder="Enter Default Tab nr to open"
                            size="30"
                            >
                    </div>

                    <div class="gridRefreshMode">
                        <b>RefreshMode:</b>
                        <input [(ngModel)]="dashboardRefreshMode"
                            type="text"
                            name="dashboardRefreshMode"
                            placeholder="Enter Refresh Mode: Manual, OnOpen, Repeatedly"
                            size="25"
                            >
                    </div>
                    <div class="gridRefreshTimer">
                        <b>RefreshTimer:</b>
                        <input [(ngModel)]="dashboardRefreshTimer"
                            type="text"
                            name="dashboardRefreshTimer"
                            placeholder="Enter Refresh Timer (period in seconds)"
                            size="30"
                            >
                    </div>

                    <div class="gridExportFileType">
                        <b>Export File Type:</b>
                        <input [(ngModel)]="dashboardExportFileType"
                            type="text"
                            name="dashboardExportFileType"
                            placeholder="Enter Export File Type"
                            size="25"
                            >
                    </div>
                    <div class="gridExportUrl">
                        <b>Export Url:</b>
                        <input [(ngModel)]="dashboardExportUrl"
                            type="text"
                            name="dashboardExportUrl"
                            placeholder="Enter ExportUrl"
                            size="25"
                            >
                    </div>

                    <div class="gridPassword">
                        <b>Password:</b>
                        <input [(ngModel)]="dashboardPassword"
                            type="text"
                            name="dashboardPassword"
                            placeholder="Enter Optional Password"
                            size="25"
                            >
                    </div>
                    <div class="gridTemplateTitle">
                        <b>Template:</b>
                    </div>
                    <div class="select gridTemplate">
                        <select
                            [(ngModel)]="selectedTemplateDashboard"
                            name="dashboardTemplate"
                            (change)="clickTemplateDashboard($event)"
                            placeholder="Select a Dashboard as Template"
                            >
                            <option *ngFor="let row of dashboardList">
                                {{ row }}
                            </option>
                        </select>
                    </div>

                    <div class="gridBackgroundColorTitle">
                        <b>Bg Colour:</b>
                    </div>
                    <div class="select gridBackgroundColor">
                        <select [(ngModel)]="dashboardBackgroundColorName"
                            name="dashboardBackgroundColor"
                            (change)="clickSelectBgColor($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.cssCode"
                                >
                                    {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <div class="gridBackgroundColorPicker">
                        <button
                            type="button"
                            class="btn btn-link btn-sm"
                            (click)="clickSelectBgColorPicker($event)"
                            >
                            Picker
                        </button>
                        <clr-icon
                            shape="circle"
                            size="14"
                            [style.background-color]="dashboardBackgroundColor"
                            [style.color]="dashboardBackgroundColor"
                            >
                        </clr-icon>
                    </div>






                    <div class="gridBackgroundImage">
                        <b>Bg Image:</b>
                        <input [(ngModel)]="dashboardBackgroundImage"
                            type="text"
                            name="dashboardBackgroundImage"
                            placeholder="Enter BackgroundImage"
                            size="25"
                            >
                    </div>

                    <div class="gridStaticTitle">
                        <b>Static Fields:</b>
                    </div>

                    <div class="gridState">
                        <b>State:</b>
                        {{ dashboardState }}
                    </div>
                    <div class="gridVersion">
                        <b>Version:</b>
                        {{ dashboardVersion }}
                    </div>

                    <div class="gridCreator">
                        <b>Creator:</b>
                        {{ dashboardCreator }}
                    </div>
                    <div class="gridCreated">
                        <b>Created:</b>
                        {{ dashboardCreated }}
                    </div>

                    <div class="gridEditor">
                        <b>Editor:</b>
                        {{ dashboardEditor }}
                    </div>
                    <div class="gridEdited">
                        <b>Edited:</b>
                        {{ dashboardEdited  |  date:'yyyy/MM/dd HH:MM' }}
                    </div>

                    <div class="gridRefresher">
                        <b>Refresher:</b>
                        {{ dashboardRefresher }}
                    </div>
                    <div class="gridRefreshed">
                        <b>Refreshed:</b>
                        {{ dashboardRefreshed }}
                    </div>

                    <div class="gridAccessType">
                        <b>Access:</b>
                        {{ dashboardAccessType }}
                    </div>

                    <div class="gridErrorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridButtonCancel">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose('Close')"
                            >
                            Cancel
                        </button>
                    </div>

                    <div class="gridButtonSave">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickSave('Saved')"
                            >
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
