<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">
            <div modalContent>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>
                <div>
                    All Comments for this Dashboard
                </div>
                <div class="gridOverall">

                    <div class="newMessageArea">
                        <div class="textHeader">
                            <b>Add a new message:</b>
                        </div>
                        <br>
                        <span>
                            <label for="dashboardName" class="textLine">To :</label>
                            <select id="selects_3"
                                (change)="clickSelectStep($event)"
                                >
                                <option>AristaB</option>
                                <option>IanC</option>
                                <option>PlumberK</option>
                            </select>

                            <label for="dashboardName" class="textLine">Text :</label>
                            <input type="text" id="dashboardName" placeholder="Enter comment">
                            <button class="btn btn-secondary textLine"
                                    type="button"
                                    (click)="clickClose('Close')"
                                    >
                                    Add
                            </button>
                        </span>
                    </div>

                    <div class="messagesArea">
                        <div>
                            <div class="textHeader">
                                <b>Filter existing messages:</b>
                            </div>
                            <br>
                            <span>
                                <label for="dashboardName" class="textLine">Sender :</label>
                                <input type="text" id="dashboardName" placeholder="Filter sender/portion">
                            </span>
                            <span>
                                <label for="dashboardName" class="textLine">Text :</label>
                                <input type="text" id="dashboardName" placeholder="Filter comment/portion">
                            </span>
                            <span class="textLine">
                                <button class="btn btn-secondary"
                                        type="button"
                                        (click)="clickClose('Close')"
                                        >
                                        Search
                                </button>
                            </span>
                            <br>
                        </div>

                        <clr-datagrid>
                            <clr-dg-column>ID</clr-dg-column>
                            <clr-dg-column>Comment</clr-dg-column>
                            <clr-dg-column>Creator</clr-dg-column>
                            <clr-dg-column>CreatedOn</clr-dg-column>

                            <clr-dg-row *ngFor="let row of canvasComments">
                                <clr-dg-cell>{{row.id}}</clr-dg-cell>
                                <clr-dg-cell>{{row.comment}}</clr-dg-cell>
                                <clr-dg-cell>{{row.creator}}</clr-dg-cell>
                                <clr-dg-cell>{{row.createdOn}}</clr-dg-cell>
                            </clr-dg-row>

                        </clr-datagrid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
