<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <button type="button" class="closeButton" (click)="clickClose()">
                X
            </button>

            <div class="gridOverall">
                <div class="gridTitle">
                    <b>Save As:</b>
                </div>
                <div class="gridSubTitle">
                    <i>
                        Make a copy of the current Dashboard under a new name.
                    </i>
                </div>
            
                <div class="gridTextMain">
                    The current Dashboard will be saved as, under a new name.  This
                    will make a copy of the Dashboard, while keeping the Dashboard
                    open.
                </div>

                <div class="gridNewName">
                    <b>New Name:</b>
                    <input [(ngModel)]="newName"
                        type="text"
                        name="newName"
                        size="25"
                        placeholder="New Name for selected Dashboard"
                        #renameModeVar="ngModel"
                        required
                        minlength="3"
                        maxlength="80"
                        [style.color]="!renameModeVar.valid ? 'red' : 'gray'"
                    >
                </div>

                <div class="gridButtonCancel">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickClose()"
                        >
                        Cancel
                    </button>
                </div>

                <div class="gridButtonSave">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickSaveAs()"
                        >
                        Save As
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
