.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(22, 0.8rem);
    margin-top: 2px;
}
    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 21;
        /* autoprefixer: off */
        grid-column-end: 22;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-right: 12px;
        text-align: left;
    }
    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }
    .errorMessage {
        color: red;
        grid-column-start: 9;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 10px;
        margin-top: 12px;
        text-align: left;
    }

    .newMessageHeader {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-left: 10px;
        margin-top: 12px;
        text-align: left;
    }
    .newMessageText {
        grid-column-start: 3;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-left: 20px;
        margin-left: 15px;
        text-align: left;
    }

    .message {
        grid-column-start: 14;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-left: 10px;
        margin-top: 12px;
        text-align: left;
    }

    .gridTable {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 5;
        grid-row-end: 21;
        margin: 5px;
    }
