<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Schedule log for the current Dashboard.</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                This form shows all the Schedule Logs for the current Dashboard.
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>

                </div>

                <div class="gridErrorMessage">
                    {{ errorMessage }}
                </div>

                <div class="gridTable">
                    <clr-datagrid>
                        <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
                        <clr-dg-column [clrDgField]="'dashboardID'">DashboardID</clr-dg-column>
                        <clr-dg-column [clrDgField]="'userID'">User ID</clr-dg-column>
                        <clr-dg-column [clrDgField]="'groupID'">Group ID</clr-dg-column>
                        <clr-dg-column [clrDgField]="'sentOn'">Sent On</clr-dg-column>
                        <clr-dg-column [clrDgField]="'status'">Status</clr-dg-column>
                        <clr-dg-column [clrDgField]="'errorMessage'">Error Msg</clr-dg-column>
                        <clr-dg-column [clrDgField]="'editedBy'">Edited By</clr-dg-column>
                        <clr-dg-column [clrDgField]="'editedOn'">Edited On</clr-dg-column>
                        <clr-dg-column [clrDgField]="'createdBy'">Created By</clr-dg-column>
                        <clr-dg-column [clrDgField]="'createdOn'">Created On</clr-dg-column>

                        <clr-dg-row *clrDgItems="let row of dashboardScheduleLog;
                            let i = index"
                            [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                            [style.color]="(i == selectedRow)? 'white' : 'gray'"
                            (click)="clickRow(i, row.id)"
                            >
                            <clr-dg-cell>{{ row.id }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.dashboardID }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.userID }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.groupID }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.sentOn }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.status }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.errorMessage }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.editedBy }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.editedOn }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.createdBy }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.createdOn }}</clr-dg-cell>
                        </clr-dg-row>

                        <clr-dg-footer>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                            of {{pagination.totalItems}} rows
                            <clr-dg-pagination #pagination [clrDgPageSize]="9"></clr-dg-pagination>
                        </clr-dg-footer>

                    </clr-datagrid>
                </div>

            </div>

        </div>
    </div>
</div>

