<div class="modal modalBox">
	<div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
		<div class="modal-content modalContent">

            <button type="button" class="closeButton" (click)="clickClose()">
                X
            </button>

            <div class="gridOverall">

                <div class="titleHeader">
                    <b>Dashboard Tab:</b>
                </div>
                <div class="titleSubHeader">
                    <i>Set properties of the current Dashboard Tab.</i>
                </div>

                <div class="gridName">
                    <label for="dashboardName" class="popupLabel">Name (20 char):</label>
                    <input type="text" id="dashboardName" placeholder="Enter short name here"
                        class="popupInput" [(ngModel)]="name">
                </div>

                <div class="gridDescription">
                    <label for="dashboardName" class="popupLabel">Description :</label>
                    <input type="text" id="dashboardName" placeholder="Enter Tab description"
                        class="popupInput" [(ngModel)]="description">
                </div>
 
                <!-- <div class="gridBgColor">

                    <label for="selects_4">Tab Bg colour:</label>
                    <select id="selects_3"
                        [(ngModel)]="backgroundColor"
                        >
                        <option>None</option>
                        <option>White</option>
                        <option>Pink</option>
                        <option>Black</option>
                        <option>Red</option>
                        <option>Green</option>
                        <option>Blue</option>
                        <option>Orange</option>
                    </select>
                </div> -->
                <div class="gridBgColorTitle">
                    Bg Colour:
                </div>  
                <div class="select gridBgColor">
                    <select [(ngModel)]="backgroundColor"
                        name="backgroundColor"
                        (change)="clickSelectBgColor($event)"
                        >
                        <option *ngFor="let row of backgroundcolors"
                            [style.background-color]="row.name"
                            >
                            {{ row.name }}
                        </option>
                    </select>
                </div>
                <button
                    type="button"
                    class="btn btn-link btn-sm gridBgColorPicker"
                    (click)="clickSelectBgColorPicker()"
                    >
                    Picker
                </button>

                <!-- <div class="gridColor">

                    <label for="selects_4">Tab colour:</label>
                    <select id="selects_3"
                        [(ngModel)]="color"
                        >
                        <option>White</option>
                        <option>Black</option>
                    </select>
                </div> -->
                <div class="gridColorTitle">
                    Colour:
                </div>  
                <div class="select gridColor">
                    <select [(ngModel)]="color"
                        (change)="clickSelectColor($event)"
                        name="color"
                        >
                        <option *ngFor="let row of backgroundcolors"
                            [style.background-color]="row.name"
                            >
                            {{ row.name }}
                        </option>
                    </select>
                </div>
                <button
                    type="button"
                    class="btn btn-link btn-sm gridColorPicker"
                    (click)="clickSelectColorPicker()"
                    >
                    Picker
                </button>
                

                <div class="gridErrorMessage" *ngIf="showErrorMessage">
                    {{ errorMessageText}}
                </div>

                <div class="gridButtonCancel">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose()"
                        >
                        Cancel
                    </button>
                </div>
                <div class="gridButtonSave">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickSave()"
                        >
                        Save
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>