<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">
    
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>
     
                <div class="gridOverall">
                    <div class="gridTitle">
                        Dashboard Schedules: {{ dashboardName }} ( {{ dashboardStatus }})
                    </div>
                    <div class="gridSubTitle">
                        <i>
                            Will be done at a later stage.  Each schedule will be executed on
                            the given date and time, and a message with the Dashboard attached
                            will be send to the relevant user(s).  The data in the Dashboard
                            will also be refreshed.
                        </i>
                    </div>

                    <div class="gridRepeatFrequencyTitle">
                        <b>Frequency:</b>
                    </div>
                    <div class="select gridRepeatFrequency"
                        >
                        <select [(ngModel)]="selectedDashboardSchedules.repeatFrequency"
                            name="repeatFrequency"
                            >
                            <option>Daily</option>
                            <option>Weekly</option>
                            <option>Monthly</option>
                            <option>Yearly</option>
                        </select>
                    </div>

                    <div class="gridRepeatsEveryTitle">
                        <b>Repeats Every:</b>
                    </div>
                    <div class="gridRepeatsEvery">
                        <input [(ngModel)]="selectedDashboardSchedules.repeatsEvery"
                            type="number" 
                            name="repeatsEvery"
                            placeholder="Repeats every so many units"
                            #repeatsEveryVar="ngModel"
                            required
                            [style.color]="!repeatsEveryVar.valid ? 'red' : 'gray'"
                            >
                    </div>




                    <div class="gridWeeklyMondayTitle" 
                        *ngIf="selectedDashboardSchedules.repeatFrequency=='Weekly'">
                        <b>Monday:</b>
                    </div>
                    <div class="gridWeeklyMonday" *ngIf="selectedDashboardSchedules.repeatFrequency=='Weekly'">
                        <input [(ngModel)]="selectedDashboardSchedules.weeklyMonday"
                            type="checkbox" 
                            name="weeklyMonday"
                            placeholder="For Weekly occurs on Monday"
                            >
                    </div>

                    <div class="gridMonthlyOnTitle" 
                        *ngIf="selectedDashboardSchedules.repeatFrequency=='Monthly'"
                        >
                        <b>Repeats On:</b>
                    </div>
                    <div class="select gridMonthlyOn"  
                        *ngIf="selectedDashboardSchedules.repeatFrequency=='Monthly'"
                        >
                        <input [(ngModel)]="selectedDashboardSchedules.monthlyOn"
                            type="number" 
                            name="repeatsOn"
                            placeholder="Occurs Monthly on this day, ie 12th"
                            #weeklyMondayOnVar="ngModel"
                            [style.color]="!weeklyMondayOnVar.valid ? 'red' : 'gray'"
                            >
                    </div>

                    <div class="gridYearlyJanuaryTitle" 
                        *ngIf="selectedDashboardSchedules.repeatFrequency=='Yearly'"
                        >
                        <b>January:</b>
                    </div>
                    <div class="gridYearlyJanuary" 
                        *ngIf="selectedDashboardSchedules.repeatFrequency=='Yearly'"
                        >
                        <input [(ngModel)]="selectedDashboardSchedules.yearlyJanuary"
                            type="checkbox" 
                            name="repeatsOn"
                            placeholder="For Weekly occurs on Monday"
                            >
                    </div>
    



                    <div class="gridStartsOnTitle">
                        <b>Starts On:</b>
                    </div>
                    <div class="gridStartsOn">
                        <input [(ngModel)]="startsOn"
                            type="text" 
                            name="startsOn"
                            placeholder="Starting Date"
                            #startsOnVar="ngModel"
                            required
                            [style.color]="!startsOnVar.valid ? 'red' : 'gray'"
                            >
                    </div>

                    <div class="gridNeverEndsTitle">
                        <b>EndsNever:</b>
                    </div>
                    <div class="gridNeverEnds">
                        <input [(ngModel)]="neverEnds"
                            name="neverEnds"
                            type="checkbox"
                            title="Schedule does not have an end date (T/F)"
                            >
                    </div>
    
                    <div class="gridEndsAfterTitle">
                        <b>Ends After:</b>
                    </div>
                    <div class="gridEndsAfter">
                        <input [(ngModel)]="endsAfter"
                            type="number" 
                            name="endsAfter"
                            placeholder="UserName"
                            #endsAfterVar="ngModel"
                            [style.color]="!endsAfterVar.valid ? 'red' : 'gray'"
                            >
                    </div>

                    <div class="gridEndsOnTitle">
                        <b>Ends On:</b>
                    </div>
                    <div class="gridEndsOn">
                        <input [(ngModel)]="endsOn"
                            type="text" 
                            name="endsOn"
                            placeholder="Date when the Schedule ends"
                            #endsOnVar="ngModel"
                            required
                            minlength="2"
                            maxlength="250"
                            [style.color]="!endsOnVar.valid ? 'red' : 'gray'"
                            >
                    </div>
    
                    <div class="gridScheduleNameTitle">
                        <b>Name:</b>
                    </div>  
                    <div class="gridScheduleName">
                            <input [(ngModel)]="name"
                            type="text" 
                            name="name"
                            placeholder="Name of the Schedule"
                            #nameVar="ngModel"
                            required
                            minlength="2"
                            maxlength="250"
                            [style.color]="!nameVar.valid ? 'red' : 'gray'"
                            >
                    </div>

                    <div class="gridButtonCancel" *ngIf="editing">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickCancel()"
                            >
                            Cancel
                        </button>
                    </div> 
                    <div class="gridButtonAdd" *ngIf="editing">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickSave()"
                            >
                            Save
                        </button>
                    </div>
                    
                    <div class="gridButtonCancel" *ngIf="selectedRow  &&  !editing">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                (click)="clickEdit()"
                                >
                                Edit
                            </button>
                        </div> 
                        <div class="gridButtonAdd" *ngIf="!editing">
                            <button
                                type="button"
                                class="btn btn-primary"
                                (click)="clickAdd()"
                                >
                                Add
                            </button>
                        </div>
    
                    <div class="gridSchedules">
    
                        <clr-datagrid>
                            <clr-dg-column>Delete</clr-dg-column>
                            <clr-dg-column>ID</clr-dg-column>
                            <clr-dg-column>Name</clr-dg-column>
                            <clr-dg-column>description</clr-dg-column>
                            <clr-dg-column>repeatFrequency</clr-dg-column>
                            <clr-dg-column>repeatsEvery</clr-dg-column>
                            <clr-dg-column>startsOn</clr-dg-column>
                            <clr-dg-column>EndsNever</clr-dg-column>
                            <clr-dg-column>EndsAfter</clr-dg-column>
                            <clr-dg-column>EndsOn</clr-dg-column>
    
                            <clr-dg-row *ngFor="let row of currentDashboardSchedules
                                let i = index"
                                [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                                [style.color]="(i == selectedRow)? 'white' : 'gray'"
                                (click)="clickRow(i, row.id)" 
                                >
                                <clr-dg-cell>
                                    <clr-icon shape="times" class="selectIcon1" size="12"></clr-icon>
                                </clr-dg-cell>
                                <clr-dg-cell>{{row.id}}</clr-dg-cell>
                                <clr-dg-cell>{{row.name}}</clr-dg-cell>
                                <clr-dg-cell>{{row.description}}</clr-dg-cell>
                                <clr-dg-cell>{{row.repeatFrequency}}</clr-dg-cell>
                                <clr-dg-cell>{{row.repeatsEvery}}</clr-dg-cell>
                                <clr-dg-cell>{{row.startsOn}}</clr-dg-cell>
                                <clr-dg-cell>{{row.EndsNever}}</clr-dg-cell>
                                <clr-dg-cell>{{row.EndsAfter}}</clr-dg-cell>
                                <clr-dg-cell>{{row.EndsOn}}</clr-dg-cell>
                            </clr-dg-row>
    
                        </clr-datagrid>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    