.menuItm {
    margin: auto;
}

.menuButton  {
    color: rgba(245, 116, 10, 0.527) !important;
}

.dropdown-header .dropdown-menu {
    color: rgb(255, 205, 192);
}

.header-nav .dropdown {
    color: rgb(255, 205, 192);
}

.graphy {
    float: right;
    top: 80px;
    width: 50%;
}
 
.sidenav .sidenav-content .nav-list {
    margin: 0;
    padding: 0;
}

.clr-tabs .clr-tab-content {
    margin: 0;
    padding: 0;
}
