.modalBox {
	background-color: rgba(0,0,0,0.4); 
	-shadow: 0 2px 2px 0 lightgray;
}

.closeButton {
    background-color: transparent;
    border: none;
    left: 0;
    position: relative;
    top: 0;
}

.messageArea {
    border: 1px solid gray;
    margin: 15px 5px 15px 5px;
}

.textHeader {
    margin-left: 10px;
    text-align: center;
}
.textLine {
    margin-left: 10px;
}