<div class="modal modalBox">
        <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">

                <div>
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>

                    Dashboard tags

                    <div>
                        Add a new tag, or drag an existing Tag onto the list
                    </div>
                    <label for="dashboardName" class="popupLabel">New Tag :</label>
                    <input type="text" id="dashboardName" placeholder="Enter new tag name here"
                        class="popupInput">
                    <button type="btn btn-secondary" (click)="clickClose('Close')">Add</button>

                    <br> <br> <br>

                    <div class="gridOverall">
                        <div class="gridAvailable">
                            <nav>
                                <ul class="nav-list">
                                    <div
                                        class="nav-link"
                                        draggable="true"
                                        (dragstart)="dragstart_handler($event)"
                                        (dragend)="dragend_handler($event)"
                                        *ngFor="let row of currentDashboardTags"
                                        id="dragtarget"
                                        >
                                        {{ row.tag }}
                                    </div>
                                </ul>
                            </nav>
                        </div>
                        <div class="gridSelected"
                            (drop)="drop_pivot($event);"
                            (dragover)="dragover_pivot($event);"
                            >
                            Tags for this dashboard:
                        </div>
                        <div class="gridArrowAdd">Add</div>
                        <div class="gridArrowDelete">Del</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
