<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>

                Quickstart help

                <div class="helpMessage" *ngIf="isFirstTimeDashboardDiscard">
                    <div class="propertyLine">
                        With this option, <b>ALL</b> changes to the current Dashboard since
                        editing has started will be lost.  The Dasboard will be restored to
                        the original state, before editing has started.  Also, all snapshots
                        will be lost.
                    </div>
                    <div class="propertyLine">
                        The Discard action is final, there is <b>NO</b> way to get your changes
                        back.
                    </div>
                    <div class="propertyLine">
                        <b>Got it</b> <input type="checkbox" (click)="clickGotIt()" [checked]="!isFirstTimeDashboardDiscard">
                        (You can make this message re-appear with the <i>Preferences</i> option under your
                        User icon <clr-icon shape="user"></clr-icon> on the menu top right.)
                    </div>
                </div>

                <div>
                    <br>
                    All changes made to the Dashboard since editing has started will be lost,
                    all snapshots for it will be deleted and the Dashboard will be restored
                    to its original state.  Click Discard to continue, else close the form.
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickDiscard('Discard')"
                        >
                        Discard
                    </button>
                </div>

            </div>
        </div>
    </div>
