<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">

                <div>
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>

                    Dashboard Description
                    <div class="propertyLine">
                        Description:
                        <input type="text" id="formFields_7" placeholder="Enter text">
                        State:
                        <input type="text" id="formFields_7" placeholder="Enter text">
                        Version: number;
                    </div>

                    <div class="propertyLine">
                        Code:
                        <input type="text" id="formFields_7" placeholder="Enter text">
                        Name:
                        <input type="text" id="formFields_7" placeholder="Enter text">
                    </div>
                    <div class="propertyLine">
                        Password: string;
                        <input type="text" id="formFields_7" placeholder="Enter text">
                        RefreshMode: string;
                        <input type="text" id="formFields_7" placeholder="Enter text">
                    </div>
                    <div class="propertyLine">
                        RefreshTimer:
                        <input type="text" id="formFields_7" placeholder="Enter text">
                        DefaultTabID:
                        <input type="text" id="formFields_7" placeholder="Enter text">
                    </div>
                    <div class="propertyLine">
                        defaultExportFileType:
                        <input type="text" id="formFields_7" placeholder="Enter text">
                        url:
                        <input type="text" id="formFields_7" placeholder="Enter text">
                    </div>
                    <div class="propertyLine">
                        QA Required:
                        <input type="text" id="formFields_7" placeholder="Enter text">
                        TemplateDashboardID:
                        <input type="text" id="formFields_7" placeholder="Enter text">
                    </div>
                    <div class="propertyLine">
                        BackgroundColor:
                        <input type="text" id="formFields_7" placeholder="Enter text">
                        BackgroundImage:
                        <input type="text" id="formFields_7" placeholder="Enter text">
                    </div>
                    <div class="propertyLine">
                        Creator: HussainM
                        DateCreated: 2017/01/01
                        Editor: VaughN;
                        DateEdited: 2017/01/01
                    </div>
                    <div class="propertyLine">
                        Refresher: CharlieO
                        DateRefreshed: 2017/01/01
                    </div>


                    <div class="propertyLine">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose('Close')"
                            >
                            Save
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
