.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(20, 1rem);
    margin-top: 2px;
}
    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 15;
        /* autoprefixer: off */
        grid-column-end: 16;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-right: 12px;
        text-align: left;
    }

    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }

    .gridTabs {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-left: 20px;
        text-align: left;
    }
    .gridWidgets {
        grid-column-start: 8;
        /* autoprefixer: off */
        grid-column-end: 14;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-left: 20px;
        text-align: left;
    }

    .gridMessages {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 6;
        margin-left: 20px;
        text-align: left;
    }
    .gridComments {
        grid-column-start: 8;
        /* autoprefixer: off */
        grid-column-end: 14;
        grid-row-start: 5;
        grid-row-end: 6;
        margin-left: 20px;
        text-align: left;
    }

    .gridSnapshots {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 8;
        margin-left: 20px;
        text-align: left;
    }
    .gridPermissions {
        grid-column-start: 8;
        /* autoprefixer: off */
        grid-column-end: 14;
        grid-row-start: 7;
        grid-row-end: 8;
        margin-left: 20px;
        text-align: left;
    }

    .gridCheckpoints {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 9;
        grid-row-end: 10;
        margin-left: 20px;
        text-align: left;
    }
    .gridTags {
        grid-column-start: 8;
        /* autoprefixer: off */
        grid-column-end: 14;
        grid-row-start: 9;
        grid-row-end: 10;
        margin-left: 20px;
        text-align: left;
    }

    .gridSchedules {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 11;
        grid-row-end: 12;
        margin-left: 20px;
        text-align: left;
    }
    .gridSubscriptions {
        grid-column-start: 8;
        /* autoprefixer: off */
        grid-column-end: 14;
        grid-row-start: 11;
        grid-row-end: 12;
        margin-left: 20px;
        text-align: left;
    }

    .gridHyperLinks {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 13;
        grid-row-end: 14;
        margin-left: 20px;
        text-align: left;
    }
    .gridTemplates {
        grid-column-start: 8;
        /* autoprefixer: off */
        grid-column-end: 11;
        grid-row-start: 13;
        grid-row-end: 14;
        margin-left: 20px;
        text-align: left;
    }
         
    .gridStartup {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 15;
        grid-row-end: 16;
        margin-left: 20px;
        text-align: left;
    }
    
    .gridErrorMessage {
        color: red;
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 16;
        grid-row-end: 17;
        margin-left: 20px;
        text-align: left;
    }
    
    .gridFavourite {
        grid-column-start: 8;
        /* autoprefixer: off */
        grid-column-end: 14;
        grid-row-start: 15;
        grid-row-end: 16;
        margin-left: 20px;
        text-align: left;
    }
    
    .gridDesription {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 17;
        grid-row-end: 18;
        text-align: left;
    }

    .gridButtonCancel {
        grid-column-start: 4;
        /* autoprefixer: off */
        grid-column-end: 6;
        grid-row-start: 19;
        grid-row-end: 20;
        text-align: left;
    }

    .gridButtonSave {
        grid-column-start: 10;
        /* autoprefixer: off */
        grid-column-end: 12;
        grid-row-start: 19;
        grid-row-end: 20;
        text-align: left;
    }



