.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(11, 1.1rem);
    
}
    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 1;
        /* autoprefixer: off */
        grid-row-end: 2;
        text-align: left;
    }
    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 1;
        /* autoprefixer: off */
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }

    .gridAddCodeTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 3;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
        margin: 2px 2px 2px 12px;
        text-align: left;
    }
    .gridAddCode {
        grid-column-start: 3;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }

    .gridAddNameTitle {
        grid-column-start: 8;
        /* autoprefixer: off */
        grid-column-end: 10;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
        margin: 2px 2px 2px 12px;
        text-align: left;
    }
    .gridAddName {
        grid-column-start: 10;
        /* autoprefixer: off */
        grid-column-end: 14;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }

    .gridAddDescriptionTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 3;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
        margin: 2px 2px 2px 12px;
        text-align: left;
    }
    .gridAddDescription {
        grid-column-start: 3;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }

    .gridErrorMessage {
        color: red;
        grid-column-start: 9;
        /* autoprefixer: off */
        grid-column-end: 14;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }

    .gridButtonBrowse {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 3;
        grid-row-start: 7;
        /* autoprefixer: off */
        grid-row-end: 8;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }
    .gridButtonBrowse:hover {
        cursor: hand;
    }
    .gridImportMessage {
        grid-column-start: 3;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 7;
        /* autoprefixer: off */
        grid-row-end: 8;
        margin: 20px -2px 2px 2px;
        text-align: left;
    }

    .gridCancelButton {
        grid-column-start: 4;
        /* autoprefixer: off */
        grid-column-end: 6;
        grid-row-start: 9;
        /* autoprefixer: off */
        grid-row-end: 10;
        margin: 20px -2px 2px 2px;
        text-align: left;
    }
    .gridSaveButton {
        grid-column-start: 10;
        /* autoprefixer: off */
        grid-column-end: 12;
        grid-row-start: 9;
        /* autoprefixer: off */
        grid-row-end: 10;
        margin: 20px -2px 2px 2px;
        text-align: left;
    }
