<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">
            <div modalContent>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>
                <div class="gridOverall">
                    <div class="gridTitle">
                        <b>All Data Quality Issues for {{ headerText }}</b>
                    </div>
    
                    <div class="gridTable">
                        <ca-datagrid
                            [datagridColumns]="datagridColumns"
                            [datagridData]="datagridData"
                            [datagridPagination]="datagridPagination"
                            [datagridPaginationSize]="datagridPaginationSize"
                            [datagridShowHeader]="datagridShowHeader"
                            [datagridShowRowActionMenu]="datagridShowRowActionMenu"
                            [datagridShowData]="datagridShowData"
                            [datagridShowFooter]="datagridShowFooter"
                            [datagridRowHeight]="datagridRowHeight"
                            [datagriduserCanChangeProperties]="uatagriderCanChangeProperties"
                            [datagridShowTotalsRow]="datagridShowTotalsRow"
                            [datagridShowTotalsCol]="datagridShowTotalsCol"
                            [datagridCanEditInCell]="datagridCanEditInCell"
                            [datagridCanExportData]="datagridCanExportData"
                            >
                        </ca-datagrid>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</div>
    