<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>

                New Dashboard
                <div class="propertyLine">
                    Name:
                    <input type="text" id="formFields_7" placeholder="New (unique) name">
                </div>
                <div class="propertyLine">
                    Import:
                    <input type="text" id="formFields_7" placeholder="Folder/File Name.json">
                </div>
                <button 
                    type="button" 
                    class="btn btn-secondary" 
                    (click)="clickClose('Close')"
                    >
                    Create
                </button>
                
                <div>
                    <i>Note: The existing open Dashboard will be closed (all changes will be saved
                    automatically) and a new Dashboard will be opened.  It has one Tab
                    called Tab1 (shown in the Statusbar at the bottom of the screen).  A Tab can be renamed
                    by clicking on its name.  More Tabs can be added using the 
                    <clr-icon shape="plus"></clr-icon> at
                    the buttom of the screen.  You can add Dashboard properties (Description, Theme,
                    Schedule, Favourite, etc) under the File -> Details menu option.  After creation,
                    the new Dashboard is only visible and editable by yourself.  Other users or groups
                    have to be granted Permissions, using the File -> Permissions menu option.
                    </i>
                </div>
            </div>
        </div>
    </div>
</div>
