<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">

                <div>
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>

                    Dashboard Treeview
                    <div class="propertyLine">
                        Snapshots are saved by the user, and are bookmarks to which one can
                        roll back.  Snapshots are optional.
                    </div>
                    <div class="treeview">
                        <clr-tree-node *ngFor="let directory of rootDirectory">
                            <clr-icon [attr.shape]="directory.icon"></clr-icon>
                            {{directory.name}}
                            <ng-template [(clrIfExpanded)]="directory.expanded">
                                <clr-tree-node *ngFor="let file of directory.files">
                                    <button
                                            (click)="openFile(directory.name, file.name)"
                                            class="clr-treenode-link"
                                            [class.active]="file.active">
                                        <clr-icon [attr.shape]="file.icon"></clr-icon>
                                        {{file.name}}
                                    </button>
                                </clr-tree-node>
                            </ng-template>
                        </clr-tree-node>
                    </div>
                </div>
            </div>
        </div>
    </div>
