.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.closeButton {
    background-color: transparent;
    border: none;
    left: 0;
    position: relative;
    top: 0;
}

.errorMessage {
    color: red;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(17, 1.1rem);
}

    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: left;
    }
    .gridSubTitle {
        grid-column-start: 4;
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: left;
    }

    .gridName {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 2px 2px 2px 10px;
        text-align: left;
    }
    .gridFavourite {
        grid-column-start: 8;
        grid-column-end: 14;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 2px 2px 2px 10px;
        text-align: left;
    }

    .gridSharedByMe {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
        margin: 2px 2px 2px 10px;
        text-align: left;
    }
    .gridSharedToMe {
        grid-column-start: 8;
        grid-column-end: 14;
        grid-row-start: 3;
        grid-row-end: 4;
        margin: 2px 2px 2px 10px;
        text-align: left;
    }

    .gridSharedToUser {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 5;
        margin: 2px 2px 2px 10px;
        text-align: left;
    }
    .gridSharedToGroup {
        grid-column-start: 8;
        grid-column-end: 14;
        grid-row-start: 4;
        grid-row-end: 5;
        margin: 2px 2px 2px 10px;
        text-align: left;
    }

    .gridCreatedBy {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 2px 2px 2px 10px;
        text-align: left;
    }
    .gridStatus {
        grid-column-start: 8;
        grid-column-end: 14;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 2px 2px 2px 10px;
        text-align: left;
    }

    .gridDatasource {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 6;
        grid-row-end: 7;
        margin: 2px 2px 2px 10px;
        text-align: left;
    }
    .gridField {
        grid-column-start: 8;
        grid-column-end: 14;
        grid-row-start: 6;
        grid-row-end: 7;
        margin: 2px 2px 2px 10px;
        text-align: left;
    }

    .gridTag {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 8;
        margin: 2px 2px 2px 10px;
        text-align: left;
    }

    .gridSearchButton {
        grid-column-start: 8;
        grid-column-end: 10;
        grid-row-start: 7;
        grid-row-end: 8;
        margin: 2px 2px 2px 10px;
        text-align: left;
    }
    .gridNewName {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 9;
        grid-row-end: 10;
        margin: 2px 2px 2px 10px;
        text-align: left;
    }

    .gridRenameButton {
        grid-column-start: 6;
        grid-column-end: 10;
        grid-row-start: 9;
        grid-row-end: 10;
        margin: -10px 2px 2px 10px;
        text-align: left;
    }

    .gridTable {
        grid-column-start: 1;
        grid-column-end: 15;
        grid-row-start: 10;
        grid-row-end: 12;
        margin-top: 2px 2px 2px 2px;
    }
