<div class="modal modalBox">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>
                <div class="gridTitle">
                    <b>Make a copy of the current Dashboard.</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;"> 
                                The current Dashboard will be saved as, under a new name.  
                                This will make a copy of the Dashboard, while keeping the 
                                current Dashboard unchanged, and still open.  Click the X 
                                or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>
            
                <div class="gridTextMain">
                    The current Dashboard will be saved as, under a new name.  This
                    will make a copy of the Dashboard, while keeping the current Dashboard
                    open.
                </div>

                <div class="gridNewName">
                    <b>New Name:</b>
                    <input [(ngModel)]="newName"
                        type="text"
                        name="newName"
                        size="25"
                        placeholder="New Dashboard name"
                        #newNameVar="ngModel"
                        required
                        minlength="3"
                        maxlength="80"
                        [style.color]="!newNameVar.valid ? 'red' : 'gray'"
                    >
                </div>

                <div class="gridButtonCancel">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose('Close')"
                        >
                        Cancel
                    </button>
                </div>

                <div class="gridButtonSave">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickSaveAs()"
                        >
                        Save As
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
