<div class="modal modalBox">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">
        
            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Discard Draft changes.</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;"> 
                                Changes made to the current Draft Dashboard will be lost.  This includes
                                snapshots.  The original Dashboard (from which the Draft version was
                                copied) will be restored.  Discarding is final - the lost 
                                changes in the Draft Dashboard cannot be restored again. 
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>

                </div>

                <div class="gridSubTitle">
                    Changes made to the current Draft Dashboard will be lost.  This includes
                    snapshots.  The original Dashboard (from which the Draft version was
                    copied) will be restored.  Discarding is final - the lost 
                    changes in the Draft Dashboard cannot be restored again. 
                    Click the X or press Escape to close this form.
                </div> 

                <div class="gridButtonCancel">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose('Close')"
                        >
                        Cancel
                    </button>
                </div>
                <div class="gridButtonDiscard">
                    <button
                        type="button"
                        class="btn btn-danger"
                        (click)="clickDiscard('Discard')"
                        >
                        Discard
                    </button>
                </div>
    
            </div>
        </div>
    </div>
</div>
