<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent"
            [style.background-color]="showAdvancedFilters? 'lightgray' : 'white'"
            >

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose()">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Open an existing Dashboard</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;"> 
                                    Use the filters at the top to narrow down the list of
                                    Dashboards displayed in the grid below.  Opening a Dashboard is
                                    done in View mode by default.  Click <i>Edit -> EditMode</i> to 
                                    change to Edit mode after a Dashboard has been opened. This will
                                    create a Draft copy, leaving the original unchanged.  Only the 
                                    editor can see the Draft copy.  
                                    Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
    
                </div>

                <div class="gridDashboardNameTitle">
                    <b>Name:</b>
                </div>
                <div class="gridDashboardName">
                    <input type="text" [(ngModel)]="filterDashboardName"
                        size="40" 
                        placeholder="Enter dashboard/portion"
                        >
                </div>

                <div class="gridButtonFilter">
                    <button type="button" class="btn btn-link"
                        (click)="clickShowAdvancedFilters()"
                        [style.color]="showAdvancedFilters? 'red' : 'blue'">
                        Advanced Filters
                    </button>
                </div>
                <div class="gridButtonSearch">
                    <button type="button" class="btn btn-secondary"
                        (click)="clickSearch()">
                        Search
                    </button>
                </div>

                <div class="gridErrorMessage">
                    {{ errorMessage }}
                </div>
            
                <div class="gridTable" 
                    >
                    <clr-datagrid
                        >
                        <clr-dg-column [style.width.%]="10">View</clr-dg-column>
                        <clr-dg-column [style.width.%]="10">Edit</clr-dg-column>
                        <clr-dg-column [style.width.%]="10">State</clr-dg-column>
                        <clr-dg-column>Name</clr-dg-column>
                        <clr-dg-column>Description</clr-dg-column>
                        <clr-dg-column># Widgets</clr-dg-column>
                        <clr-dg-column># Recs</clr-dg-column>
                        <clr-dg-column>Creator</clr-dg-column>
                        <clr-dg-column>#Opened</clr-dg-column>

                        <clr-dg-row *clrDgItems="let row of dashboards; let i = index"
                            [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                            [style.color]="(i == selectedRow)? 'white' : 'gray'"
                            (click)="clickRow(i)"
                            >
                            <clr-dg-cell (click)="clickOpenView(row.id)">
                                <clr-icon shape="eye" 
                                    class="selectIcon1" 
                                    size="12"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell (click)="clickOpenEdit(i, row.id)">
                                <clr-icon shape="pencil" 
                                    class="selectIcon1" 
                                    size="12"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell [style.width.px]="80">{{row.state}}</clr-dg-cell>
                            <clr-dg-cell>{{row.name}}</clr-dg-cell>
                            <clr-dg-cell>{{row.description}}</clr-dg-cell>
                            <clr-dg-cell>{{row.nrWidgets}}</clr-dg-cell>
                            <clr-dg-cell>{{row.nrRecords}}</clr-dg-cell>
                            <clr-dg-cell>{{row.creator}}</clr-dg-cell>
                            <clr-dg-cell>{{row.nrTimesOpened}}</clr-dg-cell>
                        </clr-dg-row>
                        <clr-dg-footer>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                            of {{pagination.totalItems}} dashboards
                            <clr-dg-pagination #pagination [clrDgPageSize]="records"></clr-dg-pagination>
                        </clr-dg-footer>
                    </clr-datagrid>
                </div>
            

                <div *ngIf="showAdvancedFilters" class="gridFilterArea">
                    <h3 class="filterHeading">Advanced filters</h3>
                    <div class="filterSchedulesTitle">
                        Schedules:
                    </div>

                    <div class="filterSchedulesSendToTitle">
                        Send To:
                    </div>
                    <div class="filterSchedulesSendTo">
                        <input type="text"
                            placeholder="Send to"
                            >
                    </div>

                    <div class="filterSchedulesDueOnTitle">
                        Due on:
                    </div>
                    <div class="filterSchedulesDueOn">
                        <input type="text" 
                            placeholder="Due on Date"
                            >
                    </div>
    
                    <div class="filterSchedulesSentAfterTitle">
                        Sent After:
                    </div>
                    <div class="filterSchedulesSentAfter">
                        <input type="text" 
                            placeholder="Sent after"
                            >
                    </div>

                    <div class="filterSchedulesSentBeforeTitle">
                        Sent Before:
                    </div>
                    <div class="filterSchedulesSentBefore">
                        <input type="text" 
                            placeholder="Sent before"
                            >
                    </div>
    
                    <div class="filterSharedTitle">
                        Shared:
                    </div>
                    <div class="filterSharedByMeTitle">
                        By me:
                    </div>
                    <div class="filterSharedByMe">    
                        <input type="text" 
                            placeholder="By me"
                            >
                    </div>

                    <div class="filterSharedWithMeTitle">
                        With me:
                    </div>
                    <div class="filterSharedWithMe">
                        <input type="text" 
                            placeholder="To with me (by another user)"
                            >
                    </div>
 
                    <div class="filterSharedWithUserIDTitle">
                        With User:
                    </div>
                    <div class="filterSharedWithUserID">
                        <input type="text" 
                            placeholder="To user"
                            >
                    </div>
 
                    <div class="filterSharedWithGroupTitle">
                        With Group:
                    </div>
                    <div class="filterSharedWithGroup">
                        <input type="text" 
                            placeholder="To grp"
                            >
                    </div>

                    <div class="filterOpenedTitle">
                        Opened:
                    </div>

                    <div class="filterOpenedByMeTitle">
                        By me:
                    </div>
                    <div class="filterOpenedByMe">
                        <input type="text" 
                            placeholder="By me"
                            >
                    </div>

                    <div class="filterOpenedLastMonthTitle">
                        Last Month:
                    </div>
                    <div class="filterOpenedLastMonth">
                        <input type="text" 
                            placeholder="Last wk/mnth"
                            >
                    </div>

                    <div class="filterCreatedTitle">
                        Created:
                    </div>

                    <div class="filterCreatedByTitle">
                        Creator:
                    </div>
                    <div class="filterCreatedBy">
                        <input type="text" 
                            placeholder="Creator (userID)"
                            >
                    </div>

                    <div class="filterCreatedLastMonthTitle">
                        Last Month:
                    </div>
                    <div class="filterCreatedLastMonth">
                        <input type="text" 
                            placeholder="User"
                            >
                    </div>

                    <div class="filterDataTitle">
                        Data:
                    </div>
                    <div class="filterDataDatasourceTitle">
                        Datasource:
                    </div>
                    <div class="filterDataDatasource">
                        <input type="text" 
                            placeholder="Datasource"
                            >
                    </div>

                    <div class="filterDataFieldTitle">
                        Field:
                    </div>
                    <div class="filterDataField">
                        <input type="text" 
                            placeholder="Field"
                            >
                    </div>


                    <div class="filterOtherTitle">
                        Other:
                    </div>
    
                    <div class="filterStatusTitle">
                        Status:
                    </div>
                    <div class="filterStatus">
                        <input type="text" 
                            placeholder="Draft, Complete"
                            >
                    </div>
    
                    <div class="filterTagTitle">
                        Tag:
                    </div>
                    <div class="filterTag">
                        <input type="text" 
                            placeholder="By tag"
                            >
                    </div>

                    <div class="filterMyFavTitle">
                        MyFav:
                    </div>
                    <div class="filterMyFav">
                        <input type="checkbox" 
                            placeholder="My fav only"
                            >
                    </div>

                    <div class="filterModifiedTitle">
                        Modified:
                    </div>
                    <div class="filterModifiedAfterTitle">
                        Modified After:
                    </div>
                    <div class="filterModifiedAfter">
                        <input type="text" 
                            placeholder="Last wk/mnth"
                            >
                    </div>

                    <div class="filterModifiedBeforeTitle">
                        Modified Before:
                    </div>
                    <div class="filterModifiedBefore">
                        <input type="text" 
                            placeholder="Last wk/mnth"
                            >
                    </div>

                    <div class="filterModifiedByUserIDTitle">
                            By User:
                        </div>
                        <div class="filterModifiedByUserID">
        
                        <input type="text" 
                            placeholder="Modified by UserID"
                            >
                    </div>

                    <div class="filterButtonClose">
                        <button type="button" class="btn btn-secondary"
                            (click)="showAdvancedFilters=!showAdvancedFilters">
                            Close
                        </button>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</div>
