<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">
            <form #f="ngForm" role="form" novalidate>
                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose('Close')">
                        <b>X</b>
                    </button>

                    <div class="gridTitle">
                        <b>Rename a Dashboard.</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    Enter filters, and then click Search to show the
                                    corresponding Dashboards in the grid below.  Click the
                                    Rename icon (left column) to rename.  Click the Clear button
                                    to remove any previous filter text (and then click Search to
                                    apply).  Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>

                    <div class="gridFilterTitle">
                        <b>Optional Filters:</b>
                    </div>

                    <div class="gridName">
                        <b>Name/Description:</b>
                        <input [(ngModel)]="filterName"
                            type="text"
                            name="filterName"
                            size="25"
                            placeholder="Name/Description contains this text"
                            >
                    </div>
                    <div class="gridFavourite">
                        <b>My favourite:</b>
                        <input [(ngModel)]="filterFavourite"
                            type="checkbox"
                            name="filterFavourite"
                            title="Is one of my Favourites"
                            >
                    </div>

                    <div class="gridSharedByMe">
                        <b>Shared by me:</b>
                        <input [(ngModel)]="filterSharedByMe"
                            type="checkbox"
                            name="filterSharedByMe"
                            title="Shared by me"
                            >
                    </div>
                    <div class="gridSharedToMe">
                        <b>Shared by to:</b>
                        <input [(ngModel)]="filterSharedToMe"
                            type="checkbox"
                            name="filterSharedToMe"
                            title="Shared to me directly (as UserID)"
                            >
                    </div>
                    <div class="gridSharedToUser">
                        <b>Shared to User:</b>
                        <input [(ngModel)]="filterSharedToUser"
                            type="text"
                            name="filterSharedToUser"
                            size="25"
                            placeholder="Shared to a specific user"
                            >
                    </div>
                    <div class="gridSharedToGroup">
                        <b>Shared to Group:</b>
                        <input [(ngModel)]="filterSharedToGroup"
                            type="text"
                            name="filterSharedToGroup"
                            size="25"
                            placeholder="Shared to a specific Group"
                            >
                    </div>

                    <div class="gridCreatedBy">
                        <b>Created by:</b>
                        <input [(ngModel)]="filterCreatedBy"
                            type="text"
                            name="filterCreatedBy"
                            size="25"
                            placeholder="Created by a specific User"
                            >
                    </div>
                    <div class="gridStateTitle">
                        <b>State:</b>
                    </div>
                    <div class="gridState">
                        <div class="select">
                            <select
                                (change)="clickSelectState($event)"
                                [(ngModel)]="filteredState"
                                    name="filteredState"
                                >
                                <option></option>
                                <option>Draft</option>
                                <option>Complete</option>
                            </select>
                        </div>
                    </div>

                    <div class="gridDatasource">
                        <b>Uses Datasource:</b>
                        <input [(ngModel)]="filterDatasource"
                            type="text"
                            name="filterDatasource"
                            size="25"
                            placeholder="Uses data from this DS"
                            >
                    </div>
                    <div class="gridField">
                        <b>Uses Field:</b>
                        <input [(ngModel)]="filterField"
                            type="text"
                            name="filterField"
                            size="25"
                            placeholder="Uses this data field in a Widget"
                            >
                    </div>

                    <div class="gridTag">
                        <b>Tag:</b>
                        <input [(ngModel)]="filterTag"
                            type="text"
                            name="filterTag"
                            size="25"
                            placeholder="Is tagged with this Tag"
                            >
                    </div>

                    <div class="gridClearButton">
                        <button
                            type="button"
                            class="btn btn-link"
                            (click)="clickClear()"
                            >
                            Clear
                        </button>
                    </div>

                    <div class="gridSearchButton">
                        <button
                            type="button"
                            class="btn btn-link"
                            (click)="clickSearch()"
                            >
                            Search
                        </button>
                    </div>

                    <div class="gridErrorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridNewName" *ngIf="renameMode">
                        <b>New Name:</b>
                        <input [(ngModel)]="newName"
                            type="text"
                            name="newName"
                            size="25"
                            placeholder="New Name for selected Dashboard"
                            #renameModeVar="ngModel"
                            required
                            minlength="3"
                            maxlength="80"
                            [style.color]="!renameModeVar.valid ? 'red' : 'gray'"
                        >
                    </div>
                    <div class="gridCancelButton" *ngIf="renameMode">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            size="35"
                            (click)="clickCancel()"
                            >
                            Cancel
                        </button>
                    </div>
                    <div class="gridRenameButton" *ngIf="renameMode">
                        <button
                            type="button"
                            class="btn btn-primary"
                            size="35"
                            (click)="clickRename()"
                            >
                            Rename
                        </button>
                    </div>

                    <div class="gridTable">
                        <clr-datagrid>
                            <clr-dg-column>Rename</clr-dg-column>
                            <clr-dg-column>State</clr-dg-column>
                            <clr-dg-column>Name</clr-dg-column>
                            <clr-dg-column>Description</clr-dg-column>
                            <clr-dg-column># Widgets</clr-dg-column>
                            <clr-dg-column># Recs</clr-dg-column>
                            <clr-dg-column>Creator</clr-dg-column>
                            <clr-dg-column>#Opened</clr-dg-column>

                            <clr-dg-row *clrDgItems="let row of filteredDashboards;
                                let i = index"
                                [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                                [style.color]="(i == selectedRow)? 'white' : 'gray'"
                                (click)="clickRow(i, row.id)"
                                >
                                <clr-dg-cell>
                                    <clr-icon shape="pencil"
                                        class="selectIcon1"
                                        (click)="clickRowRename(row.id, row.name)"
                                        size="12">
                                    </clr-icon>
                                </clr-dg-cell>
                                <clr-dg-cell>{{row.state}}</clr-dg-cell>
                                <clr-dg-cell>{{row.name}}</clr-dg-cell>
                                <clr-dg-cell>{{row.description}}</clr-dg-cell>
                                <clr-dg-cell>{{row.nrWidgets}}</clr-dg-cell>
                                <clr-dg-cell>{{row.nrRecords}}</clr-dg-cell>
                                <clr-dg-cell>{{row.creator}}</clr-dg-cell>
                                <clr-dg-cell>{{row.nrTimesOpened}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-footer>
                                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                of {{pagination.totalItems}} records
                                <clr-dg-pagination
                                    #pagination
                                    [clrDgPageSize]="5"
                                    >
                                </clr-dg-pagination>
                            </clr-dg-footer>

                        </clr-datagrid>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
