<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <button type="button" class="closeButton" (click)="clickClose()">
                X
            </button>
    
            <div class="gridOverall">
                <div class="gridTitle">
                    Dashboard Schedules
                </div>
                <div class="gridSubTitle">
                    <i>
                        Shows a list of all Schedules in the system.  Each schedule will be
                        executed on the specified date and time: the Dashboard will be prepared,
                        and a message with the Dashboard attached will be send to the relevant 
                        user(s).  The data contained in the Dashboard will also be refreshed.
                    </i>
                </div>

                <div class="gridSchedules">
 
                    <clr-datagrid>
                        <clr-dg-column>Delete</clr-dg-column>
                        <clr-dg-column>ID</clr-dg-column>
                        <clr-dg-column>Name</clr-dg-column>
                        <clr-dg-column>description</clr-dg-column>
                        <clr-dg-column>Frequency</clr-dg-column>
                        <clr-dg-column>repeatsEvery</clr-dg-column>
                        <clr-dg-column>repeatsOn</clr-dg-column>
                        <clr-dg-column>repeatsFor</clr-dg-column>
                        <clr-dg-column>startsOn</clr-dg-column>
                        <clr-dg-column>EndsNever</clr-dg-column>
                        <clr-dg-column>EndsAfter</clr-dg-column>
                        <clr-dg-column>EndsOn</clr-dg-column>

                        <clr-dg-row *ngFor="let row of currentDashboardSchedules
                            let i = index"
                            [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                            [style.color]="(i == selectedRow)? 'white' : 'gray'"
                            (click)="clickRow(i)" 
                            >
                            <clr-dg-cell>
                                <clr-icon shape="times" class="selectIcon1" size="12"></clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell>{{row.id}}</clr-dg-cell>
                            <clr-dg-cell>{{row.name}}</clr-dg-cell>
                            <clr-dg-cell>{{row.description}}</clr-dg-cell>
                            <clr-dg-cell>{{row.repeatFrequency}}</clr-dg-cell>
                            <clr-dg-cell>{{row.repeatsEvery}}</clr-dg-cell>
                            <clr-dg-cell>{{row.repeatsOn}}</clr-dg-cell>
                            <clr-dg-cell>{{row.repeatsFor}}</clr-dg-cell>
                            <clr-dg-cell>{{row.startsOn}}</clr-dg-cell>
                            <clr-dg-cell>{{row.EndsNever}}</clr-dg-cell>
                            <clr-dg-cell>{{row.EndsAfter}}</clr-dg-cell>
                            <clr-dg-cell>{{row.EndsOn}}</clr-dg-cell>
                        </clr-dg-row>

                    </clr-datagrid>
                </div>

            </div>
        </div>
    </div>
</div>


