<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <button type="button" class="closeButton" (click)="clickClose('Close')">
                X
            </button>
 
            <div class="gridOverall">

                <div class="gridTitle">
                    <b>Dashboard Help</b>
                </div>
                <div class="gridSubTitle">
                    <i>
                        This is your Dashboard on which data can be visualised.  Multiple
                        tabs are shown at the bottom.  Some actions:
                    </i>
                </div>

                <div class="gridBody">
                    <div>
                        1. Data (called datasources) must be linked to a Dashboard 
                        before visualizing it.  Data can come from files, databases or 
                        the web.  In a larger company, this will be done by the 
                        responsible team.  Once datasources have been added, you can 
                        add them to your dashboard.  If no datasources has been 
                        created before, add a new datasource: 
                        <div class="gridSubText">
                            - Click <i>Data</i> in the top menu
                        </div>
                        <div class="gridSubText">
                            - Then select the type of source like <i>From File</i>).  
                            Once done, you will return to this Dashboard.
                        </div>
                    </div>

                    <div>
                        2. Link a datasource to this dashboard:

                        <div class="gridSubText">
                            - Click <i>Data</i> in the top menu
                        </div>
                        <div class="gridSubText">
                            - Then click <i>Add Existing</i>).  Once done, return to this 
                                    dashboard.
                        </div>

                        3. Add a Widget to visualise the added datasource.  A widget can
                        be a Graph, Table, Slicer (filter) or a Shape (text, circle, arrow,
                        etc).  Add a graph as follows: 

                        <div class="gridSubText">
                            - Click <i>Graph</i> in the top menu
                        </div>
                        <div class="gridSubText">
                            - Then click <i>Add Graph</i>
                        </div>

                    <div>
                        4. Format and arrange Widgets as necessary, using:
                        <div class="gridSubText">
                            - Arrange multiple widgets with the <i>Arrange</i> option in 
                            the top menu
                        </div>
                        <div class="gridSubText">
                            - Drag and resize widgets using your mouse
                        </div>
                    </div>

                    <div>
                        5. All changes to a dashboard are saved automatically.  These changes
                        remain in draft format, and are not visible to other users.  To make
                        it visibile, Save your new Dashboard with a name using <i>Dashboard
                        -> Save</i> menu options.
                    </div>

                    <div>
                        6. Existing Dashboards can be opened with <i>Dashboard -> Open Existing</i>
                        menu options.
                    </div>

                    <div>
                        7. Collaboration (discussions with colleagues) happens via messages and tasks (click
                            the <i>Share <clr-icon shape="share"></clr-icon> icon</i> in the top right menu).
                    </div>

                    <br>
                        <b>Got it</b>
                        <input type="checkbox" (click)="clickGotIt()">
                        (You can always view this information on the <i>Help</i>
                        menu option.)
            </div>
            </div>
        </div>
    </div>
</div>
