<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">

                <div>
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>

                    Dashboard Description
                    <div class="propertyLine">
                        Highlevel Content summary:
                        <input type="text" id="formFields_7" placeholder="Enter text">
                    </div>
                    <div class="propertyLine">
                        Author(s):
                        <input type="text" id="formFields_7" placeholder="Names">
                    </div>
                    <div class="propertyLine">
                        Purpose:
                        <input type="text" id="formFields_7" placeholder="Enter text">
                    </div>
                    <div class="propertyLine">
                        Target audience:
                        <input type="text" id="formFields_7" placeholder="Enter text">
                    </div>
                    <div class="propertyLine">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose('Close')"
                            >
                            Save
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
