<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>

                Dashboard Schedules
                <div class="propertyLine">
                    Add a schedule to the current Dashboard:
                    <input type="text" id="formFields_7" placeholder="Schedule name">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose('Close')"
                        >
                        Save
                    </button>
                </div>

                <div class="propertyLine">
                    Schedules saved for this Dashboard.  These determine when the data in a
                    Dashboard will be refresh, and who will optionally be notified about it:
                </div>

                <clr-datagrid>
                    <clr-dg-column>Delete</clr-dg-column>
                    <clr-dg-column>ID</clr-dg-column>
                    <clr-dg-column>Name</clr-dg-column>
                    <clr-dg-column>description</clr-dg-column>
                    <clr-dg-column>repeats</clr-dg-column>
                    <clr-dg-column>repeatsEvery</clr-dg-column>
                    <clr-dg-column>repeatsOn</clr-dg-column>
                    <clr-dg-column>repeatsFor</clr-dg-column>
                    <clr-dg-column>startsOn</clr-dg-column>
                    <clr-dg-column>EndsNever</clr-dg-column>
                    <clr-dg-column>EndsAfter</clr-dg-column>
                    <clr-dg-column>EndsOn</clr-dg-column>

                    <clr-dg-row *ngFor="let row of currentDashboardSchedules">
                        <clr-dg-cell>
                            <clr-icon shape="times" class="selectIcon1" size="12"></clr-icon>
                        </clr-dg-cell>
                        <clr-dg-cell>{{row.id}}</clr-dg-cell>
                        <clr-dg-cell>{{row.name}}</clr-dg-cell>
                        <clr-dg-cell>{{row.description}}</clr-dg-cell>
                        <clr-dg-cell>{{row.repeats}}</clr-dg-cell>
                        <clr-dg-cell>{{row.repeatsEvery}}</clr-dg-cell>
                        <clr-dg-cell>{{row.repeatsOn}}</clr-dg-cell>
                        <clr-dg-cell>{{row.repeatsFor}}</clr-dg-cell>
                        <clr-dg-cell>{{row.startsOn}}</clr-dg-cell>
                        <clr-dg-cell>{{row.EndsNever}}</clr-dg-cell>
                        <clr-dg-cell>{{row.EndsAfter}}</clr-dg-cell>
                        <clr-dg-cell>{{row.EndsOn}}</clr-dg-cell>
                    </clr-dg-row>

                </clr-datagrid>

            </div>
        </div>
    </div>
</div>
