<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>

                New Dashboard
                <div class="propertyLine">
                    Name:
                    <input type="text" id="formFields_7" placeholder="New (unique) name">
                </div>
                <div>The existing Dashboard will be closed (all changes will be saved 
                    automatically) and a new Dashboard will be opened.  It has one Tab
                    called Tab1 (shown at the bottom of the screen).  A Tab can be renamed
                    by clicking on its name.  More Tabs can be added using the Plus at 
                    the buttom of the screen.You can add properties (Description, Theme, 
                    Schedule, Favourite, etc) under the File -> Details menu option.  
                    Permissions can be set with the File -> Permissions menu option.
                </div>
            </div>
        </div>
    </div>
</div>
    