<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>

                Dashboard Settings
                <div class="propertyLine">
                    Checkpoints are saved by the user, and are bookmarks to which one can
                    roll back.  Checkpoints are optional.
                </div>
                <div class="propertyLine">
                    Frequency for AutoSave (the default is 0, which will store changes after each change)
                    <input type="text" id="formFields_7" placeholder="10 mins">
                </div>
                <div class="propertyLine">
                    Background color
                    <input type="text" id="formFields_7" placeholder="10 mins">
                </div>
                <div class="propertyLine">
                    Background Image 
                    <input type="text" id="formFields_7" placeholder="10 mins">
                </div>
                <div class="propertyLine">
                    Refresh Frequency of the data in this Dashboard
                    <input type="text" id="formFields_7" placeholder="On Demand / On Open">
                </div>

                <div class="propertyLine">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose('Close')"
                        >
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
