<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">
            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>
                <div class="gridTitle">
                    <b>Data Quality Issues for {{ headerText }}</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                This form shows all the related Data Quality Issues raised.
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>


                <!-- EXPERIMENT WITH ag-GRID -->
                <!-- <button (click)="getSelectedRows()">Get Selected Rows</button> -->

                <!-- <div class="gridTable">
                    <ag-grid-angular
                        #agGrid
                        style="width: 500px; height: 500px; overflow: scroll;"
                        class="ag-theme-balham"
                        [alwaysShowStatusBar]="true"
                        [columnDefs]="columnDefs1"
                        [enableColResize]="true"
                        [enableFilter]="true"
                        [enableSorting]="true"
                        [enableStatusBar]="true"
                        [multiSortKey]="multiSortKey"
                        [pagination]="true"
                        [paginationAutoPageSize]="true"
                        [paginationPageSize]="paginationPageSize"
                        [pinnedTopRowData]="pinnedTopRowData"
                        [pinnedBottomRowData]="pinnedBottomRowData"
                        [rowData]="datagridData"
                        [rowSelection]="multiple"
                        [showToolPanel]="true"
                        [suppressColumnMoveAnimation]="false"
                        [suppressDragLeaveHidesColumns]="true"
                        >
                    </ag-grid-angular>
                </div> -->


                <!-- OLD CA Grid -->
                <!-- <div class="gridTable">
                    <ca-datagrid
                        [datagridColumns]="datagridColumns"
                        [datagridData]="datagridData"
                        [datagridPagination]="datagridPagination"
                        [datagridPaginationSize]="datagridPaginationSize"
                        [datagridShowHeader]="datagridShowHeader"
                        [datagridShowRowActionMenu]="datagridShowRowActionMenu"
                        [datagridShowData]="datagridShowData"
                        [datagridShowFooter]="datagridShowFooter"
                        [datagridRowHeight]="datagridRowHeight"
                        [datagriduserCanChangeProperties]="datagriduserCanChangeProperties" 
                        [datagridShowTotalsRow]="datagridShowTotalsRow"
                        [datagridShowTotalsCol]="datagridShowTotalsCol"
                        [datagridCanEditInCell]="datagridCanEditInCell"
                        [datagridCanExportData]="datagridCanExportData"
                        >
                    </ca-datagrid>
                </div> -->


                <div class="gridTable">
                    <clr-datagrid>
                        <clr-dg-column [clrDgField]='id'>id</clr-dg-column>
                        <clr-dg-column [clrDgField]='name'>name</clr-dg-column>
                        <clr-dg-column [clrDgField]='datasourceID'>datasourceID</clr-dg-column>
                        <clr-dg-column [clrDgField]='status'>status</clr-dg-column>
                        <clr-dg-column [clrDgField]='type'>type</clr-dg-column>
                        <clr-dg-column [clrDgField]='description'>description</clr-dg-column>
                        <clr-dg-column [clrDgField]='nrIssues'>nrIssues</clr-dg-column>
                        <clr-dg-column [clrDgField]='loggedBy'>loggedBy</clr-dg-column>
                        <clr-dg-column [clrDgField]='loggedOn'>loggedOn ID</clr-dg-column>
                        <clr-dg-column [clrDgField]='solvedBy'>solvedBy</clr-dg-column>
                        <clr-dg-column [clrDgField]='solvedOn'>solvedOn</clr-dg-column>

                        <clr-dg-row *clrDgItems="let row of dataQualityIssues;
                            let i = index"
                            [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                            [style.color]="(i == selectedRow)? 'white' : 'gray'"
                            (click)="clickRow(i, row.id)"
                            >
                            <clr-dg-cell>{{ row.id }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.name }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.datasourceID }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.status }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.type }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.description }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.nrIssues }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.loggedBy }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.loggedOn }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.solvedBy }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.solvedOn }}</clr-dg-cell>
                        </clr-dg-row>

                        <clr-dg-footer>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                            of {{pagination.totalItems}} rows
                            <clr-dg-pagination #pagination [clrDgPageSize]="9"></clr-dg-pagination>
                        </clr-dg-footer>

                    </clr-datagrid>
                </div>


            </div>
        </div>
    </div>
</div>
