<div class="modal modalBox">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <button type="button" class="closeButton" (click)="clickClose()">
                X
            </button>

            <div class="gridOverall">

                <div class="gridTitle">
                    <b>Delete the current Dashboard: </b>
                </div>
                <div class="gridSubTitle">
                    <i>
                        This Dashboard is linked to the entities below, ALL of which will be 
                        deleted when this Dashboard is deleted.  A deleted Dashboard can be 
                        restored via the <i>Open Dashboard</i> menu option :
                    </i>
                </div>

                <div class="gridTabs">
                    <b>Tabs:</b>
                    <input [(ngModel)]="dashboardTabs"
                        {{  }}
                        title="Nr of Tabs on this Dashboard"
                        >
                </div>
                <div class="gridWidgets">
                    <b>Widgets:</b>
                    <input [(ngModel)]="dashboardWidgets"
                        {{  }}
                        title="Nr of Widgets on this Dashboard"
                        >
                </div>

                <div class="gridMessages">
                    <b>Messages:</b>
                    <input [(ngModel)]="dashboardMessages"
                        {{  }}
                        title="Nr of Messages for this Dashboard"
                        >
                </div>
                <div class="gridComments">
                    <b>Comments:</b>
                    <input [(ngModel)]="dashboardComments"
                        {{  }}
                        title="Nr of Comments for this Dashboard"
                        >
                </div>

                <div class="gridSnapshots">
                    <b>Snapshots:</b>
                    <input [(ngModel)]="dashboardSnapshots"
                        {{  }}
                        title="Nr of Snapshots for this Dashboard"
                        >
                </div>
                <div class="gridPermissions">
                    <b>Permissions:</b>
                    <input [(ngModel)]="dashboardPermissions"
                        {{  }}
                        title="Nr of Permissions (users and groups) for this Dashboard"
                        >
                </div>

                <div class="gridCheckpoints">
                    <b>Checkpoints:</b>
                    <input [(ngModel)]="dashboardCheckpoints"
                        {{  }}
                        title="Nr of Checkpoints for this Dashboard"
                        >
                </div>
                <div class="gridTags">
                    <b>Tags:</b>
                    <input [(ngModel)]="dashboardTags"
                        {{  }}
                        title="Nr of Tags for this Dashboard"
                        >
                </div>

                <div class="gridSchedules">
                    <b>Schedules:</b>
                    <input [(ngModel)]="dashboardSchedules"
                        {{  }}
                        title="Nr of Schedules for this Dashboard"
                        >
                </div>
                <div class="gridSubscriptions">
                    <b>Subscriptions:</b>
                    <input [(ngModel)]="dashboardSubscriptions"
                        {{  }}
                        title="Nr of Subscriptions for this Dashboard"
                        >
                </div>

                <div class="gridHyperLinks">
                    <b>HyperLinks:</b>
                    <input [(ngModel)]="dashboardHyperLinks"
                        {{  }}
                        title="Nr of HyperLinks TO this Dashboard"
                        >
                </div>
                <div class="gridTemplates">
                    <b>Templates:</b>
                    <input [(ngModel)]="dashboardTemplates"
                        {{  }}
                        title="Nr of Templates TO this Dashboard"
                        >
                </div>


                <div class="gridButtonCancel">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose()"
                        >
                        Cancel
                    </button>
                </div>

                <div class="gridButtonSave">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickSave()"
                        >
                        Save
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
