<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose()">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Open an existing Dashboard</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;"> 
                                    Use the filters at the top to narrow down the list of
                                    Dashboards displayed in the grid below.  Opening a Dashboard is
                                    done in View mode by default.  Click <i>Edit -> EditMode</i> to 
                                    change to Edit mode after a Dashboard has been opened. This will
                                    create a Draft copy, leaving the original unchanged.  Only the 
                                    editor can see the Draft copy.  
                                    Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
    
                </div>

                <div class="gridDashboardNameTitle">
                    <b>Name:</b>
                </div>
                <div class="gridDashboardName">
                    <input type="text" [(ngModel)]="filterDashboardName"
                        size="40" 
                        placeholder="Enter dashboard/portion"
                        >
                </div>

                <div class="gridButtonFilter">
                    <button type="button" class="btn btn-link"
                        (click)="clickShowAdvancedFilters()"
                        [style.color]="showAdvancedFilters? 'blue' : 'red'">
                        Advanced Filters
                    </button>
                </div>
                <div class="gridButtonSearch">
                    <button type="button" class="btn btn-secondary"
                        (click)="clickSearch()">
                        Search
                    </button>
                </div>
                <div class="gridErrorMessage">
                    {{ errorMessage }}
                </div>

                <div *ngIf="showAdvancedFilters" class="gridFilterArea">
                    <div class="propertyLine">
                        Schedule:
                        <input type="text" id="formFields_7" placeholder="Send to">
                        <input type="text" id="formFields_7" placeholder="Sent on">
                        <input type="text" id="formFields_7" placeholder="Due on Date">
                        <input type="text" id="formFields_7" placeholder="Send last wk/mnth">
                    </div>
                    <div class="propertyLine">
                        Shared:
                        <input type="text" id="formFields_7" placeholder="By me">
                        <input type="text" id="formFields_7" placeholder="To me">
                        <input type="text" id="formFields_7" placeholder="To user">
                        <input type="text" id="formFields_7" placeholder="To grp">
                    </div>
                    <div class="propertyLine">
                        Opened:
                        <input type="text" id="formFields_7" placeholder="By me">
                        <input type="text" id="formFields_7" placeholder="Last wk/mnth">
                    </div>
 
                    <div class="propertyLine">
                        <span>
                            Created by:
                            <input type="text" id="formFields_7" placeholder="User">
                            </span>
                        <span>
                            Status:
                            <input type="text" id="formFields_7" placeholder="Draft, Complete">
                        </span>>
                        <span>
                            Uses data:
                            <input type="text" id="formFields_7" placeholder="Datasource">
                            <input type="text" id="formFields_7" placeholder="Field">
                        </span>
                    </div>
                    <div class="propertyLine">
                        <span>
                            Tags:
                            <input type="text" id="formFields_7" placeholder="By tag">
                        </span>
                        <span class="propertyLine">
                            My fav:
                            <input type="text" id="formFields_7" placeholder="My fav only">
                        </span>
                    </div>
                    <div class="propertyLine">
                        Last Modified / Editted:
                        <input type="text" id="formFields_7" placeholder="Last wk/mnth">
                        <input type="text" id="formFields_7" placeholder="By user / By Me">
                    </div>

                    <div class="gridTableX">
                        <clr-datagrid>
                            <clr-dg-column [style.width.%]="10">View</clr-dg-column>
                            <clr-dg-column [style.width.%]="10">Edit</clr-dg-column>
                            <clr-dg-column [style.width.%]="10">State</clr-dg-column>
                            <clr-dg-column>Name</clr-dg-column>
                            <clr-dg-column>Description</clr-dg-column>
                            <clr-dg-column># Widgets</clr-dg-column>
                            <clr-dg-column># Recs</clr-dg-column>
                            <clr-dg-column>Creator</clr-dg-column>
                            <clr-dg-column>#Opened</clr-dg-column>

                            <clr-dg-row *clrDgItems="let row of dashboards; let i = index"
                                [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                                [style.color]="(i == selectedRow)? 'white' : 'gray'"
                                (click)="clickRow(i)"
                                >
                                <clr-dg-cell (click)="clickOpenView(row.id)">
                                    <clr-icon shape="eye" class="selectIcon1" size="12"></clr-icon>
                                </clr-dg-cell>
                                <clr-dg-cell (click)="clickOpenEdit(i, row.id)">
                                    <clr-icon shape="pencil" class="selectIcon1" size="12"></clr-icon>
                                </clr-dg-cell>
                                <clr-dg-cell [style.width.px]="80">{{row.state}}</clr-dg-cell>
                                <clr-dg-cell>{{row.name}}</clr-dg-cell>
                                <clr-dg-cell>{{row.description}}</clr-dg-cell>
                                <clr-dg-cell>{{row.nrWidgets}}</clr-dg-cell>
                                <clr-dg-cell>{{row.nrRecords}}</clr-dg-cell>
                                <clr-dg-cell>{{row.creator}}</clr-dg-cell>
                                <clr-dg-cell>{{row.nrTimesOpened}}</clr-dg-cell>
                            </clr-dg-row>
                            <clr-dg-footer>
                                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                of {{pagination.totalItems}} dashboards
                                <clr-dg-pagination #pagination [clrDgPageSize]="records"></clr-dg-pagination>
                            </clr-dg-footer>
                        </clr-datagrid>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
