<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <form #f="ngForm" role="form" novalidate>

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose('Close')">
                        <b>X</b>
                    </button>
                    <div class="gridTitle">
                        <b>Manage Ownership per Datasource</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    Specify an optional owner per Datasource.  The owner is
                                    responsible for the content of its data.  Double click
                                    the delete icon to delete a record.
                                    Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>

                    <div class="gridDatasourceTitle">
                        <b>Datasource:</b>
                    </div>
                    <div class="select gridDatasource">
                        <select
                            [(ngModel)]="selectedLinkedDatasource"
                            name="datasourceID"
                            title="Datasource for this Ownership"
                            placeholder="Datasource for this Ownership"
                            [disabled]="!editing  &&  !adding"
                            >
                            <option *ngFor="let row of datasourceNames">
                                {{ row }}
                            </option>
                        </select>
                    </div>

                    <div class="gridUserIDTitle">
                        <b>UserID:</b>
                    </div>
                    <div class="select gridUserID">
                        <select
                            [(ngModel)]="selectedDataOwnership.userID"
                            name="userID"
                            title="UserID who is the Data Owner"
                            placeholder="UserID who is the Data Owner"
                            [disabled]="!editing  &&  !adding"
                            >
                            <option *ngFor="let row of userIDs">
                                {{ row }}
                            </option>
                        </select>
                    </div>

                    <div class="gridTypeTitle">
                        <b>Type:</b>
                    </div>
                    <div class="gridType">
                        <input [(ngModel)]="selectedDataOwnership.type"
                            type="text"
                            name="type"
                            title="User-defined type, ie Stats, Backfill"
                            placeholder="User defined type, ie Owner, Steward"
                            [disabled]="!editing  &&  !adding"
                            >
                    </div>

                    <div class="gridDescriptionTitle">
                        <b>Description:</b>
                    </div>
                    <div class="gridDescription">
                        <input [(ngModel)]="selectedDataOwnership.description"
                            type="text"
                            name="description"
                            size="30"
                            title="Description of the Data Issue"
                            required
                            placeholder="Description of the Data Issue"
                            [disabled]="!editing  &&  !adding"
                            >
                    </div>

                    <div class="gridButtonCancel" *ngIf="editing  ||  adding">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickCancel()"
                            >
                            Cancel
                        </button>
                    </div>
                    <div class="gridButtonAdd" *ngIf="editing  ||  adding">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickSave()"
                            >
                            Save
                        </button>
                    </div>

                    <div class="gridButtonCancel" *ngIf="!editing  &&  !adding">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickEdit()"
                            >
                            Edit
                        </button>
                    </div>
                    <div class="gridButtonAdd" *ngIf="!editing  &&  !adding">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickAdd()"
                            >
                            Add
                        </button>
                    </div>

                    <div class="gridErrorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridTable">
                        <clr-datagrid>
                            <clr-dg-placeholder>
                                No records ...
                            </clr-dg-placeholder>
                            <clr-dg-column>Delete</clr-dg-column>
                            <clr-dg-column>DatasourceName</clr-dg-column>
                            <clr-dg-column>Userid</clr-dg-column>
                            <clr-dg-column>Type</clr-dg-column>
                            <clr-dg-column>Description</clr-dg-column>
                            <clr-dg-column>Created By</clr-dg-column>
                            <clr-dg-column>Created On</clr-dg-column>
                            <clr-dg-column>Updated By</clr-dg-column>
                            <clr-dg-column>Updated On</clr-dg-column>
                            <clr-dg-row
                                *ngFor="let row of dataOwnerships; let i = index"
                                [style.background-color]="(i == selectedDataOwnershipRowIndex)? '#123456' : 'white'"
                                [style.color]="(i == selectedDataOwnershipRowIndex)? 'white' : 'gray'"
                                (click)="clickRow(i, row.id)"
                                >
                                <clr-dg-cell>
                                    <clr-icon shape="trash"
                                        class="selectIcon1"
                                        size="18"
                                        (dblclick)="clickDelete(i, row.id)"
                                        >
                                    </clr-icon>
                                </clr-dg-cell>
                                <clr-dg-cell>{{ row.datasourceName }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.userID }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.type }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.description }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.createdBy }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.createdOn }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.updatedBy }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.updatedOn }}</clr-dg-cell>
                            </clr-dg-row>
                        </clr-datagrid>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
