.modalBox {
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-shadow: 0 2px 2px 0 lightgray;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(26, 0.8rem);
    margin-top: 2px;
}
    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 1;
        /* autoprefixer: off */
        grid-row-end: 2;
        text-align: left;
    }
    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 1;
        /* autoprefixer: off */
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }

    .gridDatasourceNameTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 3;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
    }
    .gridDatasourceName {
        grid-column-start: 3;
        /* autoprefixer: off */
        grid-column-end: 10;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
    }

    .gridDatasourceDescriptionTitle {
        grid-column-start: 10;
        /* autoprefixer: off */
        grid-column-end: 13;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
    }
    .gridDatasourceDescription {
        grid-column-start: 13;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
    }

    .gridUrlTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 3;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
    }
    .gridUrl {
        grid-column-start: 3;
        /* autoprefixer: off */
        grid-column-end: 16;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
    }

    .gridButtonGet {
        grid-column-start: 17;
        /* autoprefixer: off */
        grid-column-end: 19;
        grid-row-start: 4;
        /* autoprefixer: off */
        grid-row-end: 5;
        padding-top: 7px;
    }

    .gridDataRows {
        grid-column-start: 19;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
    }

    .gridErrorMessage {
        color: red;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 6;
        /* autoprefixer: off */
        grid-row-end: 7;
    }

    .gridSpinner {
        grid-column-start: 12;
        /* autoprefixer: off */
        grid-column-end: 13;
        grid-row-start: 18;
        /* autoprefixer: off */
        grid-row-end: 19;
    }

    .gridHelpMessage {
        grid-column-start: 5;
        /* autoprefixer: off */
        grid-column-end: 20;
        grid-row-start: 12;
        /* autoprefixer: off */
        grid-row-end: 18;
        text-align: center;
        z-index: 0;
    }

    .gridTables {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 4;
        grid-row-start: 8;
        /* autoprefixer: off */
        grid-row-end: 25;
        margin-left: 12px;
        width: 100%;
        z-index: 1;
    }

    .gridPreviewData {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 4;
        /* autoprefixer: off */
        grid-column-end: 20;
        grid-row-start: 8;
        /* autoprefixer: off */
        grid-row-end: 25;
        margin-left: 20px;
        width: 100%;
    }

    .gridButtonCancel {
        grid-column-start: 4;
        /* autoprefixer: off */
        grid-column-end: 6;
        /* grid-row-start: 25; */
        /* autoprefixer: off */
        grid-row-end: 26;
    }

    .gridButtonSave {
        grid-column-start: 13;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 25;
        /* autoprefixer: off */
        grid-row-end: 26;
    }

    .gridSavedMessage {
        grid-column-start: 16;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 25;
        /* autoprefixer: off */
        grid-row-end: 26;
        margin-top: 6px;
    }

