<div class="modal modalBox">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <form #f="ngForm" role="form" novalidate>

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose('Close')">
                        <b>X</b>
                    </button>
                    <div class="gridTitle">
                        <b>Refresh Dashboard repeatedly</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;"> 
                                    The data for all Datasources linked to this Dashboard will 
                                    be refreshed repeatedly according to the frequency set below.  
                                    Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>

                    <div class="gridMinutesTitle">
                        <b>Minutes:</b>
                    </div>
                    <div class="gridMinutes">
                        <input [(ngModel)]="minutes"
                            type="text"
                            name="minutes"
                            title="Minutes after which all the Datasources for this Dashboard must be refrehed"
                            >
                    </div>
    
                    <div class="gridErrorMessage">
                        {{ errorMessage }}
                    </div>

        
                    <div class="gridButtonCancel">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose('Close')"
                            >
                            Cancel
                        </button>
                    </div>

                    <div class="gridButtonGo">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickGo()"
                            >
                            Go
                        </button>
                    </div>    
                </div>
            </form>
        </div>
    </div>
</div>
                                
