<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <form #f="ngForm" role="form" novalidate>
    
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
                    <div class="gridOverall">
                        <div class="gridTitle">
                            Transformations:
                        </div>
                        <div class="gridSubTitle">
                            <i>
                                Add transformations to the Datasource: TradesPerMonth (for table 
                                tradestatprmnt).  
                            </i>
                        </div>
       
                        <div class="select gridTransformationSelect">
                            <select
                                [(ngModel)]="connectionName"
                                name="connectionSelect"
                                (change)="clickSelect($event)"
                                placeholder="Select previously stored Connection"
                                >
                                <option *ngFor="let row of transformations">
                                    {{ row.name }}
                                </option>
                            </select>
                        </div>
    
                        <div class="gridTransformationSignpost">
                            <clr-signpost>
                                <clr-icon shape="info-circle"
                                    clrSignpostTrigger>
                                </clr-icon>
                                    <clr-signpost-content *clrIfOpen>
                                    <h4 style="margin-top: 0">Annotation</h4>
                                    <p> 
                                        {{ selectedDatasource.description }}
                                    </p>
                                </clr-signpost-content>
                            </clr-signpost>
                        </div>
    
                        <div class="gridTransformationButtonAdd">
                            <button
                                type="button"
                                class="btn btn-link"
                                (click)="clickAdd()"
                                >
                                Add
                            </button>
                        </div>
                             
                        <div class="gridParameter1Title">
                            <b>Param1:</b>
                        </div>
                        <div class="gridParameter1">
                            <input [(ngModel)]="parameter1Text"
                                type="text"
                                name="parameter1Text"
                                [placeholder]="parameter1Placeholder"
                                [title]="parameter1Title"
                                [disabled]="!adding"
                                >
                        </div>
                        <div class="gridParameter2Title">
                            <b>Param2:</b>
                        </div>
                        <div class="gridParameter2">
                            Parameter 2
                        </div>
                        <div class="gridParameter3Title">
                            <b>Param3:</b>
                        </div>
                        <div class="gridParameter3">
                            Parameter 3
                        </div>
                        <div class="gridParameter4Title">
                            <b>Param4:</b>
                        </div>
                        <div class="gridParameter4">
                            Parameter 4
                        </div>
                        <div class="gridParameter5Title">
                            <b>Param5:</b>
                        </div>
                        <div class="gridParameter5">
                            Parameter 5
                        </div>
                        <div class="gridParameter6Title">
                            <b>Param6:</b>
                        </div>
                        <div class="gridParameter6">
                            Parameter 6
                        </div>                            
    
                        <div class="gridTransformationButtonSave"
                            >
                            <button
                                type="button"
                                class="btn btn-primary"
                                [disabled]="!adding"
                                (click)="clickSave()"
                                >
                                Save
                            </button>
                        </div>
    
                        <div *ngIf="errorMessage!=''" class="gridErrorMessage">
                            {{ errorMessage }}
                        </div>
    
                        <div class="gridTransformations">
                            <clr-datagrid>
                                <clr-dg-placeholder>
                                    Show Data here ...
                                </clr-dg-placeholder>

                                <clr-dg-column [clrDgField]="nameDB">Transformation</clr-dg-column>

                                <clr-dg-row
                                    *clrDgItems="let row of transformationDS; let i = index"
                                    [style.background-color]="(i == selectedTransoformationRowIndex)? '#123456' : 'white'"
                                    [style.color]="(i == selectedTransoformationRowIndex)? 'white' : 'gray'"
                                    (click)="clickSelectedTransformation(i, row.id)"
                                    >
                                    <clr-dg-cell>
                                        <clr-icon shape="pencil"
                                            size="12"
                                            (click)="clickEdit()">
                                        </clr-icon>
                                        <clr-icon shape="arrow"
                                            size="12"
                                            (click)="clickMoveUp()">
                                        </clr-icon>
                                        <clr-icon shape="arrow down"
                                            size="12"
                                            (click)="clickMoveDown()">
                                        </clr-icon>
                                        {{ row.name }}
                                        <clr-icon shape="times"
                                            size="12"
                                            (click)="clickDelete()">
                                        </clr-icon>
                                    </clr-dg-cell>
                                    
                                </clr-dg-row>
                            </clr-datagrid>
                        </div>  
    
                        <div class="gridResult">
                            <clr-datagrid>
                                <clr-dg-placeholder>
                                    Show Data here ...
                                </clr-dg-placeholder>

                                <clr-dg-column [clrDgField]="nameDB">name (DB)</clr-dg-column>
                                <clr-dg-column [clrDgField]="businessGlossary">businessGlossary</clr-dg-column>

                                <clr-dg-row
                                    *clrDgItems="let row of dataFields; let i = index"
                                    >
                                    <clr-dg-cell>{{ row.nameDB }}</clr-dg-cell>
                                    <clr-dg-cell>{{ row.businessGlossary }}</clr-dg-cell>

                                </clr-dg-row>
                            </clr-datagrid>
                        </div>  
    
                    </div>
                </form>
            </div>
        </div>
    </div>
    