{{ showWizard }}
<clr-wizard #wizard [(clrWizardOpen)]="showWizard" [clrWizardSize]="'xl'">
    <clr-wizard-title>Jump-To Wizard</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Done</clr-wizard-button>

    <clr-wizard-page>
        <ng-template clrPageTitle>Page 1</ng-template>
        {{ showWizard }}
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Page 2</ng-template>
        ...
    </clr-wizard-page>

    <clr-wizard-page #pageThree>
        <ng-template clrPageTitle>Page 3</ng-template>
        ...
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Page 4</ng-template>
        ...
    </clr-wizard-page>

    <clr-wizard-page #pageFive>
        <ng-template clrPageTitle>Page 5</ng-template>
        ...
    </clr-wizard-page>
</clr-wizard>            
