<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <form #f="ngForm" role="form" novalidate>

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose('Close')">
                        <b>X</b>
                    </button>
                    <div class="gridTitle">
                        <b>Refresh selected Datasources</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    Double click a Datasources to refresh it (get latest data).
                                    Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>

                    <div class="gridHelp">
                        <b>
                            Double click a Datasources to refresh it (get latest data).
                        </b>
                    </div>

                    <div class="gridErrorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridInfoMessage">
                        {{ infoMessage }}
                    </div>

                    <div class="datasourceList">
                        <clr-datagrid>
                            <clr-dg-column >NrWidgets</clr-dg-column>
                            <clr-dg-column >Name</clr-dg-column>
                            <clr-dg-column >Description</clr-dg-column>
                            <clr-dg-row *clrDgItems="let row of datasources; let i = index"
                                [style.background-color]="(i == selectedRowIndex)? '#123456' : 'white'"
                                [style.color]="(i == selectedRowIndex)? 'white' : 'gray'"
                                (click)="clickRow(i, row.id)"
                                (dblclick)="dblclickDSrow(i, row.id)"
                                >

                                <clr-dg-cell>{{ row.nrWidgets }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.name }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.description }}</clr-dg-cell>
                            </clr-dg-row>

                        </clr-datagrid>
                    </div>

                    <div class="datasourcePreview">
                        <div>
                            <clr-datagrid class="gridIdentifyDataPreviewGrid">

                                <clr-dg-column *ngFor="let row of dataFieldNames">{{row}}</clr-dg-column>
                                <clr-dg-row *ngFor="let row of currentData">

                                    <clr-dg-cell *ngFor="let col of dataFieldNames; let i = index">
                                        {{ row[col] }}
                                    </clr-dg-cell>
                                </clr-dg-row>

                                <clr-dg-footer>
                                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                    of {{pagination.totalItems}} rows
                                    <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                                </clr-dg-footer>

                            </clr-datagrid>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
