<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content   ">
            <div modalContent>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>
                <div class="gridOverall">
                    <div *ngIf="!isFirstTimeData" class="gridTitleContainer">
                        <div class="titleCurrent">
                            Current Dataset: <b>{{ currentDataset }}</b>
                            <span *ngIf="currentDataset===''" class="titleFirsttimeMessage">
                                (Click Identify, then click Add)
                            </span>
                        </div>
                        <div class="titleIdentify titleBox">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowIdentifyFile()"
                                [style.background-color]="showIdentifyFile ? 'rgb(211, 211, 247)' : 'transparent'"
                                >
                                1. Identify
                            </button>
                        </div>
                        <div class="titleChevron1a">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowTransform()"
                                >
                                >>
                            </button>
                        </div>
                        <div class="titleChevron1b">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowTransform()"
                                >
                                >>
                            </button>
                        </div>
                        <div class="titleTransform titleBox">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowTransform()"
                                [style.background-color]="showTransform ? 'rgb(211, 211, 247)' : 'transparent'"
                                >
                                2. Transform
                            </button>
                        </div>
                        <div class="titleChevron2a">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowPivot()"
                                >
                                >>
                            </button>
                        </div>
                        <div class="titleChevron2b">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowPivot()"
                                >
                                >>
                            </button>
                        </div>
                        <div class="titlePivot titleBox">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowPivot()"
                                [style.background-color]="showPivot ? 'rgb(211, 211, 247)' : 'transparent'"
                                >
                                3. Pivot
                            </button>
                        </div>
                        <div class="titleChevron3a">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowView()"
                                >
                                >>
                            </button>
                        </div>
                        <div class="titleChevron3b">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowView()"
                                >
                                >>
                            </button>
                        </div>
                        <div class="titleView titleBox">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowView()"
                                [style.background-color]="showView ? 'rgb(211, 211, 247)' : 'transparent'"
                                >
                                4. View
                            </button>
                        </div>

                    </div>

                    <!-- <div class="gridOld" *ngIf="NotYet">
                        <div *ngIf="selectedFieldProperties">
                            <div class="row">
                                <div class="col-xs-3">
                                </div>
                                <div class="col-xs-9">
                                    <div class="propertyBox">
                                        <div class="propertyLine">
                                            Info for <b>TradeData</b>
                                        </div>
                                        <div class="propertyLine">
                                            Description: bla-bla-bla
                                        </div>
                                        <div class="propertyLine">
                                            Local Name: <input type="text" id="formFields_7" placeholder="Enter Name">
                                        </div>
                                        <div class="propertyLine">
                                            Type: <b>Number</b>  Change to:
                                            <div class="select">
                                                <select id="selects_3">
                                                    <option>Boolean (true/false)</option>
                                                    <option>Date (2014/07/31)</option>
                                                    <option>DateTime (2014/07/31 12:41:04)</option>
                                                    <option>String ('May West')</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="propertyLine">
                                            Format: <b></b>  Change to:
                                            <div class="select">
                                                <select id="selects_3">
                                                    <option>Number</option>
                                                    <option>Monetary</option>
                                                    <option>YYYY/MM/DD</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="propertyLine">
                                            Filter: <b></b>  Change to: <input type="text" id="formFields_7" placeholder="Filter text">
                                        </div>
                                        <div class="propertyLine">
                                            Calculation: <b></b>  Change to: <input type="text" id="formFields_7" placeholder="Enter Formula">
                                        </div>
                                        <div class="propertyLine">
                                            Order: <b></b>  Change to: <input type="text" id="formFields_7" placeholder="Order (1 Asc)">
                                        </div>
                                        <div class="propertyLine">
                                            Hide: <b></b>  Change to:
                                            <div class="select">
                                                <select id="selects_3">
                                                    <option>True</option>
                                                    <option>False</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="propertyLine">
                                            Key Field: <b></b>  Change to:
                                            <div class="select">
                                                <select id="selects_3">
                                                    <option>True</option>
                                                    <option>False</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="gridIdentifyData" *ngIf="showIdentifyFile">
                        <div *ngIf="!isFirstTimeData" class="gridIdentifyDataExisting">
                                <span class="gridHeading">Existing Datasets</span>
                            <clr-datagrid class="fieldsDataGrid">
                                <clr-dg-column>Name</clr-dg-column>

                                <clr-dg-row
                                    *ngFor="let row of currentDatasources"
                                    (click)="clickDatasourceRow(row.name)"
                                    >
                                    <clr-dg-cell>{{row.name}}</clr-dg-cell>
                                </clr-dg-row>
                            </clr-datagrid>
                        </div>
                        <div class="gridIdentifyDataIDfile">
                            <span>Please enter file name and location, or
                                <button
                                    type="button"
                                    class="btn btn-link"
                                    (click)="clickFileBrowse()"
                                    >
                                    Browse
                                </button>
                                :
                            </span>
                            <input type="text" id="formFields_7"
                                placeholder="Folder/FileName"
                                class="selectFile"
                                >
                            <br>
                            Worksheet:
                            <span class="select">
                                <select id="selects_3" class="selectBox">
                                    <option>New York</option>
                                    <option>San Francisco</option>
                                    <option>Austin</option>
                                    <option>Paris</option>
                                    <option>Seattle</option>
                                </select>
                            </span>
                            <br>
                            Name of Dataset:
                            <input type="text" id="formFields_7" placeholder="Dataset Name">
                            <button
                                type="button"
                                class="btn btn-link selectButon"
                                (click)="clickFilePreview()"
                                >
                                Preview
                            </button>
                            <div class="checkbox-inline">
                                <input type="checkbox" id="checkrads_5">
                                <label for="checkrads_5">Transpose rows and cols: </label>
                            </div>
                            <div></div>
                            <button
                                type="button"
                                class="btn btn-secondary selectButon"
                                (click)="clickFileAdd(false)"
                                >
                                Add
                            </button>
                            <button
                                type="button"
                                class="btn btn-secondary selectButon"
                                (click)="clickFileAdd(true)"
                                >
                                Add and Close
                            </button>
                            <button
                                type="button"
                                class="btn btn-secondary selectButon"
                                (click)="clickClose(true)"
                                >
                                Close
                            </button>
                        </div>
                        <div class="gridIdentifyDataPreview">

                                <!-- [style.width.px]="sideNavWidth"
                                [style.min-width.rem]="sideNavMinWidth" -->

                            <div *ngIf="showDataPreview">
                                <clr-datagrid class="fieldsDataGrid">
                                    <clr-dg-column>Name</clr-dg-column>
                                    <clr-dg-column>Type</clr-dg-column>
                                    <clr-dg-column>createdBy</clr-dg-column>
                                    <clr-dg-column>createdOn</clr-dg-column>
                                    <clr-dg-column>refreshedBy</clr-dg-column>
                                    <clr-dg-column>refreshedOn</clr-dg-column>
                                    <clr-dg-column>parameters</clr-dg-column>

                                    <clr-dg-row *ngFor="let row of currentDatasources">
                                        <clr-dg-cell>{{row.name}}</clr-dg-cell>
                                        <clr-dg-cell>{{row.type}}</clr-dg-cell>
                                        <clr-dg-cell>{{row.createdBy}}</clr-dg-cell>
                                        <clr-dg-cell>{{row.createdOn}}</clr-dg-cell>
                                        <clr-dg-cell>{{row.refreshedBy}}</clr-dg-cell>
                                        <clr-dg-cell>{{row.refreshedOn}}</clr-dg-cell>
                                        <clr-dg-cell>{{row.parameters}}</clr-dg-cell>
                                    </clr-dg-row>

                                    <clr-dg-footer>
                                        {{currentDatasources.length}} fields
                                    </clr-dg-footer>
                                </clr-datagrid>
                            </div>
                        </div>
                    </div>

                    <div class="gridTransform" *ngIf="showTransform">
                        <div class="gridTransformTransformations">

                                <!-- <clr-dropdown>
                                    <button
                                        type="button"
                                        class="btn btn-link btn-sm"
                                        clrDropdownTrigger
                                        >
                                        Category
                                        <clr-icon shape="caret down" *ngIf="!showServerData"></clr-icon>
                                    </button>
                                    , and then drag the requird field onto it:
                                    <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                                        <button type="button" clrDropdownItem (click)="clickTransitionFormat()">
                                            Format content
                                        </button>
                                        <button type="button" clrDropdownItem (click)="clickSave()">
                                            Fill content
                                        </button>
                                        <button type="button" clrDropdownItem (click)="clickSave()">
                                            Add Geo
                                        </button>
                                        <button type="button" clrDropdownItem (click)="clickSave()">
                                            Append Column
                                        </button>
                                        <button type="button" clrDropdownItem (click)="clickSave()">
                                            Replace content
                                        </button>
                                        <button type="button" clrDropdownItem (click)="clickSave()">
                                            Partial content
                                        </button>
                                        <button type="button" clrDropdownItem (click)="clickSave()">
                                            Trim content
                                        </button>
                                        <button type="button" clrDropdownItem (click)="clickSave()">
                                            Saved Transformations
                                        </button>
                                        <button type="button" clrDropdownItem (click)="clickSave()">
                                            R Extensions
                                        </button>
                                        <button type="button" clrDropdownItem (click)="clickSave()">
                                            PythonExtensions
                                        </button>
                                    </clr-dropdown-menu>
                                </clr-dropdown> -->



                            <span class="gridHeading">Transformations </span>
                            <clr-datagrid class="fieldsDataGrid">
                                <clr-dg-column>Name</clr-dg-column>

                                <clr-dg-row *ngFor="let row of currentTransformations">
                                    <clr-dg-cell>{{row.name}}</clr-dg-cell>
                                </clr-dg-row>

                                <clr-dg-footer>
                                    {{currentTransformations.length}} fields
                                </clr-dg-footer>
                            </clr-datagrid>

                        </div>
                        <div class="gridTransformNew">
                            <div>Please select Transformation and Field.
                            </div>
                            <label for="selects_2">Field:</label>
                            <div class="select">
                                <select id="selects_2">
                                    <option>Add new Field</option>
                                    <option>Traders</option>
                                    <option>TradeDate</option>
                                </select>
                            </div>
                            <label for="selects_1">Transformation:</label>
                            <div class="select">
                                <select id="selects_1">
                                    <option>Fill Blanks</option>
                                    <option>Trim Left</option>
                                </select>
                            </div>
                            <div>
                                <input type="text" id="formFields_7"
                                    placeholder="Description"
                                    class="selectFile"
                                    >
                            </div>
                            <button
                                type="button"
                                class="btn btn-secondary selectButon"
                                (click)="clickFileAddTransformation()"
                                >
                                Add
                            </button>
                            <br>
                            <br>
                            Optionally save these transformations as a Transformation-Set for later use:
                            <input type="text" id="formFields_7"
                                placeholder="Set Name"
                                class="selectFile"
                                >
                        </div>
                        <div class="gridTransformExisting">
                            <div *ngIf="showTransformDetail">
                                <input type="text" id="formFields_7"
                                    placeholder="Enter formula"
                                    class="selectFile"
                                    >

                            </div>
                        </div>
                    </div>

                    <div class="gridPivot" *ngIf="showPivot">
                        <div class="gridPivotFields">
                            Existing Field

                            <clr-datagrid class="fieldsDataGrid">
                                <clr-dg-column>Name</clr-dg-column>
                                <clr-dg-row *ngFor="let row of currentDatasources">
                                    <clr-dg-cell>{{row.name}}</clr-dg-cell>
                                </clr-dg-row>
                            </clr-datagrid>

                        </div>
                        <div class="gridPivotDropArea">
                            <div>
                                Please drop a Field onto a Row, Column and the Aggregate. 
                                Then select the type of aggregation and Refresh.
                            </div>
                            <div>
                                Row Fields:
                                <div class="pivotDropField"
                                    draggable="true"
                                    (dragstart)="dragstart_handler($event)"
                                    (dragend)="dragend_handler($event)"
                                    >

                                </div>
                            </div>
                            <div
                                draggable="true"
                                (dragstart)="dragstart_handler($event)"
                                (dragend)="dragend_handler($event)"
                                >
                                Column Fields:
                                <div class="pivotDropField">

                                </div>
                            </div>
                            <div>
                                Aggregation:
                                <div class="select">
                                    <select id="selects_1">
                                        <option>Sum</option>
                                        <option>Average</option>
                                        <option>Minimum</option>
                                        <option>Maximum</option>
                                        <option>Mean</option>
                                    </select>
                                </div>
                                <div
                                    class="gridPivotAggregateField"
                                    draggable="true"
                                    (dragstart)="dragstart_handler($event)"
                                    (dragend)="dragend_handler($event)"
                                    >
                                    Aggregate Field:
                                    <div class="pivotDropAggregate">

                                    </div>
                                </div>
                            </div>
                            <div>       
                                <input type="checkbox" id="checkrads_1">
                                <label for="checkrads_1">Always-Refresh</label>
                                <button
                                    type="button"
                                    class="btn btn-link"
                                    (click)="clickRefreshPivot()"
                                    >
                                    Refresh
                                </button>
                            </div>

                        </div>
                        <div class="gridPivotResult">
                            <b>Result
                            </b>
                            {{ pivotData }}
                        </div>
                    </div>

                    <div class="gridView" *ngIf="showView">
                        <div class="gridViewTop">
                            Summary, etc @ Top
                        </div>
                        <div class="gridViewMiddle">

                            ExplainedBy:
                            <div class="propertyLine">
                                Explained by: <input type="text" id="formFields_7"
                                placeholder="BarChart of Value by TradeDate">
                            </div>
                            <button
                                type="button"
                                class="btn btn-secondary"
                                (click)="clickRefreshSummary()"
                                >
                                Refresh Summary
                            </button>

                            <br> <br>

                            Nr records: <b>241</b>
                            <br>
                            3-9 graphs that summarises the data
                            <br> <br>
                            <i>
                            * IF key fields have been marked, some cardinality / summary
                                graphs will be shown to the shape of the data, bins,
                                frequency distribution, etc to help understand the data.
                                If no fields were marked, the software will makes its
                                best guess.
                            </i>
                            Data Quality notes: describes issues with the quality of the data,
                            and what will be done about it by whom and when.

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



                <!-- Check Browswer capabilities:
                if (Modernizr.draganddrop) {
                    // Browser supports HTML5 DnD.
                } else {
                    // Fallback to a library solution.
                }     -->

                <!-- cursor: move gives users a visual indicator that something is moveable:
                -->