
<div *ngIf="!firstTimeUser">
    <p>
        Complete the steps on the tabs numbered 1-4 below for each new Dataset.
    </p>
</div>  

<div class="row">
    <div class="col-xs-3">
 
        <nav class="sidenav">
            
            <section class="sidenav-content nav-group">
    
                <ul class="nav-list">
                    <li><a class="nav-link"></a>Add Data
                        <clr-icon shape="plus" size="16"></clr-icon>
                    </li>
                    <li><a class="nav-link active">Budget Forecast</a></li>
                    <li><a class="nav-link">Costing preparation</a></li>
                    <li><a class="nav-link">Historic Indices*</a></li>
                    <li><a class="nav-link">World Indices</a></li>
                    <li><a class="nav-link">SP Companies*</a></li>
                    <li><a class="nav-link">Stock prices TEMP</a></li>
                    <li><a class="nav-link">Trades per Year</a></li>
                    <li><a class="nav-link">Bond volume trades</a></li>
                    <li><a class="nav-link">Trades by Trade Type</a></li>
                    <li><a class="nav-link">YTD Expenditure by Cost Center</a></li>
                    <li><a class="nav-link">Headcount</a></li>
                    <li><a class="nav-link">Customer List</a></li>
                    <li><a class="nav-link">CPI figures</a></li>
                    <li><a class="nav-link">GDP by Country</a></li>
                    <li><a class="nav-link">Bicycle trips in Rome</a></li>
                    <li><a class="nav-link">Vega Airport Dataset</a></li>
                    <li><a class="nav-link">Test1</a></li>
                </ul>
                            
            </section>
        </nav>

    </div>
    <div class="col-xs-9">
        
        <clr-tabs>
            
            <clr-tab>
                <button clrTabLink id="link1">Fields</button>
                <clr-tab-content id="content1" *clrIfActive>
                    <clr-datagrid>
                        <clr-dg-column>
                                <div class="dropdown right-bottom open">
                                        <button type="button" class="dropdown-toggle btn btn-link">
                                            ID
                                            <clr-icon shape="caret down"></clr-icon>
                                        </button>
                                        <div class="dropdown-menu">
                                            <h4 class="dropdown-header">Formatting options</h4>
                                            <button type="button" class="dropdown-item active">Sort</button>
                                            <button type="button" class="dropdown-item disabled">2 Decimals</button>
                                            <div class="dropdown-divider"></div>
                                            <button type="button" class="dropdown-item">Conditional Format</button>
                                            <button type="button" class="dropdown-item">Align Right</button>
                                        </div>
                                    </div>                                  
                        </clr-dg-column>
                        <clr-dg-column>Name</clr-dg-column>
                        <clr-dg-column>Type</clr-dg-column>
                        <clr-dg-column>Format</clr-dg-column>
                        <clr-dg-column>Filter</clr-dg-column>
                        <clr-dg-column>Calc</clr-dg-column>
                        <clr-dg-column>Order</clr-dg-column>
                    
                        <clr-dg-row *ngFor="let field of fields">
                            <clr-dg-cell>{{field.id}}</clr-dg-cell>
                            <clr-dg-cell>{{field.name}}</clr-dg-cell>
                            <clr-dg-cell>{{field.type}}</clr-dg-cell>
                            <clr-dg-cell>{{field.format}}</clr-dg-cell>
                            <clr-dg-cell>{{field.filter}}</clr-dg-cell>
                            <clr-dg-cell>{{field.calc}}</clr-dg-cell>
                            <clr-dg-cell>{{field.order}}</clr-dg-cell>
                        </clr-dg-row>
                    
                        <clr-dg-footer>{{fields.length}} fields</clr-dg-footer>
                    </clr-datagrid>
                </clr-tab-content>
            </clr-tab>
            
            <clr-tab>
                <button clrTabLink id="link1">Metadata</button>
                <clr-tab-content id="content1" *clrIfActive>
                    <clr-datagrid>
                        <clr-dg-column>Name</clr-dg-column>
                        <clr-dg-column>Description</clr-dg-column>
                    
                        <clr-dg-row *ngFor="let field of fieldsMetadata">
                                <clr-dg-cell>{{field.name}}</clr-dg-cell>
                                <clr-dg-cell>{{field.description}}</clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </clr-tab-content>
            </clr-tab>

            
            <clr-tab>
                <button clrTabLink id="link1">Transform</button>
                <clr-tab-content id="content1" *clrIfActive>
                    Type of transformation: 
                    <div class="dropdown open">
                        <button type="button" class="dropdown-toggle btn btn-link">
                            Type
                            <clr-icon shape="caret down"></clr-icon>
                        </button>
                        <div class="dropdown-menu">
                            <h4 class="dropdown-header">Type header</h4>
                            <button type="button" class="dropdown-item">Standard</button>
                            <div class="dropdown-divider"></div>
                            <button type="button" class="dropdown-item">R Extensions</button>
                            <button type="button" class="dropdown-item">Pyhton functions</button>
                        </div>
                    </div>
                    <br>
                    Select transformation: 
                    <div class="dropdown">
                        <div class="dropdown-menu">
                            <h4 class="dropdown-header">Select a type:</h4>
                            <button type="button" class="dropdown-item">Transpose rows and columns</button>
                            <button type="button" class="dropdown-item">Add field</button>
                            <button type="button" class="dropdown-item">Calculated field</button>
                            <button type="button" class="dropdown-item">Etc</button>
                        </div>
                    </div>

                    Selected transformations
                    <div class="dropdown">
                        <button type="button" class="dropdown-toggle btn btn-link">
                            Dropdown Toggle
                            <clr-icon shape="caret down"></clr-icon>
                        </button>
                        <div class="dropdown-menu">
                            <h4 class="dropdown-header">Dropdown header</h4>
                            <button type="button" class="dropdown-item">Transpose rows and columns</button>
                            <button type="button" class="dropdown-item">Add field</button>
                            <button type="button" class="dropdown-item">Calculated field</button>
                            <button type="button" class="dropdown-item">Etc</button>
                        </div>
                    </div>
                    <br>
                    <clr-datagrid>
                        <clr-dg-column>Nr</clr-dg-column>
                        <clr-dg-column>Name</clr-dg-column>
                        <clr-dg-column>Description</clr-dg-column>
                
                        <clr-dg-row *ngFor="let ds of transformaton"  [clrDgItem]="ds">
                            <clr-dg-cell>
                                <clr-icon shape="arrow" size="16"></clr-icon>
                                <clr-icon shape="arrow" size="16" dir="down"></clr-icon>
                                <clr-icon shape="times" size="16"></clr-icon>
                                {{ds.id}}
                            </clr-dg-cell>
                            <clr-dg-cell>{{ds.name}}</clr-dg-cell>
                            <clr-dg-cell>
                                {{ds.description}}
                            </clr-dg-cell>
                        </clr-dg-row>
                
                        <clr-dg-footer>{{transformaton.length}} transformatons</clr-dg-footer>
                    </clr-datagrid>

                </clr-tab-content>
            </clr-tab>

            <clr-tab>
                <button clrTabLink id="link1">Summarise</button>
                <clr-tab-content id="content1" *clrIfActive>
                    Information about the dataset:
                    <p>* Data Quality notes</p>
                    <p>* Table Description</p>
                    <p>* Nr records</p>
                    <p>* Maybe cardinality ?</p>
                    <p>* Data that explains this, ie table.fiels ?</p>
                </clr-tab-content>
            </clr-tab>
                
        </clr-tabs>

    </div>
</div>  