.sidenav .sidenav-content .nav-list {
    margin: 0;
    padding: 0;
}

.currentDatasources {
    border: 1px solid black;
    border-radius: 4px;
    margin: 0 0 0 15px !important;
    padding: 5px !important;
}

.currentDataHeader {
    background-color: rgb(131, 180, 230);
    border-radius: 4px;
    margin: 3px;
    padding: 3px;
}

.currentDataIcon{
    float: right;
    margin: 4px !important;
}

.dataSideNav {
    border: 1px solid black;
    border-radius: 4px;
    margin: 0 2px 0 2px !important;
    padding: 5px !important;
}

.clr-tabs .clr-tab-content {
    margin: 0;
    padding: 0;
}
.fileLocation {
    width: 300px !important;
}

.helpMessage {
    color: gray;
}

.buttonGetData {
    left: 0;
    top: 0;
    z-index: 2;
}

.textToClick {
    color: rgb(71, 70, 70);
}

.tabHeadings {
    background-color: rgb(235, 234, 245);
}

.helpMessage {
    margin: 0 0 0 5px;
    padding: 0;
}

.barsButton {
    margin: 0 !important;
    padding: 0 !important;
    min-width: 10px !important;
}