<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div modalContent>
                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose('Close')">
                        <b>X</b>
                    </button>

                    <div class="gridTitle">
                        <b>
                            <span *ngIf="!editingDS">Create a new </span>
                            <span *ngIf="editingDS">Edit </span>
                            Datasource
                            <span *ngIf="editingDS"
                                style="color:gray"
                                >
                                <span *ngIf="selectedDatasource">
                                    {{ selectedDatasource.name }}
                                </span>

                            </span>
                            obtained from a CSV File.
                        </b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    First select the CSV File (comma separated value) with
                                    the Browse button. Only .csv files are accepted.
                                    This will display a list of files.  Click a File to show the fields (columns)
                                    and a snippet of the data inside it.  Click Add / Save to
                                    permanently store the Datasource. Due to browser security, the
                                    folder where the file was read from cannot be recorded.
                                    Important: a copy will be made of the file, so it has to be
                                    reloaded for Canvas to register the latest changes to the file.
                                    Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>

                    <div class="gridDatasourceNameTitle">
                        Name:
                    </div>
                    <div class="gridDatasourceName">
                        <input type="text" [(ngModel)]="newName"
                            placeholder="Name of Datasource"
                            [disabled]="editingDS"
                            >
                            {{ datasourceName }}
                    </div>

                    <div class="gridDatasourceDescriptionTitle">
                        Description:
                    </div>
                    <div class="gridDatasourceDescription">
                        <input type="text" [(ngModel)]="newDescription"
                            placeholder="Description of Datasource"
                            size="50"
                            [disabled]="editingDS"
                            >
                    </div>

                    <div class="gridButtonBrowse">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (dblclick)="clickFileBrowse()"
                            >
                            Browse
                        </button>
                    </div>
                    <div class="gridButtonBrowse">
                        <input class="btn btn-primary"
                            style="background-color:brown; border:none;color:white;opacity:0;"
                            type="file"
                            name="client-file"
                            id="get-files"
                            placeholder="Browse"
                            multiple
                            (change)="clickFileBrowse()"
                            />
                    </div>

                    <div class="gridFileNameTitle">
                        Filename:
                    </div>
                    <div class="gridFileName">
                        <input type="text" [(ngModel)]="loadedFileName"
                            placeholder="Selected file name"
                            disabled
                            class="selectFile"
                            >
                    </div>

                    <div class="gridTotalRows">
                        <i>
                            Total: {{ totalRows }}
                        </i>
                    </div>

                    <div class="errorMessage">
                        {{ errorMessage }}
                    </div>
                    <div class="savedMessage">
                        {{ savedMessage }}
                    </div>

                    <div class="gridEditMessage" *ngIf="editingDS">
                        <i>
                            {{ editMessage }} 
                        </i>
                    </div>

                    <div class="gridTableColumns">
                        <clr-datagrid>
                            <clr-dg-column [clrDgField]="'userID'">Columns</clr-dg-column>

                            <clr-dg-row *clrDgItems="let row of fields">
                                <clr-dg-cell>
                                    {{ row }}
                                </clr-dg-cell>
                            </clr-dg-row>

                        </clr-datagrid>
                    </div>

                    <div class="gridMoreButton">
                        <button
                            type="button"
                            class="btn btn-link"
                            (click)="clickMoreOpen()"
                            >
                            More ...
                        </button>

                    </div>
                    <div class="gridMore" *ngIf="showMore">

                        <div class="gridMoreHelp">
                            Note: Changes made here are only applicable to loading a NEW file !
                        </div>
                        <div class="gridMoreHeaderRowTitle">
                            Header Row Nr for next Browse:
                        </div>
                        <div class="gridMoreHeaderRow">

                            <input type="number" [(ngModel)]="headerRow"
                                placeholder="Row number for the Headers"
                                size="5"
                                style="width: 25px;"                                                                                                                                                                                                                                                                                                                    >
                        </div>

                        <div class="gridMoreQuotesTitle">
                            Clear all quotes
                        </div>
                        <div class="gridMoreQuotes">
                            <input type="checkbox" [(ngModel)]="clearQuotes">
                        </div>
                        <div class="gridMoreButtonClose">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                (click)="clickMoreClose()"
                                >
                                Close
                            </button>
                        </div>
                    </div>
                    
                    <div class="gridTableData">
                        <clr-datagrid>

                            <clr-dg-column *ngFor="let row of fields">{{row}}</clr-dg-column>
                            <clr-dg-row *clrDgItems="let row of fileData">

                                <clr-dg-cell *ngFor="let col of fields; let i = index">
                                    {{ row[i] }}
                                </clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-footer>
                                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                of {{pagination.totalItems}} rows
                                <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                            </clr-dg-footer>

                        </clr-datagrid>
                    </div>

                    <div class="gridButtonCancel">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose('Close')"
                            >
                            Cancel
                        </button>
                    </div>
                    <div class="gridButtonAdd">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickAdd()"
                            [disabled]="!canSave"
                            >
                            <span *ngIf="!editingDS">Add</span>
                            <span *ngIf="editingDS">Save</span>
                        </button>
                    </div>

                    <div class="gridButtonTransformation">
                        <button
                            type="button"
                            class="btn btn-link"
                            (click)="clickAdd()"
                            [disabled]="!canSave"
                            >
                            <span *ngIf="!editingDS">Add</span>
                            <span *ngIf="editingDS">Save</span>
                            and open Transformations
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
