<div class="modal modalBox">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <form #f="ngForm" role="form" novalidate>

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose('Close')">
                        <b>X</b>
                    </button>
                    <div class="gridTitle">
                        <b>
                            <span *ngIf="!editingDS">Create a new </span>
                            <span *ngIf="editingDS">Edit </span>
                            Datasource
                            <span *ngIf="editingDS"
                                style="color:gray"
                                >
                                {{ selectedDatasource.name }}
                            </span>
                            obtained from a web page
                        </b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    Obtain data from a web page.  Enter the url, and click
                                    Get to obtain a list of tables.  Select a table to preview
                                    the data.  Enter a name and description for the datasource,
                                    and click Save to store it permanently.
                                    Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>

                    <div class="gridDatasourceNameTitle">
                        <b>Name:</b>
                    </div>
                    <div class="gridDatasourceName">
                        <input [(ngModel)]="newName"
                            type="text"
                            name="newName"
                            title="Name of the new Datasource"
                            >
                    </div>

                    <div class="gridDatasourceDescriptionTitle">
                        <b>Description:</b>
                    </div>
                    <div class="gridDatasourceDescription">
                        <input [(ngModel)]="newDescription"
                            type="text"
                            name="newDescription"
                            description="description"
                            size="35"
                            title="Description of the new Datasource"
                            >
                    </div>

                    <div class="gridUrlTitle">
                        <b>Url:</b>
                    </div>
                    <div class="gridUrl">
                        <input [(ngModel)]="url"
                            type="text"
                            name="url"
                            size="50"
                            title="Url (address) of the data to be read, ie https://en.wikipedia.org/wiki/Iris_flower_data_set"
                            [disabled]="editingDS"
                            >
                    </div>

                    <div class="gridButtonGet">
                        <button
                            type="button"
                            class="btn btn-link"
                            (click)="clickHttpGet()"
                            >
                            Get
                        </button>
                    </div>

                    <div class="gridDataRows" *ngIf="showPreview">
                        {{ nrRows }} Rows
                    </div>

                    <div class="gridErrorMessage">
                        {{ errorMessage }}
                    </div>

                    <span class="spinner spinner-inline gridSpinner" *ngIf="spinner">
                        Loading...
                    </span>
    
                    <div class="gridHelpMessage" *ngIf="!showPreview">
                        <i>
                            <p>Click the Get button to show a list of tables.</p>
                            <p>Then click on a table to show the data here.</p>
                        </i>
                    </div>

                    <div class="gridTables">
                        <clr-datagrid>
                            <clr-dg-placeholder>
                                No records ...
                            </clr-dg-placeholder>

                            <clr-dg-column class="widthTn" [clrDgField]="name">Table Name</clr-dg-column>

                            <clr-dg-row
                                *clrDgItems="let row of tables; let i = index"
                                [style.background-color]="(i == selectedTableRowIndex)? '#123456' : 'white'"
                                [style.color]="(i == selectedTableRowIndex)? 'white' : 'gray'"
                                (click)="clickSelectedDataTable(i)"
                                >
                                <clr-dg-cell>{{ row.name }}</clr-dg-cell>

                            </clr-dg-row>
                        </clr-datagrid>
                    </div>

                    <div class="gridPreviewData" *ngIf="showPreview">
                        <clr-datagrid>

                            <clr-dg-column *ngFor="let row of dataFieldsSelected"
                                >
                                {{ row }}
                            </clr-dg-column>

                            <clr-dg-row *clrDgItems="let row of currentDataSnippet">

                                <clr-dg-cell *ngFor="let col of dataFieldsSelected; let i = index">
                                        {{ row[col] }}
                                </clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-footer>
                                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                of {{pagination.totalItems}} rows
                                <clr-dg-pagination #pagination [clrDgPageSize]="8"></clr-dg-pagination>
                            </clr-dg-footer>

                        </clr-datagrid>
                    </div>

                    <div class="gridButtonCancel">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose('Close')"
                            >
                            Cancel
                        </button>
                    </div>

                    <div class="gridButtonSave">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickSave()"
                            [disabled]="!canSave"
                            >
                            <span *ngIf="!editingDS">Add</span>
                            <span *ngIf="editingDS">Save</span>
                        </button>
                    </div>

                    <div class="gridSavedMessage">
                        {{ savedMessage }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
