<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <form #f="ngForm" role="form" novalidate>

                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
                    <div class="gridOverall">
                        <div class="gridTitle">
                            Transformations:
                        </div>
                        <div class="gridSubTitle">
                            <i>
                                Add transformations to the Datasource:
                                {{ selectedDatasource.name }} 
                                <clr-signpost>
                                    <clr-icon shape="info-circle"
                                        clrSignpostTrigger>
                                    </clr-icon>
                                        <clr-signpost-content *clrIfOpen>
                                        <h6 style="margin-top: 0">Description:</h6>
                                        <p>
                                            {{ selectedDatasource.description }}
                                        </p>
                                    </clr-signpost-content>
                                </clr-signpost>
        
                            </i>
                        </div>

                        <div class="select gridTransformationSelect">
                            <select
                                [(ngModel)]="connectionName"
                                name="connectionSelect"
                                (change)="clickSelect($event)"
                                placeholder="Select previously stored Connection"
                                >
                                <option *ngFor="let row of transformations">
                                    {{ row.name }}
                                </option>
                            </select>
                        </div>

                        <div class="gridTransformationSignpost">
                            <clr-signpost>
                                <clr-icon shape="info-circle"
                                    clrSignpostTrigger>
                                </clr-icon>
                                    <clr-signpost-content *clrIfOpen>
                                    <h4 style="margin-top: 0">Annotation</h4>
                                    <p>
                                        {{ selectedDatasource.description }}
                                    </p>
                                </clr-signpost-content>
                            </clr-signpost>
                        </div>

                        <div class="gridTransformationButtonAdd">
                            <button
                                type="button"
                                class="btn btn-link"
                                (click)="clickAdd()"
                                >
                                Add
                            </button>
                        </div>

                        <div class="gridParameter1Title">
                            <b>{{ parameter1Heading }}:</b>
                        </div>
                        <div class="gridParameter1">
                            <input [(ngModel)]="parameter1Text"
                                type="text"
                                name="parameter1Text"
                                [placeholder]="parameter1Placeholder"
                                [title]="parameter1Title"
                                [disabled]="!adding"
                                >
                        </div>

                        <div class="gridParameter2Title">
                            <b>{{ parameter2Heading }}:</b>
                        </div>
                        <div class="gridParameter2">
                            <input [(ngModel)]="parameter2Text"
                                type="text"
                                name="parameter2Text"
                                [placeholder]="parameter2Placeholder"
                                [title]="parameter2Title"
                                [disabled]="!adding"
                                >
                        </div>

                        <div class="gridParameter3Title">
                            <b>{{ parameter3Heading }}:</b>
                        </div>
                        <div class="gridParameter3">
                            <input [(ngModel)]="parameter3Text"
                                type="text"
                                name="parameter3Text"
                                [placeholder]="parameter3Placeholder"
                                [title]="parameter3Title"
                                [disabled]="!adding"
                                >
                        </div>

                        <div class="gridParameter4Title">
                            <b>{{ parameter4Heading }}:</b>
                        </div>
                        <div class="gridParameter4">
                            <input [(ngModel)]="parameter4Text"
                                type="text"
                                name="parameter4Text"
                                [placeholder]="parameter4Placeholder"
                                [title]="parameter4Title"
                                [disabled]="!adding"
                                >
                        </div>

                        <div class="gridParameter5Title">
                            <b>{{ parameter5Heading }}:</b>
                        </div>
                        <div class="gridParameter5">
                            <input [(ngModel)]="parameter5Text"
                                type="text"
                                name="parameter5Text"
                                [placeholder]="parameter5Placeholder"
                                [title]="parameter5Title"
                                [disabled]="!adding"
                                >
                        </div>
            
                        <div class="gridParameter6Title">
                            <b>{{ parameter6Heading }}:</b>
                        </div>
                        <div class="gridParameter6">
                            <input [(ngModel)]="parameter6Text"
                                type="text"
                                name="parameter6Text"
                                [placeholder]="parameter6Placeholder"
                                [title]="parameter6Title"
                                [disabled]="!adding"
                                >
                        </div>
    
                        <div class="gridTransformationButtonSave"
                            >
                            <button
                                type="button"
                                class="btn btn-primary"
                                [disabled]="!adding"
                                (click)="clickSave()"
                                >
                                Save
                            </button>
                        </div>

                        <div *ngIf="errorMessage!=''" class="gridErrorMessage">
                            {{ errorMessage }}
                        </div>

                        <div class="gridTransformations">
                            <clr-datagrid>
                                <clr-dg-placeholder>
                                    Show Data here ...
                                </clr-dg-placeholder>

                                <clr-dg-column [clrDgField]="nameDB">Transformation</clr-dg-column>

                                <clr-dg-row
                                    *clrDgItems="let row of transformationDS; let i = index"
                                    [style.background-color]="(i == selectedTransoformationRowIndex)? '#123456' : 'white'"
                                    [style.color]="(i == selectedTransoformationRowIndex)? 'white' : 'gray'"
                                    (click)="clickSelectedTransformation(i, row.id)"
                                    >
                                    <clr-dg-cell>
                                        <clr-icon shape="pencil"
                                            size="12"
                                            (click)="clickEdit()">
                                        </clr-icon>
                                        <clr-icon shape="arrow"
                                            size="12"
                                            (click)="clickMoveUp()">
                                        </clr-icon>
                                        <clr-icon shape="arrow down"
                                            size="12"
                                            (click)="clickMoveDown()">
                                        </clr-icon>
                                        {{ row.name }}
                                        <clr-icon shape="times"
                                            size="12"
                                            (click)="clickDelete()">
                                        </clr-icon>
                                    </clr-dg-cell>

                                </clr-dg-row>
                            </clr-datagrid>
                        </div>

                        <div class="gridResult">
                            <clr-datagrid>
                                <clr-dg-placeholder>
                                    Show Data here ...
                                </clr-dg-placeholder>

                                <clr-dg-column [clrDgField]="nameDB">name (DB)</clr-dg-column>
                                <clr-dg-column [clrDgField]="businessGlossary">businessGlossary</clr-dg-column>

                                <clr-dg-row
                                    *clrDgItems="let row of dataFields; let i = index"
                                    >
                                    <clr-dg-cell>{{ row.nameDB }}</clr-dg-cell>
                                    <clr-dg-cell>{{ row.businessGlossary }}</clr-dg-cell>

                                </clr-dg-row>
                            </clr-datagrid>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
