<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div modalContent>
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
                    <div class="gridOverall">
                        <div class="gridTitle">
                            Import Datasource from File:
                        </div>
                        <div class="gridSubTitle">
                            Select file from which to import a new Datasource.
                        </div>

                        <div class="errorMessage">
                            {{ errorMessage }}
                        </div>
        
                        <div class="gridFolderTitle">
                            Folder:
                        </div>
                        <div class="gridFolder">
                            <input type="text" [(ngModel)]="folderName"
                                placeholder="./assets/"
                                class="selectFile"
                                >
                        </div>
    
                        <div class="gridFileNameTitle">
                            Filename:
                        </div>
                        <div class="gridFileName">
                            <input type="text" [(ngModel)]="fileName"
                                placeholder="datasource.sharePrices.json"
                                class="selectFile"
                                >
                        </div>

                        <div class="gridDatasourceNameTitle">
                            Name:
                        </div>
                        <div class="gridDatasourceName">
                            <input type="text" 
                                id="formFields_7"
                                > 
                                {{ existingDSName }}
                        </div>
    
                        <div class="gridDatasourceDescriptionTitle">
                            Description:
                        </div>
                        <div class="gridDatasourceDescription">
                            <input type="text" 
                                id="formFields_7"
                                > 
                        </div>
        
                        <div class="gridButtonPreview">
                            <button
                                type="button"
                                class="btn btn-secondary selectButton"
                                (click)="clickDSPreview()"
                                >
                                Preview
                            </button>
                        </div>
                        <div class="gridButtonAdd">
                            <button
                                type="button"
                                class="btn btn-primary"
                                (click)="clickDSAdd('Add')"
                                >
                                Add
                            </button>
                        </div>
        
                        <div class="gridPreviewFile">
                            <textarea cols="30" rows="7">{ name: "exy"}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        