<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <button type="button" class="closeButton" (click)="clickClose()">
                X
            </button>
            <div class="gridOverall">
                <div class="gridTitle">
                    SQL Query Builder:
                </div> 
                <div class="gridSubTitle">
                    <i>
                        Add a Datasource from a SQL Database.  Identify the Datasource,
                        select a Table and required fields in this table.  Continue with
                        Transformations if the data must be massaged into a different 
                        format.
                    </i>
                </div>
 
                <div class="gridConnectionSelectTitle">
                    <b>Connection:</b>
                </div>
                <div class="select gridConnectionSelect">
                    <select
                        [(ngModel)]="selectedTemplateDashboard"
                        name="dashboardTemplate"
                        (change)="clickTemplateDashboard($event)"
                        placeholder="Select Tab 1 of completed D"
                        >
                        <option *ngFor="let row of dashboardList">
                            {{ row }}
                        </option>
                    </select>
                </div>
                <div class="gridConnectionSelectButton">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickSave('Saved')"
                        >
                        Select
                    </button>
                </div>

                <div class="gridConnectionTitle">
                    <b>Connection:</b>
                </div>
                <div class="gridConnection">
                    <input [(ngModel)]="preferenceShowDiscardStartupMessage"
                        type="text"
                        title="Name of the connection"
                        >
                </div>
                <div class="gridConnectionButton">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickSave('Saved')"
                        >
                        Add
                    </button>
                </div>

                <div class="gridServerTitle">
                    <b>Server:</b>
                </div>
                <div class="gridServer">
                    <input [(ngModel)]="preferenceShowDiscardStartupMessage"
                        type="text"
                        title="Name of the Server/IP Address and :Port"
                        >
                </div>

                <div class="gridUsernameTitle">
                    <b>Username:</b>
                </div>
                <div class="gridUsername">
                    <input [(ngModel)]="preferenceShowDiscardStartupMessage"
                        type="text"
                        title="Name of the connection"
                        >
                </div>

                <div class="gridPasswordTitle">
                    <b>Password:</b>
                </div>
                <div class="gridPassword">
                    <input [(ngModel)]="preferenceShowDiscardStartupMessage"
                        type="password"
                        title="User Password"
                        >
                </div>

                <div class="gridAuthenticationTitle">
                    <b>Authentication:</b>
                </div>
                <div class="gridAuthentication">
                    <input [(ngModel)]="preferenceShowDiscardStartupMessage"
                        type="text"
                        title="Current User or log in"
                        >
                </div>
                
                <div class="gridDescriptionTitle">
                    <b>Description:</b>
                </div>
                <div class="gridDescription">
                    <input [(ngModel)]="preferenceShowDiscardStartupMessage"
                        type="text"
                        title="Description of the connection"
                        >
                </div>

                <div *ngIf="errorMessage!=''" class="gridErrorMessage">
                    {{ errorMessage }}
                </div>
       
                <div class="gridTables">
                    <clr-datagrid> 
                        <clr-dg-placeholder>
                            No records ...
                        </clr-dg-placeholder>

                        <clr-dg-row
                            *ngFor="let row of datasources; let i = index"
                            [style.background-color]="(i == selectedRowIndex)? '#123456' : 'white'"
                            [style.color]="(i == selectedRowIndex)? 'white' : 'gray'"
                            (click)="clickSelectedDatasource(i, row.id)"
                            >
                            <clr-dg-cell>
                                <input type="checkbox" class="dsCheckbox"
                                    [checked]="row.isSelected"
                                    [disabled]="row.hasWidget"
                                    (click)="clickDSCheckbox(i, row.id, row.isSelected, $event)"
                                    >
                                <div class="dsName">
                                    {{ row.fieldValue }}                                        {{row.name}}
                                </div>

                            </clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div>
       
                <div class="gridFields">
                    <clr-datagrid> 
                        <clr-dg-placeholder>
                            No records ...
                        </clr-dg-placeholder>

                        <clr-dg-row
                            *ngFor="let row of datasources; let i = index"
                            [style.background-color]="(i == selectedRowIndex)? '#123456' : 'white'"
                            [style.color]="(i == selectedRowIndex)? 'white' : 'gray'"
                            (click)="clickSelectedDatasource(i, row.id)"
                            >
                            <clr-dg-cell>
                                <input type="checkbox" class="dsCheckbox"
                                    [checked]="row.isSelected"
                                    [disabled]="row.hasWidget"
                                    (click)="clickDSCheckbox(i, row.id, row.isSelected, $event)"
                                    >
                                <div class="dsName">
                                    {{ row.fieldValue }}                                        {{row.name}}
                                </div>

                            </clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div>

            </div>
        </div>
    </div>
</div>
