<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div modalContent>
                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose('Close')">
                        <b>X</b>
                    </button>
                    <div class="gridTitle">
                        <b>Append Datasources</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    Create a new Datasources by appending the selected Datasources to the
                                    end of the first one.  Note that only Datasources with the same number
                                    of fields and the same type of fields can be appended.
                                    <span class="username" *ngIf="selectedDatasources">{{selectedDatasources.name}}</span>
                                    The row that was clicked first is shown in the top right hand
                                    grid.  Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>

                    </div>

                    <div class="gridDatasources">
                        <clr-datagrid [(clrDgSelected)]="selectedDatasources">

                            <clr-dg-column>Selected</clr-dg-column>
                            <clr-dg-column>Name</clr-dg-column>
                            <clr-dg-column>Description</clr-dg-column>

                            <clr-dg-row
                                *clrDgItems="let row of datasources; let i = index"
                                [clrDgItem]="row"
                                [style.background-color]="(i == selectedRowIndex)? '#123456' : 'white'"
                                [style.color]="(i == selectedRowIndex)? 'white' : 'gray'"
                                (click)="clickSelectedDatasource(i, row.id)"
                                >
                                <clr-dg-cell>
                                    <input type="checkbox" class="dsCheckbox"
                                        [checked]="row.isSelected"
                                        (click)="clickDSCheckbox(i, row.id, row.isSelected, $event)"
                                        >
                                </clr-dg-cell>
                                <clr-dg-cell>
                                    {{ row.name }}
                                </clr-dg-cell>
                                <clr-dg-cell>
                                    {{ row.description }}
                                </clr-dg-cell>
                            </clr-dg-row>
                        </clr-datagrid>
                    </div>

                    <div *ngIf="errorMessage!=''" class="gridErrorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridFieldsFirstHeading">
                        <b>First selection:</b>
                    </div>
                    <div class="gridFieldsFirst">
                        <clr-datagrid>
                            <clr-dg-column>MonthTraded</clr-dg-column>
                            <clr-dg-column>TradeType</clr-dg-column>
                            <clr-dg-column>Volume</clr-dg-column>
                            <clr-dg-column>Price</clr-dg-column>
                            <clr-dg-column>Value</clr-dg-column>

                            <clr-dg-row>
                                <clr-dg-cell>string</clr-dg-cell>
                                <clr-dg-cell>string</clr-dg-cell>
                                <clr-dg-cell>number</clr-dg-cell>
                                <clr-dg-cell>number</clr-dg-cell>
                                <clr-dg-cell>number</clr-dg-cell>
                            </clr-dg-row>
                        </clr-datagrid>
                    </div>

                    <div class="gridFieldsCurrentHeading">
                        <b>Current selection</b> <i>(fields and types match)</i>:
                    </div>
                    <div class="gridFieldsCurrent">
                        <clr-datagrid>
                            <clr-dg-column>MonthTraded</clr-dg-column>
                            <clr-dg-column>TradeType</clr-dg-column>
                            <clr-dg-column>Volume</clr-dg-column>
                            <clr-dg-column>Price</clr-dg-column>
                            <clr-dg-column>Value</clr-dg-column>

                            <clr-dg-row>
                                <clr-dg-cell>string</clr-dg-cell>
                                <clr-dg-cell>string</clr-dg-cell>
                                <clr-dg-cell>number</clr-dg-cell>
                                <clr-dg-cell>number</clr-dg-cell>
                                <clr-dg-cell>number</clr-dg-cell>
                            </clr-dg-row>
                        </clr-datagrid>
                            </div>

                </div>
            </div>
        </div>
    </div>
</div>
