<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <form #f="ngForm" role="form" novalidate>
    
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
                    <div class="gridOverall">
                        <div class="gridTitle">
                            Manage Connections:
                        </div>
                        <div class="gridSubTitle">
                            <i>
                                Manage Connections (links to DB Servers) that are used to 
                                define a Datasource.
                            </i>
                        </div>
    
                        <div class="gridConnectionTitle">
                            <b>Connection:</b>
                        </div>
                        <div class="gridConnection">
                            <input [(ngModel)]="connectionName"
                                type="text"
                                name="connectionName"
                                required
                                title="Name of the connection"
                                placeholder="Name of Connection"
                                [disabled]="!editing  &&  !adding"                                
                                >
                        </div>
    
                        <div class="gridConnectionTypeTitle">
                            <b>Type:</b>
                        </div>
                        <div class="select gridConnectionType">
                            <select [(ngModel)]="connectionType"
                                name="connectionType"
                                (change)="clickConnectionType($event)"
                                placeholder="Select type of Connection, ie PostreSQL"
                                [disabled]="!editing  &&  !adding"
                                >
                                <option>My SQL</option>
                                <option>Microsft SQL</option>
                                <option>MySQL</option>
                            </select>
                        </div>
        
                        <div class="gridConnectionSelectTitle">
                            <b>Copy:</b>
                        </div>
                        <div class="select gridConnectionSelect">
                            <select
                                name="connectionSelect"
                                (change)="clickConnectionSelect($event)"
                                placeholder="Select previous Connection to copy from"
                                [disabled]="!editing  &&  !adding"
                                >
                                <option *ngFor="let row of connections">
                                    {{ row }}
                                </option>
                            </select>
                        </div>
        
                        <div class="gridServerTitle">
                            <b>Server:</b>
                        </div>
                        <div class="gridServer">
                            <input [(ngModel)]="serverTitle"
                                type="text"
                                name="serverTitle"
                                title="Name of the Server/IP Address and :Port"
                                placeholder="Name of DB Server/IP Address and :Port"
                                [disabled]="!editing  &&  !adding"
                                >
                        </div>
    
                        <div class="gridUsernameTitle">
                            <b>Username:</b>
                        </div>
                        <div class="gridUsername">
                            <input [(ngModel)]="usernameTitle"
                                type="text"
                                name="usernameTitle"
                                title="Username to log into DB Server"
                                placeholder="Username to log into DB Server"
                                [disabled]="!editing  &&  !adding"
                                >
                        </div>
    
                        <div class="gridPasswordTitle">
                            <b>Password:</b>
                        </div>
                        <div class="gridPassword">
                            <input [(ngModel)]="password"
                                type="password"
                                name="password"
                                title="User Password"
                                placeholder="User Password"
                                [disabled]="!editing  &&  !adding"
                                >
                        </div>
    
                        <div class="gridAuthenticationTitle">
                            <b>Authentication:</b>
                        </div>
                        <div class="gridAuthentication">
                            <input [(ngModel)]="authentication"
                                type="text"
                                name="authentication"
                                title="Current User or log in"
                                placeholder="Current User or log in"
                                [disabled]="!editing  &&  !adding"
                                >
                        </div>
    
                        <div class="gridDescriptionTitle">
                            <b>Description:</b>
                        </div>
                        <div class="gridDescription">
                            <input [(ngModel)]="description"
                                type="text"
                                name="description"
                                size="45"
                                title="Description of the connection"
                                required
                                placeholder="Description of the connection"
                                [disabled]="!editing  &&  !adding"
                                >
                        </div>
    

                        <div class="gridButtonCancel" *ngIf="editing  ||  adding">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                (click)="clickCancel()"
                                >
                                Cancel
                            </button>
                        </div>
                        <div class="gridButtonAdd" *ngIf="editing  ||  adding">
                            <button
                                type="button"
                                class="btn btn-primary"
                                (click)="clickSave()"
                                >
                                Save
                            </button>
                        </div>
    
                        <div class="gridButtonCancel" *ngIf="!editing  &&  !adding">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                (click)="clickEdit()"
                                >
                                Edit
                            </button>
                        </div> 
                        <div class="gridButtonAdd" *ngIf="!editing  &&  !adding">
                            <button
                                type="button"
                                class="btn btn-primary"
                                (click)="clickAdd()"
                                >
                                Add
                            </button>
                        </div>
        

    
                        <div *ngIf="errorMessage!=''" class="gridErrorMessage">
                            {{ errorMessage }}
                        </div>
    
                        <div class="gridTables">
                            <clr-datagrid>
                                <clr-dg-placeholder>
                                    No records ...
                                </clr-dg-placeholder>
    
                                <clr-dg-row
                                    *ngFor="let row of datasources; let i = index"
                                    [style.background-color]="(i == selectedConnectionRowIndex)? '#123456' : 'white'"
                                    [style.color]="(i == selectedConnectionRowIndex)? 'white' : 'gray'"
                                    (click)="clickSelectedDataConnection(i, row.id)"
                                    >
                                    <clr-dg-cell>
                                        <input type="checkbox" class="dsCheckbox"
                                            [checked]="row.isSelected"
                                            [disabled]="row.hasWidget"
                                            (click)="clickDSCheckbox(i, row.id, row.isSelected, $event)"
                                            >
                                        <div class="dsName">
                                            {{ row.fieldValue }}                                        {{row.name}}
                                        </div>
    
                                    </clr-dg-cell>
                                </clr-dg-row>
                            </clr-datagrid>
                        </div>
    
                    </div>
                </form>
            </div>
        </div>
    </div>
    