<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div modalContent>
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
                    <div class="gridOverall">
                        <div class="gridTitle">
                            Edit Datasources 
                        </div> 
                        <div class="gridSubTitle">
                            <i>
                                Select a Datasources to edit.
                            </i>
                        </div>
                
                        <div class="gridDatasources">
                            <clr-datagrid> 
                                <clr-dg-placeholder>
                                    No records ...
                                </clr-dg-placeholder>
                                <clr-dg-column [clrDgField]="">#Widgets</clr-dg-column>
                                <clr-dg-column [clrDgField]="">Name</clr-dg-column>
                                <clr-dg-column [clrDgField]="">Description</clr-dg-column>
    
                                <clr-dg-row
                                    *ngFor="let row of datasources; let i = index"
                                    [style.background-color]="(i == selectedRowIndex)? '#123456' : 'white'"
                                    [style.color]="(i == selectedRowIndex)? 'white' : 'gray'"
                                    (click)="clickSelectedDatasource(i, row.id)"
                                    > 
                                    <clr-dg-cell>{{ row.nrWidgets }}</clr-dg-cell>
                                    <clr-dg-cell>{{ row.name }}</clr-dg-cell>
                                    <clr-dg-cell>{{ row.description }}</clr-dg-cell>
                                    
                                </clr-dg-row>
                            </clr-datagrid>
                        </div>

                        <div class="gridButtonCancel">
                                <button
                                type="button"
                                class="btn btn-secondary"
                                (click)="clickClose('Close')"
                                >
                                Cancel
                            </button>
                        </div>
    
                        <div class="gridButtonContinue">
                            <button
                                type="button"
                                class="btn btn-primary"
                                (click)="clickContinue()"
                                >
                                Continue
                            </button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    