.modalBox {
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-shadow: 0 2px 2px 0 lightgray;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(27, 0.8rem);
    margin-top: 2px;
}
    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 1;
        /* autoprefixer: off */
        grid-row-end: 2;
        text-align: left;
    }
    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 1;
        /* autoprefixer: off */
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }

    .gridParameter1Title {
        font-size: 12px;
        grid-column-start: 7;
        /* autoprefixer: off */
        grid-column-end: 9;
        grid-row-start: 4;
        /* autoprefixer: off */
        grid-row-end: 5;
        margin-top: 5px;
        margin-left: 12px;
    }
    .gridParameter1 {
        grid-column-start: 8;
        /* autoprefixer: off */
        grid-column-end: 13;
        grid-row-start: 4;
        /* autoprefixer: off */
        grid-row-end: 5;
        margin-top: 5px;
        margin-left: 12px;
    }

    .gridParameter2Title {
        font-size: 12px;
        grid-column-start: 14;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 4;
        /* autoprefixer: off */
        grid-row-end: 5;
    }
    .gridParameter2 {
        grid-column-start: 15;
        /* autoprefixer: off */
        grid-column-end: 20;
        grid-row-start: 4;
        /* autoprefixer: off */
        grid-row-end: 5;
        margin-left: 2px;
    }

    .gridParameter3Title {
        font-size: 12px;
        grid-column-start: 7;
        /* autoprefixer: off */
        grid-column-end: 9;
        grid-row-start: 6;
        /* autoprefixer: off */
        grid-row-end: 7;
        margin-top: 5px;
        margin-left: 12px;
    }
    .gridParameter3 {
        grid-column-start: 8;
        /* autoprefixer: off */
        grid-column-end: 13;
        grid-row-start: 6;
        /* autoprefixer: off */
        grid-row-end: 7;
        margin-top: 5px;
        margin-left: 12px;
    }

    .gridParameter4Title {
        font-size: 12px;
        grid-column-start: 14;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 6;
        /* autoprefixer: off */
        grid-row-end: 7;
        margin-top: 5px;
    }
    .gridParameter4 {
        grid-column-start: 15;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 6;
        /* autoprefixer: off */
        grid-row-end: 7;
        margin-top: 5px;
        margin-left: 2px;
    }

    .gridParameter5Title {
        font-size: 12px;
        grid-column-start: 7;
        /* autoprefixer: off */
        grid-column-end: 9;
        grid-row-start: 8;
        /* autoprefixer: off */
        grid-row-end: 9;
        margin-top: 5px;
        margin-left: 12px;
    }
    .gridParameter5 {
        grid-column-start: 8;
        /* autoprefixer: off */
        grid-column-end: 13;
        grid-row-start: 8;
        /* autoprefixer: off */
        grid-row-end: 9;
        margin-top: 5px;
        margin-left: 12px;
    }

    .gridParameter6Title {
        font-size: 12px;
        grid-column-start: 14;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 8;
        /* autoprefixer: off */
        grid-row-end: 9;
        margin-top: 5px;
    }
    .gridParameter6 {
        grid-column-start: 15;
        /* autoprefixer: off */
        grid-column-end: 19;
        grid-row-start: 8;
        /* autoprefixer: off */
        grid-row-end: 9;
        margin-top: 5px;
        margin-left: 2px;
    }

    .gridTransformationButtonCancel {
        grid-column-start: 19;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 4;
        /* autoprefixer: off */
        grid-row-end: 5;
        margin-top: 5px;
        margin-left: 12px;
    }
    .gridTransformationButtonSave {
        grid-column-start: 19;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 7;
        /* autoprefixer: off */
        grid-row-end: 8;
        margin-top: 5px;
        margin-left: 12px;
    }

    .gridErrorMessage {
        color: red;
        grid-column-start: 8;
        /* autoprefixer: off */
        grid-column-end: 20;
        grid-row-start: 9;
        /* autoprefixer: off */
        grid-row-end: 10;
        margin-left: 12px;
    }

    .gridTransformations {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 4;
        /* autoprefixer: off */
        grid-row-end: 25;
        height: 100%;
        overflow-y: scroll;
        text-align: left;
        width: 100%;
    }

    .gridTransformationButtonAdd {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 3;
        grid-row-start: 26;
        /* autoprefixer: off */
        grid-row-end: 27;
        margin-left: 22px;
    }
    .gridTransformationSelect {
        grid-column-start: 3;
        /* autoprefixer: off */
        grid-column-end: 6;
        grid-row-start: 26;
        /* autoprefixer: off */
        grid-row-end: 27;
        margin-left: 12px;
        z-index: 100;
    }
    .gridTransformationSignpost {
        grid-column-start: 6;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 26;
        /* autoprefixer: off */
        grid-row-end: 27;
        margin-left: 2px;
    }

    .gridResult {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 7;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 10;
        /* autoprefixer: off */
        grid-row-end: 25;
        height: 100%;
        overflow-y: scroll;
        margin-left: 12px;
        width: 100%;
    }
