.modalBox {
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-shadow: 0 2px 2px 0 lightgray;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(26, 0.8rem);
    margin-top: 2px;
}
    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 1;
        /* autoprefixer: off */
        grid-row-end: 2;
        text-align: left;
    }
    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 1;
        /* autoprefixer: off */
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }

    .gridDatasourceNameTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
    }
    .gridDatasourceName {
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
    }

    .gridDescriptionTitle {
        grid-column-start: 7;
        /* autoprefixer: off */
        grid-column-end: 9;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
    }
    .gridDescription {
        grid-column-start: 9;
        /* autoprefixer: off */
        grid-column-end: 13;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
    }

    .gridServerTypeTitle {
        grid-column-start: 14;
        /* autoprefixer: off */
        grid-column-end: 16;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
    }
    .gridServerType {
        grid-column-start: 16;
        /* autoprefixer: off */
        grid-column-end: 20;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
    }

    .gridServerNameTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
        margin-top: 5px;
    }
    .gridServerName {
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
        margin-top: 5px;
    }

    .gridServerPortTitle {
        grid-column-start: 7;
        /* autoprefixer: off */
        grid-column-end: 9;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
        margin-top: 5px;
    }
    .gridServerPort {
        grid-column-start: 9;
        /* autoprefixer: off */
        grid-column-end: 14;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
        margin-top: 5px;
    }

    .gridDatabaseTitle {
        grid-column-start: 14;
        /* autoprefixer: off */
        grid-column-end: 16;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
        margin-top: 5px;
    }
    .gridDatabase {
        grid-column-start: 16;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
    }

    .gridUsernameTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 7;
        /* autoprefixer: off */
        grid-row-end: 8;
        margin-top: 5px;
    }
    .gridUsername {
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 7;
        /* autoprefixer: off */
        grid-row-end: 8;
    }

    .gridPasswordTitle {
        grid-column-start: 7;
        /* autoprefixer: off */
        grid-column-end: 9;
        grid-row-start: 7;
        /* autoprefixer: off */
        grid-row-end: 8;
        margin-top: 5px;
    }
    .gridPassword {
        grid-column-start: 9;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 7;
        /* autoprefixer: off */
        grid-row-end: 8;
        margin-top: 5px;
    }

    .gridDatasourceIsCachedTitle {
        grid-column-start: 14;
        /* autoprefixer: off */
        grid-column-end: 16;
        grid-row-start: 7;
        /* autoprefixer: off */
        grid-row-end: 8;
        margin-top: 5px;
    }
    .gridDatasourceIsCached {
        grid-column-start: 16;
        /* autoprefixer: off */
        grid-column-end: 17;
        grid-row-start: 7;
        /* autoprefixer: off */
        grid-row-end: 8;
        margin-top: 5px;
    }

    .gridErrorMessage {
        color: red;
        grid-column-start: 13;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 8;
        /* autoprefixer: off */
        grid-row-end: 11;
    }

    .gridGoButton {
        grid-column-start: 8;
        /* autoprefixer: off */
        grid-column-end: 9;
        grid-row-start: 16;
        /* autoprefixer: off */
        grid-row-end: 17;
    }

    .gridSpinner {
        grid-column-start: 15;
        /* autoprefixer: off */
        grid-column-end: 16;
        grid-row-start: 18;
        /* autoprefixer: off */
        grid-row-end: 20;
    }

    .gridSQLTextTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 8;
        grid-row-start: 9;
        /* autoprefixer: off */
        grid-row-end: 10;
        height: 100%;
        width: 100%;
    }
    .gridSQLText {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 8;
        grid-row-start: 10;
        /* autoprefixer: off */
        grid-row-end: 25;
        height: 100%;
        overflow-y: scroll;
        width: 100%;
    }

    .gridData {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 9;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 9;
        /* autoprefixer: off */
        grid-row-end: 25;
        width: 100%;
    }

    .gridButtonCancel {
        grid-column-start: 6;
        /* autoprefixer: off */
        grid-column-end: 8;
        grid-row-start: 25;
        /* autoprefixer: off */
        grid-row-end: 26;
        text-align: left;
    }

    .gridSavedMessage {
        grid-column-start: 9;
        /* autoprefixer: off */
        grid-column-end: 12;
        grid-row-start: 25;
        /* autoprefixer: off */
        grid-row-end: 26;
        padding-top: 4px;
        text-align: left;
    }

    .gridButtonSave {
        grid-column-start: 13;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 25;
        /* autoprefixer: off */
        grid-row-end: 26;
        text-align: left;
    }

    .gridButtonTransformation {
        grid-column-start: 15;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 25;
        /* autoprefixer: off */
        grid-row-end: 26;
        padding-top: 4px;
    }
