<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div modalContent>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>
                <div class="gridOverall">
                    <div class="gridTitle">
                        Manage Datasources
                    </div>
                    <div class="gridSubTitle">
                        <i>
                            Add Datasources to the current Dashboard by checking them, or Remove
                            by unchecking.  Removal is only possible if no Widget is linked 
                            to it.
                        </i>
                    </div>
            
                    <div class="gridDatasources">
                        <clr-datagrid class="fieldsDataGrid"> 
                            <clr-dg-placeholder>
                                No records ...
                            </clr-dg-placeholder>

                            <clr-dg-row
                                *ngFor="let row of datasources; let i = index"
                                [style.background-color]="(i == selectedRowIndex)? '#123456' : 'white'"
                                [style.color]="(i == selectedRowIndex)? 'white' : 'gray'"
                                (click)="clickSelectedDatasource(i, row.id)"
                                >
                                <clr-dg-cell>
                                    <input type="checkbox" class="dsCheckbox"
                                        [checked]="row.isSelected"
                                        (click)="clickDSCheckbox(row.id, i, $event)"
                                        >
                                    <div class="dsName">
                                        {{ row.fieldValue }}                                        {{row.name}}
                                    </div>

                                </clr-dg-cell>
                            </clr-dg-row>
                        </clr-datagrid>
                    </div>

                    <div *ngIf="errorMessage!=''" class="gridErrorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridButtons">
                        <div class="btn-group btn-link btn-sm">
                            <button class="btn" 
                                (click)="clickDSDescription('gridViewDescription')"
                                >
                                Description
                            </button>
                            <button class="btn" 
                                (click)="clickDSPreview('gridViewPreview')"
                                >
                                Preview
                            </button>
                            <button class="btn" 
                                (click)="clickViewProperties('gridViewFieldProperties')">Field
                                 
                                Properties
                            </button>
                            <button class="btn" 
                                (click)="clickViewProfile('gridViewFieldProfile')">Field
                                 
                                Profile
                            </button>
                            <button class="btn" 
                                (click)="clickViewOverview('gridViewOverview')"
                                >
                                Overview
                            </button>
                            <button class="btn" 
                                (click)="clickViewFields('gridViewFields')"
                                >
                                Fields
                            </button>
                            <button class="btn" 
                                (click)="clickViewDataQuality('gridViewDataQuality')">Data
                                 
                                Quality
                            </button>
                        </div>                        
                    </div>

                    <div *ngIf="clickedViewDescription" class="gridPanel">
                        <div class="gridPanelDescriptionTitle">
                            <b>Description:</b>
                        </div>
                        <div class="gridPanelDescription">
                            {{ selectedRowDescription }}
                        </div>
                        <div class="gridPanelNameTitle">
                            <b>Names:</b>
                        </div>
                        <div class="gridPanelName">
                            {{ selectedRowName }}
                        </div>
                        <div class="gridPanelNrWidgetsTitle">
                            <b>Nr Widgets:</b>
                        </div>
                        <div class="gridPanelNrWidgets">
                            {{ selectedRowNrWidgetsInUse }}
                        </div>
    
                        <div class="gridInfoFile" *ngIf="typeDS==='File'">

                            <div class="fileFolderNameTitle">
                                Folder:
                            </div>
                            <div class="fileFolderName">
                                Folder:
                                {{ folderName }}
                            </div>
    
                            <div class="fileNameTitle">
                                Filename:
                            </div>
                            <div class="fileName">
                                {{ fileName }}
                            </div>
    
                            <div class="fileExcelTitle">
                                Excel Worksheet:
                            </div>
    
                            <div class="fileExcel">
                                {{ excelWorksheet }}
                            </div>
    
                            <div  class="fileStartLineTitle">
                                Start at:
                            </div>
                            <div  class="fileStartLine">
                                {{ startLineNr }}
                            </div>
    
                        </div>
        
                    </div>
    
                    <div *ngIf="clickedViewPreview" class="gridPanel">
                        xXx
                        <clr-datagrid>

                            <clr-dg-column *ngFor="let row of dataFieldNames">{{row}}</clr-dg-column>
                            <clr-dg-row *ngFor="let row of currentData">

                                <clr-dg-cell *ngFor="let col of dataFieldNames; let i = index">
                                        {{ row[col] }}
                                </clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-footer>
                                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                of {{pagination.totalItems}} rows
                                <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                            </clr-dg-footer>

                        </clr-datagrid>
                    </div>
                    <div *ngIf="clickedViewFieldProperties" class="gridInfoSummaryFieldProperties">
                        <b>
                            <h4>Field Properties</h4>
                        </b>
                        <i>Changes made on this page are applied to the data at time of
                            extraction.  Click <b>Refresh Data</b> for changes made now to
                            take effect, which will reload your data.  If a field is already
                            used in a Widget, new changes may impact on Widget. This field
                            is currently used in <b>2</b> Widgets.
                        </i>
                        <br>
                        <div class="propertyLine">
                            Select field:
                            <b>
                                <div class="select">
                                    <select id="selects_3">
                                        <option *ngFor="let row of dataFieldNames">
                                            {{ row }}
                                        </option>
                                    </select>
                                </div>
                            </b>
                        </div>
                        <div></div>
                        <div class="propertyLine">
                            Description: bla-bla-bla
                        </div>
                        <div class="propertyLine">
                            Local Name: <input type="text" id="formFields_7" placeholder="Enter Name">
                        </div>
                        <div class="propertyLine">
                            Type: <b>Number</b>  Change to:
                            <div class="select">
                                <select id="selects_3">
                                    <option>Boolean (true/false)</option>
                                    <option>Date (2014/07/31)</option>
                                    <option>DateTime (2014/07/31 12:41:04)</option>
                                    <option>String ('May West')</option>
                                </select>
                            </div>
                        </div>
                        <div class="propertyLine">
                            Format: <b>None</b>  Change to:
                            <div class="select">
                                <select id="selects_3">
                                    <option>Month</option>
                                    <option>Monetary</option>
                                    <option>YYYY/MM/DD</option>
                                </select>
                            </div>
                        </div>
                        <div class="propertyLine">
                            Filter: <b>None</b>  Change to: <input type="text" id="formFields_7" placeholder="Filter text">
                        </div>
                        <div class="propertyLine">
                            Calculation: <b>None</b>  Change to: <input type="text" id="formFields_7" placeholder="Enter Formula">
                        </div>
                        <div class="propertyLine">
                            Order: <b>None</b>  Change to: <input type="text" id="formFields_7" placeholder="Order (1 Asc)">
                        </div>
                        <div class="propertyLine">
                            Hide: <b>False</b>  Change to:
                            <div class="select">
                                <select id="selects_3">
                                    <option>True</option>
                                    <option>False</option>
                                </select>
                            </div>
                        </div>
                        <div class="propertyLine">
                            Key Field: <b>False</b>  Change to:
                            <div class="select">
                                <select id="selects_3">
                                    <option>True</option>
                                    <option>False</option>
                                </select>
                            </div>
                            <button
                                type="button"
                                class="btn btn-secondary buttonRefresh"
                                (click)="clickRefreshData()"
                                >
                                Refresh Data
                            </button>
                        </div>

                    </div>
   
                    <div *ngIf="clickedViewFieldProfile" class="gridInfoSummaryFieldProfile">

                        <b>
                            <h4>Field Profile</h4>
                        </b>
                        <i>This area gives a summary or profile of a seleted field.
                            Your dataset has <b>241</b> records, and <b>24</b> fields,
                            of the following types: Text fields: <b>8</b>,
                            Date fields: <b>4</b>,
                            Number fields: <b>9</b>,
                            Boolean fields: <b>2</b>,
                            ? fields: <b>1</b>.
                        </i>
                        <br><br>
                        <div class="propertyLine">
                            Select a Field:
                            <b>
                                <div class="select">
                                    <select id="selects_3">
                                        <option *ngFor="let row of dataFieldNames">
                                            {{ row }}
                                        </option>
                                    </select>
                                </div>
                            </b>
                        </div>
                        <br>
                        <div class="gridViewSummaryGraphsFields">
                            <div class="propertyLine">
                                "field": (field name)
                            </div>
                            <div class="propertyLine">
                                "unique": (# value:count pairs)
                            </div>
                            <div class="propertyLine">
                                "count": 1000,
                            </div>
                            <div class="propertyLine">
                                "valid": 1000,
                            </div>
                            <div class="propertyLine">
                                "missing": 0,
                            </div>
                            <div class="propertyLine">
                                "distinct": 1000,
                            </div>
                            <div class="propertyLine">
                                "min": -2.7983914656538427,
                            </div>
                            <div class="propertyLine">
                                "max": 2.9931226872439436,
                            </div>
                            <div class="propertyLine">
                                "mean": 0.024987537472992594,
                            </div>
                            <div class="propertyLine">
                                "stdev": 0.965105294571081,
                            </div>
                            <div class="propertyLine">
                                "median": 0.012544328964464974,
                            </div>
                            <div class="propertyLine">
                                "q1": -0.6686040453830552, // 25th percentile
                            </div>
                            <div class="propertyLine">
                                "q3": 0.7090708668163043   // 75th percentile
                            </div>
                            <div class="propertyLine">
                                "modeskew": 0.012893109776231,
                            </div>
                        </div>
                    </div>
    
                    <div *ngIf="clickedViewOverview" class="gridInfoSummaryOverview">
                        <div>
                            <b>
                                <h4 class="gridViewFieldHeading" >Overview</h4>
                            </b>
                            <i>This area shows an overview of the data in 6 graphs.  It
                                includes frequency distributions of key fields, and a
                                Light data exploration, ie outliers about xth percentile.
                                <button
                                    type="button"
                                    class="btn btn-secondary"
                                    (click)="clickRefreshData()"
                                    >
                                    Refresh
                                </button>
                            </i>
                        </div>
                        <div class="gridViewRightOverviewGraph">
                            <img class="gridViewRightOverviewGraph"
                                [style.height.px]="120"
                                [style.width.px]="120"
                                src="../images/ChartCandleStick.png"
                                (click)="clickViewOptions('gridViewOverview')"
                            >

                        </div>
                        <div class="gridViewRightOverviewGraph">
                                <img class="gridViewRightOverviewGraph"
                                [style.height.px]="120"
                                [style.width.px]="120"
                                src="../images/ChartBoxPlot.png"
                                (click)="clickViewOptions('gridViewOverview')"
                            >
                        </div>
                        <div class="gridViewRightOverviewGraph">
                            <img class="gridViewRightOverviewGraph"
                                [style.height.px]="120"
                                [style.width.px]="120"
                                src="../images/ChartRangedDot.png"
                                (click)="clickViewOptions('gridViewOverview')"
                            >
                        </div>
                    </div>

                    <div *ngIf="clickedViewFields" class="gridInfoSummaryFields">
                        <b>
                            <h4>Fields</h4>
                        </b>
                        <i>List of fields after the filters, transformations and
                            optional pivot has been applied.
                        </i>
                        <br> 
                        <div>

                            <clr-datagrid>
                                <clr-dg-column>FieldName</clr-dg-column>
                                <clr-dg-column>DataType</clr-dg-column>
                                <clr-dg-column>LocalName</clr-dg-column>
                                <clr-dg-column>Filtered</clr-dg-column>
                                <clr-dg-column>Transformed</clr-dg-column>
                                <clr-dg-row *ngFor="let row of finalFields">
                                    <clr-dg-cell>{{ row.fieldName }}</clr-dg-cell>
                                    <clr-dg-cell>{{ row.dataType }}</clr-dg-cell>
                                    <clr-dg-cell>{{ row.localName }}</clr-dg-cell>
                                    <clr-dg-cell>{{ row.filtered }}</clr-dg-cell>
                                    <clr-dg-cell>{{ row.transformed }}</clr-dg-cell>
                                </clr-dg-row>
                            </clr-datagrid>

                        </div>
                    </div>

                    <div *ngIf="clickedViewDataQuality" class="gridInfoSummaryDataQuality">
                        <b>
                            <h4>Data Quality Issues</h4>
                        </b>
                        <i>This area provides a list of issues pertaining to Data
                            Quality, and whether it has been resolved.  Double click
                            a row to see all the detail values affected (if Nr Issues
                            is greater than 0).
                        </i>
                        <div>
                            <clr-datagrid>
                                <clr-dg-column>ID</clr-dg-column>
                                <clr-dg-column>Status</clr-dg-column>
                                <clr-dg-column>Name</clr-dg-column>
                                <clr-dg-column>Type</clr-dg-column>
                                <clr-dg-column>Description</clr-dg-column>
                                <clr-dg-column>NrIssues</clr-dg-column>
                                <clr-dg-column>LoggedBy</clr-dg-column>
                                <clr-dg-column>LoggedOn</clr-dg-column>
                                <clr-dg-column>SolvedBy</clr-dg-column>
                                <clr-dg-column>SolvedOn</clr-dg-column>

                                <clr-dg-row *ngFor="let row of dataQualityIssues">
                                    <clr-dg-cell>{{row.id}}</clr-dg-cell>
                                    <clr-dg-cell>{{row.status}}</clr-dg-cell>
                                    <clr-dg-cell>{{row.name}}</clr-dg-cell>
                                    <clr-dg-cell>{{row.type}}</clr-dg-cell>
                                    <clr-dg-cell>{{row.description}}</clr-dg-cell>
                                    <clr-dg-cell>{{row.nrIssues}}</clr-dg-cell>
                                    <clr-dg-cell>{{row.loggedBy}}</clr-dg-cell>
                                    <clr-dg-cell>{{row.loggedOn}}</clr-dg-cell>
                                    <clr-dg-cell>{{row.solvedBy}}</clr-dg-cell>
                                    <clr-dg-cell>{{row.solvedOn}}</clr-dg-cell>
                                </clr-dg-row>

                                <clr-dg-footer>{{dataQualityIssues.length}} issues</clr-dg-footer>
                            </clr-datagrid>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
