<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div modalContent>

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose('Close')">
                        <b>X</b>
                    </button>
                    <div class="gridTitle">
                        <b>{{ combinationType }} Datasources</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;"> 
                                    This form combines Datasources that have already been 
                                    created in Canvas.  Select the type of combination, and
                                    then the fields from the LH (left hand side) and RH (right
                                    hand side) on which the action must be performed.  
                                    Finally, provide a name and description to save.
                                    Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div> 
                    <div class="gridSubTitle">
                        <i *ngIf="combinationType=='Join'">
                            Create a new Datasources by joining the RH Datasource to the
                            right of the LH one where the selected fields are equal.
                        </i>
                        <i *ngIf="combinationType=='Intersection'">
                            Create a new Datasources by shows only records in the LH
                            Datasource that also exist in the RH based on the columns.
                        </i>
                        <i *ngIf="combinationType=='Minus'">
                            Create a new Datasources by showing only records in the LH
                            Datasource that does NOT exist in the RH based on the columns.
                        </i>
                    </div>

                    <div class="gridDatasourcesLHHeading">
                        <b>Left Hand Datasources:</b>
                    </div>
                    <div class="gridDatasourcesLH">
                        <clr-datagrid>

                            <clr-dg-column>Name</clr-dg-column>
                            <clr-dg-column>Description</clr-dg-column>

                            <clr-dg-row
                                *clrDgItems="let row of datasources; let i = index"
                                [style.background-color]="(i == selectedRowIndexLH)? '#123456' : 'white'"
                                [style.color]="(i == selectedRowIndexLH)? 'white' : 'gray'"
                                (click)="clickSelectedDatasourceLH(i, row.id)"
                                >
                                <clr-dg-cell>
                                    {{ row.name }}
                                </clr-dg-cell>
                                <clr-dg-cell>
                                    {{ row.description }}
                                </clr-dg-cell>
                            </clr-dg-row>
                        </clr-datagrid>
                    </div>

                    <div *ngIf="errorMessage!=''" class="gridErrorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridFieldsLHHeading">
                        <b>Left Hand Fields:</b>
                    </div>
                    
                    <div class="gridFieldsLH">
                        <clr-datagrid>
                            <clr-dg-column>Column</clr-dg-column>
                            <clr-dg-row *ngFor="let row of fieldTypes">
                                <clr-dg-cell>{{ row }}</clr-dg-cell>
                            </clr-dg-row>
                        </clr-datagrid>
                    </div>

                    <div class="gridFieldsRHHeading">
                        <b>Right Hand Fields</b>:
                    </div>
                    <div class="gridFieldsRH">
                        <clr-datagrid>
                            <clr-dg-column>Column</clr-dg-column>
                            <clr-dg-row *ngFor="let row of fieldTypes">
                                <clr-dg-cell>{{ row }}</clr-dg-cell>
                            </clr-dg-row>
                        </clr-datagrid>
                    </div>

                    <div class="gridDatasourcesRHHeading">
                        <b>Right Hand Datasources:</b>
                    </div>
                    <div class="gridDatasourcesRH">
                        <clr-datagrid>

                            <clr-dg-column>Name</clr-dg-column>
                            <clr-dg-column>Description</clr-dg-column>

                            <clr-dg-row
                                *clrDgItems="let row of datasources; let i = index"
                                [style.background-color]="(i == selectedRowIndexRH)? '#123456' : 'white'"
                                [style.color]="(i == selectedRowIndexRH)? 'white' : 'gray'"
                                (click)="clickSelectedDatasourceRH(i, row.id)"
                                >
                                <clr-dg-cell>
                                    {{ row.name }}
                                </clr-dg-cell>
                                <clr-dg-cell>
                                    {{ row.description }}
                                </clr-dg-cell>
                            </clr-dg-row>
                        </clr-datagrid>
                    </div>
    
                    <div class="gridDatasourceNameTitle">
                        <b>Name:</b>
                    </div>
                    <div class="gridDatasourceName">
                        <input [(ngModel)]="newName"
                            type="text"
                            name="name"
                            title="Name of the new Datasource"
                            >
                    </div>

                    <div class="gridDatasourceDescriptionTitle">
                        <b>Description:</b>
                    </div>
                    <div class="gridDatasourceDescription">
                        <input [(ngModel)]="newDescription"
                            type="text"
                            description="description"
                            size="45"
                            title="Description of the new Datasource"
                            >
                    </div>
    
                    <div class="gridButtonCancel">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose('Close')"
                            >
                            Cancel
                        </button>
                    </div>

                    <div class="gridButtonSave">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickSave()"
                            >
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    




