<div class="modal modalBox">
	<div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
		<div class="modal-content modalContent">

            <div class="gridOverall">
                <div class="closeButton">
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
                </div>

                <div class="slicerHeader">
                    Data Slicer
                    <i>
                        The connected dataset will be refreshed as the user clicks on the Slicer.
                    </i>
                </div>

                <div class="datasourceList">
                    <div class="headerLine">
                        Current Datasources
                    </div>
                    <clr-datagrid class="fieldsDataGrid datagrid-compact">
                        <clr-dg-placeholder>
                            No records ...
                        </clr-dg-placeholder>
                        
                        <clr-dg-row
                            *ngFor="let row of currentDatasources; let i = index"
                            (click)="clickDatasource(row.id, i)"
                            >
                            <clr-dg-cell>
                                {{row.name}}
                            </clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div>

                <div class="fieldList">
                    <div class="headerLine">
                        Fields for datasource
                    </div>
                    <clr-datagrid class="fieldsDataGrid datagrid-compact">
                        <clr-dg-placeholder>
                            No records ...
                        </clr-dg-placeholder>
                        
                        <clr-dg-row
                            *ngFor="let row of dataFields; let i = index"
                            (click)="clickDataFields(row.id, i)"
                            >
                            <clr-dg-cell>
                                {{ row }}
                            </clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div>

                <div class="valueList">
                    <div class="headerLine">
                        Values for Field
                    </div>
                    <clr-datagrid class="fieldsDataGrid datagrid-compact">
                        <clr-dg-placeholder>
                            No records ...
                        </clr-dg-placeholder>
                        
                        <clr-dg-row
                            *ngFor="let row of dataValues; let i = index"
                            (click)="clickDataValue(row.id, i)"
                            >
                            <clr-dg-cell>
                                    <input type="checkbox" id="checkrads_2" checked>
                                {{ row }}
                            </clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div>

                <div class="formBody">

                    <label for="selects0">Show:</label>
                    <div class="select textLine">
                        <select id="selects0">
                            <option>All</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
        
                    <label for="selects1">Sort on:</label>
                    <input type="checkbox" id="checkrads_2" (click)="showSortFields=!showSortFields">
                    <div class="select textLine">
                        <select *ngIf="showSortFields"
                            (change)="clickSortField($event.target.value)"
                            >
                            <option *ngFor="let row of dataFields; let i = index">
                                {{ row }}
                            </option>
                        </select>
                    </div>
                    <label for="selects_4">Sort order:</label>
                    <div class="select textLine">
                        <select id="selects_3"
                            (change)="clickSelectStep($event)"
                            >
                            <option>Ascending</option>
                            <option>Descending</option>
                        </select>
                    </div>
                    <label for="selects_4">Select a format:</label>
                    <div class="select textLine">
                        <select id="selects_3"
                            (change)="clickSelectStep($event)"
                            >
                            <option>Single select list</option>
                            <option>Multi-select</option>
                            <option>Slider</option>
                        </select>
                    </div>
                    <label for="selects_4">Select a font-size:</label>
                    <div class="select textLine">
                        <select id="selects_3"
                            (change)="clickSelectStep($event)"
                            >
                            <option>Small</option>
                            <option>Medium</option>
                            <option>Large</option>
                        </select>
                    </div>
                </div>
                <div class="slicerButton">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickSave('Close')"
                        >
                        Save
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
