<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <form #f="ngForm" role="form" novalidate>
    
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
                    <div class="gridOverall">
                        <div class="gridTitle">
                            Service:
                        </div>
                        <div class="gridSubTitle">
                            <i>
                                Obtain data from a service.  
                            </i>
                        </div>
                        <div class="gridSubTitle2">
                            <i>
                                To be done at a later stage.  
                            </i>
                        </div>
    
                    </div>
                </form>
            </div>
        </div>
    </div>
    