.sidenav .sidenav-content .nav-list {
    margin: 0;
    padding: 0;
}

.clr-tabs .clr-tab-content {
    margin: 0;
    padding: 0;
}
.fileLocation {
    width: 300px !important;
}

.helpMessage {
    color: gray;
}