<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <form #f="ngForm" role="form" novalidate>

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose()">
                        <b>X</b>
                    </button>
                    <div class="gridTitle">
                        <b>SQL Editor
                            <span *ngIf="selectedDatasource.name">
                                {{ selectedDatasource.name }}
                            </span>
                        </b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    Add / Edit a Datasource from a SQL Database: identify
                                    the Connection, type the SQL string, and see the results
                                    with GO.
                                    Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                        <span style="color: red;">NOTE: this form is experimental, and not completed</span>
                    </div>


                    <!-- WHERE IS DATA: define location, and credentials -->
                    <div class="gridWhereContainer" *ngIf="step=='Where'">

                        <div class="whereHelp">
                            <i *ngIf="step=='Where'  &&  isEditing">
                                Amend the details to the SQL source as required.  Optionally,
                                select from a previously defined connection.
                            </i>
                            <i *ngIf="step=='Where'  &&  !isEditing">
                                Enter the details to a new SQL source, or select from a
                                previously defined connection.
                            </i>
                            <i *ngIf="step=='What'  &&  isEditing">
                                Amend what data must be returned.  Select the table & fields, or
                                enter a SQL statement.  Then click Go.
                            </i>
                            <i *ngIf="step=='What'  &&  !isEditing">
                                Define what data must be returned.  Select the table & fields, or
                                enter a SQL statement.  Then click Go.
                            </i>
                            <i *ngIf="step=='How'  &&  isEditing">
                                Amend the transformation that must be applied to the data.
                            </i>
                            <i *ngIf="step=='How'  &&  !isEditing">
                                Select the transformation that must be applied to the data.
                            </i>
                        </div>

                        <div class="whereNameTitle">
                            <b>Name:</b>
                        </div>
                        <div class="whereName">
                            <input [(ngModel)]="selectedDatasource.name"
                                type="text"
                                name="name"
                                title="Name of the Datasource"
                                >
                        </div>

                        <div class="whereDescriptionTitle">
                            <b>Description:</b>
                        </div>
                        <div class="whereDescription">
                                <input [(ngModel)]="selectedDatasource.description"
                                type="text"
                                name="description"
                                title="Description of the Datasource"
                                >
                        </div>

                        <div class="whereServerTypeTitle">
                            <b>Type:</b>
                        </div>
                        <div class="select whereServerType">
                            <select
                                [(ngModel)]="selectedDatasource.serverType"
                                name="serverType"
                                (change)="clickTemplateDashboard($event)"
                                placeholder="Select a Type of server, ie MySQL"
                                >
                                <option *ngFor="let row of serverTypes">
                                    {{ row.serverType }}
                                </option>
                            </select>
                        </div>

                        <div class="whereServerNameTitle">
                            <b>Server:</b>
                        </div>
                        <div class="whereServerName">
                            <input [(ngModel)]="selectedDatasource.serverName"
                                type="text"
                                name="serverName"
                                title="Name of the Server / Host"
                                >
                        </div>

                        <div class="whereServerPortTitle">
                            <b>Port:</b>
                        </div>
                        <div class="whereServerPort">
                                <input [(ngModel)]="selectedDatasource.port"
                                type="text"
                                name="port"
                                title="Name of the port on the DB Server"
                                >
                        </div>

                        <div class="whereDatabaseTitle">
                            <b>Database:</b>
                        </div>
                        <div class="whereDatabase">
                                <input [(ngModel)]="selectedDatasource.databaseName"
                                type="text"
                                name="databaseName"
                                title="Name of the Database or Host"
                                >
                        </div>

                        <div class="whereUsernameTitle">
                            <b>Username:</b>
                        </div>
                        <div class="whereUsername">
                            <input [(ngModel)]="selectedDatasource.username"
                                type="text"
                                name="username"
                                title="Name of the connection"
                                >
                        </div>

                        <div class="wherePasswordTitle">
                            <b>Password:</b>
                        </div>
                        <div class="wherePassword">
                            <input [(ngModel)]="selectedDatasource.password"
                                type="password"
                                name="password"
                                title="User Password"
                                >
                        </div>

                        <div class="whereDatasourceIsCachedTitle">
                            <b>Cache?:</b>
                        </div>
                        <div class="whereDatasourceIsCached">
                            <input [(ngModel)]="selectedDatasource.cacheResultsLocal"
                            type="checkbox"
                            name="cacheResultsLocal"
                            title="Cached results for this Datasource (T/F)"
                            >
                        </div>

                        <div *ngIf="whereErrorMessage!=''" class="whereErrorMessage">
                            {{ whereErrorMessage }}
                        </div>

                        <div class="whereConnectionsTable">
                            <clr-datagrid class="datagrid-compact">
                                <clr-dg-placeholder>
                                    No records ...
                                </clr-dg-placeholder>
                                <clr-dg-column>Delete</clr-dg-column>
                                <clr-dg-column>Name</clr-dg-column>
                                <clr-dg-column>Type</clr-dg-column>
                                <clr-dg-column>Server</clr-dg-column>
                                <clr-dg-column>Auth</clr-dg-column>
                                <clr-dg-column>Description</clr-dg-column>
                                <clr-dg-row
                                    *ngFor="let row of dataConnections; let i = index"
                                    [style.background-color]="(i == selectedConnectionRowIndex)? '#123456' : 'white'"
                                    [style.color]="(i == selectedConnectionRowIndex)? 'white' : 'gray'"
                                    (click)="clickRow(i, row.id)"
                                    >
                                    <clr-dg-cell>
                                        <clr-icon shape="trash"
                                            class="selectIcon1"
                                            size="18"
                                            (dblclick)="clickDelete(i, row.id)"
                                            >
                                        </clr-icon>
                                    </clr-dg-cell>
                                    <clr-dg-cell>{{ row.connectionName }}</clr-dg-cell>
                                    <clr-dg-cell>{{ row.serverType }}</clr-dg-cell>
                                    <clr-dg-cell>{{ row.serverName }}</clr-dg-cell>
                                    <clr-dg-cell>{{ row.authentication }}</clr-dg-cell>
                                    <clr-dg-cell>{{ row.description }}</clr-dg-cell>
                                </clr-dg-row>
                            </clr-datagrid>
                        </div>

                        <div class="whereButtonCancel">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                (click)="clickClose('Close')"
                                >
                                Cancel
                            </button>
                        </div>
                        <div class="whereButtonContinue">
                            <button
                                type="button"
                                class="btn btn-primary"
                                (click)="clickNextToWhat()"
                                >
                                Next
                            </button>
                        </div>
                    </div>


                    <!-- WHAT DATA to extract: Define SQL statement to  -->
                    <div class="gridWhatContainer" *ngIf="step=='What'">
                        <div class="whatHelp">
                            <i>
                                Enter the SQL statement with quotes around the fields.  
                                Click GO to see the results.  Once done, click ADD to 
                                create a new Datasource.
                            </i>
                        </div>

                        <div class="whatTablesTitle">
                            <b>Tables</b>
                        </div>
                        <div class="select whatTables">
                            <select
                                [(ngModel)]="selectedTable"
                                name="serverType"
                                (change)="clickSelectTable($event)"
                                placeholder="Tables in the DB"
                                >
                                <option *ngFor="let row of dataSchemas">
                                    {{ row.tableName }}
                                </option>
                            </select>
                        </div>

                        <div class="whatFieldsTitle">
                            <b>Fields</b>
                        </div>
                        <div class="select whatFields">
                            <select
                                [(ngModel)]="selectedField"
                                name="serverType"
                                placeholder="Fields in the selected Table"
                                >
                                <option *ngFor="let row of fieldsInTable">
                                    {{ row }}
                                </option>
                            </select>
                        </div>

                        <div class="whatSQLTextTitle">
                            <b>SQL Statement</b>
                        </div>
                        <div class="whatButtonExport">
                                <button
                                type="button"
                                class="btn btn-link"
                                (click)="clickExport()"
                                >
                                Export SQL
                            </button>
                        </div>

                        <textarea class="whatSQLText" [(ngModel)]="selectedDatasource.dataSQLStatement"
                            name="textArea"
                            >SELECT "InvoiceDate", "BillingCity" FROM invoices
                        </textarea>

                        <div *ngIf="whatErrorMessage!=''" class="whatErrorMessage">
                            {{ whatErrorMessage }}
                        </div>

                        <div class="whatButtonGo">
                            <button
                                type="button"
                                class="btn btn-link"
                                (click)="clickGo()"
                                >
                                Go
                                <clr-icon shape="arrow right" size="12"></clr-icon>
                            </button>
                        </div>

                        <span class="spinner spinner-inline whatSpinner" *ngIf="spinner">
                            Loading...
                        </span>

                        <div class="whatDataTitle">
                            <b>
                                Preview of data
                            </b>
                        </div>
                        <div class="whatData" *ngIf="showPreview">
                            <clr-datagrid class="datagrid-compact">

                                <clr-dg-column *ngFor="let row of selectedDatasource.dataFields">
                                    {{ row }}
                                </clr-dg-column>

                                <clr-dg-row *clrDgItems="let row of fileData">
                                    <clr-dg-cell *ngFor="let col of selectedDatasource.dataFields; let i = index">
                                            {{ row[col] }}
                                    </clr-dg-cell>
                                </clr-dg-row>

                                <!-- <clr-dg-footer>
                                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                    of {{pagination.totalItems}} rows
                                    <clr-dg-pagination #pagination [clrDgPageSize]="8"></clr-dg-pagination>
                                </clr-dg-footer> -->

                            </clr-datagrid>
                        </div>

                        <div *ngIf="savedMessage!=''" class="whatSavedMessage">
                            {{ savedMessage }}
                        </div>

                        <div class="whatButtonCancel">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                (click)="clickClose('Close')"
                                >
                                Cancel
                            </button>
                        </div>
                        <div class="whatButtonAddUpdate" *ngIf="showPreview">
                            <button
                                type="button"
                                class="btn btn-primary"
                                (click)="clickAddUpdateCloseDatasource('Saved')"
                                >
                                <span *ngIf="!editingDS">
                                    Add & Close
                                </span>
                                <span *ngIf="editingDS">
                                    Update & Close
                                </span>

                            </button>
                        </div>
    
                        <div class="whatButtonSave" *ngIf="showPreview">
                            <button
                                type="button"
                                class="btn btn-primary"
                                (click)="clickAddUpdateNextTransform('Saved')"
                                >
                                <span *ngIf="!editingDS">
                                    Add & Transform
                                </span>
                                <span *ngIf="editingDS">
                                    Save & Transform
                                </span>

                            </button>
                        </div>
                    </div>  


                    <!-- HOW the data must be transformed (and filtered)  -->
                    <div class="gridHowContainer" *ngIf="step=='How'">

                        <div class="howTransformationButtonAdd">
                            <button
                                type="button"
                                class="btn btn-link"
                                (click)="clickAdd()"
                                >
                                Add
                            </button>
                        </div>

                        <div class="select howTransformationSelect" *ngIf="adding">
                            <select
                                [(ngModel)]="transformationName"
                                name="transformationName"
                                placeholder="Select a valid Transformation"
                                (click)="clickSelectedTransformation()"
                                >
                                <option *ngFor="let row of transformations">
                                    {{ row.name }}
                                </option>
                            </select>
                        </div>

                        <div class="howTransformationSignpost" *ngIf="adding">
                            <clr-signpost>
                                <clr-icon shape="info-circle"
                                    clrSignpostTrigger>
                                </clr-icon>
                                    <clr-signpost-content *clrIfOpen [clrPosition]="position">
                                    <h4 style="margin-top: 0">Annotation</h4>
                                    <p>
                                        {{ transitionDescription }}
                                    </p>
                                </clr-signpost-content>
                            </clr-signpost>
                        </div>

                        <div class="howParameter1Title">
                            <b>{{ parameter1Heading }}</b>
                        </div>
                        <div class="howParameter1" *ngIf="nrParameters>=1">
                            <input [(ngModel)]="parameter1Value"
                                type="parameter1Value"
                                name="parameter1Value"
                                [placeholder]="parameter1Placeholder"
                                [title]="parameter1Title"
                                [disabled]="!adding  &&  !editing"
                                >
                        </div>

                        <div class="howParameter2Title">
                            <b>{{ parameter2Heading }}</b>
                        </div>
                        <div class="howParameter2" *ngIf="nrParameters>=2">
                            <input [(ngModel)]="parameter2Value"
                                type="parameter2Value"
                                name="parameter2Value"
                                [placeholder]="parameter2Placeholder"
                                [title]="parameter2Title"
                                [disabled]="!adding  &&  !editing"

                                >
                        </div>

                        <div class="howParameter3Title">
                            <b>{{ parameter3Heading }}</b>
                        </div>
                        <div class="howParameter3" *ngIf="nrParameters>=3">
                            <input [(ngModel)]="parameter3Value"
                                type="parameter3Value"
                                name="parameter3Value"
                                [placeholder]="parameter3Placeholder"
                                [title]="parameter3Title"
                                [disabled]="!adding  &&  !editing"
                                >
                        </div>

                        <div class="howParameter4Title">
                            <b>{{ parameter4Heading }}</b>
                        </div>
                        <div class="howParameter4" *ngIf="nrParameters>=4">
                            <input [(ngModel)]="parameter4Value"
                                type="parameter4Value"
                                name="parameter4Value"
                                [placeholder]="parameter4Placeholder"
                                [title]="parameter4Title"
                                [disabled]="!adding  &&  !editing"
                                >
                        </div>

                        <div class="howParameter5Title">
                            <b>{{ parameter5Heading }}</b>
                        </div>
                        <div class="howParameter5" *ngIf="nrParameters>=5">
                            <input [(ngModel)]="parameter5Value"
                                type="parameter51Value"
                                name="parameter5Value"
                                [placeholder]="parameter5Placeholder"
                                [title]="parameter5Title"
                                [disabled]="!adding  &&  !editing"
                                >
                        </div>

                        <div class="howParameter6Title">
                            <b>{{ parameter6Heading }}</b>
                        </div>
                        <div class="howParameter6" *ngIf="nrParameters>=6">
                            <input [(ngModel)]="parameter6Value"
                                type="parameter6Value"
                                name="parameter6Value"
                                [placeholder]="parameter6Placeholder"
                                [title]="parameter6Title"
                                [disabled]="!adding  &&  !editing"
                                >
                        </div>

                        <div class="howTransformationButtonCancel">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                [disabled]="!adding  &&  !editing"
                                (click)="clickCancel()"
                                >
                                Cancel
                            </button>
                        </div>

                        <div class="howTransformationButtonSave">
                            <button
                                type="button"
                                class="btn btn-primary"
                                [disabled]="!adding  &&  !editing"
                                (click)="clickSave()"
                                >
                                Save
                            </button>
                        </div>

                        <div *ngIf="howErrorMessage!=''" class="howErrorMessage">
                            {{ howErrorMessage }}
                        </div>

                        <div class="howTransformations">
                            <clr-datagrid>
                                <clr-dg-placeholder>
                                    Show Data here ...
                                </clr-dg-placeholder>

                                <clr-dg-column [clrDgField]="'nameDB'">Transformation</clr-dg-column>

                                <clr-dg-row
                                    *clrDgItems="let row of datasourceTransformations; let i = index"
                                    [style.background-color]="(i == selectedDataRowIndex)? '#123456' : 'white'"
                                    [style.color]="(i == selectedDataRowIndex)? 'white' : 'gray'"
                                    (click)="clickRow(i, row.id)"
                                    >
                                    <clr-dg-cell>
                                        <clr-icon shape="pencil"
                                            size="12"
                                            (click)="clickEdit()">
                                        </clr-icon>
                                        <clr-icon shape="arrow"
                                            size="12"
                                            (click)="clickMoveUp(i, row.id)">
                                        </clr-icon>
                                        <clr-icon shape="arrow down"
                                            size="12"
                                            (click)="clickMoveDown(i, row.id)">
                                        </clr-icon>
                                        {{ row.name }}
                                        <clr-icon shape="trash"
                                            size="12"
                                            (dblclick)="dblclickDelete(i, row.id)">
                                        </clr-icon>
                                    </clr-dg-cell>

                                </clr-dg-row>
                            </clr-datagrid>
                        </div>

                        <div class="howResult">
                            <clr-datagrid>
                                <clr-dg-placeholder>
                                    Show Data here ...
                                </clr-dg-placeholder>

                                <clr-dg-column [clrDgField]="'nameDB'">name (DB)</clr-dg-column>
                                <clr-dg-column [clrDgField]="'businessGlossary'">businessGlossary</clr-dg-column>

                                <clr-dg-row
                                    *clrDgItems="let row of dataFields; let i = index"
                                    >
                                    <clr-dg-cell>{{ row.nameDB }}</clr-dg-cell>
                                    <clr-dg-cell>{{ row.businessGlossary }}</clr-dg-cell>

                                </clr-dg-row>
                            </clr-datagrid>
                        </div>

                        <div class="howButtonCancel">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                (click)="clickClose('Close')"
                                >
                                Cancel
                            </button>
                        </div>
    
                        <div class="whatButtonTransformation" *ngIf="showPreview">
                            <button
                                type="button"
                                class="btn btn-link"
                                (click)="clickAddUpdateTransformation('Transformation')"
                                >
                                <span *ngIf="!editingDS">
                                    Add
                                </span>
                                <span *ngIf="editingDS">
                                    Save
                                </span>
                                and open Transformations
                            </button>
                        </div>
    
                    </div>        
                </div>
            </form>
        </div>
    </div>
</div>
