<div class="modal modalBox">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <form #f="ngForm" role="form" novalidate>

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose()">
                        <b>X</b>
                    </button>
                    <div class="gridTitle">
                        <b>
                            <span *ngIf="!editingDS">New </span>
                            <span *ngIf="editingDS">Edit </span>
                            Datasource
                            <span *ngIf="editingDS"
                                style="color:gray"
                                >
                                {{ selectedDatasource.name }}
                            </span>
                            from Google Sheets
                        </b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    Obtain data from a Google Sheet document.  Enter the url
                                    of your Google Sheet, and click Get to obtain the data.
                                    Enter a name and description for the datasource,
                                    and click Save to store it permanently.
                                    Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>

                    <div class="gridDatasourceNameTitle">
                        <b>Name:</b>
                    </div>
                    <div class="gridDatasourceName">
                        <input [(ngModel)]="newName"
                            type="text"
                            name="newName"
                            title="Name of the new Datasource"
                            >
                    </div>

                    <div class="gridDatasourceDescriptionTitle">
                        <b>Description:</b>
                    </div>
                    <div class="gridDatasourceDescription">
                        <input [(ngModel)]="newDescription"
                            type="text"
                            name="newDescription"
                            description="description"
                            size="35"
                            title="Description of the new Datasource"
                            >
                    </div>

                    <div class="gridDatasourceIsCachedTitle">
                        <b>Cache?:</b>
                    </div>
                    <div class="gridDatasourceIsCached">
                        <input [(ngModel)]="newCacheResults"
                        type="checkbox"
                        name="dashboardQArequired"
                        title="Cached results for this Datasource (T/F)"
                        >
                    </div>

                    <div class="gridUrlTitle">
                        <b>Url:</b>
                    </div>
                    <div class="gridUrl">
                        <input [(ngModel)]="url"
                            type="text"
                            name="url"
                            size="50"
                            title="Url (address) of the Google sheet to be read, ie https://docs.google.com/spreadsheets/d/1xSMysMxnNhR8AXFuU-TWrgGe6TbsorZffNfwFlF85GA/edit#gid=0"
                            [disabled]="editingDS"
                            >
                    </div>

                    <div class="gridButtonGet">
                        <button
                            type="button"
                            class="btn btn-link"
                            (click)="clickHttpGet()"
                            >
                            Get
                        </button>
                    </div>

                    <span class="spinner spinner-inline gridSpinner" *ngIf="spinner">
                        Loading...
                    </span>

                    <div class="gridDataRows" *ngIf="showPreview">
                        {{ nrRows }} Rows
                    </div>

                    <div class="gridErrorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridPreviewData" *ngIf="showPreview">
                        <clr-datagrid>

                            <clr-dg-column *ngFor="let row of dataFieldsSelected"
                                >
                                {{ row }}
                            </clr-dg-column>

                            <clr-dg-row *clrDgItems="let row of currentDataSnippet">

                                <clr-dg-cell *ngFor="let col of dataFieldsSelected; let i = index">
                                        {{ row[col] }}
                                </clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-footer>
                                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                of {{pagination.totalItems}} rows
                                <clr-dg-pagination #pagination [clrDgPageSize]="8"></clr-dg-pagination>
                            </clr-dg-footer>

                        </clr-datagrid>
                    </div>

                    <div class="gridButtonCancel">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose()"
                            >
                            Cancel
                        </button>
                    </div>

                    <div class="gridButtonSave">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickSave()"
                            [disabled]="!canSave"
                            >
                            <span *ngIf="!editingDS">Add</span>
                            <span *ngIf="editingDS">Save</span>
                        </button>
                    </div>

                    <div class="gridSavedMessage">
                        {{ savedMessage }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
