<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">
    
                <div>
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
    
                    Combinations of Datasets

                    <div class="helpMessage" *ngIf="isFirstTimeDataCombination">
                        <div class="propertyLine">
                            Using existing Datasets, you can create new Datasets for this
                            Dashboard.  For example, if you have two Datasets for different
                            sales regions, you can combine them into a new Dataset to show
                            information from both in the same graph.  These combinations
                            are refreshed automatically when the underlying Dataset is
                            refreshed.  There are different types of combinations:
                        </div>
                        <div class="propertyLine">
                            <b>Got it</b> <input type="checkbox" (click)="clickGotIt()">
                            (You can make this message re-appear with the <i>Preferences</i> option under your
                            User icon <clr-icon shape="user"></clr-icon> on the menu top right.)
                        </div> 
                    </div>

                    <div class="gridOverall" *ngIf="!isFirstTimeDataCombination">
                        <div class="gridFieldHeader">
                            Select Combination type:
                            <select class="select" id="selects_3"
                                (change)="clickSelectStep($event)"
                                >
                                <option>Union</option>
                                <option>Intersect</option>
                                <option>Minus</option>
                                <option>Join</option>
                            </select>
                            <div class="propertyLine" *ngIf="selectedUnion">
                                <b>Union</b> - appends (at the bottom) any number of Datasets, showing 
                                all the records in them.  The Datasets must have the same number 
                                of columns, and corresponding datatype (ie numbers).  Any number 
                                of Datasets can be added.
                            </div>
                            <div class="propertyLine" *ngIf="selectedIntersect">
                                <b>Intersect</b> - shows only records that exist in both Datasets, based
                                on a mutual column.
                            </div>
                            <div class="propertyLine" *ngIf="selectedMinus">
                                <b>Minus</b> - shows only records that exist one Dataset, based on a mutual
                                column.
                            </div>
                            <div class="propertyLine" *ngIf="selectedJoin">
                                <b>Join</b> - joins (to right) two Datasets together on a mutual column.
                            </div>

                        </div>
                        <div class="gridFieldLH">
                            <div class="propertyLine">
                                <b>Left Hand:</b>
                            </div>
                            <div class="propertyLine">
                                Select Dataset:
                                <select class="select" id="selects_3"
                                    (change)="clickSelectStep($event)"
                                    >
                                    <option>Budget</option>
                                    <option>Sales forecast</option>
                                    <option>Factory output</option>
                                </select>
                            </div>
                            <div class="propertyLine">
                                Select Field:
                                <select class="select" id="selects_3"
                                    (change)="clickSelectStep($event)"
                                    >
                                    <option>TradeData</option>
                                    <option>Broker</option>
                                    <option>TradeType</option>
                                </select>
                            </div>
                        </div>
                        <div class="gridFieldRH">
                            <div class="propertyLine">
                                <b>Right Hand:</b>
                            </div>
                            <div class="propertyLine">
                                Select Dataset:
                                <select class="select" id="selects_3"
                                    (change)="clickSelectStep($event)"
                                    >
                                    <option>Budget 2</option>
                                    <option>Sales forecast</option>
                                    <option>Factory output</option>
                                </select>
                            </div>
                            <div class="propertyLine">
                                Select Field:
                                <select class="select" id="selects_3"
                                    (change)="clickSelectStep($event)"
                                    >
                                    <option>TradeData 2</option>
                                    <option>Broker</option>
                                    <option>TradeType</option>
                                </select>
                            </div>
                        </div>
                        <div class="buttonSave">
                            <button
                                type="button"
                                class="btn btn-sedondary"
                                (click)="clickSave()"
                                >
                                Save
                            </button>
                        </div>

    
                        <div class="gridFieldTable">
                            <clr-datagrid class="fieldsDataGrid">
                                <clr-dg-column>Delete</clr-dg-column>
                                <clr-dg-column>Type</clr-dg-column>
                                <clr-dg-column>LH DS</clr-dg-column>
                                <clr-dg-column>LH Field</clr-dg-column>
                                <clr-dg-column>RH DS</clr-dg-column>
                                <clr-dg-column>RH Field</clr-dg-column>

                                <clr-dg-row>
                                    <clr-dg-cell><clr-icon shape="times"></clr-icon></clr-dg-cell>
                                    <clr-dg-cell>Union</clr-dg-cell>
                                    <clr-dg-cell>Budget Jan</clr-dg-cell>
                                    <clr-dg-cell>Cost Center</clr-dg-cell>
                                    <clr-dg-cell>Budget Feb</clr-dg-cell>
                                    <clr-dg-cell>Cost Center</clr-dg-cell>
                                    </clr-dg-row>
                            </clr-datagrid>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    