<div class="modal modalBox">
	<div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
		<div class="modal-content modalContent">

            <div class="overall">
                <div class="closeButton">
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
                </div>

                Data Slicer
                <i>
                    The connected dataset will be refreshed as the user clicks on the Slicer.
                </i>
                <form>
                    <section>
                        <div class="form-group">
                            <label for="selects_4">Select a Datasource:</label>
                            <div class="select">
                                <select id="selects_3"
                                    (change)="clickSelectStep($event)"
                                    >
                                    <option>Current Budget</option>
                                    <option>Healthcare History</option>
                                    <option>Temperatures</option>
                                </select>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="form-group">
                            <label for="selects_4">Select a Field:</label>
                            <div class="select">
                                <select id="selects_3"
                                    (change)="clickSelectStep($event)"
                                    >
                                    <option>Date</option>
                                    <option>SalesVolume</option>
                                </select>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="form-group">
                            <label for="selects_4">Select a format:</label>
                            <div class="select">
                                <select id="selects_3"
                                    (change)="clickSelectStep($event)"
                                    >
                                    <option>Single select list</option>
                                    <option>Multi-select</option>
                                    <option>Slider</option>
                                </select>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="form-group">
                            <label for="selects_4">Select a font-size:</label>
                            <div class="select">
                                <select id="selects_3"
                                    (change)="clickSelectStep($event)"
                                    >
                                    <option>Small</option>
                                    <option>Medium</option>
                                    <option>Large</option>
                                </select>
                            </div>
                        </div>
                    </section>
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickSave('Close')"
                        >
                        Save
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>
