<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose()">
                    <b>X</b>
                </button>

                <div class="gridTitle">
        
                    <b>Share Data</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;"> 
                                Add a user or group and specify View or Edit permissions.  To change
                                existing permissions, double click the View / Edit cell in the grid below.  
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>

                <div class="gridDatasourceNameTitle">
                    <b>DS Name:</b>
                </div>

                <div class="gridDatasourceName">
                    <input [ngModel]="datasourceName"
                        type="text"
                        name="datasourceName"
                        #datasourceNameVar="ngModel"
                        required
                        minlength="3"
                        maxlength="40"
                        [style.color]="!datasourceNameVar.valid ? 'red' : 'gray'"
                        placeholder="Datasource Name"
                        size="25"
                        >
                </div>

                <div class="gridUserIDTitle">
                    <b>UserID:</b>
                </div>
                <div class="gridUserID">
                    <input [ngModel]="UserID"
                        type="text"
                        name="UserID"
                        #UserIDVar="ngModel"
                        required
                        minlength="3"
                        maxlength="40"
                        [style.color]="!UserIDVar.valid ? 'red' : 'gray'"
                        placeholder="Datasource Name"
                        size="25"
                        >
                </div>
    
                <div class="gridGroupTitle">
                    <b>Group:</b>
                </div>
                <div class="gridGroup">
                    <input [ngModel]="Group"
                        type="text"
                        name="Group"
                        #GroupVar="ngModel"
                        required
                        minlength="3"
                        maxlength="40"
                        [style.color]="!GroupVar.valid ? 'red' : 'gray'"
                        placeholder="Datasource Name"
                        size="25"
                        >
                </div>

                <div class="gridCanView">
                    Can View:
                    <input [(ngModel)]="canView"
                        type="checkbox"
                        name="canView"
                        #snapToGridVar="ngModel"
                        title="The specified User/Group Can View this Datasource (T/F)"
                        [style.color]="!snapToGridVar.valid ? 'red' : 'gray'"
                        >
                </div>

                <div class="gridCanEdit">
                    Can Edit:
                    <input [(ngModel)]="canEdit"
                        type="checkbox"
                        name="canEdit"
                        #snapToGridVar="ngModel"
                        title="The specified User/Group Can Edit this Datasource (T/F)"
                        [style.color]="!snapToGridVar.valid ? 'red' : 'gray'"
                        >
                </div>
    
                <div class="gridCanAdd">
                    Can Add:
                    <input [(ngModel)]="canAdd"
                        type="checkbox"
                        name="canAdd"
                        #snapToGridVar="ngModel"
                        title="The specified User/Group Can Add this Datasource (T/F)"
                        [style.color]="!snapToGridVar.valid ? 'red' : 'gray'"
                        >
                </div>
    
                    <!-- <input type="text" id="formFields_7" placeholder="DS Name">
                    <input type="text" id="formFields_7" placeholder="User ID">
                    <input type="text" id="formFields_7" placeholder="Group ID">
                    <input type="text" id="formFields_7" placeholder="CanView">
                    <input type="text" id="formFields_7" placeholder="CanEdit">
                    <input type="text" id="formFields_7" placeholder="CanAdd">
                    <input type="text" id="formFields_7" placeholder="CanDelete"> -->
                <div class="gridCanDelete">
                    Can Delete:
                    <input [(ngModel)]="canDelete"
                        type="checkbox"
                        name="canDelete"
                        #snapToGridVar="ngModel"
                        title="The specified User/Group Can Delete this Datasource (T/F)"
                        [style.color]="!snapToGridVar.valid ? 'red' : 'gray'"
                        >
                </div>

                <div class = "gridButtonAdd">

                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose('Close')"
                        >
                        Add
                    </button>
                </div>
                <div class = "gridTable">
                    <clr-datagrid>
                        <clr-dg-column>Delete</clr-dg-column>
                        <clr-dg-column>DS Name</clr-dg-column>
                        <clr-dg-column>User ID</clr-dg-column>
                        <clr-dg-column>Group ID</clr-dg-column>
                        <clr-dg-column>CanView</clr-dg-column>
                        <clr-dg-column>CanEdit</clr-dg-column>
                        <clr-dg-column>CanAdd</clr-dg-column>
                        <clr-dg-column>CanDelete</clr-dg-column>

                        <clr-dg-row *ngFor="let row of datasourcePermissions; let i = index">
                            <clr-dg-cell>
                                <clr-icon shape="times"
                                    (click)="clickDeletePermission(row.id, i)">
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell>{{row.name}}</clr-dg-cell>
                            <clr-dg-cell>{{row.userID}}</clr-dg-cell>
                            <clr-dg-cell>{{row.groupID}}</clr-dg-cell>
                            <clr-dg-cell>{{row.canView}}</clr-dg-cell>
                            <clr-dg-cell>{{row.canEdit}}</clr-dg-cell>
                            <clr-dg-cell>{{row.CanAdd}}</clr-dg-cell>
                            <clr-dg-cell>{{row.CanDelete}}</clr-dg-cell>
                        </clr-dg-row>

                    </clr-datagrid>
                </div>
            </div>
        </div>
    </div>
</div>
