<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <form #f="ngForm" role="form" novalidate>
    
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
                    <div class="gridOverall">
                        <div class="gridTitle">
                            Transformations:
                        </div>
                        <div class="gridSubTitle">
                            <i>
                                Add transformations to the Datasource: TradesPerMonth (for table 
                                tradestatprmnt).  
                            </i>
                        </div>
    
                        <div class="gridConnectionSelectTitle">
                            <b>Transformation:</b>
                        </div>
                        <div class="select gridConnectionSelect">
                            <select
                                [(ngModel)]="connectionName"
                                name="connectionSelect"
                                (change)="clickConnectionSelect($event)"
                                placeholder="Select previously stored Connection"
                                >
                                <option *ngFor="let row of dataConnections">
                                    {{ row.connectionName }}
                                </option>
                            </select>
                        </div>
    
                        <div class="gridConnectionTypeTitle">
                            <b>Type:</b>
                        </div>
                        <div class="gridConnectionType">
                            {{ connectionType }}
                        </div>
    
                        <div class="gridUsernameTitle">
                            <b>Username:</b>
                        </div>
                        <div class="gridUsername">
                            <input [(ngModel)]="usernameTitle"
                                type="text"
                                name="usernameTitle"
                                title="Name of the connection"
                                >
                        </div>
    
                        <div class="gridPasswordTitle">
                            <b>Password:</b>
                        </div>
                        <div class="gridPassword">
                            <input [(ngModel)]="password"
                                type="password"
                                name="password"
                                title="User Password"
                                >
                        </div>
    
                        <div class="gridDescriptionTitle">
                            <b>Description:</b>
                        </div>
                        <div class="gridDescription">
                            {{ description }}
                        </div>
    
                        <div *ngIf="errorMessage!=''" class="gridErrorMessage">
                            {{ errorMessage }}
                        </div>
    
                        <div class="gridTransformations">
                            <clr-datagrid>
                                <clr-dg-placeholder>
                                    Show Data here ...
                                </clr-dg-placeholder>

                                <clr-dg-column [clrDgField]="nameDB">Transformation</clr-dg-column>
                                <clr-dg-column [clrDgField]="nameLocal">name (Local)</clr-dg-column>
                                <clr-dg-column [clrDgField]="type">type</clr-dg-column>
                                <clr-dg-column [clrDgField]="format">format</clr-dg-column>
                                <clr-dg-column [clrDgField]="businessGlossary">businessGlossary</clr-dg-column>

                                <clr-dg-row
                                    *clrDgItems="let row of transformationDS; let i = index" [clrDgItem]="row"
                                    [style.background-color]="(i == selectedFieldRowIndex)? '#123456' : 'white'"
                                    [style.color]="(i == selectedFieldRowIndex)? 'white' : 'gray'"
                                    >
                                    <clr-dg-cell>
                                            <clr-icon shape="arrow"
                                            size="12"
                                            (click)="clickMoveTabUp(i)">
                                        </clr-icon>
                                        <clr-icon shape="arrow down"
                                            size="12"
                                            (click)="clickMoveTabDown(i)">
                                        </clr-icon>
                                        {{ row.name }}
                                        <clr-icon shape="times"
                                            size="12"
                                            (click)="clickMoveTabDown(i)">
                                        </clr-icon>
                                    </clr-dg-cell>
                                    
                                </clr-dg-row>
                            </clr-datagrid>
                        </div>  
    
                        <div class="gridResult">
                            <clr-datagrid>
                                <clr-dg-placeholder>
                                    Show Data here ...
                                </clr-dg-placeholder>

                                <clr-dg-column [clrDgField]="nameDB">name (DB)</clr-dg-column>
                                <clr-dg-column [clrDgField]="nameLocal">name (Local)</clr-dg-column>
                                <clr-dg-column [clrDgField]="type">type</clr-dg-column>
                                <clr-dg-column [clrDgField]="format">format</clr-dg-column>
                                <clr-dg-column [clrDgField]="businessGlossary">businessGlossary</clr-dg-column>

                                <clr-dg-row
                                    >
                                    <clr-dg-cell>{{ row.nameDB }}</clr-dg-cell>
                                    <clr-dg-cell>{{ row.nameLocal }}</clr-dg-cell>
                                    <clr-dg-cell>{{ row.type }}</clr-dg-cell>
                                    <clr-dg-cell>{{ row.format }}</clr-dg-cell>
                                    <clr-dg-cell>{{ row.businessGlossary }}</clr-dg-cell>

                                </clr-dg-row>
                            </clr-datagrid>
                        </div>  

                        <div class="gridButtonCancel">
                                <button
                                type="button"
                                class="btn btn-secondary"
                                (click)="clickClose('Close')"
                                >
                                Cancel
                            </button>
                        </div>
    
                        <div class="gridButtonSave">
                            <button
                                type="button"
                                class="btn btn-primary"
                                (click)="clickSave('Saved')"
                                >
                                Save
                            </button>
                        </div>
    
                    </div>
                </form>
            </div>
        </div>
    </div>
    