<div class="modal modalBox">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <form #f="ngForm" role="form" novalidate>

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose('Close')">
                        <b>X</b>
                    </button>
                    <div class="gridTitle">
                        <b>Create a Datasource from an external Service</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;"> 
                                    Obtain data from a service.  
                                    Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>
                    <div class="gridSubTitle">
                        <i>
                            This form will be done at a later stage.  
                        </i>
                    </div>

                    <div class="gridUrlTitle">
                        <b>Service:</b>
                    </div>
                    <div class="gridUrl">
                        <input [(ngModel)]="url"
                            type="text"
                            name="url"
                            size="40"
                            title="Service (ie Google APIs) of the data to be read"
                            >
                    </div>
    
                    <div class="gridButtonGet">
                        <button
                            type="button"
                            class="btn btn-link"
                            (click)="clickHttpGet()"
                            >
                            Get
                        </button>
                    </div>

                    <div class="gridParamsTitle">
                        <b>Params:</b>
                    </div>
                    <div class="gridParams">
                        <input [(ngModel)]="parameters"
                            type="text"
                            name="parameters"
                            title="Optional parameters of the service"
                            >
                    </div>

                    <div class="gridErrorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridDatasourceNameTitle">
                        <b>Name:</b>
                    </div>
                    <div class="gridDatasourceName">
                        <input [(ngModel)]="newName"
                            type="text"
                            name="newName"
                            title="Name of the new Datasource"
                            >
                    </div>

                    <div class="gridDatasourceDescriptionTitle">
                        <b>Description:</b>
                    </div>
                    <div class="gridDatasourceDescription">
                        <input [(ngModel)]="newDescription"
                            type="text"
                            name="newDescription"
                            description="description"
                            size="45"
                            title="Description of the new Datasource"
                            >
                    </div>
    
                    <div class="gridButtonCancel">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose('Close')"
                            >
                            Cancel
                        </button>
                    </div>

                    <div class="gridButtonSave">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickSave()"
                            >
                            Save
                        </button>
                    </div>    
                </div>
            </form>
        </div>
    </div>
</div>
