<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <form #f="ngForm" role="form" novalidate>

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose()">
                        <b>X</b>
                    </button>
                    <div class="gridTitle">
                        <b>Neo4j Editor</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    Add / Edit a Datasource from a Neo4j Database using the Editor: 
                                    identify the Connection, type the Cypher string, and see the results 
                                    by clicking the GO button.  
                                    Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>

                    <div class="gridDatasourceNameTitle">
                        <b>Name:</b>
                    </div>
                    <div class="gridDatasourceName">
                        <input [(ngModel)]="selectedDatasource.name"
                            type="text"
                            name="name"
                            title="Name of the Datasource"
                            autofocus
                            >
                    </div>

                    <div class="gridDescriptionTitle">
                        <b>Description:</b>
                    </div>
                    <div class="gridDescription">
                            <input [(ngModel)]="selectedDatasource.description"
                            type="text"
                            name="description"
                            title="Description of the Datasource"
                            >
                    </div>

                    <div class="gridDatasourceIsCachedTitle">
                        <b>Cache?:</b>
                    </div>
                    <div class="gridDatasourceIsCached">
                        <input [(ngModel)]="selectedDatasource.cacheResultsLocal"
                        type="checkbox"
                        name="cacheResultsLocal"
                        title="Cached results for this Datasource (T/F)"
                        >
                    </div>

                    <div class="gridConnectionSelectTitle">
                        <b>Connection:</b>
                    </div>
                    <div class="select gridConnectionSelect">
                        <select
                            [(ngModel)]="connectionName"
                            name="connectionSelect"
                            placeholder="Select previously stored Connection"
                            >
                            <option *ngFor="let row of dataConnectionNames">
                                {{ row }}
                            </option>
                        </select>
                    </div>

                    <div class="gridUsernameTitle">
                        <b>Username:</b>
                    </div>
                    <div class="gridUsername">
                        <input [(ngModel)]="selectedDatasource.username"
                            type="text"
                            name="username"
                            title="Name of the connection"
                            >
                    </div>

                    <div class="gridPasswordTitle">
                        <b>Password:</b>
                    </div>
                    <div class="gridPassword">
                        <input [(ngModel)]="selectedDatasource.password"
                            type="password"
                            name="password"
                            title="User Password"
                            >
                    </div>

                    <div class="connectionString">
                        {{ connectionString }}
                    </div>
    
                    <div class="gridSQLTextTitle">
                        <b>SQL Statement</b>
                    </div>
                    <textarea class="gridSQLText" [(ngModel)]="selectedDatasource.dataSQLStatement"
                        name="textArea"
                        >SELECT "InvoiceDate", "BillingCity" FROM invoices
                    </textarea>

                    <div *ngIf="errorMessage!=''" class="gridErrorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridGoButton">
                        <button
                            type="button"
                            class="btn btn-link"
                            (click)="clickGo()"
                            >
                            Go
                            <clr-icon shape="arrow right" size="12"></clr-icon>
                        </button>
                    </div>

                    <span class="spinner spinner-inline gridSpinner" *ngIf="spinner">
                        Loading...
                    </span>

                    <div class="gridData" *ngIf="showPreview">
                        <clr-datagrid class="gridPreviewData">

                            <clr-dg-column *ngFor="let row of selectedDatasource.dataFields">
                                {{ row }}
                            </clr-dg-column>

                            <clr-dg-row *clrDgItems="let row of fileData">
                                <clr-dg-cell *ngFor="let col of selectedDatasource.dataFields; let i = index">
                                        {{ row[col] }}
                                </clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-footer>
                                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                of {{pagination.totalItems}} rows
                                <clr-dg-pagination #pagination [clrDgPageSize]="8"></clr-dg-pagination>
                            </clr-dg-footer>

                        </clr-datagrid>
                    </div>

                    <div class="gridButtonCancel">
                            <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose('Close')"
                            >
                            Cancel
                        </button>
                    </div>

                    <div *ngIf="savedMessage!=''" class="gridSavedMessage">
                        {{ savedMessage }}
                    </div>

                    <div class="gridButtonSave" *ngIf="showPreview">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickAdd('Saved')"
                            >
                            Add
                        </button>
                    </div>

                    <div class="gridButtonTransformation" *ngIf="showPreview">
                        <button
                            type="button"
                            class="btn btn-link"
                            (click)="clickAdd('Transformation')"
                            >
                            Add and open Transformations
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
