<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose()">
                        <b>X</b>
                    </button>

                    <div class="gridTitle">
                        <b>Networks.</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    This form is used to Add / Edit a Network.  Networks
                                    consist of Nodes and Relationships, and can be viewed
                                    with the Canvas Navigator.  Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>

                    </div>

                    <div class="gridErrorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridTable">
                        <clr-datagrid>
                            <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
                            <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
                            <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
                            <clr-dg-column [clrDgField]="'accessType'">AccessType</clr-dg-column>
                            <clr-dg-column [clrDgField]="'createdBy'">Creator</clr-dg-column>
                            <clr-dg-column [clrDgField]="'createdOn'">CreatedOn</clr-dg-column>
                            <clr-dg-column [clrDgField]="'editor'">Editor</clr-dg-column>
                            <clr-dg-column [clrDgField]="'dateEdited'">EditedOn</clr-dg-column>

                            <clr-dg-row *clrDgItems="let row of navigatorNetworks;
                                let i = index"
                                [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                                [style.color]="(i == selectedRow)? 'white' : 'gray'"
                                (click)="clickRow(i, row.id)"
                                >
                                <clr-dg-cell>{{ row.id }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.name }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.description }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.accessType }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.createdBy }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.createdOn }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.editor }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.dateEdited }}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-footer>
                                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                of {{pagination.totalItems}} rows
                                <clr-dg-pagination #pagination [clrDgPageSize]="9"></clr-dg-pagination>
                            </clr-dg-footer>

                        </clr-datagrid>
                    </div>




                    <div class="gridScheduleNameTitle">
                        <b>Name:</b>
                    </div>
                    <div class="gridScheduleName">
                            <input [(ngModel)]="selectedNetworkName"
                            type="text"
                            name="name"
                            placeholder="Name of the Schedule"
                            #nameVar="ngModel"
                            required
                            minlength="2"
                            maxlength="250"
                            [style.color]="!nameVar.valid  &&  editing ? 'red' : 'gray'"
                            [disabled]="!editing  &&  !adding"
                            >
                    </div>

                    <div class="gridScheduleDescriptionTitle">
                        <b>Description:</b>
                    </div>
                    <div class="gridScheduleDescription">
                            <input [(ngModel)]="selectedNetworkDescription" 
                            type="text"
                            name="name"
                            placeholder="Description of the Schedule"
                            #descriptionVar="ngModel"
                            required
                            minlength="2"
                            maxlength="500"
                            [style.color]="!descriptionVar.valid  &&  editing ? 'red' : 'gray'"
                            [disabled]="!editing  &&  !adding"
                            >
                    </div>

                    <div class="select gridgridRelationshipDS"
                        >
                        <select [(ngModel)]="selectedRelationshipDS"
                            name="repeatFrequency"
                            [disabled]="!editing  &&  !adding"
                            >
                            <option>DS 1</option>
                            <option>DS 2</option>
                        </select>
                    </div>
                    <div class="select gridPropertyDS"
                        >
                        <select [(ngModel)]="selectedPropertyDS"
                            name="repeatFrequency"
                            [disabled]="!editing  &&  !adding"
                            >
                            <option>DS 1</option>
                            <option>DS 2</option>
                        </select>
                    </div>

                    <div class="gridButtonCancel" *ngIf="editing">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose()"
                            >
                            Cancel
                        </button>
                    </div>
                    <div class="gridButtonAdd" *ngIf="editing">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickSave()"
                            >
                            Save
                        </button>
                    </div>





                </div>

            </div>
        </div>
    </div>

