<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div modalContent>

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose()">
                        <b>X</b>
                    </button>
                    <div class="gridTitle">
                        <b>Delete Datasources</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    Double click the delete icon (left in row) to delete.  A Datasources
                                    linked to Widgets cannot be deleted, see #Widgets column.
                                    The <i>Data -> Usage</i> menu option where each Datasource
                                    is used.
                                    Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>

                    </div>
                    <div class="gridSubTitle">
                        <i>
                            Double Click the Delete icon in a row to delete the Datasource
                            and associated data.  A Datasources linked to Widgets cannot
                            be deleted.  The <i>Data -> Usage</i> menu option shows where
                            each Datasource is used.
                        </i>
                    </div>

                    <div class="gridDatasources">
                        <clr-datagrid>
                            <clr-dg-placeholder>
                                No records ...
                            </clr-dg-placeholder>
                            <clr-dg-column >Delete</clr-dg-column>
                            <clr-dg-column >#Widgets</clr-dg-column>
                            <clr-dg-column clrDgField="name">Name</clr-dg-column>
                            <clr-dg-column clrDgField="description">Description</clr-dg-column>

                            <clr-dg-row
                                *clrDgItems="let row of datasources; let i = index"
                                [style.background-color]="(i == selectedRowIndex)? '#123456' : 'white'"
                                [style.color]="(i == selectedRowIndex)? 'white' : 'gray'"
                                (click)="clickSelectedDatasource(i, row.id)"
                                >
                                <clr-dg-cell>
                                    <clr-icon *ngIf="row.nrWidgets==0"
                                        shape="trash"
                                        class="selectIcon1"
                                        size="18"
                                        (dblclick)="dblclickDelete(i, row.id)"
                                        >
                                    </clr-icon>
                                </clr-dg-cell>
                                <clr-dg-cell>{{ row.nrWidgets }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.name }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.description }}</clr-dg-cell>

                            </clr-dg-row>
                        </clr-datagrid>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
