.modalBox {
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-shadow: 0 2px 2px 0 lightgray;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(27, 0.8rem);
    margin-top: 2px;
}
    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 21;
        /* autoprefixer: off */
        grid-column-end: 22;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-right: 12px;
        text-align: left;
    }
    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }

    .gridConnectionNameTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .gridConnectionName {
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .gridDescriptionTitle {
        grid-column-start: 7;
        /* autoprefixer: off */
        grid-column-end: 8;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-top: 5px;
    }
    .gridDescription {
        grid-column-start: 8;
        /* autoprefixer: off */
        grid-column-end: 14;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .gridServerTypeTitle {
        grid-column-start: 14;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .gridServerType {
        grid-column-start: 15;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .gridServerTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        margin-top: 5px;
    }
    .gridServer {
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .gridPortTitle {
        grid-column-start: 7;
        /* autoprefixer: off */
        grid-column-end: 8;
        grid-row-start: 5;
        grid-row-end: 6;
        margin-top: 5px;
    }
    .gridPort {
        grid-column-start: 8;
        /* autoprefixer: off */
        grid-column-end: 14;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .gridDatabaseTitle {
        grid-column-start: 14;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 5;
        grid-row-end: 6;
        margin-top: 5px;
    }
    .gridDatabase {
        grid-column-start: 15;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .gridAuthenticationTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 8;
        margin-top: 5px;
    }
    .gridAuthentication {
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 8;
    }

    .gridUsernameTitle {
        grid-column-start: 7;
        /* autoprefixer: off */
        grid-column-end: 8;
        grid-row-start: 7;
        grid-row-end: 8;
        margin-top: 5px;
    }
    .gridUsername {
        grid-column-start: 8;
        /* autoprefixer: off */
        grid-column-end: 14;
        grid-row-start: 7;
        grid-row-end: 8;
    }

    .gridPasswordTitle {
        grid-column-start: 14;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 7;
        grid-row-end: 8;
        margin-top: 5px;
    }
    .gridPassword {
        grid-column-start: 15;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 7;
        grid-row-end: 8;
    }

    .gridErrorMessage {
        color: red;
        grid-column-start: 6;
        /* autoprefixer: off */
        grid-column-end: 20;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .gridButtonCancel {
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 4;
        grid-row-start: 8;
        grid-row-end: 9;
        margin: 8px 2px 2px 2px;
        text-align: left;
    }
    .gridButtonAdd {
        grid-column-start: 6;
        /* autoprefixer: off */
        grid-column-end: 8;
        grid-row-start: 8;
        grid-row-end: 9;
        margin: 8px 2px 2px 2px;
        text-align: left;
    }

    .gridConnectionsTable {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 12;
        grid-row-end: 27;
        overflow-y: scroll;
        width: 100%;
    }

        .datagrid {
            margin: 0px !important;
            margin-top: 0px !important;
            padding: 0 !important;
        }

        .datagrid-cell {
            font-size: 0.45rem !important;
            height: 0.8rem !important;
            margin: 2px !important;
            overflow: hidden;
            padding: 0 0 0 6px !important;
            text-align: left;
            text-overflow: ellipsis;
        }

        .dsCheckbox {
            margin: 4px 0 0 0 !important;    
        }

