<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <form #f="ngForm" role="form" novalidate>

                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>
                <div class="gridOverall">
                    <div class="gridTitle">
                        SQL Query Builder:
                    </div>
                    <div class="gridSubTitle">
                        <i>
                            Add a Datasource from a SQL Database.  Identify the Connection,
                            Table and required fields.  Transformations are optional.
                        </i>
                    </div>

                    <div class="gridConnectionTitle">
                        <b>Connection:</b>
                    </div>
                    <div class="gridConnection">
                        <input [(ngModel)]="connectionName"
                            type="text"
                            name="connectionName"
                            title="Name of the connection"
                            >
                    </div>

                    <div class="gridConnectionTypeTitle">
                        <b>Type:</b>
                    </div>
                    <div class="select gridConnectionType">
                        <select [(ngModel)]="connectionType"
                            name="connectionType"
                            (change)="clickConnectionType($event)"
                            placeholder="Select type of Connection, ie PostreSQL"
                            >
                            <option>My SQL</option>
                            <option>Microsft SQL</option>
                            <option>MySQL</option>
                        </select>
                    </div>
    
                    <div class="gridConnectionSelectTitle">
                        <b>Copy:</b>
                    </div>
                    <div class="select gridConnectionSelect">
                        <select
                            name="connectionSelect"
                            (change)="clickConnectionSelect($event)"
                            placeholder="Select previous Connection to copy from"
                            >
                            <option *ngFor="let row of connections">
                                {{ row }}
                            </option>
                        </select>
                    </div>
    
                    <div class="gridServerTitle">
                        <b>Server:</b>
                    </div>
                    <div class="gridServer">
                        <input [(ngModel)]="serverTitle"
                            type="text"
                            name="serverTitle"
                            title="Name of the Server/IP Address and :Port"
                            >
                    </div>

                    <div class="gridUsernameTitle">
                        <b>Username:</b>
                    </div>
                    <div class="gridUsername">
                        <input [(ngModel)]="usernameTitle"
                            type="text"
                            name="usernameTitle"
                            title="Name of the connection"
                            >
                    </div>

                    <div class="gridPasswordTitle">
                        <b>Password:</b>
                    </div>
                    <div class="gridPassword">
                        <input [(ngModel)]="password"
                            type="password"
                            name="password"
                            title="User Password"
                            >
                    </div>

                    <div class="gridAuthenticationTitle">
                        <b>Authentication:</b>
                    </div>
                    <div class="gridAuthentication">
                        <input [(ngModel)]="authentication"
                            type="text"
                            name="authentication"
                            title="Current User or log in"
                            >
                    </div>

                    <div class="gridDescriptionTitle">
                        <b>Description:</b>
                    </div>
                    <div class="gridDescription">
                        <input [(ngModel)]="description"
                            type="text"
                            name="description"
                            size="45"
                            title="Description of the connection"
                            >
                    </div>

                    <div class="gridButtonTransformation">
                        <button
                            type="button"
                            class="btn btn-link"
                            (click)="clickTransformation()"
                            >
                            Transformations
                        </button>
                    </div>

                    <div *ngIf="errorMessage!=''" class="gridErrorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridTables">
                        <clr-datagrid>
                            <clr-dg-placeholder>
                                No records ...
                            </clr-dg-placeholder>

                            <clr-dg-row
                                *ngFor="let row of datasources; let i = index"
                                [style.background-color]="(i == selectedTableRowIndex)? '#123456' : 'white'"
                                [style.color]="(i == selectedTableRowIndex)? 'white' : 'gray'"
                                (click)="clickSelectedDataTable(i, row.id)"
                                >
                                <clr-dg-cell>
                                    <input type="checkbox" class="dsCheckbox"
                                        [checked]="row.isSelected"
                                        [disabled]="row.hasWidget"
                                        (click)="clickDSCheckbox(i, row.id, row.isSelected, $event)"
                                        >
                                    <div class="dsName">
                                        {{ row.fieldValue }}                                        {{row.name}}
                                    </div>

                                </clr-dg-cell>
                            </clr-dg-row>
                        </clr-datagrid>
                    </div>

                    <div class="gridFields">
                        <clr-datagrid>
                            <clr-dg-placeholder>
                                No records ...
                            </clr-dg-placeholder>

                            <clr-dg-column [clrDgField]="id">id</clr-dg-column>
                            <clr-dg-column [clrDgField]="datasourceID">datasourceID</clr-dg-column>
                            <clr-dg-column [clrDgField]="nameDB">nameDB</clr-dg-column>
                            <clr-dg-column [clrDgField]="nameLocal">nameLocal</clr-dg-column>
                            <clr-dg-column [clrDgField]="type">type</clr-dg-column>
                            <clr-dg-column [clrDgField]="format">format</clr-dg-column>
                            <clr-dg-column [clrDgField]="filterOperand">filterOperand</clr-dg-column>
                            <clr-dg-column [clrDgField]="filterValue">filterValue</clr-dg-column>
                            <clr-dg-column [clrDgField]="calculation">calculation</clr-dg-column>
                            <clr-dg-column [clrDgField]="orderSequence">orderSequence</clr-dg-column>
                            <clr-dg-column [clrDgField]="orderDirection">orderDirection</clr-dg-column>
                            <clr-dg-column [clrDgField]="description">description</clr-dg-column>
                            <clr-dg-column [clrDgField]="businessGlossary">businessGlossary</clr-dg-column>
                            <clr-dg-column [clrDgField]="keyField">keyField</clr-dg-column>
                            <clr-dg-column [clrDgField]="explainedBy">explainedBy</clr-dg-column>
                            <clr-dg-column [clrDgField]="creator">creator</clr-dg-column>
                            <clr-dg-column [clrDgField]="dateCreated">dateCreated</clr-dg-column>
                            <clr-dg-column [clrDgField]="editor">editor</clr-dg-column>
                            <clr-dg-column [clrDgField]="dateEdited">dateEdited</clr-dg-column>
                            <clr-dg-column [clrDgField]="hidden">hidden</clr-dg-column>

                            <clr-dg-row
                                *clrDgItems="let row of dataFields; let i = index"
                                [style.background-color]="(i == selectedFieldRowIndex)? '#123456' : 'white'"
                                [style.color]="(i == selectedFieldRowIndex)? 'white' : 'gray'"
                                (click)="clickSelectedDatafield(i, row.id)"
                                >
                                <clr-dg-cell>
                                    <input type="checkbox" class="dsCheckbox"
                                        [checked]="row.isSelected"
                                        [disabled]="row.hasWidget"
                                        (click)="clickDSCheckbox(i, row.id, row.isSelected, $event)"
                                        >
                                    <div class="dsName">
                                        {{ row.id }}
                                    </div>
                                </clr-dg-cell>
                                <clr-dg-cell>{{ row.datasourceID }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.nameDB }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.nameLocal }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.type }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.format }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.filterOperand }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.filterValue }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.calculation }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.orderSequence }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.orderDirection }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.description }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.businessGlossary }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.keyField }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.explainedBy }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.creator }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.dateCreated }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.editor }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.dateEdited }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.hidden }}</clr-dg-cell>

                            </clr-dg-row>
                        </clr-datagrid>
                    </div>

                    <div class="gridButtonCancel">
                            <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose('Close')"
                            >
                            Cancel
                        </button>
                    </div>

                    <div class="gridButtonSave">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickSave('Saved')"
                            >
                            Save
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
