.modalBox {
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-shadow: 0 2px 2px 0 lightgray;
}

.datagrid {
    margin: 0px !important;
    margin-top: 0px !important;
    padding: 0 !important;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 0.8rem);
    margin-top: 2px;
}
    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 21;
        /* autoprefixer: off */
        grid-column-end: 22;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-right: 12px;
        text-align: left;
    }
    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }

    .gridFileNameTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }
    .gridFileName {
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 10;
        grid-row-start: 3;
        grid-row-end: 4;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }

    .gridButtonCancel {
        grid-column-start: 11;
        /* autoprefixer: off */
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 12px 2px 2px 2px;
        text-align: left;
    }

    .gridButtonExport {
        grid-column-start: 14;
        /* autoprefixer: off */
        grid-column-end: 16;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 12px 2px 2px 2px;
        text-align: left;
    }

    .gridErrorMessage {
        color: red;
        grid-column-start: 6;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: left;
    }

    .gridDatasources {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 5;
        grid-row-end: 21;
        margin: 2px 2px 2px 2px;
        text-align: left;
        overflow-y: scroll;
    }
