.modalBox {
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-shadow: 0 2px 2px 0 lightgray;
}

.datagrid {
    margin: 0px !important;
    margin-top: 0px !important;
    padding: 0 !important;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(24, 0.8rem);
    margin-top: 2px;
}

    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 1;
        /* autoprefixer: off */
        grid-row-end: 2;
        text-align: left;
    }

    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 1;
        /* autoprefixer: off */
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }

    .gridDatasourceNameTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }
    .gridDatasourceName {
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }

    .gridDatasourceDescriptionTitle {
        grid-column-start: 7;
        /* autoprefixer: off */
        grid-column-end: 9;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }
    .gridDatasourceDescription {
        grid-column-start: 9;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }

    .gridButtonBrowse {
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 4;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }
    .gridButtonBrowse:hover {
        cursor: hand;
    }

    .gridFileNameTitle {
        grid-column-start: 7;
        /* autoprefixer: off */
        grid-column-end: 9;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }
    .gridFileName {
        grid-column-start: 9;
        /* autoprefixer: off */
        grid-column-end: 14;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }

    .gridHeaderRowTitle {
        grid-column-start: 14;
        /* autoprefixer: off */
        grid-column-end: 17;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }
    .gridHeaderRow {
        grid-column-start: 17;
        /* autoprefixer: off */
        grid-column-end: 19;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
        margin: 2px 2px 2px 6px;
        text-align: left;
    }

    .errorMessage {
        color: red;
        grid-column-start: 7;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 6;
        /* autoprefixer: off */
        grid-row-end: 7;
        margin: 6px 2px 2px 2px;
        text-align: left;
    }

    .gridButtonPreview {
        grid-column-start: 7;
        /* autoprefixer: off */
        grid-column-end: 8;
        grid-row-start: 13;
        /* autoprefixer: off */
        grid-row-end: 14;
        margin-left: 2px;
        text-align: left;
    }
    .gridEditMessage {
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 6;
        /* autoprefixer: off */
        grid-row-end: 7;
        text-align: left;
    }

    .gridTableWorksheets {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 4;
        grid-row-start: 8;
        /* autoprefixer: off */
        grid-row-end: 23;
        margin: 2px 2px 2px 2px;
        text-align: left;
        overflow-y: scroll;
    }
    .gridTableColumns {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 4;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 8;
        /* autoprefixer: off */
        grid-row-end: 23;
        margin: 2px 2px 2px 2px;
        text-align: left;
        overflow-y: scroll;
    }
    .gridTableData {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 8;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 8;
        /* autoprefixer: off */
        grid-row-end: 23;
        margin: 2px 2px 2px 2px;
        text-align: left;
        overflow-y: scroll;
    }
    .gridButtonCancel {
        grid-column-start: 6;
        /* autoprefixer: off */
        grid-column-end: 8;
        grid-row-start: 23;
        /* autoprefixer: off */
        grid-row-end: 24;
        margin-top: 4px;
        text-align: left;
    }
    .savedMessage {
        grid-column-start: 9;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 24;
        /* autoprefixer: off */
        grid-row-end: 25;
        margin: 6px 2px 2px 2px;
        text-align: left;
    }
    .gridButtonAdd {
        grid-column-start: 13;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 23;
        /* autoprefixer: off */
        grid-row-end: 24;
        margin-top: 4px;
        text-align: left;
    }
    .gridButtonTransformation {
        grid-column-start: 15;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 23;
        /* autoprefixer: off */
        grid-row-end: 24;
        margin-top: 4px;
    }
