<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content   ">
            <div modalContent>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>
                <div class="gridOverall">
                    <div class="gridTitleContainer">
                        <div class="titleCurrent">
                            Selected Datasource: <b>{{ currentDatasetName }}</b>
                            <span *ngIf="showTopSteps" class="titleFirsttimeMessage">
                                (Preview (and Add) a new one, or select an existing one)
                            </span>
                        </div>

                        <div class="titleIdentify titleBox">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowIdentifyFile()"
                                [style.background-color]="showIdentifyFile ? 'rgb(211, 211, 247)' : 'transparent'"
                                >
                                Identify
                            </button>
                        </div>
                        <div class="titleChevron1" *ngIf="showTopSteps">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowTransform()"
                                >
                                >>
                            </button>
                        </div>
                        <div class="titleFilter titleBox" *ngIf="showTopSteps">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowFilter()"
                                [style.background-color]="showFilter ? 'rgb(211, 211, 247)' : 'transparent'"
                                >
                                Filter
                            </button>
                        </div>
                        <div class="titleChevron2" *ngIf="showTopSteps">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowTransform()"
                                >
                                >>
                            </button>
                        </div>
                        <div class="titleTransform titleBox" *ngIf="showTopSteps">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowTransform()"
                                [style.background-color]="showTransform ? 'rgb(211, 211, 247)' : 'transparent'"
                                >
                                Transform
                            </button>
                        </div>
                        <div class="titleChevron3" *ngIf="showTopSteps">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowPivot()"
                                >
                                >>
                            </button>
                        </div>
                        <div class="titlePivot titleBox" *ngIf="showTopSteps">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowPivot()"
                                [style.background-color]="showPivot ? 'rgb(211, 211, 247)' : 'transparent'"
                                >
                                Pivot
                            </button>
                        </div>
                        <div class="titleChevron4" *ngIf="showTopSteps">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowView()"
                                >
                                >>
                            </button>
                        </div>
                        <div class="titleView titleBox" *ngIf="showTopSteps">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowView()"
                                [style.background-color]="showView ? 'rgb(211, 211, 247)' : 'transparent'"
                                >
                                Summary
                            </button>
                        </div>

                    </div>

                    <div class="gridIdentifyData" *ngIf="showIdentifyFile">
                        <div class="gridIdentifyCurrentDS"
                            [style.background-color]="currentDS? 'lightgray' : 'white'"
                            (click)="clickDS()"
                            >
                            Current
                            <clr-icon shape="check" *ngIf="currentDS"></clr-icon>
                        </div>
                        <div class="gridIdentifyAllDS"
                            [style.background-color]="!currentDS? 'lightgray' : 'white'"
                            (click)="clickDS()"
                            >
                            Show All
                            <clr-icon shape="check" *ngIf="!currentDS"></clr-icon>
                        </div>
                        <div class="gridIdentifyDataExisting" *ngIf="currentDS">
                            <!-- <span class="gridHeading" (click)="clickTest()">Existing Datasets</span> -->
                            <clr-datagrid class="fieldsDataGrid">
                                <!-- <clr-dg-column [clrDgField]="'filterDataset'">Name</clr-dg-column> -->

                                <clr-dg-row
                                    *ngFor="let row of currentDatasources; let i = index"
                                    (click)="clickCurrentDatasource(row.id, i)"
                                    >
                                    <clr-dg-cell>
                                        <clr-icon shape="times" (click)="clickCurrentDSDelete(i)"></clr-icon>
                                        {{row.name}}
                                    </clr-dg-cell>
                                </clr-dg-row>
                            </clr-datagrid>
                        </div>
                        <div class="gridIdentifyDataExisting" *ngIf="!currentDS">
                            <!-- <span class="gridHeading" (click)="clickTest()">Existing Datasets</span> -->
                            <clr-datagrid class="fieldsDataGrid">
                                <!-- <clr-dg-column [clrDgField]="'filterDataset'">Name</clr-dg-column> -->

                                <clr-dg-row
                                    *ngFor="let row of datasources"
                                    (click)="clickDatasourceRow(row.name)"
                                    >
                                    <clr-dg-cell>
                                        {{row.name}}
                                    </clr-dg-cell>
                                </clr-dg-row>
                            </clr-datagrid>
                        </div>

                        <div class="gridIdentifyDataIDfile" *ngIf="dataGetFromSwitch==='File'">
                            
                            <span>Please enter file name and location:</span>
                            <input type="text" id="formFields_7"
                                placeholder="Folder/FileName"
                                class="selectFile"
                                >
                                <button
                                    type="button"
                                    class="btn btn-link"
                                    (click)="clickFileBrowse()"
                                    >
                                    Browse
                                </button>
                            <br>
                            Excel Worksheet:
                            <span class="select">
                                <select id="selects_3" class="selectBox">
                                    <option>New York</option>
                                    <option>San Francisco</option>
                                    <option>Austin</option>
                                    <option>Paris</option>
                                    <option>Seattle</option>
                                </select>
                            </span>
                            <div class="checkbox-inline">
                                <input type="checkbox" id="checkrads_5">
                                <label for="checkrads_5">Transpose rows and cols</label>
                            </div>
                            <br>
                            Start at:
                            <input type="text" id="formFields_7" placeholder="Start on line nr">
                            <br>
                            Name of Dataset in this Dashboard:
                            <input type="text" id="formFields_7"> {{ existingDSName }}
                            <button
                                type="button"
                                class="btn btn-secondary selectButton"
                                (click)="clickDSPreview('Preview')"
                                >
                                Preview
                            </button>
                        <!-- <div class="titleButtonDiv"> -->
                            <button *ngIf="showAddButton"
                                type="button"
                                class="btn btn-secondary"
                                (click)="clickDSAdd('Add')"
                                >
                                Add
                            </button>
                        <!-- </div> -->
                        </div>

                        <div class="gridIdentifyDataIDserver" *ngIf="dataGetFromSwitch==='Server'">
                            <div class="gridIdentifyDataServerTop">
                                Server stuffies:
                                Query can be via:
                                1. Stored on server
                                2. SQL (later with editor)
                                Must be able to see / list paramters, and also to add
                                parameter values.
                            </div>
                            <clr-datagrid class="gridIdentifyDataServerList">
                                <clr-dg-column [clrDgField]="'filterDataset'">Name</clr-dg-column>

                                <clr-dg-row
                                    *ngFor="let row of datasources | filterDSType:'server'"
                                    (click)="clickDatasourceRow(row.name)"
                                    >
                                    <clr-dg-cell>
                                        <clr-icon shape="times"></clr-icon>
                                        {{row.name}}
                                    </clr-dg-cell>
                                </clr-dg-row>
                            </clr-datagrid>
                      </div>

                        <div class="gridIdentifyDataPreview">
                            <div *ngIf="showDataPreview">
                                <clr-datagrid class="fieldsDataGrid">


                                    <clr-dg-column *ngFor="let row of dataFieldNames">{{row}}</clr-dg-column>
                                    <clr-dg-row *ngFor="let row of currentData">

                                        <clr-dg-cell *ngFor="let col of dataFieldNames; let i = index">
                                                {{ row[col] }}
                                        </clr-dg-cell>
                                    </clr-dg-row>

                                    <clr-dg-footer>
                                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                        of {{pagination.totalItems}} rows
                                        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                                    </clr-dg-footer>

                                </clr-datagrid>
                            </div>
                        </div>

                    </div>

                    <div class="gridFilter" *ngIf="showFilter">
                        <div class="gridFilterFields">
                            Existing Fields

                            <clr-datagrid class="fieldsDataGrid">
                                <clr-dg-column [clrDgField]="'filterPivotFields'">Name</clr-dg-column>
                                <clr-dg-row *ngFor="let row of dataFieldNames">
                                    <clr-dg-cell
                                        id="fld"
                                        draggable="true"
                                        (dragstart)="dragstart_handler($event)"
                                        (dragend)="dragend_handler($event)"
                                        >
                                        {{ row }}
                                    </clr-dg-cell>
                                </clr-dg-row>
                            </clr-datagrid>

                        </div>
                        <div class="gridFilterDropAreaFields">
                            <b>Field filters:</b>
                            <div class="gridFilterFieldValues">
                                <label for="selects_2">Field:</label>
                                <div class="select">
                                    <select id="selects_2">
                                        <option *ngFor="let row of dataFieldNames">
                                            {{ row }}
                                        </option>
                                    </select>
                                </div>
                                <label for="selects_1">Operator:</label>
                                <div class="select">
                                    <select id="selects_1"
                                        >
                                        <option>
                                            Equal
                                        </option>
                                        <option>
                                            Less than
                                        </option>
                                        <option>
                                            Greater than
                                        </option>
                                        <option>
                                            Not Equal
                                        </option>
                                        <option>
                                            Equal or Less than
                                        </option>
                                        <option>
                                            Equal or Greater than
                                        </option>
                                    </select>
                                </div>
                                Filter value:
                                <input type="text" id="formFields_7"
                                    placeholder="Filter value"
                                    >
                                When: Pre/Post
                                <button
                                    type="button"
                                    class="btn btn-sedondary"
                                    (click)="clickFileSaveTransformation()"
                                    >
                                    Add
                                </button>
                            </div>
                        </div>
                        <div class="gridFilterResultFields">
                            <clr-datagrid class="fieldsDataGrid">
                                <clr-dg-column>Delete</clr-dg-column>
                                <clr-dg-column>Field Name</clr-dg-column>
                                <clr-dg-column>Operator</clr-dg-column>
                                <clr-dg-column>Filter Value</clr-dg-column>

                                <clr-dg-row *ngFor="let row of datasourceFilters">
                                    <clr-dg-cell><clr-icon shape="times"></clr-icon></clr-dg-cell>
                                    <clr-dg-cell>{{row.fieldName}}</clr-dg-cell>
                                    <clr-dg-cell>{{row.operator}}</clr-dg-cell>
                                    <clr-dg-cell>{{row.filterValue}}</clr-dg-cell>
                                </clr-dg-row>
                            </clr-datagrid>
                        </div>
                        <div class="gridFilterDropAreaTable">
                            <b>Table filters:</b>
                            <div class="gridFilterTable">
                                Start row (0 = top, -1 = bottom):
                                <input type="text" id="formFields_7"
                                    placeholder="0"
                                    >
                                Limit to Nr Rows (0 = all):
                                <input type="text" id="formFields_7"
                                    placeholder="0"
                                    >
                                <button
                                    type="button"
                                    class="btn btn-sedondary"
                                    (click)="clickFileSaveTransformation()"
                                    >
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="gridTransform" *ngIf="showTransform">
                        <div class="gridTransformTransformations">

                            <span class="gridHeading">Added Transformations</span>
                            <clr-datagrid class="fieldsDataGrid">
                                <clr-dg-column [clrDgField]="'filterTransformation'">Name</clr-dg-column>

                                <clr-dg-row *ngFor="let row of currentTransformations">
                                    <clr-dg-cell>{{row.name}}</clr-dg-cell>
                                </clr-dg-row>
                            </clr-datagrid>

                        </div>
                        <div class="gridTransformNew">
                            <div class="transformationSet">
                                Select an optional Transformation Set (list of single transformations
                                that were stored previously).  If this Set contains column names that
                                does not exist in your current Dataset, it will simply be ignored):
                                <div class="gridTransformNewNames">
                                    <div class="select">
                                        <select id="selects_2">
                                            <option>Standard Nielson file transformations</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                Optionally save all the current transformations (shown on the left)
                                as a Transformation-Set for future use:
                                <div class="gridTransformNewNames">
                                        <input type="text" id="formFields_7"
                                        placeholder="Set Name"
                                        class="selectFile"
                                        >
                                    <button
                                        type="button"
                                        class="btn btn-link"
                                        (click)="clickFileSaveTransformation()"
                                        >
                                        Save
                                    </button>
                                </div>
                            </div>
                            <br>
                            <b>Create a transformation:</b>
                            <div>
                                Select a single field and the transformation that must be
                                applied to it:
                            </div>
                            <div class="gridTransformNewNames">
                                <label for="selects_2">Field:</label>
                                <div class="select ">
                                    <select id="selects_2">
                                        <option *ngFor="let row of dataFieldNames">
                                            {{ row }}
                                        </option>
                                    </select>
                                </div>
                                <label for="selects_1">Transformation:</label>
                                <div class="select">
                                    <select id="selects_1"
                                        (click)="clickFileAddTransformationDetail()"
                                        >
                                        <option *ngFor="let row of transformationsFormat">
                                                {{ row.name }}
                                            </option>
                                        </select>
                                </div>
                                <input type="text" id="formFields_7"
                                    placeholder="Description of transformation ..."
                                    [(ngModel)]="transformationDescription"
                                    class="selectFile"
                                    >
                                <button
                                    type="button"
                                    class="btn btn-secondary"
                                    (click)="clickFileSaveTransformation()"
                                    >
                                    Save
                                </button>
                                <br>
                                <br>
                                <i>Note: When creating Calculated Fields, use a subset of TypeScript syntax in the
                                    formulas.  It is possible to use IF-THEN-ELSE statements, but it
                                    is not possible to use callbacks.  Fields existing in the Dataset (
                                    original or calculated) can be referenced by wrapping them in [], for
                                    example [TradeDate] - 1 where TradeDate is an existing field.
                                </i>
                            </div>
                            <br>
                        </div>
                        <div class="gridTransformExisting">
                            <div *ngIf="showTransformDetail">
                                <input type="text" id="formFields_7"
                                    placeholder="Enter date format"
                                    class="selectFile"
                                    >
                                <button
                                    type="button"
                                    class="btn btn-secondary selectButton"
                                    (click)="clickFileAddTransformation()"
                                    >
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="gridPivot" *ngIf="showPivot">
                        <div class="gridPivotFields">
                            Existing Fields

                            <clr-datagrid class="fieldsDataGrid">
                                <clr-dg-column [clrDgField]="'filterPivotFields'">Name</clr-dg-column>
                                <!-- <clr-dg-column [clrDgField]="'filterPivotFields'">Type</clr-dg-column> -->
                                <!-- <clr-dg-column [clrDgField]="'filterPivotFields'">Edit?</clr-dg-column> -->
                                <clr-dg-row *ngFor="let row of dataFieldNames">
                                    <clr-dg-cell
                                        id="fld"
                                        draggable="true"
                                        (dragstart)="dragstart_handler($event)"
                                        (dragend)="dragend_handler($event)"
                                        >
                                        {{ row }}
                                    </clr-dg-cell>

                                </clr-dg-row>

                            </clr-datagrid>

                        </div>
                        <div class="gridPivotDropArea">
                            <div class="gridPivotDropHeading">
                                Drag and drop a Field onto a Row, Column and the Aggregate.
                                Then select the Type of aggregation and Refresh.
                            </div>

                            <div class="gridPivotDropLabelX">
                                Column
                                <clr-icon shape="arrow right" size="12"></clr-icon>:
                            </div>
                            <div class="gridPivotDropFieldX"
                                id="colFld"
                                (drop)="drop_handlerCol($event);"
                                (dragenter)="dragover_handlerColEnter($event);"
                                (dragleave)="dragover_handlerColLeave($event);"
                                (dragover)="dragover_handler($event);"
                                draggable="true"
                                (dragstart)="dragstart_handlerCol($event)"
                                (dragend)="dragend_handler($event)"
                                [style.background-color]="dragoverCol? 'lightgray' : 'transparent'"
                                >
                                {{ colField }}
                            </div>

                            <div class="gridPivotDropLabelY">
                                Row
                                <clr-icon shape="arrow down" size="12"></clr-icon>:
                            </div>
                            <div class="gridPivotDropFieldY"
                                id="rowFld"
                                (drop)="drop_handlerRow($event);"
                                (dragenter)="dragover_handlerRowEnter($event);"
                                (dragleave)="dragover_handlerRowLeave($event);"
                                (dragover)="dragover_handler($event);"
                                draggable="true"
                                (dragstart)="dragstart_handlerRow($event)"
                                (dragend)="dragend_handler($event)"
                                [style.background-color]="dragoverRow? 'lightgray' : 'transparent'"
                                >
                                {{ rowField }}
                            </div>

                            <div class="gridPivotDropLabelAgg">
                                Aggregate:
                            </div>
                            <div class="gridPivotDropFieldAgg"
                                id="aggFld"
                                (drop)="drop_handlerAgg($event);"
                                (dragenter)="dragover_handlerAggEnter($event);"
                                (dragleave)="dragover_handlerAggLeave($event);"
                                (dragover)="dragover_handler($event);"
                                draggable="true"
                                (dragstart)="dragstart_handler($event)"
                                (dragend)="dragend_handler($event)"
                                [style.background-color]="dragoverAgg? 'lightgray' : 'transparent'"
                                >
                                {{ aggField }}

                            </div>
                            <div class="gridPivotDropFieldType">
                                Type:
                                <div class="select">
                                    <select id="selects_1">
                                        <option>Sum</option>
                                        <option>Average</option>
                                        <option>Minimum</option>
                                        <option>Maximum</option>
                                        <option>Mean</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="gridPivotDropFieldRefresh">
                                <input type="checkbox" id="checkrads_1">
                                <label for="checkrads_1">Always-Refresh</label>
                                <button
                                    type="button"
                                    class="btn btn-secondary"
                                    (click)="clickRefreshPivot()"
                                    >
                                    Refresh
                                </button>
                            </div>

                        </div>
                        <div class="gridPivotResult">

                            <div *ngIf="resultMessage" class="gridPivotResultHeader">
                                <b>{{ resultMessage }}</b>
                            </div>

                            <!-- Works
                            <div class="gridPivotResultCols">
                                <div *ngFor="let row of pivotCols" class="gridPivotResultColumn">
                                    {{ row }}
                                </div>
                            </div> -->

                            <div class="gridPivotResultRows">
                                <clr-datagrid>
                                    <clr-dg-column *ngFor="let row of pivotCols">{{row}}</clr-dg-column>
                                    <clr-dg-row *ngFor="let row of pivotResults">
                                        <clr-dg-cell *ngFor="let col of pivotCols; let i = index">
                                            {{ row[col] }}
                                        </clr-dg-cell>
                                    </clr-dg-row>
                                </clr-datagrid>
                            </div>


                            <!-- Works
                            <div class="gridPivotResultRows">
                                <div *ngFor="let row of pivotRows"
                                    class="pivotRows">
                                    {{ row }}
                                </div>
                            </div> -->
                        </div>
                    </div>

                    <div class="gridView" *ngIf="showView">
                        <div class="gridViewSide">
                            <button
                                type="button"
                                class="btn btn-sedondary gridViewButton"
                                (click)="clickViewOptions('gridViewOverview')"
                                >
                                Overview
                            </button>
                            <button
                                type="button"
                                class="btn btn-sedondary gridViewButton"
                                (click)="clickViewOptions('gridViewFields')"
                                >
                                Fields
                            </button>
                            <button
                                type="button"
                                class="btn btn-sedondary gridViewButton"
                                (click)="clickViewOptions('gridViewFieldProperties')"
                                >
                                Field Property
                            </button>
                            <button
                                type="button"
                                class="btn btn-sedondary gridViewButton"
                                (click)="clickViewOptions('gridViewExplain')"
                                >
                                Explanations
                            </button>
                            <button
                                type="button"
                                class="btn btn-sedondary gridViewButton"
                                (click)="clickViewOptions('gridViewFieldProfile')"
                                >
                                Field Profile
                            </button>
                            <button
                                type="button"
                                class="btn btn-sedondary gridViewButton"
                                (click)="clickViewOptions('gridViewDataQuality')"
                                >
                                Data Quality
                            </button>
                        </div>
                        <div class="gridViewRight">
                            <div *ngIf="gridViewOverview">
                                <div>
                                    <b>
                                        <h4 class="gridViewFieldHeading" >Overview</h4>
                                    </b>
                                    <i>This area shows an overview of the data in 6 graphs.  It
                                        includes frequency distributions of key fields, and a
                                        Light data exploration, ie outliers about xth percentile.
                                        <button
                                            type="button"
                                            class="btn btn-secondary"
                                            (click)="clickRefreshData()"
                                            >
                                            Refresh
                                        </button>
                                    </i>
                                </div>
                                <div class="gridViewRightOverview">
                                    <div class="gridViewRightOverviewGraph">
                                        <img class="gridViewRightOverviewGraph"
                                            [style.height.px]="120"
                                            [style.width.px]="120"
                                            src="../images/ChartCandleStick.png"
                                            (click)="clickViewOptions('gridViewOverview')"
                                        >

                                    </div>
                                    <div class="gridViewRightOverviewGraph">
                                            <img class="gridViewRightOverviewGraph"
                                            [style.height.px]="120"
                                            [style.width.px]="120"
                                            src="../images/ChartBoxPlot.png"
                                            (click)="clickViewOptions('gridViewOverview')"
                                        >
                                    </div>
                                    <div class="gridViewRightOverviewGraph">
                                        <img class="gridViewRightOverviewGraph"
                                            [style.height.px]="120"
                                            [style.width.px]="120"
                                            src="../images/ChartSteam.png"
                                            (click)="clickViewOptions('gridViewOverview')"
                                        >
                                    </div>
                                    <div class="gridViewRightOverviewGraph">
                                        <img class="gridViewRightOverviewGraph"
                                            [style.height.px]="120"
                                            [style.width.px]="120"
                                            src="../images/ChartTableBubble.png"
                                            (click)="clickViewOptions('gridViewOverview')"
                                        >
                                    </div>
                                    <div class="gridViewRightOverviewGraph">
                                        <img class="gridViewRightOverviewGraph"
                                            [style.height.px]="120"
                                            [style.width.px]="120"
                                            src="../images/ChartBarLine.png"
                                            (click)="clickViewOptions('gridViewOverview')"
                                        >
                                    </div>
                                    <div class="gridViewRightOverviewGraph">
                                        <img class="gridViewRightOverviewGraph"
                                            [style.height.px]="120"
                                            [style.width.px]="120"
                                            src="../images/ChartRangedDot.png"
                                            (click)="clickViewOptions('gridViewOverview')"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="gridViewFields" class="propertyBox">
                                <b>
                                    <h4 class="gridViewFieldHeading" >Fields</h4>
                                </b>
                                <i>List of fields after the filters, transformations and
                                    optional pivot has been applied.
                                </i>
                                <br> <br>
                                <div>

                                    <clr-datagrid>
                                        <clr-dg-column>FieldName</clr-dg-column>
                                        <clr-dg-column>DataType</clr-dg-column>
                                        <clr-dg-column>LocalName</clr-dg-column>
                                        <clr-dg-column>Filtered</clr-dg-column>
                                        <clr-dg-column>Transformed</clr-dg-column>
                                        <clr-dg-row *ngFor="let row of finalFields">
                                            <clr-dg-cell>{{ row.fieldName }}</clr-dg-cell>
                                            <clr-dg-cell>{{ row.dataType }}</clr-dg-cell>
                                            <clr-dg-cell>{{ row.localName }}</clr-dg-cell>
                                            <clr-dg-cell>{{ row.filtered }}</clr-dg-cell>
                                            <clr-dg-cell>{{ row.transformed }}</clr-dg-cell>
                                        </clr-dg-row>
                                    </clr-datagrid>

                                </div>
                            </div>

                            <div *ngIf="gridViewFieldProperties" class="propertyBox">
                                <b>
                                    <h4 class="gridViewFieldHeading" >Field Properties</h4>
                                </b>
                                <i>Changes made on this page are applied to the data at time of
                                    extraction.  Click <b>Refresh Data</b> for changes made now to
                                    take effect, which will reload your data.  If a field is already
                                    used in a Widget, new changes may impact on Widget. This field
                                    is currently used in <b>2</b> Widgets.
                                </i>
                                <br><br>
                                <div class="propertyLine">
                                    Select field:
                                    <b>
                                        <div class="select">
                                            <select id="selects_3">
                                                <option *ngFor="let row of dataFieldNames">
                                                    {{ row }}
                                                </option>
                                            </select>
                                        </div>
                                    </b>
                                </div>
                                <div></div>
                                <div class="propertyLine">
                                    Description: bla-bla-bla
                                </div>
                                <div class="propertyLine">
                                    Local Name: <input type="text" id="formFields_7" placeholder="Enter Name">
                                </div>
                                <div class="propertyLine">
                                    Type: <b>Number</b>  Change to:
                                    <div class="select">
                                        <select id="selects_3">
                                            <option>Boolean (true/false)</option>
                                            <option>Date (2014/07/31)</option>
                                            <option>DateTime (2014/07/31 12:41:04)</option>
                                            <option>String ('May West')</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="propertyLine">
                                    Format: <b>None</b>  Change to:
                                    <div class="select">
                                        <select id="selects_3">
                                            <option>Month</option>
                                            <option>Monetary</option>
                                            <option>YYYY/MM/DD</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="propertyLine">
                                    Filter: <b>None</b>  Change to: <input type="text" id="formFields_7" placeholder="Filter text">
                                </div>
                                <div class="propertyLine">
                                    Calculation: <b>None</b>  Change to: <input type="text" id="formFields_7" placeholder="Enter Formula">
                                </div>
                                <div class="propertyLine">
                                    Order: <b>None</b>  Change to: <input type="text" id="formFields_7" placeholder="Order (1 Asc)">
                                </div>
                                <div class="propertyLine">
                                    Hide: <b>False</b>  Change to:
                                    <div class="select">
                                        <select id="selects_3">
                                            <option>True</option>
                                            <option>False</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="propertyLine">
                                    Key Field: <b>False</b>  Change to:
                                    <div class="select">
                                        <select id="selects_3">
                                            <option>True</option>
                                            <option>False</option>
                                        </select>
                                    </div>
                                    <button
                                        type="button"
                                        class="btn btn-secondary buttonRefresh"
                                        (click)="clickRefreshData()"
                                        >
                                        Refresh Data
                                    </button>
                                </div>

                            </div>

                            <div *ngIf="gridViewExplain">
                                <b>
                                    <h4 class="gridViewFieldHeading" >Explanations</h4>
                                </b>
                                <i>This area is used for optional pre-defined explanations.  An explanation
                                    consists of two fields and a graph type.  For example, for
                                    SoftDrinkSalesData we can define an Explanation = (date, temparature,
                                    BarChart).  When the SoftDrinkSalesData Widget is displayed, one
                                    can explain the data with a single click (by showing the weather
                                    for the period).  Explanations can be defined at the data level
                                    (applicable to all the fields) or field level.
                                </i>
                                <br><br>
                                <div class="propertyLine">
                                    The whole dataset (all fields) is explained by:
                                    <input type="text" id="formFields_7"
                                        placeholder="BarChart of Temperature by Date">
                                </div>
                                <div class="propertyLine">
                                    This field:
                                    <b>
                                        <div class="select">
                                            <select id="selects_3">
                                                <option *ngFor="let row of dataFieldNames">
                                                    {{ row }}
                                                </option>
                                            </select>
                                        </div>
                                    </b>
                                    Is explained by:
                                    <input type="text" id="formFields_7"
                                        placeholder="PieChart of Sales by City">
                                    <button
                                        type="button"
                                        class="btn btn-secondary buttonRefresh"
                                        (click)="clickRefreshData()"
                                        >
                                        Save
                                    </button>
                                </div>
                            </div>

                            <div *ngIf="gridViewFieldProfile">

                                <b>
                                    <h4 class="gridViewFieldHeading" >Field Profile</h4>
                                </b>
                                <i>This area gives a summary or profile of a seleted field.
                                    Your dataset has <b>241</b> records, and <b>24</b> fields,
                                    of the following types: Text fields: <b>8</b>,
                                    Date fields: <b>4</b>,
                                    Number fields: <b>9</b>,
                                    Boolean fields: <b>2</b>,
                                    ? fields: <b>1</b>.
                                </i>
                                <br><br>
                                <div class="propertyLine">
                                    Select a Field:
                                    <b>
                                        <div class="select">
                                            <select id="selects_3">
                                                <option *ngFor="let row of dataFieldNames">
                                                    {{ row }}
                                                </option>
                                            </select>
                                        </div>
                                    </b>
                                </div>
                                <br>
                                <div class="gridViewSummaryGraphsFields">
                                    <div class="propertyLine">
                                        "field": (field name)
                                    </div>
                                    <div class="propertyLine">
                                        "unique": (# value:count pairs)
                                    </div>
                                    <div class="propertyLine">
                                        "count": 1000,
                                    </div>
                                    <div class="propertyLine">
                                        "valid": 1000,
                                    </div>
                                    <div class="propertyLine">
                                        "missing": 0,
                                    </div>
                                    <div class="propertyLine">
                                        "distinct": 1000,
                                    </div>
                                    <div class="propertyLine">
                                        "min": -2.7983914656538427,
                                    </div>
                                    <div class="propertyLine">
                                        "max": 2.9931226872439436,
                                    </div>
                                    <div class="propertyLine">
                                        "mean": 0.024987537472992594,
                                    </div>
                                    <div class="propertyLine">
                                        "stdev": 0.965105294571081,
                                    </div>
                                    <div class="propertyLine">
                                        "median": 0.012544328964464974,
                                    </div>
                                    <div class="propertyLine">
                                        "q1": -0.6686040453830552, // 25th percentile
                                    </div>
                                    <div class="propertyLine">
                                        "q3": 0.7090708668163043   // 75th percentile
                                    </div>
                                    <div class="propertyLine">
                                        "modeskew": 0.012893109776231,
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="gridViewDataQuality">
                                <b>
                                    <h4 class="gridViewFieldHeading" >Data Quality Issues</h4>
                                </b>
                                <i>This area provides a list of issues pertaining to Data
                                    Quality, and whether it has been resolved.  Double click
                                    a row to see all the detail values affected (if Nr Issues
                                    is greater than 0).
                                </i>
                                <button
                                    type="button"
                                    class="btn btn-secondary buttonRefresh"
                                    (click)="clickRefreshData()"
                                    >
                                    Add new Issue
                                </button>
                                <br><br>
                                <div class="propertyLine">
                                    <clr-datagrid>
                                        <clr-dg-column>ID</clr-dg-column>
                                        <clr-dg-column>Status</clr-dg-column>
                                        <clr-dg-column>Name</clr-dg-column>
                                        <clr-dg-column>Type</clr-dg-column>
                                        <clr-dg-column>Description</clr-dg-column>
                                        <clr-dg-column>NrIssues</clr-dg-column>
                                        <clr-dg-column>LoggedBy</clr-dg-column>
                                        <clr-dg-column>LoggedOn</clr-dg-column>
                                        <clr-dg-column>SolvedBy</clr-dg-column>
                                        <clr-dg-column>SolvedOn</clr-dg-column>

                                        <clr-dg-row *ngFor="let row of dataQualityIssues">
                                            <clr-dg-cell>{{row.id}}</clr-dg-cell>
                                            <clr-dg-cell>{{row.status}}</clr-dg-cell>
                                            <clr-dg-cell>{{row.name}}</clr-dg-cell>
                                            <clr-dg-cell>{{row.type}}</clr-dg-cell>
                                            <clr-dg-cell>{{row.description}}</clr-dg-cell>
                                            <clr-dg-cell>{{row.nrIssues}}</clr-dg-cell>
                                            <clr-dg-cell>{{row.loggedBy}}</clr-dg-cell>
                                            <clr-dg-cell>{{row.loggedOn}}</clr-dg-cell>
                                            <clr-dg-cell>{{row.solvedBy}}</clr-dg-cell>
                                            <clr-dg-cell>{{row.solvedOn}}</clr-dg-cell>
                                        </clr-dg-row>

                                        <clr-dg-footer>{{dataQualityIssues.length}} issues</clr-dg-footer>
                                    </clr-datagrid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

