<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div modalContent>

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose('Close')">
                        <b>X</b>
                    </button>
                    <div class="gridTitle">
                        <b>Import Datasource from File</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    Specify a local text file (saved using Export) from which
                                    to import a new Datasource.  The name and description fields
                                    are required.  Click Preview to see the file content without
                                    importing.
                                    Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>

                    <div class="errorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridDatasourceNameTitle">
                        Name:
                    </div>
                    <div class="gridDatasourceName">
                        <input type="text"
                            [(ngModel)]="datasourceName"
                            >
                    </div>

                    <div class="gridDatasourceDescriptionTitle">
                        Description:
                    </div>
                    <div class="gridDatasourceDescription">
                        <input type="text"
                            size="45"
                            [(ngModel)]="datasourceDescription"
                            >
                    </div>

                    <div class="gridButtonBrowse">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (dblclick)="clickFileBrowse()"
                            >
                            Browse
                        </button>
                    </div>
                    <div class="gridButtonBrowse">
                        <input class="btn btn-primary"
                            style="background-color:brown; border:none;color:white;opacity:0;"
                            type="file"
                            name="client-file"
                            id="get-files"
                            placeholder="Browse"
                            multiple
                            (change)="clickFileBrowse()"
                            />
                    </div>

                    <div class="gridButtonAdd">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickDSAdd()"
                            >
                            Add
                        </button>
                    </div>

                    <div class="gridPreviewFile">
                        <textarea cols="30" rows="7">{{ currentData }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
