.modalBox {
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-shadow: 0 2px 2px 0 lightgray;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 0.8rem);
    margin-top: 2px;
}
    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 1;
        /* autoprefixer: off */
        grid-row-end: 2;
        text-align: left;
    }
    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 1;
        /* autoprefixer: off */
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }
    .gridSubTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 41;
        grid-row-start: 2;
        /* autoprefixer: off */
        grid-row-end: 3;
        margin: 2px 2px 2px 2px;
        text-align: left;
    }

    .gridDatasourcesLHHeading {
        border-radius: 4px;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 6;
        grid-row-start: 4;
        /* autoprefixer: off */
        grid-row-end: 5;
        padding-bottom: 4px;
        width: 100%;
    }

    .gridDatasourcesLH {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 6;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 18;
        overflow-y: scroll;
        width: 100%;
    }

        .datagrid {
            margin: 0px !important;
            margin-top: 0px !important;
            padding: 0 !important;
        }

        .datagrid-cell {
            font-size: 0.45rem !important;
            height: 1rem !important;
            margin: 2px !important;
            overflow: hidden;
            padding: 0 0 0 6px !important;
            text-align: left;
            text-overflow: ellipsis;
        }

    .gridErrorMessage {
        border: 1px solid gray;
        grid-column-start: 6;
        /* autoprefixer: off */
        grid-column-end: 20;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
    }

    .gridFieldsLHHeading {
        grid-column-start: 6;
        /* autoprefixer: off */
        grid-column-end: 10;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
        margin-left: 10px;
    }
    .gridFieldsLH {
        grid-column-start: 6;
        /* autoprefixer: off */
        grid-column-end: 10;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 18;
        margin-left: 10px;
        overflow-y: scroll;
    }

    .gridFieldsRHHeading {
        grid-column-start: 11;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 6;
    }
    .gridFieldsRH {
        grid-column-start: 11;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 18;
        margin-right: 10px;
        overflow-y: scroll;
    }

    .gridDatasourcesRHHeading {
        border-radius: 4px;
        grid-column-start: 15;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 4;
        /* autoprefixer: off */
        grid-row-end: 5;
        margin-bottom: 3px;
        width: 100%;
    }
    .gridDatasourcesRH {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 15;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 5;
        /* autoprefixer: off */
        grid-row-end: 18;
        overflow-y: scroll;
        width: 100%;
    }

    .gridDatasourceNameTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 19;
        /* autoprefixer: off */
        grid-row-end: 20;
    }
    .gridDatasourceName {
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 6;
        grid-row-start: 19;
        /* autoprefixer: off */
        grid-row-end: 20;
    }
    .gridDatasourceDescriptionTitle {
        grid-column-start: 6;
        /* autoprefixer: off */
        grid-column-end: 8;
        grid-row-start: 19;
        /* autoprefixer: off */
        grid-row-end: 20;
    }
    .gridDatasourceDescription {
        grid-column-start: 8;
        /* autoprefixer: off */
        grid-column-end: 14;
        grid-row-start: 19;
        /* autoprefixer: off */
        grid-row-end: 20;
    }

    .gridButtonCancel {
        grid-column-start: 16;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 19;
        /* autoprefixer: off */
        grid-row-end: 20;
    }

    .gridButtonSave {
        grid-column-start: 18;
        /* autoprefixer: off */
        grid-column-end: 20;
        grid-row-start: 18;
        /* autoprefixer: off */
        grid-row-end: 19;
    }