<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content   ">
            <div modalContent>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>
                <div class="gridOverall">
                    <div *ngIf="!isFirstTimeData" class="gridTitleContainer">
                        <div class="titleCurrent">
                            Current Dataset: <b>{{ currentDataset }}</b>
                            <span *ngIf="currentDataset===''" class="titleFirsttimeMessage">
                                (Click Identify, then click Add)
                            </span>
                        </div>
                        <div class="titleIdentify titleBox">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowIdentifyFile()"
                                [style.background-color]="showIdentifyFile ? 'rgb(211, 211, 247)' : 'transparent'"
                                >
                                1. Identify
                            </button>
                        </div>
                        <div class="titleChevron1a">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowTransform()"
                                >
                                >>
                            </button>
                        </div>
                        <div class="titleChevron1b">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowTransform()"
                                >
                                >>
                            </button>
                        </div>
                        <div class="titleTransform titleBox">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowTransform()"
                                [style.background-color]="showTransform ? 'rgb(211, 211, 247)' : 'transparent'"
                                >
                                2. Transform
                            </button>
                        </div>
                        <div class="titleChevron2a">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowPivot()"
                                >
                                >>
                            </button>
                        </div>
                        <div class="titleChevron2b">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowPivot()"
                                >
                                >>
                            </button>
                        </div>
                        <div class="titlePivot titleBox">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowPivot()"
                                [style.background-color]="showPivot ? 'rgb(211, 211, 247)' : 'transparent'"
                                >
                                3. Pivot
                            </button>
                        </div>
                        <div class="titleChevron3a">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowView()"
                                >
                                >>
                            </button>
                        </div>
                        <div class="titleChevron3b">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowView()"
                                >
                                >>
                            </button>
                        </div>
                        <div class="titleView titleBox">
                            <button
                                type="button"
                                class="btn btn-link titleButton"
                                (click)="clickShowView()"
                                [style.background-color]="showView ? 'rgb(211, 211, 247)' : 'transparent'"
                                >
                                4. View
                            </button>
                        </div>

                    </div>

                    <div class="gridIdentifyData" *ngIf="showIdentifyFile">
                        <div class="gridIdentifyDataExisting">
                                <span class="gridHeading">Existing Datasets</span>
                            <clr-datagrid class="fieldsDataGrid">
                                <clr-dg-column [clrDgField]="'filterDataset'">Name</clr-dg-column>

                                <clr-dg-row
                                    *ngFor="let row of currentDatasources"
                                    (click)="clickDatasourceRow(row.name)"
                                    >
                                    <clr-dg-cell>{{row.name}}</clr-dg-cell>
                                </clr-dg-row>
                            </clr-datagrid>
                        </div>
                        <div class="gridIdentifyDataIDfile">
                            <span>Please enter file name and location:</span>
                            <input type="text" id="formFields_7"
                                placeholder="Folder/FileName"
                                class="selectFile"
                                >
                                <button
                                    type="button"
                                    class="btn btn-link"
                                    (click)="clickFileBrowse()"
                                    >
                                    Browse
                                </button>
                            <br>
                            Excel Worksheet:
                            <span class="select">
                                <select id="selects_3" class="selectBox">
                                    <option>New York</option>
                                    <option>San Francisco</option>
                                    <option>Austin</option>
                                    <option>Paris</option>
                                    <option>Seattle</option>
                                </select>
                            </span>
                            <div class="checkbox-inline">
                                <input type="checkbox" id="checkrads_5">
                                <label for="checkrads_5">Transpose rows and cols</label>
                            </div>
                            <button
                                type="button"
                                class="btn btn-link selectButton"
                                (click)="clickFileAdd('Preview')"
                                >
                                Preview
                            </button>
                            <br>
                            Name of Dataset in this Dashboard:
                            <input type="text" id="formFields_7" placeholder="Dataset Name">
                            <button
                                type="button"
                                class="btn btn-secondary selectButton"
                                (click)="clickFileAdd('Add')"
                                >
                                Add
                            </button>
                            <button
                                type="button"
                                class="btn btn-secondary selectButton"
                                (click)="clickFileAdd('AddAndClose')"
                                >
                                Add and Close
                            </button>
                            <button
                                type="button"
                                class="btn btn-secondary selectButton"
                                (click)="clickClose(true)"
                                >
                                Close
                            </button>
                        </div>
                        <div class="gridIdentifyDataPreview">

                                <!-- [style.width.px]="sideNavWidth"
                                [style.min-width.rem]="sideNavMinWidth" -->

                            <div *ngIf="showDataPreview">
                                <clr-datagrid class="fieldsDataGrid">


                                    <clr-dg-column *ngFor="let row of dataFieldNames">{{row}}</clr-dg-column>
                                    <clr-dg-row *ngFor="let row of currentData">

                                        <clr-dg-cell *ngFor="let col of dataFieldNames; let i = index">
                                                {{ row[col] }}
                                        </clr-dg-cell>
                                    </clr-dg-row>

                                    <!-- <clr-dg-footer>
                                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} rows
                                        <clr-dg-pagination #pagination [clrDgPageSize]="pageSize"></clr-dg-pagination>
                                    </clr-dg-footer> -->

                                    <clr-dg-footer>
                                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                        of {{pagination.totalItems}} rows
                                        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                                    </clr-dg-footer>

                                </clr-datagrid>
                            </div>
                        </div>
                    </div>

                    <div class="gridTransform" *ngIf="showTransform">
                        <div class="gridTransformTransformations">

                            <span class="gridHeading">Added Transformations </span>
                            <clr-datagrid class="fieldsDataGrid">
                                <clr-dg-column [clrDgField]="'filterTransformation'">Name</clr-dg-column>

                                <clr-dg-row *ngFor="let row of currentTransformations">
                                    <clr-dg-cell>{{row.name}}</clr-dg-cell>
                                </clr-dg-row>
                            </clr-datagrid>

                        </div>
                        <div class="gridTransformNew">
                            <div>Please select a fields and the transformation that must be
                                applied to it:
                            </div>
                            <label for="selects_2">Field:</label>
                            <div class="select">
                                <select id="selects_2">
                                    <option *ngFor="let row of dataFieldNames">
                                        {{ row }}
                                    </option>
                                </select>
                            </div>
                            <label for="selects_1">Transformation:</label>
                            <div class="select">
                                <select id="selects_1" 
                                    (click)="clickFileAddTransformationDetail()"
                                    >
                                    <option *ngFor="let row of transformationsFormat">
                                            {{ row.name }}
                                        </option>
                                    </select>
                            </div>
                            <div>
                                <input type="text" id="formFields_7"
                                    placeholder="Description of transformation ..."
                                    [(ngModel)]="transformationDescription"
                                    class="selectFile"
                                    >
                            </div>
                            <br>
                            <br>
                            Optionally save these transformations as a Transformation-Set for later use:
                            <input type="text" id="formFields_7"
                                placeholder="Set Name"
                                class="selectFile"
                                >
                            <button
                                type="button"
                                class="btn btn-link transformationSaveButton"
                                (click)="clickFileSaveTransformation()"
                                >
                                Save
                            </button>
                        </div>
                        <div class="gridTransformExisting">
                            <div *ngIf="showTransformDetail">
                                <input type="text" id="formFields_7"
                                    placeholder="Enter date format"
                                    class="selectFile"
                                    >
                                <button
                                    type="button"
                                    class="btn btn-secondary selectButton"
                                    (click)="clickFileAddTransformation()"
                                    >
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="gridPivot" *ngIf="showPivot">
                        <div class="gridPivotFields">
                            Existing Fields

                            <clr-datagrid class="fieldsDataGrid">
                                <clr-dg-column [clrDgField]="'filterPivotFields'">Name</clr-dg-column>
                                <!-- <clr-dg-column [clrDgField]="'filterPivotFields'">Type</clr-dg-column> -->
                                <!-- <clr-dg-column [clrDgField]="'filterPivotFields'">Edit?</clr-dg-column> -->
                                <clr-dg-row *ngFor="let row of dataFieldNames">
                                    <clr-dg-cell
                                        id="fld"
                                        draggable="true"
                                        (dragstart)="dragstart_handler($event)"
                                        (dragend)="dragend_handler($event)"
                                        >
                                        {{ row }}
                                    </clr-dg-cell>
                                    <!-- <clr-dg-cell>
                                        <span class="color-square"
                                        [style.backgroundColor]="'blue'">.</span>
                                    </clr-dg-cell> -->

                                    <!-- <clr-dg-cell>
                                        <div [hidden]="isEditMode">
                                            {{row.name}}
                                            <input #input type="number" min="0"
                                            [(value)]="changeVar"
                                            (change)="changedInput(value)" />
                                        </div>
                                        <div [hidden]="!isEditMode">
                                            <input #input type="number" min="0"
                                            [(value)]="changeVar"
                                            (change)="changedInput(value)" />
                                        </div>
                                    </clr-dg-cell> -->

                                </clr-dg-row>

                            </clr-datagrid>

                        </div>
                        <div class="gridPivotDropArea">
                            <div>
                                Please drop a Field onto a Row, Column and the Aggregate.
                                Then select the type of aggregation and Refresh.
                            </div>
                            <div>
                                Row Fields:
                                <div class="pivotDropField"
                                    id="rowFld"
                                    (drop)="drop_handlerRow($event);"
                                    (dragover)="dragover_handler($event);"
                                    draggable="true"
                                    (dragstart)="dragstart_handlerRow($event)"
                                    (dragend)="dragend_handler($event)"
                                    >
                                    {{ rowField }}
                                </div>
                            </div>
                            <div
                                draggable="true"
                                (dragstart)="dragstart_handler($event)"
                                (dragend)="dragend_handler($event)"
                                >
                                Column Fields:
                                <div class="pivotDropField"
                                    id="colFld"
                                    (drop)="drop_handlerCol($event);"
                                    (dragover)="dragover_handler($event);"
                                    draggable="true"
                                    (dragstart)="dragstart_handlerCol($event)"
                                    (dragend)="dragend_handler($event)"
                                    >
                                    {{ colField }}
                                </div>
                            </div>
                            <div>
                                Aggregation:
                                <div class="select">
                                    <select id="selects_1">
                                        <option>Sum</option>
                                        <option>Average</option>
                                        <option>Minimum</option>
                                        <option>Maximum</option>
                                        <option>Mean</option>
                                    </select>
                                </div>
                                <div
                                    class="gridPivotAggregateField"
                                    draggable="true"
                                    (dragstart)="dragstart_handlerAgg($event)"
                                    (dragend)="dragend_handler($event)"
                                    >
                                    Aggregate Field:
                                    <div class="pivotDropAggregate"
                                        id="aggFld"
                                        (drop)="drop_handlerAgg($event);"
                                        (dragover)="dragover_handler($event);"
                                        draggable="true"
                                        (dragstart)="dragstart_handler($event)"
                                        (dragend)="dragend_handler($event)"
                                        >
                                        {{ aggField }}

                                    </div>
                                </div>
                            </div>
                            <div>
                                <input type="checkbox" id="checkrads_1">
                                <label for="checkrads_1">Always-Refresh</label>
                                <button
                                    type="button"
                                    class="btn btn-secondary"
                                    (click)="clickRefreshPivot()"
                                    >
                                    Refresh
                                </button>
                            </div>

                        </div>
                        <div class="gridPivotColResult">
                            <b>{{ resultMessage }}
                            </b>
                            <div *ngFor="let row of pivotCols"
                                class="pivotCols">
                                {{ row }}
                            </div>
                        </div>
                        <div class="gridPivotRowResult">
                            <div *ngFor="let row of pivotRows"
                                class="pivotRows">
                                {{ row }}
                                {{ row }}
                            </div>
                        </div>
                    </div>

                    <div class="gridView" *ngIf="showView">
                        <div class="gridViewSide">
                            <section>
                                <img class="iconButton"
                                    [style.height.px]="80"
                                    [style.width.px]="80"
                                    src="../images/CircleIcon.png"
                                    (click)="clickViewOptions('gridViewOverview')"
                                >
                                <img class="iconButton"
                                    [style.height.px]="80"
                                    [style.width.px]="80"
                                    src="../images/arrow-scroll-icon.png"
                                    (click)="clickViewOptions('gridViewFieldProperties')"
                                >
                                <img class="iconButton"
                                    [style.height.px]="80"
                                    [style.width.px]="80"
                                    src="../images/PaperClipIcon.png"
                                    (click)="clickViewOptions('gridViewExplain')"
                                >
                                <img class="iconButton"
                                    [style.height.px]="80"
                                    [style.width.px]="80"
                                    src="../images/GraphIcon.png"
                                    (click)="clickViewOptions('gridViewSummaryGraphs')"
                                >
                                <img class="iconButton"
                                    [style.height.px]="80"
                                    [style.width.px]="80"
                                    src="../images/CheckIcon2.png"
                                    (click)="clickViewOptions('gridViewDataQuality')"
                                >

                            </section>

                        </div>
                        <div class="gridViewRight">
                            <div *ngIf="gridViewOverview">
                                <div>
                                    <b>
                                        <h4 class="gridViewFieldHeading" >Overview</h4>
                                    </b>
                                    <i>This area shows an overview of the data in 6 graphs.
                                        <button
                                            type="button"
                                            class="btn btn-secondary"
                                            (click)="clickRefreshData()"
                                            >
                                            Refresh
                                        </button>
                                    </i>
                                </div>
                                <div class="gridViewRightOverview">
                                    <div class="gridViewRightOverviewGraph">
                                        <img class="gridViewRightOverviewGraph"
                                            [style.height.px]="120"
                                            [style.width.px]="120"
                                            src="../images/ChartCandleStick.png"
                                            (click)="clickViewOptions('gridViewOverview')"
                                        >

                                    </div>
                                    <div class="gridViewRightOverviewGraph">
                                            <img class="gridViewRightOverviewGraph"
                                            [style.height.px]="120"
                                            [style.width.px]="120"
                                            src="../images/ChartBoxPlot.png"
                                            (click)="clickViewOptions('gridViewOverview')"
                                        >
                                    </div>
                                    <div class="gridViewRightOverviewGraph">
                                        <img class="gridViewRightOverviewGraph"
                                            [style.height.px]="120"
                                            [style.width.px]="120"
                                            src="../images/ChartSteam.png"
                                            (click)="clickViewOptions('gridViewOverview')"
                                        >
                                    </div>
                                    <div class="gridViewRightOverviewGraph">
                                        <img class="gridViewRightOverviewGraph"
                                            [style.height.px]="120"
                                            [style.width.px]="120"
                                            src="../images/ChartTableBubble.png"
                                            (click)="clickViewOptions('gridViewOverview')"
                                        >
                                    </div>
                                    <div class="gridViewRightOverviewGraph">
                                        <img class="gridViewRightOverviewGraph"
                                            [style.height.px]="120"
                                            [style.width.px]="120"
                                            src="../images/ChartBarLine.png"
                                            (click)="clickViewOptions('gridViewOverview')"
                                        >
                                    </div>
                                    <div class="gridViewRightOverviewGraph">
                                        <img class="gridViewRightOverviewGraph"
                                            [style.height.px]="120"
                                            [style.width.px]="120"
                                            src="../images/ChartRangedDot.png"
                                            (click)="clickViewOptions('gridViewOverview')"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="gridViewFieldProperties" class="propertyBox">
                                <b>
                                    <h4 class="gridViewFieldHeading" >Field Properties</h4>
                                </b>
                                <i>Changes made on this page are applied to the data at time of
                                    extraction.  Click <b>Refresh Data</b> for changes made now to
                                    take effect, which will reload your data.  If a field is already
                                    used in a Widget, new changes may impact on Widget. This field
                                    is currently used in <b>2</b> Widgets.
                                </i>
                                <br><br>
                                <div class="propertyLine">
                                    Select field:
                                    <b>
                                        <div class="select">
                                            <select id="selects_3">
                                                <option *ngFor="let row of dataFieldNames">
                                                    {{ row }}
                                                </option>
                                            </select>
                                        </div>
                                    </b>
                                </div>
                                <div></div>
                                <div class="propertyLine">
                                    Description: bla-bla-bla
                                </div>
                                <div class="propertyLine">
                                    Local Name: <input type="text" id="formFields_7" placeholder="Enter Name">
                                </div>
                                <div class="propertyLine">
                                    Type: <b>Number</b>  Change to:
                                    <div class="select">
                                        <select id="selects_3">
                                            <option>Boolean (true/false)</option>
                                            <option>Date (2014/07/31)</option>
                                            <option>DateTime (2014/07/31 12:41:04)</option>
                                            <option>String ('May West')</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="propertyLine">
                                    Format: <b>None</b>  Change to:
                                    <div class="select">
                                        <select id="selects_3">
                                            <option>Month</option>
                                            <option>Monetary</option>
                                            <option>YYYY/MM/DD</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="propertyLine">
                                    Filter: <b>None</b>  Change to: <input type="text" id="formFields_7" placeholder="Filter text">
                                </div>
                                <div class="propertyLine">
                                    Calculation: <b>None</b>  Change to: <input type="text" id="formFields_7" placeholder="Enter Formula">
                                </div>
                                <div class="propertyLine">
                                    Order: <b>None</b>  Change to: <input type="text" id="formFields_7" placeholder="Order (1 Asc)">
                                </div>
                                <div class="propertyLine">
                                    Hide: <b>False</b>  Change to:
                                    <div class="select">
                                        <select id="selects_3">
                                            <option>True</option>
                                            <option>False</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="propertyLine">
                                    Key Field: <b>False</b>  Change to:
                                    <div class="select">
                                        <select id="selects_3">
                                            <option>True</option>
                                            <option>False</option>
                                        </select>
                                    </div>
                                    <button
                                        type="button"
                                        class="btn btn-secondary buttonRefresh"
                                        (click)="clickRefreshData()"
                                        >
                                        Refresh Data
                                    </button>
                                </div>

                            </div>
                            <div *ngIf="gridViewExplain">
                                <b>
                                    <h4 class="gridViewFieldHeading" >Explanations</h4>
                                </b>
                                <i>This area is used for optional pre-defined explanations.  An explanation
                                    consists of two fields and a graph type.  For example, for
                                    SoftDrinkSalesData we can define an Explanation = (date, temparature,
                                    BarChart).  When the SoftDrinkSalesData Widget is displayed, one
                                    can explain the data with a single click (by showing the weather
                                    for the period).  Explanations can be defined at the data level
                                    (applicable to all the fields) or field level.
                                </i>
                                <br><br>
                                <div class="propertyLine">
                                    The whole dataset (all fields) is explained by:
                                    <input type="text" id="formFields_7"
                                        placeholder="BarChart of Temperature by Date">
                                </div>
                                <div class="propertyLine">
                                    This field:
                                    <b>
                                        <div class="select">
                                            <select id="selects_3">
                                                <option *ngFor="let row of dataFieldNames">
                                                    {{ row }}
                                                </option>
                                            </select>
                                        </div>
                                    </b>
                                    Is explained by:
                                    <input type="text" id="formFields_7"
                                        placeholder="PieChart of Sales by City">
                                    <button
                                        type="button"
                                        class="btn btn-secondary buttonRefresh"
                                        (click)="clickRefreshData()"
                                        >
                                        Save
                                    </button>
                                </div>
                            </div>
                            <div *ngIf="gridViewSummaryGraphs">

                                <b>
                                    <h4 class="gridViewFieldHeading" >Field Profile</h4>
                                </b>
                                <i>This area gives a summary or profile of a seleted field.
                                    Your dataset has <b>241</b> records, and <b>24</b> fields,
                                    of the following types: Text fields: <b>8</b>, 
                                    Date fields: <b>4</b>,
                                    Number fields: <b>9</b>, 
                                    Boolean fields: <b>2</b>, 
                                    ? fields: <b>1</b>. 
                                </i>
                                <br><br>
                                <div class="propertyLine">
                                    Select a Field:
                                    <b>
                                        <div class="select">
                                            <select id="selects_3">
                                                <option *ngFor="let row of dataFieldNames">
                                                    {{ row }}
                                                </option>
                                            </select>
                                        </div>
                                    </b>
                                </div>
                                <br>
                                <div class="gridViewSummaryGraphsFields">
                                    <div class="propertyLine">
                                        "field": (field name)
                                    </div>  
                                    <div class="propertyLine">
                                        "unique": (# value:count pairs)
                                    </div>  
                                    <div class="propertyLine">
                                        "count": 1000,
                                    </div>  
                                    <div class="propertyLine">
                                        "valid": 1000,
                                    </div>  
                                    <div class="propertyLine">
                                        "missing": 0,
                                    </div>  
                                    <div class="propertyLine">
                                        "distinct": 1000,
                                    </div>  
                                    <div class="propertyLine">
                                        "min": -2.7983914656538427,
                                    </div>  
                                    <div class="propertyLine">
                                        "max": 2.9931226872439436,
                                    </div>  
                                    <div class="propertyLine">
                                        "mean": 0.024987537472992594,
                                    </div>  
                                    <div class="propertyLine">
                                        "stdev": 0.965105294571081,
                                    </div>  
                                    <div class="propertyLine">
                                        "median": 0.012544328964464974,
                                    </div>  
                                    <div class="propertyLine">
                                        "q1": -0.6686040453830552, // 25th percentile
                                    </div>  
                                    <div class="propertyLine">
                                        "q3": 0.7090708668163043   // 75th percentile
                                    </div>  
                                    <div class="propertyLine">
                                        "modeskew": 0.012893109776231,
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="gridViewDataQuality">
                                <b>
                                    <h4 class="gridViewFieldHeading" >Data Quality Issues</h4>
                                </b>
                                <i>This area provides a list of issues pertaining to Data
                                    Quality, and whether it has been resolved.
                                </i>
                                <button
                                    type="button"
                                    class="btn btn-secondary buttonRefresh"
                                    (click)="clickRefreshData()"
                                    >
                                    Add new Issue
                                </button>
                                <br><br>
                                <div class="propertyLine">
                                    <clr-datagrid>
                                        <clr-dg-column>ID</clr-dg-column>
                                        <clr-dg-column>Status</clr-dg-column>
                                        <clr-dg-column>Name</clr-dg-column>
                                        <clr-dg-column>Type</clr-dg-column>
                                        <clr-dg-column>Description</clr-dg-column>
                                        <clr-dg-column>LoggedBy</clr-dg-column>
                                        <clr-dg-column>LoggedOn</clr-dg-column>
                                        <clr-dg-column>SolvedBy</clr-dg-column>
                                        <clr-dg-column>SolvedOn</clr-dg-column>

                                        <clr-dg-row *ngFor="let row of dataQualityIssues">
                                            <clr-dg-cell>{{row.id}</clr-dg-cell>
                                            <clr-dg-cell>{{row.status}</clr-dg-cell>
                                            <clr-dg-cell>{{row.name}</clr-dg-cell>
                                            <clr-dg-cell>{{row.type}</clr-dg-cell>
                                            <clr-dg-cell>{{row.description}</clr-dg-cell>
                                            <clr-dg-cell>{{row.loggedBy}</clr-dg-cell>
                                            <clr-dg-cell>{{row.loggedOn}</clr-dg-cell>
                                            <clr-dg-cell>{{row.solvedBy}</clr-dg-cell>
                                            <clr-dg-cell>{{row.solvedOn}</clr-dg-cell>
                                        </clr-dg-row>

                                        <clr-dg-footer>{{dataQualityIssues.length}} issues</clr-dg-footer>
                                    </clr-datagrid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



                <!-- Check Browswer capabilities:
                if (Modernizr.draganddrop) {
                    // Browser supports HTML5 DnD.
                } else {
                    // Fallback to a library solution.
                }     -->

                <!-- cursor: move gives users a visual indicator that something is moveable:
                -->

                <!-- <clr-dg-footer>
                        {{pagination1.firstItem + 1}} - {{pagination1.lastItem + 1}} of     {{pagination1.totalItems}} Nodes
                        <clr-dg-pagination #pagination1 [clrDgPageSize]="5"></clr-dg-pagination>
                </clr-dg-footer> -->
                <!-- clrDgColumnSizeChange clrDgColumnResize -->



                <!-- <ng-container>
                        <clr-dg-row *ngFor="let destination of walkingDistance.destinationHeader; let i=index">
                            <clr-dg-cell>{{destination.name}}</clr-dg-cell>
                            <clr-dg-cell *ngFor="let d of walkingDistance.depotZoneHeader; let j=index">
                                <div [hidden]="isEditMode">
                                    {{walkingDistance.walkingDistanceMatrix[i][j]}}
                                </div>
                                <div [hidden]="!isEditMode">
                                    <input #input type="number" min="0" [value]="walkingDistance.walkingDistanceMatrix[i][j]" (change)="setWalkingDistance(i, j, input.value)" />
                                </div>
                            </clr-dg-cell>
                        </clr-dg-row>
                    </ng-container>

                    <clr-dg-footer></clr-dg-footer>

                </clr-datagrid> -->


                <!-- So in your case, when switching from read-only to inline edit and vice-versa,
                you'd just call datagrid.resize() after the change and the columns should
                resize accordingly. I hope this helps. -->


                <!-- If I add 'overflow' and 'text-overflow' properties to '.datagrid-cell' in
                _datagrid.clarity.scss then I can get the cell to look proper, but making
                similar change to '.datagrid-column' or '.datagrid-column-title' make the
                column resize handle disappear during times when it overflows.

                    .datagrid-cell {
                        flex: 1 1 auto;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        &.datagrid-fixed-width {
                            flex: 0 0 auto;
                        }
                    } -->


                    <!-- <clr-dg-column [clrDgField]="'ruleName'">Name</clr-dg-column> -->

