<div class="modal modalBox">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <form #f="ngForm" role="form" novalidate>

                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>
                <div class="gridOverall">
                    <div class="gridTitle">
                        Refresh Datasources:
                    </div>
                    <div class="gridSubTitle">
                        <i>
                            Double click a Datasources to refresh it (get latest data).  
                        </i>
                    </div>
                    <div class="gridSubTitle2">
                        <i>
                            To be done at a later stage.  
                        </i>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
