.modalBox {
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-shadow: 0 2px 2px 0 lightgray;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(26, 0.8rem);
    margin-top: 2px;
}
    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: left;
    }
    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }

    .gridUrlTitle {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .gridUrl {
        grid-column-start: 3;
        grid-column-end: 12;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .gridButtonGet {
        grid-column-start: 13;
        grid-column-end: 15;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .gridElementTitle {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .gridElement {
        grid-column-start: 3;
        grid-column-end: 10;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .gridDatasourceNameTitle {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
    }
    .gridDatasourceName {
        grid-column-start: 3;
        grid-column-end: 10;
        grid-row-start: 7;
        grid-row-end: 8;
    }

    .gridDatasourceDescriptionTitle {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 10;
    }
    .gridDatasourceDescription {
        grid-column-start: 4;
        grid-column-end: 12;
        grid-row-start: 9;
        grid-row-end: 10;
    }
  
    .gridPreviewData {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 1;
        grid-column-end: 14;
        grid-row-start: 11;
        grid-row-end: 25;
        margin-left: 32x;
        width: 100%;
    }

    .gridButtonCancel {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 25;
        grid-row-end: 26;
    }

    .gridButtonSave {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 25;
        grid-row-end: 26;
    }

    .gridErrorMessage {
        color: red;
        grid-column-start: 9;
        grid-column-end: 21;
        grid-row-start: 25;
        grid-row-end: 26;
    }
