<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>

                <div class="gridTitle">

                    <b>Datasource Description</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                Select a Datasource, and then amend the descriptive properties
                                for it.  The access type can be private (only yourself), public
                                (all users) or access list (apply specific permissions to users
                                and groups using the Data -> Share menu option).
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>

                <div class="gridDatasourceNameTitle">
                    <b>DS Name:</b>
                </div>
                <div class="gridDatasourceName" *ngIf="selectedDatasource.name">
                    <input [(ngModel)]="selectedDatasource.name"
                        name="name"
                        type="text"
                        title="Datasource Name"
                        required
                        minlength="2"
                        #nameVar="ngModel"
                        [style.color]="!nameVar.valid ? 'red' : 'gray'"
                        size="25"
                        >
                </div>

                <div class="gridDatasourceDescriptionTitle">
                    <b>Description:</b>
                </div>
                <div class="gridDatasourceDescription">
                    <input [(ngModel)]="selectedDatasource.description"
                        name="description"
                        type="text"
                        title="Datasource description"
                        required
                        minlength="2"
                        #descriptionVar="ngModel"
                        [style.color]="!descriptionVar.valid ? 'red' : 'gray'"
                        size="25"
                        >
                </div>

                <div class="gridDatasourceAccessTypeTitle">
                    <b>Access Type:</b>
                </div>
                <div class="select gridDatasourceAccessType">
                    <select
                        name="accessType"
                        [(ngModel)]="selectedDatasource.accessType"
                        >
                        <option>Private</option>
                        <option>Public</option>
                        <option>AccessList</option>
                    </select>
                </div>

                <div class="gridDatasourceCacheServerTitle">
                    <b>Cache Srv:</b>
                </div>
                <div class="gridDatasourceCacheServer">
                    <input [(ngModel)]="selectedDatasource.cacheResultsOnServer"
                        type="checkbox"
                        name="cacheResultsOnServer"
                        #cacheServerVar="ngModel"
                        title="Specify if data for this Datasource can be cached on the server (T/F)"
                        [style.color]="!cacheServerVar.valid ? 'red' : 'gray'"
                        >
                </div>

                <div class="gridDatasourceUnrefreshableTitle">
                    <b>Unrefreshable?:</b>
                </div>
                <div class="gridDatasourceUnrefreshable">
                    <input [(ngModel)]="selectedDatasource.unRefreshable"
                        type="checkbox"
                        name="unRefreshable"
                        #unrefreshableVar="ngModel"
                        title="Specify if data for this Datasource can refreshed (T/F)"
                        [style.color]="!unrefreshableVar.valid ? 'red' : 'gray'"
                        >
                </div>

                <div class="gridDatasourceCacheLocalTitle">
                    <b>Cache Local:</b>
                </div>
                <div class="gridDatasourceCacheLocal">
                    <input [(ngModel)]="selectedDatasource.cacheResultsLocal"
                        type="checkbox"
                        name="cacheResultsLocal"
                        #cacheLocalVar="ngModel"
                        title="Specift if data for this Datasource can be cached locally (T/F)"
                        [style.color]="!cacheLocalVar.valid ? 'red' : 'gray'"
                        >
                </div>

                <div class="gridDatasourceNrCachedCopiesTitle">
                    <b>Cached Copies:</b>
                </div>
                <div class="gridDatasourceNrCachedCopies">
                    <!-- <input [(ngModel)]="selectedDatasource.nrCacheCopies"
                        type="checkbox"
                        name="nrCacheCopies"
                        #cachedCopiesVar="ngModel"
                        title="Specify the number of cached copies that must be kept for this Datasource"
                        [style.color]="!cachedCopiesVar.valid ? 'red' : 'gray'"
                        > -->
                </div>

                <div class="gridDatasourceMaxPeriodIntervalTitle">
                    <b>Max Interval:</b>
                </div>
                <div class="select gridDatasourceMaxPeriodInterval">
                    <select
                        name="oldnessMaxPeriodInterval"
                        [(ngModel)]="selectedDatasource.oldnessMaxPeriodInterval"
                        >
                        <option>Second</option>
                        <option>Minute</option>
                        <option>Hour</option>
                        <option>Day</option>
                        <option>Month</option>
                        <option>Year</option>
                    </select>
                </div>

                <div class="gridDatasourceMaxPeriodUnitsTitle">
                    <b>Max Units:</b>
                </div>
                <div class="gridDatasourceMaxPeriodUnits">
                    <input [(ngModel)]="selectedDatasource.oldnessMaxPeriodUnits"
                        name="oldnessMaxPeriodUnits"
                        type="number"
                        title="Maximum number of units for oldness"
                        required
                        min="0"
                        max="100"
                        size="5"
                        #MaxUnitsVar="ngModel"
                        [style.color]="!MaxUnitsVar.valid ? 'red' : 'gray'"
                        size="25"
                        >
                </div>

                <div class="gridDatasourceRelatedDateTitle">
                    <b>Related Date:</b>
                </div>
                <div class="gridDatasourceRelatedDate">
                    <input [(ngModel)]="selectedDatasource.oldnessRelatedDate"
                        name="oldnessRelatedDate"
                        type="text"
                        title="Related date for oldness"
                        required
                        minlength="2"
                        #relatedDateVar="ngModel"
                        [style.color]="!relatedDateVar.valid ? 'red' : 'gray'"
                        size="25"
                        >
                </div>

                <div class="gridDatasourceRelatedTimeTitle">
                    <b>Related:</b>
                </div>
                <div class="gridDatasourceRelatedTime">
                    <input [(ngModel)]="selectedDatasource.oldnessRelatedTime"
                        name="oldnessRelatedTime"
                        type="text"
                        title="Related time for oldness"
                        required
                        minlength="2"
                        #relatedTimeVar="ngModel"
                        [style.color]="!relatedTimeVar.valid ? 'red' : 'gray'"
                        size="25"
                        >
                </div>

                <div class = "gridButtonAdd">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickSave()"
                        >
                        Save
                    </button>
                </div>

                <div class="gridErrorMessage">
                    {{ errorMessage }}
                </div>
                
                <div class="gridInfoMessage">
                    {{ infoMessage }}
                </div>

                <div class = "gridTable">
                    <clr-datagrid>

                        <clr-dg-column [clrDgField]="'type'">Type</clr-dg-column>
                        <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
                        <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
                        <clr-dg-column [clrDgField]="'accessType'">AccessType</clr-dg-column>
                        <clr-dg-column [clrDgField]="'cacheResultsOnServer'">Cache Srv</clr-dg-column>
                        <clr-dg-column [clrDgField]="'unRefreshable'">UnRefreshable</clr-dg-column>
                        <clr-dg-column [clrDgField]="'cacheResultsLocal'">Cache Local</clr-dg-column>
                        <clr-dg-column [clrDgField]="'nrCacheCopies'">Cache Copies</clr-dg-column>
                        <clr-dg-column [clrDgField]="'oldnessMaxPeriodInterval'">Oldness Interval</clr-dg-column>
                        <clr-dg-column [clrDgField]="'oldnessMaxPeriodUnits'">Oldness Period</clr-dg-column>
                        <clr-dg-column [clrDgField]="'oldnessRelatedDate'">Oldness Related</clr-dg-column>
                        <clr-dg-column [clrDgField]="'oldnessRelatedTime'">Oldness Time</clr-dg-column>
                        <clr-dg-column [clrDgField]="'createMethod'">Create Method</clr-dg-column>
                        <clr-dg-column [clrDgField]="'createdBy'">Created By</clr-dg-column>
                        <clr-dg-column [clrDgField]="'createdOn'">Created On</clr-dg-column>
                        <clr-dg-column [clrDgField]="'editor'">Editor</clr-dg-column>
                        <clr-dg-column [clrDgField]="'dateEdited'">Edited On</clr-dg-column>
                        <clr-dg-column [clrDgField]="'refreshedBy'">Refreshed By</clr-dg-column>
                        <clr-dg-column [clrDgField]="'refreshedServerOn'">Srv Refreshed</clr-dg-column>
                        <clr-dg-column [clrDgField]="'refreshedLocalOn'">Local Refreshed</clr-dg-column>

                        <clr-dg-row *ngFor="let row of datasources; let i = index"
                            [style.background-color]="(i == selectedRowIndex)? '#123456' : 'white'"
                            [style.color]="(i == selectedRowIndex)? 'white' : 'gray'"
                            (click)="clickRow(i, row.id)"
                            >

                            <clr-dg-cell>{{row.type}}</clr-dg-cell>

                            <clr-dg-cell>{{row.name}}</clr-dg-cell>
                            <clr-dg-cell>{{row.description}}</clr-dg-cell>
                            <clr-dg-cell>{{row.accessType}}</clr-dg-cell>
                            <clr-dg-cell>{{row.cacheResultsOnServer}}</clr-dg-cell>
                            <clr-dg-cell>{{row.unRefreshable}}</clr-dg-cell>
                            <clr-dg-cell>{{row.cacheResultsLocal}}</clr-dg-cell>
                            <clr-dg-cell>{{row.nrCacheCopies}}</clr-dg-cell>
                            <clr-dg-cell>{{row.oldnessMaxPeriodInterval}}</clr-dg-cell>
                            <clr-dg-cell>{{row.oldnessMaxPeriodUnits}}</clr-dg-cell>
                            <clr-dg-cell>{{row.oldnessRelatedDate}}</clr-dg-cell>
                            <clr-dg-cell>{{row.oldnessRelatedTime}}</clr-dg-cell>

                            <clr-dg-cell>{{row.createMethod}}</clr-dg-cell>
                            <clr-dg-cell>{{row.createdBy}}</clr-dg-cell>
                            <clr-dg-cell>{{row.createdOn}}</clr-dg-cell>
                            <clr-dg-cell>{{row.editor}}</clr-dg-cell>
                            <clr-dg-cell>{{row.dateEdited}}</clr-dg-cell>
                            <clr-dg-cell>{{row.refreshedBy}}</clr-dg-cell>
                            <clr-dg-cell>{{row.refreshedServerOn}}</clr-dg-cell>
                            <clr-dg-cell>{{row.refreshedLocalOn}}</clr-dg-cell>

                        </clr-dg-row>

                    </clr-datagrid>
                </div>
            </div>
        </div>
    </div>
</div>
