.modalBox {
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -shadow: 0 2px 2px 0 lightgray;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(26, 0.8rem);
    margin-top: 2px;
}
    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: left;
    }
    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }

    .gridDatasourceNameTitle {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .gridDatasourceName {
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .gridDescriptionTitle {
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-top: 5px;
    }
    .gridDescription {
        grid-column-start: 9;
        grid-column-end: 18;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-top: 5px;
    }

    .gridDatasourceIsCachedTitle {
        grid-column-start: 14;
        grid-column-end: 15;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-top: 5px;
    }
    .gridDatasourceIsCached {
        grid-column-start: 15;
        grid-column-end: 16;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-top: 5px;
    }

    .gridConnectionSelectTitle {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        margin-top: 5px;
    }

    .gridConnectionSelect {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
        margin-top: 5px;
    }

    .gridUsernameTitle {
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .gridUsername {
        grid-column-start: 9;
        grid-column-end: 14;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .gridPasswordTitle {
        grid-column-start: 14;
        grid-column-end: 15;
        grid-row-start: 5;
        grid-row-end: 6;
        margin-top: 5px;
    }
    .gridPassword {
        grid-column-start: 15;
        grid-column-end: 21;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .connectionString {
        grid-column-start: 1;
        grid-column-end: 14;
        grid-row-start: 7;
        grid-row-end: 8;
        margin-top: 5px;
    }

    .gridButtonRefresh {
        grid-column-start: 14;
        grid-column-end: 16;
        grid-row-start: 6;
        grid-row-end: 7;
        margin-top: 12px;
    }

    .gridButtonPreview {
        grid-column-start: 16;
        grid-column-end: 18;
        grid-row-start: 6;
        grid-row-end: 7;
        margin-top: 12px;
    }

    .gridDataRows {
        grid-column-start: 19;
        grid-column-end: 21;
        grid-row-start: 7;
        grid-row-end: 8;
        margin-top: 4px;
    }

    .gridTables {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 9;
        grid-row-end: 25;
        overflow-y: scroll;
        width: 100%;
    }

        .datagrid {
            margin: 0px !important;
            margin-top: 0px !important;
            padding: 0 !important;
        }

        .datagrid-cell {
            font-size: 0.45rem !important;
            height: 0.8rem !important;
            margin: 2px !important;
            overflow: hidden;
            padding: 0 0 0 6px !important;
            text-align: left;
            text-overflow: ellipsis;
        }

        .dsCheckbox {
            margin: 4px 0 0 0 !important;
        }

        .dsName {
            display: inline-block;
            margin: -3px 0 0 0 !important;
            padding: 0 0 5px 0 !important;
        }

        .widthTn {
            width: 150px;
            min-width: 30%;
        }
        .widthTd {
            width: 200px;
            min-width: 30%;
        }

    .gridFields {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 7;
        grid-column-end: 12;
        grid-row-start: 9;
        grid-row-end: 25;
        margin-left: 22x;
        overflow-y: scroll;
        width: 100%;
    }

    .gridHelpMessage {
        color: rgb(194, 191, 191);
        grid-column-start: 13;
        grid-column-end: 21;
        grid-row-start: 11;
        grid-row-end: 12;
    }
    .gridErrorMessage {
        color: red;
        grid-column-start: 13;
        grid-column-end: 21;
        grid-row-start: 18;
        grid-row-end: 19;
    }

    .gridSpinner {
        grid-column-start: 16;
        grid-column-end: 17;
        grid-row-start: 18;
        grid-row-end: 20;
    }

    .gridPreviewData {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 13;
        grid-column-end: 21;
        grid-row-start: 9;
        grid-row-end: 25;
        margin-left: 32x;
        width: 100%;
    }

    .gridButtonCancel {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 25;
        grid-row-end: 26;
        text-align: left;
    }

    .gridButtonSave {
        grid-column-start: 13;
        grid-column-end: 15;
        grid-row-start: 25;
        grid-row-end: 26;
        text-align: left;
    }

    .gridButtonTransformation {
        grid-column-start: 15;
        grid-column-end: 21;
        grid-row-start: 24;
        grid-row-end: 25;
        margin-top: 12px;
    }
