.modalBox {
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-shadow: 0 2px 2px 0 lightgray;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(26, 0.8rem);
    margin-top: 2px;
}
    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: left;
    }
    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }

    /* WHAT Container */
    .gridWhereContainer {
        display: grid;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 2;
        grid-row-end: 27;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(26, 0.8rem);
    }
        .whereHelp {
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 21;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .whereNameTitle {
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .whereName {
            grid-column-start: 2;
            /* autoprefixer: off */
            grid-column-end: 7;
            grid-row-start: 3;
            grid-row-end: 4;
        }

        .whereDescriptionTitle {
            grid-column-start: 7;
            /* autoprefixer: off */
            grid-column-end: 9;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .whereDescription {
            grid-column-start: 9;
            /* autoprefixer: off */
            grid-column-end: 13;
            grid-row-start: 3;
            grid-row-end: 4;
        }

        .whereServerTypeTitle {
            grid-column-start: 14;
            /* autoprefixer: off */
            grid-column-end: 16;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .whereServerType {
            grid-column-start: 16;
            /* autoprefixer: off */
            grid-column-end: 20;
            grid-row-start: 3;
            grid-row-end: 4;
        }

        .whereServerNameTitle {
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 2;
            grid-row-start: 5;
            grid-row-end: 6;
            margin-top: 5px;
        }
        .whereServerName {
            grid-column-start: 2;
            /* autoprefixer: off */
            grid-column-end: 7;
            grid-row-start: 5;
            grid-row-end: 6;
            margin-top: 5px;
        }

        .whereServerPortTitle {
            grid-column-start: 7;
            /* autoprefixer: off */
            grid-column-end: 9;
            grid-row-start: 5;
            grid-row-end: 6;
            margin-top: 5px;
        }
        .whereServerPort {
            grid-column-start: 9;
            /* autoprefixer: off */
            grid-column-end: 14;
            grid-row-start: 5;
            grid-row-end: 6;
            margin-top: 5px;
        }

        .whereDatabaseTitle {
            grid-column-start: 14;
            /* autoprefixer: off */
            grid-column-end: 16;
            grid-row-start: 5;
            grid-row-end: 6;
            margin-top: 5px;
        }
        .whereDatabase {
            grid-column-start: 16;
            /* autoprefixer: off */
            grid-column-end: 21;
            grid-row-start: 5;
            grid-row-end: 6;
        }

        .whereUsernameTitle {
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 2;
            grid-row-start: 7;
            grid-row-end: 8;
            margin-top: 5px;
        }
        .whereUsername {
            grid-column-start: 2;
            /* autoprefixer: off */
            grid-column-end: 7;
            grid-row-start: 7;
            grid-row-end: 8;
        }

        .wherePasswordTitle {
            grid-column-start: 7;
            /* autoprefixer: off */
            grid-column-end: 9;
            grid-row-start: 7;
            grid-row-end: 8;
            margin-top: 5px;
        }
        .wherePassword {
            grid-column-start: 9;
            /* autoprefixer: off */
            grid-column-end: 15;
            grid-row-start: 7;
            grid-row-end: 8;
            margin-top: 5px;
        }

        .whereDatasourceIsCachedTitle {
            grid-column-start: 14;
            /* autoprefixer: off */
            grid-column-end: 16;
            grid-row-start: 7;
            grid-row-end: 8;
            margin-top: 5px;
        }
        .whereDatasourceIsCached {
            grid-column-start: 16;
            /* autoprefixer: off */
            grid-column-end: 17;
            grid-row-start: 7;
            grid-row-end: 8;
            margin-top: 5px;
        }

        .errorWhereMessage {
            color: red;
            grid-column-start: 13;
            /* autoprefixer: off */
            grid-column-end: 21;
            grid-row-start: 10;
            grid-row-end: 11;
        }
    
        .whereConnectionsTable {
            border: 1px solid gray;
            border-radius: 4px;
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 21;
            grid-row-start: 12;
            grid-row-end: 24;
            overflow-y: scroll;
            width: 100%;
        }

        .whereButtonCancel {
            grid-column-start: 6;
            /* autoprefixer: off */
            grid-column-end: 8;
            grid-row-start: 25;
            grid-row-end: 26;
            text-align: left;
        }
    
        .whereButtonContinue {
            grid-column-start: 18;
            /* autoprefixer: off */
            grid-column-end: 20;
            grid-row-start: 9;
            grid-row-end: 10;
            margin-top: 12px;
        }

    .gridWhatContainer {
        display: grid;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 21;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(26, 0.8rem);
    }

        .whatTablesTitle {
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 2;
            grid-row-start: 9;
            grid-row-end: 10;
            height: 100%;
            width: 100%;
        }
        .whatTables {
            grid-column-start: 2;
            /* autoprefixer: off */
            grid-column-end: 8;
            grid-row-start: 9;
            grid-row-end: 10;
            width: 100%;
        }

        .whatFieldsTitle {
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 2;
            grid-row-start: 10;
            grid-row-end: 11;
            height: 100%;
            margin-top: 6px;
            width: 100%;
        }
        .whatFields {
            grid-column-start: 2;
            /* autoprefixer: off */
            grid-column-end: 8;
            grid-row-start: 10;
            grid-row-end: 11;
            margin-top: 6px;
            width: 100%;
        }

        .whatSQLTextTitle {
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 3;
            grid-row-start: 13;
            grid-row-end: 14;
            margin-top: -2px;
            height: 100%;
            width: 100%;
        }
        .whatSQLText {
            border: 1px solid gray;
            border-radius: 4px;
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 8;
            grid-row-start: 14;
            grid-row-end: 25;
            height: 100%;
            overflow-y: scroll;
            width: 100%;
        }

        .whatErrorMessage {
            color: red;
            grid-column-start: 13;
            /* autoprefixer: off */
            grid-column-end: 21;
            grid-row-start: 9;
            grid-row-end: 13;
        }

        .whatGoButton {
            grid-column-start: 8;
            /* autoprefixer: off */
            grid-column-end: 9;
            grid-row-start: 18;
            grid-row-end: 19;
        }

        .whatSpinner {
            grid-column-start: 15;
            /* autoprefixer: off */
            grid-column-end: 16;
            grid-row-start: 17;
            grid-row-end: 18;
        }

        .whatData {
            border: 1px solid gray;
            border-radius: 4px;
            grid-column-start: 9;
            /* autoprefixer: off */
            grid-column-end: 21;
            grid-row-start: 9;
            grid-row-end: 25;
            width: 100%;
        }

        .whatButtonExport {
            grid-column-start: 2;
            /* autoprefixer: off */
            grid-column-end: 4;
            grid-row-start: 25;
            grid-row-end: 26;
            text-align: left;
        }

        .whatSavedMessage {
            grid-column-start: 9;
            /* autoprefixer: off */
            grid-column-end: 12;
            grid-row-start: 25;
            grid-row-end: 26;
            padding-top: 4px;
            text-align: left;
        }

        .whatButtonCancel {
            grid-column-start: 6;
            /* autoprefixer: off */
            grid-column-end: 8;
            grid-row-start: 25;
            grid-row-end: 26;
            text-align: left;
        }

        .whatButtonSave {
            grid-column-start: 13;
            /* autoprefixer: off */
            grid-column-end: 15;
            grid-row-start: 25;
            grid-row-end: 26;
            text-align: left;
        }

        .whatButtonTransformation {
            grid-column-start: 15;
            /* autoprefixer: off */
            grid-column-end: 21;
            grid-row-start: 25;
            grid-row-end: 26;
            padding-top: 4px;
        }



