<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div modalContent>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>
                <div class="gridOverall">
                    <div class="gridTitle">
                        Append Datasources :
                    </div> 
                    <div class="gridSubTitle">
                        <i>
                            Create a new Datasources by appending the selected Datasources to the
                            end of the first one.  Note that only Datasources with the same number
                            of fields and the same type of fields can be appended.
                            <span class="username" *ngIf="selectedDatasources">{{selectedDatasources.name}}</span>
                        </i>
                    </div>
             
                    <div class="gridDatasources">
                        <clr-datagrid [(clrDgSelected)]="selectedDatasources">

                            <clr-dg-column>Selected</clr-dg-column>
                            <clr-dg-column>Name</clr-dg-column>
                            <clr-dg-column>Description</clr-dg-column>

                            <clr-dg-row
                                *clrDgItems="let row of datasources; let i = index"
                                [clrDgItem]="row"
                                [style.background-color]="(i == selectedRowIndex)? '#123456' : 'white'"
                                [style.color]="(i == selectedRowIndex)? 'white' : 'gray'"
                                (click)="clickSelectedDatasource(i, row.id)"
                                >
                                <clr-dg-cell>
                                    <input type="checkbox" class="dsCheckbox"
                                        [checked]="row.isSelected"
                                        (click)="clickDSCheckbox(i, row.id, row.isSelected, $event)"
                                        >
                                </clr-dg-cell>
                                <clr-dg-cell>
                                    {{ row.name }}
                                </clr-dg-cell>
                                <clr-dg-cell>
                                    {{ row.description }}
                                </clr-dg-cell>
                            </clr-dg-row>
                        </clr-datagrid>
                    </div>

                    <div *ngIf="errorMessage!=''" class="gridErrorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridFieldsFirstHeading">
                        First
                    </div>
                    <div class="gridFieldsFirst">
                        <clr-datagrid>
                            <clr-dg-column>FieldName</clr-dg-column>
                            <clr-dg-column>DataType</clr-dg-column>
                            <clr-dg-row *clrDgItems="let row of finalFields">
                                <clr-dg-cell>{{ row.fieldName }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.dataType }}</clr-dg-cell>
                            </clr-dg-row>
                        </clr-datagrid>
                    </div>

                    <div class="gridFieldsCurrentHeading">
                        Current
                    </div>
                    <div class="gridFieldsCurrent">
                        <clr-datagrid>
                            <clr-dg-column>FieldName</clr-dg-column>
                            <clr-dg-column>DataType</clr-dg-column>
                            <clr-dg-row *clrDgItems="let row of finalFields">
                                <clr-dg-cell>{{ row.fieldName }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.dataType }}</clr-dg-cell>
                            </clr-dg-row>
                        </clr-datagrid>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
