<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    Datasource Schedule Logs
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                This form shows a list of all Schedule Logs for Datasources.
                                Click the delete icon or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>

                <div class="gridErrorMessage">
                    {{ errorMessage }}
                </div>

                <div class="gridSchedules">

                    <clr-datagrid>
                        <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
                        <clr-dg-column [clrDgField]="'datasourceID'">DS ID</clr-dg-column>
                        <clr-dg-column [clrDgField]="'userID'">User ID</clr-dg-column>
                        <clr-dg-column [clrDgField]="'groupID'">Group ID</clr-dg-column>
                        <clr-dg-column [clrDgField]="'sentOn'">Sent On</clr-dg-column>
                        <clr-dg-column [clrDgField]="'status'">Status</clr-dg-column>
                        <clr-dg-column [clrDgField]="'errorMessage'">Error Msg</clr-dg-column>
                        
                        <clr-dg-row *clrDgItems="let row of datasourceScheduleLogs
                            let i = index"
                            [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                            [style.color]="(i == selectedRow)? 'white' : 'gray'"
                            (click)="clickRow(i)"
                            >
                            <clr-dg-cell>{{row.id}}</clr-dg-cell>
                            <clr-dg-cell>{{row.datasourceID}}</clr-dg-cell>
                            <clr-dg-cell>{{row.userID}}</clr-dg-cell>
                            <clr-dg-cell>{{row.groupID}}</clr-dg-cell>
                            <clr-dg-cell>{{row.sentOn}}</clr-dg-cell>
                            <clr-dg-cell>{{row.status}}</clr-dg-cell>
                            <clr-dg-cell>{{row.errorMessage}}</clr-dg-cell>
                        </clr-dg-row>

                    </clr-datagrid>
                </div>

            </div>
        </div>
    </div>
</div>


