.presentationButton {
    background-color: rgb(212, 209, 209);
    color: white;
    left: 5px;
    margin: 5px;
    padding-left: 5px;
    padding-right: 0;
    position: absolute;
    top: 5px;
    z-index: 20;
}


.helpMessagePresentation {
    background-color: rgb(204, 204, 245);
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(204, 204, 245);
    left: 5px;
    margin: 5px 15px 5px 55px;
    padding: 5px;
}

.helpMessage {
    background-color: rgb(204, 204, 245);
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(204, 204, 245);
    margin: 5px 15px 5px 35px;
}

    .helpMessageDiv {
        padding-left: 20px;
    }

.statusBar {
    background-color: #192b35;;;
    bottom: 0;
    color: rgb(197, 194, 194);
    display: inline-block;
    font-family: Metropolis,Avenir Next,Helvetica Neue,Arial,sans-serif;
    font-size: .48rem;
    height: 1rem !important;;
    margin: 0 !important;
    opacity: 1;
    padding: 0 !important;
    position: absolute;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    z-index: 20;
}

.statusBarTextBorder {
    border-top: 1px solid rgb(129, 128, 128);
    border-left: 1px solid rgb(129, 128, 128);
    border-right: 2px solid rgb(75, 74, 74);
    border-bottom: 2px solid rgb(75, 74, 74);
    color: white !important;
}

.statusBarText {
    background-color: #293841;;;
    bottom: 0.5rem !important;
    height: 0.6rem !important;
    margin: 0 2px 0 2px !important;
    padding: 0 5px 0 5px !important;
}

.statusBarText:hover {
    color: white !important;
}

.newTab {
    background: rgb(236, 235, 235);
    bottom: 0;
    border: 1px solid black;
    border-radius: 5px;
    left: 20px;
    width: 16rem;
    z-index: 100;
}

.graphy {
    display: inline;
    left: 100px;
    position: absolute;
    top: 180px;
}

.graphy:hover {
    border: 1px dotted gray;
    color: black !important;
}

.widgetContainer {
    /* border: 1px dotted gray; */
    display: inline-block;
    height: 200px;
    left:400px;
    position: absolute;
    width: 250px;
}

.widgetContainer:hover {
    border: 1px dotted black;
}
.widgetContainer:visited {
    border: 1px dotted black;
}

.widget {
    /* border: 1px dotted gray; */
    display: inline-block;
    height: 180px;
    width: 200px;
}

.widgetHandle {
    color: transparent;
}

.widgetHandle:hover {
    color: black;
}



.widgetContainer2 {
    /* border: 1px dotted gray; */
    display: inline-block;
    height: 200px;
    left:400px;
    position: relative;
    width: 250px;
}
.widgetContainer2:hover {
    border: 1px dotted black !important;
}

.widgetSelectedDrag {
    background-color: transparent;
    border: none !important;
    float: right;
    top: 0;
}
.widgetSelectedResize {
    background-color: transparent;
    border: none !important;
    bottom: 0;
    right: 0;
    position: absolute;
}
.widgetSelectedResize:hover {
    background-color: black;
    color: white;
}

.widgetButtonBar2 {
    border: 1px solid gray;
    display: inline-block;
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    /* width: 80%; */
}
.widgetButtonBar2:hover {
    /* display: block; */
    opacity: 1;
    border: 1px solid gray;
    z-index: 1;
}
.buttonBarIcon2 {
    margin: 1px;
    padding: 2px;
}


.shapeContainer {
    /* border: 1px dotted gray; */
    display: inline-block;
    height: 200px;
    left:100px;
    position: absolute;
    width: 250px;
}
.shapeContainer:hover {
    border: 1px dotted black;
}
.widgetContainer:focus {
    border: 1px dotted black;
}

.shape {
    /* border: 1px dotted gray; */
    display: inline-block;
    height: 180px;
    width: 200px;
}




.dashboardDropdown {
    width: 12rem !important;
}

.popupLabel {
    font-size: .5rem !important;
    margin: 0 0 0 10px !important;
    width: 3rem !important;
}

.popupInput {
    font-size: .5rem !important;
    margin: 0 0 0 10px !important;
    width: 9rem !important;
}

.popupButton {
    background-color: rgb(172, 169, 169);
    border: none;
    font-size: .6rem !important;
    margin: 5px 0 0 10px !important;
    width: 4rem !important;
}

.bgGrid {
    border: 1px solid gray;
    height: 100%;
    left: 0;
    position: absolute;
    top: 2.5rem;
    width: 100%;
    z-index: 999;
}

.widgetButtonBar {
    border: 1px solid gray;
    /* display: none; */
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.widgetButtonBar:hover {
    /* display: block; */
    opacity: 1;
    border: 1px solid gray;
}

#stuff {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
#hover {
    width:80px;
    height:20px;
    background-color:green;
    margin-bottom:15px;
}
#hover:hover + #stuff {
    opacity: 1.0;
}

.buttonBarIcon {
    background-color: rgb(233, 230, 230);
    border: 1px solid gray;
    margin: 1px;
    padding: 2px;
}