/* Presentation Button */
.presentationButton {
    background-color: rgb(212, 209, 209);
    color: white;
    left: 5px;
    margin: 5px;
    padding-left: 5px;
    padding-right: 0;
    position: absolute;
    top: 5px;
    z-index: 70;
}


/* Status Bar */
.statusBar {
    background-color: #192b35;
    bottom: 0;
    color: rgb(197, 194, 194);
    display: inline-block;
    font-family: Metropolis,Avenir Next,Helvetica Neue,Arial,sans-serif;
    font-size: .48rem;
    height: 1rem !important;;
    margin: 0 !important;
    opacity: 1;
    padding: 0 !important;
    position: absolute;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    z-index: 60;
}

    .statusBarTextBorder {
        border-top: 1px solid rgb(129, 128, 128);
        border-left: 1px solid rgb(129, 128, 128);
        border-right: 2px solid rgb(75, 74, 74);
        border-bottom: 2px solid rgb(75, 74, 74);
        color: white !important;
    }

    .statusBarText {
        background-color: #293841;;;
        bottom: 0.5rem !important;
        height: 0.6rem !important;
        margin: 0 2px 0 2px !important;
        padding: 0 5px 0 5px !important;
    }

    .statusBarText:hover {
        color: white !important;
    }

   
/* Widgets */
.widgetContainer {
    /* border: 1px dotted gray; */
    display: inline-block;
    /* height: 200px; */
    /* left:400px; */
    position: absolute;
    /* width: 250px; */
    padding: 0;
    margin: 0;
}

    .widgetContainer:hover {
        border: 1px dotted black !important;
    }

    .widgetContainer:focus {
        border: 1px dotted black;
    }

    .widget {
        /* border: 1px dotted gray; */
        display: inline-block;
        height: 180px;
        width: 200px;
    }

    .widgetSelectedDrag {
        background-color: transparent;
        border: none !important;
        top: 0;
        position: absolute;
        right: 0;
    }

    .widgetSelectedDrag:hover {
        background-color: darkgray;
        border-right: 2px solid black !important;
        border-top: 2px solid black !important;
        color: white;
    }

    .widgetSelectedResize {
        background-color: transparent;
        border: none !important;
        bottom: 0;
        right: 0;
        position: absolute;
    }

    .widgetSelectedResize:hover {
        background-color: darkgray;
        border-bottom: 2px solid black !important;
        border-right: 2px solid black !important;
        color: white;
    }


/* Palette */
.palette {
    background-color: #293841;
    border: 1px solid gray;
    float: left;
    margin-left: 0.5rem;
    padding: 4px;
    position: absolute;
    top: 3rem;
    width: 1.35rem;
    z-index: 70;
}

.buttonBarIcon {
    background-color: rgb(233, 230, 230);
    border: 1px solid gray;
    margin: 1px;
    padding: 2px;
}

.widgetButtonBar {
    border: 1px solid gray;
    display: inline-block;
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    overflow: hidden;
    /* width: 80%; */
}
.widgetButtonBar:hover {
    /* display: block; */
    opacity: 1;
    border: 1px solid gray;
    z-index: 50;
}


/* Slicers */
.slicerContainer {
    background-color: transparent;
    border: 1px solid lightgray;
    bottom: 100px;
    display: grid;
    grid-template-columns: 3px 7px 1fr 16px 1fr 7px 3px;
    grid-template-rows: 3px 7px 3px 1fr 16px 1fr 7px 3px;
    left: 830px;
    margin: 0;
    min-width: 165px;
    padding: 0;
    position: absolute;
    z-index: 71;
}
    .slicerContainerDragHandle {
        background-color: rgb(238, 236, 236);
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 7;
        margin: 3px !important;
        margin: 0;
        min-width: 140px;
        padding: 0;
        z-index: 69;
    }
    .slicer {
        background-color: lightgray;
        border: '1px solid gray';
        margin: 2px 0 0 0;
        padding: 0;
    }
    .slicer:hover {
        background-color: lightgray;
    }
        .slicerLabel {
            background-color: black;
            color: white;
            text-align: center;
        }
        .form-block {
            border: 1px solid black !important;
            border-radius: 5px !important;
        }

    .slicerContainerTopLeftHandle {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .slicerContainerTopHandle {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .slicerContainerTopRightHandle {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .slicerContainerRightTopHandle {
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .slicerContainerRightHandle {
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .slicerContainerRightBottomHandle {
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 7;
        grid-row-end: 9;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .slicerContainerBottomRightHandle {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 8;
        grid-row-end: 9;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .slicerContainerBottomHandle {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 8;
        grid-row-end: 9;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .slicerContainerBottomLeftHandle {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 8;
        grid-row-end: 9;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .slicerContainerLeftBottomHandle {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 9;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .slicerContainerLeftHandle {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }
    .slicerContainerLeftTopHandle {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: 0;
        padding: 0;
        background-color: #929699;
    }


/* Grid */
.bgGrid {
    border: 1px solid gray;
    height: 100%;
    left: 0;
    position: absolute;
    top: 2.5rem;
    width: 100%;
    z-index: 20;
}
    .bgGridSvg {
        z-index: 20;
    }


/* Dashboards and Tabs */
.dashboardDescription {
    background-color: #192b35;
    border-radius: 3px;
    bottom: 1.1rem;
    color:  white;
    display: inline-block;
    left: 1.2rem;
    overflow: hidden;
    padding: 4px;
    position: absolute;
    width: 12rem;
}
 
    .newTab {
        background: rgb(236, 235, 235);
        bottom: 0;
        border: 1px solid black;
        border-radius: 5px;
        left: 20px;
        width: 16rem;
        z-index: 60;
    }

    .tabList {
        background-color: #192b35;
        bottom: 1.1rem;
        color:  white;
        display: inline-block;
        left: 8.2rem;
        padding: 4px;
        position: absolute;
        width: 4rem;
    }

    .tabListItem {
        border: 1px solid white;
        padding-left: 5px;
    }


/* Shapes */
.shapeContainer {
    /* border: 1px dotted gray; */
    display: inline-block;
    /* height: 100px; */
    /* left:100px; */
    margin: 0;
    padding: 0;
    position: absolute;
    /* background-color: #192b35; */
    /* width: 100px; */

}
    .shapeContainer:hover {
        border: 1px dotted black;
    }

    .aCircle2 {
        background-color: transparent;
        display: inline-block;
        margin-top: -59px;
        margin-left: -2px;
    }

    .shape {
        /* border: 1px dotted gray; */
        display: inline-block;
        /* height: 180px;
        width: 200px; */
    }


/* Testing Arrows */
.arrow {
    background-color: transparent;
    border-top: 30px solid red;
    border-left: 30px solid white;;
    border-right: 30px solid white;
    border-bottom: 30px solid white;
    position: absolute;
    top:80px;
    left:80px;
    width: 1px;
    height: 40px;
    background:#000;
}

