<div class="presentation" *ngIf="presentation">
    <button
        type="button"
        class="btn btn-secondary btn-sm"
        >
        Start
    </button>
    <button
        type="button"
        class="btn btn-secondary btn-sm"
        >
        Step Forward
    </button>
    <button
        type="button"
        class="btn btn-secondary btn-sm"
        >
        Step Back
    </button>
    <button
        type="button"
        class="btn btn-secondary btn-sm"
        >
        Final
    </button>
    <div *ngIf="presentationMsg">

        Use the buttons to show the bookmarks previously created.  The bookmarks can link different
        Dashboards, which will show them one after another.  Inside a Dashboard, bookmarks can
        optionally be created for one or more Widgets.  These will be shown in the sequence of the
        Widget number (this can be changed by the user).  Inside a Widget, different visualisations
        may be bookmarked.  This allows for the display of different formats of the same graph, or
        even totally different graphs in the same Widget area.
        <br>
        Got it  <input type="checkbox" (click)="clickGotItPresentation()" [checked]="!presentationMsg">
    </div>
</div>

<div class="helpMessage" *ngIf="isFirstTime">
    First add a datasource (click <i>Data</i> in the top menu).  Then insert a Widget to visualise
    the data (click <i>Create -> Widget</i> in the top menu).  Once the Widgets have been formatted
    and arranged, you can save the Dashboard with a name (<i>File -> SaveAs</i>).  Existing
    Dashboards can be opened with <i>File -> Open</i>.  Collaborating happens via messages and
    tasks (click the <i>Share <clr-icon shape="share"></clr-icon> icon</i> in the top right menu).
    <br>
    Got it  <input type="checkbox" (click)="clickGotIt()" [checked]="!isFirstTime">
</div>

<div class="tabList">
    <span class="tabsLabel">
        Analysis of Value Traded 2017 ...
    </span>
    <button
        type="button"
        class="btn btn-secondary btn-sm"
        >
        Summary
    </button>
    <button
        type="button"
        class="btn btn-secondary btn-sm"
        *ngIf="secondTab"
        >
        Detail Costs
    </button>
    <clr-dropdown>
        <button
            type="button"
            class="btn btn-secondary btn-sm"
            clrDropdownTrigger
            >
            <clr-icon shape="plus" size="24"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
            <label>New Tab</label>

            <div>
                <label for="dashboardName" class="popupLabel">Name :</label>
                <input type="text" id="dashboardName" placeholder="Enter new name here"
                    class="popupInput">
                <button type="button" class="popupButton" clrDropdownItem
                    (click)="addNewTab()"
                    >
                    Save
                    <clr-icon shape="floppy" size="16"></clr-icon>
                </button>
            </div>
        </clr-dropdown-menu>
    </clr-dropdown>

</div>


<span
    class="graphy"
    [style.color] = "showContainerHeader ? 'black' : 'transparent'"
    (click)="clickWidget($event)"
    (dragstart)="dragStartWidget($event)"
    (dragend)="dragEndWidget($event)"
    draggable="true"
    #dragWidget

    >
    <span class="widgetHandle"
    [style.color] = "showContainerHeader ? 'black' : 'transparent'"
    >Drag Edit</span>
    <div
        [style.border] = "showContainerHeader ? '1px black dotted' : 'none'"
        >
        <span #visReal>
        </span>
    </div>
</span>


<div *ngFor="let ds of localDashboards" class="widgetContainer"
    #widgetContainter>
    <div class="widget">
        <div #widget>
            Here: {{ ds }}
        </div>
    </div>
</div>


<!-- Modals: -->
<!-- ******* -->

<!-- Dashboard Selector -->
<clr-modal [(clrModalOpen)]="showModalOpenDashboard">
    <h3>Open a Dashboard</h3>
    <div class="modal-body">
        <p>Please select:</p>
        <clr-datagrid>
            <clr-dg-column>Name</clr-dg-column>
            <clr-dg-column>Description</clr-dg-column>

            <clr-dg-row *ngFor="let dash of dashboards">
                <clr-dg-cell>{{dash.name}}</clr-dg-cell>
                <clr-dg-cell>{{dash.description}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>{{dashboards.length}} dashboards</clr-dg-footer>
        </clr-datagrid>
    </div>
    <div>
        <button type="button" class="btn btn-outline" (click)="showModalOpenDashboard = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="clickCloseModel()">Ok</button>
    </div>
</clr-modal>

<div class="bgGrid" *ngIf="showGrid">
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
</div>