.helpMessage {
    margin: 5px 15px 5px 25px;
}

.tabList {
    bottom: 0;
    opacity: 1;
    position: absolute;
    z-index: 3;
}

.tabsLabel {
    background-color: white !important;
    color: transparent;
    float: right;
}
.tabsLabel:hover {
    color: gray;
}

.graphy {
    display: inline;
    left: 100px;
    position: absolute;
    top: 180px;
}

.graphy:hover {
    border: 1px dotted gray;
    color: black !important;
}

.widgetContainer {
    /* border: 1px dotted gray; */
    display: inline-block;
    height: 200px;
    left:400px;
    position: absolute;
    width: 250px;
}
dashboardComments
.widget {
    /* border: 1px dotted gray; */
    display: inline-block;
    height: 180px;
    width: 200px;
}

.widgetHandle {
    color: transparent;
}

.widgetHandle:hover {
    color: black;
}

.dashboardDropdown {
    width: 12rem !important;
}

.popupLabel {
    font-size: .5rem !important;
    margin: 0 0 0 10px !important;
    width: 3rem !important;
}

.popupInput {
    font-size: .5rem !important;
    margin: 0 0 0 10px !important;
    width: 9rem !important;
}

.popupButton {
    background-color: rgb(172, 169, 169);
    border: none;
    font-size: .6rem !important;
    margin: 5px 0 0 10px !important;
    width: 4rem !important;
}

.presentation {
    border-bottom: 1px solid black
}

.bgGrid {
    position: absolute;
    left: 290px;
    width: 100%;
    top: 5rem;
    color: red;
    z-index: 999;
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-auto-rows: 1rem;
}

.widgetButtonBar {
    border: 1px solid gray;
    /* display: none; */
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.widgetButtonBar:hover {
    /* display: block; */
    opacity: 1;
    border: 1px solid gray;
}

#stuff {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
#hover {
    width:80px;
    height:20px;
    background-color:green;
    margin-bottom:15px;
}
#hover:hover + #stuff {
    opacity: 1.0;
}

.buttonBarIcon {
    background-color: rgb(233, 230, 230);
    border: 1px solid gray;
    margin: 1px;
    padding: 2px;
}