<div class="presentation" *ngIf="presentation">
    <button
        type="button"
        class="btn btn-secondary btn-sm"
        >
        <clr-icon shape="step-forward down" size="20"></clr-icon>

    </button>
    <button
        type="button"
        class="btn btn-secondary btn-sm"
        >
        <clr-icon shape="fast-forward" size="20"></clr-icon>
    </button>
    <button
        type="button"
        class="btn btn-secondary btn-sm"
        >
        <clr-icon shape="rewind" size="20"></clr-icon>
    </button>
    <button
        type="button"
        class="btn btn-secondary btn-sm"
        >
        <clr-icon shape="step-forward" size="20"></clr-icon>
    </button>
    <div *ngIf="presentationMsg">

        Use the buttons to show the bookmarks previously created.  The bookmarks can link different
        Dashboards, which will show them one after another.  Inside a Dashboard, bookmarks can
        optionally be created for one or more Widgets.  These will be shown in the sequence of the
        Widget number (this can be changed by the user).  Inside a Widget, different visualisations
        may be bookmarked.  This allows for the display of different formats of the same graph, or
        even totally different graphs in the same Widget area.
        <br>
        <b>Got it</b> <input type="checkbox" (click)="clickGotItPresentation()" [checked]="!presentationMsg">
    </div>
</div>

<div class="helpMessage" *ngIf="isFirstTimeDashboard">
    <b>HELP</b> message: this is your Dashboard on which data can be visualised.  It can have more than
    one tab (like a spreadsheet), as shown at the bottom of the page.  Some actions:
    <div class="helpMessageDiv">
        1. Add a datasource (click <i>Data</i> in the top menu, and select the type of source
         like <i>From File</i>).  Once done, return to this Dashboard.
    </div>
    <div class="helpMessageDiv">
        2. Insert a Widget to visualise the added datasource (click <i>Create -> Widget</i> in the top
            menu).
    </div>
    <div class="helpMessageDiv">
        3. Format and arrange Widgets as necessary.
    </div>
    <div class="helpMessageDiv">
        4. Save your new Dashboard with a name using <i>File -> SaveAs</i>.
    </div>
    <div class="helpMessageDiv">
    5. Existing Dashboards can be opened with <i>File -> Open</i>.
    </div>
    <div class="helpMessageDiv">
        6. Collaboration (discussions with colleagues) happens via messages and tasks (click
            the <i>Share <clr-icon shape="share"></clr-icon> icon</i> in the top right menu).
    </div>
    <div class="helpMessageDiv">
        7. Click <i>File -> Edit</i> to Edit a Dashboard.  An indicator will be shown in the
        right hand bottom corner.
    </div>
    <br><br>
        <b>Got it</b> 
        <input type="checkbox" (click)="clickGotIt()" [checked]="!isFirstTimeDashboard">
        (You can make this message re-appear with the <i>Preferences</i> option under your
        User icon <clr-icon shape="user"></clr-icon> in the top right menu.  The Dashboard
        will function normally while this message is displayed.)
</div>

<span
    class="graphy"
    [style.color] = "showContainerHeader ? 'black' : 'transparent'"
    (click)="clickWidget($event)"
    (dragstart)="dragStartWidget($event)"
    (dragend)="dragEndWidget($event)"
    draggable="true"
    #dragWidget

    >
    <span class="widgetHandle"
    [style.color] = "showContainerHeader ? 'black' : 'transparent'"
    >Drag Edit</span>
    <div
        [style.border] = "showContainerHeader ? '1px black dotted' : 'none'"
        >
        <span #visReal>
        </span>
    </div>
</span>


<div *ngFor="let ds of localDashboards" class="widgetContainer"
    #widgetContainter>
    <div class="widgetButtonBar">
        <clr-icon shape="plus" size="20" class="buttonBarIcon" (click)="clickWidgetEdit()"></clr-icon>
        <clr-icon shape="filter-grid" size="20" class="buttonBarIcon"></clr-icon>
        <clr-icon shape="cursor-hand" size="20" class="buttonBarIcon"></clr-icon>
        <clr-icon shape="pop-out" size="20" class="buttonBarIcon"></clr-icon>
        <clr-icon shape="pencil" size="20" class="buttonBarIcon"></clr-icon>
        <clr-icon shape="pin" size="20" class="buttonBarIcon"></clr-icon>
        <clr-icon shape="copy" size="20" class="buttonBarIcon"></clr-icon>
    </div>
    <div class="widget">
        <div #widget>
            Here: {{ ds }}
        </div>
    </div>
</div>

<div class="statusBar">
    <span class="statusBarText">
        Analysis of Value Traded 2017 ...
    </span>
    <span class="statusBarText">
        Tabs :
        Summary
        Detail Costs
    </span>
    <span class="statusBarText">
        <clr-icon shape="plus" size="12"
            (click)="clickAddTab()"></clr-icon>
    </span>
    <span class="statusBarText">
        Updated: Yesterday
    </span>
    <span class="statusBarText">
        Refreshed: 2017/01/01 08:31
    </span>
    <span class="statusBarText">
        {{ viewEditMode }}
    </span>
</div>

<div *ngIf="showNewTab" class="newTab">
    <label>New Tab</label>

    <div>
        <label for="dashboardName" class="popupLabel">Name :</label>
        <input type="text" id="dashboardName" placeholder="Enter new name here"
            class="popupInput">
        <button type="button" class="popupButton" 
            (click)="addNewTab()"
            >
            Save
            <clr-icon shape="floppy" size="16"
            (click)="clickSaveTab()"></clr-icon>
        </button>
    </div>
</div>


<div class="bgGrid" *ngIf="showGrid">
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
    <div>
        <h1>.</h1>
    </div>
</div>