<div class="helpMessage" *ngIf="isFirstTime">
    First add a datasource (click Data in the top menu).  Then insert a Widget to visualise
    the data (click Create -> Widget in the top menu).  Once the Widgets have been formatted
    and arranged, you can save the Dashboard with a name (File -> SaveAs).  Existing
    Dashboards can be opened with File -> Open.  Collaborating happens via messages and
    tasks (click user icon in the top right menu).
    <br>
    Got it  <input type="checkbox" (click)="clickGotIt()" [checked]="!isFirstTime">
</div>

<div class="tabList">
    <clr-dropdown>
        <button
            type="button"
            class="btn btn-secondary btn-sm"
            clrDropdownTrigger
            >
            Current: Analysis of Value Traded 2017 ... <pre>&nbsp    </pre>
            <clr-icon shape="caret down" size="16"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="top-left" *clrIfOpen class="dashboardDropdown">

            <label class="dropdown-header">Dashboard properties</label>

            <div class="form-group">
                <label for="dashboardName" class="popupLabel">Name :</label>
                <input type="text" id="dashboardName" placeholder="Enter dashboard here"
                    class="popupInput">
            </div>
            <div class="dropdown-divider"></div>
            <button type="button" class="popupButton" clrDropdownItem>
                Save
                <clr-icon shape="floppy" size="16"></clr-icon>
            </button>

            <button type="button" class="popupButton" clrDropdownItem
                (click)="showModalOpenDashboard=true"
                >
                Open
                <clr-icon shape="floppy" size="16"></clr-icon>
            </button>
        </clr-dropdown-menu>
    </clr-dropdown>
    <span class="tabsLabel">Tabs: </span>
    <clr-dropdown>
        <button
            type="button"
            class="btn btn-secondary btn-sm"
            clrDropdownTrigger
            >
            Summary<pre>&nbsp    </pre>
            <clr-icon shape="caret down" size="16"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
            <label class="dropdown-header">Tab properties</label>

            <div class="form-group">
                <label for="dashboardName" class="popupLabel">Name :</label>
                <input type="text" id="dashboardName" placeholder="Enter tab name here"
                    class="popupInput">
            </div>
            <div class="dropdown-divider"></div>
            <div class="form-group">
                <label for="selects_6" class="popupLabel">Select Background Color</label>
                <div class="select">
                    <select id="selects_6" class="popupInput">
                        <option *ngFor="let bg of backgroundcolors">{{bg.name}}</option>
                    </select>
                </div>
            </div>
            <button type="button" class="popupButton" clrDropdownItem>
                Save
                <clr-icon shape="floppy" size="16"></clr-icon>
            </button>
            <button type="button" class="popupButton" clrDropdownItem
                (click)="clickDeleteTab()">
                Delete
            </button>

            <clr-dropdown>
                <button type="button" clrDropdownTrigger>Later 1</button>
                <clr-dropdown-menu>
                    <button type="button" clrDropdownItem>Foo</button>
                    <clr-dropdown>
                        <button type="button" clrDropdownTrigger>Bar</button>
                        <clr-dropdown-menu clrPosition="left-top">
                            <button type="button" clrDropdownItem>Baz</button>
                        </clr-dropdown-menu>
                    </clr-dropdown>
                </clr-dropdown-menu>
            </clr-dropdown>
            <button type="button" clrDropdownItem>Later 2</button>
        </clr-dropdown-menu>
    </clr-dropdown>

    <clr-dropdown *ngIf="secondTab">
        <button
            type="button"
            class="btn btn-secondary btn-sm"
            clrDropdownTrigger
            >
            Detail Costs<pre>&nbsp    </pre>
            <clr-icon shape="caret down" size="16"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
            <label class="dropdown-header">Tab properties</label>

            <div class="form-group">
                <label for="dashboardName" class="popupLabel">Name :</label>
                <input type="text" id="dashboardName" placeholder="Enter tab name here"
                    class="popupInput">
            </div>
            <div class="dropdown-divider"></div>
            <button type="button" class="popupButton" clrDropdownItem>
                Save
                <clr-icon shape="floppy" size="16"></clr-icon>
            </button>
        </clr-dropdown-menu>
    </clr-dropdown>


    <clr-dropdown>
        <button
            type="button"
            class="btn btn-secondary btn-sm"
            clrDropdownTrigger
            >
            Add Tab <pre>&nbsp    </pre>
            <clr-icon shape="caret down" size="16"></clr-icon>
        </button>
        <clr-dropdown-menu clrPosition="top-left" *clrIfOpen>
            <label class="dropdown-header">New Tab</label>

            <div class="form-group">
                <label for="dashboardName" class="popupLabel">Name :</label>
                <input type="text" id="dashboardName" placeholder="Enter new name here"
                    class="popupInput">
            </div>
            <div class="dropdown-divider"></div>
            <button type="button" class="popupButton" clrDropdownItem
                (click)="addNewTab()"
                >
                Save
                <clr-icon shape="floppy" size="16"></clr-icon>
            </button>
        </clr-dropdown-menu>
    </clr-dropdown>

</div>


<span
    class="graphy"
    [style.color] = "showContainerHeader ? 'black' : 'transparent'"
    (click)="clickWidget($event)"
    (dragstart)="dragStartWidget($event)"
    (dragend)="dragEndWidget($event)"
    draggable="true"
    #dragWidget

    >
    <span class="widgetHandle"
    [style.color] = "showContainerHeader ? 'black' : 'transparent'"
    >Drag Edit</span>
    <div
        [style.border] = "showContainerHeader ? '1px black dotted' : 'none'"
        >
        <span #visReal>
        </span>
    </div>
</span>



<!-- Modals: -->
<!-- ******* -->

<!-- Dashboard Selector -->
<clr-modal [(clrModalOpen)]="showModalOpenDashboard">
    <h3 class="modal-title">Open a Dashboard</h3>
    <div class="modal-body">
        <p>Please select:</p>
        <clr-datagrid>
            <clr-dg-column>Name</clr-dg-column>
            <clr-dg-column>Description</clr-dg-column>

            <clr-dg-row *ngFor="let dash of dashboards">
                <clr-dg-cell>{{dash.name}}</clr-dg-cell>
                <clr-dg-cell>{{dash.description}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>{{dashboards.length}} dashboards</clr-dg-footer>
        </clr-datagrid>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="showModalOpenDashboard = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="clickCloseModel()">Ok</button>
    </div>
</clr-modal>