<div class="helpPage">
	<button type="button" class="btn btn-link" (click)="clickBackButton()">Back</button>
		
		
	Demo for Canvas ...
	<br> 
	
	<img src="../images/Avatar1.png" width="30px" height="30px" class="avatar">
	<img src="../images/Avatar2.png" width="30px" height="30px" class="avatar">
	
	<br> 
	Currently a routed page - no idea if that is good or not

	Sample page from Microsoft Power BI documentation:

	<img src="../images/PowerBIScreenshot.png" width="1100px" height="500px">
</div>
	