<div class="row">
	<div class="col-xs-6">

		<nav class="sidenav">
			
			<section class="sidenav-content nav-group">

				<ul class="nav-list">
					<!-- <li>
						<a class="nav-link">
							Add Data
							<clr-icon shape="plus" size="16"></clr-icon>
						</a>
					</li> -->
					<div>
						<li><a href="#">Demo</a></li>
						<li><a href="#">Getting starting with Canvas</a></li>
						<li><a href="#">Getting data</a></li>
						<li><a href="#">Transforming data</a></li>
						<li><a href="#">Creating a Dashboard</a></li>
						<li><a href="#">Creating a Widget</a></li>
						<li><a href="#">Tutorials</a></li>
						<li><a href="#">Creating a Dashboard</a></li>
						<li><a href="#">Documentaion</a></li>
					</div>
				</ul>

			</section>
		</nav>
			

	</div>	
		
	<div class="col-xs-6">

		<div>
			<h2>Detail ...</h2>
		</div>

		<div id="contact">
			<h2>Get in touch</h2>
			<div>
				If you 
				<clr-icon shape="heart" class="is-solid"></clr-icon>
				Canvas or just want to get in touch we'd love to hear your thoughts
				<a href="mailto:info@clarityanalytics.xyz">info@clarityanalytics.xyz</a>
			</div>
		</div>

	</div>	
	 
</div>

<a class="nav-link" href="#" [routerLink]="['/data']" routerLinkActive="active">
	