<div class="modal modalBox">
	<div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
		<div class="modal-content modalContent">
			<div class="gridOverall" *ngIf="!isFirstTimeUser">
				<div class="lefthandCol" >
					<div>
						<h3>Start</h3>
						<div>
							<a (click)="clickOpenNewDashboard()">Create a new Dashboard</a>
						</div>
						<div>
							<a (click)="clickOpenExisting()">
								Open an existing Dashboard
							</a>
						</div>
					</div>

					<div>
						<h3>Help</h3>
						<div>
							<a (click)="clickClose('HelpGettingStarted')">Getting starting with Canvas</a>
						</div>
						<div>
							<a href="#">Demo</a>
						</div>
						<div>
							<a href="#">Getting data</a>
						</div>
						<div>
							<a href="#">Transforming data</a>
						</div>
						<div>
							<a href="#">Creating a Dashboard</a>
						</div>
						<div>
							<a href="#">Creating a Widget</a>
						</div>
						<div>
							<a href="#">Tutorials</a>
						</div>
						<div>
							<a href="#">Creating a Dashboard</a>
						</div>
						<div>
							<a href="#">Documentaion</a>
						</div>
						<div>
							<i>
								Extended Search
								<span class="newTag">New !</span>
							</i>
						</div>
						<br>
						<div>
							<i class="messagesTag">You have 2 new messages</i>
						</div>
					</div>

				</div>

				<div class="righthandCol">

					<h3>Sample Dashboards</h3>
					<div class="errorMessage">
						{{ errorMessage }}
					</div>
					<div *ngFor="let row of sampleDashboards">
						<a
							class="nav-link"
							>
							<span (click)="clickOpenSampleDashboard(row.id)">
								{{row.name}}
							</span>
						</a>
					</div>

					<h3>Recent Dashboards</h3>
					<div *ngFor="let row of dashboardsRecent; let i=index">
						<a
							class="nav-link"
							>
							<clr-icon shape="trash"
								(dblclick)="dblclickDeleteRecent(row.id)"
								>
							</clr-icon>
							<span (click)="clickOpenRecentDashboard(
											row.dashboardID,
											row.dashboardTabID,
											row.editMode,
											i
										)"
								>
								{{row.nameAtRunTime}} ({{ row.stateAtRunTime }})
								<clr-icon *ngIf="row.stateAtRunTime == 'Draft'"
									shape="pencil"
									class="selectIcon1"
									size="10"
									(dblclick)="dblclickDelete(i, row.id)"
									>
                                </clr-icon>

							</span>
						</a>
					</div>
					<br>
				</div>

				<div class="footerLine">
					<b>Get in touch : </b>
					<i>
						If you
						<clr-icon shape="heart" class="is-solid"></clr-icon>
						Canvas or just want to get in touch we'd love to hear your thoughts
						<a href="mailto:info@clarityanalytics.xyz">info@clarityanalytics.xyz</a>
					</i>
				</div>
			</div>

			<div class="inexperiencedUser" *ngIf="isFirstTimeUser">
				<div class="gridTitle">
					<b>Welcome to Canvas!</b>
				</div>

				<div class="gridCreateDashboard">
					<a (click)="clickOpenNewDashboard()">1. Create a new Dashboard</a>
				</div>
				<div class="gridCreateDashboardButton">
					<button
						type="button"
						class="btn btn-link"
						(click)="clickOpenNewDashboard()"
						>
						<i>
							New
						</i>
					</button>

				</div>

				<div *ngIf="dashboardsRecent" class="gridRecentTitle">
					Or select a recent Dashboard
				</div>
				<div *ngIf="dashboardsRecent" class="gridRecentArea">
					<div *ngFor="let row of dashboardsRecent; let i=index">
						<a
							class="nav-link"
							>
							<clr-icon shape="trash"
								(dblclick)="dblclickDeleteRecent(row.id)"
								>
							</clr-icon>
							<span (click)="clickOpenRecentDashboard(
											row.dashboardID,
											row.dashboardTabID,
											row.editMode,
											i
										)"
								>
								<i style="color: rgb(117, 117, 211);">
									{{row.nameAtRunTime}} ({{ row.stateAtRunTime }})
								</i>
								<clr-icon *ngIf="row.editMode"
									shape="pencil"
									class="selectIcon1"
									size="10"
									(dblclick)="dblclickDelete(i, row.id)"
									>
								</clr-icon>

							</span>
						</a>
					</div>
				</div>

				<div class="gridAddData">
					2. Then add data with this menu option
				</div>
				<div class="gridAddDataImage">
					<img
						[style.height.px]="90"
						[style.width.px]="90"
						src="../images/CanvasHelpMenuData.png"
					>

				</div>

				<div class="gridAddWidget">
					3. Then add a Graph with with this menu option
				</div>
				<div class="gridAddWidgetImage">
					<img
						[style.height.px]="90"
						[style.width.px]="90"
						src="../images/CanvsHelpMenuAddGraph.png"
					>
				</div>

				<div class="gridGotIt">
					<i>Next time, take off the training wheels</i>
					<input type="checkbox" (click)="clickGotIt($event)">
				</div>
			</div>

		</div>
	</div>
</div>
