<div class="row">
	<div class="col-xs-6">
		<div>
			<h2>Start</h2>
			<div>
				<a href="#">Getting starting with Canvas</a>
			</div>
			<div>
				<a href="#" [routerLink]="['/data']" routerLinkActive="active">Start exploring your data</a>
			</div>
		</div>

		<div>
			<h2>Help</h2>
			<div>
				<a href="#">Demo</a>
			</div>
			<div>
				<a href="#">Getting data</a>
			</div>
			<div>
				<a href="#">Transforming data</a>
			</div>
			<div>
				<a href="#">Creating a Dashboard</a>
			</div>
			<div>
				<a href="#">Creating a Widget</a>
			</div>
			<div>
				<a href="#">Tutorials</a>
			</div>
			<div>
				<a href="#">Creating a Dashboard</a>
			</div>
			<div>
				<a href="#">Documentaion</a>
			</div>
			<div class="checkbox">
				<input type="checkbox" id="checkrads_2" 
					(click)="firstTimeUser=!firstTimeUser">
				<label for="checkrads_2"></label>
			</div>
	</div>

	</div>

	<div class="col-xs-6">
	
		<h2>Sample Dashboards</h2>
		<div>

			<div *ngFor="let dash of sampleDashboards">
				<a
					(click)="loadExistingSpecification()"
					class="nav-link" href="#"
					[routerLink]="['/explore']" routerLinkActive="active">
					{{dash.name}}
					<clr-icon
						(click)="promptDeleteRecent(file.name)"
						shape="trash">
					</clr-icon>
				</a>
			</div>
			<br><br>
		</div>

		<h2>Recent Dashboards</h2>
		<div *ngIf="!firstTimeUser">

			<div *ngFor="let dash of recentDashboards">
				<a
					(click)="loadExistingSpecification()"
					class="nav-link" href="#"
					[routerLink]="['/explore']" routerLinkActive="active">
					{{dash.name}}
					<clr-icon
						(click)="promptDeleteRecent(file.name)"
						shape="trash">
					</clr-icon>
				</a>
			</div>
		</div>
	
	</div>
</div>


<div>
	<h2>Get in touch</h2>
	<div>
		If you
		<clr-icon shape="heart" class="is-solid"></clr-icon>
		Canvas or just want to get in touch we'd love to hear your thoughts
		<a href="mailto:info@clarityanalytics.xyz">info@clarityanalytics.xyz</a>
	</div>
</div>