#contact {
	position: absolute;
	bottom: 0;
}

.modalBox {
    background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-shadow: 0 2px 2px 0 lightgray;
}

/* landingPageBackgroundImage1 has lisence methinks */
.modalContent {
	background-image: url("../images/landingPageBackgroundImageLunarEclise.jpg");
	background-position: center; 
	background-size: cover;
	color: white;
}

.clr-icon {
	color: white !important;
}

h3, a {
	color: white !important;
}
a:hover{
	cursor: pointer;
}

.lefthandCol {
	padding-left: 40px;
}

.newTag {
	color: red;
}

.messagesTag {
	color: yellow;
}

.experiencedUser {
	display: grid;
	grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1rem);
}
	.gridTitle {
		font-size: 0.75rem;
		grid-column-start: 1;
		grid-column-end: 18;
		grid-row-start: 1;
		grid-row-end: 2;
		margin-left: 30px;
		text-align: left;
	}
	.gridCreateDashboard {
		grid-column-start: 1;
		grid-column-end: 18;
		grid-row-start: 3;
		grid-row-end: 4;
	}
	.gridRest {
		grid-column-start: 1;
		grid-column-end: 18;
		grid-row-start: 5;
		grid-row-end: 19;
	}