#contact {
	position: absolute;
	bottom: 0;
}

a:hover{
	cursor: pointer;
}

.modalBox {
    background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-shadow: 0 2px 2px 0 lightgray;
}

.modalContent {
	background-color: rgb(229, 229, 233);
}