#contact {
	position: absolute;
	bottom: 0;
}

.modalBox {
    background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-shadow: 0 2px 2px 0 lightgray;
}

/* landingPageBackgroundImage1 has lisence methinks */
.modalContent {
	background-image: url("../images/landingPageBackgroundImageLunarEclise.jpg");
	background-position: center; 
	background-size: cover;
	color: white;
}

.clr-icon {
	color: white !important;
}

h3, a {
	color: white !important;
}
a:hover{
	cursor: pointer;
}

.lefthandCol {
	padding-left: 40px;
}

.newTag {
	color: red;
}

.errorMessage {
	color: red;
}

.messagesTag {
	color: yellow;
}

.experiencedUser {
	display: grid;
	grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1rem);
}
	.gridTitle {
        font-size: 1.3rem;
		grid-column-start: 6;
		/* autoprefixer: off */
		grid-column-end: 14;
		grid-row-start: 2;
		grid-row-end: 3;
		text-align: center;
	}
	.gridCreateDashboard {
        font-size: 0.9rem;
		grid-column-start: 2;
		/* autoprefixer: off */
		grid-column-end: 11;
		grid-row-start: 5;
		grid-row-end: 6;
	}
	.gridCreateDashboardButton {
        font-size: 0.9rem;
		grid-column-start: 7;
		/* autoprefixer: off */
		grid-column-end: 9;
		grid-row-start: 4;
		grid-row-end: 5;
		margin-left: 12px;
		margin-top: 12px;
	}
	.gridRecentTitle {
        font-size: 0.9rem;
		grid-column-start: 9;
		/* autoprefixer: off */
		grid-column-end: 18;
		grid-row-start: 5;
		grid-row-end: 6;
	}
	.gridRecentArea {
		grid-column-start: 16;
		/* autoprefixer: off */
		grid-column-end: 21;
		grid-row-start: 5;
		grid-row-end: 12;
	}
	.gridAddData {
        font-size: 0.9rem;
		grid-column-start: 2;
		/* autoprefixer: off */
		grid-column-end: 18;
		grid-row-start: 10;
		grid-row-end: 16;
	}
	.gridAddDataImage {
		grid-column-start: 10;
		/* autoprefixer: off */
		grid-column-end: 18;
		grid-row-start: 10;
		grid-row-end: 16;
	}
	.gridAddWidget {
        font-size: 0.9rem;
		grid-column-start: 2;
		/* autoprefixer: off */
		grid-column-end: 18;
		grid-row-start: 16;
		grid-row-end: 19;
	}
	.gridAddWidgetImage {
		grid-column-start: 12;
		/* autoprefixer: off */
		grid-column-end: 18;
		grid-row-start: 16;
		grid-row-end: 19;
	}
	.gridGotIt {
		grid-column-start: 16;
		/* autoprefixer: off */
		grid-column-end: 22;
		grid-row-start: 20;
		grid-row-end: 21;
	}