<div class="modal modalBox">
    <div class="modal-dialog modal-sm" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>

                Login


                Logout

                <div>
                    <br>
                    <div class="propertyLine">
                        <input type="text" id="formFields_7" placeholder="UserName">
                    </div>
                    <br>
                    <div class="propertyLine">
                        <input type="text" id="formFields_7" placeholder="Password">
                    </div>
                    <br>
                    <div class="propertyLine">
                        <input type="text" id="formFields_7" placeholder="ServerName/Local">
                    </div>
                    <br>
                    <button
                        type="button"
                        class="btn btn-link btn-sm"
                        (click)="clickClose()"
                        >
                        Cancel
                    </button>
                    <button
                        type="button"
                        class="btn btn-link btn-sm"
                        (click)="clickClose()"
                        >
                        Logout
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

