<!-- http://webdevzoom.com/create-login-form-using-html5-css3/ -->

<div class="modal modalBox" align="center">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">
            <form #f="ngForm" role="form" novalidate>

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose()">
                        <b>X</b>
                    </button>

                    <div class="gridTitle">
                        <b>Login</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    Select a Canvas Server location: Cloud (if available), or 
                                    Local.  Then log in with a username and password, or 
                                    using your GitHub / Google accounts.  
                                    
                                    Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>
                    <div class="gridLogo">
                        <div class="logo">
                            <img src="../images/Logo Clarity Analytics.png"
                                width="60px"/>
                        </div>
                    </div>

                    <div class="gridServerTitle"
                        name="localCloud"
                        >
                        <b>Server:</b>
                    </div>

                    <div class="select gridServer"
                        name="localServer"
                        >
                        <select [(ngModel)]="canvasServer"
                            name="canvasServer"
                            (change)="clickSelectServer($event)"
                            >
                            <option *ngFor="let row of canvasServerList">
                                {{ row }}
                            </option>                            
                        </select>
                    </div>
                    <div class="gridCompanyNameTitle">
                        <b>Company:</b>
                    </div>
                    <div class="gridCompanyName">
                        <input [(ngModel)]="companyName"
                            type="text"
                            name="companyName"
                            placeholder="CompanyName"
                            #dashboardDescriptionVar="ngModel"
                            required
                            minlength="2"
                            maxlength="250"
                            [style.color]="!dashboardDescriptionVar.valid ? 'red' : 'gray'"
                            >
                    </div>

                    <div class="gridUserNameTitle">
                        <b>UserName:</b>
                    </div>
                    <!-- <input type="color">
                    <input type="date">
                    <input type="month">
                    <input type="week"> -->
                    <div class="gridUserName">
                        <input [(ngModel)]="userID"
                            type="text"
                            name="userID"
                            placeholder="UserName"
                            #dashboardDescriptionVar="ngModel"
                            required
                            minlength="2"
                            maxlength="250"
                            [style.color]="!dashboardDescriptionVar.valid ? 'red' : 'gray'"
                            >
                    </div>

                    <div class="gridPasswordTitle">
                        <b>Password:</b>
                    </div>
                    <div class="gridPassword">
                        <input [(ngModel)]="password"
                            type="text"
                            name="password"
                            placeholder="Password"
                            >
                    </div>

                    <div class="gridErrorMessage" *ngIf="errorMessage">
                        {{ errorMessage  }}
                    </div>

                    <div class="gridButtonLogin"
                            (click)="clickLogin()"
                            >
                            <b>Login</b>
                    </div>
                    <div class="gridButtonRegister"
                            (click)="clickRegister()"
                            >
                            Register
                    </div>

                    <div class="gridSeparator">
                        <span class="gridSeparatorText">OR</span>
                    </div>

                    <div class="gridGitHubLogin"
                        (click)="clickLoginGitHub()"
                        >
                        <img src="../images/Logo Github.png" width="20px" alt="">
                        <span class="gridGitHubLoginText">Login with Github</span>
                    </div>
                    <div class="gridGoogleLogin"
                        (click)="clickLoginGoogle()"
                        >
                    <img src="../images/Logo Google.png" width="20px" alt="">
                        <span class="gridGoogleLoginText">Login with Google</span>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

