<div class="modal modalBox">
    <div class="modal-dialog modal-sm" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>

                Login
                <form>
                    <section>
                        <div class="select">
                            <select id="selects_3"
                                (change)="clickLocalServer($event)"
                                >
                                <option>Local</option>
                                <option>Server</option>
                            </select>
                        </div>
                    </section>
                    <section>

                        <div>
                            <br>
                            <div class="propertyLine">
                                <input type="text" id="formFields_7" placeholder="UserName">
                            </div>
                            <br>
                            <div class="propertyLine">
                                <input type="text" id="formFields_7" placeholder="Password">
                        </div>
                            <br>
                            <button
                                type="button"
                                class="btn btn-link btn-sm"
                                (click)="clickClose()"
                                >
                                Cancel
                            </button>
                            <button
                                type="button"
                                class="btn btn-link btn-sm"
                                (click)="clickClose()"
                                >
                                Login
                            </button>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>

