<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>

                Logout

                <div>
                    <br>
                    <p>Are you sure?</p>
                    <button
                        type="button"
                        class="btn btn-link btn-sm"
                        (click)="clickClose()"
                        >
                        Cancel
                    </button>
                    <button
                        type="button"
                        class="btn btn-link btn-sm"
                        (click)="clickClose()"
                        >
                        Logout
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

