<div class="modal modalBox">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">
            <form #f="ngForm" role="form" novalidate>

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose('Close')">
                        <b>X</b>
                    </button>

                    <div class="gridTitle">
                        <b>
                            Manage Colours
                        </b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    Canvas has a built in set of colours.  Use this form to
                                    specify what colours are available.  These can be used to
                                    define any colour property in Canvas, like background or
                                    line colour.
                                    Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>

                    </div>

                    <div class="gridErrorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridAddName">
                        New Name:
                        <input [(ngModel)]="newColorName"
                            type="text"
                            name="newColorName"
                            #newNameVar="ngModel"
                            required
                            minlength="3"
                            maxlength="40"
                            [style.color]="!newNameVar.valid ? 'red' : 'gray'"
                            placeholder="Enter new colour name here, ie Black"
                            >
                    </div>
                    <div class="gridAddCode">
                        New Code:
                        <input [(ngModel)]="newColorCode"
                            type="text"
                            name="newColorCode"
                            #newCodeVar="ngModel"
                            required
                            minlength="7"
                            maxlength="7"
                            [style.color]="!newCodeVar.valid ? 'red' : 'gray'"
                            placeholder="Enter new HEX colour code with #, ie #000000"
                            >
                    </div>

                    <div class="gridColourBlock"
                        [style.background-color]="newColorCode"
                        >
                    </div>

                    <div class="gridButtonAdd">
                        <button  type="button"
                            class="btn btn-link"
                            (click)="clickAddNew()">
                            Add
                        </button>
                    </div>

                    <div class="gridAvailableTitle">
                        <b>Default Colours:</b>
                    </div>
                    <div class="gridAvailable">
                        <nav>
                            <ul class="nav-list">
                                <div *ngFor="let row of backgroundcolorsDefault; let i = index"
                                    [style.background-color]="row.cssCode"
                                    [style.color]="(i == availableBgIndex)? 'red' : 'black'"
                                    (click)="clickAvailable(i)"
                                    >
                                    <span class="tagText">
                                        {{ row.name }}
                                    </span>
                                </div>
                            </ul>
                        </nav>
                    </div>

                    <div class="gridSelectedTitle">
                        <b>Selected Colours:</b>
                    </div>
                    <div class="gridSelected">
                        <nav>
                            <ul class="nav-list">
                                <div *ngFor="let row of backgroundcolors; let i = index"
                                    [style.background-color]="row.cssCode"
                                    [style.color]="(i == selectedBgIndex)? 'red' : 'black'"
                                    (click)="clickSelected(i)"
                                    >
                                    <span class="tagText">
                                        <clr-icon shape="trash"
                                            size="12"
                                            (dblclick)="dblclickDelete(row.id, i)"
                                            >
                                        </clr-icon>
                                        {{ row.name }}
                                    </span>
                                </div>
                            </ul>
                        </nav>
                    </div>
                    <div class="gridArrowAdd">
                        <button
                            type="button"
                            class="btn btn-secondary btn-sm"
                            (click)="clickAdd()"
                            >
                            <clr-icon shape="arrow right" size="20"></clr-icon>
                        </button>
                    </div>

                    <div class="gridButtonCancel">
                            <button
                            type="button"
                            class="gridButtonCancel btn btn-secondary"
                            (click)="clickClose('Close')"
                            >
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

