<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>
                <div class="gridTitle">
                    <b>My Permissions</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                The grid below show permissions granted for the current user to
                                different Dashboards, at user or group level.  Note that the final
                                access depends on the mode (View/Edit), the access type of the
                                Dashboard and the role(s) of the user.  For example, a user without
                                the CanEdit role will not be able to edit any Dashboard under any
                                circumstances.
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>

                <div class="gridTable">
                    <clr-datagrid>
                        <clr-dg-column [clrDgField]="'userID'">Dasbhoard</clr-dg-column>
                        <clr-dg-column [clrDgField]="'name'">Via Group Name</clr-dg-column>
                        <clr-dg-column [clrDgField]="'canEditRight'" class="checkCell">Edit</clr-dg-column>
                        <clr-dg-column [clrDgField]="'canViewRight'" class="checkCell">View</clr-dg-column>
                        <clr-dg-column [clrDgField]="'canSaveRight'" class="checkCell">Save</clr-dg-column>
                        <clr-dg-column [clrDgField]="'canDeleteRight'" class="checkCell">Delete</clr-dg-column>
                        <clr-dg-column [clrDgField]="'canAddDatasource'" class="checkCell">Add DS</clr-dg-column>
                        <clr-dg-column [clrDgField]="'canGrantAccess'" class="checkCell">Grant</clr-dg-column>
                        <clr-dg-column [clrDgField]="'grantor'">Grantor</clr-dg-column>
                        <clr-dg-column [clrDgField]="'grantedOn'">Granted On</clr-dg-column>

                        <clr-dg-row *clrDgItems="let row of dashboardPermissions;
                            let i = index"
                            [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                            [style.color]="(i == selectedRow)? 'white' : 'gray'"
                            (click)="clickRow(i)"
                            >
                            <clr-dg-cell>{{row.dashboardName}}</clr-dg-cell>
                            <clr-dg-cell>{{row.groupName}}</clr-dg-cell>

                            <clr-dg-cell class="checkCell">
                                <clr-icon shape="check" *ngIf="row.canEditRight"
                                    size="16"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canEditRight"
                                    size="16"
                                    >
                                </clr-icon>
                            </clr-dg-cell>

                            <clr-dg-cell class="checkCell">
                                <clr-icon shape="check" *ngIf="row.canViewRight"
                                    size="16"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canViewRight"
                                    size="16"
                                    >
                                </clr-icon>
                            </clr-dg-cell>

                            <clr-dg-cell class="checkCell">
                                <clr-icon shape="check" *ngIf="row.canSaveRight"
                                    size="16"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canSaveRight"
                                    size="16"
                                    >
                                </clr-icon>
                            </clr-dg-cell>

                            <clr-dg-cell class="checkCell">
                                    <clr-icon shape="check" *ngIf="row.canDelete"
                                    size="16"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canDelete"
                                    size="16"
                                    >
                                </clr-icon>
                            </clr-dg-cell>

                            <clr-dg-cell class="checkCell">
                                    <clr-icon shape="check" *ngIf="row.canAddDatasource"
                                    size="16"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canAddDatasource"
                                    size="16"
                                    >
                                </clr-icon>
                            </clr-dg-cell>

                            <clr-dg-cell class="checkCell">
                                    <clr-icon shape="check" *ngIf="row.canGrantAccess"
                                    size="16"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canGrantAccess"
                                    size="16"
                                    >
                                </clr-icon>
                            </clr-dg-cell>

                            <clr-dg-cell>{{row.grantor}}</clr-dg-cell>
                            <clr-dg-cell>{{row.grantedOn}}</clr-dg-cell>
                        </clr-dg-row>

                        <clr-dg-footer>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                            of {{pagination.totalItems}} records
                            <clr-dg-pagination
                                #pagination
                                [clrDgPageSize]="9"
                                >
                            </clr-dg-pagination>
                        </clr-dg-footer>

                    </clr-datagrid>
                </div>
            </div>
        </div>
    </div>
</div>
