<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <button type="button" class="closeButton" (click)="clickClose()">
                X
            </button>

            <div class="gridOverall">
                <div class="gridTitle">
                    <b>My Permissions</b>
                </div>
                <div class="gridSubTitle">
                    <i>
                        The grid below show permissions granted to Dashboards, as a user or 
                        as a group.
                    </i>
                </div>

                <div class="gridTable">
                    <clr-datagrid>
                        <clr-dg-column [clrDgField]="userID">Dasbhoard</clr-dg-column>
                        <clr-dg-column [clrDgField]="name">Via Group Name</clr-dg-column>
                        <clr-dg-column [clrDgField]="canView" class="checkCell">View</clr-dg-column>
                        <clr-dg-column [clrDgField]="canEdit">Edit</clr-dg-column>
                        <clr-dg-column [clrDgField]="canDelete">Delete</clr-dg-column>
                        <clr-dg-column [clrDgField]="canDelete">Add DS</clr-dg-column>
                        <clr-dg-column [clrDgField]="canDelete">Grantor</clr-dg-column>
                        <clr-dg-column [clrDgField]="canDelete">Granted On</clr-dg-column>

                        <clr-dg-row *clrDgItems="let row of dashboardPermissions;
                            let i = index"
                            [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                            [style.color]="(i == selectedRow)? 'white' : 'gray'"
                            (click)="clickRow(i)"
                            >
                            <clr-dg-cell>{{row.dashboardName}}</clr-dg-cell>
                            <clr-dg-cell>{{row.groupName}}</clr-dg-cell>
                            <clr-dg-cell class="checkCell">
                                <clr-icon shape="check" *ngIf="row.canView"
                                    size="16"
                                    (dblclick)="clickToggleView(row.id, $event)"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canView"
                                    size="16"
                                    (dblclick)="clickToggleView(row.id, $event)"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell class="checkCell">
                                    <clr-icon shape="check" *ngIf="row.canEdit"
                                    size="16"
                                    (dblclick)="clickToggleEdit(row.id, $event)"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canEdit"
                                    size="16"
                                    (dblclick)="clickToggleEdit(row.id, $event)"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell class="checkCell">
                                    <clr-icon shape="check" *ngIf="row.canDelete"
                                    size="16"
                                    (dblclick)="clickToggleDelete(row.id, $event)"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canDelete"
                                    size="16"
                                    (dblclick)="clickToggleDelete(row.id, $event)"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell class="checkCell">
                                    <clr-icon shape="check" *ngIf="row.canAddDS"
                                    size="16"
                                    (dblclick)="clickToggleAddDS(row.id, $event)"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canAddDS"
                                    size="16"
                                    (dblclick)="clickToggleAddDS(row.id, $event)"
                                    >
                                </clr-icon>
                            </clr-dg-cell>


                            <clr-dg-cell>{{row.grantor}}</clr-dg-cell>
                            <clr-dg-cell>{{row.grantedOn}}</clr-dg-cell>
                        </clr-dg-row>

                        <clr-dg-footer>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                            of {{pagination.totalItems}} records
                            <clr-dg-pagination
                                #pagination
                                [clrDgPageSize]="9"
                                >
                            </clr-dg-pagination>
                        </clr-dg-footer>

                    </clr-datagrid>
                </div>
            </div>
        </div>
    </div>
</div>
