<div class="modal modalBox">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>My Profile</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                This form shows permissions that are applicable to the current
                                Dashboard and user.
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>

                <img class="gridProfilePic"
                    src="../images/JannieProfile.jpeg" 
                    width="50"
                    height="50"
                    alt="Jannie"
                    (click)="clickProfilePic()"
                    >

                <div class="gridDashboardRolesTitle">
                    <b>Current User Roles for all Dashboards:</b>
                </div>

                <div class="gridDashboardCanCreateRole">
                    <b>CanCreate:</b>
                    <input [(ngModel)]="currentUser.dashboardCanCreateRole"
                        type="checkbox"
                        disabled
                        title="Can Create new Dashboards (T/F)"
                        >
                </div>
                <div class="gridDashboardCanViewRole">
                    <b>CanView:</b>
                    <input [(ngModel)]="currentUser.dashboardCanViewRole"
                        type="checkbox"
                        disabled
                        title="Can View Dashboards (T/F)"
                        >
                </div>
                <div class="gridDashboardCanEditRole">
                    <b>CanEdit:</b>
                    <input [(ngModel)]="currentUser.dashboardCanEditRole"
                        type="checkbox"
                        disabled
                        title="Can Edit Dashboards (T/F)"
                        >
                </div>
                <div class="gridDashboardCanSaveRole">
                    <b>CanSave:</b>
                    <input [(ngModel)]="currentUser.dashboardCanSaveRole"
                        type="checkbox"
                        disabled
                        title="Can Save Dashboards (T/F)"
                        >
                </div>
                <div class="gridDashboardCanDeleteRole">
                    <b>CanDelete:</b>
                    <input [(ngModel)]="currentUser.dashboardCanDeleteRole"
                        type="checkbox"
                        disabled
                        title="Can Delete Dashboards (T/F)"
                        >
                </div>
                <div class="gridDashboardCanGrantAccessRole">
                    <b>GrantAccess:</b>
                    <input [(ngModel)]="currentUser.dashboardCanGrantAccessRole"
                        type="checkbox"
                        disabled
                        title="Can grant access to other users to a Dashboards (T/F)"
                        >
                </div>
                <div class="gridDashboardCanAddDatasourceRole">
                    <b>CanAdd DS:</b>
                    <input [(ngModel)]="currentUser.dashboardCanAddDatasourceRole"
                        type="checkbox"
                        disabled
                        title="Can add a Datasource to a Dashboards (T/F)"
                        >
                </div>

                <div class="gridUserGroupRolesTitle">
                    <b>Current User Roles for Groups and Users:</b>
                </div>
                <div class="gridUserGroupRoles">
                    <b>CanManage Group:</b>
                    <input [(ngModel)]="currentUser.canManageGroupRole"
                        type="checkbox"
                        disabled
                        title="Can Manage groups (add/delete users) (T/F)"
                        >
                </div>

                <div class="gridDatasourceRolesTitle">
                    <b>Current User Roles for Datasources:</b>
                </div>
                <div class="gridDatasourceCanCreateRole">
                    <b>Can Create:</b>
                    <input [(ngModel)]="currentUser.datasourceCanCreateRole"
                        type="checkbox"
                        disabled
                        title="Can Create new Datasources (T/F)"
                        >
                </div>
                <div class="gridDatasourceCanViewRole">
                    <b>Can View:</b>
                    <input [(ngModel)]="currentUser.datasourceCanViewRole"
                        type="checkbox"
                        disabled
                        title="Can View existing Datasources (T/F)"
                        >
                </div>
                <div class="gridDatasourceCanEditRole">
                    <b>Can Edit:</b>
                    <input [(ngModel)]="currentUser.datasourceCanEditRole"
                        type="checkbox"
                        disabled
                        title="Can Edit existing Datasources (T/F)"
                        >
                </div>
                <div class="gridDatasourceCanDeleteRole">
                    <b>Can Delete:</b>
                    <input [(ngModel)]="currentUser.datasourceCanDeleteRole"
                        type="checkbox"
                        disabled
                        title="Can Delete existing Datasources (T/F)"
                        >
                </div>
                <div class="gridDatasourceCanGrantAccessRole">
                    <b>Can Grant Access:</b>
                    <input [(ngModel)]="currentUser.datasourceCanGrantAccessRole"
                        type="checkbox"
                        disabled
                        title="Can grant access to existing Datasources (T/F)"
                        >
                </div>
                
                <div class="gridDashboardAccessTypeTitle">
                    <b>CurrentDashboard Access:</b>
                </div>

                <div class="gridDashboardAccessType">
                    <b>AccessType:</b>
                    {{ accessType }}
                </div>


                <div class="gridTable" *ngIf="accessType == 'AccessList'">
                    <clr-datagrid>
                        <clr-dg-column [clrDgField]="'userID'">User ID (single)</clr-dg-column>
                        <clr-dg-column [clrDgField]="'name'">Group Name (applies to all its members)</clr-dg-column>
                        <clr-dg-column [clrDgField]="'canViewRight'" class="checkCell">View</clr-dg-column>
                        <clr-dg-column [clrDgField]="'canEditRight'">Edit</clr-dg-column>
                        <clr-dg-column [clrDgField]="'canSaveRight'">Save</clr-dg-column>
                        <clr-dg-column [clrDgField]="'canDeleteRight'">Delete</clr-dg-column>
                        <clr-dg-column [clrDgField]="'canAddDatasource'">Add DS</clr-dg-column>
                        <clr-dg-column [clrDgField]="'canGrantAccess'">Grant Access</clr-dg-column>
                        <clr-dg-column [clrDgField]="'grantor'">Grantor</clr-dg-column>
                        <clr-dg-column [clrDgField]="'grantedOn'">Granted On</clr-dg-column>

                        <clr-dg-row *clrDgItems="let row of dashboardPermissions;
                            let i = index"
                            [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                            [style.color]="(i == selectedRow)? 'white' : 'gray'"
                            (click)="clickRow(i)"
                            >
                            <clr-dg-cell>{{row.userID}}</clr-dg-cell>
                            <clr-dg-cell>{{row.groupName}}</clr-dg-cell>
                            <clr-dg-cell class="checkCell">
                                <clr-icon shape="check" *ngIf="row.canViewRight"
                                    size="16"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canViewRight"
                                    size="16"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell class="checkCell">
                                    <clr-icon shape="check" *ngIf="row.canEditRight"
                                    size="16"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canEditRight"
                                    size="16"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell class="checkCell">
                                <clr-icon shape="check" *ngIf="row.canSaveRight"
                                    size="16"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canSaveRight"
                                    size="16"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell class="checkCell">
                                    <clr-icon shape="check" *ngIf="row.canDeleteRight"
                                    size="16"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canDeleteRight"
                                    size="16"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell class="checkCell">
                                    <clr-icon shape="check" *ngIf="row.canAddDatasource"
                                    size="16"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canAddDatasource"
                                    size="16"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell class="checkCell">
                                <clr-icon shape="check" *ngIf="row.canGrantAccess"
                                    size="16"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canGrantAccess"
                                    size="16"
                                    >
                                </clr-icon>
                            </clr-dg-cell>

                            <clr-dg-cell>{{row.grantor}}</clr-dg-cell>
                            <clr-dg-cell>{{row.grantedOn}}</clr-dg-cell>
                        </clr-dg-row>

                        <clr-dg-footer>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                            of {{pagination.totalItems}} records
                            <clr-dg-pagination
                                #pagination
                                [clrDgPageSize]="3"
                                >
                            </clr-dg-pagination>
                        </clr-dg-footer>

                    </clr-datagrid>
                </div>

                <!-- KEEP - getting my Fav Ds, and put into fancy table.  Could be useful somewhere -->
                <!-- <div class="gridTable" *ngIf="showFavs">
                    <clr-datagrid>
                        <clr-dg-column *ngFor="let row of dataFieldNames; let r = index">
                            {{ row }}</clr-dg-column>
                        <clr-dg-row *ngFor="let row of currentData">
                            <clr-dg-cell *ngFor="let col of dataFieldNames; let c = index">
                                {{ row[col] }}
                            </clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div> -->

            </div>
        </div>
    </div>
</div>

