<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>

                My Profile
                <div class="propertyLine">
                    Rights:
                    <div>
                        <input type="text" id="formFields_7" placeholder="Dashboard Editor ...">
                    </div>
                    <div>
                        <input type="text" id="formFields_7" placeholder="QA Dashboards ..">
                    </div>
                    <div>
                        <input type="text" id="formFields_7" placeholder="Can work Offline">
                    </div>
                    <div>
                        <input type="text" id="formFields_7" placeholder="Can copy Data locally">
                    </div>
                    <div>
                        <input type="text" id="formFields_7" placeholder="Can copy Schema (no data) locally">
                    </div>
                    <br>
                    <div>
                        My roles for the current Dashboard:
                    </div>
                    <div>
                        <input type="text" id="formFields_7" placeholder="CanView">
                    </div>
                    <div>
                        <input type="text" id="formFields_7" placeholder="CanEdit">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

