<div class="modal modalBox">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose()">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Navigator Editor.</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                This form is used to Add / Edit a Navigator Widget.  
                                Navigators visualise networks of Nodes and Relationships, 
                                which can be added on the Data menu as a Network.
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>

                </div>

                <div class="gridText">
                    This form is used to Add / Edit a Navigator Widget.  
                    Navigators visualise networks of Nodes and Relationships, 
                    which can be added on the Data menu as a Network.
                </div>
                <div class="gridErrorMessage">
                    {{ errorMessage }}
                </div>

                <div class="gridNavigatorTitleTitle">
                    <b>Title:</b>
                </div>
                <div class="gridNavigatorTitle">
                        <input [(ngModel)]="selectedNetworkTitle" 
                        type="text"
                        name="selectedNetworkTitle"
                        placeholder="Title shown on title bar"
                        #selectedNetworkTitleVar="ngModel"
                        required
                        minlength="2"
                        maxlength="150"
                        size="43"
                        [style.color]="!selectedNetworkTitleVar.valid  &&  editing ? 'red' : 'gray'"
                        >
                </div>

                <div class="gridNavigatorNameTitle">
                    <b>Name:</b>
                </div>
                <div class="gridNavigatorName">
                        <input [(ngModel)]="selectedNetworkName"
                        type="text"
                        name="selectedNetworkName"
                        placeholder="Internal Name of the Widget"
                        #selectedNetworkNameVar="ngModel"
                        required
                        minlength="2"
                        maxlength="150"
                        size="43"
                        [style.color]="!selectedNetworkNameVar.valid  &&  editing ? 'red' : 'gray'"
                        >
                </div>

                <div class="gridNavigatorDescriptionTitle">
                    <b>Description:</b>
                </div>
                <div class="gridNavigatorDescription">
                        <input [(ngModel)]="selectedNetworkDescription"
                        type="text"
                        name="name"
                        placeholder="Description of the Widget"
                        #descriptionVar="ngModel"
                        required
                        minlength="2"
                        maxlength="500"
                        size="43"
                        [style.color]="!descriptionVar.valid  &&  editing ? 'red' : 'gray'"
                        >
                </div>

                <div class="gridNavigatorNetworkTitle">
                    <b>Network:</b>
                </div>
                <div class="select gridNavigatorNetwork"
                    >
                    <select [(ngModel)]="selectedNavigatorNetwork"
                        name="repeatFrequency"
                        (change)="changeSelectNetwork($event)"
                        >
                        <option *ngFor="let row of navigatorNetworkNames; let i = index">
                            {{ row }}
                        </option>
                    </select>
                </div>

                <div class="gridButtonCancel">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickCancel()"
                        >
                        Cancel
                    </button>
                </div>
                <div class="gridButtonAdd" *ngIf="!editing">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickAdd()"
                        >
                        Add
                    </button>
                </div>

                <div class="gridButtonSave" *ngIf="editing">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickSave()"
                        >
                        Save
                    </button>
                </div>
                <div class="gridButtonAdd" *ngIf="editing">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickSave()"
                        >
                        Save
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>

