<div class="modal modalBox">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose()">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Navigator Editor.</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                This form is used to Add / Edit a Navigator Widget.  
                                Navigators visualise networks of Nodes and Relationships, 
                                which can be added on the Data menu as a Network.
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>

                </div>

                <div class="gridErrorMessage">
                    {{ errorMessage }}
                </div>

                <div class="gridTable">
                    <clr-datagrid>
                        <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>

                        <clr-dg-row *clrDgItems="let row of navigators;
                            let i = index"
                            [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                            [style.color]="(i == selectedRow)? 'white' : 'gray'"
                            (click)="clickRow(i, row.id)"
                            style="cursor: pointer;"
                            >
                            <clr-dg-cell>{{ row.name }}</clr-dg-cell>
                        </clr-dg-row>

                    </clr-datagrid>
                </div>

                <div class="gridNavigatorNameTitle">
                    <b>Name:</b>
                </div>
                <div class="gridNavigatorName">
                        <input [(ngModel)]="selectedNetworkName"
                        type="text"
                        name="name"
                        placeholder="Name of the Schedule"
                        #nameVar="ngModel"
                        required
                        minlength="2"
                        maxlength="150"
                        size="43"
                        [style.color]="!nameVar.valid  &&  editing ? 'red' : 'gray'"
                        >
                </div>

                <div class="gridNavigatorDescriptionTitle">
                    <b>Description:</b>
                </div>
                <div class="gridNavigatorDescription">
                        <input [(ngModel)]="selectedNetworkDescription"
                        type="text"
                        name="name"
                        placeholder="Description of the Schedule"
                        #descriptionVar="ngModel"
                        required
                        minlength="2"
                        maxlength="500"
                        size="43"
                        [style.color]="!descriptionVar.valid  &&  editing ? 'red' : 'gray'"
                        >
                </div>

                <div class="gridNavigatorTitle">
                    <b>Network:</b>
                </div>
                <div class="select gridNavigator"
                    >
                    <select [(ngModel)]="selectedRelationshipDS"
                        name="repeatFrequency"
                        (change)="changeSelectNetwork($event)"
                        >
                        <option *ngFor="let row of navigatorNetworkNames; let i = index">
                            {{ row }}
                        </option>
                    </select>
                </div>

                <div class="gridButtonCancel" *ngIf="!editing">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose()"
                        >
                        Cancel
                    </button>
                </div>
                <div class="gridButtonCancel" *ngIf="editing">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickAdd()"
                        >
                        Add
                    </button>
                </div>

                <div class="gridButtonAdd" *ngIf="!editing">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickAddSave()"
                        >
                        Save
                    </button>
                </div>
                <div class="gridButtonAdd" *ngIf="editing">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickSave()"
                        >
                        Save
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>

