<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">

                <div>
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>

                    My Preferences
                    <div class="propertyLine">
                        These are options that applies to all Dashboards and operations for the
                        current user:
                        <input
                            type="text"
                            id="formFields_7"
                            placeholder="AutoSync local on connecting to Srv"
                            >
                        <input
                            type="text"
                            id="formFields_7"
                            placeholder="Show Open startup message (T/F)"
                            >
                        <input
                            type="text"
                            id="formFields_7"
                            placeholder="Show Open data combination message (T/F)"
                            >
                        <input
                            type="text"
                            id="formFields_7"
                            placeholder="Show View startup message (T/F)"
                            >
                        <input
                            type="text"
                            id="formFields_7"
                            placeholder="Show Discard startup message (T/F)"
                            >
                        <input
                            type="text"
                            id="formFields_7"
                            placeholder="Default Template"
                            >
                        <input
                            type="text"
                            id="formFields_7"
                            placeholder="Pref 2"
                            >
                        <div class="propertyLine">
                            Default Date format
                            <input type="text" id="formFields_7" placeholder="YYYY/MM/DD">
                        </div>

                        <div class="propertyLine">
                            Default Printer for this Dashboard
                            <input type="text" id="formFields_7" placeholder="Local HP">
                        </div>
                        <div class="propertyLine">
                            Default Page size
                            <input type="text" id="formFields_7" placeholder="A4">
                        </div>
                        <div class="propertyLine">
                            Default layout
                            <input type="text" id="formFields_7" placeholder="Single page">
                        </div>
                        <div class="propertyLine">
                            Default colour
                            <input type="text" id="formFields_7" placeholder="Black and White">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

