<div class="modal modalBox">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>My Preferences: </b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                These preferences are applicable to all Dashboards for the
                                current user.
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>

                <div class="gridSettingsTitle">
                    <b>Settings:</b>
                </div>

                <div class="gridSettingsAutoSyncTitle">
                    <b>AutoSync:</b>
                </div>
                <div class="gridSettingsAutoSync">
                    <input [(ngModel)]="preferenceAutoSync"
                        type="checkbox"
                        title="AutoSync local on connecting to Server (T/F)"
                        >
                </div>

                <div class="gridSettingsPaletteHorisontalTitle">
                    <b>Palette horisontal:</b>
                </div>
                <div class="gridSettingsPaletteHorisontal">
                    <input [(ngModel)]="preferencePaletteHorisontal"
                        type="checkbox"
                        title="Display Palette Horisontally (T/F)"
                        >
                </div>

                <div class="gridMessagesTitle">
                    <b>Show messages:</b>
                </div>

                <div class="gridMessagesStartupTitle">
                    <b>Startup:</b>
                </div>
                <div class="gridMessagesStartup">
                    <input [(ngModel)]="preferenceShowOpenStartupMessage"
                        type="checkbox"
                        title="Show Open startup message (T/F)"
                        >
                </div>

                <div class="gridMessagesOpenComboTitle">
                    <b>OpenCombo:</b>
                </div>
                <div class="gridMessagesOpenCombo">
                    <input [(ngModel)]="preferenceShowOpenDataCombinationMessage"
                        type="checkbox"
                        title="Show Open data combination message (T/F)"
                        >
                </div>

                <div class="gridMessagesViewTitle">
                    <b>View:</b>
                </div>
                <div class="gridMessagesView">
                    <input [(ngModel)]="preferenceShowViewStartupMessage"
                        type="checkbox"
                        title="Show View startup message (T/F)"
                        >
                </div>

                <div class="gridMessagesDiscardTitle">
                    <b>Discard:</b>
                </div>
                <div class="gridMessagesDiscard">
                    <input [(ngModel)]="preferenceShowDiscardStartupMessage"
                        type="checkbox"
                        title="Show Discard startup message (T/F)"
                        >
                </div>

                <div class="gridDefaultTitle">
                    <b>Defaults:</b>
                </div>

                <div class="gridDefaultTemplateTitle">
                    <b>Template:</b>
                </div>
                <div class="select gridDefaultTemplate">
                    <select
                        [(ngModel)]="selectedTemplateDashboard"
                        name="dashboardTemplate"
                        (change)="clickTemplateDashboard($event)"
                        placeholder="Select a Dashboard as Template"
                        >
                        <option *ngFor="let row of dashboardList">
                            {{ row }}
                        </option>
                    </select>
                </div>

                <div class="gridDefaultDateFormatTitle">
                    <b>Date Format:</b>
                </div>
                <div class="gridDefaultDateFormat">
                    <input [(ngModel)]="preferenceDefaultDateformat"
                        type="text"
                        title="Default Date format"
                        placeholder="YYYY/MM/DD"
                        size="20"
                        >
                </div>

                <div class="gridDefaultFolderTitle">
                    <b>Folder:</b>
                </div>
                <div class="gridDefaultFolder">
                    <input [(ngModel)]="preferenceDefaultFolder" type="text"
                        placeholder="Default Folder"
                        size="25"
                        >
                </div>

                <div class="gridDefaultSnapshotTitle">
                    <b>Snapshot:</b>
                </div>
                <div class="gridDefaultSnapshot">
                    <input [(ngModel)]="preferenceDefaultSnapshotMins" type="text"
                        placeholder="Mins between snapshots (0 = none)"
                        size="20"
                        >
                </div>

                <div class="gridStartupDashboardTitle">
                    <b>Startup:</b>
                </div>
                <div class="select gridStartupDashboard">
                    <select
                        [(ngModel)]="selectedStartupDashboard"
                        name="dashboardStartup"
                        (change)="clickStartupDashboard($event)"
                        placeholder="Select an optional startup Dashboard"
                        >
                        <option *ngFor="let row of dashboardList">
                            {{ row }}
                        </option>
                    </select>
                </div>


                <div class="gridStartupDashboardTabTitle">
                    <b>Tab:</b>
                </div>
                <div class="select gridStartupDashboardTab">
                    <select
                        [(ngModel)]="selectedStartupDashboardTab"
                        name="dashboardStartup"
                        (change)="clickStartupDashboardTab($event)"
                        placeholder="Select an optional startup Dashboard Tab"
                        >
                        <option *ngFor="let row of dashboardTabList">
                            {{ row }}
                        </option>
                    </select>
                </div>

                <div class="gridPrintTitle">
                    <b>Printer:</b>
                </div>

                <div class="gridPrintDefaultTitle">
                    <b>Default:</b>
                </div>
                <div class="gridPrintDefault">
                    <input [(ngModel)]="preferenceDefaultPrinter" type="text"
                        id="formFields_7"
                        placeholder="Default: Local HP"
                        size="25"
                        >
                </div>

                <div class="gridPrintSizeTitle">
                    <b>Page Size:</b>
                </div>
                <div class="gridPrintSize">
                    <input [(ngModel)]="preferenceDefaultPageSize" type="text"
                        id="formFields_7"
                        placeholder="Default Page Size: A4"
                        size="25"
                        >
                </div>

                <div class="gridPrintLayoutTitle">
                    <b>Layout:</b>
                </div>
                <div class="gridPrintLayout">
                    <input [(ngModel)]="preferenceDefaultPageLayout" type="text"
                        id="formFields_7"
                        placeholder="Default Layout: Single page, B and W"
                        size="25"
                        >
                </div>

                <div class="gridButtonCancel">
                        <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose('Close')"
                        >
                        Cancel
                    </button>
                </div>

                <div class="gridButtonSave">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickSave('Saved')"
                        >
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

