<div class="btn-group tabList">
    <button class="btn"
        (click)="clickOpenDashboard()"
        >
        Open
        <clr-icon shape="folder-open" size="16"></clr-icon>
    </button>
    <button class="btn"
    (click)="clickArrow()"
    >
        <clr-icon shape="arrow right" size="16"></clr-icon>
    </button>
    <button class="btn"
    (click)="clickArrow()">
        <clr-icon shape="arrow left" size="16"></clr-icon>
    </button>
    <button class="btn">
        <clr-icon shape="view-list" size="16"></clr-icon>
    </button>
</div>
<br><br>
<div *ngIf="!showTypeDashboard">
    Present Dashboards previously created.  Exploration is limited to features already created
    and saved during the Design phase.
    Use the Arrows at the top of the page to navigate between linked Dashboards.  The List icon 
    provides a list of linked Dashboards.  In case there are no linked Dashboards (the Dashboard
    is independant), then the Arrows and List icon at the top will be disabled.
    <br><br>

    When a Widget has visible Arrows, it can be used to show different graphs in the same Widget.
    This can be used to drill down to more detail for the current graph.
    <br><br>
    Open a Dashboard from the Dashboard tab in the Open menu option.
    <br><br>
    <i>This Viewer is free of charge, and can be used to view Dashboards from the Server, or
        standalone Dashboards (in which case the data is incorporated into the Dashboard, 
        and visible to all).
    </i>
</div>
<div *ngIf="showDashboard">
    <img class="typeIcon1"
    *ngIf="showTypeDashboard"
    [style.height.px]="200"
    [style.width.px]="200"
    src="../images/BarChart.png"
    >
    <img class="typeIcon2"
    *ngIf="showTypeDashboard"
    [style.height.px]="200"
    [style.width.px]="200"
    src="../images/LineChart.png"
    >
    <img class="typeIcon3"
    *ngIf="showTypeDashboard"
    [style.height.px]="200"
    [style.width.px]="200"
    src="../images/ScatterChart.png"
    >
</div>
<div *ngIf="!showDashboard">
    <img class="typeIcon1"
    *ngIf="showTypeDashboard"
    [style.height.px]="200"
    [style.width.px]="200"
    src="../images/PieChart.png"
    >
    <img class="typeIcon2"
    *ngIf="showTypeDashboard"
    [style.height.px]="200"
    [style.width.px]="200"
    src="../images/ColumnChart.png"
    >
</div>

<!-- File Selector -->
<clr-modal [(clrModalOpen)]="showModalFileselector">
    <h3 class="modal-title">File selection</h3>
    <div class="modal-body">
        <p>Please enter file name and location, or Browse:</p>
        <input type="text" id="formFields_7" placeholder="Folder/FileName">
        <input type="text" id="formFields_7" placeholder="Worksheet">
        <input type="text" id="formFields_7" placeholder="Dataset Name">
        <br><br>
        <p>Select a Dashboard located on the Server:</p>
        <clr-datagrid>
            <clr-dg-column>Double click to open:
                <button class="btn btn-sm" (click)="clickButtonAddDashboard()">
                    Filter
                    <clr-icon shape="caret down" size="16"></clr-icon>
                </button>                        
            </clr-dg-column>
            
            <clr-dg-row>
                <clr-dg-cell>Sales Summary for Exco</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-row>
                <clr-dg-cell>Headcount</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-row>
                <clr-dg-cell>Financial Summary</clr-dg-cell>
            </clr-dg-row>
                    
        </clr-datagrid>

        </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="showModalFileselector = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="showModalFileselector = false">Ok</button>
    </div>
</clr-modal>

