<div class="modal modalBox">
        <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">
    
                <div class="overall">

                    <div class="shapeProperties">
                        <form>
                            <section>
                                <div class="form-group">
                                    <label for="selects_4">Select a shape:</label>
                                    <div class="select">
                                        <select id="selects_3"
                                            (change)="clickSelectShape($event)"
                                            >
                                            <option>TextBox</option>
                                            <option>Circle</option>
                                            <option>Rectangle</option>
                                            <option>Line</option>
                                            <option>Arrow</option>
                                            <option>Image</option>
                                        </select>
                                    </div>
                                </div>
                                
                            </section>
                        </form>
                        <div class="propertyLine">
                            Position:
                            <input type="text" id="formFields_7" placeholder="Left">
                            <input type="text" id="formFields_7" placeholder="Top">
                        </div>
        
                        <div class="propertyLine">
                            Size:
                            <input type="text" id="formFields_7" placeholder="Height">
                            <input type="text" id="formFields_7" placeholder="Width">
                        </div>
                        <div class="propertyLine">
                            Border:
                            <input type="text" id="formFields_7" placeholder="1px solid Gray">
                        </div>
                        <div class="propertyLine">
                            Background Colour:
                            <input type="text" id="formFields_7" placeholder="Transparent">
                        </div>
                    </div>
                    
                    <div class="shapeTopText" *ngIf="showTextBox">
                        <div class="shapeTopInner">
                            The brown fox is tired
                        </div>
                    </div>
                    <div class="shapeBottomText" *ngIf="showTextBox">
                        <div class="propertyLine">
                            Text input:
                            <input type="text" id="formFields_7" placeholder="Text">
                        </div>
                        <div class="propertyLine">
                            Text Font:
                            <input type="text" id="formFields_7" placeholder="Font Size">
                            <input type="text" id="formFields_7" placeholder="Font Family">
                        </div>
                        <div class="propertyLine">
                            Text Look:
                            <input type="text" id="formFields_7" placeholder="Bold/Italic/Underline">
                        </div>
                        <div class="propertyLine">
                            Text Alignment:
                            <input type="text" id="formFields_7" placeholder="Left/Center/Right">
                        </div>
                    </div>

                    <div class="shapeTopShape" *ngIf="showCircle">
                        <svg height="200" width="200">
                            <circle 
                                cx="100" cy="100" r="80" stroke="black" 
                                stroke-width="3" fill="red" />
                        </svg>
                    </div>
                    <div class="shapeBottomShape" *ngIf="showCircle">
                        Radius:
                        <input type="text" id="formFields_7" placeholder="5-200px">
                        Line Colour:
                        <input type="text" id="formFields_7" placeholder="Black">
                        Line thickness:
                        <input type="text" id="formFields_7" placeholder="3">
                        Fill colour:
                        <input type="text" id="formFields_7" placeholder="Red">
                    </div>

                    <div class="shapeTopShape" *ngIf="showRectangle">
                        <svg width="400" height="180">
                        <rect x="100" y="20" rx="20" ry="20" width="150" height="150"
                        style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />
                        </svg>                        
                        <!-- <svg width="400" height="110">
                            <rect width="300" height="100" 
                            style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
                        </svg> -->
                    </div>
                    <div class="shapeBottomShape" *ngIf="showRectangle">
                        Fill Colour:
                        <input type="text" id="formFields_7" placeholder="Pink">
                        Line thickness:
                        <input type="text" id="formFields_7" placeholder="3">
                        Line Colour:
                        <input type="text" id="formFields_7" placeholder="1px solid Black">
                        Fill Opacity:
                        <input type="text" id="formFields_7" placeholder="0-1">
                        Line Opacity:
                        <input type="text" id="formFields_7" placeholder="0-1">
                        Corners:
                        <input type="text" id="formFields_7" placeholder="Rounded/Not">
                    </div>

                    <div class="shapeTopShape" *ngIf="showLine">
                        <svg height="210" width="500">
                            <line x1="0" y1="0" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" />
                        </svg>
                    </div>
                    <div class="shapeBottomShape" *ngIf="showLine">
                        <div class="propertyLine">
                            Direction:
                            <input type="text" id="formFields_7" placeholder="Arrow / Line">
                        </div>  
                    </div>
                    
                    <div class="shapeTopShape" *ngIf="showArrow">
                        <p>I will display &#9754;</p>
                    </div>
                    <div class="shapeBottomShape" *ngIf="showArrow">
                        Radius
                    </div>

                    <div class="shapeTopShape" *ngIf="showImage">
                        <img
                            [style.height.px]="120"
                            [style.width.px]="120"
                            src="../images/ChartCandleStick.png"
                            >
                    </div>
                    <div class="shapeBottomShape" *ngIf="showImage">
                        <div class="propertyLine" *ngIf="showImage">
                            Image:
                            <input type="text" id="formFields_7" placeholder="Co. logo">
                        </div>
                    </div>

                    <div class="shapeButton">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose('Close')"
                            >
                            Save
                        </button>
                    </div>
                </div>  
            </div>  
        </div>  
    </div>  
    
