.modalBox {
	background-color: rgba(0,0,0,0.4); 
	-shadow: 0 2px 2px 0 lightgray;
}

.closeButton {
    background-color: transparent;
    border: none;
    left: 0;
    position: relative;
    top: 0;
}

.propertyLine {
    margin: 5px;
}

.overall {
    display: grid;
    grid-template-columns: repeat(11, 3rem);
    grid-template-rows:  repeat(7, 2rem);
    margin-top: 2px;
}

    .shapeProperties {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 12;
        text-align: left;
    }

    .shapeTopShape {
        display: flex;
        grid-column-start: 7;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 4;
        justify-content: center;
        margin-bottom: 0;
        text-align: center;
    }

    .shapeTopText {
        display: flex;
        grid-column-start: 7;
        grid-column-end: 12;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-content: center;
        margin-bottom: 0;
        text-align: center;
    }

        .shapeTopInner {
            justify-content: center;
        }

    .shapeBottomText {
        align-content: center;
        grid-column-start: 7;
        grid-column-end: 12;
        grid-row-start: 3;
        grid-row-end: 12;
        margin-bottom: 0;
        text-align: left;
    }
    
    .shapeBottomShape {
        align-content: center;
        grid-column-start: 7;
        grid-column-end: 12;
        grid-row-start: 4;
        grid-row-end: 12;
        margin-bottom: 0;
        text-align: left;
    }

    .shapeButton {
        grid-column-start: 11;
        grid-column-end: 12;
        grid-row-start: 6;
        grid-row-end: 7;
        margin-bottom: 0;
        text-align: left;
    }

