<div class="modal modalBox">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <button type="button" class="closeButton" (click)="clickClose()">
                X
            </button>

            <div class="gridOverall">

                <div class="gridHeading">
                    <b>Shape Editor</b>
                </div>

                <div class="gridShapeTypes">
                    Select a shape sub-type:
                    <span>
                        <select
                            (change)="clickSelectShape($event)"
                            >
                            <option>Circle</option>
                            <option>Ellipse</option>
                            <option>Rectangle</option>
                            <option>Text</option>
                            <option>Arrow</option>
                            <option>Image</option>
                            <option>Bullets</option>
                            <option>Value</option>
                        </select>
                    </span>
                </div>


                <div class="gridButtonCancel">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose()"
                        >
                        Cancel
                    </button>
                </div>
                <div class="gridButtonSave">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickSave()"
                        >
                        Save
                    </button>
                </div>


                <div class="gridShape" *ngIf="showCircle">
                    <svg height="300" width="300">
                        <circle
                            [style.cx]="150"
                            [style.cy]="150"
                            [style.r]="100"
                            [style.stroke]="circleLineColor"
                            [style.stroke-width.px]="circleLineThickness"
                            [style.fill]="circleFillColour"
                            />
                    </svg>
                </div>

                <div class="gridShape" *ngIf="showEllipse">
                    <svg height="300" width="300">
                        <ellipse
                        [style.cx]="150"
                        [style.cy]="150"
                        [style.rx]="120"
                        [style.ry]="80"
                        [style.stroke]="ellipseLineColor"
                        [style.stroke-width.px]="ellipseLineThickness"
                        [style.fill]="ellipseFillColour"
                    />
                    </svg>
                </div>

                <div class="gridShape" *ngIf="showRectangle">
                    <svg width="300" height="300">
                        <rect
                            [style.x]="50" 
                            [style.y]="100"
                            [style.height.px]="100"
                            [style.width.px]="200"
                            [style.stroke]="rectangleLineColor"
                            [style.stroke-width.px]="rectangleLineThickness"
                            [style.fill]="rectangleFillColour"
                            [style.opacity]="rectangleOpacity"
                            [style.rx]="rectangleCorner" 
                            [style.ry]="rectangleCorner" 
                            />
                    </svg>
                </div>

                <div class="gridShape" *ngIf="showText"
                    [style.font-style]="textIsItalic? 'italic' : 'normal'"
                    [style.font-weight]="textIsBold? 'bold' : 'normal'"
                    [style.font-family]="textFontFamily"
                    [style.font-size.px]="textFontSize"
                    >
                    <svg width="300" height="300">
                        <text
                            x="20"
                            y="150"
                            [style.fill]="textColour"
                            >
                            {{ textText }}
                        </text>
                    </svg>
                </div>

                <div class="gridShape" *ngIf="showArrow">
                    <svg width="300" height="300">
                        <defs>
                            <marker id="arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth">
                            <path d="M0,0 L0,6 L9,3 z" fill="black" />
                            </marker>
                        </defs>

                        <line x1="100" y1="100" x2="155" y2="155" stroke="#000" stroke-width="5" marker-end="url(#arrow)" />
                    </svg>
                </div>

                <div class="gridShape" *ngIf="showImage">
                    <img [style.height.px]="100"
                        [style.width.px]="100"
                        [style.margin-left.px]="100"
                        [style.margin-top.px]="100"
                        src="../images/Tabs.png"
                        >
                </div>

                <div class="gridShape" *ngIf="showBullets">
                    <ul
                        [style.margin-left.px]="30"
                        [style.margin-top.px]="30"
                        >
                        <li *ngFor="let row of bulletArray">
                            {{ row }}
                        </li>
                    </ul>
                </div>

                <div class="gridShape" *ngIf="showValue">
                    <div [style.height.px]="100"
                        [style.font-size.px]="50"
                        [style.font-style]="'italic'"
                        [style.font-weight]="'bold'"
                        [style.font-family]="'Arial, serif'"
                        [style.margin-left.px]="30"
                        [style.margin-top.px]="120"
                        [style.color]="'darkred'"
                        >
                        {{ shapeValue }}
                    </div >
                </div>

                <div class="gridShapeProperties" *ngIf="showCircle">
                    <div class="propertyLine">
                        Line Colour:
                        <input type="text" 
                            placeholder="Black"
                            [(ngModel)]="circleLineColor"
                            >
                    </div>
                    <div class="propertyLine">
                        Line thickness:
                        <input type="text" 
                            placeholder="3"
                            [(ngModel)]="circleLineThickness"
                            >
                    </div>
                    <div class="propertyLine">
                        Fill colour:
                        <input type="text" 
                            placeholder="Red"
                            [(ngModel)]="circleFillColour"
                            >
                    </div>

                </div>

                <div class="gridShapeProperties" *ngIf="showEllipse">
                    <div class="propertyLine">
                        Line Colour:
                        <input type="text" 
                            placeholder="Black"
                            [(ngModel)]="ellipseLineColor"
                            >
                    </div>
                    <div class="propertyLine">
                        Line thickness:
                        <input type="text" 
                            placeholder="3"
                            [(ngModel)]="ellipseLineThickness"
                            >
                    </div>
                    <div class="propertyLine">
                        Fill colour:
                        <input type="text" 
                            placeholder="Red"
                            [(ngModel)]="ellipseFillColour"
                            >
                    </div>
                </div>

                <div class="gridShapeProperties" *ngIf="showRectangle">
                    <div class="propertyLine">
                        Line Colour:
                        <input type="text" 
                            placeholder="Black"
                            [(ngModel)]="rectangleLineColor"
                            >
                    </div>
                    <div class="propertyLine">
                        Line thickness:
                        <input type="text" 
                            placeholder="3"
                            [(ngModel)]="rectangleLineThickness"
                            >
                    </div>
                    <div class="propertyLine">
                        Fill colour:
                        <input type="text" 
                            placeholder="Red"
                            [(ngModel)]="rectangleFillColour"
                            >
                    </div>
                    <div class="propertyLine">
                        Fill Opacity:
                        <input type="text" 
                            placeholder="0=opaque, 1=solid"
                            [(ngModel)]="rectangleOpacity"
                            >
                    </div>
                    <div class="propertyLine">
                        Corners:
                        <input type="text" 
                            placeholder="Corner Size in pz"
                            [(ngModel)]="rectangleCorner"
                            >15
                    </div>
                </div>

                <div class="gridShapeProperties" *ngIf="showText">
                    <div class="propertyLine">
                        Text input:
                        <input type="text" 
                            placeholder="The brown fox ..."
                            [(ngModel)]="textText"
                            >
                    </div>
                    <div class="propertyLine">
                        Font Size:
                        <input type="text" 
                            placeholder="50 (px)"
                            [(ngModel)]="textFontSize"
                            >
                    </div>
                    <div class="propertyLine">
                        Font Family:
                        <input type="text" 
                            placeholder="Arial, serif"
                            [(ngModel)]="textFontFamily"
                            >
                    </div>
                    <div class="propertyLine">
                        Bold?:
                        <input type="checkbox"
                            [(ngModel)]="textIsBold"
                            >
                    </div>
                    <div class="propertyLine">
                        Italic?:
                        <input type="checkbox"
                            [(ngModel)]="textIsItalic"
                            >
                    </div>
                    <div class="propertyLine">
                        Colour:
                        <select
                            [(ngModel)]="textColour"
                            >
                            <option>DarkRed</option>
                            <option>Black</option>
                            <option>Gray</option>
                            <option>LightGray</option>
                            <option>Green</option>
                            <option>Blue</option>
                            <option>Yellow</option>
                        </select>

                    </div>
                </div>

                <div class="gridShapeProperties" *ngIf="showArrow">
                    <div class="propertyLine">
                        Direction ....
                    </div>
                </div>

                <div class="gridShapeProperties" *ngIf="showImage">
                    <div class="propertyLine">
                        Image:
                        <input type="text" id="formFields_7" placeholder="Co. logo">
                    </div>
                </div>

                <div class="gridShapeProperties" *ngIf="showBullets">
                    <div class="propertyLine">
                        Values:
                        <input *ngIf="editBulletItem" [(ngModel)]="bulletValue">
                        <button  *ngIf="editBulletItem" type="button" class="closeButton" (click)="clickEditDone()">
                            Go
                        </button>
                
                        <div
                            [style.margin-left.px]="30"
                            [style.margin-top.px]="30"
                            >
                            <div *ngFor="let row of bulletArray; let i = item" class="bulletLine">
                                <clr-icon shape="times" 
                                    (click)="clickBulletDelete(i, row)">
                                </clr-icon>
                                <clr-icon shape="plus" 
                                    (click)="clickBulletAdd(i, row)">
                                </clr-icon>
                                {{ row }}
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gridShapeProperties" *ngIf="showValue">
                    <div class="propertyLine">
                        In Datasource:
                        <select id="selects_3"
                            (change)="clickSelectShape($event)"
                            >
                            <option>Budget 2017-2018 Reviewed</option>
                            <option>Sales</option>
                            <option>Testing</option>
                        </select>

                        <br>
                        Take the 
                        <select id="selects_3"
                            (change)="clickSelectShape($event)"
                            >
                            <option>Sum</option>
                            <option>Average</option>
                            <option>Count</option>
                            <option>First</option>
                            <option>Last</option>
                            <option>Max</option>
                            <option>Min</option>
                        </select>

                        of Field:
                        <select id="selects_3"
                            (change)="clickSelectShape($event)"
                            >
                            <option>Date</option>
                            <option>Miles Per Gallon</option>
                            <option>Make</option>
                        </select>
                    </div>

                    <div class="propertyLine">
                        Font Size:
                        <input type="text" id="formFields_7" placeholder="50 (px)">
                    </div>
                    <div class="propertyLine">
                        Font Family:
                        <input type="text" id="formFields_7" placeholder="Arial, serif">
                    </div>
                    <div class="propertyLine">
                        Bold?:
                        <input type="checkbox">
                    </div>
                    <div class="propertyLine">
                        Italic?:
                        <input type="checkbox">
                    </div>
                    <div class="propertyLine">
                        Colour:
                        <select
                            >
                            <option>DarkRed</option>
                            <option>Black</option>
                            <option>Gray</option>
                            <option>LightGray</option>
                            <option>Green</option>
                            <option>Blue</option>
                            <option>Yellow</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

