.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.closeButton {
    background-color: transparent;
    border: none;
    left: 0;
    position: relative;
    top: 0;
}

.propertyLine {
    margin: 5px;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-auto-rows: 0.8rem;
    margin-top: 2px;
}

    .gridHeading {
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: left;
    }

    .gridShapes {
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 2;
        grid-row-end: 3;
        text-align: left;
    }

    .shapeTopShape {
        grid-column-start: 2;
        grid-column-end: 21;
        grid-row-start: 4;
        grid-row-end: 11;
        text-align: left;
    }

    .shapeBottomText {
        align-content: center;
        grid-column-start: 7;
        grid-column-end: 12;
        grid-row-start: 12;
        grid-row-end: 21;
        margin-bottom: 0;
        text-align: left;
    }

    .shapeButton {
        align-content: center;
        grid-column-start: 17;
        grid-column-end: 18;
        grid-row-start: 21;
        grid-row-end: 22;
        margin-bottom: 0;
    }

