<div class="modal modalBox">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <button type="button" class="closeButton" (click)="clickClose()">
                X
            </button>
    
            <div class="gridOverall">

                <div class="gridHeading">
                    <b>Shape Editor</b>
                </div>

                <div class="gridShapeTypes">
                    Select a shape sub-type:
                    <span>
                        <select
                            (change)="clickSelectShape($event)"
                            >
                            <option>Circle</option>
                            <option>Ellipse</option>
                            <option>Rectangle</option>
                            <option>Text</option>
                            <option>Arrow</option>
                            <option>Image</option>
                            <option>Bullets</option>
                            <option>Value</option>
                        </select>
                    </span>
                </div>


                <div class="gridButtonCancel">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose()"
                        >
                        Cancel
                    </button>
                </div>
                <div class="gridButtonSave">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickSave()"
                        >
                        Save
                    </button>
                </div>


                <div class="gridShape" *ngIf="showCircle">
                    <svg height="200" width="200">
                        <circle 
                            [style.cx]="100" 
                            [style.cy]="100" 
                            [style.r]="40" 
                            [style.stroke]="black" 
                            [style.stroke-width.px]="1" 
                            [style.fill]="green" 
                            />
                    </svg>
                </div>

                <div class="gridShape" *ngIf="showEllipse">
                    <svg height="200" width="200">
                        <ellipse 
                        [style.cx]="100" 
                        [style.cy]="100" 
                        [style.rx]="80" 
                        [style.ry]="40" 
                        [style.stroke]="black" 
                        [style.stroke-width.px]="1" 
                        [style.fill]="green" 
                        />
                    </svg>
                </div>

                <div class="gridShape" *ngIf="showRectangle">
                    <svg width="400" height="180">
                        <rect 
                            [style.height.px]="100"
                            [style.width.px]="100"
                            [style.stroke]="black" 
                            [style.stroke-width.px]="1" 
                            [style.fill]="green" 
                            />
                    </svg>
                </div>

                <div class="gridShape" *ngIf="showText">
                    <svg>
                        <text 
                            x="0" 
                            y="15" 
                            [style.fill]="black"
                            >
                            {{ shapeText }}
                        </text>
                    </svg>
                </div>
        
                <div class="gridShape" *ngIf="showArrow">
                    <svg [style.height.px]="100"
                        [style.width.px]="100"
                        >
                        <defs>
                            <marker id="arrow" markerWidth="10" markerHeight="10" refX="0" refY="3" orient="auto" markerUnits="strokeWidth">
                            <path d="M0,0 L0,6 L9,3 z" fill="black" />
                            </marker>
                        </defs>
                        
                        <line x1="1" y1="1" x2="55" y2="55" stroke="#000" stroke-width="5" marker-end="url(#arrow)" />
                    </svg>
                </div>  

                <div class="gridShape" *ngIf="showImage">
                    <img [style.height.px]="100"
                        [style.width.px]="100"
                        src="../images/Tabs.png"
                        >
                </div>

                <div class="gridShape" *ngIf="showBullets">
                    <ul
                        >
                        <li>Coffee</li>
                        <li>Tea</li>
                        <li>Coca Cola</li>
                    </ul>
                </div>

                <div class="gridShape" *ngIf="showValue">
                    <span [style.height.px]="100"
                        [style.width.px]="100"
                        [style.font-size.px]="50"
                        [style.font-style]="'italic'"
                        [style.font-weight]="'bold'"
                        [style.font-family]="'Arial, serif'"
                        >
                        {{ shapeValue }}
                    </span >
                </div>



                <div class="gridShapeProperties" *ngIf="showCircle">
                    <div class="propertyLine">
                        Line Colour:
                        <input type="text" id="formFields_7" placeholder="Black">
                    </div>
                    <div class="propertyLine">
                        Line thickness:
                        <input type="text" id="formFields_7" placeholder="3">
                    </div>
                    <div class="propertyLine">
                        Fill colour:
                        <input type="text" id="formFields_7" placeholder="Red">
                    </div>
    
                </div>

                <div class="gridShapeProperties" *ngIf="showEllipse">
                    <div class="propertyLine">
                        Line Colour:
                        <input type="text" id="formFields_7" placeholder="Black">
                    </div>
                    <div class="propertyLine">
                        Line thickness:
                        <input type="text" id="formFields_7" placeholder="3">
                    </div>
                    <div class="propertyLine">
                        Fill colour:
                        <input type="text" id="formFields_7" placeholder="Red">
                    </div>
                </div>

                <div class="gridShapeProperties" *ngIf="showRectangle">
                    <div class="propertyLine">
                        Fill Colour:
                        <input type="text" id="formFields_7" placeholder="Pink">
                    </div>
                    <div class="propertyLine">
                        Line thickness:
                        <input type="text" id="formFields_7" placeholder="3">
                    </div>
                    <div class="propertyLine">
                        Line Colour:
                        <input type="text" id="formFields_7" placeholder="1px solid Black">
                    </div>
                    <div class="propertyLine">
                        Fill Opacity:
                        <input type="text" id="formFields_7" placeholder="0-1">
                    </div>
                    <div class="propertyLine">
                        Line Opacity:
                        <input type="text" id="formFields_7" placeholder="0-1">
                    </div>
                    <div class="propertyLine">
                        Corners:
                        <input type="text" id="formFields_7" placeholder="Rounded/Not">
                    </div>
                </div>
    
                <div class="gridShapeProperties" *ngIf="showText">
                    <div class="propertyLine">
                        Text input:
                        <input type="text" id="formFields_7" placeholder="The brown fox ...">
                    </div>
                    <div class="propertyLine">
                        Font Size:
                        <input type="text" id="formFields_7" placeholder="Font Size">
                    </div>
                    <div class="propertyLine">
                        Font Family:
                        <input type="text" id="formFields_7" placeholder="Font Family">
                    </div>
                    <div class="propertyLine">
                            Bold/Italic/Underline:
                        <input type="text" id="formFields_7" placeholder="Bold/Italic/Underline">
                    </div>
                    <div class="propertyLine">
                        Alignment:
                        <input type="text" id="formFields_7" placeholder="Left/Center/Right">
                    </div>
                </div>

                <div class="gridShapeProperties" *ngIf="showArrow">
                    <div class="propertyLine">
                        Direction ....
                    </div>
                </div>

                <div class="gridShapeProperties" *ngIf="showImage">
                    <div class="propertyLine">
                        Image:
                        <input type="text" id="formFields_7" placeholder="Co. logo">
                    </div>
                </div>

                <div class="gridShapeProperties" *ngIf="showBullets">
                    <div class="propertyLine">
                        Values (array):
                        <input type="text" id="formFields_7" placeholder="....">
                    </div>
                </div>

                <div class="gridShapeProperties" *ngIf="showValue">
                    <div class="propertyLine">
                        Data:
                        <div class="select">
                            <select id="selects_3"
                                (change)="clickSelectShape($event)"
                                >
                                <option>Budget</option>
                                <option>Sales</option>
                                <option>Testing</option>
                            </select>
                        </div>
                        <div class="select">
                                <select id="selects_3"
                                    (change)="clickSelectShape($event)"
                                    >
                                    <option>Date</option>
                                    <option>Value</option>
                                    <option>Type field</option>
                                </select>
                            </div>
                        </div>
                        <div class="select">
                            <select id="selects_3"
                                (change)="clickSelectShape($event)"
                                >
                                <option>Sum</option>
                                <option>Average</option>
                                <option>First, etc ...</option>
                            </select>
                        </div>
                        <div class="propertyLine">
                        Text Font:
                        <input type="text" id="formFields_7" placeholder="Font Size">
                        <input type="text" id="formFields_7" placeholder="Font Family">
                    </div>
                    <div class="propertyLine">
                        Text Look:
                        <input type="text" id="formFields_7" placeholder="Bold/Italic/Underline">
                    </div>
                    <div class="propertyLine">
                        Text Alignment:
                        <input type="text" id="formFields_7" placeholder="Left/Center/Right">
                    </div>
                </div>




    
            </div>
        </div>
    </div>
</div>

