<div class="modal modalBox">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <button type="button" class="closeButton" (click)="clickClose()">
                X
            </button>

            <div class="gridOverall">

                <div class="colourpicker" *ngIf="colourPickerClosed">
                    <colour-picker
                        [callingRoutine]="callingRoutine"
                        [selectedColor]="selectedColour"
                        >
                    </colour-picker>
                </div>

                <div class="gridTitle">
                    <b>Shape Editor</b>
                </div>

                <div class="gridShapeTypes">
                    Select a shape sub-type:
                    <span>
                        <select
                            (change)="clickSelectShape($event)"
                            [(ngModel)]="localWidget.widgetSubType"
                            >
                            <option>Circle</option>
                            <option>Ellipse</option>
                            <option>Rectangle</option>
                            <option>Text</option>
                            <option>Arrow</option>
                            <option>ArrowThin</option>
                            <option>Image</option>
                            <option>Bullets</option>
                            <option>Value</option>
                        </select>
                    </span>
                </div>

                <div class="hasTitle">
                    <div class="checkbox">
                        <input type="checkbox" id="checkTitle"
                            [(ngModel)]="localWidget.containerHasTitle"
                            >
                        <label for="checkTitle">Has Title</label>
                    </div>
                </div>

                <div class="gridButtonCancel">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose()"
                        >
                        Cancel
                    </button>
                </div>
                <div class="gridButtonSave">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickSave()"
                        >
                        Save
                    </button>
                </div>

                <div class="gridShape" *ngIf="showCircle">
                    <svg height="300" width="300">
                        <circle
                            [style.cx]="150"
                            [style.cy]="150"
                            [style.r]="100"
                            [style.stroke]="localWidget.shapeStroke"
                            [style.stroke-width.px]="localWidget.shapeStrokeWidth"
                            [style.fill]="localWidget.shapeFill"
                            />
                    </svg>
                </div>

                <div class="gridShape" *ngIf="showEllipse">
                    <svg height="300" width="300">
                        <ellipse
                        [style.cx]="150"
                        [style.cy]="150"
                        [style.rx]="120"
                        [style.ry]="80"
                        [style.stroke]="localWidget.shapeStroke"
                        [style.stroke-width.px]="localWidget.shapeStrokeWidth"
                        [style.fill]="localWidget.shapeFill"
                    />
                    </svg>
                </div>

                <div class="gridShape" *ngIf="showRectangle">
                    <svg width="300" height="300">
                        <rect
                            [style.x]="50"
                            [style.y]="100"
                            [style.height.px]="100"
                            [style.width.px]="200"
                            [style.stroke]="localWidget.shapeStroke"
                            [style.stroke-width.px]="localWidget.shapeStrokeWidth"
                            [style.fill]="localWidget.shapeFill"
                            [style.opacity]="localWidget.shapeOpacity"
                            [style.rx]="localWidget.shapeCorner"
                            [style.ry]="localWidget.shapeCorner"
                            />
                    </svg>
                </div>

                <div class="gridShape" *ngIf="showText"
                    [style.color]="localWidget.shapeTextColour"
                    [style.font-style]="localWidget.shapeIsItalic? 'italic' : 'normal'"
                    [style.font-weight]="localWidget.shapeIsBold? 'bold' : 'normal'"
                    [style.font-family]="localWidget.shapeFontFamily"
                    [style.font-size.px]="localWidget.shapeFontSize"
                    style="display: block; padding: 5px;"

                    >
                    {{ localWidget.shapeText }}
                    <!-- <svg width="300" height="300">
                        <text
                            x="20"
                            y="150"
                            [style.fill]="localWidget.shapeTextColour"
                            [style.color]="localWidget.shapeTextColour"
                            >
                            {{ localWidget.shapeText }}
                        </text>
                    </svg> -->
                </div>
                <!-- points="0, 10 10, 0 10, 5 20, 5 20, 15 10, 15 10, 20 0, 10" -->
                <!-- points="30, 40 40, 30 40, 35 50, 35 50, 45 40, 45 40, 50 30, 40" -->

                <!-- [style.height]="localWidget.shapeSvgHeight" -->
                <!-- [style.width]="localWidget.shapeSvgWidth" -->

                <!-- [style.transform]="'rotate(' + localWidget.shapeRotation + 'deg)'" -->
                <!-- [style.transform]="'scale(' + localWidget.shapeSize + ' ' + localWidget.shapeSize + ')'" -->
                <!-- viewBox="0 0 30 30" -->
    

                <!-- [style.transform]="'rotate(' + localWidget.shapeRotation + 'deg)'" -->


                <div class="gridShape" *ngIf="showArrow"
                    >
                    <!-- TODO - Makey this DYNAMIC !!!  -->
                    <svg class="gridShapeArrow" *ngIf="localWidget.shapeSize==1  
                            &&  
                            localWidget.shapeRotation==0"
                        height="100"
                        width="100"
                        viewBox="5 5 95 95"
                        style="display: block;"
                        >
                        <polygon
                        points="0, 10 10, 0 10, 5 20, 5 20, 15 10, 15 10, 20 0, 10"
                        [style.fill]="localWidget.shapeFill"
                        [style.stroke]="localWidget.shapeStroke"
                        viewBox="0 0 20 20"
                        stroke-width:1
                        />
                    </svg>
                    <svg class="gridShapeArrow" *ngIf="localWidget.shapeSize==1  
                            &&  
                            localWidget.shapeRotation==45"
                        height="100"
                        width="100"
                        viewBox="5 5 95 95"
                        style="display: block;"
                        >
                        <polygon
                        points="0, 10 10, 0 10, 5 20, 5 20, 15 10, 15 10, 20 0, 10"
                        [style.fill]="localWidget.shapeFill"
                        [style.stroke]="localWidget.shapeStroke"
                        viewBox="0 0 20 20"
                        transform="rotate(45 11 11) scale(1 1)"
                        stroke-width:1
                        />
                    </svg>
                    <svg class="gridShapeArrow" *ngIf="row.shapeSize==1  
                            &&  
                            row.shapeRotation==90"
                        height="100"
                        width="100"
                        viewBox="5 5 95 95"
                        style="display: block;"
                        >
                        <polygon
                        points="0, 10 10, 0 10, 5 20, 5 20, 15 10, 15 10, 20 0, 10"
                        [style.fill]="row.shapeFill"
                        [style.stroke]="row.shapeStroke"
                        viewBox="0 0 20 20"
                        transform="rotate(90 11 11) scale(1 1)"
                        stroke-width:1
                        />
                    </svg>
                    <svg class="gridShapeArrow" *ngIf="row.shapeSize==1  
                            &&  
                            row.shapeRotation==135"
                        height="100"
                        width="100"
                        viewBox="5 5 95 95"
                        style="display: block;"
                        >
                        <polygon
                        points="0, 10 10, 0 10, 5 20, 5 20, 15 10, 15 10, 20 0, 10"
                        [style.fill]="row.shapeFill"
                        [style.stroke]="row.shapeStroke"
                        viewBox="0 0 20 20"
                        transform="rotate(135 11 11) scale(1 1)"
                        stroke-width:1
                        />
                    </svg>
                    <svg class="gridShapeArrow" *ngIf="row.shapeSize==1  
                            &&  
                            row.shapeRotation==180"
                        height="100"
                        width="100"
                        viewBox="5 5 95 95"
                        style="display: block;"
                        >
                        <polygon
                        points="0, 10 10, 0 10, 5 20, 5 20, 15 10, 15 10, 20 0, 10"
                        [style.fill]="row.shapeFill"
                        [style.stroke]="row.shapeStroke"
                        viewBox="0 0 20 20"
                        transform="rotate(180 11 11) scale(1 1)"
                        stroke-width:1
                        />
                    </svg>
                    <svg class="gridShapeArrow" *ngIf="row.shapeSize==1  
                            &&  
                            row.shapeRotation==225"
                        height="100"
                        width="100"
                        viewBox="5 5 95 95"
                        style="display: block;"
                        >
                        <polygon
                        points="0, 10 10, 0 10, 5 20, 5 20, 15 10, 15 10, 20 0, 10"
                        [style.fill]="row.shapeFill"
                        [style.stroke]="row.shapeStroke"
                        viewBox="0 0 20 20"
                        transform="rotate(225 11 11) scale(1 1)"
                        stroke-width:1
                        />
                    </svg>
                    <svg class="gridShapeArrow" *ngIf="row.shapeSize==1  
                            &&  
                            row.shapeRotation==270"
                        height="100"
                        width="100"
                        viewBox="5 5 95 95"
                        style="display: block;"
                        >
                        <polygon
                        points="0, 10 10, 0 10, 5 20, 5 20, 15 10, 15 10, 20 0, 10"
                        [style.fill]="row.shapeFill"
                        [style.stroke]="row.shapeStroke"
                        viewBox="0 0 20 20"
                        transform="rotate(270 11 11) scale(1 1)"
                        stroke-width:1
                        />
                    </svg>
                    <svg class="gridShapeArrow" *ngIf="row.shapeSize==1  
                            &&  
                            row.shapeRotation==315"
                        height="100"
                        width="100"
                        viewBox="5 5 95 95"
                        style="display: block;"
                        >
                        <polygon
                        points="0, 10 10, 0 10, 5 20, 5 20, 15 10, 15 10, 20 0, 10"
                        [style.fill]="row.shapeFill"
                        [style.stroke]="row.shapeStroke"
                        viewBox="0 0 20 20"
                        transform="rotate(315 11 11) scale(1 1)"
                        stroke-width:1
                        />
                    </svg>


                    <svg class="gridShapeArrow" *ngIf="localWidget.shapeSize==2  
                            &&  
                            localWidget.shapeRotation==0"
                        height="100"
                        width="100"
                        viewBox="5 5 95 95"
                        style="display: block;"
                        >
                        <polygon
                        points="0, 10 10, 0 10, 5 20, 5 20, 15 10, 15 10, 20 0, 10"
                        [style.fill]="localWidget.shapeFill"
                        [style.stroke]="localWidget.shapeStroke"
                        viewBox="0 0 20 20"
                        transform="scale(2 2)"
                        stroke-width:1
                        />
                    </svg>
                    <svg class="gridShapeArrow" *ngIf="localWidget.shapeSize==2  
                            &&  
                            localWidget.shapeRotation==45"
                        height="100"
                        width="100"
                        viewBox="5 5 95 95"
                        style="display: block;"
                        >
                        <polygon
                        points="0, 10 10, 0 10, 5 20, 5 20, 15 10, 15 10, 20 0, 10"
                        [style.fill]="localWidget.shapeFill"
                        [style.stroke]="localWidget.shapeStroke"
                        viewBox="0 0 20 20"
                        transform="rotate(45 16 21) scale(2 2)"
                        stroke-width:1
                        />
                    </svg>
    
                    <!-- <svg class="gridShapeArrow"
                        height="100"
                        width="100"
                        viewBox="5 5 95 95"
                        style="display: block;"
                        >
                        <polygon
                        points="0, 10 10, 0 10, 5 20, 5 20, 15 10, 15 10, 20 0, 10"
                        [style.fill]="localWidget.shapeFill"
                        [style.stroke]="localWidget.shapeStroke"
                        viewBox="0 0 20 20"
                        transform="rotate(45 16 21) scale(2 2)"
                        stroke-width:1
                        />
                    </svg> -->
                </div>

                <div class="gridShape" *ngIf="showArrowThin"
                    >
                    <svg width="300" height="300"
                        [style.transform]="'rotate(' + localWidget.shapeRotation + 'deg)'"
                        >
                        <defs
                            [style.stroke]="localWidget.shapeStroke"                                >
                            >
                            <marker 
                                id="arrowThin" 
                                markerWidth="10" 
                                markerHeight="10" 
                                refX="0" 
                                refY="3" 
                                orient="auto" 
                                markerUnits="strokeWidth"
                                [style.stroke]="localWidget.shapeStroke"                                >
                            <path 
                                d="M0,0 L0,6 L9,3 z" 
                                [style.fill]="localWidget.shapeStroke"
                                [style.stroke]="localWidget.shapeStroke"
                                />
                            </marker>
                        </defs>

                        <line 
                            x1="100" 
                            y1="100" 
                            x2="100" 
                            y2="155" 
                            [style.stroke]="localWidget.shapeStroke"
                            stroke-width="3" 
                            marker-end="url(#arrowThin)" 
                            />
                    </svg>
                </div>

                <div class="gridShape" *ngIf="showImage">
                    <img [style.height.px]="100"
                        [style.width.px]="100"
                        [style.margin-left.px]="100"
                        [style.margin-top.px]="100"
                        [src]="localWidget.shapeImageUrl"
                        >
                </div>

                <div class="gridShape" *ngIf="showBullets">
                    <ul *ngIf="!localWidget.shapeBulletsOrdered"
                        [style.color]="localWidget.shapeTextColour"
                        [style.list-style-type]="localWidget.shapeBulletStyleType"
                        [style.margin-left.px]="30"
                        [style.margin-top.px]="30"
                        [style.font-family]="localWidget.shapeFontFamily"
                        [style.font-size.px]="localWidget.shapeFontSize"
                        >
                        <li *ngFor="let row of localWidget.shapeBullets; let i = index"
                            [style.margin-bottom.px]="localWidget.shapeBulletMarginBottom"
                            (click)="clickBulletEdit(i, row)"
                            >
                            <clr-icon shape="times"
                                (click)="clickBulletDelete(i, row)">
                            </clr-icon>
                            {{ row }}
                        </li>
                    </ul>
                    <ol *ngIf="localWidget.shapeBulletsOrdered"
                        [style.margin-left.px]="30"
                        [style.margin-top.px]="30"
                        [style.font-family]="localWidget.shapeFontFamily"
                        [style.font-size.px]="localWidget.shapeFontSize"
                        >
                        <li *ngFor="let row of localWidget.shapeBullets; let i = index"
                            [style.margin-bottom.px]="localWidget.shapeBulletMarginBottom"
                            (click)="clickBulletEdit(i, row)"
                            >
                            <clr-icon shape="times"
                                (click)="clickBulletDelete(i, row)">
                            </clr-icon>
                            {{ row }}
                        </li>
                    </ol>
                </div>

                <div class="gridShape" *ngIf="showValue">
                    <div [style.height.px]="100"
                        [style.color]="localWidget.shapeTextColour"
                        [style.font-style]="localWidget.shapeIsItalic? 'italic' : 'normal'"
                        [style.font-weight]="localWidget.shapeIsBold? 'bold' : 'normal'"
                        [style.font-family]="localWidget.shapeFontFamily"
                        [style.font-size.px]="localWidget.shapeFontSize"
                        [style.margin-left.px]="30"
                        [style.margin-top.px]="120"
                        [style.color]="localWidget.shapeStroke"
                        >
                        {{ localWidget.shapeText }}
                    </div >
                </div>

                <div class="gridShapeProperties" *ngIf="showCircle">

                    <div class="gridCircleLineColourTitle">
                        <b>Line:</b>
                    </div>
                    <div class="select gridCircleLineColour">
                        <select
                            [(ngModel)]="localWidget.shapeStroke"
                            (change)="clickSelectCircleLineColor($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                [selected]="selected"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <button
                        type="button"
                        class="btn btn-link btn-sm gridCircleLineColourPicker"
                        (click)="clickSelectCircleLineColorPicker()"
                        >
                        Picker
                    </button>

                    <div class="gridCircleThickness">
                        <b>Line thickness:</b>
                        <input type="text"
                            placeholder="3"
                            [(ngModel)]="localWidget.shapeStrokeWidth"
                            >
                    </div>

                    <div class="gridCircleFillColourTitle">
                        <b>Fill Colour:</b>
                    </div>
                    <div class="select gridCircleFillColour">
                        <select
                            [(ngModel)]="localWidget.shapeFill"
                            (change)="clickSelectCircleFillColor($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                [selected]="selected"
                                class="showColour"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <button
                        type="button"
                        class="btn btn-link btn-sm gridCircleFillColourPicker"
                        (click)="clickSelectCircleFillColorPicker()"
                        >
                        Picker
                    </button>

                </div>

                <div class="gridShapeProperties" *ngIf="showEllipse">
                    <div class="gridEllipseLineColourTitle">
                        <b>Line:</b>
                    </div>

                    <div class="select gridEllipseLineColour">
                        <select
                            [(ngModel)]="localWidget.shapeStroke"
                            (change)="clickSelectEllipseLineColor($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                [selected]="selected"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <button
                        type="button"
                        class="btn btn-link btn-sm gridEllipseLineColourPicker"
                        (click)="clickSelectEllipseLineColorPicker()"
                        >
                        Picker
                    </button>
                    <div class="gridEllipseThickness">
                        <b>Line thickness:</b>
                        <input type="text"
                            placeholder="3"
                            [(ngModel)]="localWidget.shapeStrokeWidth"
                            >
                    </div>
                    <div class="gridEllipseFillColourTitle">
                        <b>Fill Colour:</b>
                    </div>

                    <div class="select gridEllipseFillColour">
                        <select
                            [(ngModel)]="localWidget.shapeFill"
                            (change)="clickSelectEllipseFillColor($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                [selected]="selected"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <button
                        type="button"
                        class="btn btn-link btn-sm gridEllipseFillColourPicker"
                        (click)="clickSelectEllipseFillColorPicker()"
                        >
                        Picker
                    </button>
                </div>

                <div class="gridShapeProperties" *ngIf="showRectangle">

                    <div class="gridRectangleLineColourTitle">
                        <b>Line:</b>
                    </div>
                    <div class="select gridRectangleLineColour">
                        <select
                            [(ngModel)]="localWidget.shapeStroke"
                            (change)="clickSelectRectangleLineColor($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                [selected]="selected"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <button
                        type="button"
                        class="btn btn-link btn-sm gridRectangleLineColourPicker"
                        (click)="clickSelectRectangleLineColorPicker()"
                        >
                        Picker
                    </button>
                    <div class="gridRectangleThickness">
                        <b>Line thickness:</b>
                        <input type="text"
                            placeholder="3"
                            [(ngModel)]="localWidget.shapeStrokeWidth"
                            >
                    </div>

                    <div class="gridRectangleFillColourTitle">
                        <b>Fill Colour:</b>
                    </div>
                    <div class="select gridRectangleFillColour">
                        <select
                            [(ngModel)]="localWidget.shapeFill"
                            (change)="clickSelectRectangleFillColor($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                [selected]="selected"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <button
                        type="button"
                        class="btn btn-link btn-sm gridRectangleFillColourPicker"
                        (click)="clickSelectRectangleFillColorPicker()"
                        >
                        Picker
                    </button>

                    <div class="gridRectangleOpacity">
                        <b>Fill Opacity:</b>
                        <input type="text"
                            placeholder="0=opaque, 1=solid"
                            [(ngModel)]="localWidget.shapeOpacity"
                            >
                    </div>
                    <div class="gridRectangleCorners">
                        <b>Corners:</b>
                        <input type="text"
                            placeholder="Corner Size in px"
                            [(ngModel)]="localWidget.shapeCorner"
                            >
                    </div>
                </div>

                <div class="gridShapeProperties" *ngIf="showText">
                    <div class="gridTextString">
                        <b>Text input:</b>
                        <input type="text"
                            placeholder="The brown fox ..."
                            [(ngModel)]="localWidget.shapeText"
                            [autofocus]="hasAutoFocusText"
                            >
                    </div>
                    <button
                        type="button"
                        class="btn btn-link btn-sm gridTextStringClear"
                        (click)="clickTextStringClear()"
                        >
                        Clear
                    </button>

                    <div class="gridTextFontSize">
                        <b>Font Size:</b>
                        <input type="text"
                            placeholder="50 (in px)"
                            [(ngModel)]="localWidget.shapeFontSize"
                            >
                    </div>
                    <div class="gridTextFontFamily">
                        <b>Font Family:</b>
                        <input type="text"
                            placeholder="Arial, serif"
                            [(ngModel)]="localWidget.shapeFontFamily"
                            >
                    </div>
                    <div class="gridTextBold">
                        <b>Bold?:</b>
                        <input type="checkbox"
                            [(ngModel)]="localWidget.shapeIsBold"
                            >
                    </div>
                    <div class="gridTextItalic">
                        <b>Italic?:</b>
                        <input type="checkbox"
                            [(ngModel)]="localWidget.shapeIsItalic"
                            >
                    </div>

                    <div class="gridTextColourTitle">
                        <b>Text:</b>
                    </div>
                    <div class="select gridTextColour">
                        <select
                            [(ngModel)]="localWidget.shapeFill"
                            (change)="clickSelectTextColor($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                [selected]="selected"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <button
                        type="button"
                        class="btn btn-link btn-sm gridTextColourPicker"
                        (click)="clickSelectTextColorPicker()"
                        >
                        Picker
                    </button>

                </div>

                <div class="gridShapeProperties" *ngIf="showArrow">
                    <div class="gridArrowArea">
                        <b>Direction:</b>
                        <input type="text" [(ngModel)]="localWidget.shapeRotation"
                            placeholder="Degrees rotation"
                            [autofocus]="hasAutoFocusArrow"
                            >
                    </div>

                    <div class="gridArrowFillColourTitle">
                        <b>Fill:</b>
                    </div>
                    <div class="select gridArrowFillColour">
                        <select
                            [(ngModel)]="localWidget.shapeFill"
                            (change)="clickSelectArrowFill($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                [selected]="selected"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <button
                        type="button"
                        class="btn btn-link btn-sm gridArrowFillColourPicker"
                        (click)="clickSelectArrowFillColorPicker()"
                        >
                        Picker
                    </button>
                    <div class="gridArrowLineColourTitle">
                        <b>Line:</b>
                    </div>
                    <div class="select gridArrowLineColour">
                        <select
                            [(ngModel)]="localWidget.shapeStroke"
                            (change)="clickSelectArrowLineColor($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                [selected]="selected"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <button
                        type="button"
                        class="btn btn-link btn-sm gridArrowLineColourPicker"
                        (click)="clickSelectArrowLineColorPicker()"
                        >
                        Picker
                    </button>

                    <div class="gridArrowSizeTitle">
                        <b>Size:</b>
                    </div>
                    <div class="select gridArrowSize">
                        <select
                            [(ngModel)]="localWidget.shapeSize"
                            (change)="clickSelectArrowSize($event)"
                            >
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <!-- Later - when DYNAMIC -->
                            <!-- <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option> -->
                        </select>
                    </div>

                </div>

                <div class="gridShapeProperties" *ngIf="showArrowThin">
                    <div class="gridArrowThinArea">
                        <b>Direction:</b>
                        <input type="text" [(ngModel)]="localWidget.shapeRotation"
                            placeholder="Degrees rotation"
                            [autofocus]="hasAutoFocusArrowThin"
                            >
                    </div>

                    <div class="gridArrowThinColourTitle">
                        <b>Line:</b>
                    </div>
                    <div class="select gridArrowThinColour">
                        <select
                            [(ngModel)]="localWidget.shapeStroke"
                            (change)="clickSelectArrowThinColor($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                [selected]="selected"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <button
                        type="button"
                        class="btn btn-link btn-sm gridArrowThinColourPicker"
                        (click)="clickSelectArrowThinColorPicker()"
                        >
                        Picker
                    </button>

                </div>

                <div class="gridShapeProperties" *ngIf="showImage">
                    <div class="gridImage">
                        <b>Image:</b>
                        <input type="text"
                            [(ngModel)]="localWidget.shapeImageUrl"
                            placeholder="Co. logo"
                            [autofocus]="hasAutoFocusImage"
                            >
                    </div>
                </div>

                <div class="gridShapeProperties" *ngIf="showBullets">
                    <div class="gridBulletsFontSize">
                        <b>Font Size:</b>
                        <input type="text"
                            placeholder="50 (px)"
                            [(ngModel)]="localWidget.shapeFontSize"
                            [autofocus]="hasAutoFocusBullets"
                            >
                    </div>
                    <div class="gridBulletsFontFamily">
                        <b>Font Family:</b>
                        <input type="text"
                            placeholder="Arial, serif"
                            [(ngModel)]="localWidget.shapeFontFamily"
                            >
                    </div>
                    <div class="gridBulletsItemMarker">
                        <b>Item Marker:</b>
                        <input type="text"
                            placeholder="disc, circle, square, none"
                            [(ngModel)]="localWidget.shapeBulletStyleType"
                            >
                    </div>
                    <button
                        type="button"
                        class="btn btn-link btn-sm gridBulletsIncrease"
                        (click)="clickSelectBulletsIncrease()"
                        >
                        Increase
                    </button>
                    <button
                        type="button"
                        class="btn btn-link btn-sm gridBulletsDecrease"
                        (click)="clickSelectBulletsDecrease()"
                        >
                        Decrease
                    </button>
                    <div class="gridBulletsOrdered">
                        <b>Ordered?:</b>
                        <input type="text"
                            placeholder="true, false"
                            [(ngModel)]="localWidget.shapeBulletsOrdered"
                            >
                    </div>
                    <div class="gridBulletsInput">
                        <b>Item:</b>
                        <input [(ngModel)]="bulletValue">
                    </div>

                    <div class="gridBulletsColourTitle">
                        <b>Text:</b>
                    </div>
                    <div class="select gridBulletsColour">
                        <select
                            [(ngModel)]="localWidget.shapeFill"
                            (change)="clickSelectBulletsColor($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                [selected]="selected"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <button
                        type="button"
                        class="btn btn-link btn-sm gridBulletsColourPicker"
                        (click)="clickSelectBulletsColorPicker()"
                        >
                        Picker
                    </button>

                    <button type="button" class="btn btn-link gridBulletsButton">
                        <span *ngIf="editBulletItem" (click)="clickUpdate()">Update</span>
                        <span *ngIf="!editBulletItem" (click)="clickAdd()">Add</span>
                    </button>
                </div>

                <div class="gridShapeProperties" *ngIf="showValue">
                    <div class="gridValueInDS">
                        <b>In Datasource:</b>
                        <select id="selects_3"
                            (change)="clickSelectShape($event)"
                            >
                            <option>Budget 2017-2018 Reviewed</option>
                            <option>Sales</option>
                            <option>Testing</option>
                        </select>

                        <br>
                        Take the
                        <select id="selects_3"
                            (change)="clickSelectShape($event)"
                            >
                            <option>Sum</option>
                            <option>Average</option>
                            <option>Count.px]="6"
                                .px]="6"</option>
                            <option>First</option>
                            <option>Last</option>
                            <option>Max</option>
                            <option>Min</option>
                        </select>

                        <b>of Field:</b>
                        <select id="selects_3"
                            (change)="clickSelectShape($event)"
                            >
                            <option>Date</option>
                            <option>Miles Per Gallon</option>
                            <option>Make</option>
                        </select>
                    </div>

                    <div class="gridValueFontSize">
                        <b>Font Size:</b>
                        <input type="text"
                            placeholder="50 (px)"
                            [(ngModel)]="localWidget.shapeFontSize"
                            [autofocus]="hasAutoFocusValue"
                            >
                    </div>
                    <div class="gridValueFontFamily">
                        <b>Font Family:</b>
                        <input type="text"
                            placeholder="Arial, serif"
                            [(ngModel)]="localWidget.shapeFontFamily"
                            >
                    </div>
                    <div class="gridValueBold">
                        <b>Bold?:</b>
                        <input type="checkbox"
                            [(ngModel)]="localWidget.shapeIsBold"
                            >
                    </div>
                    <div class="gridValueItalic">
                        <b>Italic?:</b>
                        <input type="checkbox"
                            [(ngModel)]="localWidget.shapeIsItalic"
                            >
                    </div>

                    <div class="gridValueLineColourTitle">
                        <b>Colour:</b>
                    </div>

                    <div class="select gridValueLineColour">
                        <select
                            [(ngModel)]="localWidget.shapeStroke"
                            (change)="clickSelectValueLineColor($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                [selected]="selected"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <button
                        type="button"
                        class="btn btn-link btn-sm gridValueLineColourPicker"
                        (click)="clickSelectValueLineColorPicker()"
                        >
                        Picker
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

