<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">
    
                <div>
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
    
                    Shape
                    <div>Filters:</div>
                    <div class="propertyLine">
                        Type:
					</div>
                    <div class="propertyLine">
                        Position and Size:
                        <input type="text" id="formFields_7" placeholder="Left">
                        <input type="text" id="formFields_7" placeholder="Top">
                        <input type="text" id="formFields_7" placeholder="Height">
                        <input type="text" id="formFields_7" placeholder="Height">
                    </div>
                    <div class="propertyLine">
                        Border:
                        <input type="text" id="formFields_7" placeholder="By me">
                    </div>
                    <div class="propertyLine">
                        Background Colour:
                        <input type="text" id="formFields_7" placeholder="By me">
                    </div>
                    <div class="propertyLine">
                        Image:
                        <input type="text" id="formFields_7" placeholder="By me">
                    </div>
                    <div class="propertyLine">
                        Text:
                        <input type="text" id="formFields_7" placeholder="Text">
                        <input type="text" id="formFields_7" placeholder="Font Size">
                        <input type="text" id="formFields_7" placeholder="Font Family">
                        <input type="text" id="formFields_7" placeholder="Bold">
                        <input type="text" id="formFields_7" placeholder="Italic">
                        <input type="text" id="formFields_7" placeholder="Underline">
                        <input type="text" id="formFields_7" placeholder="Alignment">
                    </div>
                    <div class="propertyLine">
                        Direction:
                        <input type="text" id="formFields_7" placeholder="Arrow / Line">
                    </div>

                </div>  
            </div>  
        </div>  
    </div>  
    
