<div #slicerDOM
    [style.zindex]="100"
    (click)="clickSlicer(i)"
    >
    <div class="slicerContainerDragHandle"
    draggable="false"
    [style.background-color]="slicer.isSelected? 'rgb(238, 236, 236)' : 'transparent'"
    [style.width.px]="slicer.containerWidth-14"
    >
    <div *ngFor="let d of slicer.slicerSelection; let i = index" class="slicerItem"
        [style.background-color]="d.isSelected ? 'rgb(199, 199, 199)' : 'white'"
        >
        <input type="checkbox" 
            id="checkbox" 
            [checked]="d.isSelected" 
            (click)="clickSlicerItem(i,slicer.id,slicer.datasourceID,slicer.datasetID,d.fieldValue)"            
            >
        <label for="checkbox"
            [style.background-color]="d.isSelected ? 'rgb(199, 199, 199)' : 'white'"
            >
            {{ d.fieldValue }}
        </label>
    </div>
</div>

</div>
