<div class="modal modalBox">
	<div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
		<div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>

                <div class="slicerTitle">
                    <b>Slicer Editor</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                This form allows for the adding of a new Slicer, or the editing
                                of an existing Slicer.  Select the Datasource that must be sliced
                                (filtered) in the left hand table.  Then select the field from 
                                the list provided.  Enhance the slicer (i.e. sorting), and then 
                                select the detail values to be filtered on (in case all the values
                                are not used).  Last, format the slicer in the right hand area.
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>

                <div class="datasourceList">
                    <div class="headerLine">
                        Current Datasources
                    </div>
                    <clr-datagrid class="fieldsDataGrid datagrid-compact">
                        <clr-dg-placeholder>
                            No records ...
                        </clr-dg-placeholder>

                        <clr-dg-row
                            *ngFor="let row of currentDatasources; let i = index"
                            (click)="clickDatasource(row.id, i)"
                            >
                            <clr-dg-cell>
                                {{row.name}}
                            </clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div>

                <div class="fieldList">
                    <div class="headerLine">
                        Fields for datasource
                    </div>
                    <clr-datagrid class="fieldsDataGrid datagrid-compact">
                        <clr-dg-placeholder>
                            No records ...
                        </clr-dg-placeholder>

                        <clr-dg-row
                            *ngFor="let row of dataFields; let i = index"
                            (click)="clickDataFields(row.id, i)"
                            >
                            <clr-dg-cell>
                                {{ row }}
                            </clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div>

                <div class="valueCriteria">

                    <clr-icon shape="bars" (click)="showNumber=true"></clr-icon>
                    <label>Show: </label> <i> {{ slicerNumberToShow }} </i>
                    <div class="select textLine" *ngIf="showNumber">
                        <select (click)="clickShowNumber($event.target.value)">
                            <option>All</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>

                    <br>
                    <clr-icon shape="bars" (click)="showSortFields=true"></clr-icon>
                    <label>Sort on: </label> <i> {{ slicerSortField }} </i>
                    <div class="select textLine" *ngIf="showSortFields">
                        <select (click)="clickSortField($event.target.value)">
                            <option *ngFor="let row of dataFields; let i = index">
                                {{ row }}
                            </option>
                        </select>
                    </div>

                    <br>
                    <clr-icon shape="bars" (click)="showSortFieldOrder=true"></clr-icon>
                    <label>Sort order: </label> <i> {{ slicerSortFieldOrder }} </i>
                    <div class="select textLine" *ngIf="showSortFieldOrder">
                        <select (click)="clickSortFieldOrder($event.target.value)">
                            <option>Ascending</option>
                            <option>Descending</option>
                        </select>
                    </div>

                    <br>
                    <div>
                        <clr-icon shape="bars" (click)="showSlicerType=true"></clr-icon>
                        <label>Type: </label> <i> {{ slicerType }} </i>
                        <div class="select textLine" *ngIf="showSlicerType">
                            <select (click)="clickSlicerType($event.target.value)">
                                <option>List</option>
                                <option *ngIf="showMultipleBins">Bins</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="valueList" *ngIf="slicerType=='List'">
                    <div class="headerLine">
                        Values for Field
                    </div>
                    <span>
                        <input type="checkbox" id="selecteAll" class="selecteAll"
                            (click)="clickSelectAll($event)"
                            >
                        <label for="selecteAll"><i>Select All</i></label>

                    </span>
                    <clr-datagrid class="fieldsDataGrid datagrid-compact">
                        <clr-dg-placeholder>
                            No records ...
                        </clr-dg-placeholder>

                        <clr-dg-row
                            *ngFor="let row of dataValues; let i = index"

                            >
                            <clr-dg-cell>
                                <input type="checkbox"
                                    [checked]="row.isSelected"
                                    (click)="clickDataValue(row.id, i, $event)"
                                    >
                                {{ row.fieldValue }}
                            </clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div>

                <div class="valueList" *ngIf="slicerType=='Bins'">
                    <div class="headerLine">
                        Bins
                    </div>
                    <clr-datagrid class="fieldsDataGrid datagrid-compact">
                        <clr-dg-placeholder>
                            No records ...
                        </clr-dg-placeholder>

                        <clr-dg-row
                            *ngFor="let row of dataBins; let i = index"

                            >
                            <clr-dg-cell>
                                <input type="checkbox"
                                    [checked]="row.isSelected"
                                    (click)="clickDataBins(row.id, i, $event)"
                                    >
                                    {{ row.name }} :
                                    {{ row.fromValue }} to
                                    {{ row.toValue }}

                            </clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div>

                <div class="formBody">
                    <label for="selects_4">Select a format:</label>
                    <div class="select textLine">
                        <select id="selects_3"
                            (change)="clickSelectStep($event)"
                            >
                            <option>Single select list</option>
                            <option>Multi-select</option>
                            <option>Slider</option>
                        </select>
                    </div>
                    <label for="selects_4">Select a font-size:</label>
                    <div class="select textLine">
                        <select id="selects_3"
                            (change)="clickSelectStep($event)"
                            >
                            <option>Small</option>
                            <option>Medium</option>
                            <option>Large</option>
                        </select>
                    </div>

                    <div class="hasTitle">
                        <div class="checkbox">
                                <input type="checkbox"
                                    id="checkTitle"
                                    [(ngModel)]="containerHasTitle"
                                    >
                            <label for="checkTitle">Has Title</label>
                        </div>
                    </div>

                    <div class="gridBgColorTitle">
                        Bg Colour:
                    </div>
                    <div class="select gridBgColor">
                        <select [(ngModel)]="selectedColor"
                            name="backgroundColor"
                            >
                            <option *ngFor="let row of colors"
                                [style.background-color]="row.name"
                                size="25"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>

                    <div class="slicerAddRest" *ngIf="showContainerslicerAddRest">
                        <div class="checkbox">
                                <input type="checkbox"
                                    id="checkSlicerAddRest"
                                    [(ngModel)]="containerslicerAddRest"
                                    >

                            <label for="checkSlicerAddRest">Add Rest</label>
                        </div>
                        <div>
                            <i>
                                Note: The Rest has no impact when all the values are selected.
                            </i>
                        </div>
                    </div>

                </div>

                <div class="gridSlicerButtonCancel">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose('Close')"
                        >
                        Cancel
                    </button>
                </div>
                <div class="gridSlicerButtonSave">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickSave()"
                        >
                        Save
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
