
<!-- Status Bar -->
<div class="statusBar">
    <span class="statusBarText statusBarTextBorder"
        title="Current Dashboard"
        (click)="clickDashboardDescription()">
        {{ currentDashboardName }}
    </span>

    <span class="statusBarText statusBarTextBorder"
        title="Click to show Tab List"
        style="width: 47vw;"
        (click)="clickListTabs()"
          >
        Tabs :
    </span>
    <span class="statusBarText statusBarTextBorder"
        title="Click to show first Tab"
        style="width: 28vw;"
        >
        <clr-icon shape="angle-double left"
            size="12"
            (click)="clickShowFirstTab()">
        </clr-icon>
    </span>
    <span class="statusBarText statusBarTextBorder"
        title="Click to show previous Tab"
        style="width: 28vw;"
        >
        <clr-icon shape="angle left"
            size="12"
            (click)="clickShowPreviousTab()">
        </clr-icon>
    </span>

    <span class="statusBarText statusBarTextBorder"
        title="Current Tab"
        style="width: 80vw;"
        [style.background-color]="currentTabBackgroundColor"
        [style.color]="currentTabColor"
        (click)="clickShowTabDescription()"
        >
        <b>{{ currentTabName }}</b>
    </span>
    <span class="statusBarText statusBarTextBorder"
        title="Click to show next Tab "
        style="width: 28vw;"
        (click)="clickShowNextTab()"
        >
        <clr-icon shape="angle right" size="12"></clr-icon>
    </span>
    <span class="statusBarText statusBarTextBorder"
        title="Click show last Tab"
        style="width: 28vw;"
        (click)="clickShowLastTab()"
        >
        <clr-icon shape="angle-double right" size="12"></clr-icon>
    </span>

    <span class="statusBarText statusBarTextBorder"
        title="Click to Add a new Tab"
        style="width: 28vw;"
        >
        <clr-icon shape="plus"
            size="12"
            (click)="clickTabAdd()">
        </clr-icon>
    </span>

    <span class="statusBarText"
        title="State of Dashboard: Complete or Draft"
        style="width: 77vw;"
        >
        {{ state }}
    </span>

    <span class="statusBarText"
        title="How long ago the Dashboard layout was updated"
        style="width: 77vw;"
        >
        Updated: 1d
    </span>
    <span class="statusBarText"
        title="When last all the data in the Dashboard was refresh"
        style="width: 98vw;"
        >
        Refreshed: 08:31
    </span>
    <span [ngSwitch]="editMode" class="statusBarText statusBarTextBorder"
        style="width: 66vw;"
        (click)="clickToggleEditMode()"
        >
        <b    *ngSwitchCase="true" title="Changes can be done in Edit Mode">Edit Mode </b>
        <span *ngSwitchDefault title="View only mode means no changes can be made">View-Only     </span>
    </span>

    <!-- TODO - fix the 2 below when we get to long running queries -->
    <span *ngIf="statusBarRunning" class="statusBarText"
        title="Indicate long-running queries in the background"
        style="width: 63vw;"
        >
        {{ statusBarRunning }}
    </span>
    <span *ngIf="statusBarRunning"  class="statusBarText statusBarTextBorder"
        title="Click to cancel a running query"
        style="width: 51vw;"
        >
        {{ statusBarCancelRefresh }}
    </span>
    <span *ngIf="widgetGroupText"  class="statusBarText statusBarTextBorder"
        title="Show nr of widgets grouped together"
        style="width: 51vw;"
        (click)="clickWigetGroup()"
        >
        {{ widgetGroupText }}
    </span>
    <span class="statusBarText"
        title="Canvas-Server currently logged into"
        style="width: 46vw;"
        >
        {{ loggedIntoServerText }}
    </span>
    <span class="statusBarText"
        title="Canvas version"
        style="width: 44vw;"
        >
      V 1.02
    </span>
    <span *ngIf="templateInUse" class="statusBarText"
        title="Indicates that a Template is being used (which is readonly)"
        style="width: 66vw;"
        >
      {{ templateInUse }}
    </span>
    <A HREF="javascript:window.print()">Print</A>
    <span class="statusBarText"
        title="Short message.  If more than one, it will indicate the last one"
        style="width: 41vw;"
        [style.color]="statusBarMessageColour"
        >
      {{ statusBarMessageText }}
    </span>

    <span *ngIf="dontDisturb"  class="statusBarText statusBarTextBorder"
        title="Show when DONT DISTURB is on"
        style="width: 51vw; color: red;"
        (click)="clickToggleDontDisturb()"
        >
        DONT DISTURB
    </span>
</div>



<!-- Tab List -->
<div class="tabList" *ngIf="showTabList">
    <div class="tabListItem" *ngFor="let row of currentDashboardTabs; let i = index"
        (click)="selectDashboardTab(i)"
        >
        <clr-icon shape="arrow"
            size="12"
            (click)="clickMoveTabUp(i)">
        </clr-icon>
        <clr-icon shape="arrow down"
            size="12"
            (click)="clickMoveTabDown(i)">
        </clr-icon>
        <span
            [style.background-color]="row.backgroundColor"
            [style.color]="row.color"
            >
            {{row.name}}
        </span>

    </div>
    <button style="color: white"
        type="button"
        class="btn btn-link"
        (click)="showTabList=!showTabList"
        >
        Close
    </button>

</div>


<!-- Dashboard Description -->
<div class="dashboardDescription" *ngIf="showDashboardDescription">
    <div> {{ dashboardDescription }}</div>
    <button style="color: white"
        type="button"
        class="btn btn-link"
        (click)="showDashboardDescription=!showDashboardDescription"
        >
        Close
    </button>

</div>


<!-- Dashboard Tab Description -->
<div class="dashboardTabDescription" *ngIf="showDashboardTabDescription">
    <div>  
        <b>
            Tab: {{ dashboardTabDescription }} 
        </b>
    </div>
    <button style="color: white"
        type="button"
        class="btn btn-link"
        (click)="clickTabEdit()"
        >
        Edit
    </button>
    <button style="color: white"
        type="button"
        class="btn btn-link"
        (click)="clickTabDuplicate()"
        >
        Duplicate
    </button>
    <button style="color: white"
        type="button"
        class="btn btn-link"
        (click)="clickTabDelete()"
        >
        Delete
    </button>
    <button style="color: white"
        type="button"
        class="btn btn-link"
        (click)="showDashboardTabDescription=!showDashboardTabDescription"
        >
        Close
    </button>

</div>


<!-- Modal: New Tab -->
<dashboard-tab
    class="formPopupDashboard"
    *ngIf="showNewTab"
    [newTab]="newTab"
    (formDashboardTabClosed)="handleCloseDashboardTab($event)">Load Dashboard Tab ...
</dashboard-tab>
