/* Status Bar */
.statusBar {
    background-color: #192b35;
    bottom: 0;
    color: rgb(197, 194, 194);
    display: inline-block;
    font-family: Metropolis,Avenir Next,Helvetica Neue,Arial,sans-serif;
    font-size: .45rem;
    height: 1rem !important;;
    margin: 0 !important;
    opacity: 1;
    padding: 0 !important;
    position: fixed;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    z-index: 60;
}

    .statusBarTextBorder {
        border-top: 1px solid rgb(129, 128, 128);
        border-left: 1px solid rgb(129, 128, 128);
        border-right: 2px solid rgb(75, 74, 74);
        border-bottom: 2px solid rgb(75, 74, 74);
        color: white;
        cursor: pointer;
    }

    .statusBarText {
        background-color: #293841;;;
        bottom: 0.5rem !important;
        height: 0.6rem !important;
        margin: 0 2px 0 2px !important;
        padding: 0 5px 0 5px !important;
    }


/* Dashboards and Tabs */
.dashboardDescription {
    background-color: #192b35;
    border-radius: 3px;
    bottom: 0.1rem;
    color:  white;
    display: inline-block;
    left: 0.9rem;
    overflow: hidden;
    padding: 4px;
    position: absolute;
    width: 12rem;
    z-index: 60;
}

    .newTab {
        background: rgb(236, 235, 235);
        bottom: 0;
        border: 1px solid black;
        border-radius: 5px;
        left: 20px;
        width: 16rem;
        z-index: 60;
    z-index: 60;
    }

    .tabList {
        background-color: #192b35;
        bottom: 0.1rem;
        color:  white;
        display: inline-block;
        left: 5.5rem;
        padding: 4px;
        position: absolute;
        z-index: 60;
    }

    .tabListItem {
        border: 1px solid white;
        padding-left: 5px;
        padding-right: 5px;
        z-index: 60;
    }

    .dashboardTabDescription {
        background-color: #192b35;
        border-radius: 3px;
        bottom: 0.1rem;
        color:  white;
        display: inline-block;
        left: 9.8rem;
        overflow: hidden;
        padding: 4px;
        position: absolute;
        width: 12rem;
        z-index: 60;
    }
