<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <button type="button" class="closeButton" (click)="clickClose()">
                X
            </button>

            <div class="gridOverall">

                <div class="gridTitle">
                    <b>System Settings: </b> <i>  For networked installatons, these settings are done
                    on the server.</i>
                </div>

                <div class="gridCompanyTitle">
                    <b>Company</b>
                </div>

                    <div class="gridCompanyName">
                        <b>Name:</b>
                        <input [(ngModel)]="companyName"
                            type="text"
                            id="formFields_7"
                            placeholder="Company Name"
                            size="25"
                            >
                    </div>

                    <div class="gridCompanyLogo">
                        <b>Logo:</b>
                        <input [(ngModel)]="companyLogo"
                            type="text"
                            id="formFields_7"
                            placeholder="Company Logo"
                            size="25"
                            >
                    </div>

                    <div class="gridCompanyTemplate">
                        <b>Template:</b>
                        <input [(ngModel)]="dashboardTemplate"
                            type="text"
                            id="formFields_7"
                            placeholder="Default Template"
                            size="20"
                            >
                    </div>

                <div class="gridMessagingTitle">
                    <b>Messaging:</b>
                </div>

                    <div class="gridNotInEditModeMsg">
                        <b>EditMode:</b>
                        <input [(ngModel)]="notInEditModeMsg"
                            type="text"
                            id="formFields_7"
                            placeholder="notInEditModeMsg"
                            size="25"
                            >
                    </div>

                    <div class="gridNoQueryRunningMessage">
                        <b>No Query:</b>
                        <input [(ngModel)]="noQueryRunningMessage"
                            type="text"
                            id="formFields_7"
                            placeholder="NoQueryRunningMessage"
                            size="25"
                            >
                    </div>

                    <div class="gridQueryRunningMessage">
                        <b>Query:</b>
                        <input [(ngModel)]="queryRunningMessage"
                            type="text"
                            id="formFields_7"
                            placeholder="QueryRunningMessage"
                            size="25"
                            >
                    </div>

                <div class="gridOfflineTitle">
                    <b>Working Offline:</b>
                </div>

                    <div class="gridOfflineDataTitle">
                        <b>Data:</b>
                    </div>
                    <div class="gridOfflineData">
                        <input [(ngModel)]="offlineData"
                            type="checkbox"
                            title="Store server data locally (T/F)"
                            >
                    </div>

                    <div class="gridOfflineSchemaTitle">
                        <b>Schema:</b>
                    </div>
                    <div class="gridOfflineSchema">
                        <input [(ngModel)]="offlineSchema"
                            type="checkbox"
                            title="Store server schema locally (T/F)"
                            >
                    </div>

                    <div class="gridOfflineLoginTitle">
                        <b>Login:</b>
                    </div>
                    <div class="gridOfflineLogin">
                        <input [(ngModel)]="offlineLogin"
                            type="checkbox"
                            title="Can log into a local server (T/F)"
                            >
                    </div>

                <div class="gridTableTitle">
                    <b>Tables</b>
                </div>

                <div class="gridTableLength">
                    <b>Max length:</b>
                    <input [(ngModel)]="maxTableLength"
                        type="text"
                        id="formFields_7"
                        placeholder="Max Table Length (500)"
                        size="5"
                        >
                </div>

                <div class="gridWidgetTitle">
                    <b>Widgets</b>
                </div>

                    <div class="gridWidgetTemplate">
                        <input
                            type="text"
                            id="formFields_7"
                            placeholder="Widget Template (later)"
                            size="25"
                            >
                    </div>

                    <div class="gridWidgetMinZindex">
                        <b>Min Widget Zindex:</b>
                        <input [(ngModel)]="widgetsMinZindex"
                            type="text"
                            id="formFields_7"
                            placeholder="Widgets Min Zindex"
                            size="5"
                            >
                    </div>

                    <div class="gridWidgetMaxZindex">
                        <b>Max Widget Zindex:</b>
                        <input [(ngModel)]="widgetsMaxZindex"
                            type="text"
                            id="formFields_7"
                            placeholder="Widgets Max Zindex"
                            size="5"
                            >
                    </div>

                <div class="gridGridTitle">
                    <b>Grid:</b>
                </div>

                    <div class="gridGridSize">
                        <b>Size:</b>
                        <input [(ngModel)]="gridSize"
                            type="text"
                            id="formFields_7"
                            placeholder="Size of the Grid"
                            size="5"
                            >
                    </div>

                    <div class="gridGridSnap">
                        Snap to Grid:
                        <input [(ngModel)]="snapToGrid"
                            type="checkbox"
                            id="formFields_7"
                            title="Snap to grid (T/F)"
                            >
                    </div>

                <div class="gridPrintTitle">
                    <b>Printing:</b>
                </div>
                    
                    <div class="gridPrintDefault">
                        <input [(ngModel)]="printDefault" type="text"
                            id="formFields_7"
                            placeholder="Default: Local HP"
                            size="25"
                            >
                    </div>
                    <div class="gridPrintSize">
                        <input [(ngModel)]="printSize" type="text"
                            id="formFields_7"
                            placeholder="Default Page Size: A4"
                            size="25"
                            >
                    </div>
                    <div class="gridPrintLayout">
                        <input [(ngModel)]="printLayout" type="text"
                            id="formFields_7"
                            placeholder="Default Layout: Single page, B and W"
                            size="25"
                            >
                    </div>

                <div class="gridButtonCancel">
                        <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose('Close')"
                        >
                        Cancel
                    </button>
                </div>
                <div class="gridButtonSave">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickSave('Close')"
                        >
                        Save
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

