<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <button type="button" class="closeButton" (click)="clickClose()">
                X
            </button>


            <div class="gridOverall">
                <div class="gridTitle">
                    System Settings.  <i>For networked installatons, these settings are done
                    on the server.</i>
                </div>

                <div class="gridCompanyTitle">
                    Company
                </div>

                <div class="gridCompanyName">
                    <input
                    type="text"
                    id="formFields_7"
                    placeholder="Company Name"
                    >
                </div>

                <div class="gridCompanyLogo">
                    <input
                    type="text"
                    id="formFields_7"
                    placeholder="Company Logo"
                    >
                </div>
        
                <div class="gridCompanyTemplate">
                    <input
                        type="text"
                        id="formFields_7"
                        placeholder="Default Template"
                        >
                </div>

                <div class="gridMessagingTitle">
                    Messaging:                        
                </div>

                <div class="gridMessagingNoQuery">
                    <input
                        type="text"
                        id="formFields_7"
                        placeholder="NoQueryRunningMessage"
                        >
                </div>

                <div class="gridMessagingRunning">
                    <input
                        type="text"
                        id="formFields_7"
                        placeholder="QueryRunningMessage"
                        >
                </div>

                <div class="gridOfflineTitle">
                    Working Offline                    
                </div>
                <div class="gridOfflineData">
                    <input
                        type="text"
                        id="formFields_7"
                        placeholder="Store server data locally (T/F)"
                        >
                </div>
                <div class="gridOfflineSchema">
                    <input
                        type="text"
                        id="formFields_7"
                        placeholder="Store server schema locally (T/F)"
                        >
                </div>
                <div class="gridOfflineLogin">
                    <input
                        type="text"
                        id="formFields_7"
                        placeholder="Can log into a local server (T/F)"
                        >
                </div>

Tables                        
                    maxTableLength

Widgets
                    widgetTemplate
                    widgetsMinZindex
                    widgetsMaxZindex

Grid                        
                    gridSize
                    snapToGrid

Printing
                <div class="propertyLine">
                    Default Printer for this Dashboard
                    <input type="text" id="formFields_7" placeholder="Local HP">
                </div>
                <div class="propertyLine">
                    Default Page size
                    <input type="text" id="formFields_7" placeholder="A4">
                </div>
                <div class="propertyLine">
                    Default layout
                    <input type="text" id="formFields_7" placeholder="Single page">
                </div>
                <div class="propertyLine">
                    Default colour
                    <input type="text" id="formFields_7" placeholder="Black and White">
                </div>

            </div>
        </div>
    </div>
</div>

