.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.closeButton {
    background-color: transparent;
    border: none;
    left: 0;
    position: relative;
    top: 0;
}


.gridOverall {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-auto-rows: 0.8rem;
    margin-top: 2px;
}

.gridTitle {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    margin-bottom: 0;
    text-align: left;
}

.gridCompanyTitle {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    margin-bottom: 0;
    text-align: left;
}


.gridCompanyName {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    margin-bottom: 0;
    text-align: left;
}

.gridCompanyLogo {
    grid-column-start: 7;
    grid-column-end: 14;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    margin-bottom: 0;
    text-align: left;
}

.gridCompanyTemplate {
    grid-column-start: 14;
    grid-column-end: 21;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    margin-bottom: 0;
    text-align: left;
}

gridMessagingTitle {
    grid-column-start: 14;
    grid-column-end: 21;
    grid-row-start: 7;
    grid-row-end: 8;
    display: grid;
    margin-bottom: 0;
    text-align: left;
}

gridMessagingNoQuery {
    grid-column-start: 14;
    grid-column-end: 21;
    grid-row-start: 8;
    grid-row-end: 9;
    display: grid;
    margin-bottom: 0;
    text-align: left;
}

gridMessagingRunning {
    grid-column-start: 14;
    grid-column-end: 21;
    grid-row-start: 8;
    grid-row-end: 9;
    display: grid;
    margin-bottom: 0;
    text-align: left;
}

gridOfflineTitle {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 10;
    grid-row-end: 11;
    display: grid;
    margin-bottom: 0;
    text-align: left;
}

gridOfflineData {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 12;
    display: grid;
    margin-bottom: 0;
    text-align: left;
}

gridOfflineSchema {
    grid-column-start: 7;
    grid-column-end: 14;
    grid-row-start: 11;
    grid-row-end: 12;
    display: grid;
    margin-bottom: 0;
    text-align: left;
}

gridOfflineLogin {
    grid-column-start: 14;
    grid-column-end: 21;
    grid-row-start: 11;
    grid-row-end: 12;
    display: grid;
    margin-bottom: 0;
    text-align: left;
}

gridTableTitle {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 13;
    grid-row-end: 14;
    display: grid;
    margin-bottom: 0;
    text-align: left;
}

gridTableLength {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 14;
    grid-row-end: 15;
    display: grid;
    margin-bottom: 0;
    text-align: left;
}

gridWidgetTitle {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 16;
    grid-row-end: 17;
    display: grid;
    margin-bottom: 0;
    text-align: left;
}

gridWidgetTemplate {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 17;
    grid-row-end: 18;
    display: grid;
    margin-bottom: 0;
    text-align: left;
}

gridWidgetMinZindex {
    grid-column-start: 7;
    grid-column-end: 14;
    grid-row-start: 17;
    grid-row-end: 18;
    display: grid;
    margin-bottom: 0;
    text-align: left;
}

gridWidgetMaxZindex {
    grid-column-start: 14;
    grid-column-end: 21;
    grid-row-start: 17;
    grid-row-end: 18;
    display: grid;
    margin-bottom: 0;
    text-align: left;
}
