<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <button type="button" class="closeButton" (click)="clickClose()">
                X
            </button>

            <div class="gridOverall">
                
                <div class="gridTitle">
                    System Settings:  For networked installatons, these settings are done
                    on the server.
                </div>

                <div class="gridCompanyTitle">
                    <b>Company:</b>
                </div>

                <div class="gridCompanyName">
                    <input [(ngModel)]="companyName"
                    type="text"
                    id="formFields_7"
                    placeholder="Company Name"
                    >
                </div>

                <div class="gridCompanyLogo">
                    <input [(ngModel)]="companyLogo"
                    type="text"
                    id="formFields_7"
                    placeholder="Company Logo"
                    >
                </div>

                <div class="gridCompanyTemplate">
                    <input [(ngModel)]="dashboardTemplate"
                        type="text"
                        id="formFields_7"
                        placeholder="Default Template"
                        >
                </div>

                <div class="gridMessagingTitle">
                    <b>Messaging:</b>
                </div>

                <div class="gridMessagingNoQuery">
                    <input [(ngModel)]="noQueryRunningMessage"
                        type="text"
                        id="formFields_7"
                        placeholder="NoQueryRunningMessage"
                        >
                </div>

                <div class="gridMessagingRunning">
                    <input [(ngModel)]="queryRunningMessage"
                        type="text"
                        id="formFields_7"
                        placeholder="QueryRunningMessage"
                        >
                </div>

                <div class="gridOfflineTitle">
                    <b>Working Offline:</b>
                </div>

                <div class="gridOfflineData">
                    <input [(ngModel)]="offlineData"
                        type="text"
                        id="formFields_7"
                        placeholder="Store server data locally (T/F)"
                        >
                </div>

                <div class="gridOfflineSchema">
                    <input [(ngModel)]="offlineSchema"
                        type="text"
                        id="formFields_7"
                        placeholder="Store server schema locally (T/F)"
                        >
                </div>

                <div class="gridOfflineLogin">
                    <input [(ngModel)]="offlineLogin"
                        type="text"
                        id="formFields_7"
                        placeholder="Can log into a local server (T/F)"
                        >
                </div>

                <div class="gridTableTitle">
                    <b>Tables:</b>
                </div>

                <div class="gridTableLength">
                    <input [(ngModel)]="maxTableLength"
                        type="text"
                        id="formFields_7"
                        placeholder="Max Table Length (500)"
                        >
                </div>

                <div class="gridWidgetTitle">
                    <b>Widgets:</b>
                </div>

                <div class="gridWidgetTemplate">
                    <input [(ngModel)]=""
                        type="text"
                        id="formFields_7"
                        placeholder="Widget Template"
                        >
                </div>

                <div class="gridWidgetMinZindex">
                    <input [(ngModel)]="widgetsMinZindex"
                        type="text"
                        id="formFields_7"
                        placeholder="Widgets Min Zindex"
                        >
                </div>

                <div class="gridWidgetMaxZindex">
                    <input [(ngModel)]="widgetsMaxZindex"
                        type="text"
                        id="formFields_7"
                        placeholder="Widgets Max Zindex"
                        >
                </div>

                <div class="gridGridTitle">
                    <b>Grid:</b>
                </div>

                <div class="gridGridSize">
                    <input [(ngModel)]="gridSize"
                        type="text"
                        id="formFields_7"
                        placeholder="Size of the Grid"
                        >
                </div>

                <div class="gridGridSnap">
                    <input [(ngModel)]="snapToGrid"
                        type="text"
                        id="formFields_7"
                        placeholder="Snap to grid (T/F)"
                        >
                </div>

                <div class="gridPrintTitle">
                    <b>Printing:</b>
                </div>
                <div class="gridPrintDefault">
                    <input [(ngModel)]="printDefault" type="text" 
                        id="formFields_7" 
                        placeholder="Deflt: Local HP"
                        >
                </div>
                <div class="gridPrintSize">
                    <input [(ngModel)]="printSize" type="text" 
                        id="formFields_7" 
                        placeholder="Deflt Page Size: A4"
                        >
                </div>
                <div class="gridPrintLayout">
                    <input [(ngModel)]="printLayout" type="text" 
                        id="formFields_7" 
                        placeholder="Deflt Layout: Single page, B and W"
                        >
                </div>

                <div class="gridButtonCancel">
                        <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose('Close')"
                        >
                        Cancel
                    </button>
                </div>
                <div class="gridButtonSave">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickSave('Close')"
                        >
                        Save
                    </button>
                </div>
    
            </div>
        </div>
    </div>
</div>

