.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(23, 0.8rem);
    margin-top: 2px;
}
    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 1;
        /* autoprefixer: off */
        grid-row-end: 2;
        text-align: left;
    }
    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 1;
        /* autoprefixer: off */
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }

    .gridCompanyTitle {
        font-size: 0.65rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
        text-align: left;
    }

        .gridCompanyName {
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 6;
            grid-row-start: 4;
            /* autoprefixer: off */
            grid-row-end: 5;
            margin-left: 20px;
            text-align: left;
        }

        .gridCompanyLogo {
            grid-column-start: 7;
            /* autoprefixer: off */
            grid-column-end: 12;
            grid-row-start: 4;
            /* autoprefixer: off */
            grid-row-end: 5;
            margin-left: 20px;
            text-align: left;
        }

        .gridCompanyTemplate {
            grid-column-start: 13;
            /* autoprefixer: off */
            grid-column-end: 18;
            grid-row-start: 4;
            /* autoprefixer: off */
            grid-row-end: 5;
            margin-left: 20px;
            text-align: left;
        }

    .gridMessagingTitle {
        font-size: 0.65rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 6;
        /* autoprefixer: off */
        grid-row-end: 7;
        text-align: left;
    }

        .gridNotInEditModeMsg {
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 6;
            grid-row-start: 7;
            /* autoprefixer: off */
            grid-row-end: 8;
            margin-left: 20px;
            text-align: left;
        }

        .gridNoQueryRunningMessage {
            grid-column-start: 7;
            /* autoprefixer: off */
            grid-column-end: 12;
            grid-row-start: 7;
            /* autoprefixer: off */
            grid-row-end: 8;
            margin-left: 20px;
            text-align: left;
        }

        .gridQueryRunningMessage {
            grid-column-start: 13;
            /* autoprefixer: off */
            grid-column-end: 18;
            grid-row-start: 7;
            /* autoprefixer: off */
            grid-row-end: 8;
            margin-left: 20px;
            text-align: left;
        }

    .gridTableTitle {
        font-size: 0.65rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 9;
        /* autoprefixer: off */
        grid-row-end: 12;
        text-align: left;
    }

        .gridTableLength {
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 6;
            grid-row-start: 10;
            /* autoprefixer: off */
            grid-row-end: 11;
            margin-left: 20px;
            text-align: left;
        }

    .gridWidgetTitle {
        font-size: 0.65rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 12;
        /* autoprefixer: off */
        grid-row-end: 13;
        text-align: left;
    }

        .gridWidgetTemplate {
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 6;
            grid-row-start: 13;
            /* autoprefixer: off */
            grid-row-end: 14;
            margin-left: 20px;
            text-align: left;
        }

        .gridWidgetMinZindex {
            grid-column-start: 7;
            /* autoprefixer: off */
            grid-column-end: 12;
            grid-row-start: 13;
            /* autoprefixer: off */
            grid-row-end: 14;
            margin-left: 20px;
            text-align: left;
        }

        .gridWidgetMaxZindex {
            grid-column-start: 13;
            /* autoprefixer: off */
            grid-column-end: 18;
            grid-row-start: 13;
            /* autoprefixer: off */
            grid-row-end: 14;
            margin-bottom: 0;
            margin-left: 20px;
            text-align: left;
        }

    .gridGridTitle {
        font-size: 0.65rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 15;
        /* autoprefixer: off */
        grid-row-end: 16;
        text-align: left;
    }

        .gridGridSize {
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 6;
            grid-row-start: 16;
            /* autoprefixer: off */
            grid-row-end: 17;
            margin-left: 20px;
            text-align: left;
        }

        .gridGridSnap {
            grid-column-start: 7;
            /* autoprefixer: off */
            grid-column-end: 12;
            grid-row-start: 16;
            /* autoprefixer: off */
            grid-row-end: 19;
            margin-left: 20px;
            text-align: left;
        }

    .gridPrintTitle {
        font-size: 0.65rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 18;
        /* autoprefixer: off */
        grid-row-end: 19;
        text-align: left;
    }

        .gridPrintDefault {
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 6;
            grid-row-start: 19;
            /* autoprefixer: off */
            grid-row-end: 20;
            margin-left: 20px;
            text-align: left;
        }

        .gridPrintSize {
            grid-column-start: 7;
            /* autoprefixer: off */
            grid-column-end: 12;
            grid-row-start: 19;
            /* autoprefixer: off */
            grid-row-end: 20;
            margin-left: 20px;
            text-align: left;
        }

        .gridPrintLayout {
            grid-column-start: 13;
            /* autoprefixer: off */
            grid-column-end: 18;
            grid-row-start: 19;
            /* autoprefixer: off */
            grid-row-end: 20;
            margin-left: 20px;
            text-align: left;
        }

    .gridButtonCancel {
        grid-column-start: 5;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 22;
        /* autoprefixer: off */
        grid-row-end: 23;
        text-align: left;
    }

    .gridButtonSave {
        grid-column-start: 12;
        /* autoprefixer: off */
        grid-column-end: 14;
        grid-row-start: 22;
        /* autoprefixer: off */
        grid-row-end: 23;
        text-align: left;
    }
