.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.closeButton {
    background-color: transparent;
    border: none;
    left: 0;
    position: relative;
    top: 0;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(26, 0.8rem);
    margin-top: 2px;
}

    .gridTitle {
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: left;
    }

    .gridCompanyTitle {
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 3;
        grid-row-end: 4;
        text-align: left;
    }

        .gridCompanyName {
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 4;
            grid-row-end: 5;
            text-align: left;
        }

        .gridCompanyLogo {
            grid-column-start: 7;
            grid-column-end: 13;
            grid-row-start: 4;
            grid-row-end: 5;
            text-align: left;
        }

        .gridCompanyTemplate {
            grid-column-start: 14;
            grid-column-end: 21;
            grid-row-start: 4;
            grid-row-end: 5;
            text-align: left;
        }

    .gridMessagingTitle {
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 6;
        grid-row-end: 7;
        text-align: left;
    }

        .gridMessagingNoQuery {
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 7;
            grid-row-end: 8;
            text-align: left;
        }

        .gridMessagingRunning {
            grid-column-start: 7;
            grid-column-end: 13;
            grid-row-start: 7;
            grid-row-end: 8;
            text-align: left;
        }

    .gridOfflineTitle {
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 9;
        grid-row-end: 10;
        text-align: left;
    }

        .gridOfflineData {
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 10;
            grid-row-end: 11;
            text-align: left;
        }

        .gridOfflineSchema {
            grid-column-start: 7;
            grid-column-end: 13;
            grid-row-start: 10;
            grid-row-end: 11;
            text-align: left;
        }

        .gridOfflineLogin {
            grid-column-start: 14;
            grid-column-end: 21;
            grid-row-start: 10;
            grid-row-end: 11;
            text-align: left;
        }

    .gridTableTitle {
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 12;
        grid-row-end: 13;
        text-align: left;
    }

        .gridTableLength {
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 13;
            grid-row-end: 14;
            text-align: left;
        }

    .gridWidgetTitle {
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 15;
        grid-row-end: 16;
        text-align: left;
    }

        .gridWidgetTemplate {
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 16;
            grid-row-end: 17;
            text-align: left;
        }

        .gridWidgetMinZindex {
            grid-column-start: 7;
            grid-column-end: 13;
            grid-row-start: 16;
            grid-row-end: 17;
            text-align: left;
        }

        .gridWidgetMaxZindex {
            grid-column-start: 14;
            grid-column-end: 21;
            grid-row-start: 16;
            grid-row-end: 17;
            margin-bottom: 0;
            text-align: left;
        }

    .gridGridTitle {
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 18;
        grid-row-end: 19;
        text-align: left;
    }

        .gridGridSize {
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 19;
            grid-row-end: 20;
            text-align: left;
        }

        .gridGridSnap {
            grid-column-start: 7;
            grid-column-end: 13;
            grid-row-start: 19;
            grid-row-end: 20;
            text-align: left;
        }

    .gridPrintTitle {
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 21;
        grid-row-end: 22;
        text-align: left;
    }

        .gridPrintDefault {
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 22;
            grid-row-end: 23;
            text-align: left;
        }

        .gridPrintSize {
            grid-column-start: 7;
            grid-column-end: 13;
            grid-row-start: 22;
            grid-row-end: 23;
            text-align: left;
        }

        .gridPrintLayout {
            grid-column-start: 14;
            grid-column-end: 21;
            grid-row-start: 22;
            grid-row-end: 23;
            text-align: left;
        }

        .gridPrintColour {
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 23;
            grid-row-end: 24;
            text-align: left;
        }

        .gridButtonCancel {
            grid-column-start: 7;
            grid-column-end: 9;
            grid-row-start: 25;
            grid-row-end: 26;
            text-align: left;
        }
    
        .gridButtonSave {
            grid-column-start: 13;
            grid-column-end: 15;
            grid-row-start: 25;
            grid-row-end: 26;
            text-align: left;
        }
    