.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.overall {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(26, 0.8rem);
    margin-top: 2px;
}

    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: left;
    }

    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 40;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 30px;
        width: 100%;
    }

    .datasources {
        background-color: white;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 19;
        grid-row-start: 2;
        grid-row-end: 25;
        margin-bottom: 0;
        padding: 0.7rem;   
        z-index: 100;     
    }

        .errorMessage {
            color: red;
            margin-left: 10px;
        }

        .datasourceList {
            border: 1px solid black;
            display: inline-block;
            height: 375px;
            left: 20px;
            margin: 10px;
            overflow-y: scroll;
            position: absolute;
            top: 105px;
            width: 450px;
        }

        .datasourcePreview{
            border: 1px solid black;
            display: inline-block;
            height: 375px;
            left: 510px;
            margin: 10px;
            position: absolute;
            top: 105px;
            width: 600px;
        }

        .datasourceButton {
            float: right;
        }

    .gridSelectedDatasource {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-bottom: 0;
        text-align: center;
    }

    .gridFields {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 26;
        margin-bottom: 0;
        text-align: center;
    }

    .gridButtonContinue {
        grid-column-start: 17;
        /* autoprefixer: off */
        grid-column-end: 19;
        grid-row-start: 24;
        grid-row-end: 25;
        margin: 8px 0 0 15px;
    }

    .gridHasTitle {
        grid-column-start: 7;
        /* autoprefixer: off */
        grid-column-end: 9;
        grid-row-start: 25;
        grid-row-end: 26;
        margin: 0;
        padding: 0 0 0 10px;
    }

    .propertyButton {
        grid-column-start: 9;
        /* autoprefixer: off */
        grid-column-end: 11;
        grid-row-start: 24;
        grid-row-end: 25;
        margin: 8px 0 0 0;
        padding: 0 0 0 10px;
    }

    .gridButtonMore {
        grid-column-start: 9;
        /* autoprefixer: off */
        grid-column-end: 11;
        grid-row-start: 24;
        grid-row-end: 25;
        margin: 8px 0 0 0;
        padding: 0 0 0 10px;
    }

    .propertiesArea {
        background: rgb(231, 230, 230);
        border: 1px solid black;
        grid-column-start: 7;
        /* autoprefixer: off */
        grid-column-end: 12;
        grid-row-start: 4;
        grid-row-end: 25;
        margin-bottom: 0;
        margin-left: 5px;
        padding: 5px;
        text-align: left;
        z-index: 101         
    }
        .popupHeader {
            font-size: .6rem !important;
            margin: 0 0 0 10px !important;
            text-align: center;
        }
        .popupLabel {
            font-size: .5rem !important;
            margin: 8px 0 2px 10px !important;
            width: 3rem !important;
        }
        .popupInput {
            font-size: .5rem !important;
            margin: 0 0 0 10px !important;
        }

    .gridDataTable {
        grid-column-start: 6;
        /* autoprefixer: off */
        grid-column-end: 19;
        grid-row-start: 3;
        grid-row-end: 23;
        margin-bottom: 0;
        margin-left: 12px;
        text-align: center;
        z-index: 100;
    }

    .gridLastRefreshedMsg {
        font-size: 0.4rem;
        grid-column-start: 11;
        /* autoprefixer: off */
        grid-column-end: 17;
        grid-row-start: 25;
        grid-row-end: 26;
        margin-left: 1px;
    }

    .gridButtonCancel {
        grid-column-start: 15;
        /* autoprefixer: off */
        grid-column-end: 17;
        grid-row-start: 24;
        grid-row-end: 25;
        margin: 8px 0 0 15px;
    }
    .gridButtonSave {
        grid-column-start: 17;
        /* autoprefixer: off */
        grid-column-end: 19;
        grid-row-start: 24;
        grid-row-end: 25;
        margin: 8px 0 0 15px;
    }

    .presentationNoSave {
        color: red;
        grid-column-start: 14;
        /* autoprefixer: off */
        grid-column-end: 20;
        grid-row-start: 23;
        grid-row-end: 24;
    }

.sidenav {
    margin: 0 !important;
    padding: 0 !important;
    min-width: 5rem !important;
    border-right: 1px solid black !important;
    width: 100% !important;
}


