<div #tableDOM class="table"
    [style.z-index]="100"
    (click)="clickTable($event)"
    [style.height.px]="table.containerHeight-12"
    [style.width.px]="table.containerWidth-2"
    >
    <div class="tableHolder"
        [style.height.px]="table.containerHasTitle? table.containerHeight-84 : table.containerHeight-58"
        [style.width.px]="table.containerWidth-18"
        >
        <clr-datagrid class="">

            <clr-dg-column *ngFor="let row of dataFieldNames"
                [style.background-color]="calcBackgroundColour(row)"
                (click)="clickColumn($event)">  
                {{row}}
            </clr-dg-column>

            <clr-dg-row *clrDgItems="let row of currentData"
                (click)="clickNrRows($event)">
                <clr-dg-cell *ngFor="let col of dataFieldNames; let i = index"
                    (click)="clickCell($event)">
                    {{ row[col] }}
                </clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer *ngIf="hasTitle">
                <clr-dg-pagination #pagination [clrDgPageSize]="pageSize">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    of {{pagination.totalItems}} records
                </clr-dg-pagination>
            </clr-dg-footer>            

        </clr-datagrid>

    </div>
</div>

