<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="overall">
                <button type="button" class="closeButton" (click)="clickClose()">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Table Editor</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                This form allows for the adding of a new Table, or the editing
                                of an existing Table.  For new Tables, first select the
                                Datasource.  Afterwards, select the fields to show in the
                                table.  Enhance the Table (i.e. sorting) by clicking the
                                More button.
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>

                <div class="gridDatasourceTitle" *ngIf="showDatasourcePopup">
                    Select a <b>Datasources</b> added before, and click Continue.

                    <button *ngIf="hasClicked"
                        class="btn btn-sm btn-secondary datasourceButton"
                        (click)="clickContinue()">
                        Continue
                    </button>

                    <div class="errorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridDatasourceTable">
                        <clr-datagrid>
                            <clr-dg-column >NrWidgets</clr-dg-column>
                            <clr-dg-column >Name</clr-dg-column>
                            <clr-dg-column >Description</clr-dg-column>
                            <clr-dg-row *clrDgItems="let row of currentDatasources;
                                let i = index"
                                [style.background-color]="(i == selectedRowIndex)? '#123456' : 'white'"
                                [style.color]="(i == selectedRowIndex)? 'white' : 'gray'"
                                (click)="clickDSrow(i, row.id)"
                                >
                                <clr-dg-cell>{{ row.nrWidgets }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.name }}</clr-dg-cell>
                                <clr-dg-cell>{{ row.description }}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-footer>
                                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                of {{pagination.totalItems}} rows
                                <clr-dg-pagination #pagination [clrDgPageSize]="7"></clr-dg-pagination>
                            </clr-dg-footer>

                        </clr-datagrid>
                    </div>

                    <div class="gridDatasourcePreview" *ngIf="hasClicked">
                        <clr-datagrid>

                            <clr-dg-column *ngFor="let row of dataFieldNames">{{row}}</clr-dg-column>
                            <clr-dg-row *ngFor="let row of currentData">

                                <clr-dg-cell *ngFor="let col of dataFieldNames; let i = index">
                                        {{ row[col] }}
                                </clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-footer>
                                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                of {{pagination.totalItems}} rows
                                <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                            </clr-dg-footer>

                        </clr-datagrid>
                    </div>
                </div>

                <!-- <div class="gridButtonContinue" *ngIf="showDatasourcePopup">
                    <button class="btn btn-primary"
                        (click)="clickContinue()">
                        Continue
                    </button>
                </div> -->

                <!-- <div class="gridSelectedDatasource" *ngIf="!showDatasourcePopup">
                    <b>Fields for: {{ currentDatasources[0].name }}</b>
                </div> -->

                <div class="gridFields" *ngIf="!showDatasourcePopup">
                    <clr-datagrid [(clrDgSelected)]="selectedRow" [clDgRowSelection]="true">
                        <clr-dg-column [clrDgField]="'filterPivotFields'">Name</clr-dg-column>
                        <clr-dg-row *clrDgItems="let row of dataFieldNames" [clrDgItem]="row">
                            <clr-dg-cell
                                id="fld"
                                draggable="true"
                                >
                                {{ row }}
                            </clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div>

                <div class="gridHasTitle" *ngIf="!showDatasourcePopup">
                    <div class="checkbox">
                        <input type="checkbox" id="checkTitle" [(ngModel)]="containerHasTitle">
                        <label for="checkTitle">Has Title</label>
                    </div>
                </div>

                <div class="propertiesArea" *ngIf="showPropertiesArea">
                    <div for="dashboardName" class="popupHeader">
                        <b>Table properties</b>
                    </div>

                    <br>
                    <label for="backgroundColor" class="popupLabel">
                            BackgroundColor:
                    </label>
                    <select class="popupLabel" id="backgroundColor">
                        <option *ngFor="let row of backgroundColor">
                            {{ row }}
                        </option>
                    </select>

                    <br>
                    <label for="dashboardName" class="popupLabel">
                        Text Color:
                    </label>
                    <select class="popupLabel" id="textColor">
                        <option *ngFor="let row of backgroundColor">
                            {{ row }}
                        </option>
                    </select>

                    <br>
                    <label for="nrColumns" class="popupLabel">
                        Columns:
                    </label>
                    <input type="text"
                        id="nrColumns"
                        placeholder="Nr of Columns"
                        class="popupInput"
                        >

                    <br>
                    <label for="fontSize" class="popupLabel">
                        Font Size:
                    </label>
                    <input type="text"
                        id="fontSize"
                        placeholder="Font Size"
                        class="popupInput"
                        >

                    <br>
                    <label for="tableHeight" class="popupLabel">
                        Height:
                    </label>
                    <input type="text"
                        id="tableHeight"
                        placeholder="Total Table Height"
                        class="popupInput"
                        >

                    <br>
                    <label for="tableHideHeader" class="popupLabel">
                        Hide Header:
                    </label>
                    <input type="text"
                        id="tableHideHeader"
                        placeholder="Hide Header row"
                        class="popupInput"
                        >

                    <br>
                    <label for="tableLeft" class="popupLabel">
                        Left:
                    </label>
                    <input type="text"
                        id="tableLeft"
                        placeholder="Table Left"
                        class="popupInput"
                        >

                    <br>
                    <label for="tableLineHeight" class="popupLabel">
                        Line Height:
                    </label>
                    <input type="text"
                        id="tableLineHeight"
                        placeholder="Line Height"
                        class="popupInput"
                        >

                    <br>
                    <label for="tableRows" class="popupLabel">
                        Rows:
                    </label>
                    <input type="text"
                        id="tableRows"
                        placeholder="Nr of Rows"
                        class="popupInput"
                        >

                    <br>
                    <label for="tableTop" class="popupLabel">
                        Top:
                    </label>
                    <input type="text"
                        id="tableTop"
                        placeholder="Table Top"
                        class="popupInput"
                        >

                    <br>
                    <label for="tableWidth" class="popupLabel">
                        Width:
                    </label>
                    <input type="text"
                        id="tableWidth"
                        placeholder="Table Width"
                        class="popupInput"
                        >

                    <br>
                    <br>
                    <button
                        class="btn btn-sm btn-secondary propertyButton"
                        (click)="clickApplyProperties('Close')">
                        Close
                    </button>

                    <button
                        class="btn btn-sm btn-secondary propertyButton"
                        (click)="clickApplyProperties('Save')">
                        Apply
                    </button>
                </div>

                <div class="gridDataTable" *ngIf="showTable">
                    <clr-datagrid>

                        <clr-dg-column *ngFor="let row of dataFieldNames">{{row}}</clr-dg-column>
                        <clr-dg-row *ngFor="let row of currentData">
                            <clr-dg-cell *ngFor="let col of dataFieldNames; let i = index">
                                    {{ row[col] }}
                            </clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div>

                <div class="gridButtonMore" *ngIf="!showDatasourcePopup">
                    <button
                        type="button"
                        class="btn btn-link"
                        title="Show more table properties"
                        (click)="clickProperties()"
                        >
                        More ...
                    </button>
                </div>

                <div class="gridLastRefreshedMsg" *ngIf="!showDatasourcePopup">
                    Last refreshed: 2017/01/01 08:31
                </div>

                <div class="gridButtonCancel" *ngIf="!showDatasourcePopup">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose()"
                        >
                        Cancel
                    </button>
                </div>
                <div class="gridButtonSave" *ngIf="!showDatasourcePopup">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickSave('Saved')"
                        >
                        Save
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>