.leftMenu {
    background-color: lightgray;
    border: none;
    border-radius: 2px;
    position: absolute;
    left: 0;
    margin: 5px;
    padding: 4px;
    top: 4.5em;
    width: 40px;
    z-index: 2;
}

.leftButton {
    border: 1px solid gray;
}

.tabList {
	position: absolute;
    bottom: 0;
}

.graphy {
    display: inline;
    left: 100px;
    position: absolute;
    top: 80px;
}

.graphy:hover {
    border: 1px dotted gray;
    color: black !important;
}

.widgetHandle {
    color: transparent;
}

.widgetHandle:hover {
    color: black;
}

.graphy {
    display: inline;
    left: 500px;
    position: absolute;
    top: 80px;
}

.graphy1:hover {
    border: 1px dotted gray;
    color: black !important;
}

.showWidget {
    background-color: lightgray;
    height: 100%;
    left: 0;
    top: 4.5em;
    position: absolute;
    width: 100%;
    z-index: 3;
}

