/* Widgets */
.widgetContainer {
    /* border: 1px dotted gray; */
    display: inline-block;
    /* height: 200px; */
    /* left:400px; */
    position: absolute;
    /* width: 250px; */
    padding: 0;
    margin: 0;
}

    .widgetContainer:hover {
        border: 1px dotted black !important;
    }

    .widgetContainer:focus {
        border: 1px dotted black;
    }

    .widget {
        /* border: 1px dotted gray; */
        display: inline-block;
        height: 180px;
        width: 200px;
    }

    .widgetSelectedDrag {
        background-color: transparent;
        border: none !important;
        top: 0;
        position: absolute;
        right: 0;
    }

    .widgetSelectedDrag:hover {
        background-color: darkgray;
        border-right: 2px solid black !important;
        border-top: 2px solid black !important;
        color: white;
    }

    .widgetSelectedResize {
        background-color: transparent;
        border: none !important;
        bottom: 0;
        right: 0;
        position: absolute;
    }

    .widgetSelectedResize:hover {
        background-color: darkgray;
        border-bottom: 2px solid black !important;
        border-right: 2px solid black !important;
        color: white;
    }

.test {
    display: inline-block !important;
    position: absolute;
    width: 50px;
    border: 1px solid gray;
}