<!-- Widgets -->
<div *ngFor="let row of currentWidgets; let i = index" class="widgetContainer"
    #widgetContainter
    [style.background-color]="row.containerBackgroundColor"
    [style.border]="row.isSelected? '2px solid red' : row.containerBorder"
    [style.box-shadow]="row.containerBoxshadow"
    [style.height.px]="row.containerHeight"
    [style.left.px]="row.containerLeft"
    [style.top.px]="row.containerTop"
    [style.width.px]="row.containerWidth"
    [style.zindex]="row.containerZindex"
    >
  
    <div class="widget"
        [style.height.px]="row.containerHeight - 35"
        [style.width.px]="row.containerWidth"
        #widget
        >
        {{ row.id }}
    </div>
</div>
