
<div class="leftMenu">
    <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-xs tooltip-right">
        <img class="leftButton"
            [style.height.px]="30"
            [style.width.px]="30"
            src="../images/FileOpen.png"
            (click)="showGraphs()"
            >
        <span class="tooltip-content">Dashboard</span>
    </span>

    <img class="leftButton"
        [style.height.px]="30"
        [style.width.px]="30"
        src="../images/Tabs.png"
        (click)="showGraphs()"
        >

        <img class="leftButton"
        [style.height.px]="30"
        [style.width.px]="30"
        src="../images/Widget.png"
        (click)="showGraphs()"
        >

        <img class="leftButton"
        [style.height.px]="30"
        [style.width.px]="30"
        src="../images/Data.png"
        (click)="showGraphs()"
        >

        <img class="leftButton"
        [style.height.px]="30"
        [style.width.px]="30"
        src="../images/Explore.png"
        (click)="showGraphs()"
        >

        <img class="leftButton"
        [style.height.px]="30"
        [style.width.px]="30"
        src="../images/Present.png"
        (click)="showGraphs()"
        >

</div>

<div class="btn-group tabList">
    <button class="btn">Tab 1</button>
    <button class="btn">
        <clr-icon shape="plus" size="16"></clr-icon>
    </button>
</div>

<!-- Graphs -->
<span 
    class="graphy">
    <span 
        [style.border] = "showContainerHeader ? '1px black dotted' : 'none'"
        (click)="clickWidget($event)"
        >
        <span #vis>
        </span>  
    </span>  
</span> 

<div 
class="graphy1" 
[style.border] = "showContainerHeader ? '1px black dotted' : 'none'"
(click)="clickWidget($event)"
>
<div #vis1>
</div>  
</div>  

