<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>
                <div class="gridTitle">
                    <b>List of Canvas Users</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                List of Canvas Users.  These are edited by an Administrator.
                                Selecting a user in the left hand list will show the group(s)
                                that he/she belongs to on the right.
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>

                <div class="gridUsers">
                    <clr-datagrid>
                        <clr-dg-column [style.text-align]="'center'">
                            Remove 
                        </clr-dg-column>
                        <clr-dg-column [clrDgField]="'userID'">UserID</clr-dg-column>
                        <clr-dg-column [clrDgField]="'firstName'">FirstName</clr-dg-column>
                        <clr-dg-column [clrDgField]="'lastName'">LastName</clr-dg-column>
                        <clr-dg-column [clrDgField]="'email'">Email</clr-dg-column>
                        <clr-dg-column [clrDgField]="'workNumber'">WorkNumber</clr-dg-column>
                        <clr-dg-column [clrDgField]="'cellNumber'">CellNumber</clr-dg-column>
                        <clr-dg-column [clrDgField]="'isSuperuser'">IsSuperuser</clr-dg-column>
                        <clr-dg-column [clrDgField]="'isStaff'">IsStaff</clr-dg-column>
                        <clr-dg-column [clrDgField]="'isActive'">IsActive</clr-dg-column>

                        <clr-dg-row *clrDgItems="let row of users;
                            let i = index"
                            [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                            [style.color]="(i == selectedRow)? 'white' : 'gray'"
                            (click)="clickRow(i, row.userID)"
                            >
                            <clr-dg-cell>
                                <clr-icon shape="trash"
                                    size="16"
                                    (dblclick)="dblclickDelete(row.id)"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell>{{row.userID}}</clr-dg-cell>
                            <clr-dg-cell>{{row.firstName}}</clr-dg-cell>
                            <clr-dg-cell>{{row.lastName}}</clr-dg-cell>
                            <clr-dg-cell>{{row.email}}</clr-dg-cell>
                            <clr-dg-cell>{{row.workNumber}}</clr-dg-cell>
                            <clr-dg-cell>{{row.cellNumber}}</clr-dg-cell>
                            <clr-dg-cell>{{row.isSuperuser}}</clr-dg-cell>
                            <clr-dg-cell>{{row.isStaff}}</clr-dg-cell>
                            <clr-dg-cell>{{row.isActive}}</clr-dg-cell>
                        </clr-dg-row>

                        <!-- <clr-dg-footer>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                            of {{pagination.totalItems}} rows
                            <clr-dg-pagination #pagination [clrDgPageSize]="5"></clr-dg-pagination>
                        </clr-dg-footer> -->

                    </clr-datagrid>
                </div>

                <div class="gridUserIDTitle">
                    <b>UserID:</b>
                </div>                
                <div class="gridUserID">
                    <input [(ngModel)]="userID"
                        type="text"
                        name="userID"
                        placeholder="Enter userID"
                        size="25"
                        required
                        minlength="3"
                        maxlength="100"
                        >
                </div>

                <div class="gridUserFirstNameTitle">
                    <b>FirstName:</b>
                </div>                
                <div class="gridUserFirstName">
                    <input [(ngModel)]="userFirstName"
                        type="text"
                        name="userFirstName"
                        placeholder="Enter userFirstName"
                        size="25"
                        required
                        minlength="3"
                        maxlength="100"
                        >
                </div>

                <div class="gridButtonSave">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickSave()"
                        >
                        Save
                    </button>
                </div>
                
                <div class="gridButtonAdd">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickAdd()"
                        >
                        Add
                    </button>
                </div>

                <!-- <div class="gridGroupsTitle">
                    <i>Groups that the user belongs to:</i>
                </div> -->
                <div class="gridGroups">
                    <clr-datagrid>
                        <clr-dg-column [clrDgField]="'name'">Groups</clr-dg-column>

                        <clr-dg-row *clrDgItems="let row of groups;
                            let i = index"
                            >
                            <clr-dg-cell>{{ row }}</clr-dg-cell>
                        </clr-dg-row>

                        <clr-dg-footer>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                            of {{pagination.totalItems}} rows
                            <clr-dg-pagination #pagination [clrDgPageSize]="5"></clr-dg-pagination>
                        </clr-dg-footer>

                    </clr-datagrid>
                </div>

                <div class="errorMessage">
                    {{ errorMessage }}
                </div>

                <div class="gridDashboardPermssionsTitle">
                    <b>Existing Direct Dashboard Permissions (via groups excluded)</b>
                </div>
                <div class="gridDashboardPermssions">
                    <clr-datagrid>
                        <clr-dg-column [style.text-align]="'center'">
                            Remove
                        </clr-dg-column>
                        <clr-dg-column [clrDgField]="'dashboardName'">Name</clr-dg-column>
                        <clr-dg-column [clrDgField]="'canViewRight'" class="checkCell">View</clr-dg-column>
                        <clr-dg-column [clrDgField]="'canEditRight'">Edit</clr-dg-column>
                        <clr-dg-column [clrDgField]="'canSaveRight'">Save</clr-dg-column>
                        <clr-dg-column [clrDgField]="'canDeleteRight'">Delete</clr-dg-column>
                        <clr-dg-column [clrDgField]="'canAddDatasource'">Add DS</clr-dg-column>
                        <clr-dg-column [clrDgField]="'canGrantAccess'">Grant Access</clr-dg-column>
                        <clr-dg-column [clrDgField]="'grantor'">Grantor</clr-dg-column>
                        <clr-dg-column [clrDgField]="'grantedOn'">Granted On</clr-dg-column>

                        <clr-dg-row *clrDgItems="let row of dashboardPermissions;
                            let i = index"
                            >
                            <clr-dg-cell>
                                <clr-icon shape="trash"
                                    size="16"
                                    (dblclick)="dblclickDelete(row.id)"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell>{{row.dashboardName}}</clr-dg-cell>
                            <clr-dg-cell class="checkCell">
                                <clr-icon shape="check" *ngIf="row.canViewRight"
                                    size="16"
                                    (dblclick)="clickToggleView(row.id, $event)"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canViewRight"
                                    size="16"
                                    (dblclick)="clickToggleView(row.id, $event)"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell class="checkCell">
                                    <clr-icon shape="check" *ngIf="row.canEditRight"
                                    size="16"
                                    (dblclick)="clickToggleEdit(row.id, $event)"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canEditRight"
                                    size="16"
                                    (dblclick)="clickToggleEdit(row.id, $event)"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell class="checkCell">
                                <clr-icon shape="check" *ngIf="row.canSaveRight"
                                    size="16"
                                    (dblclick)="clickToggleSave(row.id, $event)"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canSaveRight"
                                    size="16"
                                    (dblclick)="clickToggleSave(row.id, $event)"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell class="checkCell">
                                    <clr-icon shape="check" *ngIf="row.canDeleteRight"
                                    size="16"
                                    (dblclick)="clickToggleDelete(row.id, $event)"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canDeleteRight"
                                    size="16"
                                    (dblclick)="clickToggleDelete(row.id, $event)"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell class="checkCell">
                                    <clr-icon shape="check" *ngIf="row.canAddDatasource"
                                    size="16"
                                    (dblclick)="clickToggleAddDS(row.id, $event)"
                                    >
                                </clr-icon>
                                <clr-icon shape="times" *ngIf="!row.canAddDatasource"
                                    size="16"
                                    (dblclick)="clickToggleAddDS(row.id, $event)"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell class="checkCell">
                                <clr-icon shape="check" *ngIf="row.canGrantAccess"
                                size="16"
                                (dblclick)="clickToggleGrantAccess(row.id, $event)"
                                >
                            </clr-icon>
                            <clr-icon shape="times" *ngIf="!row.canGrantAccess"
                                size="16"
                                (dblclick)="clickToggleGrantAccess(row.id, $event)"
                                >
                            </clr-icon>
                        </clr-dg-cell>

                            <clr-dg-cell>{{row.grantor}}</clr-dg-cell>
                            <clr-dg-cell>{{row.grantedOn}}</clr-dg-cell>
                        </clr-dg-row>

                        <clr-dg-footer>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                            of {{pagination.totalItems}} records
                            <clr-dg-pagination
                                #pagination
                                [clrDgPageSize]="4"
                                >
                            </clr-dg-pagination>
                        </clr-dg-footer>

                    </clr-datagrid>

                </div>
            </div>
        </div>
    </div>
</div>

