<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div>
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>

                Working Offline
                <div class="propertyLine">
                    Offline Mode enables you to work on Dashboards without being connected to
                    the server.  When you log back into the server afterwards, all changed
                    Dashboards will be synced back to the server.  Select the Dashboards that
                    must be copied for offline work.  Note that you can only copy Dashboards
                    that are currently in EditMode.
                </div>

                <clr-datagrid>
                    <clr-dg-column>ID</clr-dg-column>
                    <clr-dg-column>Name</clr-dg-column>
                    <clr-dg-column>Data/Schema?</clr-dg-column>

                    <clr-dg-row *ngFor="let row of selectDashboards">
                        <clr-dg-cell>{{row.id}}</clr-dg-cell>
                        <clr-dg-cell>{{row.name}}</clr-dg-cell>
                        <clr-dg-cell>{{row.dataLevel}}</clr-dg-cell>
                    </clr-dg-row>

                </clr-datagrid>

            </div>
        </div>
    </div>
</div>
