<div class="modal modalBox">
        <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">
    
                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>
     
                <div class="gridOverall">
                    <div class="gridTitle">
                        Users
                    </div>
                    <div class="gridSubTitle">
                        <i>
                            List of Canvas Users.  These are edited by an Administrator.
                        </i>
                    </div>
    
                    <div class="gridUsersTitle">
                        <b>Current Users:</b>
                    </div>
                    <div class="gridUsers">
                        <div class="gridPrevious">
                            <clr-datagrid>
                                <clr-dg-column>Delete</clr-dg-column>
                                <clr-dg-column [clrDgField]="id">ID</clr-dg-column>
                                <clr-dg-column [clrDgField]="name">Name</clr-dg-column>
                                <clr-dg-column [clrDgField]="comment">Comment</clr-dg-column>
                                <clr-dg-column>Roll Back</clr-dg-column>
        
                                <clr-dg-row *clrDgItems="let row of users;
                                    let i = index"
                                    (click)="setClickedRow(i)"
                                    [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                                    [style.color]="(i == selectedRow)? 'white' : 'gray'"
                                    >
                                    <clr-dg-row>
                                        <clr-dg-cell>{{row.userID}}</clr-dg-cell>
                                        <clr-dg-cell>{{row.firstName}}</clr-dg-cell>
                                        <clr-dg-cell>{{row.lastName}}</clr-dg-cell>
                                        <clr-dg-cell>{{row.email}}</clr-dg-cell>
                                        <clr-dg-cell>{{row.workNumber}}</clr-dg-cell>
                                        <clr-dg-cell>{{row.cellNumber}}</clr-dg-cell>
                                        <clr-dg-cell>{{row.isSuperuser}}</clr-dg-cell>
                                        <clr-dg-cell>{{row.isStaff}}</clr-dg-cell>
                                        <clr-dg-cell>{{row.isActive}}</clr-dg-cell>
                                    </clr-dg-row>
        
                                <clr-dg-footer>
                                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                    of {{pagination.totalItems}} rows
                                    <clr-dg-pagination #pagination [clrDgPageSize]="5"></clr-dg-pagination>
                                </clr-dg-footer>
        
                            </clr-datagrid>
                        </div>
                    </div>
     
                    <div class="gridGroupsTitle">
                        <i>Groups that the user belongs to:</i>
                    </div>
                    <div class="gridGroups">
                        <clr-datagrid>
                            <clr-dg-column [clrDgField]="id">ID</clr-dg-column>
                            <clr-dg-column [clrDgField]="name">Name</clr-dg-column>
    
                            <clr-dg-row *clrDgItems="let row of groups;
                                let i = index"
                                >
                                <clr-dg-cell>{{row.id}}</clr-dg-cell>
                                <clr-dg-cell>{{row.name}}</clr-dg-cell>
                            </clr-dg-row>
    
                            <clr-dg-footer>
                                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                of {{pagination.totalItems}} rows
                                <clr-dg-pagination #pagination [clrDgPageSize]="5"></clr-dg-pagination>
                            </clr-dg-footer>
    
                        </clr-datagrid>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    