<div class="modal modalBox">
        <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">

                <div>
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>

                    Shape Button Bar

                    <div class="gridOverall">
                        <div class="gridAvailable">
                            Available
                            <nav>
                                <ul class="nav-list">
                                    <div
                                        class="nav-link"
                                        *ngFor="let row of shapeButtonsAvailable; let i = index"
                                        (click)="clickItem(i)"
                                        >
                                        {{ row.buttonText }}
                                    </div>
                                </ul>
                            </nav>
                        </div>
                        <div class="gridSelected">
                            Selected
                            <nav>
                                <ul class="nav-list">
                                    <div
                                        class="nav-link"
                                        *ngFor="let row of shapeButtonsSelected"
                                        >
                                        {{ row.buttonText }}
                                    </div>
                                </ul>
                            </nav>
                        </div>
                        <div class="gridArrowAdd">
                            <button 
                                type="button" 
                                class="btn btn-secondary btn-sm" 
                                (click)="clickAdd()"
                                >
                                Add
                            </button>
                            
                        </div>
                        <div class="gridArrowDelete">
                            <button 
                                type="button" 
                                class="btn btn-secondary btn-sm" 
                                (click)="clickDelete()"
                                >
                                Delete
                            </button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
