.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.closeButton {
    background-color: transparent;
    border: none;
    left: 0;
    position: relative;
    top: 0;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

    .gridAvailable {
        border: 1px dotted gray;
        border-radius: 5px;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 8;
        max-height: 8rem;
        overflow: auto;
    }

    .gridSelected {
        border: 1px dotted gray;
        border-radius: 5px;
        grid-column-start: 10;
        grid-column-end: 16;
        grid-row-start: 1;
        grid-row-end: 8;
        max-height: 8rem;
        overflow: auto;
    }

    .gridArrowAdd {
        grid-column-start: 8;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 4

    }

    .gridArrowDelete {
        grid-column-start: 8;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 6;
    }