Present Dashboards previously created, no editing or drill down, etc
Arrows and List to navigate, to support the story
This is eassentially the Viewer on steroids ...
<div class="btn-group tabList">
    <button class="btn">
        <clr-icon shape="folder-open" size="16"></clr-icon>
    </button>
    <button class="btn">
        <clr-icon shape="arrow right" size="16"></clr-icon>
    </button>
    <button class="btn">
        <clr-icon shape="arrow left" size="16"></clr-icon>
    </button>
    <button class="btn">
        <clr-icon shape="view-list" size="16"></clr-icon>
    </button>
</div>
