.typeIcon1 {
    margin: 20px;
    left: 0px;
    padding: 20px;
}

.typeIcon2 {
    margin: 20px;
    left: 230px;
    padding: 20px;
}

.typeIcon3 {
    margin: 20px;
    left: 460px;
    padding: 20px;
}