.gridColumn {
    margin: 0 !important;
    padding: 0 !important;
}

.nav-list {
    margin: 0 !important;
    padding: 0 !important;
}

.dropdown-toggle {
    margin: 0 !important;
    padding: 0 !important;
}

.nav-group {
    margin: 0 !important;
    padding: 0 !important;
}

.sidenav {
    margin: 0 !important;
    padding: 0 !important;
    min-width: 5rem !important;
    border-right: 1px solid black !important;
    width: 100% !important;
}

.modalBox {
	background-color: rgba(0,0,0,0.4); 
	-shadow: 0 2px 2px 0 lightgray;
}

.dropZoneX {
    border: 2px dotted rgb(98, 98, 153);
    border-radius: 8px;
    height: 2.5em;
    justify-content: center;
    margin: auto;
    text-align: left;
    width: 8rem;
}

.dropZoneY {
    border: 2px dotted rgb(98, 98, 153);
    border-radius: 8px;
    height: 2.5em;
    justify-content: center;
    margin: auto;
    text-align: left;
    width: 100%;
}

.dropZoneColor {
    border: 2px dotted rgb(98, 98, 153);
    border-radius: 8px;
    height: 2.5em;
    justify-content: center;
    margin: auto;
    text-align: left;
    width: 100%;
}

.advancedX {
    background: rgb(231, 230, 230);
    border: 1px solid black;
    left: 10px;
    position: absolute;
    top: 50px;
    width: 12rem;
    z-index: 9000;
}

.popupLabel {
    font-size: .5rem !important;
    margin: 0 0 0 10px !important;
    width: 3rem !important;
}

.popupInput {
    font-size: .5rem !important;
    margin: 0 0 0 10px !important;
    width: 9rem !important;
}

.popupButton {
    width: 40px;
}
