.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(26, 0.8rem);
    margin-top: 2px;
    }

    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 1;
        /* autoprefixer: off */
        grid-row-end: 2;
        text-align: left;
    }

    .helpMessage {
        border: 1px solid gray;
        border-radius: 5px;
        background-color: rgb(204, 204, 245);
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 41;
        grid-row-start: 1;
        /* autoprefixer: off */
        grid-row-end: 6;
        margin: 5px 15px 5px 35px;
        z-index: 100;
    }

    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 41;
        grid-row-start: 1;
        /* autoprefixer: off */
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }

    .gridTitleDashboards {
        grid-column-start: 5;
        /* autoprefixer: off */
        grid-column-end: 8;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
        margin: 2px 2px 6px 20px;
        text-align: left;
    }
    .gridTitleTabs {
        grid-column-start: 19;
        /* autoprefixer: off */
        grid-column-end: 20;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
        margin: 2px 2px 6px 10px;
        text-align: left;
    }
    .gridTitleProperties {
        grid-column-start: 32;
        /* autoprefixer: off */
        grid-column-end: 39;
        grid-row-start: 3;
        /* autoprefixer: off */
        grid-row-end: 4;
        margin: 2px 2px 6px 2px;
        text-align: left;
    }

    .dashboardList {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 13;
        grid-row-start: 4;
        /* autoprefixer: off */
        grid-row-end: 25;
        margin: 2px 2px 2px 20px;
        overflow-y: scroll;
    }

    .tabList {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 13;
        /* autoprefixer: off */
        grid-column-end: 26;
        grid-row-start: 4;
        /* autoprefixer: off */
        grid-row-end: 25;
        margin: 2px 2px 2px 20px;
        overflow-y: scroll;
    }

    .dashboardPropertyHeading {
        margin: 15px 2px 2px 2px;
        text-align: center;
    }

    .dashboardProperties {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 26;
        /* autoprefixer: off */
        grid-column-end: 40;
        grid-row-start: 4;
        /* autoprefixer: off */
        grid-row-end: 21;
        margin: 2px 2px 2px 2px;
    }

        .propertyLineHeader {
            margin: 2px 2px 2px 20px;
        }
        .propertyLine {
            margin: 2px 2px 2px 40px;
        }
        .propertyButton {
            margin: 2px 2px 2px 60px;
        }