<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">
    
                <div>
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
    
                    Widget Notes
                    <div class="propertyLine">
                    </div>
                    <clr-datagrid>
                        <clr-dg-column>Add</clr-dg-column>
                        <clr-dg-column>Edit</clr-dg-column>
                        <clr-dg-column>Delete</clr-dg-column>
                        <clr-dg-column>id</clr-dg-column>
                        <clr-dg-column>noteText</clr-dg-column>
                        <clr-dg-column>updatedBy</clr-dg-column>
                        <clr-dg-column>updatedOn</clr-dg-column>
    
                        <clr-dg-row *ngFor="let row of widgetNotes">
                            <clr-dg-cell>
                                <clr-icon shape="plus" class="selectIcon1" size="12"></clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell>
                                <clr-icon shape="pencil" class="selectIcon1" size="12"></clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell>
                                <clr-icon shape="times" class="selectIcon1" size="12"></clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell>{{row.id}}</clr-dg-cell>
                            <clr-dg-cell>{{row.noteText}}</clr-dg-cell>
                            <clr-dg-cell>{{row.updatedBy}}</clr-dg-cell>
                            <clr-dg-cell>{{row.updatedOn}}</clr-dg-cell>
                        </clr-dg-row>
    
                    </clr-datagrid>
    
                </div>
            </div>
        </div>
    </div>
    