<div class="modal modalBox">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose()">
                    <b>X</b>
                </button>
                <div class="gridTitle">
                    <b>Save Widget as Template:</b>
                </div>

                <div class="gridTextMain">
                    The selected Widget will be added to the list of predefined Widget Templates.
                    Widget Templates simplify the creation of Widgets on a Dashboard:
                    the user simply selects a predefined Widget Template, which is then
                    inserted into the Dashboard without any further work required.  It 
                    automatically adds the relevant Datasource if not already added.
                </div>

                <div class="gridWidgetTemplateNameTitle">
                    <b>Name:</b>
                </div>
                <div class="gridWidgetTemplateName">
                    <input [(ngModel)]="widgetStoreTemplateName"
                        type="text"
                        name="widgetStoreTemplateName"
                        size="45"
                        #deleteSnapshotsVar="ngModel"
                        title="Descriptive Name of the Template"
                        >
                </div>

                <div class="gridWidgetTemplateDescriptionTitle">
                    <b>Description:</b>
                </div>
                <div class="gridWidgetTemplateDescription">
                    <input [(ngModel)]="widgetStoreTemplateDescription"
                        type="text"
                        name="widgetStoreTemplateDescription"
                        size="45"
                        #deleteSnapshotsVar="ngModel"
                        title="Description of the Template (ie what it is used for)"
                        >
                </div>

                <div class="gridErrorMessage">
                    {{ errorMessage }}
                </div>

                <div class="gridButtonCancel">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose()"
                        >
                        Cancel
                    </button>
                </div>
                <div class="gridButtonSave">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickSave()"
                        >
                        Save
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
