<div class="modal modalBox">
	<div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
		<div class="modal-content modalContent">

            <div class="overall">
                <div class="closeButton">
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
                </div>

                <div class="datasources" *ngIf="showDatasourcePopup">
                    Select a <b>Datasources</b> for which the data will be visualised
                    as a Graph or a Table:
                
                    <div class="datasourceList">
                        <nav
                            >
                            <div>
                                <clr-datagrid>
                                    <clr-dg-column >Name</clr-dg-column>
                                    <clr-dg-column >Description</clr-dg-column>
                                    <clr-dg-row *ngFor="let row of currentDatasources"
                                        (click)="clickDSrow(row.id)">
                                        <clr-dg-cell>{{ row.name }}</clr-dg-cell>
                                        <clr-dg-cell>{{ row.description }}</clr-dg-cell>
                                    </clr-dg-row>
                                </clr-datagrid>
                            </div>
                        </nav>
                    </div>

                    <div class="datasourcePreview">
                        <div>
                            <clr-datagrid class="gridIdentifyDataPreviewGrid">

                                <clr-dg-column *ngFor="let row of dataFieldNames">{{row}}</clr-dg-column>
                                <clr-dg-row *ngFor="let row of currentData">

                                    <clr-dg-cell *ngFor="let col of dataFieldNames; let i = index">
                                            {{ row[col] }}
                                    </clr-dg-cell>
                                </clr-dg-row>

                                <clr-dg-footer>
                                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                    of {{pagination.totalItems}} rows
                                    <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                                </clr-dg-footer>

                            </clr-datagrid>
                        </div>
                    </div>



                </div>







                <div class="fieldList">
                    <nav
                        id="wrapper"
                        class="sidenav"
                        [style.width.px]="sideNavWidth"
                        [style.min-width.rem]="sideNavMinWidth"
                        >
                        
                        <div class="selectedDatasource">
                            Fields for: {{ currentDatasources[0].name }}
                        </div>

                        <div>
                            <clr-datagrid>
                                <clr-dg-column [clrDgField]="'filterPivotFields'">Name</clr-dg-column>
                                <clr-dg-row *ngFor="let row of dataFieldNames">
                                    <clr-dg-cell
                                        id="fld"
                                        draggable="true"
                                        (dragstart)="dragstartField($event)"
                                        >
                                        {{ row }}
                                    </clr-dg-cell>
                                </clr-dg-row>
                            </clr-datagrid>
                        </div>
                    </nav>
                </div>

                <div class="rowAdvanced" *ngIf="showRowFieldAdvancedArea">
                    <span>
                        <label for="dashboardName" class="popupLabel">
                            Field : Country_Of_Origin_Calculated
                        </label>

                        <br>
                        <br>
                        <label for="dashboardName" class="popupLabel">
                            Aggregate :
                        </label>
                        <button class="popupButton"
                            (click)="clickedButtonAggregateNo = !clickedButtonAggregateNo"
                            [style.background-color] = "clickedButtonAggregateNo ? 'darkgray' : 'transparent'"

                            >No
                        </button>
                        <button class="popupButton">Sum</button>
                        <button class="popupButton">Avg</button>
                        <button class="popupButton">Min</button>
                        <button class="popupButton">Max</button>
                        <button class="popupButton">Cnt</button>

                        <br>
                        <br>
                        <label for="dashboardName" class="popupLabel">Bin :</label>
                        <button class="popupButton">No</button>
                        <button class="popupButton">Yes</button>
                        <br>
                        <br>

                        <label for="dashboardName" class="popupLabel">Drill down/out :</label>
                        <button class="popupButton">Year</button>
                        <button class="popupButton">Qtr</button>
                        <button class="popupButton">Mth</button>
                        <button class="popupButton">Day</button>

                        <br>
                        <br>
                        <label for="dashboardName" class="popupLabel">Previous period :</label>
                        <button class="popupButton">Year</button>

                        <br>
                        <br>
                        <label for="dashboardName" class="popupLabel">Explantion :</label>
                        <button>Show</button>
                        <br>
                        Shows explanation graph here ...
                        <br>
                        <button
                            class="btn btn-sm btn-secondary"
                            (click)="clickCloseAdvancedY('Close')">
                            Close
                        </button>

                        <button
                            class="btn btn-sm btn-secondary"
                            (click)="clickApplyAdvancedY('Close')">
                            Apply
                        </button>
                    </span>
                </div>

                <div class="rowField">

                    <div class="rowFieldDropLabel">
                        Y axis:
                    </div>

                    <div class="rowFieldDropField"
                        id="target"
                        (drop)="dropRow($event);"
                        (dragenter)="dragenterRow($event);"
                        (dragleave)="dragoleaveRow($event);"
                        (dragover)="dragoverRows($event);"
                        [style.background-color]="dragoverRow? 'lightgray' : 'transparent'"
                        >
                        {{ rowField }}
                    </div>

                    <div class="rowFieldDropButton">
                        <button class="btn btn-secondary"
                            (click)="clickShowRowFieldAdvanced()"
                            *ngIf="showRowFieldAdvanced"
                            >
                            Advanced ...
                            <span class="badge">1</span>
                        </button>
                    </div>
                </div>

                <div class="colAdvanced" *ngIf="showColFieldAdvancedArea">
                    <span>
                        <label for="dashboardName" class="popupLabel">
                            Field : Country_Of_Origin_Calculated
                        </label>

                        <br>
                        <br>
                        <label for="dashboardName" class="popupLabel">
                            Aggregate :
                        </label>
                        <button class="popupButton"
                            (click)="clickedButtonAggregateNo = !clickedButtonAggregateNo"
                            [style.background-color] = "clickedButtonAggregateNo ? 'darkgray' : 'transparent'"

                            >No
                        </button>
                        <button class="popupButton">Sum</button>
                        <button class="popupButton">Avg</button>
                        <button class="popupButton">Min</button>
                        <button class="popupButton">Max</button>
                        <button class="popupButton">Cnt</button>

                        <br>
                        <br>
                        <label for="dashboardName" class="popupLabel">Bin :</label>
                        <button class="popupButton">No</button>
                        <button class="popupButton">Yes</button>
                        <br>
                        <br>

                        <label for="dashboardName" class="popupLabel">Drill down/out :</label>
                        <button class="popupButton">Year</button>
                        <button class="popupButton">Qtr</button>
                        <button class="popupButton">Mth</button>
                        <button class="popupButton">Day</button>

                        <br>
                        <br>
                        <label for="dashboardName" class="popupLabel">Previous period :</label>
                        <button class="popupButton">Year</button>

                        <br>
                        <br>
                        <label for="dashboardName" class="popupLabel">Explantion :</label>
                        <button>Show</button>
                        <br>
                        Shows explanation graph here ...
                        <br>
                        <button
                            class="btn btn-sm btn-secondary"
                            (click)="clickCloseAdvancedX('Close')">
                            Close
                        </button>

                        <button
                            class="btn btn-sm btn-secondary"
                            (click)="clickApplyAdvancedX('Close')">
                            Apply
                        </button>
                    </span>
                </div>

                <div class="colField">
                    <div class="colFieldDropField"
                        id="target"
                        (drop)="dropColumn($event);"
                        (dragover)="dragoverColumn($event);"
                        (dragenter)="dragenterColumn($event);"
                        (dragleave)="dragleaveColumn($event);"
                        [style.background-color]="dragoverCol? 'lightgray' : 'transparent'"
                        >
                        {{ colField }}
                    </div>
                </div>

                <div class="colFieldDropButton">
                    <button class="btn btn-secondary"
                        (click)="clickShowColFieldAdvanced()"
                        *ngIf="showColFieldAdvanced"
                        >
                        Advanced ...
                    </button>
                </div>

                <div class="graphArea" #dragWidget>

                </div>

                <div class="graphType">

                    <div>
                        Current:
                        <img class="typeIcon"
                            [style.height.px]="50"
                            [style.width.px]="50"
                            src="../images/BarChart.png"
                        >
                    </div>
                    <br>
                    <img class="typeIcon"
                        [style.height.px]="40"
                        [style.width.px]="40"
                        src="../images/BarChart.png"
                        (click)="clickIcon('bar')"
                    >
                    <img class="typeIcon"
                        [style.height.px]="40"
                        [style.width.px]="40"
                        src="../images/BubbleChart.png"
                        (click)="clickIcon('circle')"
                    >
                    <img class="typeIcon"
                        [style.height.px]="40"
                        [style.width.px]="40"
                        src="../images/ColumnChart.png"
                        (click)="clickIcon('rect')"
                    >
                    <img class="typeIcon"
                        [style.height.px]="40"
                        [style.width.px]="40"
                        src="../images/LineChart.png"
                        (click)="clickIcon('line')"
                    >
                    <img class="typeIcon"
                        [style.height.px]="40"
                        [style.width.px]="40"
                        src="../images/PieChart.png"
                        (click)="clickIcon('square')"
                    >
                    <img class="typeIcon"
                        [style.height.px]="40"
                        [style.width.px]="40"
                        src="../images/ScatterChart.png"
                        (click)="clickIcon('point')"
                    >
                </div>

                <div class="graphTypeMore">
                    <button class="btn btn-sm btn-link"
                        (click)="showType=!showType"
                        >More graph types
                    </button>

                    <div *ngIf="showType">

                        <img class="typeIcon"
                            [style.height.px]="40"
                            [style.width.px]="40"
                            src="../images/BarChart.png"
                            (click)="clickIcon('BarChart')"
                        >
                        <img
                            [style.height.px]="40"
                            [style.width.px]="40"
                            src="../images/BubbleChart.png"
                            (click)="clickIcon('BubbleChart')"
                        >
                        <img class="typeIcon"
                            [style.height.px]="40"
                            [style.width.px]="40"
                            src="../images/ColumnChart.png"
                            (click)="clickIcon('ColumnChart')"
                        >
                        <img
                            [style.height.px]="40"
                            [style.width.px]="40"
                            src="../images/LineChart.png"
                            (click)="clickIcon('LineChart')"
                        >
                        <img class="typeIcon"
                            [style.height.px]="40"
                            [style.width.px]="40"
                            src="../images/PieChart.png"
                            (click)="clickIcon('PieChart')"
                        >
                        <img
                            [style.height.px]="40"
                            [style.width.px]="40"
                            src="../images/ScatterChart.png"
                            (click)="clickIcon('ScatterChart')"
                        >
                    </div>

                    <span class="graphTypeMoreMsg">
                        Last refreshed: 2017/01/01 08:31
                    </span>
                </div>

                <div class="colorAdvanced" *ngIf="showAdvancedField">
                        <button class="btn btn-sm">type</button>
                        <button class="btn btn-sm">bin</button>
                        <button class="btn btn-sm">aggregate</button>
                        <button class="btn btn-sm">zero</button>
                        <button class="btn btn-sm">scale</button>

                </div>

                <div class="graphColorField">
                    Color:
                    <div
                        class="dropZoneColor"
                        id="target"
                        (drop)="dropColor($event);"
                        (dragover)="dragoverColors($event);"
                        (dragenter)="dragenterColors($event);"
                        (dragleave)="dragleaveColors($event);"
                        [style.background-color]="dragoverColor? 'lightgray' : 'transparent'"
                        >
                        {{ graphColorField }}
                    </div>
                </div>

                <div class="saveButton" *ngIf="!presentationMode">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose('Close')"
                        >
                        Save
                    </button>
                </div>
                <span class="presentationNoSave" *ngIf="presentationMode"
                    >
                    Cannot save in Presentation Mode
                </span>

            </div>

        </div>
    </div>
</div>