<div class="modal modalBox">
	<div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
		<div class="modal-content modalContent">
            <form #f="ngForm" role="form" novalidate>

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose()">
                        <b>X</b>
                    </button>

                    <div class="colourpicker" *ngIf="colourPickerClosed">
                        <colour-picker
                            [callingRoutine]="callingRoutine"
                            [selectedColor]="selectedColour"
                            >
                        </colour-picker>
                    </div>

                    <div class="gridTitle">
                        <b>Edit the Widget Title</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    Set properties of the Title bar at the top of the Widget.
                                    Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>
                    <div class="titleSubHeader">
                    </div>

                    <div class="titleText">
                        Text:
                        <input [(ngModel)]="localWidget.titleText"
                            type="text"
                            name="titleText"
                            placeholder="Title Text"
                            >
                    </div>

                    <div class="titleBackgroundColourTitle">
                        Bg Colour:
                    </div>
                    <div class="select titleBackgroundColour">
                        <select [(ngModel)]="localWidget.titleBackgroundColorName"
                            name="titleBackgroundColorName"
                            (change)="clickSelectTitleBgColor($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <div class="titleBackgroundColourPicker">
                        <button
                            type="button"
                            class="btn btn-link btn-sm"
                            (click)="clickSelectTitleBgColorPicker()"
                            >
                            Picker
                        </button>
                        <clr-icon
                            shape="circle"
                            size="14"
                            [style.background-color]="localWidget.titleBackgroundColor"
                            [style.color]="localWidget.titleBackgroundColor"
                            >
                        </clr-icon>
                    </div>

                    <div class="titlePadding">
                        Padding:
                        <input [(ngModel)]="localWidget.titlePadding"
                            type="text"
                            name="titlePadding"
                            placeholder="Around text, ie 0 0 0 5px"
                            >
                    </div>

                    <div class="titleColourTitle">
                        Colour:
                    </div>
                    <div class="select titleColour">
                        <select [(ngModel)]="localWidget.titleColorName"
                            name="titleColor"
                            (change)="clickSelectTitleColor($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <div class="titleColourPicker">
                        <button
                            type="button"
                            class="btn btn-link btn-sm"
                            (click)="clickSelectTitleColorPicker()"
                            >
                            Picker
                        </button>
                        <clr-icon
                            shape="circle"
                            size="14"
                            [style.background-color]="localWidget.titleColor"
                            [style.color]="localWidget.titleColor"
                            >
                        </clr-icon>
                    </div>

                    <div class="titleBorderSizeTitle">
                        Border Size:
                    </div>
                    <div class="select titleBorderSize">
                        <select [(ngModel)]="lineSize"
                            name="lineSize"
                            (change)="clickSelectLineSize($event)"
                            >
                            <option>none</option>
                            <option>1px</option>
                            <option>2px</option>
                            <option>3px</option>
                            <option>4px</option>
                        </select>
                    </div>

                    <div class="titleBorderColorTitle">
                        Border:
                    </div>
                    <div class="select titleBorderColor">
                        <select [(ngModel)]="lineColorName"
                            name="lineColorName"
                            (change)="clickSelectBorderColor($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <div class="titleBorderColorPicker">
                        <button
                            type="button"
                            class="btn btn-link btn-sm"
                            (click)="clickSelectBorderColorPicker()"
                            >
                            Picker
                        </button>
                        <clr-icon
                            shape="circle"
                            size="14"
                            [style.background-color]="lineColorName"
                            [style.color]="lineColorName"
                            >
                        </clr-icon>
                    </div>

                    <div class="titleTextAlignTitle">
                        TextAlign:
                    </div>
                    <div class="select titleTextAlign">
                        <select [(ngModel)]="localWidget.titleTextAlign"
                            name="lineSize"
                            >
                            <option>Left</option>
                            <option>Center</option>
                            <option>Right</option>
                        </select>
                    </div>

                    <div class="titleMarginTitle">
                        Margin:
                    </div>
                    <div class="titleMargin">
                        <input [(ngModel)]="localWidget.titleMargin"
                            type="text"
                            name="titleMargin"
                            placeholder="Around box, ie 0 0 0 5px"
                            >
                    </div>

                    <div class="titleFontsize">
                        Font Size:
                        <input [(ngModel)]="localWidget.titleFontsize"
                            type="text"
                            name="titleFontsize"
                            placeholder="Size of font in px"
                            >
                    </div>
                    <div class="titleFontWeight">
                        Font Weight:
                        <input [(ngModel)]="localWidget.titleFontWeight"
                            type="text"
                            name="titleFontWeight"
                            placeholder="Number 1 to 900"
                            >
                    </div>

                    <div class="titleHeight">
                        Height (px):
                        <input [(ngModel)]="localWidget.titleHeight"
                            type="text"
                            name="titleHeight"
                            placeholder="Height in px (ie 24)"
                            >
                    </div>

                    <div class="titleWidth">
                        Width (%):
                        <input [(ngModel)]="localWidget.titleWidth"
                            type="text"
                            name="titleWidth"
                            placeholder="Width as % (0-100)"
                            >
                    </div>

                    <button
                        type="button"
                        class="btn btn-secondary titleButtonCancel"
                        (click)="clickClose()"
                        >
                        Cancel
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary titleButtonSave"
                        (click)="clickSave()"
                        >
                        Save
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>