<div class="modal modalBox">
	<div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
		<div class="modal-content modalContent">

            <div class="overall">
                <div class="closeButton">
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
                </div>

                Edit the Title

                <div class="titleForm"
                    [style.left.px]="titleFormLeft"
                    >
                    <div class="titleFormHeader">
                        <b>Title properties</b>
                    </div>
                    <div class="titleFormLine">
                        Text:
                        <input type="text" id="formFields_7" placeholder="Title Text">
                    </div>
                    <div class="titleFormLine">
                        BackgroundColor:
                        <input type="text" id="formFields_7" placeholder="CSS or rgb() color">
                    </div>
                    <div class="titleFormLine">
                        Border:
                        <input type="text" id="formFields_7" placeholder="ie 1px solid black">
                    </div>
                    <hr>
                    <div class="titleFormLine">
                        Color:
                        <input type="text" id="formFields_7" placeholder="CSS or rgb() color">
                    </div>
                    <div class="titleFormLine">
                        Left:
                        <input type="text" id="formFields_7" placeholder="Space at left in px">
                    </div>
                    <div class="titleFormLine">
                        Margin:
                        <input type="text" id="formFields_7" placeholder="ie 0 0 0 5px">
                    </div>
                    <div class="titleFormLine">
                        Padding:
                        <input type="text" id="formFields_7" placeholder="ie 0 0 0 5px">
                    </div>
                    <div class="titleFormLine">
                        Position:
                        <input type="text" id="formFields_7" placeholder="relative or absolute">
                    </div>
                    <div class="titleFormLine">
                        TextAlign:
                        <input type="text" id="formFields_7" placeholder="left, center or right">
                    </div>
                    <div class="titleFormLine">
                        Top:
                        <input type="text" id="formFields_7" placeholder="ie 0 0 0 5px">
                    </div>
                    <div class="titleFormLine">
                        Width:
                        <input type="text" id="formFields_7" placeholder="Width as % (0-100)">
                    </div>
                
                    <button
                        type="button"
                        class="btn btn-secondary titleFormButtonLeft"
                        (click)="showTitleForm=false"
                        >
                        Cancel
                    </button>
                    <button
                        type="button"
                        class="btn btn-primary titleFormButtonRight"
                        (click)="showTitleForm=false"
                        >
                        Save
                    </button>
                
                </div>
            </div>
        </div>
    </div>
</div>