<div class="modal modalBox">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">
            <form #f="ngForm" role="form" novalidate>

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose()">
                        <b>X</b>
                    </button>

                    <!-- <div class="colourpicker" *ngIf="colourPickerClosed">
                        <colour-picker
                            [callingRoutine]="callingRoutine"
                            [selectedColor]="selectedColour"
                            >
                        </colour-picker>
                    </div> -->

                    <div class="gridHeading">
                        <b>Edit / Delete a Container Style</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    Edit or Delete an existing Container Style.  When a style
                                    is currently in use by one or more Widgets, it cannot be 
                                    deleted.  When modifying a style, all containers and text 
                                    boxes linked to it will be changed automatically with the 
                                    properties defined here.
                                    Click the X or press Escape to close this form.                                                                                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>

                    <div class="gridShape"
                        [style.width.px]="300"
                        [style.height.px]="300"
                        [style.background-color]="containerBackgroundcolor"
                        [style.border]="containerBorder"
                        [style.border-radius.px]="containerBorderRadius"
                        [style.box-shadow]="containerBoxshadow"
                        [style.font-size.px]="containerFontsize"
                        name="shapeText"

                        >
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div 
                            [style.background-color]="containerBackgroundcolor"
                            [style.color]="containerBorderColour"
                            [style.font-style]="shapeIsItalic? 'italic' : 'normal'"
                            [style.font-weight]="shapeIsBold? 'bold' : 'normal'"
                            [style.font-family]="shapeFontFamily"
                            [style.font-size.px]="containerFontsize"
                            [style.line-height]="shapeLineHeight"
                            [style.text-align]="shapeTextAlign"
                            style="display: block; padding: 5px; line-height: 150%;"
                            >
                            Sample Text
                        </div>                        
                    </div>

                    <div class="gridStyleNameTitle">
                        Name: 
                    </div>
                    <div class="select gridStyleName">
                        <select [(ngModel)]="gridStyleName"
                            name="gridStyleName"
                            (change)="clickSelectStyleName($event)"
                            >
                            <option *ngFor="let row of containerStyleNameList"
                                >
                                {{ row }}
                            </option>
                        </select>
                    </div>





                    <div class="gridBackgroundcolorTitle">
                        Bg Colour:
                    </div>
                    <div class="select gridBackgroundcolor">
                        <select [(ngModel)]="containerBackgroundcolor"
                            name="containerBackgroundcolor"
                            (change)="clickSelectBgColor($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <!-- <button
                        type="button"
                        class="btn btn-link btn-sm gridBackgroundcolorPicker"
                        (click)="clickSelectBgColorPicker()"
                        >
                        Picker
                    </button> -->

                    <div class="containerBorderColorTitle">
                        Border Colour:
                    </div>
                    <div class="select containerBorderColor">
                        <select [(ngModel)]="containerBorderColour"
                            (change)="clickSelectBorderColor($event)"
                            name="containerBorderColour"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <!-- <button
                        type="button"
                        class="btn btn-link btn-sm gridLinecolorPicker"
                        (click)="clickSelectLineColorPicker()"
                        >
                        Picker
                    </button> -->

                    <div class="containerBorderSizeTitle">
                        Border Size:
                    </div>
                    <div class="select containerBorderSize">
                        <select [(ngModel)]="containerBorderSize"
                            name="containerBorderSize"
                            (change)="clickSelectBorderSize($event)"
                            >
                            <option>none</option>
                            <option>1px</option>
                            <option>2px</option>
                            <option>3px</option>
                            <option>4px</option>
                        </select>
                    </div>

                    <div class="containerBorderTypeTitle">
                        Type:
                    </div>
                    <div class="select containerBorderType">
                        <select [(ngModel)]="containerBorderType"
                            name="containerBorderType"
                            (change)="clickSelectBorderType($event)"
                            >
                            <option>solid</option>
                            <option>dotted</option>
                        </select>
                    </div>

                    <div class="gridBorderRadiusTitle">
                        Border Radius:
                    </div>
                    <div class="gridBorderRadius">
                        <select [(ngModel)]="containerBorderRadius"
                            name="containerBorderRadius"
                            (change)="clickSelectBorderRadius($event)"
                            >
                            <option>none</option>
                            <option>1px</option>
                            <option>2px</option>
                            <option>3px</option>
                            <option>4px</option>
                        </select>


                    </div>

                    <div class="gridBoxShadowTitle">
                        Box Shadow:
                    </div>
                    <div class="gridBoxShadow">
                        <input [(ngModel)]="containerBoxshadow"
                            type="text"
                            name="containerBoxshadow"
                            placeholder="2px 2px lightgray"
                            >
                    </div>

                    <div class="gridFontSizeTitle">
                        FontSize:
                    </div>
                    <div class="gridFontSize">
                        <input [(ngModel)]="containerFontsize"
                            type="number"
                            name="containerFontsize"
                            #containerFontsizeVar="ngModel"
                            placeholder="4-96 (measured in px)"
                            min="4"
                            max="96"
                            size="5"
                            [style.color]="!containerFontsizeVar.valid ? 'red' : 'gray'"
                            >
                    </div>

                    <div class="gridShapeFontFamilyTitle">
                        Font:
                    </div>
                    <div class="gridShapeFontFamily">
                        <input [(ngModel)]="shapeFontFamily"
                            type="text"
                            name="shapeFontFamily"
                            #shapeFontFamilyVar="ngModel"
                            placeholder="Font, ie Arial, Sans Serif"
                            >
                    </div>

                    <div class="gridTextBold">
                        <b>Bold?:</b>
                        <input type="checkbox"
                            [(ngModel)]="shapeIsBold"
                            name="shapeIsBold"
                            >
                    </div>
                    <div class="gridTextItalic">
                        <b>Italic?:</b>
                        <input type="checkbox"
                            [(ngModel)]="shapeIsItalic"
                            name="shapeIsItalic"
                            >
                    </div>

                    <div class="gridTextAlignTitle">
                        <b>Align:</b>
                    </div>
                    <div class="select gridTextAlign">
                        <select
                            [(ngModel)]="shapeTextAlign"
                            name="shapeTextAlign"
                            (change)="clickSelectTextAlign($event)"
                            >
                            <option>Left</option>
                            <option>Center</option>
                            <option>Right</option>
                        </select>
                    </div>

                    <div class="gridTextLineHeightTitle">
                        <b>Line Height:</b>
                    </div>
                    <div class="gridTextLineHeight">
                        <input type="text"
                            placeholder="Line height: normal, 1.6, 80%"
                            [(ngModel)]="shapeLineHeight"
                            name="shapeLineHeight"
                            >
                    </div>

                    <div class="gridErrorMessage" name="gridErrorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridInfoMessage" name="gridInfoMessage">
                        {{ infoMessage }}
                    </div>
                    
                    <div class="gridButtonCancel">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose()"
                            >
                            Cancel
                        </button>
                    </div>
                    <div class="gridButtonDelete">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickDelete()"
                            >
                            Delete
                        </button>
                    </div>
                    <div class="gridButtonSave">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickSave()"
                            >
                            Save
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

