<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Cross Filter definitions: </b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                This form defines the cross filters for the selected Widget.
                                A cross filter defines how another Widgets is filtered when a
                                cell / item in the selected Widget is clicked.
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>

                <div class="gridErrorMessage">
                    {{ errorMessage }}
                </div>

                <div class="gridFilters" *ngFor="let row of widgetFilter; let i = index;">
                    {{ row.sourceWidgetFiled }}
                    {{ row.targetWidgetTitle }}
                    {{ row.targetWidgetField }}
                </div>
            </div>
        </div>
    </div>
</div>
