<div class="modal modalBox">
	<div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
		<div class="modal-content modalContent">

            <div class="overall">
                <div class="closeButton">
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
                </div>

                Delete a Widget
                <p>Deleting a Widget is permanent in that it is not moved to Trash.  However,
                    you can Undo the delete action in the current Dashboard with the menu
                    option Edit -> Undo.  You have selected {{ nrWidgetsSelected }}
                    Widgets to be deleted.
                </p>
                <p>Image widget goes here ...</p>
                <form>
                    <section>
                        <div class="form-group">
                            <label for="selects_4">Are you sure you want to delete the current Widget?</label>
                            <div class="select">
                                <select id="selects_3"
                                    (change)="clickSelectStep($event)"
                                    >
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                            <button
                                type="button"
                                class="btn btn-secondary"
                                (click)="clickDeleteWidget()"
                                >
                                Delete
                            </button>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>

