<div class="modal modalBox">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose()">
                    <b>X</b>
                </button>
                <div class="gridTitle">
                    <b>Insert new Widget from Templates:</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;"> 
                                This form shows a list of previously created Widget Templates.
                                These templates can be created from any existing Widget, in any
                                existing Dashboard.  Select the desired template row (a sample
                                will be shown on the right).  Then click Insert to add this to
                                your current Dashboard.  There is currently no relationship back
                                to the template: when the template is changed, your widget will
                                NOT change automatically.  Conversely, if you change your Widget
                                the original template will NOT change.  
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
    
                </div>
                <div class="gridSubTitle">
                    <i>
                        Add the predefined Template as a Widget to the current Dashboard.
                    </i>
                </div>

                <div class="gridWidgetStoredTemplates">
                    <clr-datagrid class="datagrid-compact">
                        <clr-dg-column clrDgField="name"
                            (click)="clickColumn(i, row)">
                            Name
                        </clr-dg-column>
                        <clr-dg-column clrDgField="datasourceName">
                            Datasource
                        </clr-dg-column>
                        <clr-dg-column>
                            Delete
                        </clr-dg-column>

                        <clr-dg-row *clrDgItems="let row of widgetStoredTemplates; let i = index"
                            [style.background-color]="(i == selectedRow)? '#123456' : 'white'"
                            [style.color]="(i == selectedRow)? 'white' : 'gray'"
                            (click)="clickRow(i, row.widgetID)"
                            [clrDgItem]="row"
                            >
                            <clr-dg-cell style="margin-left: 2px; padding: 0;"
                                >
                                {{ row.name }}
                            </clr-dg-cell>
                            <clr-dg-cell style="margin-left: 2px; padding: 0;"
                                >
                                {{ row.description }}
                            </clr-dg-cell>
                            <clr-dg-cell style="margin-left: 2px; padding: 0;"
                                id="fld"
                                >
                                <clr-icon shape="trash" size="14"></clr-icon>
                            </clr-dg-cell>

                        </clr-dg-row>

                    </clr-datagrid>

                </div>

                <div class="gridShowWidget" *ngIF="selectedRow>=0"
                    #domWidget
                    >
                </div>

                <div class="gridErrorMessage">
                    errorMessage
                </div>

                <div class="gridButtonCancel">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose()"
                        >
                        Cancel
                    </button>
                </div>
                <div class="gridButtonAdd">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickAdd()"
                        >
                        Add
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
