<!-- Total Navigator container, which allows scolling inside it.  The external Widget container
dimensions is set in app.html, and cannot be changed here. -->
<!-- [style.width.px]="totalNavigatorWidth" -->
<div class="totalNavigator"
    [style.height.px]="selectedWidget.containerHeight-30"
    [style.width.px]="totalNavigatorWidth"
    >

    <!-- NETWORKS AREA -->
    <!-- Network minimised     -->
    <div class="gridNetworkAreaVertical" *ngIf="!showNetworkMax">
        <div>
            <clr-icon (click)="clickNetworkMinMax()"
                shape="circle-arrow right"
                size="14"
                style="color: blue;"
                >
            </clr-icon>
        </div>
        <div class="vericaltext">
            <b>Networks</b>
        </div>
    </div>
    <!-- Network maximised -->
    <div class="gridNetworkArea" *ngIf="showNetworkMax"
        [style.width.px]="networkAreaWidth"
        >
        <div class="gridNetworkAreaTitle">
            <b>
                Networks
            </b>
            <clr-signpost>
                <clr-icon shape="info-circle" style="margin-top: -4px;"
                    clrSignpostTrigger>
                </clr-icon>
                <clr-signpost-content *clrIfOpen
                    [clrPosition]="'bottom-middle'">
                    <h5 style="margin-top: 0; color:gray;">
                        Help
                    </h5>
                    <p style="margin-top: 0; color:gray; text-align: left;">
                        A network is a pre-defined web of relationships.  For example,
                        it can be the relationships between companies, subsidaries,
                        directors (executive and non-executive), shareholders, etc.
                    </p>
                </clr-signpost-content>
            </clr-signpost>
            <clr-icon (click)="clickNetworkMinMax()"
                shape="circle-arrow left"
                size="14"
                style="color: blue; float: right; margin-top: 4px; margin-right: 10px;"
                >
            </clr-icon>
    </div>
        
        <div class="gridNetworkBlock" *ngFor="let row of networks; let i = index"
            [style.background-color]="row.isSelected? 'white'  :  'rgb(235, 232, 232)'"
            [style.border]="row.isSelected? '2px solid black'  :  '1px solid gray'"
            [style.color]="row.isSelected? 'black'  :  'darkgray'"
            >
            {{ row.name }}
        </div>
    </div>





    <!-- HISTORY AREA -->
    <!-- History minimised     -->
    <div class="gridNetworkAreaVertical" *ngIf="!showHistoryMax">
        <div>
            <clr-icon (click)="clickHistoryMinMax()"
                shape="circle-arrow right"
                size="14"
                style="color: blue;"
                >
            </clr-icon>
        </div>
        <div class="vericaltext">
            <b>Navigated</b>
        </div>
    </div>
    <!-- History maximised     -->
    <div class="gridHistoryArea" *ngIf="showHistoryMax"
        [style.width.px]="historyAreaWidth"
        >
        <div class="gridHistoryAreaTitle">
            <b>
                Navigated
            </b>
            <clr-signpost>
                <clr-icon shape="info-circle" style="margin-top: -4px;"
                    clrSignpostTrigger>
                </clr-icon>
                <clr-signpost-content *clrIfOpen
                    [clrPosition]="'bottom-middle'">
                    <h5 style="margin-top: 0; color:gray;">
                        Help
                    </h5>
                    <p style="margin-top: 0; color:gray; text-align: left;">
                        A new History row is added with each exploration.  Click on a previous
                        history record to revisit its graph.
                    </p>
                </clr-signpost-content>
            </clr-signpost>
            <clr-icon (click)="clickHistoryMinMax()"
                shape="circle-arrow left"
                size="14"
                style="color: blue; float: right; margin-top: 4px; margin-right: 10px;"
                >
            </clr-icon>
        </div>
        <div class="gridHistoryBlock" *ngFor="let row of history; let i = index"
            [style.background-color]="row.isSelected? 'white'  :  'rgb(235, 232, 232)'"
            [style.border]="row.isSelected? '2px solid black'  :  '1px solid gray'"
            [style.color]="row.isSelected? 'black'  :  'darkgray'"
            >
            <clr-icon (click)="clickDeleteHistory()"
                shape="trash"
                size="12"
                >
            </clr-icon>
            {{ row.text }}
        </div>
    </div>




    <!-- GRAPH Area -->
    <!-- [style.width.px]="graphAreaWidth" -->
    <div class="gridGraphArea"
        
        >
        For
        <div class="select gridGraphAreaNodeTypeXXX"
            style="display: inline-block; margin-left: 12px;"
            title="Select a node type to filter on"
            >
            <select [(ngModel)]="selectedNodeType"
                (change)="filterTimeUnitSelected($event)"
                name="filterTimeUnit"
                >
                <option></option>
                <option>Company</option>
                <option>Person</option>
                <option>Day</option>
            </select>
        </div>

        <div class="select gridGraphAreaNodeNameXXX"
            style="display: inline-block; margin-left: 12px;"
            title="Select a specific node"
            >
            <select [(ngModel)]="selectedNode"
                (change)="filterTimeUnitSelected($event)"
                name="filterTimeUnit"
                >
                <option></option>
                <option>Absa</option>
                <option>Bidvest</option>
                <option>Capitec</option>
            </select>
        </div>
        <!-- <div class="gridGraphAreaFilterXXX"
            style="color: blue; display: inline-block; margin-left: 12px;"
            >
            <clr-icon
                shape="filter"
                size="12"
                (dblclick)="dblClickFilterMakeInActive()"
                >
            </clr-icon>
        </div> -->
        <clr-signpost style="width: 400;">
            <clr-icon shape="filter" 
                style="color: blue; margin-top: -4px;"
                size="12"
                clrSignpostTrigger
                >
            </clr-icon>
            <clr-signpost-content *clrIfOpen
                [clrPosition]="'bottom-middle'">
                <h5 style="margin-top: 0; color:gray;">
                    Filter on node type <b>Company</b>
                </h5>
                <p style="margin-top: 0; color:gray; text-align: left;">
                    The dropdown will be reduced by the filter(s) below.  This filter will stay
                    active until 1. it is changed here, or 2. the node type is changed.
                </p>
                <div class="editorWidgetFilterFieldTitle">
                    Field:
                    <select id="selects_3"
                        [(ngModel)]="filterFieldName"
                        (change)="filterFieldSelected($event)"
                        name="filterFieldName"
                        >
                        <option>Age</option>
                        <option>Name</option>
                        <option>BEE Rating</option>
                    </select>
                </div>
                <div class="editorWidgetFilterOperatorTitle">
                    Operator:
                    <select id="selects_3"
                        [(ngModel)]="filterOperator"
                        (change)="filterOperatorSelected($event)"
                        name="filterOperator"
                        >
                        <option>Less Than</option>
                        <option>Less Than Equal</option>
                        <option>Equal</option>
                        <option>Not Equal</option>
                        <option>Greater Than</option>
                        <option>Greater Than Equal</option>
                        <option>Range</option>
                        <option>One Of</option>
                        <option>Valid</option>
                        <option>Selection</option>
                    </select>
                </div>

                <div class="editorWidgetFilterValueTitle">
                    Value:
                    <input type="text"
                        [(ngModel)]="filterValue"
                        name="filterValue"
                        placeholder=""
                        title="Enter a value for the filter. "
                        >
                </div>

                <div>
                    <div class="btn-group btn-link">
                        <button class="btn" (click)="clickFilterClear()">
                            Clear
                        </button>
                        <button class="btn" (click)="clickFilterAdd()">
                            <span *ngIf="filterID==-1">
                                Add
                            </span>
                            <span *ngIf="filterID!=-1">
                                Save
                            </span>
                        </button>
                    </div>

                    <button class="btn btn-secondary editorWidgetFilterCloseButton"
                        (click)="clickFilterClose()">
                        Close
                    </button>
                    <span class="editorWidgetFilterErrorMessage">
                        {{ filterErrorMessage }}
                    </span>
                </div>

            </clr-signpost-content>
        </clr-signpost>

        <clr-dropdown class="menuText"
            style="color: blue; float: right; margin-right: 12px;"
            >
            <button
                type="button"
                class="btn btn-link btn-sm"
                clrDropdownTrigger
                >
                <clr-icon (click)="clickShowNodeFilters()"
                    shape="bars"
                    size="14"
                    >
                </clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                <button
                    type="button"
                    clrDropdownItem
                    (click)="clickMenuEditMode()"
                    title="Enable EditMode to make changes"
                    >
                    Graph Height
                </button>
                <button
                    type="button"
                    clrDropdownItem
                    (click)="clickMenuEditMode()"
                    title="Enable EditMode to make changes"
                    >
                    Graph Width
                </button>
                <button
                    type="button"
                    clrDropdownItem
                    (click)="clickMenuEditMode()"
                    title="Enable EditMode to make changes"
                    >
                    Clear History
                </button>
                <button
                    type="button"
                    clrDropdownItem
                    (click)="clickMenuEditMode()"
                    title="Enable EditMode to make changes"
                    >
                    Export Graph
                </button>

            </clr-dropdown-menu>
        </clr-dropdown>

        <br>
        show all 
        <div class="select gridGraphAreaNodeTypeXXX"
            style="display: inline-block; margin-left: 12px;"
            title="Select a node type to filter on"
            >
            <select [(ngModel)]="selectedRelationship"
                (change)="filterTimeUnitSelected($event)"
                name="filterTimeUnit"
                >
                <option></option>
                <option>Directors</option>
                <option>Shareholders</option>
                <option>Subsidiaries</option>
            </select>
        </div>
        <div class="gridGraphAreaFilterXXX"
            style="color: blue; display: inline-block; margin-left: 12px;"
            >
            <clr-icon
                shape="filter"
                size="12"
                (dblclick)="dblClickFilterMakeInActive()"
                >
            </clr-icon>

        </div>

        <div>
            <clr-icon shape="step-forward-2" style="float: right; margin-right: 50px;"></clr-icon>
            <clr-icon shape="step-forward-2 down" style="float: right; margin-right: 12px;"></clr-icon>
        </div>
        <br>

        <div class="gridGraphAreaGraphicXXX"
            #dragWidget
            >
        </div>

    </div>

</div>