.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}
.modal-content {
    padding: 10px !important;
}

.datagrid-compact.datagrid-host {
    margin: 0 !important;
    padding: 0 !important;
}

.datagrid-scroll-wrapper {
    margin: 0 !important;
    padding-top: 0px !important;
}

.datagrid {
    margin: 0 !important;
    padding-top: 0px !important;
}

datagrid {
    margin: 0 !important;
    padding-top: 0px !important;
}

.datagrid-compact.datagrid-scroll {
    margin: 0 !important;
    padding: 0 !important;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(19, 1rem);
    margin-top: 2px;
}
    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: left;
    }
    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 14;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }


    /* Datasource selection */
    .datasourceMain .datagrid-cell {
        padding-left: 6px !important;
    }
    .datasourceMain {
        border: 2px solid lightgray;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 20;
        grid-row-start: 2;
        grid-row-end: 20;

        display: grid;
        grid-template-columns: repeat(50, 1fr);
        grid-template-rows: repeat(22, 0.8rem);
        margin: 2px;
        padding: 8px;
    }

        .datasourceMainHelp {
            grid-column-start: 2;
            /* autoprefixer: off */
            grid-column-end: 50;
            grid-row-start: 1;
            grid-row-end: 2;
            text-align: left;
        }

        .datasourceMainDescriptionTitle {
            grid-column-start: 20;
            /* autoprefixer: off */
            grid-column-end: 25;
            grid-row-start: 3;
            grid-row-end: 4;
            margin-left: 10px;
            text-align: left;
        }

        .datasourceMainDescription {
            border: 1px solid lightgray;
            grid-column-start: 25;
            /* autoprefixer: off */
            grid-column-end: 50;
            grid-row-start: 3;
            grid-row-end: 7;
            margin-left: 10px;
            text-align: left;
            padding: 5px;
        }

        .datasourceMainError {
            color: red;
            grid-column-start: 2;
            /* autoprefixer: off */
            grid-column-end: 50;
            grid-row-start: 2;
            grid-row-end: 3;
            margin-left: 33px;
            text-align: left;
        }

        .datasourceMainListTitle {
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 20;
            grid-row-start: 3;
            grid-row-end: 4;
            text-align: left;
        }
        .datasourceMainList {
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 20;
            grid-row-start: 4;
            grid-row-end: 22;
            text-align: left;
            overflow-y: scroll;
        }

        .datasourceMainPreviewTitle {
            grid-column-start: 20;
            /* autoprefixer: off */
            grid-column-end: 50;
            grid-row-start: 7;
            grid-row-end: 8;
            margin-left: 10px;
            text-align: left;
        }
        .datasourceMainPreview {
            grid-column-start: 20;
            /* autoprefixer: off */
            grid-column-end: 50;
            grid-row-start: 8;
            grid-row-end: 20;
            margin-left: 10px;
            text-align: left;
            overflow-y: scroll;
        }

        .datasourceMainButton {
            grid-column-start: 44;
            /* autoprefixer: off */
            grid-column-end: 46;
            grid-row-start: 20;
            grid-row-end: 21;
        }

    /* Widget Editor */
    .editorMain {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 20;
        grid-row-start: 2;
        grid-row-end: 20;

        display: grid;
        grid-template-columns: repeat(50, 1fr);
        grid-template-rows: repeat(22, 0.8rem);
        margin: 2px;
        padding: 0px;
    }

        .editorShowDS {
            cursor: pointer;
            font-size: 0.65rem;
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 11;
            grid-row-start: 1;
            grid-row-end: 2;
            text-align: left;
        }

        .editorFieldsTitle {
            grid-column-start: 4;
            /* autoprefixer: off */
            grid-column-end: 11;
            grid-row-start: 1;
            grid-row-end: 2;
            text-align: left;
        }
        .editorFields {
            grid-column-start: 1;
            /* autoprefixer: off */
            grid-column-end: 10;
            grid-row-start: 2;
            grid-row-end: 22;
            margin: 0px;
            margin-left: 2px;
            text-align: left;
            overflow-y: scroll;
        }
        .editorFields .datagrid-cell {
            padding-left: 4px !important;
        }

        .editorPropertiesTitle {
            grid-column-start: 14;
            /* autoprefixer: off */
            grid-column-end: 21;
            grid-row-start: 1;
            grid-row-end: 2;
            margin-left: 8px;
            text-align: left;
        }
        .editorProperties {
            border: 1px solid gray;
            border-radius: 6px;
            grid-column-start: 10;
            /* autoprefixer: off */
            grid-column-end: 21;
            grid-row-start: 2;
            grid-row-end: 22;
            margin-left: 8px;
            text-align: left;
        }

            .editorColFieldTitle {
                display: inline-block;
                font-size: 0.5rem;
                line-height: 0.8rem;
                margin-left: 4px;
                width: 42px;
            }
            .editorColField {
                border: 1px solid steelblue;
                border-radius: 5px;
                display: inline-block;
                font-size: 0.5rem;
                line-height: 0.8rem;
                margin: 3px;
                width: 78%;
            }

            .editorRowFieldTitle {
                display: inline-block;
                font-size: 0.5rem;
                line-height: 0.8rem;
                margin-left: 4px;
                width: 42px;
            }
            .editorRowField {
                border: 1px solid steelblue;
                border-radius: 5px;
                display: inline-block;
                font-size: 0.5rem;
                line-height: 0.8rem;
                margin: 3px;
                width: 78%;
            }

            .editorColourFieldTitle {
                display: inline-block;
                font-size: 0.5rem;
                line-height: 0.8rem;
                margin-left: 4px;
                width: 42px;
            }
            .editorColourField {
                border: 1px solid steelblue;
                border-radius: 5px;
                display: inline-block;
                font-size: 0.5rem;
                line-height: 0.8rem;
                margin: 3px;
                width: 78%;
            }


            .editorXPropertiesTitle {
                background-color: rgb(203, 197, 255);
                border: 1px solid lightgray;
                border-radius: 3px;
                font-size: 0.5rem;
                margin-top: 5px;
            }
            .editorXProperties {
                font-size: 0.5rem;
            }

                .editorXPropertiesAggregateTitle {
                    display: inline-block;
                    font-size: 0.5rem;
                    line-height: 0.8rem;
                    margin-left: 4px;
                    width: 42px;    
                }
                .editorXPropertiesAggregate {
                    border: 1px solid steelblue;
                    border-radius: 5px;
                    display: inline-block;
                    font-size: 0.5rem;
                    line-height: 0.8rem;
                    margin: 3px;
                    width: 78%;    
                }

        .editorTypesTitle {
            grid-column-start: 24;
            /* autoprefixer: off */
            grid-column-end: 30;
            grid-row-start: 1;
            grid-row-end: 2;
            margin-left: 8px;
            text-align: left;
        }
        .editorTypes {
            border: 1px solid gray;
            border-radius: 6px;
            grid-column-start: 21;
            /* autoprefixer: off */
            grid-column-end: 30;
            grid-row-start: 2;
            grid-row-end: 22;
            margin: 0px;
            margin-left: 8px;
            padding: 4px;
            text-align: center;
            overflow-y: scroll;
        }
            .editorTypeImages {
                border: 1px solid black;
                color: steelblue;
                cursor: pointer;
                font-size: 0.5rem;
                margin: 4px;
                padding: auto;
                width: 96%;
            }

        .editorAreaTitle {
            grid-column-start: 38;
            /* autoprefixer: off */
            grid-column-end: 50;
            grid-row-start: 1;
            grid-row-end: 2;
            margin-left: 10px;
            text-align: left;
        }
        .editorArea {
            grid-column-start: 31;
            /* autoprefixer: off */
            grid-column-end: 50;
            grid-row-start: 4;
            grid-row-end: 20;
            text-align: left;
        }

        .editorButtonShowData {
            grid-column-start: 32;
            /* autoprefixer: off */
            grid-column-end: 35;
            grid-row-start: 22;
            grid-row-end: 23;
            text-align: left;
        }
        .editorButtonCancel {
            grid-column-start: 40;
            /* autoprefixer: off */
            grid-column-end: 42;
            grid-row-start: 22;
            grid-row-end: 23;
            text-align: left;
        }
        .editorButtonSave {
            grid-column-start: 46;
            /* autoprefixer: off */
            grid-column-end: 48;
            grid-row-start: 22;
            grid-row-end: 23;
            text-align: left;
        }

