<div class="overall">
    <div class="closeButton">
        <button type="button" class="closeButton" (click)="clickClose()">
            X
        </button>
        <span class="propertyLine">
            Expand dataset
        </span>
    </div>

    <p class="propertyLine">
        Your dataset is <b>Current Budget</b>, which has 1037 rows.
    </p>
    <div class="propertyLine">
        Max lines to show  <i>(Note: It is not advisable to show more than 100 rows 
        in the browser)</i>:
        <input type="text" id="formFields_7" placeholder="45">
    </div>

    <form>
        <section>
            <div class="form-group">
                <label for="selects_4" class="propertyLine">Export:</label>
                <div class="select">
                    <select id="selects_3"
                        (change)="clickSelectStep($event)"
                        >
                        <option>CSV</option>
                        <option>Excel</option>
                    </select>
                </div>
                <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="clickClose('Close')"
                    >
                    Export
                </button>
            </div>
        </section>
    </form>

    <table>
        <tbody>
            <tr>
                <th *ngFor="let row of dataFieldNames">
                    {{row}}
                </th>
            </tr>
            <tr *ngFor="let row of currentData">
                <td *ngFor="let col of dataFieldNames; let i = index">
                    {{ row[col] }}
                </td>
            </tr>
        </tbody>
    </table>

    <!-- New v1 -->
    <!-- <div>
        <clr-datagrid class="fieldsDataGrid">

            <clr-dg-column *ngFor="let row of dataFieldNames">{{row}}</clr-dg-column>
            <clr-dg-row *ngFor="let row of currentData">

                <clr-dg-cell *ngFor="let col of dataFieldNames; let i = index">
                        {{ row[col] }}
                </clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} rows
                <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
            </clr-dg-footer>

        </clr-datagrid>
    </div> -->

    <!-- Original -->
    <!-- <clr-datagrid class="fieldsDataGrid">
        <clr-dg-column [clrDgField]="'filterDataset'">Name</clr-dg-column>
        <clr-dg-column [clrDgField]="'filterDataset'">Type</clr-dg-column>
        <clr-dg-column [clrDgField]="'filterDataset'">Description</clr-dg-column>
        <clr-dg-column [clrDgField]="'filterDataset'">CreatedBy</clr-dg-column>
        <clr-dg-column [clrDgField]="'filterDataset'">CreatedOn</clr-dg-column>
        <clr-dg-column [clrDgField]="'filterDataset'">RefreshedBy</clr-dg-column>
        <clr-dg-column [clrDgField]="'filterDataset'">RefreshedOn</clr-dg-column>

        <clr-dg-row
            *ngFor="let row of datasources"
            >
            <clr-dg-cell>{{row.name}}</clr-dg-cell>
            <clr-dg-cell>{{row.type}}</clr-dg-cell>
            <clr-dg-cell>{{row.description}}</clr-dg-cell>
            <clr-dg-cell>{{row.createdBy}}</clr-dg-cell>
            <clr-dg-cell>{{row.createdOn}}</clr-dg-cell>
            <clr-dg-cell>{{row.refreshedBy}}</clr-dg-cell>
            <clr-dg-cell>{{row.refreshedOn}}</clr-dg-cell>
        </clr-dg-row>
    </clr-datagrid> -->

</div>
