<!-- Total Navigator container, which allows scolling inside it.  The external Widget container
dimensions are set in app.html, and cannot be changed here. -->
<div class="totalNavigator"
    [style.height.px]="selectedWidget.containerHeight - 30"
    [style.width.px]="selectedWidget.containerWidth - 20"
    >


    <!-- GRAPH AREA HEADER -->
    <div class="graphHeaderContainer">
        <div class="graphHeaderText">
            For Node(s)
        </div>

        <div class="select graphHeaderParentNodeType"
            title="Select a node type for which children must be shown"
            >
            <select [(ngModel)]="selectedParentNodeType"
                (change)="changeParentNodeType($event)"
                name="selectedParentNodeType"
                >
                <option *ngFor="let row of ngDropdownParentNodeTypes">
                    {{ row }}
                </option>

            </select>
        </div>

        <div class="select graphHeaderParentNode"
            title="Select a specific node for which children must be shown"
            >
            <select [(ngModel)]="selectedParentNode"
                (change)="changeParentNode($event)"
                name="selectedParentNode"
                >
                <option *ngFor="let row of ngDropdownParentNodes">
                    {{ row }}
                </option>
            </select>
        </div>

        <clr-signpost style="width: 400;">
            <clr-icon shape="filter"
                size="12"
                style="color: blue; margin-top: -4px;"
                title="Filter the specific parent nodes to show less in the dropdown"
                clrSignpostTrigger
                >
            </clr-icon>
            <clr-signpost-content *clrIfOpen
                [clrPosition]="'bottom-middle'">
                <h5 style="margin-top: 0; color:gray;">
                    Filter on node type <b>{{ selectedParentNodeType }}</b>
                </h5>
                <p style="margin-top: 0; color:gray; text-align: left;">
                    The dropdown will be reduced by the filter(s) below.  This filter will stay
                    active until it is changed here, or another node type is selected in the dropdown.
                </p>
                <div class="graphHeaderParentFilterFieldTitle">
                    Field:
                    <select id="selects_3"
                        [(ngModel)]="ngParentNodeFilterSelectedFieldName"
                        name="ngParentFilterFieldName"
                        >
                        <option *ngFor="let row of ngParentNodeFilterDropdown">
                            {{ row }}
                        </option>
                    </select>
                </div>
                <div class="graphHeaderParentFilterOperatorTitle">
                    Operator:
                    <select id="selects_3"
                        [(ngModel)]="ngParentNodeFilterSelectedOperator"
                        name="ngParentNodeFilterSelectedOperator"
                        >
                        <option>Less Than</option>
                        <option>Less Than Equal</option>
                        <option>Equal</option>
                        <option>Not Equal</option>
                        <option>Greater Than</option>
                        <option>Greater Than Equal</option>
                        <option>Range</option>
                        <option>One Of</option>
                        <option>Valid</option>
                        <option>Selection</option>
                    </select>
                </div>

                <div class="graphHeaderParentFilterValueTitle">
                    Value:
                    <input type="text"
                        [(ngModel)]="ngParentNodeFilterSelectedValue"
                        name="ngParentNodeFilterSelectedValue"
                        placeholder=""
                        title="Enter a value for the filter. "
                        >
                </div>

                <div>
                    <div class="btn-group btn-link">
                        <button class="btn" (click)="clickParentFilterClear()">
                            Clear
                        </button>
                        <button class="btn" (click)="clickParentFilterSave()">
                            Save
                        </button>
                    </div>

                    <span class="graphHeaderParentFilterErrorMessage">
                        {{ parentFilterErrorMessage }}
                    </span>
                </div>

            </clr-signpost-content>
        </clr-signpost>

        <clr-dropdown class="graphHeaderMenuText">
            <button
                type="button"
                class="btn btn-link btn-sm"
                style="margin-right: 0px; padding-right: 0px;"
                clrDropdownTrigger
                >
                <clr-icon
                    shape="bars"
                    size="14"
                    style="float: right;"
                    title="Drop down menu with more options"
                    >
                </clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                <button
                    type="button"
                    clrDropdownItem
                    (click)="clickMenuShowNetworks()"
                    title="Select a new Network to browse"
                    >
                    Select Network
                </button>
                <button
                    type="button"
                    clrDropdownItem
                    (click)="clickMenuShowHistory()"
                    title="Show previously navigated networks"
                    >
                    Previously Navigated
                </button>
                <button
                    type="button"
                    clrDropdownItem
                    (click)="clickMenuShowGraphProperties()"
                    title="Edit properties like the title, notes, etc"
                    >
                    Graph Properties
                </button>
                <button
                    type="button"
                    clrDropdownItem
                    (click)="clickMenuShowGraphNotes()"
                    title="Show popup to edit notes at bottom of graph"
                    >
                    Graph Notes
                </button>
                <button
                    type="button"
                    clrDropdownItem
                    (click)="clickMenuShowGraphHelp()"
                    title="Show popup with help information"
                    >
                    Help
                </button>
                <button
                    type="button"
                    clrDropdownItem
                    (click)="clickMenuExportGraph()"
                    title="Export the current Graph"
                    >
                    Export Graph
                </button>

            </clr-dropdown-menu>
        </clr-dropdown>

        <br>
        <div class="graphHeaderText">
            Show Relationship(s)
        </div>
        <div class="select graphHeaderRelationship"
            title="Select a relationship to filter on"
            >
            <select [(ngModel)]="selectedRelationship"
                (change)="changeRelationship($event)"
                name="selectedRelationship"
                >
                <option *ngFor="let row of ngDropdownRelationships">
                    {{ row }}
                </option>
            </select>
        </div>

        <clr-signpost style="width: 400;" *ngIf="selectedRelationship">
            <clr-icon shape="filter"
                style="color: blue; margin-top: -4px;"
                title="Filter the relationships to show less in the dropdown"
                size="12"
                clrSignpostTrigger
                >
            </clr-icon>
            <clr-signpost-content *clrIfOpen
                [clrPosition]="'bottom-middle'">
                <h5 style="margin-top: 0; color:gray;">
                    Filter on relationship for {{ selectedRelationship }}
                </h5>
                <p style="margin-top: 0; color:gray; text-align: left;">
                    Filter the relationships based on the roles used for it.
                    This filter will stay active until 1. it is changed here, or 2. the
                    selected parent node type is changed is changed.
                </p>

                <div class="graphAreaChildFilterFieldTitle">
                    Relationship Role:
                    <select id="selects_3"
                        [(ngModel)]="ngSelectedRelationshipFilterRole"
                        name="ngSelectedRelationshipFilterRole"
                        >
                        <option *ngFor="let row of ngRelationshipRoles">
                            {{ row }}
                        </option>
                    </select>
                </div>

                <div>
                    <div class="btn-group btn-link">
                        <button class="btn" (click)="clickRelationshipFilterClear()">
                            Clear
                        </button>
                        <button class="btn" (click)="clickRelationshipFilterSave()">
                            Save
                        </button>
                    </div>
                    <span class="graphAreaChildFilterErrorMessage">
                        {{ childFilterErrorMessage }}
                    </span>
                </div>

            </clr-signpost-content>
        </clr-signpost>

        <span class="graphAreaBackButton" *ngIf="ngHistory?.length > 1"
            (click)="clickHistoryBack()"
            >
            Back
        </span>

        <div class="graphAreaTitle">
            <div class="errorMessage">
                {{ errorMessage }}
            </div>
            <div class="graphNavigatorBarDivider">
            </div>

            <div class="graphNavigatorBarExplore" *ngIf="showNavBarExplore">
                <button class="btn btn-link"
                    style="float: left; margin-left: 4px; margin-top: -3px;"
                    title="Click to show specific solutions for the current network"
                    (click)="showNavBarExplore=!showNavBarExplore"
                    >
                    Solutions
                </button>

                <!-- Network Summary -->
                <span>
                    <clr-icon
                        shape="router"
                        size="20"
                        style="cursor: pointer; float: left; margin-left: 6px; margin-top: 4px;"
                        [style.color]="selectedView=='SummaryView'?  'blue'  :  'gray'"
                        title="Summary view: overview of Nodes in a network"
                        (click)="clickNetworkSummaryView()"
                        >
                    </clr-icon>
                </span>
                
                <!-- Navigation - nr children shown and jumping -->
                <span style="float: right;" *ngIf="graphLevels>1">
                    <span>
                        <clr-icon *ngIf="isViewsDisabled"
                            shape="step-forward down"
                            size="13"
                            style="cursor: pointer; margin-left: 6px;"
                            title="Move to first page of children"
                            (click)="clickPageFirst()"
                            >
                        </clr-icon>
                    </span>
                    <span>
                        <clr-icon *ngIf="isViewsDisabled"
                            shape="play down"
                            size="13"
                            style="cursor: pointer; margin-left: 6px;"
                            title="Move back one page of children"
                            (click)="clickPageLeft()"
                            >
                        </clr-icon>
                    </span>
                    <span style="font-size: 0.45rem;"
                        title="Children visible / shown"
                        >
                        {{ visibleNumberChildrenStart + 1 }} to {{ +visibleNumberChildrenStart + +visibleNumberChildrenShown }}
                    </span>
                    <span style="cursor: pointer; font-size: 0.45rem;"
                        title="Total number of children; can be changed on the bar menu"
                        >
                        from {{ graphDataLength }}
                    </span>
                    <span>
                        <clr-icon *ngIf="isViewsDisabled"
                            shape="play"
                            size="13"
                            style="cursor: pointer; margin-left: 6px;"
                            title="Move forward one page of children"
                            (click)="clickPageRight()"
                            >
                        </clr-icon>
                    </span>
                    <span>
                        <clr-icon *ngIf="isViewsDisabled"
                            shape="step-forward"
                            size="13"
                            style="cursor: pointer; margin-left: 6px; margin-right: 6px;"
                            title="Move to the last page of children"
                            (click)="clickPageLast()"
                            >
                        </clr-icon>
                    </span>
                </span>

                <!-- Default view = tree view -->
                <span>
                    <clr-icon *ngIf="isViewsDisabled"
                        shape="tree-view"
                        size="20"
                        style="cursor: pointer; float: left; margin-left: 6px; margin-top: 4px;"
                        [style.color]="selectedView=='DefaultView'?  'blue'  :  'gray'"
                        title="Default view: tree of children for the selected parent"
                        (click)="clickDefaultView()"
                        >
                    </clr-icon>
                </span>

                <!-- Additional actions for the Default View -->
                <span *ngIf="selectedView=='DefaultView'  &&  isViewsDisabled">
                    <!-- Children Filter -->
                    <clr-signpost style="margin-left: 8px; width: 400;">
                        <clr-icon shape="filter-grid-circle"
                            size="14"
                            style="cursor: pointer; margin-left: 6px;"
                            title="Filter the list of children"
                            clrSignpostTrigger
                            >
                        </clr-icon>
                        <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Filter on children
                            </h5>
                            <p style="margin-top: 0; color:gray; text-align: left;">
                                The list of children will be filtered.  This filter will stay
                                active until 1. it is changed here, or 2. the selection is changed.
                            </p>
                            <div class="graphAreaChildFilterFieldTitle">
                                Field:
                                <select id="selects_3"
                                    [(ngModel)]="ngChildNodeFilterSelectedFieldName"
                                    name="ngChildNodeFilterSelectedFieldName"
                                    >
                                    <option *ngFor="let row of ngChildNodeFilterDropdown">
                                        {{ row }}
                                    </option>
                                </select>
                            </div>
                            <div class="graphAreaChildFilterOperatorTitle">
                                Operator:
                                <select id="selects_3"
                                    [(ngModel)]="ngChildNodeFilterSelectedOperator"
                                    name="ngChildNodeFilterSelectedOperator"
                                    >
                                    <option>Less Than</option>
                                    <option>Less Than Equal</option>
                                    <option>Equal</option>
                                    <option>Not Equal</option>
                                    <option>Greater Than</option>
                                    <option>Greater Than Equal</option>
                                    <option>Range</option>
                                    <option>One Of</option>
                                    <option>Valid</option>
                                    <option>Selection</option>
                                </select>
                            </div>

                            <div class="graphAreaChildFilterValueTitle">
                                Value:
                                <input type="text"
                                    [(ngModel)]="ngChildNodeFilterSelectedValue"
                                    name="ngChildNodeFilterSelectedValue"
                                    placeholder=""
                                    title="Enter a value for the filter. "
                                    >
                            </div>

                            <div class="graphAreaChildFilterValueTitle">
                                Show top:
                                <input type="text"
                                    [(ngModel)]="ngChildFilterShowTop"
                                    name="ngChildFilterShowTop"
                                    placeholder=""
                                    title="Enter a number"
                                    >
                            </div>
                            <div class="graphAreaChildFilterOperatorTitle">
                                Order by:
                                <select id="selects_3"
                                    [(ngModel)]="ngChildFilterSortFieldName"
                                    name="ngChildFilterSortFieldName"
                                    >
                                    <option>Revenue</option>
                                    <option>Sector</option>
                                </select>
                            </div>

                            <div>
                                <div class="btn-group btn-link">
                                    <button class="btn" (click)="clickChildFilterClear()">
                                        Clear
                                    </button>
                                    <button class="btn" (click)="clickChildFilterSave()">
                                        <span *ngIf="filterID==-1">
                                            Add
                                        </span>
                                        <span *ngIf="filterID!=-1">
                                            Save
                                        </span>
                                    </button>
                                </div>
                                <span class="graphAreaChildFilterErrorMessage">
                                    {{ childFilterErrorMessage }}
                                </span>
                            </div>

                        </clr-signpost-content>
                    </clr-signpost>

                    <!-- Break by additional node level -->
                    <span
                        style="cursor: pointer; font-size: 0.45rem; margin-left: 8px;"
                        [style.color]="showAdditionalLevelForRelationships?  'black'  :  'gray'"
                        [style.font-weight]="showAdditionalLevelForRelationships? 'bold' : 'normal'"
                        title="Add additional level to graph, based on relationship"
                        (click)="clickAdditionalLevelRelationship()"
                        >
                        Relationship
                    </span>
                    <span *ngIf="this.ngRelationshipRoles?.length>0"
                        style="cursor: pointer; font-size: 0.45rem; margin-left: 8px;"
                        [style.color]="showAdditionalLevelForRoles?  'black'  :  'gray'"
                        [style.font-weight]="showAdditionalLevelForRoles? 'bold' : 'normal'"
                        title="Add additional level to graph, based on relationship roles / property"
                        (click)="clickAdditionalLevelRole()"
                        >
                        Role
                    </span>

                    <!-- Additional Properties to show -->
                    <clr-signpost style="margin-left: 8px; width: 400;">
                        <clr-icon shape="ellipsis-horizontal"
                            size="14"
                            style="cursor: pointer; margin-left: 6px;"
                            title="Optional property to show with each child node"
                            clrSignpostTrigger
                            >
                        </clr-icon>
                        <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Additional properties to show per child
                            </h5>
                            <p style="margin-top: 0; color:gray; text-align: left;">
                                Select an optional properties to be shown in brackets
                                at the end of each child.  This will show until
                                1. it is changed here, or 2. the selection is changed.
                            </p>
                            <div class="graphAreaChildFilterFieldTitle">
                                Property:
                                <select id="selects_3"
                                    [(ngModel)]="selectedAdditonalProperty"
                                    name="selectedAdditonalProperty"
                                    >
                                    <option *ngFor="let row of ngNodeProperties; let i = index">
                                        {{ row }}
                                    </option>
                                </select>
                            </div>
                            <div>
                                <button class="btn" (click)="clickAdditionalPropertyClear()">
                                    Clear
                                </button>
                                <button class="btn" (click)="clickAdditionalPropertyShow()">
                                    Show
                                </button>

                            </div>
                        </clr-signpost-content>
                    </clr-signpost>

                    <!-- Full tree for a specific child node type -->
                    <span>
                        <clr-icon shape="share"
                            style="cursor: pointer; margin-left: 8px;"
                            [style.color]="selectedView=='NodeTypeView'?  'blue'  :  'gray'"
                            title="Node type view: show the full tree, restricted to a specific node type"
                            (click)="clickNodeTypeView()"
                            >
                        </clr-icon>
                    </span>
                </span>

            </div>

            <div class="graphNavigatorBarSolution" *ngIf="!showNavBarExplore">
                <button class="btn btn-link"
                    style="float: left; margin-left: 4px; margin-top: -3px;"
                    title="Click to explore a network"
                    (click)="showNavBarExplore=!showNavBarExplore"
                    >
                    Explore
                </button>

                <!-- Commonality between 2 children -->
                <span>
                    <clr-icon *ngIf="isViewsDisabled"
                        shape="vm"
                        size="20"
                        style="cursor: pointer; float: left; margin-left: 6px; margin-top: 4px;"
                        [style.color]="selectedView=='CommonParentView'?  'blue'  :  'gray'"
                        title="Common parent view: show all parents to which any 2 or more children belong"
                        (click)="clickCommonParentShowForm()"
                        >
                    </clr-icon>
                </span>

                <!-- Commonality between any child and specific node -->
                <span>
                    <clr-icon *ngIf="isViewsDisabled"
                        shape="nvme"
                        size="20"
                        style="cursor: pointer; float: left; margin-left: 6px; margin-top: 4px;"
                        [style.color]="selectedView=='CommonNodeView'?  'blue'  :  'gray'"
                        title="Common node view: show all parents to which a child and a specific node belongs"
                        (click)="clickCommonNodeView()"
                        >
                    </clr-icon>
                </span>

                <!-- Distance between a child and specific node -->
                <span>
                    <clr-icon *ngIf="isViewsDisabled"
                        shape="organization"
                        size="20"
                        style="cursor: pointer; float: left; margin-left: 6px; margin-top: 4px;"
                        [style.color]="selectedView=='DistanceView'?  'blue'  :  'gray'"
                        title="Distance view: show all nodes between a child and a specific node"
                        (click)="clickDistanceView()"
                        >
                    </clr-icon>
                </span>

                <!-- Open form for Custom Views -->
                <span>
                    <clr-icon *ngIf="isViewsDisabled"
                        shape="add-text"
                        size="20"
                        style="cursor: pointer; float: left; margin-left: 6px; margin-top: 4px;"
                        [style.color]="selectedView=='CustomView'?  'blue'  :  'gray'"
                        title="Custom view: select a custom view from a popup form"
                        (click)="clickCustomView()"
                        >
                    </clr-icon>
                </span>

            </div>

        </div>
        <br>
        <div>
        </div>
    </div>



    <!-- GRAPH AREA -->
    <div class="graphArea"
        [style.overflow]="'scroll'"
        >
        <div class="graphAreaGraphicContainer">

            <div class="graphAreaGraphic"
                #dragWidget
                >
            </div>

            <div class="graphAreaNote">
                {{ graphNotes }}
            </div>
        </div>
    </div>



    <!-- POPUP FORMS -->

    <!-- Common Parent Selection -->
    <div class="customViewArea" *ngIf="showCommonParent">
        <div class="customViewAreaTitle">
            <b>Common Parent Selection</b>
            <clr-signpost>
                <clr-icon shape="info-circle" style="margin-top: -4px;"
                    clrSignpostTrigger>
                </clr-icon>
                <clr-signpost-content *clrIfOpen
                    [clrPosition]="'bottom-middle'">
                    <h5 style="margin-top: 0; color:gray;">
                        Help
                    </h5>
                    <p style="margin-top: 0; color:gray; text-align: left;">
                        Select two or more nodes from the list below, which was created while 
                        exploring for relationship: {{ selectedRelationship }}, node:
                        {{ selectedParentNode }}.  Then click the Show button below to view 
                        the resultant graph.
                    </p>
                </clr-signpost-content>
            </clr-signpost>
            <div class="customViewAreaClose"
                (click)="clickCloseCommonParentViewPopup()"
                >
                <b>X</b>
            </div>
        </div>

        <div class="customViewAreaText">
            Select two or more nodes from the list below, which was created while 
            exploring for relationship: {{ selectedRelationship }}, node:
            {{ selectedParentNode }}.  Then click the Show button below to view 
            the resultant graph.
        </div>
        <div class="customViewAreaBlock" *ngFor="let row of childDataAll; let i = index"
            >
                <div
                    >
                    {{ row }}
                </div>
        </div>
        <div>
            <button class="btn btn-link" 
                style="margin-top: 2px;"
                (click)="clickCommonParentView()"
                >
                Show
            </button>
        </div>
    </div>











    <!-- Show list of Custom View -->
    <div class="customViewArea" *ngIf="showCustomView">
        <div class="customViewAreaTitle">
            <b>Custom Views</b>
            <clr-signpost>
                <clr-icon shape="info-circle" style="margin-top: -4px;"
                    clrSignpostTrigger>
                </clr-icon>
                <clr-signpost-content *clrIfOpen
                    [clrPosition]="'bottom-middle'">
                    <h5 style="margin-top: 0; color:gray;">
                        Help
                    </h5>
                    <p style="margin-top: 0; color:gray; text-align: left;">
                        Custom view are very specific views that have been developed on request.
                    </p>
                </clr-signpost-content>
            </clr-signpost>
            <div class="customViewAreaClose"
                (click)="clickCloseCustomViewPopup()"
                >
                <b>X</b>
            </div>
        </div>

        <div class="customViewAreaText">
            Select a custom view to show.
        </div>
        <div class="customViewAreaBlock" *ngFor="let row of ngCustomViews; let i = index"
            [style.background-color]="row.id==selectedCustomViewID? 'white'  :  'rgb(235, 232, 232)'"
            [style.border]="row.id==selectedCustomViewID? '2px solid black'  :  '1px solid gray'"
            [style.color]="row.id==selectedCustomViewID? 'black'  :  'darkgray'"
            >
                <div
                    (click)="clickShowCustomView(i, row.id)"
                    >
                    {{ row.name }}
                    {{ row.description}}
                </div>
        </div>
    </div>

    <!-- Show list of Networks -->
    <div class="networkArea" *ngIf="showNetwork">
        <div class="networkAreaTitle">
            <b>Networks</b>
            <clr-signpost>
                <clr-icon shape="info-circle" style="margin-top: -4px;"
                    clrSignpostTrigger>
                </clr-icon>
                <clr-signpost-content *clrIfOpen
                    [clrPosition]="'bottom-middle'">
                    <h5 style="margin-top: 0; color:gray;">
                        Help
                    </h5>
                    <p style="margin-top: 0; color:gray; text-align: left;">
                        A network is a pre-defined web of nodes and relationships.  For example,
                        it can be the relationships between companies, subsidaries,
                        directors (executive and non-executive), shareholders, etc.
                        A company can create more than one network for their data.
                    </p>
                </clr-signpost-content>
            </clr-signpost>
            <div class="networkAreaClose"
                (click)="clickCloseNetworksPopup()"
                >
                <b>X</b>
            </div>
        </div>

        <div class="networkAreaText">
            Select the name of a network to graph by clicking it.  A summary of the network will be
            shown, after which you can select specific nodes and relationships to browse.
        </div>
        <div class="networkAreaBlock" *ngFor="let row of ngNetworks; let i = index"
            [style.background-color]="row.id==selectedNetworkID? 'white'  :  'rgb(235, 232, 232)'"
            [style.border]="row.id==selectedNetworkID? '2px solid black'  :  '1px solid gray'"
            [style.color]="row.id==selectedNetworkID? 'black'  :  'darkgray'"
            >
                <div
                    (click)="clickNetwork(i, row.id)"
                    >
                    {{ row.name }}
                    {{ row.description}}
                </div>
        </div>
    </div>

    <!-- Show list of History / Navigated -->
    <div class="historyArea" *ngIf="showHistory">
        <div class="historyAreaTitle">
            <b>
                Navigated
            </b>
            <clr-signpost>
                <clr-icon shape="info-circle" style="margin-top: -4px;"
                    clrSignpostTrigger>
                </clr-icon>
                <clr-signpost-content *clrIfOpen
                    [clrPosition]="'bottom-middle'">
                    <h5 style="margin-top: 0; color:gray;">
                        Help
                    </h5>
                    <p style="margin-top: 0; color:gray; text-align: left;">
                        A new History row is added with each exploration.  Click on a previous
                        history record to revisit its graph.
                    </p>
                </clr-signpost-content>
            </clr-signpost>
            <div class="historyAreaClose"
                (click)="clickCloseHistoryPopup()"
                >
                <b>X</b>
            </div>
        </div>

        <div class="historyAreaText">
            Select a previously shown graph by clicking it.  Double click the trash icon to
            delete an item from the Navigated list.  Click 
            <button class="btn btn-link" 
                style="margin-top: 2px;"
                (click)="clickClearHistory()"
                >
                Clear
            </button>
            to delete all items from the list below.

        </div>

        <div *ngIf="ngHistory?.length == 0">
            <br>
            No previous history to show
        </div>
        <div class="historyAreaBlock">
            <div class="historyAreaBlockSmall" *ngFor="let row of ngHistory; let i = index"
                [style.background-color]="selectedHistoryID==row.id? 'white'  :  'rgb(235, 232, 232)'"
                [style.border]="selectedHistoryID==row.id? '2px solid black'  :  '1px solid gray'"
                [style.color]="selectedHistoryID==row.id? 'black'  :  'darkgray'"
                (click)="clickSelectHistory(i, row.id)"
                >
                <clr-icon (dblclick)="dblclickDeleteHistory(i, row.id)"
                    shape="trash"
                    size="12"
                    >
                </clr-icon>
                <span
                    (click)="clickSelectHistory(i, row.id)"
                    >
                    {{ row.text }}
                </span>
                <clr-icon (click)="clickHistory(i, row.id)"
                    shape="arrow right"
                    size="12"
                    >
                </clr-icon>
            </div>
        </div>
    </div>

    <!-- Graph Properties -->
    <div class="propertyArea" *ngIf="showGraphProperties">
        <div class="propertyAreaTitle">
            <b>
                Graph Properties
            </b>
            <clr-signpost>
                <clr-icon shape="info-circle" style="margin-top: -4px;"
                    clrSignpostTrigger>
                </clr-icon>
                <clr-signpost-content *clrIfOpen
                    [clrPosition]="'bottom-middle'">
                    <h5 style="margin-top: 0; color:gray;">
                        Help
                    </h5>
                    <p style="margin-top: 0; color:gray; text-align: left;">
                        The properties of the graph can be managed here.
                    </p>
                </clr-signpost-content>
            </clr-signpost>
            <div class="propertyAreaClose"
                (click)="clickCloseGraphPropertiesPopup()"
                >
                <b>X</b>
            </div>
        </div>

        <div class="propertyAreaText">
            Amend the default properties of the graph.
        </div>

        <div class="propertyAreaBlock">
            New Name:
            <input type="text"
                title="Add new name"
                placeholder="New Name"
                >
        </div>
        <div class="propertyAreaBlock">
            Max Nr Children:
            <input [(ngModel)]="visibleNumberChildrenShownInput"
                type="text"
                title="Max Number of children to show"
                placeholder="Max nr children"
                >
        </div>
        <div class="btn-group btn-link">
            <button class="btn" (click)="clickGraphPropertiesCancel()">
                Cancel
            </button>
            <button class="btn" (click)="clickGraphPropertiesSave()">
                Save
            </button>
        </div>

    </div>

    <!-- Graph Notes -->
    <div class="graphNotesArea" *ngIf="showGraphNotes">
        <div class="graphNotesAreaTitle">
            <b>
                Graph Notes
            </b>
            <clr-signpost>
                <clr-icon shape="info-circle" style="margin-top: -4px;"
                    clrSignpostTrigger>
                </clr-icon>
                <clr-signpost-content *clrIfOpen
                    [clrPosition]="'bottom-middle'">
                    <h5 style="margin-top: 0; color:gray;">
                        Help
                    </h5>
                    <p style="margin-top: 0; color:gray; text-align: left;">
                        Additonal notes can be added to the end of the graph.
                    </p>
                </clr-signpost-content>
            </clr-signpost>

            <div class="graphNotesAreaClose"
                (click)="clickCloseGraphNotesPopup()"
                >
                <b>X</b>
            </div>
        </div>

        <div class="graphNotesAreaText">
            Additional notes will be appended at the end of the graph.  Notes that these notes
            Will not export with the image, and merely serve as descriptive information for
            other users.
        </div>

        <div class="graphNotesAreaBlock">
            Note:
            <input [(ngModel)]="graphNotes"
                type="text"
                title="Add new name"
                placeholder="New Name"
                >
        </div>
    </div>

    <!-- Graph Help -->
    <div class="helpForm" *ngIf="showGraphHelp">
        <div class="helpFormHeader">
            <span>
                Graph Help
            </span>
            <span class="helpFormClose"
                (click)="clickCloseHelpPopup()"
                >
                <b>X</b>
            </span>
        </div>
        <div class="helpFormText">
            This widget is used to navigate a network using tree graphs.
            <br>
            <br>
            Select the starting node(s) at the top: click the dropdown to select the node
            type, and then a specific node (or 'All').  For example, select Companies as
            the node type, and Absa as the specific node.  It is possible to filter the list
            of nodes in the dropdown by clicking the filter next to it, to say only show the
            listed companies.
            <br>
            <br>
            Select the relationship(s) to show, for example Directors.  The relationships can
            be filtered on properties by click the filter icon next to it, to show for example
            only Executive Directors.

        </div>

    </div>

</div>
