
/* TOTAL NAVIGATOR */
.totalNavigator {
    overflow: scroll;
}

    .gridErrorMessage {
        color: red;
        font-size: 0.6rem;
        text-align: left;
    }

    .gridNetworkArea {
        /* display: inline-block; */
        float: left;
        font-size: 0.6rem;
        height: 100%;
        text-align: left;
        overflow-y: scroll; 
    }
        .gridNetworkAreaTitle {
            font-size: 0.5rem;
            text-align: left;
        }
        .gridNetworkBlock {
            background-color: lightgray;
        }

    .gridHistoryArea {
        /* display: inline-block; */
        float: left;
        font-size: 0.6rem;
        height: 100%;
        text-align: left;
        margin-left: 8px;
        overflow-y: scroll; 
    }
        .gridHistoryAreaTitle {
            font-size: 0.5rem;
            margin-left: 8px;
            text-align: left;
        }
        .gridHistoryBlock {
            background-color: lightgray;
        }

    .gridGraphArea {
        /* display: inline-block; */
        float: left;
        /* float: right; */
        font-size: 0.6rem;
        height: 100%;
        margin-left: 8px;
        text-align: left;
        overflow: scroll;
    }

        .gridGraphAreaNodeType {
            font-size: 0.6rem;
            text-align: left;
        }

        .gridGraphAreaNodeName {
            font-size: 0.6rem;
            text-align: left;
        }

        .gridGraphAreaFilter {
            font-size: 0.6rem;
            text-align: left;
        }

        .gridGraphAreaGraphic {
            font-size: 0.6rem;
            text-align: left;
        }
