<div class="modal modalBox">
	<div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
		<div class="modal-content modalContent">

            <div class="overall">
                <div class="closeButton">
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
                </div>

                <div class="header0">
                    Delete a Widget

                </div>
                <div class="header1">
                    Select <b>Edit -> Undo</b> on the main menu to retrieve a deleted Widget.
                </div>
                <div class="header2">
                    {{ nrWidgetsSelected }} Widgets were selected for deletion.
                </div>
                <div class="widget">
                    <widget #widgetDOM
                        [widgets]="currentWidgets"
                        [showDataQuality]="showDataQuality"
                        [showComments]="showComments"
                        >
                    </widget>
                </div>

                <div class="header3">
                    Are you sure you want to delete the current Widget?
                </div>
                <button
                    type="button"
                    class="btn btn-secondary deleteButton"
                    (click)="clickDeleteWidget()"
                    >
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

