<div class="modal modalBox">
	<div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
		<div class="modal-content modalContent">

            <div class="overall">
                <div class="closeButton">
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
                </div>
                <p>Image to use:</p>



                <!-- <svg height="100" width="100" >
                    <circle cx="50" cy="50" r="40" stroke="red" stroke-width="1" fill="none" />
                </svg> -->

                <svg width="100%" height="100%">
  
                    <!-- Create mask that we'll use to define a slight gradient -->
                    <mask maskUnits="userSpaceOnUse" id="fade">
                      <!-- Here's that slight gradient -->
                      <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                        <stop offset ="0" style="stop-color: #FFFFFF" />
                        <stop offset ="1" style="stop-color: #000000" />
                      </linearGradient>
                      <!-- The canvas for our mask -->
                      <rect fill="url(#gradient)" width="100%" height="100%" />
                    </mask>
                      
                    <!-- Let's define the pattern -->
                    <!-- The width and height should be double the circle radius we plan to use -->
                    <pattern id="pattern-circles" x="0" y="0" width="40" height="40" patternUnits="userSpaceOnUse">
                      <!-- Now let's draw the circle -->
                      <!-- We're going to define the `fill` in the CSS for flexible use -->
                      <circle mask="url(#fade)" cx="1" cy="1" r="1" />
                    </pattern>
                    <!-- The canvas with our applied pattern -->
                    <rect x="0" y="0" width="100%" height="100%" fill="url(#pattern-circles)" />
                    
                </svg>





                
                




                <p>Canvas:</p>

                Delete a Widget
                <form>
                    <section>
                        <div class="form-group">
                            <label for="selects_4">Are you sure you want to delete the current Widget?</label>
                            <div class="select">
                                <select id="selects_3"
                                    (change)="clickSelectStep($event)"
                                    >
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </div>
                            <button
                                type="button"
                                class="btn btn-secondary"
                                (click)="clickClose('Close')"
                                >
                                Delete
                            </button>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>

