<div class="modal modalBox">
        <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">
                <div modalContent>

                    <div class="gridOverall">
                        <button type="button" class="closeButton" (click)="clickClose()">
                            <b>X</b>
                        </button>

                        <div class="gridTitle">
                            <b>Annotations:</b>
                            <clr-signpost>
                                <clr-icon shape="info-circle"
                                    clrSignpostTrigger>
                                </clr-icon>
                                    <clr-signpost-content *clrIfOpen
                                    [clrPosition]="'bottom-middle'">
                                    <h5 style="margin-top: 0; color:gray;">
                                        Help
                                    </h5>
                                    <p style="margin-top: 0; color:gray;">
                                        Amend the annotation for the selected Widget. When a
                                        Widget has been annotated, a small icon in its title
                                        will indicate this.  Clicking on this icon will show
                                        the annotation text (with an indication of when it was
                                        last edited by whom).  Annotations are optional.
                                        Click the X or press Escape to close this form.
                                    </p>
                                </clr-signpost-content>
                            </clr-signpost>
                        </div>

                        <div class="gridErrorMessage">
                            {{ errorMessage }}
                        </div>
        
                        <div class="gridAnnotationTitle">
                            <b>Annotation:</b>
                        </div>

                        <div class="gridAnnotation">
                            <textarea [(ngModel)]="annotation"
                                rows="5"
                                >
                            </textarea>
                        </div>
                        <div class="gridButtonCancel">
                            <button class="btn btn-secondary textLine"
                                type="button"
                                (click)="clickClose()"
                                >
                                Cancel
                            </button>
                        </div>
                        <div class="gridButtonSave">

                            <button class="btn btn-primary textLine"
                                type="button"
                                (click)="clickSave()"
                                >
                                Save
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
