<div class="modal modalBox">
	<div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
		<div class="modal-content modalContent">


            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose()">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Widget Description</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                        <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                Descriptive detail for the current Widget  The information is
                                read-only, and cannot be changed.
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>

                <!-- SHOWS the DS info to select one -->
                <div class="datasourceMain" *ngIf="showDatasourceMain">

                    <div class="datasourceMainDatasources">
                        Select a <b>Datasources</b> added before, and how it should be visualised:
    
                        <button *ngIf="hasClicked"
                            class="btn btn-sm btn-secondary datasourceButton"
                            (click)="clickContinue()">
                            Continue
                        </button>
    
                        <div class="errorMessage">
                            {{ errorMessage }}
                        </div>
    
                        <div class="datasourceList">
                            {{ errorMessage }}
                            <nav
                                >
                                <div>
                                    <clr-datagrid>
                                        <clr-dg-column >NrWidgets</clr-dg-column>
                                        <clr-dg-column >Name</clr-dg-column>
                                        <clr-dg-column >Description</clr-dg-column>
                                        <clr-dg-row *clrDgItems="let row of currentDatasources; let i = index"
                                            [style.background-color]="(i == selectedRowIndex)? '#123456' : 'white'"
                                            [style.color]="(i == selectedRowIndex)? 'white' : 'gray'"
                                            (click)="clickDSrow(i, row.id)"
                                            >
    
                                            <clr-dg-cell>{{ row.nrWidgets }}</clr-dg-cell>
                                            <clr-dg-cell>{{ row.name }}</clr-dg-cell>
                                            <clr-dg-cell>{{ row.description }}</clr-dg-cell>
                                        </clr-dg-row>
    
                                        <!-- <clr-dg-footer>
                                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                            of {{pagination.totalItems}} rows
                                            <clr-dg-pagination #pagination [clrDgPageSize]="7"></clr-dg-pagination>
                                        </clr-dg-footer> -->
    
                                    </clr-datagrid>
                                </div>
                            </nav>
                        </div>
    
                        <div class="datasourcePreview" *ngIf="hasClicked">
                            <div>
                                <clr-datagrid class="gridIdentifyDataPreviewGrid">
    
                                    <clr-dg-column *ngFor="let row of dataFieldNames">{{row}}</clr-dg-column>
                                    <clr-dg-row *ngFor="let row of currentData">
    
                                        <clr-dg-cell *ngFor="let col of dataFieldNames; let i = index">
                                                {{ row[col] }}
                                        </clr-dg-cell>
                                    </clr-dg-row>
    
                                    <clr-dg-footer>
                                        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                        of {{pagination.totalItems}} rows
                                        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                                    </clr-dg-footer>
    
                                </clr-datagrid>
                            </div>
                        </div>
    
                    </div>
    
                </div>

                <!-- Widget Editor -->
                <div class="editorMain" *ngIf="!showDatasourceMain">

                </div>

            </div>

        </div>
    </div>
</div>