<div class="widgetContainer" *ngFor="let row of widgets; let i = index; let even = even; let odd = odd; 
        let first = first; let last = last" 
    #widgetContainerDOM
    [style.background-color]="row.containerBackgroundColor"
    [style.border]="row.isSelected? '2px solid red' : row.containerBorder"
    [style.box-shadow]="row.containerBoxshadow"
    [style.height.px]="row.containerHeight"
    [style.left.px]="row.containerLeft"
    [style.top.px]="row.containerTop"
    [style.width.px]="row.containerWidth"
    [style.zindex]="row.containerZindex"
    (click)="alert()"
    draggable="true"
    >

    <div class="slicerContainerRightHandle"
        [style.background-color]="row.isSelected? '#929699' : 'red'"
        (mousedown)="clickResizeDown($event, i)"
        (mouseup)="clickResizeUp($event, i)"
        (dragend)="clickResizeUp($event, i)"
        draggable="true"
        >
    </div>


    <div #widgetDOM class="widget">
    </div>
</div>
