<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Expand dataset: </b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                This form expands the Datasource used by the selected Widget
                                by showing all the records.
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>

                <div class="gridErrorMessage">
                    {{ errorMessage }}
                </div>

                <div class="gridSubTitle">
                    <i>
                        Your dataset is <b>Current Budget</b>, which has
                        {{ currentDatasetLength }} rows.
                    </i>
                </div>

                <div class="gridDatagrid">
                    <clr-datagrid>
                        <clr-dg-column *ngFor="let row of datagridColumns">{{ row }}</clr-dg-column>

                        <clr-dg-row *clrDgItems="let row of datagridData">
                            <clr-dg-cell *ngFor="let col of datagridColumns">{{ row[col] }}</clr-dg-cell>
                        </clr-dg-row>
                        <clr-dg-footer>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                            of {{pagination.totalItems}} rows
                            <clr-dg-pagination #pagination [clrDgPageSize]="datagridPaginationSize"></clr-dg-pagination>
                        </clr-dg-footer>
                    </clr-datagrid>
                </div>
            </div>
        </div>
    </div>
</div>
