<div class="modal modalBox">
	<div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
		<div class="modal-content modalContent">

            <div class="gridOverall">
                <div class="closeButton">
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
                </div>

                <div class="colourpicker" *ngIf="colourPickerClosed">
                    <colour-picker
                        [callingRoutine]="callingRoutine"
                        [selectedColor]="selectedColour"
                        >
                    </colour-picker>
                </div>

                <div class="titleHeader">
                    <b>Title properties</b>
                </div>
                <div class="titleText">
                    Text:
                    <input type="text" [(ngModel)]="localWidget.titleText" 
                        placeholder="Title Text"
                        >
                </div>

                <div class="titleBackgroundColourTitle">
                    Bg Colour:
                </div>  
                <div class="select titleBackgroundColour">
                    <select [(ngModel)]="localWidget.titleBackgroundColor"
                        name="titleBackgroundColor"
                        (change)="clickSelectBgColor($event)"
                        >
                        <option *ngFor="let row of backgroundcolors"
                            [style.background-color]="row.name"
                            >
                            {{ row.name }}
                        </option>
                    </select>
                </div>
                <button
                    type="button"
                    class="btn btn-link btn-sm titleBackgroundColourPicker"
                    (click)="clickSelectBgColorPicker()"
                    >
                    Picker
                </button>



                <!-- <div class="titleBorder">
                    Border:
                    <input type="text" [(ngModel)]="localWidget.titleBorder"
                        placeholder="ie 1px solid black"
                        >
                </div> -->

                <div class="titleBorderColorTitle">
                    Border:
                </div>  
                <div class="select titleBorderColor">
                    <select [(ngModel)]="localWidget.titleBorder"
                        (change)="clickSelectBorderColor($event)"
                        name="lineColor"
                        >
                        <option *ngFor="let row of backgroundcolors"
                            [style.background-color]="row.name"
                            >
                            {{ row.name }}
                        </option>
                    </select>
                </div>
                <button
                    type="button"
                    class="btn btn-link btn-sm titleBorderColorPicker"
                    (click)="clickSelectBorderColorPicker()"
                    >
                    Picker
                </button>
                
                <!-- <div class="titleColour">
                    Color:
                    <input type="text" [(ngModel)]="localWidget.titleColor"
                        placeholder="CSS or rgb() color"
                        >
                </div> -->

                <div class="titleColourTitle">
                    Colour:
                </div>  
                <div class="select titleColour">
                    <select [(ngModel)]="localWidget.titleColor"
                        (change)="clickSelectColor($event)"
                        name="lineColor"
                        >
                        <option *ngFor="let row of backgroundcolors"
                            [style.background-color]="row.name"
                            >
                            {{ row.name }}
                        </option>
                    </select>
                </div>
                <button
                    type="button"
                    class="btn btn-link btn-sm titleColourPicker"
                    (click)="clickSelectColorPicker()"
                    >
                    Picker
                </button>




                <div class="titleLeft">
                    Left:
                    <input type="text" [(ngModel)]="localWidget.titleLeft"
                        placeholder="Space at left in px"
                        >
                </div>
                <div class="titleMargin">
                    Margin:
                    <input type="text" [(ngModel)]="localWidget.titleMargin"
                        placeholder="ie 0 0 0 5px"
                        >
                </div>
                <div class="titlePadding">
                    Padding:
                    <input type="text" [(ngModel)]="localWidget.titlePadding"
                        placeholder="ie 0 0 0 5px"
                        >
                </div>
                <div class="titlePosition">
                    Position:
                    <input type="text" [(ngModel)]="localWidget.titlePosition"
                        placeholder="relative or absolute"
                        >
                </div>
                <div class="titleTextAlign">
                    TextAlign:
                    <input type="text" [(ngModel)]="localWidget.titleTextAlign"
                        placeholder="left, center or right"
                        >
                </div>
                <div class="titleTop">
                    Top:
                    <input type="text" [(ngModel)]="localWidget.titleTop"
                        placeholder="ie 0 0 0 5px"
                        >
                </div>
                <div class="titleWidth">
                    Width:
                    <input type="text" [(ngModel)]="localWidget.titleWidth"
                        placeholder="Width as % (0-100)"
                        >
                </div>
            
                <button 
                    type="button"
                    class="btn btn-secondary titleButtonCancel"
                    (click)="clickClose()"
                    >
                    Cancel
                </button>
                <button
                    type="button"
                    class="btn btn-primary titleButtonSave"
                    (click)="clickSave()"
                    >
                    Save
                </button>
            
            
            </div>
        </div>
    </div>
</div>