
/* TOTAL NAVIGATOR */
.totalNavigator {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(26, 1fr);
    margin-bottom: 24px;
    margin-top: -20px;
    overflow: hidden;
}
    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 41;
        /* autoprefixer: off */
        grid-column-end: 42;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-right: 12px;
        text-align: left;
    }



    .customViewArea {
        background-color: beige;
        border: 1px solid black;
        border-radius: 6px;
        font-size: 0.5rem;
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 40;
        grid-row-start: 2;
        grid-row-end: 24;
        height: 100%;
        margin: 18px;
        text-align: left;
        z-index: 102;
    }
        .customViewAreaTitle {
            font-size: 0.6rem;
            margin: 18px;
            text-align: left;
        }
        .customViewAreaClose {
            cursor: pointer;
            float: right;
            margin-right: 12px;
        }
        .customViewAreaText {
            margin: 18px;
        }
        .customViewAreaBlock {
            border-radius: 4px;
            margin: 18px;
        }





    .networkArea {
        background-color: beige;
        border: 1px solid black;
        border-radius: 6px;
        font-size: 0.5rem;
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 40;
        grid-row-start: 2;
        grid-row-end: 24;
        height: 100%;
        margin: 18px;
        text-align: left;
        z-index: 102;
    }
        .networkAreaTitle {
            font-size: 0.6rem;
            margin: 18px;
            text-align: left;
        }
        .networkAreaClose {
            cursor: pointer;
            float: right;
            margin-right: 12px;
        }
        .networkAreaText {
            margin: 18px;
        }
        .networkAreaBlock {
            border-radius: 4px;
            margin: 18px;
            overflow-y: scroll; 
        }

    .historyArea {
        background-color: beige;
        border: 1px solid black;
        border-radius: 6px;
        font-size: 0.5rem;
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 40;
        grid-row-start: 2;
        grid-row-end: 24;
        margin: 12px;
        text-align: left;
        overflow: hidden;
        z-index: 102;
    }
        .historyAreaTitle {
            font-size: 0.6rem;
            margin: 12px;
            text-align: left;
        }
        .historyAreaClose {
            cursor: pointer;
            float: right;
            margin-right: 12px;
        }
        .historyAreaText {
            margin: 12px;
        }
        .historyAreaBlock {
            border-radius: 4px;
            margin: 4px;
            overflow-y: scroll; 
        }
        .historyAreaBlockSmall {
            border-radius: 4px;
            margin: 4px;
        }

    .propertyArea {
        /* display: inline-block; */
        background-color: beige;
        border: 1px solid black;
        border-radius: 6px;
        font-size: 0.5rem;
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 40;
        grid-row-start: 2;
        grid-row-end: 24;
        height: 100%;
        margin: 18px;
        text-align: left;
        z-index: 102;
    }
        .propertyAreaTitle {
            font-size: 0.6rem;
            margin: 18px;
            text-align: left;
        }
        .propertyAreaClose {
            cursor: pointer;
            float: right;
            margin-right: 12px;
        }
        .propertyAreaText {
            margin: 18px;
        }
        .propertyAreaBlock {
            border-radius: 4px;
            margin: 18px;
        }

    .graphNotesArea {
        /* display: inline-block; */
        background-color: beige;
        border: 1px solid black;
        border-radius: 6px;
        font-size: 0.5rem;
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 40;
        grid-row-start: 2;
        grid-row-end: 24;
        height: 100%;
        margin: 18px;
        text-align: left;
        z-index: 102;
    }
        .graphNotesAreaTitle {
            font-size: 0.6rem;
            margin: 18px;
            text-align: left;
        }
        .graphNotesAreaClose {
            cursor: pointer;
            float: right;
            margin-right: 12px;
        }
        .graphNotesAreaText {
            margin: 18px;
        }
        .graphNotesAreaBlock {
            border-radius: 4px;
            margin: 18px;
            overflow-y: scroll; 
        }

    .helpForm {
        /* display: inline-block; */
        background-color: beige;
        border: 1px solid black;
        border-radius: 6px;
        font-size: 0.5rem;
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 40;
        grid-row-start: 2;
        grid-row-end: 24;
        height: 100%;
        margin: 18px;
        text-align: left;
        overflow-y: scroll;
        z-index: 102;
    }
        .helpFormHeader {
            font-size: 0.75rem;
            margin: 18px;
            text-align: center;
        }
        .helpFormClose {
            cursor: pointer;
            float: right;
            font-size: 0.5rem;
            margin-right: 12px;
        }
        .helpFormText {
            font-size: 0.5rem;
            margin: 18px;
        }

    .graphHeaderContainer {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 42;
        grid-row-start: 1;
        grid-row-end: 5;
        text-align: left;
    }

        .graphHeaderText{
            display: inline-block; 
            margin-left: 20px;
            margin-right: 12px;
        }
        .graphHeaderParentNodeType {
            display: inline-block; 
            font-size: 0.5rem;
            margin-left: 12px;
            text-align: left;
            width: 140px;
        }

        .graphHeaderParentNode {
            display: inline-block; 
            font-size: 0.5rem;
            margin-left: 12px;
            text-align: left;
            width: 140px;
        }
            .graphHeaderParentFilterFieldTitle {
                text-align: left;
            }
            .graphHeaderParentFilterOperatorTitle {
                text-align: left;
            }
            .graphHeaderParentFilterValueTitle {
                text-align: left;
            }
            .graphHeaderParentFilterErrorMessage {
                color: red;
                text-align: left;
            }
        
        .graphHeaderMenuText {
            color: blue; 
            float: right; 
            margin-right: 4px;
        }

        .graphHeaderRelationship {
            display: inline-block;
            margin-left: 6px;
            margin-right: 12px;
            width: 135px;
        }
        .gridErrorMessage {
            color: red;
            font-size: 0.5rem;
            text-align: left;
        }


        .graphAreaBackButton {
            cursor: pointer; 
            float: right; 
            margin-left: 36px;
        }
        .graphAreaTitle {
            color: black;
            font-size: 0.58rem;
            text-align: center;
        }
            .errorMessage {
                color: red;
            }
            .graphNavigatorBarDivider {
                border: 1px solid black;
                margin-top: 12px;
            }
            .graphNavigatorBarExplore {
                color: gray;
                margin-bottom: 0px;
                margin-top: 6px;
                text-align: left;
            }
            .graphNavigatorBarSolution {
                color: gray;
                margin-bottom: 0px;
                margin-top: 6px;
                text-align: left;
            }

            .graphAreaChildFilterFieldTitle {
                text-align: left;
            }
            .graphAreaChildFilterErrorMessage {
                color: red;
                text-align: left;
            }



    .graphArea {
        font-size: 0.5rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 42;
        grid-row-start: 7;
        grid-row-end: 26;
        height: 100%;
        margin: 0px 4px 0px 4px;
        text-align: center;
    }

        .graphAreaGraphicContainer {
            margin: 0px;
            padding: 0px;
            text-align: center;
        }

            .graphAreaGraphic {
                font-size: 0.5rem;
                margin-top: 4px;
                text-align: center;
            }

            .graphAreaNote {
                background-color: transparent;
                border: 1px solid lightgray;
                border-radius: 6px; 
                font-size: 0.5rem;
                margin-top: 0px;
                text-align: left;
                z-index: 10;
            }

