<div class="modal modalBox">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">
            <form #f="ngForm" role="form" novalidate>

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose('Close')">
                        <b>X</b>
                    </button>

                    <!-- <div class="colourpicker" *ngIf="colourPickerClosed">
                        <colour-picker
                            [callingRoutine]="callingRoutine"
                            [selectedColor]="selectedColour"
                            >
                        </colour-picker>
                    </div> -->

                    <div class="gridHeading">
                        <b>Add a new Container Style</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    Add a new Container Style, giving it a unique name.  When
                                    creating or editing a Widget container or a text shape, 
                                    select this name to apply the properties defined here to it.
                                    One can also link a Widget permanently to a style: it is applied
                                    (and re-applied) when the Widget is opened. The properties of 
                                    the style will be used, but can still be changed
                                    on the Widget.  This helps ensure that Widgets look the same across
                                    Dashboards, and also helps with bulk changes.
                                    Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>

                    <div class="gridShape"
                        [style.width.px]="300"
                        [style.height.px]="300"
                        [style.background-color]="containerBackgroundcolor"
                        [style.border]="containerBorder"
                        [style.border-radius]="containerBorderRadius"
                        [style.box-shadow]="containerBoxshadow"
                        [style.font-size.px]="containerFontsize"
                        name="shapeText"

                        >
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div 
                            [style.background-color]="containerBackgroundcolor"
                            [style.color]="containerBorderColour"
                            [style.font-style]="shapeIsItalic? 'italic' : 'normal'"
                            [style.font-weight]="shapeIsBold? 'bold' : 'normal'"
                            [style.font-family]="shapeFontFamily"
                            [style.font-size.px]="containerFontsize"
                            [style.line-height]="shapeLineHeight"
                            [style.text-align]="shapeTextAlign"
                            style="display: block; padding: 5px; line-height: 150%;"
                            >
                            Sample Text
                        </div>                        
                    </div>

                    <div class="gridStyleNameTitle">
                        Name:
                    </div>
                    <div class="gridStyleName">
                        <input type="text"
                            placeholder="Name of new Style"
                            [(ngModel)]="containerStyleName"
                            name="containerStyleName"
                            >
                    </div>

                    <div class="gridBackgroundcolorTitle">
                        Bg Colour:
                    </div>
                    <div class="select gridBackgroundcolor">
                        <select [(ngModel)]="containerBackgroundcolorName"
                            name="containerBackgroundcolor"
                            (change)="clickSelectBgColor($event)"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <div class="gridBackgroundcolorIndicator">
                        <clr-icon
                            shape="circle"
                            size="14"
                            [style.background-color]="containerBackgroundcolor"
                            [style.color]="containerBackgroundcolor"
                            >
                        </clr-icon>
                    </div>
                    <!-- <button
                        type="button"
                        class="btn btn-link btn-sm gridBackgroundcolorPicker"
                        (click)="clickSelectBgColorPicker()"
                        >
                        Picker
                    </button> -->

                    <div class="containerBorderColorTitle">
                        Border Colour:
                    </div>
                    <div class="select containerBorderColor">
                        <select [(ngModel)]="containerBorderColourName"
                            (change)="clickSelectBorderColor($event)"
                            name="containerBorderColourName"
                            >
                            <option *ngFor="let row of backgroundcolors"
                                [style.background-color]="row.name"
                                >
                                {{ row.name }}
                            </option>
                        </select>
                    </div>
                    <div class="containerBorderColorIndicator">
                        <clr-icon
                            shape="circle"
                            size="14"
                            [style.background-color]="containerBorderColour"
                            [style.color]="containerBorderColour"
                            >
                        </clr-icon>
                    </div>
                    <!-- <button
                        type="button"
                        class="btn btn-link btn-sm gridLinecolorPicker"
                        (click)="clickSelectLineColorPicker()"
                        >
                        Picker
                    </button> -->

                    <div class="containerBorderSizeTitle">
                        Border Size:
                    </div>
                    <div class="select containerBorderSize">
                        <select [(ngModel)]="containerBorderSize"
                            name="containerBorderSize"
                            (change)="clickSelectBorderSize($event)"
                            >
                            <option>none</option>
                            <option>1px</option>
                            <option>2px</option>
                            <option>3px</option>
                            <option>4px</option>
                        </select>
                    </div>

                    <div class="containerBorderTypeTitle">
                        Type:
                    </div>
                    <div class="select containerBorderType">
                        <select [(ngModel)]="containerBorderType"
                            name="containerBorderType"
                            (change)="clickSelectBorderType($event)"
                            >
                            <option>solid</option>
                            <option>dotted</option>
                        </select>
                    </div>

                    <div class="gridBorderRadiusTitle">
                        Border Radius:
                    </div>
                    <div class="select gridBorderRadius">
                        <select [(ngModel)]="containerBorderRadius"
                            name="containerBorderRadius"
                            (change)="clickSelectBorderRadius($event)"
                            >
                            <option>none</option>
                            <option>1px</option>
                            <option>2px</option>
                            <option>3px</option>
                            <option>4px</option>
                            <option>5px</option>
                            <option>6px</option>
                            <option>7px</option>
                            <option>8px</option>
                            <option>9px</option>
                            <option>10px</option>
                            <option>15px</option>
                            <option>20px</option>
                            <option>50px</option>
                            <option>100px</option>
                        </select>
                    </div>

                    <div class="gridBoxShadowTitle">
                        Box Shadow:
                    </div>
                    <div class="gridBoxShadow">
                        <input [(ngModel)]="containerBoxshadow"
                            type="text"
                            name="containerBoxshadow"
                            placeholder="2px 2px lightgray"
                            >
                    </div>

                    <div class="gridFontSizeTitle">
                        FontSize:
                    </div>
                    <div class="gridFontSize">
                        <input [(ngModel)]="containerFontsize"
                            type="number"
                            name="containerFontsize"
                            #containerFontsizeVar="ngModel"
                            placeholder="4-96 (measured in px)"
                            min="4"
                            max="96"
                            size="5"
                            [style.color]="!containerFontsizeVar.valid ? 'red' : 'gray'"
                            >
                    </div>

                    <div class="gridShapeFontFamilyTitle">
                        Font:
                    </div>
                    <div class="gridShapeFontFamily">
                        <input [(ngModel)]="shapeFontFamily"
                            type="text"
                            name="shapeFontFamily"
                            #shapeFontFamilyVar="ngModel"
                            placeholder="Font, ie Arial, Sans Serif"
                            >
                    </div>

                    <div class="gridTextBold">
                        <b>Bold?:</b>
                        <input type="checkbox"
                            [(ngModel)]="shapeIsBold"
                            name="shapeIsBold"
                            >
                    </div>
                    <div class="gridTextItalic">
                        <b>Italic?:</b>
                        <input type="checkbox"
                            [(ngModel)]="shapeIsItalic"
                            name="shapeIsItalic"
                            >
                    </div>

                    <div class="gridTextAlignTitle">
                        <b>Align:</b>
                    </div>
                    <div class="select gridTextAlign">
                        <select
                            [(ngModel)]="shapeTextAlign"
                            name="shapeTextAlign"
                            (change)="clickSelectTextAlign($event)"
                            >
                            <option>Left</option>
                            <option>Center</option>
                            <option>Right</option>
                        </select>
                    </div>

                    <div class="gridTextLineHeightTitle">
                        <b>Line Height:</b>
                    </div>
                    <div class="gridTextLineHeight">
                        <input type="text"
                            placeholder="Line height: normal, 1.6, 80%"
                            [(ngModel)]="shapeLineHeight"
                            name="shapeLineHeight"
                            >
                    </div>

                    <div class="gridErrorMessage" name="gridErrorMessage">
                        {{ errorMessage }}
                    </div>

                    <div class="gridInfoMessage" name="gridInfoMessage">
                        {{ infoMessage }}
                    </div>

                    <div class="gridButtonCancel">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose()"
                            >
                            Cancel
                        </button>
                    </div>
                    <div class="gridButtonAdd">
                        <button
                            type="button"
                            class="btn btn-primary"
                            (click)="clickAdd()"
                            >
                            Add
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

