<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Dashboard Hyperlink</b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;"> 
                                Hyperink an existing Dashboard to the selected Widget.  This is 
                                useful to jump during presentations.  Select the Dashboard 
                                from the left hand list, and then a Tab inside the Dashboard.
                                Click Link to establish a new link, or Unlink to remove an
                                existing link.  Hyperlinks are shown in the title bar of a Widget
                                with a -> icon.
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>

                <div class="gridErrorMessage">
                    {{ errorMessage }}
                </div>

                <div class="gridTitleDashboards">
                    <b>Dashboards</b>
                </div>
                <div class="gridTitleTabs">
                    <b>Tabs</b>
                </div>
                <div class="gridTitleProperties">
                    <b>Linking</b>
                </div>

                <div class="dashboardList">
                    <clr-datagrid>
                        <clr-dg-column>Name</clr-dg-column>
                        <clr-dg-column>Description</clr-dg-column>

                        <clr-dg-row *ngFor="let row of dashboards; let i = index"
                            [style.background-color]="selectedDashboardIndex==i? '#123456' : 'transparent'"
                            [style.color]="selectedDashboardIndex==i? 'white' : 'gray'"
                            (click)="clickSelectDashboard(i, row.id, row.name)"
                            >
                            <clr-dg-cell>{{row.name}}</clr-dg-cell>
                            <clr-dg-cell>{{row.description}}</clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div>

                <div class="tabList">
                    <clr-datagrid>
                        <clr-dg-column>Name</clr-dg-column>
                        <clr-dg-column>Description</clr-dg-column>

                        <clr-dg-row *ngFor="let row of selectedDashboardTabs; let i = index"
                            [style.background-color]="selectedTabIndex==i? '#123456' : 'transparent'"
                            [style.color]="selectedTabIndex==i? 'white' : 'gray'"
                            (click)="clickSelectTab(i, row.id, row.name)"
                            >
                            <clr-dg-cell>{{row.name}}</clr-dg-cell>
                            <clr-dg-cell>{{row.description}}</clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div>

                <div class="dashboardProperties">

                    <div *ngIf="dashboardIsLinked">

                        <div class="propertyLineHeader">
                            <b>This widget is linked to:</b>
                        </div>

                        <div class="propertyLine">
                            Dashboard: {{ linkedDashboard}}
                        </div>

                        <div class="propertyLine">
                            Tab: {{ linkedTab}}
                        </div>

                        <div class="propertyButton">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                (click)="clickUnlink()"
                                >
                                UnLink
                            </button>
                        </div>
                    <br>
                    </div>

                    <div>

                        <div class="propertyLineHeader">
                            <b>Current selection:</b>
                        </div>

                        <div class="propertyLine">
                            Dashboard: {{ selectedDashboardName }}
                        </div>

                        <div class="propertyLine">
                            Tab: {{ selectedTabName }}
                        </div>

                        <div class="propertyButton">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                (click)="clickLink()"
                                >
                                Link
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
