<div class="modal modalBox">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="overall">

                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    X
                </button>

                <div class="multiTabMenuHeader">Select the Tabs on this Dashboard on which 
                        to show the selected Widget:
                    <div *ngFor="let row of currentTabNames; let i = index" class="multiTabOption">
                        
                        <!-- <clr-checkbox-wrapper [clrChecked]="row.isSelected" -->
                        <input type="checkbox" clrCheckbox [checked]="row.isSelected"
                            [name]="row.name"
                            (click)="clickMultiTabSelect(i, $event)"
                            {{ row.name }}
                            />
                        <!-- </clr-checkbox-wrapper> -->
                    </div>
                    <div>
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickSave()"
                            >
                            Save
                        </button>
                        <div *ngIf="errorMessage" class="errorMessage">
                            At least one tab must be selected
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>