<div class="modal modalBox">
        <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">

                <button type="button" class="closeButton" (click)="clickClose()">
                    X
                </button>

                <div class="gridOverall">

                    <div class="gridHeading">
                        <b>Container settings</b>
                    </div>


                    <div class="gridButtonCancel">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose()"
                            >
                            Cancel
                        </button>
                    </div>
                    <div class="gridButtonSave">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickSave()"
                            >
                            Save
                        </button>
                    </div>

                    <div class="gridShape"
                        [style.width.px]="300"
                        [style.height.px]="300"
                        [style.background-color]="localWidget.containerBackgroundcolor"
                        [style.border]="localWidget.containerBorder"
                        [style.border-radius]="localWidget.containerBorderRadius"
                        [style.box-shadow]="localWidget.containerBoxshadow"
                        [style.font-size.px]="localWidget.containerFontsize"
                        
                        >
                        <br>
                        <br>
                        <br>
                        Text
                        <br>
                        Text
                        <br>
                        Text
                        <br>
                        Text
                        <br>
                        Text
                        <br>
                        Text
                        <br>
                    </div>

                    <div class="gridProperties">

                        <div class="propertyLine">
                            Background Colour:
                            <select
                                [(ngModel)]="localWidget.containerBackgroundcolor"
                                >
                                <option>none</option>
                                <option>DarkRed</option>
                                <option>Black</option>
                                <option>Gray</option>
                                <option>LightGray</option>
                                <option>Green</option>
                                <option>Blue</option>
                                <option>Yellow</option>
                            </select>

                        </div>

                        <div class="propertyLine">
                            Border:
                            <input type="text"
                                placeholder="Border, ie 1px solid black"
                                [(ngModel)]="localWidget.containerBorder"
                                >
                        </div>

                        <div class="propertyLine">
                            Border Radius:
                            <input type="text"
                                placeholder="Corners, ie 3px"
                                [(ngModel)]="localWidget.containerBorderRadius"
                                >
                        </div>

                        <div class="propertyLine">
                            Box Shadow:
                            <input type="text"
                                placeholder="Red"
                                [(ngModel)]="localWidget.containerBoxshadow"
                                >
                        </div>

                        <div class="propertyLine">
                            Font size:
                            <input type="text"
                                placeholder="12"
                                [(ngModel)]="localWidget.containerFontsize"
                                >
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

