.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(16, 0.8rem);
    margin-top: 2px;
}
    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        text-align: left;
    }

    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    } 

    .gridTextMain {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 3;
        grid-row-end: 6;
        margin-left: 20px;
        text-align: left;
    }

    .gridWidgetTemplateNameTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 4;
        grid-row-start: 10;
        grid-row-end: 11;
        margin-left: 20px;
        text-align: left;
    }
    .gridWidgetTemplateName {
        grid-column-start: 4;
        /* autoprefixer: off */
        grid-column-end: 17;
        grid-row-start: 10;
        grid-row-end: 11;
        margin-left: 20px;
        text-align: left;
    }

    .gridWidgetTemplateDescriptionTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 4;
        grid-row-start: 12;
        grid-row-end: 13;
        margin-left: 20px;
        text-align: left;
    }
    .gridWidgetTemplateDescription {
        grid-column-start: 4;
        /* autoprefixer: off */
        grid-column-end: 17;
        grid-row-start: 12;
        grid-row-end: 13;
        margin-left: 20px;
        text-align: left;
    }

    .gridErrorMessage {
        color: red;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 17;
        grid-row-start: 13;
        grid-row-end: 14;
        margin-left: 20px;
        text-align: left;
    }
    
    .gridButtonCancel {
        grid-column-start: 4;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 14;
        grid-row-end: 15;
        margin-left: 20px;
        margin-top: 5px;
        text-align: left;
    }

    .gridButtonSave {
        grid-column-start: 12;
        /* autoprefixer: off */
        grid-column-end: 14;
        grid-row-start: 14;
        grid-row-end: 15;
        margin-left: 20px;
        margin-top: 5px;
        text-align: left;
    }
