<div class="modal modalBox">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose()">
                    <b>X</b>
                </button>
                <div class="gridTitle">
                    <b>Insert new Widget from Templates:</b>
                </div>
                <div class="gridSubTitle">
                    <i>
                        Add the predefined Template as a Widget to the current Dashboard.
                    </i>
                </div>

                <div class="gridTextMain">
                    The changes applied to this Dashboard has been saved to the Draft
                    version (which is currently open).  The original version has been
                    kept unchanged.  These changes (to the Draft version) can now be made
                    visible to other users with the relevant rights by Saving it.  To see
                    who has rights to the Dashboard, see the Dashboards -> Share menu
                    option.
                </div>

                <div class="gridDeleteSnapshotsTitle">
                </div>
                <div class="gridDeleteSnapshots">
                    <input [(ngModel)]="deleteSnapshots"
                        type="text"
                        name="deleteSnapshots"
                        #deleteSnapshotsVar="ngModel"
                        title="Delete Snapshots created during Draft (T/F)"
                        >
                        Template Name with DS name
                </div>

                <div class="gridButtonCancel">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose()"
                        >
                        Cancel
                    </button>
                </div>
                <div class="gridButtonSave">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickSave()"
                        >
                        Save
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
