<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Widget Filter summary: </b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                This form defines the cross filters for the selected Widget.
                                A cross filter defines how another Widgets are filtered when a
                                cell / item in the selected Widget is clicked.
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>

                <div class="gridErrorMessage">
                    {{ errorMessage }}
                </div>

                <div class="gridDataourceTitle">
                    <b>Datasource:</b>
                </div>
                <div class="gridDataource">
                    {{ datasourceDetails }}
                </div>

                <div class="gridMetaDataTitle">
                    <b>Meta Data:</b>
                </div>
                <div class="gridMetaData">
                    {{ selectedWidget.dataFields }}
                </div>

                <div class="gridFilterTable">
                    <clr-datagrid>
                        <clr-dg-placeholder>
                            No records ...
                        </clr-dg-placeholder>
                        <clr-dg-column>Delete</clr-dg-column>
                        <clr-dg-column [clrDgField]="'sourceWidgetField'">Source Field</clr-dg-column>
                        <clr-dg-column [clrDgField]="'targetWidgetTitle'">Target Title</clr-dg-column>
                        <clr-dg-column [clrDgField]="'targetWidgetTitle'">Target Description</clr-dg-column>
                        <clr-dg-column [clrDgField]="'targetWidgetField'">Target Field</clr-dg-column>
                        <clr-dg-row
                            *ngFor="let row of localWidgetFilters; let i = index"
                            [style.background-color]="(i == selectedRowIndex)? '#123456' : 'white'"
                            [style.color]="(i == selectedRowIndex)? 'white' : 'gray'"
                            (click)="clickRow(i)"
                            >
                            <clr-dg-cell>
                                <clr-icon shape="trash"
                                    class="selectIcon1"
                                    size="12"
                                    (dblclick)="clickDelete(i, row.sourceWidgetField, row.targetWidgetField)"
                                    >
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell>{{ row.sourceWidgetField }}</clr-dg-cell>
                            <clr-dg-cell>{{ row.targetWidgetField }}</clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div>

            </div>
        </div>
    </div>
</div>
