.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.closeButton {
    background-color: transparent;
    border: none;
    right: 20;
    position: relative;
    top: 0;
}

.overall {
    display: grid;
    grid-template-columns: repeat(11, 3rem);
    grid-template-rows:  repeat(8, 2rem);
    margin-top: 2px;
}

    .multiTabMenuHeader {
        grid-column-start: 2;
        /* autoprefixer: off */
        grid-column-end: 12;
        grid-row-start: 2;
        grid-row-end: 12;
        text-align: left;
    }

    .multiTabOption {
        grid-column-start: 3;
        /* autoprefixer: off */
        grid-column-end: 12;
        grid-row-start: 4;
        grid-row-end: 12;
        text-align: left;
    }

.errorMessage {
    color: red;
}