<div class="modal modalBox">
        <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">

                <div class="gridOverall">
                    <button type="button" class="closeButton" (click)="clickClose('Close')">
                        <b>X</b>
                    </button>

                    <div class="gridTitle">
                        <b>Widget Description</b>
                        <clr-signpost>
                            <clr-icon shape="info-circle"
                                clrSignpostTrigger>
                            </clr-icon>
                                <clr-signpost-content *clrIfOpen
                                [clrPosition]="'bottom-middle'">
                                <h5 style="margin-top: 0; color:gray;">
                                    Help
                                </h5>
                                <p style="margin-top: 0; color:gray;">
                                    Descriptive detail for the current Widget  The information is
                                    read-only, and cannot be changed.
                                    Click the X or press Escape to close this form.
                                </p>
                            </clr-signpost-content>
                        </clr-signpost>
                    </div>

                    <div class="griDescription">
                        <b>Description:</b>
                        <textarea [(ngModel)]="selectedWidget.description"
                        rows="2"
                        disabled
                        >
                    </textarea>

                    </div>
                        <div class="gridAnnotation">
                            <b>Annotation:</b>
                            <textarea [(ngModel)]="selectedWidget.annotation"
                            rows="2"
                            disabled
                            >
                        </textarea>
                    </div>

                    <div class="gridIsLocked">
                        <b>Is Locked:</b>
                        <input [(ngModel)]="selectedWidget.isLocked"
                            type="checkbox"
                            disabled
                            >
                    </div>
                    <div class="gridIsLiked">
                        <b>Is Liked:</b>
                        <input [(ngModel)]="selectedWidget.isLiked"
                            type="checkbox"
                            disabled
                            >
                    </div>

                    <div class="gridHasCheckpoint">
                        <b>Has Checkpoint:</b>
                        <input [(ngModel)]="selectedWidget.lastCheckpoint"
                            type="checkbox"
                            disabled
                            >
                    </div>

                    <div class="gridLinkedToTitle">
                        <b>Hyperlinked:</b>
                    </div>
                    <div class="select gridLinkedTo">
                        <select id="selects_3"
                            [(ngModel)]="linkedDashboardID"
                            >
                            <option>Economic Overview</option>
                            <option>EU Indices</option>
                        </select>
                    </div>

                    <div class="gridHasTemplate">
                        <b>Has Template:</b>
                        <input [(ngModel)]="hasTemplate"
                            type="checkbox"
                            disabled
                            >
                    </div>
    
                    <div class="gridCreator">
                        <b>Creator:</b>
                        {{ selectedWidget.widgetCreatedBy }}
                    </div>
                    <div class="gridCreated">
                        <b>Created:</b>
                        {{ selectedWidget.widgetCreatedOn }}
                    </div>

                    <div class="gridEditor">
                        <b>Editor:</b>
                        {{ selectedWidget.widgetUpdatedBy }}
                    </div>
                    <div class="gridEdited">
                        <b>Edited:</b>
                        {{ selectedWidget.widgetUpdatedOn }}
                    </div>

                    <div class="gridButtonCancel">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="clickClose('Close')"
                            >
                            Cancel
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
