.closeButton {
    background-color: transparent;
    border: none;
    left: 0;
    position: relative;
    top: 0;
}

.graphArea {
    border: 1px solid gray;
    border-radius: 4px;
    margin: 2rem;
    text-align: center;
}
 
.selectStep {
    border-radius: 4px;
    margin: 10px;
    text-align: center;
}

.propertyLine {
    margin: 5px;
}
