<div class="modal modalBox">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <button type="button" class="closeButton" (click)="clickClose()">
                X
            </button>

            <div class="gridOverall">

                <div class="gridTitle">
                    <b>Widget Checkpoints: </b>
                </div>
                <div class="gridSubTitle">
                    <i>
                            A Checkpoint is saved at a point in time, and shows how the Widget
                            looked then (including filters, colours, etc).  This could be usedful
                            during presentations as the same physical area on the screen can be used
                            to show different graphs, for example drill down into progressively more
                            detail.
                    </i>
                </div>

                <div class="gridCheckpointTitle">
                    <b>Name:</b>
                </div>

                <div class="gridCheckpoint">
                    <input [(ngModel)]="checkpointName"
                        type="text"
                        title="Recipients"
                        size="25"
                        placeholder="Checkpoint Name"
                        >
                </div>

                <div class="gridCheckpointButton">
                    <button
                        type="button"
                        class="btn btn-secondary btn-sm"
                        (click)="clickAdd()"
                        >
                        Add
                    </button>
                </div>

                <!-- <div class="gridCheckpointTable">
                    <ca-datagrid
                        [datagridColumns]="datagridColumns"
                        [datagridData]="datagridData"
                        [datagridPagination]="datagridPagination"
                        [datagridPaginationSize]="datagridPaginationSize"
                        [datagridShowHeader]="datagridShowHeader"
                        [datagridShowRowActionMenu]="datagridShowRowActionMenu"
                        [datagridShowData]="datagridShowData"
                        [datagridShowFooter]="datagridShowFooter"
                        [datagridRowHeight]="datagridRowHeight"
                        [datagriduserCanChangeProperties]="uatagriderCanChangeProperties"
                        [datagridShowTotalsRow]="datagridShowTotalsRow"
                        [datagridShowTotalsCol]="datagridShowTotalsCol"
                        [datagridCanEditInCell]="datagridCanEditInCell"
                        [datagridCanExportData]="datagridCanExportData"
                        >
                    </ca-datagrid> -->

                    <div class="gridCheckpointTable">
                        <clr-datagrid class="datagrid-compact">
                        
                            <!-- Empty Message -->
                            <clr-dg-placeholder>
                                No Checkpoints created as yet 
                            </clr-dg-placeholder>
                        
                            <!-- Headers -->
                            <clr-dg-column>
                                Delete
                            </clr-dg-column>
                            <clr-dg-column *ngFor="let col of datagridColumns; let c = index"
                                [clrDgField]="col.fieldName"
                                >
                                {{ col.displayName }}
                            </clr-dg-column>
                        
                            <!-- Each Row -->
                            <clr-dg-row *clrDgItems="let row of currentWidgetCheckpoint; 
                                let i = index"
                                (click)="clickRow(i)">
                                <clr-dg-cell>
                                    <clr-icon
                                        (click)="clickDeleteCheckpoint(i, row.id)"
                                        shape="trash">
                                    </clr-icon>
                                </clr-dg-cell>
                                <!-- Each Cell -->
                                <clr-dg-cell *ngFor="let col of datagridColumns; let c = index">
                                    {{ row[col.fieldName] }}
                                </clr-dg-cell>
                            </clr-dg-row>
                        
                            <!-- Footer -->
                            <clr-dg-footer>
                                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                of {{pagination.totalItems}} records
                                <clr-dg-pagination 
                                    #pagination 
                                    [clrDgPageSize]="5"
                                    >
                                </clr-dg-pagination>
                            </clr-dg-footer>
                        </clr-datagrid>

                    </div>

                <div class="graphArea" #dragWidget>

                </div>

            </div>

        </div>
    </div>
</div>