<div class="modal modalBox">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <button type="button" class="closeButton" (click)="clickClose()">
                X
            </button>

            <div class="gridOverall">

                <div class="colourpicker" *ngIf="colourPickerClosed">
                    <colour-picker
                        [callingRoutine]="callingRoutine"
                        [selectedColor]="selectedColour"
                        >
                    </colour-picker>
                </div>

                <div class="gridHeading">
                    <b>Container settings</b>
                </div>

                <div class="gridShape"
                    [style.width.px]="300"
                    [style.height.px]="300"
                    [style.background-color]="localWidget.containerBackgroundcolor"
                    [style.border]="localWidget.containerBorder"
                    [style.border-radius]="localWidget.containerBorderRadius"
                    [style.box-shadow]="localWidget.containerBoxshadow"
                    [style.font-size.px]="localWidget.containerFontsize"
                    
                    >
                    <br>
                    <br>
                    <br>
                    Text
                    <br>
                    Text
                    <br>
                    Text
                    <br>
                    Text
                    <br>
                    Text
                    <br>
                    Text
                    <br>
                </div>

                <div class="gridBackgroundcolorTitle">
                    Bg Colour:
                </div>  
                <div class="select gridBackgroundcolor">
                    <select
                        [(ngModel)]="localWidget.containerBackgroundcolor"
                        (change)="clickSelectBgColor($event)"
                        >
                        <option *ngFor="let row of backgroundcolors"
                            [style.background-color]="row.name"
                            >
                            {{ row.name }}
                        </option>
                    </select>
                </div>
                <button
                    type="button"
                    class="btn btn-link btn-sm gridBackgroundcolorPicker"
                    (click)="clickSelectBgColorPicker()"
                    >
                    Picker
                </button>

                <div class="gridLinecolorTitle">
                    Line Colour:
                </div>  
                <div class="select gridLinecolor">
                    <select
                        [(ngModel)]="lineColor"
                        (change)="clickSelectLineColor($event)"
                        >
                        <option *ngFor="let row of backgroundcolors"
                            [style.background-color]="row.name"
                            >
                            {{ row.name }}
                        </option>
                    </select>
                </div>
                <button
                    type="button"
                    class="btn btn-link btn-sm gridLinecolorPicker"
                    (click)="clickSelectLineColorPicker()"
                    >
                    Picker
                </button>

                <div class="gridLineSizeTitle">
                    Line Size:
                </div>  
                <div class="select gridLineSize">
                    <select
                        [(ngModel)]="lineSize"
                        (change)="clickSelectLineSize($event)"
                        >
                        <option>1px</option>
                        <option>2px</option>
                        <option>3px</option>
                        <option>4px</option>
                    </select>
                </div>

                <div class="gridBorderTitle">
                    Border:
                </div>
                <div class="gridBorder">
                    <input type="text"
                        placeholder="Border, ie 1px solid black"
                        [(ngModel)]="localWidget.containerBorder"
                        >
                </div>

                <div class="gridBorderRadiusTitle">
                    Border Radius:
                </div>
                <div class="gridBorderRadius">
                    <input type="text"
                        placeholder="Corners, ie 3px"
                        [(ngModel)]="localWidget.containerBorderRadius"
                        >
                </div>

                <div class="griBoxShadowTitle">
                    Box Shadow:
                </div>
                <div class="griBoxShadow">
                    <input type="text"
                        placeholder="2px 2x lightgray"
                        [(ngModel)]="localWidget.containerBoxshadow"
                        >
                </div>

                <div class="griFontSizeTitle">
                    FontSize:
                </div>
                <div class="griFontSize">
                    <input type="text"
                        placeholder="12"
                        [(ngModel)]="localWidget.containerFontsize"
                        >
                </div>

                <div class="gridButtonCancel">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose()"
                        >
                        Cancel
                    </button>
                </div>
                <div class="gridButtonSave">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickSave()"
                        >
                        Save
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

