<!-- Total Navigator container, which allows scolling inside it.  The external Widget container
dimensions is set in app.html, and cannot be changed here. -->
<!-- [style.width.px]="totalNavigatorWidth" -->
<div class="totalNavigator"
    [style.height.px]="selectedWidget.containerHeight-30"
    [style.width.px]="totalNavigatorWidth"
    >


    <!-- NETWORKS AREA -->
    <!-- Network minimised     -->
    <div class="networkAreaVertical" *ngIf="!showNetworkMax">
        <div>
            <clr-icon (click)="clickNetworkMinMax()"
                shape="circle-arrow right"
                size="14"
                style="color: blue;"
                >
            </clr-icon>
        </div>
        <div class="networkAreaVericaltext">
            <b>Networks</b>
        </div>
    </div>
    <!-- Network maximised -->
    <div class="networkArea" *ngIf="showNetworkMax"
        [style.width.px]="networkAreaWidth"
        >
        <div class="networkAreaTitle">
            <b>
                Networks
            </b>
            <clr-signpost>
                <clr-icon shape="info-circle" style="margin-top: -4px;"
                    clrSignpostTrigger>
                </clr-icon>
                <clr-signpost-content *clrIfOpen
                    [clrPosition]="'bottom-middle'">
                    <h5 style="margin-top: 0; color:gray;">
                        Help
                    </h5>
                    <p style="margin-top: 0; color:gray; text-align: left;">
                        A network is a pre-defined web of relationships.  For example,
                        it can be the relationships between companies, subsidaries,
                        directors (executive and non-executive), shareholders, etc.
                    </p>
                </clr-signpost-content>
            </clr-signpost>
            <clr-icon (click)="clickNetworkMinMax()"
                shape="circle-arrow left"
                size="14"
                style="color: blue; float: right; margin-top: 4px; margin-right: 10px;"
                >
            </clr-icon>
        </div>
        
        <div class="networkAreaBlock" *ngFor="let row of networks; let i = index"
            [style.background-color]="row.isSelected? 'white'  :  'rgb(235, 232, 232)'"
            [style.border]="row.isSelected? '2px solid black'  :  '1px solid gray'"
            [style.color]="row.isSelected? 'black'  :  'darkgray'"
            (click)="clickNetwork(i, row.id)"
            >
            {{ row.name }}
        </div>
    </div>





    <!-- HISTORY AREA -->
    <!-- History minimised     -->
    <div class="historyAreaVertical" *ngIf="!showHistoryMax">
        <div>
            <clr-icon (click)="clickHistoryMinMax()"
                shape="circle-arrow right"
                size="14"
                style="color: blue;"
                >
            </clr-icon>
        </div>
        <div class="historyAreaVericaltext">
            <b>Navigated</b>
        </div>
    </div>
    <!-- History maximised     -->
    <div class="historyArea" *ngIf="showHistoryMax"
        [style.width.px]="historyAreaWidth"
        >
        <div class="historyAreaTitle">
            <b>
                Navigated
            </b>
            <clr-signpost>
                <clr-icon shape="info-circle" style="margin-top: -4px;"
                    clrSignpostTrigger>
                </clr-icon>
                <clr-signpost-content *clrIfOpen
                    [clrPosition]="'bottom-middle'">
                    <h5 style="margin-top: 0; color:gray;">
                        Help
                    </h5>
                    <p style="margin-top: 0; color:gray; text-align: left;">
                        A new History row is added with each exploration.  Click on a previous
                        history record to revisit its graph.
                    </p>
                </clr-signpost-content>
            </clr-signpost>
            <clr-icon (click)="clickHistoryMinMax()"
                shape="circle-arrow left"
                size="14"
                style="color: blue; float: right; margin-top: 4px; margin-right: 10px;"
                >
            </clr-icon>
        </div>
        <div class="historyAreaBlock" *ngFor="let row of history; let i = index"
            [style.background-color]="row.isSelected? 'white'  :  'rgb(235, 232, 232)'"
            [style.border]="row.isSelected? '2px solid black'  :  '1px solid gray'"
            [style.color]="row.isSelected? 'black'  :  'darkgray'"
            >
            <clr-icon (click)="clickDeleteHistory(i, row.id)"
                shape="trash"
                size="12"
                >
            </clr-icon>
            {{ row.text }}
        </div>
    </div>




    <!-- GRAPH Area -->
    <div class="graphArea"
        
        >
        For
        <div class="select graphAreaParentNodeType"
            title="Select a node type to filter on"
            >
            <select [(ngModel)]="selectedNodeType"
                (change)="changeParentNodeType($event)"
                name="filterTimeUnit"
                >
                <option></option>
                <option>Company</option>
                <option>Person</option>
                <option>Day</option>
            </select>
        </div>

        <div *ngIf="watchList"
            title="Click to filter the parent nodes on your wathclist"
            >
            <clr-icon [style.color]="watchListFiltered?  'blue' :  'gray'"
                shape="list"
                size="12"
                (click)="clickFilterOnWatchList()"
                >
            </clr-icon>

        </div>

        <div class="select graphAreaParentNode"
            title="Select a specific node"
            >
            <select [(ngModel)]="selectedNode"
                (change)="changeParentNode($event)"
                name="filterTimeUnit"
                >
                <option></option>
                <option>Absa</option>
                <option>Bidvest</option>
                <option>Capitec</option>
            </select>
        </div>

        <clr-signpost style="width: 400;">
            <clr-icon shape="filter" 
                style="color: blue; margin-top: -4px;"
                size="12"
                clrSignpostTrigger
                >
            </clr-icon>
            <clr-signpost-content *clrIfOpen
                [clrPosition]="'bottom-middle'">
                <h5 style="margin-top: 0; color:gray;">
                    Filter on node type <b>Company</b>
                </h5>
                <p style="margin-top: 0; color:gray; text-align: left;">
                    The dropdown will be reduced by the filter(s) below.  This filter will stay
                    active until 1. it is changed here, or 2. the node type is changed.
                </p>
                <div class="graphAreaParentFilterFieldTitle">
                    Field:
                    <select id="selects_3"
                        [(ngModel)]="filterParentFieldName"
                        (change)="changeParentFilterField($event)"
                        name="filterFieldName"
                        >
                        <option>Age</option>
                        <option>Name</option>
                        <option>BEE Rating</option>
                    </select>
                </div>
                <div class="graphAreaParentFilterOperatorTitle">
                    Operator:
                    <select id="selects_3"
                        [(ngModel)]="filterParentOperator"
                        (change)="changeParentFilterOperator($event)"
                        name="filterOperator"
                        >
                        <option>Less Than</option>
                        <option>Less Than Equal</option>
                        <option>Equal</option>
                        <option>Not Equal</option>
                        <option>Greater Than</option>
                        <option>Greater Than Equal</option>
                        <option>Range</option>
                        <option>One Of</option>
                        <option>Valid</option>
                        <option>Selection</option>
                    </select>
                </div>

                <div class="graphAreaParentFilterValueTitle">
                    Value:
                    <input type="text"
                        [(ngModel)]="filterParentValue"
                        name="filterValue"
                        placeholder=""
                        title="Enter a value for the filter. "
                        >
                </div>

                <div>
                    <div class="btn-group btn-link">
                        <button class="btn" (click)="clickParentFilterClear()">
                            Clear
                        </button>
                        <button class="btn" (click)="clickParentFilterSave()">
                            <span *ngIf="filterID==-1">
                                Add
                            </span>
                            <span *ngIf="filterID!=-1">
                                Save
                            </span>
                        </button>
                    </div>

                    <button class="btn btn-secondary"
                        (click)="clickParentFilterClose()">
                        Close
                    </button>
                    <span class="graphAreaParentFilterErrorMessage">
                        {{ filterErrorMessage }}
                    </span>
                </div>

            </clr-signpost-content>
        </clr-signpost>

        <input type="checkbox" [(ngModel)]="showRoles">

        <clr-dropdown class="graphAreaMenuText">
            <button
                type="button"
                class="btn btn-link btn-sm"
                clrDropdownTrigger
                >
                <clr-icon (click)="clickShowParentFilter()"
                    shape="bars"
                    size="14"
                    >
                </clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
                <button
                    type="button"
                    clrDropdownItem
                    (click)="clickMenuGraphHeight()"
                    title="Adjust the height of the graph"
                    >
                    Graph Height
                </button>
                <button
                    type="button"
                    clrDropdownItem
                    (click)="clickMenuGraphWidth()"
                    title="Adjust the width of the graph"
                    >
                    Graph Width
                </button>
                <button
                    type="button"
                    clrDropdownItem
                    (click)="clickMenuClearHistory()"
                    title="Clear history for current Network"
                    >
                    Clear History
                </button>
                <button
                    type="button"
                    clrDropdownItem
                    (click)="clickMenuExportGraph()"
                    title="Export the current Graph"
                    >
                    Export Graph
                </button>

            </clr-dropdown-menu>
        </clr-dropdown>

        <br>
        show all 
        <div class="select graphAreaRelationship"
            title="Select a node type to filter on"
            >
            <select [(ngModel)]="selectedRelationship"
                (change)="changeRelationship($event)"
                name="filterTimeUnit"
                >
                <option></option>
                <option>Directors</option>
                <option>Shareholders</option>
                <option>Subsidiaries</option>
            </select>
        </div>

        <clr-signpost style="width: 400;">
            <clr-icon shape="filter" 
                style="color: blue; margin-top: -4px;"
                size="12"
                clrSignpostTrigger
                >
            </clr-icon>
            <clr-signpost-content *clrIfOpen
                [clrPosition]="'bottom-middle'">
                <h5 style="margin-top: 0; color:gray;">
                    Filter on children
                </h5>
                <p style="margin-top: 0; color:gray; text-align: left;">
                    The list of children will be filtered.  This filter will stay
                    active until 1. it is changed here, or 2. the selection is changed.
                </p>
                <div class="graphAreaChildFilterFieldTitle">
                    Field:
                    <select id="selects_3"
                        [(ngModel)]="filterChildFieldName"
                        (change)="changeChildFilterField($event)"
                        name="filterFieldName"
                        >
                        <option>Age</option>
                        <option>Name</option>
                        <option>BEE Rating</option>
                    </select>
                </div>
                <div class="graphAreaChildFilterOperatorTitle">
                    Operator:
                    <select id="selects_3"
                        [(ngModel)]="filterChildOperator"
                        (change)="changeChildFilterOperator($event)"
                        name="filterOperator"
                        >
                        <option>Less Than</option>
                        <option>Less Than Equal</option>
                        <option>Equal</option>
                        <option>Not Equal</option>
                        <option>Greater Than</option>
                        <option>Greater Than Equal</option>
                        <option>Range</option>
                        <option>One Of</option>
                        <option>Valid</option>
                        <option>Selection</option>
                    </select>
                </div>

                <div class="graphAreaChildFilterValueTitle">
                    Value:
                    <input type="text"
                        [(ngModel)]="filterChildValue"
                        name="filterValue"
                        placeholder=""
                        title="Enter a value for the filter. "
                        >
                </div>

                <div>
                    <div class="btn-group btn-link">
                        <button class="btn" (click)="clickChildFilterClear()">
                            Clear
                        </button>
                        <button class="btn" (click)="clickChildFilterSave()">
                            <span *ngIf="filterID==-1">
                                Add
                            </span>
                            <span *ngIf="filterID!=-1">
                                Save
                            </span>
                        </button>
                    </div>

                    <button class="btn btn-secondary"
                        (click)="clickChildFilterClose()">
                        Close
                    </button>
                    <span class="graphAreaChildFilterErrorMessage">
                        {{ filterErrorMessage }}
                    </span>
                </div>

            </clr-signpost-content>
        </clr-signpost>

        <div>
            <clr-icon shape="step-forward-2" style="float: right; margin-right: 50px;"></clr-icon>
            <clr-icon shape="step-forward-2 down" style="float: right; margin-right: 12px;"></clr-icon>
        </div>

        <div class="graphAreaTitle">
            {{ graphTitle }}
        </div>
        <br>

        <div class="graphAreaGraphic"
            #dragWidget
            >
        </div>

        <div class="graphAreaNote">
            {{ graphNote }}
        </div>
    </div>

</div>