<div class="widgetContainer" *ngFor="let row of widgets; let i = index; let even = even; let odd = odd; 
        let first = first; let last = last" 
    #widgetContainerDOM
    [style.background-color]="row.containerBackgroundColor"
    [style.border]="row.isSelected? '1px dotted gray' : row.containerBorder"
    [style.box-shadow]="row.containerBoxshadow"
    [style.box-shadow]="row.containerBoxshadow"
    [style.height.px]="row.containerHeight"
    [style.left.px]="row.containerLeft"
    [style.top.px]="row.containerTop"
    [style.width.px]="row.containerWidth"
    [style.zindex]="row.containerZindex"
    (click)="clickWidgetContainer(i)"
    (dragstart)="clickWidgetContainerDragStart($event, i)"
    (dragend)="clickWidgetContainerDragEnd($event, i)"
    draggable="true"
    >
    <span class="badge badge-danger widgetBadge1" title="Data Quality issues">1</span>
    <span class="badge badge-warning widgetBadge2" title="Comments">6</span>

    <div class="slicerContainerTopLeftHandle"
        [style.background-color]="row.isSelected? '#929699' : 'transparent'"
        >
    </div>
    <div class="slicerContainerTopHandle"
        [style.background-color]="row.isSelected? '#929699' : 'transparent'"
        >
    </div>
    <div class="slicerContainerTopRightHandle"
        [style.background-color]="row.isSelected? '#929699' : 'transparent'"
        >
    </div>
    <div class="slicerContainerRightTopHandle"
        [style.background-color]="row.isSelected? '#929699' : 'transparent'"
        >
    </div>
    <div class="slicerContainerRightHandle"
        [style.background-color]="row.isSelected? '#929699' : 'transparent'"
        (mousedown)="clickResizeDown($event, i)"
        (mouseup)="clickResizeUp($event, i)"
        (dragend)="clickResizeUp($event, i)"
        draggable="true"
        >
    </div>
    <div class="slicerContainerRightBottomHandle"
        [style.background-color]="row.isSelected? '#929699' : 'transparent'"
        >
    </div>
    <div class="slicerContainerBottomRightHandle"
        [style.background-color]="row.isSelected? '#929699' : 'transparent'"
        >
    </div>
    <div class="slicerContainerBottomLeftHandle"
        [style.background-color]="row.isSelected? '#929699' : 'transparent'"
        >
    </div>
    <div class="slicerContainerBottomHandle"
        [style.background-color]="row.isSelected? '#929699' : 'transparent'"
        >
    </div>
    <div class="slicerContainerLeftBottomHandle"
        [style.background-color]="row.isSelected? '#929699' : 'transparent'"
        >
    </div>
    <div class="slicerContainerLeftHandle"
        [style.background-color]="row.isSelected? '#929699' : 'transparent'"
        >
    </div>
    <div class="slicerContainerLeftTopHandle"
        [style.background-color]="row.isSelected? '#929699' : 'transparent'"
        >
    </div>







    <div #widgetDOM class="widget"
        [style.zindex]="100"
        (click)="clickWidget(i)"
        >
    </div>
</div>
