<div class="modal modalBox">
	<div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
		<div class="modal-content modalContent">

            <div class="overall">
                <div class="closeButton">
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
                </div>

                Expand dataset
				Note: not avaiable to show more than 100 rows in the browser
                <form>
                    <section>
                        <div class="form-group">
                            <label for="selects_4">Max rows:</label>
                            <div class="select">
                                <select id="selects_3"
                                    (change)="clickSelectStep($event)"
                                    >
                                    <option>Local HP</option>
                                </select>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="form-group">
                            <label for="selects_4">Export:</label>
                            <div class="select">
                                <select id="selects_3"
                                    (change)="clickSelectStep($event)"
                                    >
                                    <option>CSV</option>
                                    <option>Excel</option>
                                </select>
                            </div>
                        </div>
                    </section>
                    <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose('Close')"
                        >
                        Export
                    </button>
                    
                </form>
            </div>
        </div>
    </div>
</div>
