<div class="modal modalBox">
        <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
            <div class="modal-content modalContent">
                <div modalContent>
                    <button type="button" class="closeButton" (click)="clickClose()">
                        X
                    </button>
    
                    <div class="gridOverall">
    
                        <div class="gridTitle">
                            <b>Annotations:</b>
                        </div>
                        <div class="gridSubTitle">
                            <i>
                                Amend the annotation for the selected Widget.  
                                Annotations are optional.
                            </i>
                        </div>
    
                        <div class="gridAnnotationTitle">
                            <b>Annotation:</b>
                        </div>
    
                        <div class="gridAnnotation">
                            <textarea [(ngModel)]="annotation" 
                                rows="5"
                                >
                            </textarea>
                        </div>
                        <div class="gridButtonCancel">
                            <button class="btn btn-secondary textLine"
                                type="button"
                                (click)="clickClose()"
                                >
                                Cancel
                            </button>
                        </div>
                        <div class="gridButtonSave">
                            
                            <button class="btn btn-primary textLine"
                                type="button"
                                (click)="clickSave()"
                                >
                                Save
                            </button>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    