<div class="modal modalBox">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
        <div class="modal-content modalContent">

            <div class="gridOverall">
                <button type="button" class="closeButton" (click)="clickClose('Close')">
                    <b>X</b>
                </button>

                <div class="gridTitle">
                    <b>Export: </b>
                    <clr-signpost>
                        <clr-icon shape="info-circle"
                            clrSignpostTrigger>
                        </clr-icon>
                            <clr-signpost-content *clrIfOpen
                            [clrPosition]="'bottom-middle'">
                            <h5 style="margin-top: 0; color:gray;">
                                Help
                            </h5>
                            <p style="margin-top: 0; color:gray;">
                                This form is used to Export the selected Widget
                                (Graph, Table or Slicer) to a text file.  The data
                                inside the graph is NOT exported.
                                Click the X or press Escape to close this form.
                            </p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>

                <div class="gridErrorMessage">
                    {{ errorMessage }}
                </div>

                <div class="gridHelpMessage">
                    This form is used to Export the selected Widget
                    (Graph, Table or Slicer) to a text file.  The data
                    inside the graph is NOT exported.
                    Click the X or press Escape to close this form.
                </div>

                <div class="gridFileTitle">
                    <b>File Name:</b>
                </div>

                <div class="gridFile">
                    <input [(ngModel)]="fileName"
                        type="text"
                        name="usernameTitle"
                        title="Name of the connection"
                        >
                </div>

                <div class="gridButtonCancel">
                        <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="clickClose('Close')"
                        >
                        Cancel
                    </button>
                </div>

                <div class="gridButtonSave">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="clickExport()"
                        >
                        Export
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


