<div class="modal modalBox">
	<div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
		<div class="modal-content modalContent">
			<div>

                Widget Editor:

                Data from calling component: {{ currentWidgetSpec }}
                <button type="button" (click)="clickClose()">
                    Close
                </button>

                <div class="row">
                    <div class="col-xs-2 gridColumn">
                        <nav
                            id="wrapper"
                            class="sidenav"
                            [style.width.px]="sideNavWidth"
                            [style.min-width.rem]="sideNavMinWidth"
                            >

                            <button
                                class="dropdown-toggle btn btn-link btn-sm"
                                type="button"
                                [style.width.px]="sideNavWidth"
                                >
                                {{ sideNaveButtonText }}
                                <clr-icon shape="caret down"></clr-icon>
                            </button>
                            <section class="sidenav-content">
                                <section class="nav-group">
                                        <ul class="nav-list">
                                            <li>
                                                <a
                                                    class="nav-link"
                                                    (dragend)="showGraphsReal($event)"
                                                    draggable="true"
                                                    id="dragtarget"
                                                    >
                                                    <clr-icon shape="block" class="dimensionField"></clr-icon>
                                                    Trader
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link"
                                                    id="p1"
                                                    draggable="true"
                                                    (dragstart)="dragstart_handler($event)"
                                                    (dragend)="dragend_handler($event)"
                                                    >
                                                    <clr-icon shape="block" class="dimensionField"></clr-icon>
                                                    Country
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link active">
                                                    <clr-icon shape="bolt" class="metricField"></clr-icon>
                                                    Trade Type
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link">
                                                    <clr-icon shape="block" class="dateField"></clr-icon>
                                                    Date
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link">
                                                    <clr-icon shape="block" class="dimensionField"></clr-icon>
                                                    DateTime
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link">
                                                    <clr-icon shape="block" class="dimensionField"></clr-icon>
                                                    Stock
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link">
                                                    <clr-icon shape="bolt" class="metricField"></clr-icon>
                                                    Volume
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link">
                                                    <clr-icon shape="bolt" class="metricField"></clr-icon>
                                                    Trades
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link">
                                                    <clr-icon shape="bolt" class="metricField"></clr-icon>
                                                    Value
                                                </a>
                                            </li>
                                        </ul>
                                    </section>
                            </section>
                        </nav>
                    </div>

                    <div class="col-xs-2">
                        <button class="btn btn-secondary buttonWidget" (click)="clickSwapXY()">
                            Swap X-Y
                        </button>
                        <div
                            class="dropZoneY"
                            id="target" 
                            (drop)="drop_handler($event);" 
                            (dragover)="dragover_handler($event);"
                            >
                            {{ showXdropMessageY }}
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div>
                            <div #dragWidget>
                                <div #visReal>
                                </div>
                            </div>
                        </div>
                        <div
                            class="dropZoneX"
                            id="target" 
                            (drop)="drop_handler($event);" 
                            (dragover)="dragover_handler($event);"
                            >
                            {{ showXdropMessageX }}
                        </div>

                    </div>

                    <div class="col-xs-2">
                        The right hand stuffies
                        <div
                            id="second"
                            >
                            <section class="sidenav-content">
                                <div>
                                    <button class="btn btn-sm"
                                    (click)="showType=!showType"
                                    >Select Type
                                    <clr-icon shape="caret down"></clr-icon>
                                </button>
                                <img class="typeIcon"
                                *ngIf="showTypeIcon"
                                [style.height.px]="30"
                                [style.width.px]="30"
                                    [src]="graphTypeFile"
                                >
                                </div>
                                <div *ngIf="showType">

                                    <img class="typeIcon"
                                    [style.height.px]="30"
                                    [style.width.px]="30"
                                    src="../images/BarChart.png"
                                    (click)="clickIcon('BarChart')"
                                    >
                                    <img
                                    [style.height.px]="30"
                                    [style.width.px]="30"
                                    src="../images/BubbleChart.png"
                                    (click)="clickIcon('BubbleChart')"
                                    >
                                    <img class="typeIcon"
                                    [style.height.px]="30"
                                    [style.width.px]="30"
                                    src="../images/ColumnChart.png"
                                    (click)="clickIcon('ColumnChart')"
                                    >
                                    <img
                                    [style.height.px]="30"
                                    [style.width.px]="30"
                                    src="../images/LineChart.png"
                                    (click)="clickIcon('LineChart')"
                                    >
                                    <img class="typeIcon"
                                    [style.height.px]="30"
                                    [style.width.px]="30"
                                    src="../images/PieChart.png"
                                    (click)="clickIcon('PieChart')"
                                    >
                                    <img
                                    [style.height.px]="30"
                                    [style.width.px]="30"
                                    src="../images/ScatterChart.png"
                                    (click)="clickIcon('ScatterChart')"
                                    >
                                </div>

                                <div *ngIf="showAdvancedField">
                                        <button class="btn btn-sm">type</button>
                                        <button class="btn btn-sm">bin</button>
                                        <button class="btn btn-sm">aggregate</button>
                                        <button class="btn btn-sm">zero</button>
                                        <button class="btn btn-sm">scale</button>

                                </div>
                                <div
                                    class="dropZoneColor"
                                    id="target" 
                                    (drop)="drop_handler($event);" 
                                    (dragover)="dragover_handler($event);"
                                    >
                                    {{ showXdropMessageColor }}
                                </div>
    
                            </section>

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>