.closeButton {
    background-color: transparent;
    border: none;
    left: 0;
    position: relative;
    top: 0;
}

.overall {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(26, 0.8rem);
    margin-top: 2px;
}

    .datasources {
        background-color: white;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 19;
        grid-row-start: 2;
        /* autoprefixer: off */
        grid-row-end: 25;
        margin-bottom: 0;
        padding: 0.7rem;   
        z-index: 100;     
    }

        .errorMessage {
            color: red;
            margin-left: 10px;
        }
        .datasourceList {
            border: 1px solid black;
            display: inline-block;
            height: 375px;
            left: 20px;
            margin: 10px;
            position: absolute;
            top: 105px;
            width: 450px;
        }

        .datasourcePreview{
            border: 1px solid black;
            display: inline-block;
            height: 375px;
            left: 510px;
            margin: 10px;
            position: absolute;
            top: 105px;
            width: 600px;
        }

        .datasourceButton {
            float: right;
        }

    .fieldList {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 4;
        grid-row-start: 2;
        /* autoprefixer: off */
        grid-row-end: 25;
        margin-bottom: 0;
        text-align: center;
    }

    .rowAdvanced {
        background: rgb(231, 230, 230);
        border: 1px solid black;
        grid-column-start: 4;
        /* autoprefixer: off */
        grid-column-end: 10;
        grid-row-start: 4;
        /* autoprefixer: off */
        grid-row-end: 23;
        margin-bottom: 0;
        padding: 5px;
        text-align: left;
        z-index: 100
    }

    .rowField {
        grid-column-start: 4;
        /* autoprefixer: off */
        grid-column-end: 7;
        grid-row-start: 9;
        /* autoprefixer: off */
        grid-row-end: 12;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        text-align: center;
    }

        .rowFieldDropLabel {
            text-align: left;
        }

        .rowFieldDropField {
            border: 2px dotted rgb(98, 98, 153);
            border-radius: 8px;
            height: 2.5em;
            justify-content: center;
            margin: auto;
            text-align: left;
            width: 100%;
        }

        .rowFieldDropButton {
            margin: 0;
            padding: 0;
        }

    .colAdvanced {
        background: rgb(231, 230, 230);
        border: 1px solid black;
        grid-column-start: 10;
        /* autoprefixer: off */
        grid-column-end: 16;
        grid-row-start: 4;
        /* autoprefixer: off */
        grid-row-end: 23;
        margin-bottom: 0;
        padding: 5px;
        text-align: left;
        z-index: 100
    }

    .colField {
        grid-column-start: 10;
        /* autoprefixer: off */
        grid-column-end: 13;
        grid-row-start: 22;
        /* autoprefixer: off */
        grid-row-end: 23;
        margin: 0;
        padding-top: 0.25rem;
        text-align: center;
        width: 90%;
    }

        .colFieldDropLabel {
            text-align: left;
        }

        .colFieldDropField {
            border: 2px dotted rgb(98, 98, 153);
            border-radius: 8px;
            height: 2.5em;
            justify-content: center;
            margin: auto;
            text-align: left;
            width: 100%;
        }

    .colFieldDropButton {
        grid-column-start: 13;
        /* autoprefixer: off */
        grid-column-end: 16;
        grid-row-start: 22;
        /* autoprefixer: off */
        grid-row-end: 23;
        margin: 0;
        padding: 0;
    }

    .hasTitle {
        grid-column-start: 16;
        /* autoprefixer: off */
        grid-column-end: 19;
        grid-row-start: 6;
        /* autoprefixer: off */
        grid-row-end: 7;
        margin: 0;
        padding: 0 0 0 10px;
    }
    .hasContextMenus {
        grid-column-start: 17;
        /* autoprefixer: off */
        grid-column-end: 19;
        grid-row-start: 6;
        /* autoprefixer: off */
        grid-row-end: 7;
        margin: 0;
        padding: 0 0 0 15px;
    }

    .graphArea {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 7;
        /* autoprefixer: off */
        grid-column-end: 16;
        grid-row-start: 2;
        /* autoprefixer: off */
        grid-row-end: 21;
        margin: 5px;
        padding: 5px;
        text-align: center;
    }

    .tableArea {
        background-color: white;
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 7;
        /* autoprefixer: off */
        grid-column-end: 19;
        grid-row-start: 2;
        /* autoprefixer: off */
        grid-row-end: 21;
        margin-bottom: 0;
        text-align: center;
        z-index: 100;     
    }

    .graphType {
        border: 1px solid gray;
        border-radius: 4px;
        grid-column-start: 16;
        /* autoprefixer: off */
        grid-column-end: 19;
        grid-row-start: 7;
        /* autoprefixer: off */
        grid-row-end: 18;
        margin: 10px;
        text-align: center;
    }

        .typeIcon {
            border: 1px solid gray;
            border-radius: 3px;
            margin: 2px;
        }

    .graphTypeMoreMsg {
        grid-column-start: 16;
        /* autoprefixer: off */
        grid-column-end: 19;
        grid-row-start: 19;
        /* autoprefixer: off */
        grid-row-end: 19;
        margin: 15px;
        font-size: 0.4rem;
    }

    .colorAdvanced {
        grid-column-start: 16;
        /* autoprefixer: off */
        grid-column-end: 19;
        grid-row-start: 10;
        /* autoprefixer: off */
        grid-row-end: 18;
        margin-bottom: 0;
        text-align: center;
    }

    .graphColorField {
        grid-column-start: 16;
        /* autoprefixer: off */
        grid-column-end: 19;
        grid-row-start: 2;
        /* autoprefixer: off */
        grid-row-end: 7;
        margin-bottom: 0;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        text-align: center;
    }

    .saveButton {
        grid-column-start: 17;
        /* autoprefixer: off */
        grid-column-end: 18;
        grid-row-start: 22;
        /* autoprefixer: off */
        grid-row-end: 23;
    }

    .presentationNoSave {
        color: red;
        grid-column-start: 16;
        /* autoprefixer: off */
        grid-column-end: 20;
        grid-row-start: 22;
        /* autoprefixer: off */
        grid-row-end: 23;
    }

.sidenav {
    margin: 0 !important;
    padding: 0 !important;
    min-width: 5rem !important;
    border-right: 1px solid black !important;
    width: 100% !important;
}

.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.dropZoneColor {
    border: 2px dotted rgb(98, 98, 153);
    border-radius: 8px;
    height: 2.5em;
    justify-content: center;
    margin: auto;
    text-align: left;
    width: 100%;
}

.popupLabel {
    font-size: .5rem !important;
    margin: 0 0 0 10px !important;
    width: 3rem !important;
}

.popupButton {
    width: 40px;
}

.selectIcon {
    color: rgb(69, 69, 243) !important;
}

.selectedDatasource {
    background-color: lightgray;
}

.datagrid-cell {
    padding: 3px 0 3px 10px !important;
}
