.modalBox {
	background-color: rgba(0,0,0,0.4);
	-shadow: 0 2px 2px 0 lightgray;
}

.errorMessage {
    color: red;
}

.gridOverall {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(12, 1rem);
    margin-top: 2px;
}
    .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        grid-column-start: 21;
        /* autoprefixer: off */
        grid-column-end: 22;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-right: 12px;
        text-align: left;
    }

    .gridTitle {
        font-size: 0.75rem;
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-left: 30px;
        text-align: left;
    }

    .gridAnnotationTitle {
        grid-column-start: 1;
        /* autoprefixer: off */
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-left: 10px;
        text-align: left;

    }
    .gridAnnotation {
        grid-column-start: 3;
        /* autoprefixer: off */
        grid-column-end: 21;
        grid-row-start: 3;
        grid-row-end: 9;
        margin-left: 15px;
        text-align: left;
    }

    .gridButtonCancel {
        grid-column-start: 4;
        /* autoprefixer: off */
        grid-column-end: 6;
        grid-row-start: 10;
        grid-row-end: 11;
        margin: 5px;
    }

    .gridButtonSave {
        grid-column-start: 13;
        /* autoprefixer: off */
        grid-column-end: 15;
        grid-row-start: 10;
        grid-row-end: 11;
        margin: 5px;
    }