/* You can add global styles to this file, and also import other style files */
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";

.datagrid-cell {
    font-size: 90% !important;
    height: 1rem !important;
    margin: 0 !important;
    overflow: hidden;
    padding: 6px 0 2px 15px !important;
    text-align: left;
    text-overflow: ellipsis;
}


